[2017-01-24 15:46] thijstriemstra commented on #898
Im not only seeing this with media element back end.

[2017-01-25 11:58] davidorme opened #928 "Limit playback to part of a file"
I'm working on a project where I want users to be able to create and annotate regions of an audio file. The annotations tool is working fantastically for identifying the regions. I then want to be able to provide a separate page that isolates that region of the audio in a player and provides an interface for commentary.

Ideally, it would be good only to load that region of the file in the first p

[2017-01-25 18:15] tabascoeye opened #930 "possibility to play waveform multiple times on top of each other"
I need multiple instances of wavesurfer which support multiple, overlayed `.play()` calls.
Kind of like the Audio Sprites feature in Howler.js.
But since Howler.js does not have waveforms and I fell in love with the regions plugin of wavesurfer, I wanted to ask if there is possibility for a JS noob (me) to implement an option into a wavesurfer instance so that it is possible to hit `play()` multip

[2017-01-26 03:58] #917 closed

[2017-01-26 09:03] MartinDelille opened #931 "Cannot read property 'length' of undefined"
When setting the zoom to a relatively high value (200 in my case), I have the following error in the console:

[code]

Appart from this log, it works fine so there is no big issue there.

My *wavesurfer.js* version: 1.3.0

[2017-01-26 09:15] katspaugh commented on #930
I think you can simply create several (possibly invisible) instances with the same audio and play them sequentially when pressing the button.

[2017-01-26 09:38] tabascoeye commented on #930
that would be a workaround for now. Ideally I would also want the progress to be shown of each individual play.
Take the audio sprite example of howler.js: https://howlerjs.com/#sprite if you click the "beat" multiple times, each time you click, the sound is played and overlayed on top of the already playing ones and a new progressbar starts running alongside the others.

That would be pretty cool

[2017-01-26 12:17] swampthang commented on #930
tabascoeye, I played around with a loop builder that might have a few nuggets you can use. Personally, I was trying to tie it to a GSAP (animation) timeline but the code should be easy enough to parse through for anything you might be able to use.

It's a single wav file you can drag across to create a loop region, set the number of loops you want and click to reset the loop. The new looped region

[2017-01-26 12:40] tabascoeye commented on #930
@swampthang thanks for the link, but I don't want loops, I want the option to have any wavesurfer instance to overdub itself by doing multiple play events.

[2017-01-26 19:47] swampthang commented on #930
Gotcha. I think that might spur some thoughts on how you can accomplish it. If you look at the code, there is a new instance of wavesurfer created inside each object but the audio file is the same for each instance. Getting and setting params on each individual object should allow you to do anything you want using the regions plugin. Each of those instances (the object named block) also has a refe

[2017-01-27 04:12] Stoyvo opened #932 "partialRender with zoom = broken"
Hey Folks,

Pulled the latest, started using partialRender and WOW big performance boost... but also not working with MultiCanvas.

![image](https://cloud.githubusercontent.com/assets/6148099/22360332/bad40294-e41c-11e6-8e64-9f57fb0bc190.png)

Notice the waveform getting "fuzzy". It's either fuzzy or a solid blank line depending on zoom level.

Config is as follows:

    var WaveSurfer = {

[2017-01-27 04:29] Stoyvo commented on #932
Looks like "normalize" option was causing the issue.

[2017-01-27 11:06] MartinDelille opened #933 "Avoid double resource loading when drawing waveform from a video file"
I have an application that is displaying the video and the audio waveform. Since WaveSurfer handles video file I load the waveform from it which result in loading the video resource two times.

Is there a way to load the waveform from a video element to avoid this waste of bandwith usage?

[2017-01-27 12:40] MartinDelille commented on #931
I'll be happy to help you investigate this issue if you want!

[2017-01-27 15:23] MartinDelille opened #934 "getPlaybackRate() method"
There is a `setPlaybackRate()` but no `getPlaybackRate()` method for the `WaveSurfer` object.

Would it be possible to add it?

[2017-01-27 15:51] entonbiba commented on #934
You can get it directly by calling the following, I'll add a pull request for the method.
`wavesurfer.backend.playbackRate`

[2017-01-27 15:54] MartinDelille commented on #934
Thanks! I just did the PR

[2017-01-27 16:01] entonbiba commented on #934
here is the webaudio.js updated,

https://github.com/katspaugh/wavesurfer.js/compare/master...entonbiba:patch-1

[2017-01-27 17:14] interwap opened #938 "Render Waveform Like Soundcloud."
Hello Katspaugh, great working you got going here with the wavesuferjs plugin. Huge fan!!!

I like way wavesurfer renders the waves tho. Its elegant but is it possible to render the waves like the way soundcloud does. The waveform on soundcloud is bunkers and i really like.

If it's doable, i'd really like to know how using the default wavesurfer.min.js configuration.

Thanks

[2017-01-27 19:14] thijstriemstra commented on #933
@MartinDelille can you show some code that explains this issue, I'm not sure if I understand fully.

[2017-01-27 19:15] thijstriemstra commented on #932
@chrisparton1991 thoughts?

[2017-01-27 19:48] entonbiba commented on #934
you may close this issue as it's fixed with #939 #936

[2017-01-27 20:18] mspae commented on #933
If I understand correctly the browser will cache the file at the first request, so no extra bandwidth usage. (Unless you use different URIs or have weird server config) - maybe check the dev tools to see if it is really being downloaded twice.

[2017-01-27 20:21] mspae commented on #931
Can you post your code? (For example into a codepen)

[2017-01-27 20:34] mspae commented on #928
I can't think of a way of playing/rendering only part of a file. However, the file should not be loaded multiple times once your browser has downloaded it (because of browser cache) – You could even cache the peaks of the decoded file into f.x. `localStorage` and then pass them explicitly to the loading call on any subsequent page loads to speed up rendering.

[2017-01-27 21:10] entonbiba commented on #920
Here you go, something like this will work. I'll create an example soon.
https://github.com/entonbiba/examples/blob/master/wavesurfer/mouse-tooltip-playback-time

[2017-01-27 22:47] thijstriemstra commented on #920
not sure, @katspaugh is there a place for that?

[2017-01-27 23:44] thijstriemstra commented on #934
@entonbiba can you also add this to the documentation (in `gh-pages` branch), e.g. https://wavesurfer-js.org/docs/methods.html?

[2017-01-28 00:34] ToJen commented on #915
@thijstriemstra hi, i meant to say that while I using the `microphone.js` plugin on a mobile device, the waves generated are really thin and appear to be just a line.

I attached a screenshot to the original question above ^^^

[2017-01-28 00:36] thijstriemstra commented on #915
@ToJen what browser? what platform? the waveform looks like room ambient noise, what kind of audio  are you providing in that example?

[2017-01-28 00:47] entonbiba commented on #934
@thijstriemstra updated #940

[2017-01-28 00:49] thijstriemstra commented on #934
thx!

[2017-01-28 01:14] entonbiba commented on #925
@tweed here you go:
http://codepen.io/entonbiba/pen/BpmdRR

[2017-01-28 01:15] ToJen commented on #915
@thijstriemstra on firefox, chrome, safari for android and iOS. I've tested with loud music right in front of the microphone and it only comes up as tiny spikes.

[2017-01-28 01:16] ToJen commented on #915
But the thing is, if you launch mobile view on chrome(desktop), it'll come out looking fine. Try [this](https://wavesurfer-js.org/plugins/microphone.html) and see what I mean.

[2017-01-28 01:17] thijstriemstra commented on #915
@ToJen what device?

[2017-01-28 01:21] ToJen commented on #915
@thijstriemstra do you mean the device i'm testing it on? iPhone 5 and 6, LG l90, samsung galaxy, google nexus, different types

[2017-01-28 01:24] thijstriemstra commented on #915
yep. cool thanks, I'll test and post a screenshot asap.

[2017-01-28 01:25] #934 closed

[2017-01-28 01:26] thijstriemstra commented on #931
@MartinDelille this shouldn't be too hard to reproduce with some example code.

[2017-01-28 02:25] entonbiba commented on #898
@X-Raym @thijstriemstra

When I check the buffer duration value for WebAudio and MediaElement in console they are the same. Might be a bug with `wavesurfer.getCurrentTime()` when using MediaElement as it doesn't update the return value in time.

I fixed it in the following way, but it's in the finish event.
[code]

![image](https://cloud.githubusercontent.com/assets/5193884/22393549/7b130096-e4d6-

[2017-01-28 11:14] ToJen commented on #915
alright, thank you!

[2017-01-28 11:38] X-Raym commented on #898
@thijstriemstra my solution was to ad this at finish event:
wavesurfer.on('finish', function () {
  var position = wavesurfer.getCurrentTime();
  wavesurfer.seekTo(wavesurfer.getDuration()); // Go to end. There is a small jump.
});

But there is a small jump when we do that.

I wonder if a better solution could be found, and if this solution could be included right in wavesurfer.js, especially if

[2017-01-28 19:00] entonbiba commented on #898
@X-Raym It will check if MediaElement is used and use backend.buffer.duration property.
Needs some more testing before updating the mediaelement.js getDuration() function.

[code]

Here is the code for the manual fix:
http://codepen.io/entonbiba/pen/apVaJM

[2017-01-28 19:22] X-Raym commented on #898
@entonbiba this can do the trick, I suppose !

[2017-01-28 19:30] entonbiba commented on #898
#941 pull request

[2017-01-28 19:43] entonbiba commented on #928
@davidorme you can achieve this with php or nodejs.

I would create an api that sends back parts of the audio file based on the parameters that have been requested. It also allows you to use the full audio file without creating multiple files per region.

This saves bandwidth, since it you do extract parts through the browser it will have to download the full audio file. You can use caching but th

[2017-01-28 19:46] mspae commented on #928
I mean it kind of depends on your use case. If a user is only ever interested in 20 seconds and absolutely never in the rest of the audio file then of course it makes sense to split. But if the regions are actually just a kind of zoom-in to a specific highlighted part then maybe not.

[2017-01-28 19:54] entonbiba commented on #617
@taylorvc try using wavesurfer.clearRegions(); instead of wavesurfer.regions.clear();
Can you provide the code giving the error via codepen?

[2017-01-28 19:59] davidorme commented on #928
The file size is somewhat under our control - they're recorded as long (1 hour +) lossless files but we were planning to serve them up as 5 minute chunks without super high quality (current samples are 64 kbps, 24 kHz and about 2.4 Mb).

The use case will typically be that someone loads the whole 5 minute clip and listens to it but then might want to focus in on particular regions - the point is t

[2017-01-28 22:11] entonbiba commented on #810
@JulieMarie I created a sample that displays the labels for you. When I get a chance I'll add it to the official plugin.
http://codepen.io/entonbiba/pen/Bpmqrq

[2017-01-28 22:27] entonbiba commented on #902
@leolabs @ToJen @tptshoe can you provide a codepen sample that is not working in ios? Is this happening with ios 10?

@leolabs How large are the tracks?

[2017-01-28 23:14] entonbiba commented on #745
@yoko10000 what is the value that you are setting for wavesurfer.seekTo(**VALUE**)?

If you are getting the value from an input in the html with jquery for example with $('input').val(), make sure it exists and the value is a valid number. Sometimes when the html or even the audio/video file is not loaded yet, it will return undefined which will cause that error.

[2017-01-29 01:23] thijstriemstra commented on #898
I've seen it with various wavefiles in this [videojs-wavesurfer](https://collab-project.github.io/videojs-wavesurfer/examples/index.html) demo but can't seem to reproduce it now.

[2017-01-29 12:30] jamiegau opened #942 "splitchannel renders flat waveform"
I have been trying to get splitchannel to work without success.  I simply get X number of channels as in the AAC file rendered as a flat line (No waveform).  However, it will still play sound etc as expected...
Under firefox it complains of "The buffer passed to decodeAudioData contains an unknown content type"

I am using AAC for the audio currently.
I am also trying to show 6 channels of audio..

[2017-01-29 13:13] omerts opened #943 "empty + redrawBuffer breaks player with pre-rendered peaks"
Hey,

We have a player we pre-rendered peaks.
We have bounded to the window's resize method, and onresize call:
[code]
This works fine after play has been clicked (aka wavesurfer.play()).
The problem is before play has been clicked, if the window has been resized, it breaks the player, and it doesn't play once play is clicked.

Here is a reproduction example:
http://codepen.io/omerts/pen/EZbBZw

C

[2017-01-29 15:24] JulieMarie commented on #810
Thanks @entonbiba, I'll check it out!

[2017-01-29 20:17] dmongrel commented on #942
Was just about to report this error myself.  I had everything working with one of the January 2016 builds and just switched in the latest 1.3.0.  Seems peak data is being decoded (added some logging to my wavesurfer.js), but when splitchannel is true, it isn't passing the data properly.  Same problem seems to affect the minimap.  Everything seems to work otherwise (regions, playback, etc.), but wi

[2017-01-29 21:21] jamiegau commented on #942
Cool, great the issue is real (And it's not ME).
Any idea how long to address?  It's probably a trivial issue (I hope).  And I don't have time to look at it myself.  I am under the pump.

I also have one suggestion, change I made to the Lib for my use model.
I'll post it in another note.  It is a simple change but a good use model.

Thanks @dmongrel

[2017-01-29 21:32] jamiegau opened #944 "Suggested Improvement, Waveform magnification value."
I made this change myself (It was trivial, but suggest it also be added.)
You can turn on the normalize flag so the waveform-height fills the window.
However, this is based on the amplitude of the audio you are pointing at.

I suggest you also add the ability to set a magnification constant as well.
Ie.  I am showing a few different waveforms on the screen at once.  But I want them to be relative

[2017-01-30 09:10] mspae commented on #942
I think I saw the same Bug while doing the "next" refactor. If I remember correctly the Split Channels issue was caused by an incorrect call to `drawWave`, `drawBars` (Start and End params missing) - the minimal issue is probably related to the Switch to multicanvas renderer (minimal extends the drawer) - probably the Special drawer props are Not being Set (`maxCanvasWidth` etc)

[2017-01-30 09:17] mspae commented on #942
Minimal = minimap :p

[2017-01-30 09:18] mspae commented on #942
If no one does it before me I will open a PR this evening.

[2017-01-30 09:20] mspae commented on #944
Can you post your Code? It's a bit easier to talk about. Thanks!

[2017-01-30 09:25] mspae commented on #895
Will be fixed in next version through Plugin api.

[2017-01-30 13:27] jamiegau commented on #944
Ok,

firstly I added the property
waveHeightScale, default 1...

[code]
Then in the code base where it deals with the normalize parameter and inits the absmax variable default as 1, I change it to init it to the waveHeightScale parameter,  about 3-4 spots.. I have replaced the following line....
[code]

About 5 lines of changed code..  But I hope that makes it clear now..
As I can set the paramete

[2017-01-30 13:34] jamiegau commented on #942
How do I know when this fix has been done and available so I can test it?
Also, would like to see that 5 line change I recommended to allow "Waveform magnification value."
discussed in another topic.

thanks..

[2017-01-30 14:09] mspae commented on #942
@jamiegau whoever does the fix will mention this issue, so the Link will appear here. There will also be a comment once it has been released. Regarding you Feature request: I'm sure there will be feedback in the near future.

[2017-01-30 17:11] entonbiba commented on #928
@davidorme you can also make the api check and generate smaller files if they don't exist based on the parameters, if they do it will send back the available static file instead. Ideally the files should be put into a CDN when generated. This type of setup would save bandwidth and make it fast to load.

[2017-01-30 18:25] mspae commented on #942
Here you go: https://github.com/katspaugh/wavesurfer.js/pull/945

[2017-01-31 02:16] tweed commented on #925
VERY VERY much appreciated!!!  Bet it helps many of us.

[2017-01-31 03:07] joelpresence opened #947 "Uncaught TypeError: Cannot read property 'canvas' of undefined"
We have been using waversurferjs to great success (thanks for this awesome library!).  :-)  However, it suddenly stopped working and we have no idea why.  There were no code changes on our end.  It works when run locally on my laptop, but when I deploy to Heroku, we get the error:

[code]

This was working on Heroku last week, and it just stopped working, with no code changes on our our end.  Howe

[2017-01-31 11:08] deckchairuk opened #948 "Add a comment to Waveform"
Hey there,

I'm looking to build something that would allow commenting on wave forms on a similar fashion to Soundcloud.

I was wondering if there's a method that would let me get the position the user clicks on a waveform/render a marker on page load of this position?

Thanks, Harry.

[2017-01-31 11:31] deckchairuk commented on #948
Have got the click position using the seek event.

Problem I'm having now is it fires 2 seek events so when I add the comment on seek it prompts the user twice.

[2017-01-31 11:50] deckchairuk commented on #948
I've decided to instead go with the comment added just applies to the current position of the song as I can just use the getCurrentTime method.

I now want to add the timestamp to the comments, and when users click the time stamp it seeks to that point in the track. The problem is getCurrentTime returns seconds and the seek method uses the progress from 0 - 1.

Do I have to do (timePlayed / songLe

[2017-01-31 17:50] thijstriemstra commented on #947
@joelpresence did you upgrade wavesurfer.js? What version are you using?

[2017-01-31 18:35] joelpresence commented on #947
Thanks @thijstriemstra .  We are using version 1.2.7.

Any ideas?

[2017-01-31 18:44] thijstriemstra commented on #947
is it maybe something with https?

[2017-01-31 18:46] joelpresence commented on #947
And I just checked the URL that we are giving to wavesurfer - it loads just fine in wavesurfer and I plays independently in other players or in a raw browser window.  It seems to be something with the rendering of peaks on the canvas.  Is there any way for me to test that (turn of wavesurfer rendering and just have playback) to try and narrow it down?  https - maybe, why do you ask?  :-)  Thanks a

[2017-01-31 18:47] thijstriemstra commented on #947
well, the microphone uses getUserMedia which requires https (or localhost), perhaps canvas/pixel manipulation also requires it nowadays, i don't know. Since this is an application issue (most likely Ember) I'm not sure there's much we can do.

[2017-01-31 18:49] joelpresence commented on #947
I just tried both http and https and it fails for both.  We haven't changed our version of Ember or our version of wavesurfer ... Is there any way to test wavesurfer with all use of canvas turned off?  Can you give me some tips where to look and see what's going on with the canvas?  I'm willing to post rendered html if that helps and write up a summary for a wiki if I learn something debugging thi

[2017-01-31 18:54] thijstriemstra commented on #947
I would make sure your system uses unminified versions of libraries like wavesurfer.js so it's easy to see where in wavesurfer.js code the error get's thrown. Place breakpoints and console.log's in that area and try again.

[2017-01-31 18:54] #947 closed

[2017-01-31 18:58] joelpresence commented on #947
Thanks @thijstriemstra .  How can I make sure that our system uses unminified versions of libraries like wavesurfer.js?  I'm not a very experienced JS or Ember dev so any tips are gratefully accepted.  We are using ember-browserify to import wavesurfer as "npm:wavesurfer" since wavesurfer isn't in Ember Observer as a cli dep.

[2017-01-31 19:09] thijstriemstra commented on #947
Check the ember-browserify docs mate :)

[2017-01-31 19:24] chadkoepf opened #949 "wavesurfer destroy method errors on firefox 31.7"
we recently upgraded to wavesurfer 1.3 through npm, and it seems now that the destroy method throws an error "this.ac.close is not a function" when using this ADMITTEDLY extremely old version of firefox.

[2017-01-31 19:51] mspae commented on #949
What version of firefox is it?

[2017-01-31 20:03] chadkoepf commented on #949
31.7

[2017-01-31 20:14] joelpresence commented on #947
OK, I rolled back to a much older version of our code that seems to work on Heroku, so I will try to binary search to find what broke things.

[2017-01-31 21:35] chadkoepf commented on #949
I tried just emptying the div element that the wav resides in.  this fixes the issue in firefox, but then in chrome I reach the max audio context (6) message after opening multiple audio files.  I'd rather not have to check for browser and version and do different things based on that, so I'm hoping someone has an idea of what's going on with the audiocontext, and why firefox doesn't wanna close i

[2017-01-31 22:34] joelpresence opened #950 "Release 1.3.0 causes"
Referencing https://github.com/katspaugh/wavesurfer.js/issues/947 .

Sorry, I don't mean to beat a dead horse, and I'm not trying to lay blame or be argumentative, but we locked down the version of wavesurfer.js to 1.2.8 and it works perfectly, no issues or crashes or anything.  Then, without changing any of our code in any way, if we upgrade wavesurfer.js to 1.3.0 we get the following fatal error

[2017-01-31 22:35] joelpresence commented on #950
And to be clear, I'm worried that others might encounter this issue, that's why I'm posting this ...

[2017-01-31 22:43] joelpresence commented on #950
OK, I just deployed wavesurfer.js 1.3.0 to heroku with `renderer: 'Canvas'` added to the initializer args, and now it works without the crash above.

So wavesurfer.js 1.3.0 with default `MultiCanvas` renderer does *not* seem to work on heroku.  Not sure why ...

I'm happy to help however you need me to, if you want to test patches, etc.

We are using node 6.9.1 and ember 2.9.0.

[2017-02-01 01:36] thijstriemstra commented on #947
does #945 fix it?

[2017-02-01 06:31] dmongrel opened #951 "Minimap draws flat waveform due to old calls to getPeaks and drawPeaks"
The minimap plugin is making calls to old versions of getPeaks and drawPeaks (without start/end values).

I am not setup to have you do a pull request, but it appears the following lines fix the issue in the render() function (original lines commented):

<code>
 render: function () {

        var len = this.getWidth();

        // var peaks = this.wavesurfer.backend.getPeaks(len);

        // this

[2017-02-01 06:49] dmongrel commented on #942
I opened one #951 for the minimap (along with a resolution).  It's basically the same problem that you found here.  Thanks for the fix above!

[2017-02-01 12:03] matt3224 opened #952 "How can I play one song and have 2 waveforms in sync? & safari render issue"
In an app i'm making I need to show the waveform twice in separate pieces of ui. These would need to be in sync, is this possible? I see you allow split channels which is close to what i want but in my case it would be a straight duplicate.

Thanks,

[2017-02-01 13:46] matt3224 opened #953 "Waveform with rounded bars"
![screen shot 2017-02-01 at 13 47 44](https://cloud.githubusercontent.com/assets/2401925/22509237/11beb6aa-e885-11e6-8f01-fc21f67abb90.png)

Hey, I'm working on a project and the design for the waveform is fairly custom, each bar having border-radius/rounded ends and the gaps being larger than that of the demo's.

How would I go about doing this?

Thanks,

[2017-02-01 17:54] mspae commented on #942
great. I'll close this issue then. Thanks for posting!

[2017-02-01 17:54] #942 closed

[2017-02-01 17:56] mspae commented on #923
can we close this?

[2017-02-01 19:34] #923 closed

[2017-02-01 23:49] ToJen commented on #915
@thijstriemstra were you able to see what I was talking about

[2017-02-02 00:34] thijstriemstra commented on #950
lets's release a 1.3.1 that works as expected asap. Some changes were made to the master branch, can you test and see if that fixes your issue @joelpresence?

[2017-02-02 00:35] thijstriemstra commented on #951
@dmongrel can you make a pull request? If you have a github account you can make a PR (even using the browser editor).

[2017-02-02 02:04] joelpresence commented on #950
I can test tomorrow!

Sent from my iPhone

On Feb 1, 2017, at 4:34 PM, Thijs Triemstra <notifications@github.com<mailto:notifications@github.com>> wrote:

lets's release a 1.3.1 that works as expected asap. Some changes were made to the master branch, can you test and see if that fixes your issue @joelpresence<https://github.com/joelpresence>?

-
You are receiving this because you were mentioned.

[2017-02-02 02:04] piem opened #954 "minimap waveform only appears after resizing the window"
hi all, and thank you for the nice work.

I have an issue with minimap, where the waveform only appear after resizing the window. This issue existed in verions before 1.3.0, so I guess it's not related to #951. I still have to find a minimal test case to show it, since the examples work as expected.

cheers, piem

[2017-02-02 02:42] entonbiba commented on #953
@matt3224 something like this?

I'll have to implement this enhancement code with the current WaveSurfer library.

Preview:
http://codepen.io/entonbiba/pen/vgRZwa

Current:
![image](https://cloud.githubusercontent.com/assets/5193884/22534667/8c67951e-e8c3-11e6-89a7-cbcd9c73c109.png)

With barRadius parameter (to be added via pull request)
![image](https://cloud.githubusercontent.com/assets/5193884

[2017-02-02 03:04] entonbiba commented on #954
@piem are you calling `minimap1.render();`?

I made it work with the following:
[code]

[2017-02-02 03:37] entonbiba commented on #948
@deckchairuk are you trying to get the time as in 00:00 ?

You can do the following:
[code]

Here is an example I created that sets the current time played as a tooltip to the cursor.
http://codepen.io/entonbiba/pen/KaymLp

[2017-02-02 08:25] piem commented on #954
hi @entonbiba ,

No, this doesn't seem to be enough. I applied #955, but I'm still seeing this behaviour. It seems that the render function is being called, but too early.

Also, the container parameter has no effect, and the minimap is always created inside the main waveform container.

best, piem

[2017-02-02 10:30] matt3224 commented on #953
Hey @entonbiba thanks for that. I had a little play, http://codepen.io/matt3224/pen/RKMJdp

It looks as though the barWidth property is not behaving correctly now, also is the radius making it truly rounded? It's hard to tell.

Looks good so far though, really appreciate the help!

[2017-02-02 13:07] entonbiba commented on #953
@matt3224 I'll see what else can be done to be make look smoother when the barWidth is larger. However if you make it 7 it should be fine.

http://codepen.io/anon/pen/BprqMm

[2017-02-02 13:24] Sharpek opened #956 "splitChannels not working in 1.3.0 version"
Hello,

In version 1.3.0 splitChannels is flat. Take a look:

http://codepen.io/anon/pen/PWRxNQ

[2017-02-02 14:14] entonbiba commented on #954
@ may you provide the code you are using? The sample below works fine on multiple browsers on my end.

http://codepen.io/entonbiba/pen/ggeGyG

[2017-02-02 14:55] entonbiba commented on #949
@chadkoepf you can do something like this `wavesurfer.backend.ac.close()`. It won't work in IE, only chrome and firefox.

It's the equivalent to AudioContext.close(). The reason you're getting that error is because you're creating more than the allowed AudioContext chrome can handle.

[2017-02-02 15:02] mspae commented on #949
https://github.com/katspaugh/wavesurfer.js/pull/862 related?

[2017-02-02 15:19] chadkoepf commented on #949
The problem is with firefox.  it works fine in chrome and chrome is the only one with the audiocontext max message.  when I do wavesurfer.destroy() everything works fine in chrome, it's the old version of firefox I have to support that causes the error.  My option is to just empty the div instead of destroying the ac which makes it work fine in firefox.  I don't want to check for browser versions

[2017-02-02 15:22] entonbiba commented on #949
@mspae yes,

@chadkoepf ac.close() is not available in that version of FireFox. It was available in version 40.
https://developer.mozilla.org/en-US/docs/Web/API/AudioContext/close
![image](https://cloud.githubusercontent.com/assets/5193884/22555354/748cc02c-e931-11e6-928b-dee395d9e9a7.png)

[2017-02-02 15:22] chadkoepf commented on #949
it looks like #862 is closing the ac in the destroy() method, which might explain why it stopped working all of a sudden.  firefox says .ac.close() is undefined.  Perhaps it's understood by newer browsers, but needs do be instantiated differently to work with older browsers?

[2017-02-02 15:23] chadkoepf commented on #949
so is there  a workaround to manually close the ac in firefox that would also be understood by modern browsers?

[2017-02-02 15:24] entonbiba commented on #949
@chadkoepf for older versions of FireFox check if ac.close is undefined and just empty the div.
For modern browsers it will work, meaning chrome 43+ and firefox 40+ for now.

[2017-02-02 18:09] matt3224 commented on #953
Do you find that setting the bar width makes the gap bigger but not the bar?

[2017-02-02 18:34] entonbiba commented on #953
@matt3224 if I set it to 3 it looks nice, you want the bar a bit bigger when using the radius though right?
http://codepen.io/anon/pen/BprqMm

[2017-02-02 19:51] matt3224 commented on #953
Yeah, I mean I would imagine you could control it much like you would in css, using width, margin and border-radius. That way I could have any width bar with any gap size with either a rounded or flat ends. That would make it very versatile indeed.

Thanks again!

[2017-02-03 00:04] thijstriemstra opened #957 "mediaSession plugin"
"With the brand new Media Session API, you can now customize media notifications by providing metadata for the media your web app is playing. It also allows you to handle media related events such as seeking or track changing which may come from notifications or media keys."

See https://developers.google.com/web/updates/2017/02/media-session

Basically I want to be able to control a wavesurfer.js

[2017-02-03 03:49] Stoyvo opened #958 "WebAudio - Incorrect duration, length, and sampleRate"
Hello,

Not sure if this is a WebAudio issue or with wavesurfer, maybe both. Walk through these steps. Audacity is required (for my tests at least, my file will be provided).

1) Download tests.zip:  [tests.zip](https://github.com/katspaugh/wavesurfer.js/files/749534/tests.zip)
2) Extract tests.zip
3) Load track 1
4) inspect wavesurfer.backend.source.buffer, notice duration, length, sampleRate
5)

[2017-02-03 03:51] entonbiba commented on #957
@thijstriemstra awesome I'll have a go at it with this API

[2017-02-03 06:23] dmongrel commented on #951
@thijstriemstra Thanks for letting me know about this quick editing method of providing fixes.  Still haven't learned everything about GitHub yet.  I created a pull request, hopefully I did it right.

[2017-02-03 06:29] dmongrel commented on #956
@Sharpek see #942, and #945.  These should be fixed now.

[2017-02-03 09:50] Leisors opened #960 "WaveSurfer won't render in my modal window"
As written in the title, I can't figure why the waveform is not rendering in my modal window.
It is rendering in the main page, but that's just not where I need it.
I thought that could have been a problem determined by the modal being hidden (display: none) at the initialization of WaveSurfer, but making it visible from the beginning does not change a thing.
the #waveform div looks correctly fill

[2017-02-03 10:30] mspae commented on #960
can you post your code somewhere? Thanks!

[2017-02-03 10:51] Leisors commented on #960
It really is a lot of code, what exactly are you looking for?
As I have written, I assume the initialization of WaveSurfer has been done correctly (since it runs correctly outside of the modal window)

[2017-02-03 13:47] entonbiba commented on #960
@Leisors post the modal code and the wavesurfer init code.

[2017-02-03 15:29] Leisors commented on #960
Allright, this is the modal's code:

[code]

and this is the wavesurfer-related code

[code]

[2017-02-03 15:58] katspaugh commented on #960
I suspect the issue is that you are rendering the waveform into an invisible container (before the modal window appears). Try either setting the `height` parameter, or initialize wavesurfer.js after the modal window is opened.

[code]

[2017-02-03 16:16] Leisors commented on #960
Shouldn't it have the fillParent parameter default to true?
Setting the height does not change anything, anyway.
I had also tried to wait for the modal to be opened before initializing but made no difference

[2017-02-03 16:23] thijstriemstra commented on #958
Can you try to reproduce this with pure webaudio code?

[2017-02-03 16:28] mspae commented on #960
Is `#waveform` set to something other than the default `display: block;` by any chance?

[2017-02-03 16:32] thijstriemstra commented on #957
Looks like it'll be available in a stable Android Chrome in March. "The Media Session API is supported in Chrome 57 (beta in February 2017, stable in March 2017)."

[2017-02-03 17:24] Leisors commented on #960
It is not :/ Here's the relative part of stylesheet (SCSS)

[code]

"flex-center" is
[code]

[2017-02-04 03:25] entonbiba commented on #957
@thijstriemstra you can download the beta from here on android device.
https://www.google.com/intl/en/chrome/browser/beta.html

[2017-02-04 03:54] entonbiba commented on #960
@Leisors here is a working sample, please provide the mixins for the scss so we can test it properly.
http://codepen.io/entonbiba/pen/EZLJJQ

[2017-02-04 08:43] mspae commented on #960
I added the flex center mixin and the wave ist not shown. If a parent has `display: flex;` the child elements also have a changed `display` property. (http://codepen.io/anon/pen/OWZKmq)

Simply add `#waveform { width: 100%; }` to your code and the waveform should be rendered.

[2017-02-04 11:18] Leisors commented on #960
Oh god, **it works**, I love you guys.
I had never thought about the display property of a flex child, but that actually makes a lot of sense.

Also, I have one last question for you: I have no idea how the html5 canvas works but I _could not adjust dynamically_ (without refreshing the page) the width of the waveform, not even expressing the width in percentage or vw. Is there any way to do that?

[2017-02-04 13:09] thijstriemstra commented on #957
thanks @entonbiba. A friend also mentioned you can use dev tools in chrome on the desktop to simulate/connect a mobile device on the chrome beta.

[2017-02-04 17:00] entonbiba commented on #960
@Leisors here you go, resize the window
http://codepen.io/entonbiba/pen/EZLJJQ

[2017-02-04 17:05] entonbiba commented on #957
@thijstriemstra yes, but you still need an android to test the media session api for now. You can also use ripple emulator or download an android emulator on desktop.

[2017-02-04 17:06] Leisors commented on #960
Shiet, you're awesome.
I have no more questions guys, thanks for this

[2017-02-04 18:04] entonbiba commented on #957
@thijstriemstra ok it's ready, now just needs testing on mobile devices once the API is available on android, iphone and windows.
https://github.com/entonbiba/Media-Session-API-wavesurfer-js

[2017-02-04 18:30] mspae commented on #960
You're welcome!

[2017-02-04 18:30] #960 closed

[2017-02-04 18:46] thijstriemstra commented on #957
@entonbiba awesome. Now if we could wrap it in a plugin.. but I assume you want to test on android first.

[2017-02-04 19:14] entonbiba commented on #957
@thijstriemstra yea I want it to be supported in at least 2 browsers before creating the plugin. Microsoft Edge browser has the status as under construction.
![image](https://cloud.githubusercontent.com/assets/5193884/22620897/fe0cf96c-eae3-11e6-97ac-0bb8e2cb07c1.png)

[2017-02-04 19:55] #949 closed

[2017-02-04 19:57] thijstriemstra commented on #956
thx for the report but it's a duplicate of #942.

[2017-02-04 19:57] #956 closed

[2017-02-04 20:58] leolabs commented on #902
@entonbiba this example works flawless on desktop but on iOS it doesn't play the file after loading: http://codepen.io/leolabs/pen/ZLROOV

The mp3 files are not larger than 3 MB.

[2017-02-04 21:21] entonbiba commented on #953
@matt3224 yea I've made it so if the barRadius parameter is not set, it would result in flat ends. Also you can do something like `barRadius: 5` which would set the radius manually.

http://codepen.io/entonbiba/pen/xgzOqx?editors=0010
![image](https://cloud.githubusercontent.com/assets/5193884/22621564/904e46cc-eaf4-11e6-81b1-3e96f9559a2f.png)

[2017-02-04 21:38] entonbiba commented on #902
@leolabs here you go, now works on iphone.
http://codepen.io/entonbiba/pen/WRyxga

[2017-02-04 22:23] leolabs commented on #902
@entonbiba thank you! 😊

[2017-02-05 07:04] tweed commented on #925
I have enjoyed the Volume Slider - now I'm trying to find a way to modify the code from the link above to get the slider to reflect the correct position when i set DEFAULT VOLUME with this:

`wavesurfer.setVolume(0.4);`

REALLY hoping to some help with this - it's FANTASTIC to have the slider - and as i set a default volume to be much less than 100% loud - hoping to have the slider not show 100% f

[2017-02-05 08:24] mspae commented on #925
Check the code for the zoom slider in the examples.

[2017-02-05 10:45] dmongrel commented on #951
Fixed in PR #959

[2017-02-05 10:45] #951 closed

[2017-02-05 13:12] leonardorame opened #965 "Microphone Plugin - Please add an audioprocess event"
It would be really nice to monitor the position in time passed since recording started, somethin like the audioprocess event of WaveSurfer, but for the microphone plugin.

[2017-02-05 19:27] tweed commented on #925
THANK YOU
i am looking at this part
`var slider = document.querySelector('#slider');

slider.oninput = function () {
  var zoomLevel = Number(slider.value);
  wavesurfer.zoom(zoomLevel);
};`

AND now i will try to change this part of the code i am currently using that does NOT show correct default volume in slider position - THIS is the last half of script that works, YET doesn't show default volu

[2017-02-06 11:09] GianlucaCal opened #967 "Bad zooming performance when using timeline plugin"
Hi,

I'm experiencing some problems with huge audio files (I'm talking about a 24 hours mp3s, 256kbit/s with a sample rate of 48000 Hz ).
I'm able to visualize the whole waveform with prerendered peaks generated server-side but there are several other major problems:

-the timeline is messed up and impossible to read

-as soon as I zoom-in the browser collapse and the process of zoom-in is insanel

[2017-02-06 11:13] katspaugh commented on #967
Have you tried with the new `partialRender` parameter from #909?

[2017-02-06 11:15] GianlucaCal commented on #967
yes it's in my wavesurfer options

[2017-02-06 11:15] katspaugh commented on #967
Ah, true, sorry 😅

[2017-02-06 11:33] mspae commented on #967
@katspaugh maybe we can debounce the zoom callback for some quick perf optim

[2017-02-06 12:39] katspaugh commented on #967
Debouncing should probably be on the app side, wrapping the slider UI event.

[2017-02-06 16:23] GianlucaCal commented on #967
how can I accomplish this?

[2017-02-06 16:29] katspaugh commented on #967
Libraries like underscore.js or lodash.js have a debounce function.

Assuming your code looks like this:
[code]

You need to turn it into
[code]

[2017-02-06 17:07] GianlucaCal commented on #967
My code looks exactly like the one you showed but still the fix doesnt work, I mean now Chrome doesnt crash anymore when I zoom, but the zoom slider is not usable, it takes pretty much 1 minute to move the slider...In relation to that I have a question: does the zoom recalulate the peaks everytime I use it even if I have pre-rendered peaks?

[2017-02-06 17:29] entonbiba commented on #915
@ToJen you can make it responsive with the following for now.

[code]

[2017-02-06 22:12] thijstriemstra commented on #965
Wait, 'recording started'? When does it record? can you make a PR?

[2017-02-06 23:12] leonardorame commented on #965
Well, I'm talking about the microphone plugin. Should I say when the microphone started playing?.

I cannot make a PR, because I don't know the code, but I think this should be pretty simple for you.

[2017-02-06 23:23] thijstriemstra commented on #965
I guess you mean as soon as the visualization starts, you want to receive an event continuously, until the visualization is stopped. I could add this but I'm not sure if it's worth the overhead to send an event every time, I think it would decrease performance. What you could do is trigger the event yourself by redefining the `reloadBuffer` function that now looks like this:

[code]

You can redef

[2017-02-06 23:28] leonardorame commented on #965
Great!, I'll try it.

[2017-02-07 01:47] ToJen commented on #915
Hello @entonbiba,

Thanks but the waveform still remains really thin on mobile view even after using that.

[2017-02-07 02:42] entonbiba commented on #915
@ToJen try adding `height: 256` and `barWidth: 10` to wavesurfer.init.

[2017-02-07 03:23] ToJen commented on #915
@entonbiba thanks, `height` increases the height of the `waveform` div but not the actual waves. Do you see what I mean?

Thanks again.

[2017-02-07 04:29] thijstriemstra commented on #915
I couldn't reproduce it on Android 6 using latest Firefox. Loud speech or music brings the microphone waveform at around 90% of the waveform div.

[2017-02-07 04:31] Stoyvo commented on #958
I have made a bug report here: https://bugs.chromium.org/p/chromium/issues/detail?id=689334

With the issue standing, the use of regions are rendered as useless :( Thankfully it works on firefox?

[2017-02-07 04:33] thijstriemstra commented on #958
Is it better on OSX or Linux?

[2017-02-07 05:12] Stoyvo commented on #958
I have only tried Windows 10 + Chrome 56.

[2017-02-07 10:55] ToJen commented on #915
@thijstriemstra hmm yes, it looks good on the mobile view of browsers but on an actual phone it shrinks to a very thin line. I also thought it was working perfectly when I tested different screen sizes in Chrome's dev mode but after testing on the real phones it turned out differently.

Would the `zoom` function do anything to help?

[2017-02-07 13:34] lovetann opened #969 "Problem with splitChannels"
I try to set splitChannels = true to see both channels in my audio files, but I only see flat lines. This example shows what I am after: https://wavesurfer-js.org/examples/

How do I go about to achieve this?

Here is what I've tried:
[code]

[2017-02-07 16:55] mspae commented on #969
Have you tried it with version 1.3.1?

[2017-02-07 19:38] entonbiba commented on #915
@ToJen there is parameter called barWidth, try changing that to like 10 or something and see what happens? The microphone plugin might require a custom parameter to allow for larger waveform bar heights.

[2017-02-07 22:37] SeanBannister commented on #676
For anyone else interesting in this here's a few things to consider...

Streaming
 - WebAudio won't play the song until it's completely downloaded because it grabs the audio file using XHR.
 - MediaElement will start playing the audio as soon as it starts to buffer because it uses the <audio> element.

CORS
- WebAudio uses an XHR request to grab the audio data, this means a CORS header needs to be

[2017-02-07 22:42] entonbiba opened #970 "default mp3 from archive.org is offline,"
@katspaugh @thijstriemstra it seems the audio source that is used on the plugins is offline and not found.

https://ia902606.us.archive.org/35/items/shortpoetry_047_librivox/song_cjrg_teasdale_64kb.mp3

![image](https://cloud.githubusercontent.com/assets/5193884/22714943/d10a89a4-ed5c-11e6-9f39-50c03b3d02ac.png)

Here are three other samples we can use. Let me know if you're ok with them.

`demo.w

[2017-02-07 23:29] ToJen commented on #915
@entonbiba hey, i did that yesterday and it increases the width but i think for design consistency i may have to use a curved waveform

[2017-02-08 01:05] pedronmarques opened #971 "How can I have the soundwave for my audio file upload gradually rather than wait for the upload bar to finish?"
How can I have the soundwave for my audio file upload gradually rather than wait for the upload bar to finish?
As is I have to wait until the upload bar (see images below) finishes for the soundwave to appear and being able to play.
Possibly I would like to have the soundwave form as it uploads.
I'm linking to a 1hour long mp3 hosted on Archive.org

<img width="697" alt="screen shot 2017-02-07 at

[2017-02-08 01:55] X-Raym commented on #676
@SeanBannister nice recap of the two methods. :)

[2017-02-08 02:52] entonbiba commented on #971
@pedronmarques at the moment no since Web Audio needs the full audio file to decode. You can save the waveform and preload decoded waveform data. `wavesufer.load('audiofile.mp3',[data]);` If you use MediaElement and have the waveform data, preload it and the audio will start playing right away.

Here is an example:
https://wavesurfer-js.org/example/audio-element/

It would look something like this

[2017-02-08 08:01] dmongrel opened #972 "Minimap bindWaveSurferEvents changes cause render before buffer available"
In v1.3.1, the changes to minimap plugin method bindWaveSurferEvents, which are:
`- this.wavesurfer.on('ready', this.render.bind(this));`
`+ this.render();`

Causes a this.buffer.length is undefined warning/error in getPeaks(), as the buffer is not yet ready.  Changing this.render back to the on event, restores functionality.  I will leave it to the author of those changes to fix things, since I d

[2017-02-08 09:26] lovetann commented on #969
I have now, and it has solved the problem, - thanks!

Is there a way to mute one of the channels?

[2017-02-08 10:55] GianlucaCal commented on #967
I found out that the problem is not the zoom which works just fine even with huge files! But it's the timeline plugin used in conjuction with the zoom, it has to recalculate all time values...is there an easy fix to it?

[2017-02-08 12:04] SeanBannister opened #973 "Bug: Browsers don't respect setting preload to "none" in wavesurfer.load()"
Demo at http://codepen.io/anon/pen/QdVxbe

Preload is set to none:
`wavesurfer.load('https://wavesurfer-js.org/example/split-channels/stereo.mp3', peaks, 'none');`
But if you check in "developer tools" the file is clearly loading on page load before the file is played. The DOM shows `preload="none"` so it is adding the attrbitue.

I understand that `preload="none"` is only a suggestion to the brow

[2017-02-08 12:39] X-Raym commented on #973
@SeanBannister I use `preload="metadata"` and it seems to work as expected, so why not `preload="none"`... I don't have any idea.

[2017-02-08 12:48] SeanBannister commented on #973
@X-Raym I just edited my example to use `preload="metadata"` and I'm definitely getting preloading, have a look: http://codepen.io/SeanBannister/pen/GrXBEp

[2017-02-08 13:13] gorkie opened #975 "Waveform Rendering Problem on Safari"
Hi guys,

I'm having a problem displaying waveform on some browsers.

The waveform is displaying on Chrome, Opera and Firefox browsers. But, it is not displaying on Safari, Safari Mobile, Chrome for iOS etc. browsers. How can I fix this?

For a better understanding of the problem, you can see the atteched images.

<img width="1439" alt="ws_chrome" src="https://cloud.githubusercontent.com/assets/16

[2017-02-08 13:32] entonbiba commented on #972
@dmongrel you should initialize the minimap plugin from the wavesurfer.ready event.

http://codepen.io/entonbiba/pen/ggeGyG?editors=0010

var minimap;
wavesurfer.on('ready', function () {
  minimap = wavesurfer.initMinimap({
    height: 30,
    waveColor: '#ddd',
    progressColor: '#999',
    cursorColor: '#68A93D'
  });
});

[2017-02-08 13:36] entonbiba commented on #975
@gorkie on ios the user will have to initiate the audio play.

Here's an example where it works on ios.
http://codepen.io/entonbiba/pen/WRyxga

[2017-02-08 13:37] X-Raym commented on #973
@SeanBannister I did a some experimentation with my old codepens but I still don't have any hint about the situation. :(

[2017-02-08 13:38] entonbiba commented on #954
@piem I'm closing this since it's fixed in the latest version.

Here is a working example.
http://codepen.io/entonbiba/pen/ggeGyG

[2017-02-08 13:38] #954 closed

[2017-02-08 14:00] thijstriemstra commented on #970
That sucks. We should have a 404 check as part of the travis build or simply include a file in the repo like we used to have.

[2017-02-08 14:30] katspaugh commented on #970
Damn it, they took it down again. Let's choose a short piece of music/spoken word and save it into repo. The Godfather file is 2.6 Mb – this might be OK.

[2017-02-08 14:39] katspaugh commented on #676
Nice indeed, we should add this to the docs as a separate page.

[2017-02-08 14:51] pedronmarques commented on #971
Thanks will try it out and get back to you

[2017-02-08 14:52] X-Raym commented on #676
@SeanBannister a precision to add: WebAudio player is more accurate (cursor time position and smoothness).

[2017-02-08 14:53] thijstriemstra commented on #970
+1

[2017-02-08 15:51] entonbiba commented on #970
@katspaugh @thijstriemstra I'll update the demo audio file to a shorter length of "The Godfather". 👍

[2017-02-08 17:56] gorkie commented on #975
@entonbiba I'm using Safari 10.0.3. There is no problem with playing song. When I press the play button, the song plays. Just does not seem waveform visual.

[2017-02-08 21:21] thijstriemstra commented on #969
Fixed in 1.3.1.

[2017-02-08 21:21] #969 closed

[2017-02-08 21:22] thijstriemstra commented on #958
Closing, can't fix.

[2017-02-08 21:22] #958 closed

[2017-02-08 21:23] thijstriemstra commented on #950
@joelpresence everything working now? Please open a new ticket if you still see something.

[2017-02-08 21:23] #950 closed

[2017-02-08 21:25] joelpresence commented on #950
Yes, all is well, sorry for the delay (I did mean to respond to your earlier comments).

Well, I mean everything is working with 1.3.0 and SingleCanvas.  We haven’t verified the fix for MultiCanvas since we don’t need that functionality.  Would you still like me to test the patch for MultiCanvas?

Thanks again for the great support!

From: Thijs Triemstra <notifications@github.com>
Reply-To: "kats

[2017-02-08 21:28] thijstriemstra commented on #950
@joelpresence 1.3.1 has been released, please try that.

[2017-02-08 21:37] dmongrel commented on #972
Ah yes, that was the issue--haven't changed that piece of code for 9 mos. so I was still creating outside of the ready function.

[2017-02-08 21:37] #972 closed

[2017-02-08 22:58] piem commented on #954
hi!

yes, i confirm this is fixed in 1.3.1. Thanks for your work!

best, piem

[2017-02-09 00:59] entonbiba commented on #973
@SeanBannister The problem is the `media.load();` that is being called in `_load: function (media, peaks) {` section.

With preload set to none it works if we check for 'none' in the _load function, but peaks will not load and audio file will not download which is the expected result.
![image](https://cloud.githubusercontent.com/assets/5193884/22764185/0ce1f77a-ee37-11e6-8da1-e2a3d2710dad.png)

Yo

[2017-02-09 01:05] entonbiba commented on #967
@GianlucaCal I implemented a debounce feature in wavesurfer. It's now available with the wavesurfer.js library built in.

You may use it like this, notice the `wavesurfer.util.debounce(FUNCTIONHERE,timeinmilliseconds);`
[code]

[2017-02-09 02:51] entonbiba commented on #617
@tanky-shang I'll have a look at the minimap being refreshed when new audio is loaded.

For now you can do something like this this jquery, before calling `wavesurfer.initMinimap();`.
[code]
[code]

[2017-02-09 16:15] entonbiba commented on #397
This has already been fixed,

[2017-02-09 16:15] #397 closed

[2017-02-09 16:28] entonbiba commented on #898
This has been fixed in the latest version. #941

[2017-02-09 16:28] #898 closed

[2017-02-10 03:56] entonbiba commented on #970
@thijstriemstra @katspaugh updated ! I made them 30 seconds long and mastered them.

[2017-02-10 03:56] #970 closed

[2017-02-10 04:08] entonbiba commented on #925
@tweed here you go, it will be available with wavesurfer.getVolume(); in the next update. For now you can use the following below:
[code]

[2017-02-10 14:24] #965 closed

[2017-02-10 14:39] entonbiba commented on #915
@ToJen no since the height of the waveform should be determined based on peaks of the audio file or in this case the microphone. I'll create an example with a barHeight parameter which will increase the height of the bars and waveform for testing.

[2017-02-10 14:40] #925 closed

[2017-02-10 14:43] #902 closed

[2017-02-11 01:58] entonbiba commented on #810
@JulieMarie I've updated the spectrogram with khz labels, the labels with custom font/color etc will be available in the next version,

[2017-02-11 10:40] RighteousIdealizedDung opened #986 "Integrate wavesurfer with existing SoundManager2 audio player"
I have an implementation of wavesurfer with SoundManager2. I use the latter to play and control the audio, the former to show a waveform, from a JSON array, and to capture clicks on the waveform, which I then raise as SoundManager events to change the position of the track. An example is at: https://byta.com/app/public/share/41/7460/23157. The full code is quite complex but the wavesurfer init cod

[2017-02-11 16:29] thijstriemstra commented on #986
@RighteousIdealizedDung have you checked https://github.com/collab-project/videojs-wavesurfer?

[2017-02-11 17:15] JulieMarie commented on #810
Fantastic... Thank you so much!

[2017-02-12 02:34] entonbiba commented on #722
@mgibson8 @berio can you provide the code that you are using in a codepen or zip folder?

[2017-02-12 02:49] entonbiba commented on #943
@omerts here you go, a working example.
http://codepen.io/entonbiba/pen/VPqvME

[2017-02-12 03:45] entonbiba commented on #920
@thijstriemstra maybe I'll add this feature to the current cursor plugin or in the examples folder

[2017-02-12 10:10] RighteousIdealizedDung commented on #986
@thijstriemstra I don't think that helps me. Our issue that we have invested a lot of time in getting audio streaming working well across browsers (which is hard to do!) using SoundManager2. We'd just like to add wavforms to that set-up. We have an audio instance on the page, created by SoundManager2, I would hope that there is a way that WaveSurfer  can use that.

[2017-02-12 11:23] katspaugh commented on #920
The Examples page on the website.

[2017-02-12 16:41] entonbiba commented on #967
@GianlucaCal here is a working sample with the debounce feature.
http://codepen.io/entonbiba/pen/xgmqmv

[2017-02-13 01:16] ToJen commented on #915
@entonbiba that sounds good, thanks!

[2017-02-13 08:52] janjon opened #990 "v1.3.2 Waveform display problem with timeline"
## demo
http://codepen.io/janjon/pen/jyEyMe?editors=1111

### After upgrading to 1.3.2 waveform can not be displayed properly, 1.2.3 can

[2017-02-13 09:16] katspaugh commented on #990
I don't see any problems now. I think the issue was that cdnjs is not immediately putting up package updates.

[2017-02-13 09:17] katspaugh commented on #990
Ah, wait. It's borked indeed. The waveform is too small.

[2017-02-13 09:50] janjon commented on #990
@katspaugh Thank you for your quick response, are there any new changes to the plot?

[2017-02-13 09:53] janjon commented on #990
1.2.8  normal, Problem in 1.3.0

[2017-02-13 10:06] katspaugh commented on #990
The change in 1.3.0 was we made MultiCanvas the default. If you set `renderer: 'Canvas'`, it should work.

[2017-02-13 10:22] janjon commented on #990
@katspaugh There are problems with timeline, after switching to different files because of the use of `peak ` timeline is always back and forth after the switch can not be displayed

http://codepen.io/janjon/pen/jyEyMe

[2017-02-13 10:24] katspaugh commented on #990
Gotcha, thanks @janjon

[2017-02-13 10:31] janjon commented on #990
Thank you for your contribution

[2017-02-13 12:44] manumora opened #991 "Adding regions dynamically"
After audio is ready, I click on a button to add several regions but it doesn't work. Somebody knows what is happening?
Thanks in advance.

`		var seek_regions = function(times){
			for(i=0; i < times.length; i++){
			    wavesurfer.addRegion({
			        start: times[i],
			        end: times[i]+1,
			        color: 'hsla(400, 100%, 30%, 0.1)'
			    });
			}`

[2017-02-13 13:35] entonbiba commented on #991
@manumora can you provide the code you are using on codepen?

[2017-02-13 13:43] entonbiba commented on #900
@janjon please test it with the latest version, I implemented a fix to ensure the correct playback time is returned at all times when using MediaElement. #941

[2017-02-13 13:48] entonbiba commented on #810
The spectrogram frequency labels parameter is now available in the latest version. #984

[2017-02-13 13:48] #810 closed

[2017-02-13 13:51] entonbiba commented on #771
@Fiorello @mkadutskyi @mspae may you check with the latest version, the following fix was applied #977 which might be related.

[2017-02-13 15:11] entonbiba commented on #571
@katspaugh @chinshr I'll create a parser for m3u files. Essentially it would create an array of mp3 lists which can be switched via a "next" and "prev" methods. Not sure if combining all the files from a .m3u file would be feasible due to size and browser resources for now.

[2017-02-13 19:41] mspae opened #994 "Minimap plugin does not render complete waveform with large files"
In the annotation example you can see that the minimap plugin does not completely render. Apparently it is limited to the currect viewport of the main wave. (Maybe related to peak cache …)

![annot](https://cloud.githubusercontent.com/assets/1044829/22899760/41e77e1a-f22c-11e6-9d14-9b09101e545d.png)

[2017-02-13 19:45] mspae commented on #771
@entonbiba Yes awesome! – I found https://github.com/katspaugh/wavesurfer.js/issues/994 while checking.

[2017-02-13 19:45] #771 closed

[2017-02-14 01:56] janjon commented on #990
@katspaugh `renderer: 'Canvas'` no effect

[2017-02-14 01:59] janjon commented on #990
@katspaugh How to quickly repair，I am more anxious

Thank you

[2017-02-14 02:22] tweed commented on #925
entonbiba !!! CRINGING to reopen on this -- me and I'm certain many others will love the getVolume feature!

I am struggling to figure out, after many mods/attempts
why the volume slider on screen in browser still shows 100% full-on instead of correct position.
Terribly sorry to ask after all the super-helpful assists
in my attempts i can of course get the volume to default to softer/lower
what i

[2017-02-14 02:58] Stoyvo commented on #932
Any sugguestions @thijstriemstra @chrisparton1991 ?

[2017-02-14 03:11] thijstriemstra commented on #932
can you try to reproduce with less options? what example audio clip are you using? kinda hard to give meaningful feedback on this bug report.

[2017-02-14 03:14] Stoyvo commented on #932
@thijstriemstra These are all the options plus some overrides. Provided an exact list to help make it easier to replicate. It happens on all files, tested with MP3. Only happens when using partial rendering. Noticed it mostly with normalize on.

[2017-02-14 06:50] tweed commented on #925
FANTASTICALLY HELPFUL!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  the last puzzle piece - GREATEST thanks

[2017-02-14 16:32] katspaugh commented on #986
Instead of the URL of a song, you can `load()` an `<audio>` element (which I assume SoundManager2 is creating somewhere). Also you don't need to set peaks directly and call `drawBuffer`. Just pass them as the second parameter to the `load()` call.

[2017-02-14 17:55] entonbiba commented on #932
@Stoyvo why exactly are you using partialRender when using MultiCanvas backend?

[2017-02-14 18:39] Stoyvo commented on #932
@entonbiba Specifically for the performance increase while zooming and because also because there's nothing saying I shouldn't.

Either:
1) We fix the issue with the rendering
2) We add handling to restrict this as an option and fall back to the suggested/required setting

[2017-02-14 20:33] entonbiba commented on #932
@Stoyvo the latest release 1.3.2 has a debounce feature. In the sample below you can see how it is used to fix performance issues when using the zoom feature.
http://codepen.io/entonbiba/pen/xgmqmv

The only problem I see is that partialRender sometimes causes the waveform to render incorrectly when using the timeline plugin. I can only replicate the following issue below while using the parameter

[2017-02-15 02:57] Stoyvo commented on #932
@entonbiba Try this one: http://codepen.io/anon/pen/PWLZNM

If the dropbox file does not work, I have attached a file that replicates this issue with partial renderer.
[6265853_Get_Me_Outta_Here_feat__Flux_Pavilion_Shaun_Frank_Remix.zip](https://github.com/katspaugh/wavesurfer.js/files/775921/6265853_Get_Me_Outta_Here_feat__Flux_Pavilion_Shaun_Frank_Remix.zip)

[2017-02-15 02:59] Stoyvo commented on #932
Interesting find: If you zoom in,  press play, it will start to replicate the issue. Leave the track playing, switch tabs, wait a few seconds, then go back to the example tab, the rendering will be correct for the X amount of seconds you were off-tab.

[2017-02-15 04:32] Stoyvo commented on #932
Can confirm the issue also exists when using:
renderer : 'Canvas'

If I disable normalize (normalize: false) then the issue isn't so bad, but it is clearly distorted:
![image](https://cloud.githubusercontent.com/assets/6148099/22960696/e51de614-f30d-11e6-85f3-9ef4df73743a.png)

[2017-02-15 20:27] entonbiba commented on #994
@mspae can you attach the file here?

[2017-02-15 23:51] thijstriemstra commented on #957
@entonbiba I took a stab at a plugin, see https://github.com/thijstriemstra/wavesurfer.js/tree/media-session-plugin

I couldn't get it to work though, see https://collab-project.github.io/videojs-wavesurfer/test/media-session.html for example.

Also couldn't get your example to work, uploaded it here: https://collab-project.github.io/videojs-wavesurfer/test/session-test.html

But the official exam

[2017-02-15 23:55] thijstriemstra commented on #957
Ah, found it on the [blog](https://developers.google.com/web/updates/2017/02/media-session#implementation_notes):

"As the Web Audio API doesn't request Android Audio Focus for historical reasons, the only way to make it work with the Media Session API is to hook up an <audio> element as the input source to the Web Audio API. Hopefully, the proposed [Web AudioFocus API](https://wicg.github.io/audi

[2017-02-16 00:20] thijstriemstra commented on #957
With the MediaElement backend it works!

[2017-02-16 00:24] entonbiba commented on #957
@thijstriemstra no it will work with web audio once stable is released, all it's doing is checking for a valid event in the mediaSesion namespace. At the moment yea the audio tag is required, we might be able to trick it with some timeout and blank audio file in the audio tag. ;)

I'm currently testing it on windows phone with a beta version of edge.

[2017-02-16 00:26] thijstriemstra commented on #957
"At the moment yea the audio tag is required" but your example doesn't have an audio element? And do you have a link to back up "no it will work with web audio once stable is released" because i can't find any..

[2017-02-16 01:33] thijstriemstra commented on #957
Opened PR #996 for a plugin that adds simple play/pause and seek forward/backward controls + title and artwork. We can always add playlist support later (in the playlist example perhaps).

[2017-02-16 01:38] entonbiba commented on #957
@thijstriemstra currently audio tag is required, I added a 5.5 min audio file and muted it in my example.

It will support web audio and you can check the commit here,
https://github.com/WICG/mediasession/commit/e62c0d5e5a613e86bc9080a4bb985ec08a698049

[2017-02-16 01:42] thijstriemstra commented on #957
@entonbiba that's awesome, thanks for the feedback! For now the example requires the `MediaElement` backend but that can be dropped once it's supported in a Chrome version (without having to change the plugin).

[2017-02-16 07:18] mspae commented on #994
The online example uses 1.2.7 – try it with the current version locally.

[2017-02-16 16:40] GianlucaCal commented on #967
@entonbiba Yes thanks, it works flawlessly but my problem is quite different, in fact it's not the zoom slider (still I added a debounce function and it works) but the Timeline plugin! It does huge calculations to rerender the timeline plugin everytime it does a zoom!

[2017-02-16 17:56] #957 closed

[2017-02-16 17:57] entonbiba commented on #967
@GianlucaCal yes I added a debounce feature on the timeline plugin on that sample. Do you have the audio file you are using, can you provide a direct link to it so I can test with the sample?

[2017-02-16 21:40] thijstriemstra commented on #990
Can someone post a before/after screenshot?

[2017-02-17 09:31] GianlucaCal commented on #967
@entonbiba oh that's cool! I have the peaks and the mp3 on dropbox, here is the link:
https://www.dropbox.com/sh/qt8x9r4wj02ciex/AACRCj1SOozfHotktsGzt6i2a?dl=0

[2017-02-17 11:22] ToJen commented on #915
Hey @entonbiba, any luck yet? Is there something I can do? I'd love to contribute to this.

[2017-02-17 22:16] scottt2 opened #999 "Allow for pre-decoded peaks and peak calculation on the client"
Hey @katspaugh !

First, **thanks so much for this great library**. It and the community around it are just great. Can't star it enough.

To the issue at hand--I have augmented my local copy of WS to allow for pre-decoded peaks to render immediately while the file downloads and then once downloaded, WS decodes on the client and renders, replacing the pre-decoded peaks.

**Question:** I am wonderin

[2017-02-18 09:36] RighteousIdealizedDung commented on #986
@katspaugh Thanks for that, it was the info I was looking for. Unfortunately it didn't solve my problem, it seems that SoundManager2 doesn't create an `<audio>` element. I am having to rework my code because of that. Am closing this issue, and thanks again.

[2017-02-18 09:36] #986 closed

[2017-02-19 02:08] thijstriemstra commented on #975
why are you doing `drawBuffer`?

[2017-02-20 09:26] binal24 opened #1001 "Crash browser when load large audio file"
I'm trying to load a 1 hour podcast. When i am trying to play this file in Chrome browser, it crashes the page.
I have seen many users facing this issue. I have go through all issues, but can't find any proper solution.

So, please help me out with proper solution as soon as possible.

[2017-02-20 10:02] mspae commented on #1001
The browser crashes because it has to decode the whole file into memory to render the wave. This is a Lot of data for one hour of compressed audio.

You can fix this by predecoding the audio on the server and using the Media Element Backend.

[2017-02-20 10:15] binal24 commented on #1001
Can you provide me some sample code for predecoding the audio on server?

[2017-02-20 10:43] gorkie commented on #975
@thijstriemstra I added for testing, I did not use.

[2017-02-20 12:28] binal24 commented on #1001
I have more than 50 Mb size file.

[2017-02-20 12:52] 1x-martin commented on #1001
Here are some issues of people who had the same or similiar problems as you: https://github.com/katspaugh/wavesurfer.js/issues/839 https://github.com/katspaugh/wavesurfer.js/issues/488 https://github.com/katspaugh/wavesurfer.js/issues/316 https://github.com/katspaugh/wavesurfer.js/issues/493 https://github.com/katspaugh/wavesurfer.js/issues/2

[2017-02-20 16:25] entonbiba commented on #1001
@binal24 can you provide the podcast mp3 link?

[2017-02-20 16:27] entonbiba commented on #975
@gorkie I tested it on the latest ios safari, chrome for mobile ios and it's working fine. May you retry with the latest version 1.3.2 on your end?

[2017-02-21 05:47] pedrosodre opened #1002 "Problem with progress bar"
The progress bar height is not fixed into bootstrap row > col-md-6

![image](https://cloud.githubusercontent.com/assets/15728374/23152316/11d09126-f7e0-11e6-9562-2cf30e68df05.png)

[2017-02-21 06:03] mthdvd opened #1003 ""wavesurfer" is not defined"
I get an Uncaught Reference Error: Wavesurfer is not defined when trying to render waveform in rails app. Gem is installed, div id is labeled.

Thank you for any help offered.

Apologies if this question reveals I'm the dumb kid in class.

[2017-02-21 06:29] #1002 closed

[2017-02-21 06:50] mspae commented on #1003
Can you please provide us with the code you are using?

[2017-02-21 12:50] janjon commented on #990
@katspaugh how to solve the problem， please

[2017-02-21 13:38] dimidd opened #1004 "Attaching a callback to region events"
Hi, I'm probably missing something very obvious, but how do you pass a custom callback to the regions plugin? E.g. I'd like to pass a function that will be called when `region-created` is fired. The docs for Regions, list the names of the events, but don't explain how to pass callbacks for them.
I've tried
[code]

Which had no effect.

[2017-02-21 14:40] mspae commented on #1004
You need to Listen to the Event: `wavesurfer.on('region-created', function(...`

[2017-02-21 14:40] #1004 closed

[2017-02-21 17:23] ducklin5 commented on #341
You could try Crosswalk
`cordova plugin add cordova-plugin-crosswalk-webview`

[2017-02-22 03:15] mthdvd commented on #1003
Thank you for the response.

**The code in my wavesurfer.js file in my Javascripts folder is:**

var wavesurfer = Object.create(WaveSurfer);

wavesurfer.init({
    container: document.querySelector('#waveform'),
    waveColor: 'violet',
    progressColor: 'purple'
});

wavesurfer.on('ready', function () {
    wavesurfer.play();
});

wavesurfer.load('file:///Users/mattdavid/Music/GarageBand/1_1_16%

[2017-02-22 03:16] mthdvd commented on #1003
forgot to mention -- application.js file contains:

//= require jquery
//= require jquery_ujs
//= require bootstrap
//= require turbolinks
//= require wavesurfer
//= require wavesurfer-plugins
//= require_tree .

[2017-02-22 14:03] ToJen commented on #1003
You could do this instead:

[code]

[2017-02-22 14:56] entonbiba commented on #1003
@mthdvd the rails gem of wavesurfer.js library is outdated.

Try using the latest version with the code below in your app.
`https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.3.2/wavesurfer.min.js`

[code]

[2017-02-23 06:20] mthdvd commented on #1003
Thank you for the suggestions.

Code error went away, however, the "waveform" div is blank. The code under my layouts folder reads:
[code]

[2017-02-23 06:47] binal24 commented on #1001
I am suffering to create peaks. I have found this methods to create peaks array, node-pcm,ffmpeg,bbc/peaks.js,etc.
I am using bbc/peaks.js, but facing issues to create.

So, anyone help me out to create peaks array using any other method?

[2017-02-23 07:23] katspaugh commented on #1001
@binal24 see the last section of the [FAQ](https://wavesurfer-js.org/faq/):

[code]

[2017-02-23 08:14] binal24 commented on #1001
It doesn't works in windows system

[2017-02-23 14:13] entonbiba commented on #1003
@mthdvd it should be `<div id="waveform"></div>`.

[2017-02-23 22:44] syzygykr commented on #492
i'm currently experiencing this issue, however there's an odd twist to it. i'm working on an app that allows you to upload music and play it back with a wavesurfer player. one of the tracks that i've uploaded is allowing click to seek just fine, however, any new files i upload to my app and attempt to click to seek on results in a restart of the playback. the odd bit is that this one file is allow

[2017-02-24 03:23] CYDP0127 opened #1005 "Provide better error messages if the maximum number of audiocontexts are reached/will be reached"
Hi there, I have a question.

I am getting this error below when I am creating multiple waveforms

Uncaught DOMException: Failed to construct 'AudioContext': The number of hardware contexts provided (6) is greater than or equal to the maximum bound (6).

here's my code

[code]

And My guess was it's because I am creating multiple instance but I found that it occurs error when I use the newest vers

[2017-02-24 09:08] mspae commented on #1005
Hello @CYDP0127 – The issue you're experiencing is probably due to https://github.com/katspaugh/wavesurfer.js/pull/862 (Don't reuse the audiocontext in `WaveSurfer.WebAudio.audioContext` automatically, instead use the `audioContext` provided in the options (`params.audioContext`) or create a new one (and close it when wavesurfer is destroyed)).

Maybe one of these would solve your issues:
* Cache

[2017-02-24 09:13] mspae commented on #999
Me, I like the idea. :+1:  But maybe we can find a shorter more concise name for the option. Maybe `redecodeOnZoom` or something similiar to describe what the option is actually for.

[2017-02-24 10:26] katspaugh commented on #999
Sounds good! 👍

I suggest naming the parameter `forceDecode`.

Also, the code can be optimized a bit:

[code]

[2017-02-24 10:57] thijstriemstra opened #1007 "support for AudioContext.getOutputTimestamp()"
Available since Chrome 57. This should improve the cursor position calculation if I'm not mistaken.

Also see https://github.com/WebAudio/web-audio-api/issues/12:

"If one needs to display a visual cursor in relationship to some onscreen representation of an audio timeline (e.g. a cursor on top of music notation or DAW clips) then knowing the real time coordinates for what is coming out of the spe

[2017-02-24 15:56] tabascoeye commented on #630
Hey. I just stumbled over this as well. There should be either a min-width set to a few pixels, so the handles don't disappear into nothing OR width should not pe a `%` value to not have the bars "scale" with the size of the region.
This can't be overwritten by CSS because it is put into the `style=` attribute of the `<handle>` which takes presence over the CSS setting.
A workaround is to use `min

[2017-02-25 08:32] binal24 commented on #838
I have been using node-pcm to create waveform data in JSON format.
But, going in infinite loop.

[2017-02-25 18:05] pmckelvy1 opened #1010 "How can I export the Wavesurfer-generated peaks? (rather than generate them server-side)"
### Wavesurfer.js version(s):
1.3.2

### Browser version(s):
chrome 56

I have tried calling wavesurfer.exportImage() but it just tells me "this.drawer.getImage is not a function".
I have tried modifying the code / moving around some functions but I am getting similar undefined errors, and I feel like I shouldn't have to do much modifying to get this work.

Is there a way to easily grab the array

[2017-02-25 18:08] pmckelvy1 commented on #1010
also, using exportPCM works, but it gives me a long array full of null's and two 0's.

[2017-02-25 19:51] thijstriemstra commented on #1010
It probably uses the default MultiCanvas backend and that doesn't implement getImage yet :(

`exportImage` will give you a bitmap normally, and I'm not sure how to export the points to the server.

[2017-02-25 22:26] pmckelvy1 commented on #1010
@thijstriemstra do you know of a way to use something other than MultiCanvas that does implement getImage?

[2017-02-25 23:57] pmckelvy1 commented on #1010
ended up using backend.getPeaks()

[2017-02-25 23:57] #1010 closed

[2017-02-26 01:27] #1003 closed

[2017-02-26 01:30] thijstriemstra opened #1011 "export image broken since MultiCanvas default"
Error:

[code]

[2017-02-26 01:33] entonbiba commented on #1005
@CYDP0127 chrome only supports up to 6 audiocontexts, this is fine since it protects the browser from eating up all the CPU. You can try the media element solution as suggested by @mspae with pre-rendered peaks.

[2017-02-26 02:41] thijstriemstra commented on #1005
Perhaps a meaningful error should be thrown when this maximum is (about to be) reached (if possible?).

[2017-02-26 03:39] thijstriemstra commented on #627
@katspaugh should we make an exception for that line for edge so it works as mentioned by @longsleep and myself?

[2017-02-26 12:20] katspaugh commented on #627
As I said earlier, if it works without this line we can remove it for all browsers. If other browsers need, then let's make an exception for Edge.

[2017-02-26 14:27] mspae commented on #1001
Reference: https://github.com/bbc/audiowaveform/issues/23

@binal24 You could try https://github.com/jhurliman/node-pcm

I have also run into this issue (audiowaveform not running on windows) – I experimented a little but didn't come up with a definitite solution. You can find the code here: https://github.com/mspae/audiowavejs (Note that it's not functional or anything – but if you want to work o

[2017-02-26 19:25] jj-quintin opened #1013 "Region - region.id"
Hello !

Thank you for this amazing app :-)

I encounter a small problem with "wavesurfer.on('region-in', function (region)" I use to know which region is playing and so be able to display a series of corresponding information (subtitle, notes...) that I extract from an xml. Everything is perfect (id of the current region is correct) with a classic url (like http://somesite.com/somepage.html).

Ho

[2017-02-27 01:24] thijstriemstra commented on #1013
@jj-quintin cant help you here but always try the latest wavesurfer (1.3.2) before reporting issues.

[2017-02-27 02:56] mspae commented on #1013
I won't know where the issue with the weird `5` region id is coming from but the `wafesurfer_xxx` type ids are intentionally created random ids by wavesurfer. They are created automatically if no custom ids are provided when adding a region.

[2017-02-27 04:30] binal24 commented on #1001
I have found solution instead of node-pcm, i am using "waveform-util". And its working fine for generating peak array.
https://www.npmjs.com/package/waveform-util

[2017-02-27 06:10] davidchalifoux opened #1014 "Ember.js Uncaught TypeError: Cannot set property 'fillStyle' of undefined"
Hey, so I'm trying to use WaveSurfer within my Ember.js project with no prevail(I doubt Ember is causing these issues).

I imported the latest version of wavesurfer.js through Bower, and then used this exact code in one of my templates:
[code]

Now when I try to see if it works, my console errors saying `Uncaught TypeError: Cannot set property 'fillStyle' of undefined`.

Here's what line in wavesu

[2017-02-27 17:10] katspaugh commented on #1005
@mspae why did we remove the singleton audio-context? Why creating it every time?

[2017-02-27 17:56] entonbiba opened #1016 "Create playlist parser"

[2017-02-27 18:42] jj-quintin commented on #1013
Thank you for those informations that helped me find the problem, which was on my side. Indeed, the id variables sent when creating the regions were undefined :-/ What surprised me is to have first id.region exactly the value of the parameter transmitted with the url of the application (I have to look on this weird stuff). Sorry for the inconvenience and thank you again for this great application

[2017-02-27 19:14] #1013 closed

[2017-02-27 19:17] thijstriemstra commented on #1014
can you try to reproduce it without ember?

[2017-02-27 19:28] davidchalifoux commented on #1014
@thijstriemstra Actually I tested it out about 30min ago and got it to work. I wonder why it doesn't work within Ember?

[2017-02-27 19:34] thijstriemstra commented on #1014
I'm not familiar with ember.js but if you figure it out let us know here.

[2017-02-27 19:34] #1014 closed

[2017-02-28 08:19] #1001 closed

[2017-02-28 13:32] #1016 closed

[2017-02-28 16:56] entonbiba commented on #967
@GianlucaCal yea the timeline plugin does a lot of calculating which is required for it to update properly. I added the debounce feature to the timeline plugin in the previous example, I'll update the actual plugin soon.

I managed to make your file work successfully with the following setup below. We can probably look into making the timeline render when it's playing smoother.
[code]

[2017-02-28 20:09] #920 closed

[2017-02-28 20:15] entonbiba commented on #915
@ToJen hey, yes I'll post the update today.

The following variable will change the bar height, I'll make this into a parameter like "barHeight" or something.
`var absmax = 1;`

I noticed someone already suggested this feature here as well. #944

[2017-02-28 23:03] entonbiba commented on #374
@tomByrer may you try with the latest version? Many improvements have been made.

[2017-03-01 10:21] mspae commented on #374
@entonbiba I'm not sure if the changes that were merged recently have fixed this. I think the issue is probably caused by some memory not being collected when loading new audio files, not by the debounce/zoom type of performance issues. I think there is probably no way to fix this without doing timeline analysis to try and find the issue(s)

[2017-03-01 16:03] entonbiba commented on #374
@mspae yes but we did add the `audiocontext.close()` on the destroy method in the latest version which should fix the memory issues for chrome and firefox as these are the only browsers currently supported.

![image](https://cloud.githubusercontent.com/assets/5193884/23468380/ab2f99f4-fe6e-11e6-9d75-d3d8e3be7b0b.png)

[2017-03-01 16:05] entonbiba commented on #435
@Rhathe for chrome and firefox we implemented the webaudio close method in the latest version to clear the memory on detroy function.

![image](https://cloud.githubusercontent.com/assets/5193884/23468451/d514d9be-fe6e-11e6-8cce-661ff6c262c3.png)

[2017-03-01 22:32] oaeide commented on #404
I am also curious about this

[2017-03-02 02:47] entonbiba commented on #915
@ToJen here you go,
http://codepen.io/entonbiba/pen/VpedWZ

[2017-03-03 07:02] mspae commented on #374
@entonbiba True. I didn't think of that :p

[2017-03-04 05:14] davidchalifoux commented on #1014
@thijstriemstra a user on StackOverflow sent me [this](https://github.com/katspaugh/wavesurfer.js/issues/950) discussion and I seem to be in the same boat somehow. I rolled back from 1.3.4 to 1.2.8 and it's working now. Any suggestions as to how I could get it to where I can be using the current versions?

[2017-03-05 00:45] entonbiba commented on #938
@interwap there will be a parameter option to apply the soundcloud wave in this pr, #1024

[2017-03-05 00:55] entonbiba commented on #952
@matt3224 It's possible, check out the minimap plugin. Essentially it would do the same thing, I'll try to put a sample together in a few days for this.

[2017-03-05 02:01] entonbiba opened #1030 "media recorder plugin"
Create a media recorder plugin or add a recording feature to current microphone plugin.

**To do list**
- create parameters (automatic record, audio type, max length etc)
- create getRecorded method to return array of recorded blob
- create downloadRecorded method to return a downloadable blob for .mp3 and .wav
- support Chrome, Firefox, Opera, Edge is currently under construction, Safari not supp

[2017-03-05 02:14] entonbiba opened #1031 "drag and drop plugin"
Create a drag and drop plugin.

**To do list**
- create parameters (enable/disable drag and drop, allow mimetypes)
- allow drag and drop audio file from desktop into the waveform object or browser window
- on drop event the audio mime type should be checked for .mp3 or .wav
- *add feature to allow normal dom elements to be dropped into waveform as long as they have valid .mp3/.wav urls in a data a

[2017-03-05 02:15] #999 closed

[2017-03-05 02:19] ToJen commented on #915
hey @entonbiba thanks, is it available in the current release? I have my script tags like this:

[code]

[2017-03-05 03:03] thijstriemstra commented on #1030
I wouldn't want to add it to the microphone plugin but create a new plugin instead that uses the microphone plugin.

Note that there's already something similar in a 3rd-party plugin (that I maintain): https://github.com/collab-project/videojs-record

[2017-03-05 07:12] interwap commented on #938
@entonbiba great, looking forward to it. Just read through the conversation

[2017-03-05 12:57] mspae commented on #915
@ToJen The PR isn't merged/released yet.

[2017-03-05 13:27] entonbiba commented on #1030
@thijstriemstra yea it will be a plugin, nice I'll check it out.

[2017-03-05 13:48] #944 closed

[2017-03-05 17:48] ToJen commented on #915
@mspae Oh cool, thanks!

[2017-03-06 09:44] CYDP0127 opened #1034 "Creating multiple waveforms and memory leaking"
Hi, I have a question

I am creating multiple waveforms and it works well by creating one instance and using MediaElement (thanks for people who helped it out #1005)

But I found that there's memory leaking

Got this from Chrome Timeline and apparently it happens when it calls XHRhttpRequest
![image](https://cloud.githubusercontent.com/assets/13328846/23603955/6da31aea-029a-11e7-9446-49b912496ab1.

[2017-03-06 10:45] mspae commented on #1034
1. Ajax (aka `XMLHttpRequest`) can be used to fetch all kinds of files. Wavesurfer loads audio with Ajax if 1. Backend Web Audio is used or 2. Peaks are not provided
2. There are several memory leaks which are currently being fixed for version 2 - the one you experience is probably due to `this.arraybuffer` not being nullified in `destroy`.

[2017-03-06 12:36] CYDP0127 commented on #1034
@mspae thanks a lot !!  I nullified this.arraybuffer and it worked !

[2017-03-06 17:01] mspae commented on #1011
Fixed by #1027

[2017-03-06 17:01] #1011 closed

[2017-03-06 17:02] mspae commented on #1034
I'll close this for now. The memory leaks will be fixed ASAP - also on Master.

[2017-03-06 17:02] #1034 closed

[2017-03-08 06:52] thijstriemstra commented on #571
There's a playlist plugin now that handles this.

[2017-03-08 06:52] #571 closed

[2017-03-08 08:42] mspae commented on #1005
@CYDP0127 The limit should not be reached anymore with the new changes merged into master (see above) – This should be fixed with the next release.

[2017-03-08 08:42] #1005 closed

[2017-03-13 00:47] entonbiba commented on #915
@ToJen the update should be available shortly on version 1.3.5.

[2017-03-13 00:47] #915 closed

[2017-03-13 12:48] sht5 opened #1038 "authorization headers enhancement"
Hello,
i am looking for a way to add an authorization header to the requests wavesurfer makes when loading a url. i want to load a url dependent on authorization.
thanks

[2017-03-13 14:05] katspaugh commented on #1038
You can load the audio on your own (using XMLHttpRequest or the Fetch API), and then pass the response body to [this internal method](https://github.com/katspaugh/wavesurfer.js/blob/master/src/wavesurfer.js#L361) called `loadArrayBuffer`.

[2017-03-13 15:14] sht5 commented on #1038
actually its also possible to just send a jwt as a query parameter on the
url so this solves the problem for me

On Mon, Mar 13, 2017 at 4:05 PM, katspaugh <notifications@github.com> wrote:

[2017-03-13 15:44] #1038 closed

[2017-03-14 21:39] burningding opened #1039 "How to set the current time"
Thanks for your awesome job on wavesurfer.js!

I found there's only how to get current time, but there's no way to set current time. I'm not sure if I didn't find it, or we don't have this function right now?
Any ideas?

Thanks,

Shaojin

[2017-03-15 07:51] dmongrel commented on #1039
@burningding The way it's done in the region examples is:

wavesurfer.play(region.start);
wavesurfer.pause();

You can replace region.start with the number of seconds.

[2017-03-15 17:43] burningding commented on #1039
@dmongrel Sorry for the ambiguous narration of question. In my case, I want to set the position of cursor (the current time) to the mid of region (the average between region.start and region.end). How can I achieve this?

Thanks!

[2017-03-16 01:03] nelemnaru commented on #1039
You could also try
`wavesurfer.seekTo(timeToSet / wavesurfer.getDuration())`
where timeToSet is the number of seconds. This shouldn't fire pause and play events.

[2017-03-16 10:24] tomasvilda opened #1040 "Wavesurfer doesn't reset mute state on next loaded source"
When I do

wavesurfer.load(file);
wavesurfer.play();

file is played with sound

wavesurfer.muteToggle();

now sound is muted

wavesurfer.load(nextfile);
wavesurfer.play();

file is played with sound (this is expected as I have loaded new file)

wavesurfer.muteToggle();

file is still played with sound (Wrong! as I see in source isMuted is not reset on load() method)

wavesurfer.muteToggle();

aft

[2017-03-16 10:34] tomasvilda opened #1041 "Documentation site doesn't list setMute method"
On documentation website https://wavesurfer-js.org/docs/methods.html

Method setMute is not documented

[2017-03-16 10:57] Agshealth-Raj commented on #953
hi please help me,, i cannot access mp3 file from FTP server..

[2017-03-16 11:03] Agshealth-Raj opened #1042 "Cannot access mp3 files from FTP path"
wavesurfer.load('ftp://xxxxxxxxx/0974420170202080243593.mp3');

its showing "No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://s.codepen.io' is therefore not allowed access.
"

Browser: Chrome 56.0.2924.87

[2017-03-16 11:25] katspaugh commented on #1042
It's not an issue with wavesurer.js, but a security policy in browsers.

[2017-03-16 11:25] #1042 closed

[2017-03-16 11:45] Agshealth-Raj commented on #1042
is there any solution for that? also i dont know how to use loadBlob function?
Please help me...

[2017-03-16 12:03] Agshealth-Raj commented on #1042
i have configured mp3 files into my local host.
"http://localhost/Web/1040520170203101234570.mp3" its showing same error.

[2017-03-16 13:21] Agshealth-Raj opened #1043 "Audio will play but wave forms are not appearing in IE11"
audio will played in my page but wave forms are not displaying.

Browser: IE 11

[2017-03-16 13:26] Agshealth-Raj commented on #537
now i have faced same issue. please someone help me...

[2017-03-16 15:12] katspaugh commented on #537
Web Audio is not supported by IE11. See http://caniuse.com/#search=web%20audio

[2017-03-16 15:12] katspaugh commented on #1043
Web Audio is not supported by IE11. See http://caniuse.com/#search=web%20audio

[2017-03-16 15:12] #1043 closed

[2017-03-16 22:49] entonbiba commented on #1041
@tomasvilda thanks, added

[2017-03-16 22:49] #1041 closed

[2017-03-16 23:07] entonbiba commented on #1039
@burningding you can set it with `seekTo()` method or with `play(); pause()` combined. I'll add a method called `setCurrentTime()` this weekend.

[2017-03-17 00:07] entonbiba commented on #1040
@tomasvilda fixed in the pr

[2017-03-17 15:08] ognjiscar opened #1047 "How to get peaks with recommended Audiowaveform program?"
Hi.
I understand  that loading prerendered image to load function requires an array of peaks, but cannot find out how to do it with recommended audiowaveform program. I get .png or .dat or whatever format, but don't know how to get peaks from these formats. Any advice?

Thanks for all the help.

[2017-03-17 18:44] burningding commented on #1039
@entonbiba @nelemnaru Thanks for your help! Looking forward the new version!

[2017-03-17 19:17] burningding commented on #1039
@nelemnaru  @entonbiba I tried to use

`var sec = wavesurfer.getDuration();
  wavesurfer.seekTo((4/sec)+(12/sec)*.5);`

to set the current time, it works well.

Now I want to drag to add a region and also set the current time to the mid of the region. I tried to add the code above to the event "region-update-end", it's true that the cursor will be set to the mid when "region-update-end" is fired.

[2017-03-17 22:34] entonbiba commented on #1039
@burningding so when you drag the region, you want it to set the play time in the middle or ?
The event `region-update-end` should work, can you post a sample on codepen?

[2017-03-17 22:35] entonbiba commented on #1047
@ognjiscar if you need to dynamicly generate the peaks data, you can use a server to generate it with php or even nodejs.

[2017-03-17 23:19] nelemnaru commented on #1039
I have a similar problem trying to play a region on double click, and stopPropagation doesn't help. It starts playing the region, but the cursor ends up moving to where I clicked. Currently, I'm using a workaround by using a setTimeout delay of 0.
`wavesurfer.on('region-dblclick', function (region, e) {
	e.stopPropagation();

	setTimeout(function(){
		region.play();
	}, 0);
});`
You could try sett

[2017-03-20 11:18] ognjiscar commented on #1047
I found the solution to my problem: In audiowaveform (bbc) program you get peaks data from 0-127. I normalized it (0-1 float ) and imported it into load function. Now it's working fine.

[2017-03-20 15:39] #1047 closed

[2017-03-20 21:07] blakemurdock opened #1050 "Invalid Software License Type"
### Wavesurfer.js version(s): all

#### Description
This software is under the Creative Commons Attribution 3.0 Unported license. However, it appears, upon further investigation into this license type, that this license is not intended for use with software. This license type is instead used for any type of “work,” as put in Creative Commons website, with the exception being computer software and

[2017-03-23 06:32] janjon commented on #990
@thijstriemstra
http://codepen.io/janjon/pen/jyEyMe?editors=1111

After upgrading to 1.3.2 waveform can not be displayed properly, 1.2.3 can.
Waveform shows only the front part, incomplete

[2017-03-23 14:41] BlazPerus commented on #1047
@ognjiscar How did you normalize?

[2017-03-23 17:58] ognjiscar commented on #1047
Divide all numbers with maximum number in the table.

[2017-03-23 18:00] akradin opened #1051 "Unable to get Audio From s3 Bucket"
I am trying to get audio to be represented on my site via my AWS bucket. I think the reason I am having difficulty is probably related to the fact that I am a relatively new developer and I don't fully understand a lot of the issues that have already been opened.
That being said, I can create an ajax request to my bucket, but from there I am not sure what to do. I figured I could just reference my

[2017-03-23 18:49] tabascoeye commented on #1050
I propose either Beerware License or the WTFPL

[2017-03-24 02:52] thijstriemstra commented on #1050
@katspaugh +1 for the MIT or BSD license

[2017-03-25 17:00] akradin commented on #1051
Nevermind, didn't realize `wavesurfer.load` kind of does its own ajax call using the link in s3.

[2017-03-25 17:00] #1051 closed

[2017-03-27 10:05] katspaugh commented on #1050
Let's go for BSD then.

[2017-03-27 22:01] thijstriemstra commented on #1050
other contributors all agree? any way we can ping all contributors at once? :)

[2017-03-29 15:30] mspae commented on #1050
:+1:

[2017-03-29 22:00] dimidd opened #1053 "Temporarily disable region-click events"
Thanks for this great library. I'm using the regions plugin, and I've added a button on the region itself to play it, however, immediately after my callback, the callback of 'region-click' is fired. Is there a way to temporarily disable click events on a region?
[code]

[2017-04-02 03:52] Stoyvo commented on #932
@entonbiba @thijstriemstra @chrisparton1991 Any insight to what's being experienced here?

[2017-04-03 15:08] entonbiba commented on #932
@Stoyvo can you try it with version 1.3.7? The example is still using 1.3.1 which doesn't have the debounce feature, also the file is missing from dropbox it's giving 404 error.

[2017-04-03 15:10] entonbiba commented on #1050
@katspaugh BSD 👍

[2017-04-03 15:15] entonbiba commented on #1053
@dimidd you can do the following
[code]

[2017-04-03 16:22] entonbiba commented on #1039
@nelemnaru you can use `e.stopImmediatePropagation();` instead,

[code]

[2017-04-03 23:10] nelemnaru commented on #1039
@entonbiba I tried your suggestion to no avail. The region still begins playing from where I double-clicked instead of region start. (Don't know if it matters, but I'm using Firefox.)

[2017-04-04 22:06] adw1n opened #1055 "Broken drawing of raw peaks"
When the resolution is small enough rendering pre-generated peaks (on the newest version of wavesurfer) is broken.
![broken1](https://cloud.githubusercontent.com/assets/8993001/24680868/e61935f4-1992-11e7-9cff-37d13ae917d0.png)
![broken2](https://cloud.githubusercontent.com/assets/8993001/24680887/eca7979e-1992-11e7-9830-1ddf7f73212e.png)
Once the screen estate is big enough, stuff is back to norm

[2017-04-04 23:46] godfatherfrancis opened #1056 "Basic setup"
### Wavesurfer.js version(s): 1.3.7

### Browser version(s): Chrome 57.0.2987.133

### Code needed to reproduce the issue:

I couldn't get the codepen to work to try and reproduce the issue.

In my html doc created in intellij, when I open it in the browser I get an Uncaught Error: Container element not found
at Object.init (wavesurfer.js:61)
at Object.a.create (wavesurfer.js:623)
at index.js:1 va

[2017-04-05 00:28] #1056 closed

[2017-04-05 10:02] lararogu opened #1057 "wavesurfer not rendering wav file from blobstorage in chrome"
I am trying to visualize a waveform from a .wav file stored in a blob container.I generate the SAS string and I get a uri that I pass to the wavesurfer.load( uri ) method. In firefox it works fine but in Chrome i get the exception unable to decode audio data.
uri=https://azureaccount.blob.core.windows.net/container/fileName.wav?sv=2016-05-31&sr............
wavesurfer.load(uri);
It happens the same

[2017-04-05 16:25] dalzinm commented on #484
I'm confused as to how the canvas is a regular DOM element. When I try to use it with the DOM properties, it returns undefined no matter what the property is. Also, majorgilles, do you have your plugin publically available? I can't find it in any of your repositories.

[2017-04-06 13:08] thijstriemstra commented on #1057
Can you load the blob directly using `loadBlob`: https://github.com/katspaugh/wavesurfer.js/blob/master/src/wavesurfer.js#L383

[2017-04-06 13:11] thijstriemstra commented on #1050
@blakemurdock PRs welcome

[2017-04-06 13:35] iainhallam opened #1058 "Set bar spacing as well as width"
Wavesurfer.js version(s): 1.3.2
Browser version(s): Firefox 52

I've got some good-looking waveforms being drawn as bars with the barWidth property, but I'd like to be able to set the space between the bars as well; would some kind of barSpace property be possible?

[2017-04-06 13:39] blakemurdock commented on #1050
@thijstriemstra Alright. Sounds good. I'll get that in later today. Thanks guys.

[2017-04-06 14:13] iainhallam opened #1059 "Draw on pixel boundaries for even barWidth values"
Wavesurfer.js version(s): 1.3.2
Browser version(s): Firefox 52
Code needed to reproduce the issue:

    var wavesurfer = WaveSurfer.create({
    	barWidth: 2,
    	container: '#waveform',
    	cursorWidth: 0,
    	height: 32,
    	interact: false,
    	normalize: true,
    	pixelRatio: 1,
    	waveColor: 'orange',
    });
    wavesurfer.load('audio.wav');

Result:

![waveform-antialiased](https://

[2017-04-06 20:02] evitolins commented on #112
A zoom parameter would be okay, but explicit start and end parameters to crop a audio segment would be ideal.  Any movement on this lately?

[2017-04-06 20:36] lararogu commented on #1057
I found out that the problem is that I have a 2KHz(sample rate) file and that Chrome is not able to decode it.It happens the same if I just try to play it using a html <audio> tag. In firefox it works fine. Any ideas on how to play a 2khz file in chrome,or how to resample it to make it work?

[2017-04-06 23:06] thijstriemstra commented on #1057
you can use ffmpeg to convert and resample it, see stackoverflow/google etc.

[2017-04-06 23:06] #1057 closed

[2017-04-06 23:08] thijstriemstra commented on #1058
try and create a proposal in a pull request.

[2017-04-07 22:25] entonbiba commented on #1039
@nelemnaru updated, just remove the `region.play();' part from the code

[code]

[2017-04-08 21:19] entonbiba commented on #1059
@iainhallam can you try with the latest versions?

[2017-04-08 23:34] #1040 closed

[2017-04-08 23:34] thijstriemstra commented on #1050
Fixed with #1060.

[2017-04-08 23:34] #1050 closed

[2017-04-10 14:01] jawrainey opened #1062 "Dragging Regions after initialisation to false"
Hi all,

I would like to add regions that are by default not resizable or draggable. When a user requests to edit a region, then it will be made resizable/draggable programmatically. However, I could not make these regions resizable or draggable once they are initialised to false. Although there are ways around this (such as doing another pass after adding and setting these properties to false), t

[2017-04-10 23:44] ZachMoreno commented on #1030
👍
I need this for my MVP & would love to contribute to this effort.
Just to be clear, the intention of this new wavesurfer.js plugin is to
 1. record audio stream
 2. draw the audio stream as it is recorded ([example](https://youtu.be/qMaVhqSsPcE?t=2m32s))
 3. save the recorded stream as a blob/file
correct?

[2017-04-10 23:59] thijstriemstra commented on #975
closing, no feedback.

[2017-04-10 23:59] #975 closed

[2017-04-11 00:02] ZachMoreno commented on #1030
@thijstriemstra can you please explain a bit how videojs-record is extending wavesurfer with the [`liveMode` property](https://github.com/collab-project/videojs-record/blob/master/src/js/videojs.record.js#L935)?

[2017-04-11 00:03] thijstriemstra commented on #1030
@ZachMoreno take a look at videojs-wavesurfer first..

[2017-04-11 00:10] ZachMoreno commented on #1030
@thijstriemstra thanks!

[2017-04-12 05:59] Agshealth-Raj commented on #953
"wavesurfer is not defined" i got this issue while click play button in my code.. please help me..

[2017-04-12 06:06] Agshealth-Raj opened #1063 "Uncaught ReferenceError: wavesurfer is not defined ..."
**Code Part :**
[code]
**Scripts:**
[code]

[2017-04-12 06:09] Agshealth-Raj commented on #1063
but i can see the wave form....

[2017-04-14 10:09] Jamby93 commented on #1055
The problem raises whenever you provide more peaks than the canvasWidth.
The drawWave function of Canvas and drawLineToContext function of MultiCanvas has been broken since #924 by @mspae that has changed the rendering loop from looping the entire peaks array to looping only up to "end" or "canvasEnd" respectively which is both cases the canvas width. In this way, the last point drawn x-coordinate

[2017-04-14 10:46] mspae commented on #1055
#924 is the v2 port of #909 – v2 hasn't been released yet – not that it matters :)

[2017-04-14 10:49] mspae commented on #1063
Please post a codepen so we can reproduce the error.

[2017-04-14 10:51] mspae commented on #1055
Related? https://github.com/katspaugh/wavesurfer.js/issues/994

[2017-04-14 10:55] GianlucaCal opened #1064 "Bad region dragging behaviour with cursor"
Hi,

I noticed a problem in my project (which you can also see from here http://codepen.io/katspaugh/pen/obmOXV) when I drag or resize any region the cursor follow along. I fixed the resize behaviour by putting this code in the region plugin.

[code]
I could have putted `my.wavesurfer.params.interact=false;` right after the first `if` but then there would be no possibility to click inside the regi

[2017-04-17 03:29] scottgrobinson opened #1065 "Tie to HTML5 Audio"
Howdy!

Is it possible to 'tie' the waveform to a HTML5 audio widget? I've started playing around with it but I thought I'd ask first...

I'd like to use your waveform, but the controls available in the widget.

[2017-04-17 18:20] entonbiba commented on #953
@Agshealth-Raj is the click button within a wavesufer ready event?

[2017-04-17 18:25] entonbiba commented on #1063
@Agshealth-Raj are you using the latest version of the library?

[2017-04-17 18:31] entonbiba commented on #1065
@scottgrobinson you can provide the waveform data in json format when loading the audio file in wavesurfer and use the `MediaElement` option. I think it's best to create your own custom controls to use with wavesurfer.

What audio widget is this?

[2017-04-17 23:17] jersobh opened #1066 "Bind with node"
Hi there,

I'm trying without success to bind wavesurfer to an output node i've created, to change the gain. This is my code:

    window.wavesurfer = WaveSurfer.create({
      container: '#waveform',
      audioContext: this.audioCtx,
      backend: 'MediaElement',
      mediaType:'audio',
      normalize: true,
      height: 80,
      cursorColor: '#fff',
      waveColor: '#ff9800',
      progre

[2017-04-18 22:07] X-Raym opened #1067 "Load peaks from file post v1.2.8"
Hi !

With v1.2.8,
To get peaks and create peaks file from it,
I use to use this:

`peaks = object.backend.getPeaks(960);`

This seems to be broken post v1.2.8 (like v1.4.0).

After quite some testing, I found that the following code produces the same json file than in v1.2.8

`peaks = object.backend.getPeaks(960, 0, 959);`

Note: I think there should have been something do about this to assure **

[2017-04-19 12:36] X-Raym commented on #1067
@katspaugh I did a bit more careful testing, in fact the problem appears from v1.3.0. v1.2.8 works great, but not after that.

[2017-04-21 14:47] lararogu opened #1068 "Zooming in y-axis"
Right now I am doing it on the x-axis with the wavesurfer.zoom() method. I would like to do the same in both axis.

Is it possible to zoom in the waveform in the y-axis?.

thanks.

[2017-04-21 14:52] lararogu opened #1069 "Waveform is only display after zooming"
I have a wav file played with wavesurfer. When I try to play it I can hear the file but the waveform is not displayed.
![image](https://cloud.githubusercontent.com/assets/15128912/25283054/bc6e17d8-26b2-11e7-9de2-c2d8946ab268.png)

It only appears after I change the zoom.
![image](https://cloud.githubusercontent.com/assets/15128912/25283077/d517aaec-26b2-11e7-9f43-848591fbb738.png)

Any ideas why

[2017-04-22 17:41] jersobh opened #1070 "Seeking from ffmpeg pipe"
Hi there!

I've created a seekable audio stream using a byte array with ffmpeg, but how can I use it on wavesurfer?

Thanks in advance

[2017-04-22 18:23] entonbiba commented on #1069
@lararogu are you using the latest version?

[2017-04-22 18:32] entonbiba commented on #1066
@jersobh

try this,
[code]

[2017-04-22 18:33] entonbiba commented on #1070
@jersobh can you provide the code your using?

[2017-04-22 18:34] entonbiba commented on #1068
@lararogu what exactly will the y-axis zoom be useful for?

[2017-04-22 18:49] entonbiba commented on #1067
@X-Raym yea the getPeaks method should not break when using just `getPeaks(960)`, I created a pull request to fix the back-end compatibility for this method.

Not sure why the rendering it doing that for you. Can you provide the peaks and audio you're using? Also what are you setting as the preload?

[2017-04-22 18:56] lararogu commented on #1068
I would like to see the waveform bigger,that it occupies most of the container.
Is it possible to define the size of the waveform before playing it?

[2017-04-22 19:34] jersobh commented on #1070
My code doesn't have anything important, just this:

  window.wavesurfer = WaveSurfer.create({
      container: '#waveform',
      audioContext: this.audioCtx,
      backend: 'MediaElement',
      mediaType:'audio',
      normalize: true,
      height: 80,
      cursorColor: '#fff',
      waveColor: '#ff9800',
      progressColor: '#fff'
    });

    wavesurfer.on('ready', () => {

      this.play

[2017-04-23 02:29] entonbiba commented on #1068
@lararogu you can define the height of the waveform yes, but the width will remain responsive and up to the size of the device unless you specify the container as a set width.

`barHeight` parameter
http://codepen.io/entonbiba/pen/VpedWZ

[2017-04-23 02:35] entonbiba commented on #1070
@jersobh you can load the mp3 audio data with `wavesurfer.load(streamoutput)`, however it will only render whatever was outputted when it was loaded.

If you want to render a live stream audio, have a look at the microphone plugin. I'll look into creating a live audio stream plugin in the near future.

[2017-04-23 10:52] X-Raym commented on #1067
Thanks for the `getPeak` fix !

For my case:

- [Audio File](https://www.extremraym.com/wp-content/uploads/2016/12/SalmanKhan_2015P.mp3)
- [Peaks File](https://www.extremraym.com/wp-content/uploads/wavesurfer-wp-peaks/1fdb6302422ea3b5b368136c3fba8c7e-mixed.json).

(of course, I only use the 'peaks' section of my peak file in the wavesurfer load method).

`Preload` is set to `'metadata'`.

Thanks f

[2017-04-23 16:15] X-Raym commented on #1067
https://github.com/katspaugh/wavesurfer.js/issues/1055
this issue seems to be related to my problem.

[2017-04-23 22:45] entonbiba commented on #1030
@ZachMoreno yes, exactly what DAW software do when recording input audio. It would eventually support live audio but I'm still working on that to see what kind of all browser support there is as well as making sure it doesn't crash the browser with all the rendering.

[2017-04-23 22:48] entonbiba commented on #1067
@X-Raym can you set the `MultiCanvas` parameter on your code to true and see the results? I'll create a sample with the files you provided in a few days.

[2017-04-23 23:06] X-Raym commented on #1067
@entonbiba tested
`MultiCanvas: true` and r`ender: 'MultiCanvas'` with v1.4.0 without any successful result.

I also tried to remove the code snippet I use for having waveform redrawn when browser size is adjusted, but it wasn't successful either.

Thanks again for your assistance :)

[2017-04-24 08:28] lararogu commented on #1068
I am trying to use the barHeight parameter to change the wavefrom size.I downloaded the latest version of the source code but I am getting the following error when I create the waveform:

TypeError: Cannot read property 'extend' of undefined
    at Object.init (wavesurfer.js:46)
  init: function (params) {
        // Extract relevant parameters (or defaults)
        this.params = WaveSurfer.util.e

[2017-04-24 08:58] dimidd commented on #1053
Works great, thanks!

[2017-04-24 08:58] #1053 closed

[2017-04-24 14:15] lararogu commented on #1069
Yes,I have the latest version of the code. I dont understand because the file seems to be loaded fine because I hear it but the waveform is not displayed until I change the zoom.

[2017-04-24 16:55] jersobh commented on #1070
But that would be like wavesurfer.load('http://localhost:8080')?

[2017-04-24 17:40] jersobh commented on #1070
I've been able to seek, but the wave doesn't show up :)

[2017-04-24 19:30] jersobh commented on #1070
Solved, the problem was on my stream :) Thank you bro

[2017-04-24 23:55] #1070 closed

[2017-04-25 12:53] ricking06 opened #1074 "React js implementation"
Does this works with React js ?

[2017-04-25 19:33] jersobh commented on #1066
Nevermind. It's wavesurfer.backend.offlineAc.createGain()

[2017-04-25 19:33] #1066 closed

[2017-04-26 02:14] entonbiba commented on #1067
@X-Raym for the resize event do it like so.

[code]

here are also two samples to look at that I have already created before,
http://codepen.io/entonbiba/pen/VPqvME (zoom and resize with peaks data)
http://codepen.io/entonbiba/pen/jyKrEz (responsive waveform)

[2017-04-26 02:18] entonbiba commented on #1069
@lararogu can you try the following sample I have created here,
http://codepen.io/entonbiba/pen/xgmqmv

[2017-04-26 02:26] entonbiba commented on #1074
@ricking06 haven't tried this library specifically, but you can try something like this following:

In your reactjs project folder where you have package.json install the library
`npm install wavesurfer.js`
then add it in the index.jsx with `import wavesurfer from 'wavesurfer.js'`

[2017-04-26 02:33] entonbiba commented on #1062
@jawrainey try this one

http://codepen.io/entonbiba/pen/mmOxmm
[code]

[2017-04-26 02:36] entonbiba commented on #948
@deckchairuk regarding the comments part, maybe we can add it as plugin

[2017-04-26 06:49] lararogu commented on #1069
I fixed the problem.It was not a problem of the wavesurfer. I have the container for the waveform inside a modal that appears when I click a button and I was making it visible after I loaded the audio file,that is why it was not appearing immediately.

[2017-04-26 06:49] #1069 closed

[2017-04-26 09:04] jawrainey commented on #1062
@entonbiba, thanks for the response, though I think I did not describe the issue sufficiently! The issue is in relation to moving the first (green) region.

Changing these to true will only work because the object properties are not set (_drag_ & _resize_):

    wavesurfer.addRegion({id: 2, start: 28, end: 36, color: 'hsla(400, 100%, 30%, 0.1)'});

The update method works when the properties are n

[2017-04-26 10:16] RajPrime commented on #1063
Its my mistake only. please close the issue..

[2017-04-26 10:26] RajPrime opened #1075 "How to create peaks from large files like more than 50 mb files?"
Hi Creators,
i have to create peaks from large audio files. i read about this issue from your forum but i din't get any proper sample code. please help me. also i have an another doubt
1. it is possible to show two channels using peaks?(i have channelA and ChannelB peaks data)
2. I am getting this error " XMLHttpRequest cannot load http://localhost/web/0668120170202121225743.mp3. No 'Access-Contro

[2017-04-26 10:58] X-Raym commented on #1067
@entonbiba Ok, thanks for the tip, I'll replace my code by yours as it seems more performance friendly.

Unfortunately, it doesn't fixed my peak loading problem. 🐈

[2017-04-27 19:22] X-Raym commented on #898
@entonbiba Oh sorry, I missed your answer !
I wanted to thank you for the fix :)

[2017-04-28 11:26] mspae commented on #1074
https://github.com/mspae/react-wavesurfer

[2017-04-29 02:12] entonbiba commented on #1062
@jawrainey you should use `wavesurfer.region` instead of `wavesurfer.regions`

http://codepen.io/entonbiba/pen/zwZyOg
[code]

[2017-04-29 02:13] entonbiba commented on #898
@X-Raym  :)

[2017-04-29 02:23] #1074 closed

[2017-04-29 02:23] entonbiba commented on #1067
@X-Raym yes, I noticed the issue happening when the window size is 992px and less. I'll have a look at the peaks code and see why it's doing that.

Here it is with your peaks data.
http://codepen.io/entonbiba/pen/PmpXqJ

[2017-04-29 11:03] X-Raym commented on #1067
@entobiba
Thank you for you expertise :)
Good luck for the bug hunting !

[2017-04-29 12:48] jawrainey commented on #1062
Hi @entonbiba, the [documentation](https://wavesurfer-js.org/plugins/regions.html) suggestions using `wavesurfer.regions`, which works correctly in the codepen and when logging to the console. In your [example](http://codepen.io/entonbiba/pen/zwZyOg), although you set the second region to not be draggable/resizable, it can be dragged/resized.

Assuming we change these to `wavesurfer.regions`, then

[2017-04-29 21:19] entonbiba commented on #1062
@jawrainey yes the update method doesn't work because it doesn't do the following methods. I'll submit a pr to fix this.

http://codepen.io/entonbiba/pen/zwZyOg?editors=1010

[code]

[2017-05-01 03:30] entonbiba commented on #1075
@RajPrime you can load the peaks data twice but you'll need to create the waveform twice. Do you want to load both peaks data on one waveform with channel A for top and channel B to bottom?

For the origin issue, you can download the cors plugin for google Chrome and enable it, this will fix it if your using Chrome. Or you can upload the files to a cdn or webhost and reference from there.

https:/

[2017-05-01 03:33] entonbiba commented on #1064
@GianlucaCal can you try with this sample and see if you experience the same issue.

http://codepen.io/entonbiba/pen/zwZyOg

[2017-05-01 03:35] entonbiba commented on #1063
@Agshealth-Raj put the wavesurfer.load code inside a wavesurfer ready event.

[2017-05-01 06:30] gitdisrupt commented on #435
Any further updates on this?
Seems memory is not GC'd properly for all use cases / browsers?

[2017-05-02 07:12] green-coder commented on #782
It was fixed on March 9th 2017. Update your browser if you still have the problem.

[2017-05-02 09:09] GianlucaCal commented on #1064
not working either.

**Before dragging the region**

![1](https://cloud.githubusercontent.com/assets/24889920/25611508/a5397562-2f27-11e7-8850-b6e7e5a92d38.PNG)

**After dragging the regione the cursor follow**

![2](https://cloud.githubusercontent.com/assets/24889920/25611537/b99a0346-2f27-11e7-9967-142f55210f2f.PNG)

**Resizing the region the cursor follow the risize**

![3](https://cloud.github

[2017-05-02 09:41] RajPrime commented on #1075
yes, i want to display Channel A on top and Channel B in bottom.
"http://codepen.io/katspaugh/pen/ZQPaxB" please check this example. i need to display like that but using only peaks..

[2017-05-02 14:19] simdax opened #1077 "webpack and plugin import"
Hello all,

really good job, very simple and efficient lib !

Using webpack I can install wave surfer easily, but I fail to load plugins.

[code]

it builds, but in the console i get

[code]
Not really a bug I think but seems a plugin require failure...

any clue??

[2017-05-02 15:05] katspaugh commented on #1077
An ES6-friendly version is being worked on in the [next](https://github.com/katspaugh/wavesurfer.js/tree/next) branch.

@mspae do you think we can do `npm publish --tag beta` for the next branch at this point?

[2017-05-02 17:20] mspae commented on #1077
@katspaugh I would be delighted. That's what I intended to say with https://github.com/katspaugh/wavesurfer.js/pull/1035#issuecomment-287312146 – I'm sorry, I should have been more vocal pushing for release. :)

[2017-05-02 17:51] katspaugh commented on #1077
@mspae thanks, I see! I've updated the version and the dist and pushed to the next branch. Published version 2.0.0-beta01 on npm with a beta tag.

@simdax can you try with `npm install --save wavesurfer.js@2.0.0-beta01`?

[2017-05-02 18:53] simdax commented on #1077
it works for what I tried  :)

[code]

[https://postimg.org/image/k2qq3szpb/](url)

[2017-05-02 20:05] samedayjeremy opened #1078 "HLS Support?"
Is there a way to support hls audio in wavesurfer?  File format is .m3u8.  I tried using backend: MediaElement but I keep getting this error
<img width="1067" alt="screen shot 2017-05-02 at 4 04 17 pm" src="https://cloud.githubusercontent.com/assets/447535/25636937/07f42980-2f51-11e7-9da1-b5ecac6e10f0.png">

[2017-05-03 01:06] TrevorHinesley commented on #952
@entonbiba any update on this? Would love to see a possible example.

[2017-05-03 02:58] gitdisrupt commented on #1047
@ognjiscar i have been struggling with this ... id like to generate the peak data server side using PHP, but i am not having any luck :/ ... would you mind sharing how you achieved this? any help greatly appreciated

[2017-05-03 07:15] mspae commented on #1077
@simdax Yay Elan is a plugin to render [ELAN](https://en.wikipedia.org/wiki/ELAN_software) annotation below the waveform.

The Cursor plugin renders a thin line at the position of the mouse if you hover over the waveform.

The regions API should be backward compatible. You can use `wavesurfer.enableDragSelection()` after having initialised the regions plugin. A nicer way would be to use
the new in

[2017-05-03 09:20] mspae commented on #435
@gitdisrupt This is an ongoing effort. Considering all plugins involved there is a lot of code to check and profile. Help is greatly appreciated! You might also try the new v2 beta release if that is any better.

[2017-05-03 13:44] simdax commented on #1077
var wavesurfer = WaveSurfer.create({
    container: '#wave',
    waveColor: 'violet',
    plugins: [
        RegionPlugin.create({
            dragSelection: true
// this works
        }),
    ]
});

// but this dont
// wavesurfer.enableDragSelection();

with the seconde, I have this error :
[code]

[2017-05-03 14:05] katspaugh commented on #1077
`enableDragSelection` takes a settings object as an argument. It's mentioned in the [docs](https://wavesurfer-js.org/plugins/regions.html).

[2017-05-03 14:19] simdax commented on #1077
okay, but it's not clear to me what I have to fill the dictionary with

 I was just copy/pasting the codepen example from docs, where its an empty object,  I have also an error :

[code]

[code]
followed with "add regions"

But I imagine that it's a specific syntax. I think anyway the "plugins" syntax is better :)

[2017-05-03 15:34] katspaugh commented on #1077
The dictionary has the same options as individual regions (see the Options section on that page). I agree the new syntax looks nicer.

[2017-05-03 17:07] mspae commented on #1065
If you use the media element backend and set the option `mediaControls` to true in the wavesurfer init parameters the controls should be rendered. They don't work perfectly with the waveform however.

[2017-05-03 22:16] entonbiba commented on #1075
@RajPrime I will look into the splitChannels feature this weekend and see if I can add another option in there to display Channel A on top and B on bottom.

[2017-05-03 22:18] entonbiba commented on #1064
@GianlucaCal yea I'll make it so when you drag it, it doesn't set the cursor on drag end.

[2017-05-03 22:20] entonbiba commented on #952
@matt3224 this is the link to the sample, have a look at that first.
http://codepen.io/entonbiba/pen/ggeGyG

[2017-05-04 00:13] matt3224 commented on #952
Thanks @entonbiba that looks like it will work! Not working in Safari though.. yet, any ideas?

[2017-05-04 05:11] gitdisrupt commented on #435
Thanks for the response!

Currently i am working to test using another lib to decode and create peaks ... once i have that working ill test wavesurfer using mediaElement setting with peak data pre-generated to see what kind of improvement i can achieve...

When you say beta ... you mean v1.4.0 ?

[2017-05-04 05:23] RajPrime commented on #1075
@entonbiba  Really great. thanks bro. also please do another help. i need to get peaks from audio file. please suggest any library files for that(i am using asp.net MVC with jquery)

[2017-05-04 07:56] gitdisrupt commented on #435
UPDATE: so i am now generating peak data server side and instantiating wavesurfer via mediaElement and not WebAudio ...

Sadly, i am not seeing much of a difference. I have also tried playback with and without the waveform display / render all together ...
 ... memory appears to increase during playback, and it is that memory that is never released ... so Im going to try to look deeper into the ca

[2017-05-04 17:49] TrevorHinesley commented on #1038
Is there no better way to do this? I have to have authorization as well, and the tokens are long-lived so passing them as a query parameter isn't secure. It needs to be a header.

Can you give an example of how to load the file ourselves?

[2017-05-04 18:21] TrevorHinesley commented on #1038
For anyone wondering any easy fix for this, I overrode the `WaveSurfer.util.ajax` method like so:

[code]

Worked like a charm :)

[2017-05-04 20:53] TrevorHinesley commented on #1038
Actually, this DOESN'T work because xhr keeps the Authorization header on any redirects. This is a problem if the redirect is an S3 URL that expires, because Amazon will error out (it doesn't like unnecessary headers).

[2017-05-04 21:39] mdahlgrengadd commented on #1078
Did you check videojs-wavesurfer?
https://github.com/collab-project/videojs-wavesurfer

I think videojs has a plugin for HLS

[2017-05-05 03:23] codedammie opened #1079 "Issues In Xamarin Android Webview"
Greetings,
Have really enjoyed using wavesurfer.js for most of my projects but recently ran into hot waters when trying to load my web page in xamarin forms web view. After several modifications, it's now playing the songs but not loading the waveform.

[2017-05-05 05:21] X-Raym commented on #1067
@entonbiba Hi !
I think if the width key value is more 960px or less.
According to the fact that there is 1920 values (samples from a .getPeaks(960) )... maybe there is some kind of relation there ?

[2017-05-05 06:55] agamemnus commented on #1014
@thijstriemstra I have the same problem, but I am not using Ember. Investigating...

[2017-05-05 11:49] mdahlgrengadd opened #1080 "Is it possible to create backend plugins?"
If so, how do you do it in v.1 vs v.2?

For instance, I have multiple wavesurfer instances in the same window, each that have different methods of handling playback rate (timestretch vs normal etc).

I experimented in "next" branch... is this correct?
https://gist.github.com/mdahlgrengadd/fb25657bb54ed9b2314e4c9f3ac552b3

But for version 1 I dont know how to do it without forking.

Thanks!
/Martin

[2017-05-05 12:27] katspaugh commented on #1080
I think v. 2 is the way to go. If it works for you, then I would just keep using it until we release the next branch.

[2017-05-05 14:44] mdahlgrengadd commented on #1080
Ok, guess its time to move on to the "next" branch! Exciting :-) Thanks!

[2017-05-05 17:18] mspae commented on #1080
Actually since the backend is initialised in the wavesurfer instance after `registerPlugins` is called you could just monkeypatch a custom backend in like so: https://gist.github.com/mspae/34b6ad436608c1887f3e32bd4fc371e5 (e.g. replacing `this.Backend` with your own backend class, which is then instantiated by `createBackend`)

Pros: Super easy, Actually I'm thinking if we should make the `init` a

[2017-05-05 17:18] mspae commented on #1079
Hello @codedammie Can you post your code somewhere?

[2017-05-05 17:24] mspae commented on #1014
Actually I think there was an issue a few months back somebody had while using ember. I think the cause was incorrect `for (entry in this.canvases)` (`this.canvases` being an array and not an object) https://github.com/katspaugh/wavesurfer.js/pull/961  and https://github.com/katspaugh/wavesurfer.js/issues/947 – Maybe this is related somehow.

[2017-05-05 19:27] agamemnus commented on #1014
Thank you. This was exactly the problem!

[2017-05-05 22:50] mdahlgrengadd commented on #1080
@mspae Thanks! Very useful information, and nice to know I'm on the right track :-)

disable the whole time.

No, probably not. Nice option to have, but atleast not a deal breaker for me.

This would be one way to do custom backends in v.1 anyways.

[2017-05-06 12:36] mspae commented on #1080
@mdahlgrengadd Yes, although v1 also does some things a little differently. For instance the Media Element backend extends the Web Audio backend by using the `util.extend` function and relies on the global `window.WaveSurfer` variable, so you wouldn't be able to use ES6 class extends in the same way.

[2017-05-06 14:33] entonbiba commented on #952
@matt3224 you using the latest safari version or technical preview?

[2017-05-06 14:36] matt3224 commented on #952
Latest Stable `Version 10.1 (12603.1.30.0.34)`

[2017-05-07 00:55] codedammie commented on #1079
Thanks "mspae. Below are my codes:
The code for the page that's called in the webview is :
https://gist.github.com/codedammie/259e7bd9c25e9139279f6d462ce1d8e7

The code for the Xamarin Android webview is:
https://gist.github.com/codedammie/1f932aa7c8cd14975590eabf849e08ec

Thanks for the assist.

[2017-05-07 02:11] thijstriemstra commented on #1080
@mspae can you create a ticket and PR for an alpha release of v2?

[2017-05-07 14:20] agamemnus opened #1082 "Example for pre-rendered peaks doesn't actually show how to do it."
https://wavesurfer-js.org/example/audio-element/

It just says: `wavesurfer.load('example/media/demo.mp3');`. It doesn't show how one would add in the extra parameters.

[2017-05-07 15:02] agamemnus opened #1083 "exportPCM no longer working."
`exportPCM` has:
`var peaks = this.backend.getPeaks(length, accuracy)`

But getPeaks is:
`getPeaks: function (length, first, last) {`

[2017-05-08 07:38] Jamby93 commented on #1067
@X-Raym There is. The bug rises when you have more peak values than pixel due to erroneous scale. See #1055

[2017-05-08 10:40] X-Raym commented on #1067
@Jamby93 Nice catch, this is definitely the source of the problem.
I don't really how how it could be fixed (apart maybe restoring v1.2.8 loop points functions, but I guess that if it has been change, it is for a good reason).

[2017-05-08 10:41] X-Raym commented on #1055
I confirm this issue. V1.2.8 was fine and 1.3.0 is broken.

[2017-05-09 13:38] wangzhaoming132 commented on #753
our answer let me solve the problem! Thank you very much!

[2017-05-09 19:29] mspae commented on #1080
@thijstriemstra I think it was already released as `2.0.0-beta01` – Why a ticket and PR?

[2017-05-09 19:57] katspaugh commented on #1080
I suggest we announce the beta version on the homepage and encourage people to try it out. Then, hopefully, release by the end of May, perhaps?

[2017-05-09 20:08] thijstriemstra commented on #1080
@mspae I had no idea ;)

[2017-05-09 20:08] thijstriemstra commented on #1080
I can't find it in releases. A note as suggested by @katspaugh would be essential.

[2017-05-10 03:54] gitdisrupt opened #1084 "Canvas draw and animation creating Memory Leaks"
### Wavesurfer.js version(s):
1.4.0

### Browser version(s):
Safari and Chrome

### Use behaviour needed to reproduce the issue:

All use cases ...

I was seeing a never ending increase in memory usage when instantiating a wavesurfer instance and playing back an audio file (tried both, as `MediaElement` and `WebAudio`) that is **NOT** released after calling `myWave.destroy()` to destroy the instan

[2017-05-10 03:57] gitdisrupt commented on #435
I think i tracked down the memory leaks, i am just not sure how to fix as i am not familiar enough with wavesurfer nor canvas animation. I opened a new issue: https://github.com/katspaugh/wavesurfer.js/issues/1084

[2017-05-10 13:33] TrevorHinesley commented on #1067
Ya this is a major problem in my app right now. Glad to submit a PR, are we against bringing back loop functions?

[2017-05-10 13:57] wangzhaoming132 opened #1085 "wavesurfer.js selection point issue"
![Uploading QQ截图20170510215331.png…]()
On the choice of how to achieve, you can tell me how to achieve, thank you very much!

[2017-05-10 14:01] wangzhaoming132 commented on #1085
![qq 20170510215331](https://cloud.githubusercontent.com/assets/19948422/25902461/293c17fc-35cc-11e7-8ab1-16cc9db6525e.jpg)

[2017-05-10 14:02] wangzhaoming132 commented on #1085
![qq 20170510215331](https://cloud.githubusercontent.com/assets/19948422/25902492/412d2888-35cc-11e7-9416-8a2c1249fc4f.jpg)

[2017-05-10 14:21] wangzhaoming132 commented on #858
Has the problem been solved?

[2017-05-11 03:36] wangzhaoming132 commented on #844
Can you tell me what your problem is?

[2017-05-11 03:38] wangzhaoming132 commented on #844
你的问题是怎么解决的?

[2017-05-11 04:25] TrevorHinesley opened #1086 "Error when calling load with a new file in the player"
Here's the error:

[code]

This happens when a file is playing and I click another (which is loaded up with `load(fileUrl)`) to swap it out. Any ideas?

[2017-05-11 08:21] mdahlgrengadd commented on #844
@wangzhaoming132  Don't know if this is an issue anymore, but here's @harrietsCreativeDabblets codepen doing what I think was requested.

http://codepen.io/mdahlgrengadd/pen/MmVeYB

One problem i ran into was that the drawer listens to the click event and, if not overridden, will cause the cursor to be placed at the end of region bacause it gets called after region-update-end.

Probably theres a m

[2017-05-11 14:47] TrevorHinesley commented on #1086
Turns out this was due to a plugin I was using. Issue resolved here: https://github.com/mspae/react-wavesurfer/issues/36

[2017-05-11 14:47] #1086 closed

[2017-05-13 09:01] aaagepard opened #1089 "FireFox 53.0.2 Microphone plugin issue."
Wavesurfer.js microphone plugin doesnt works normally for me on example page - https://wavesurfer-js.org/plugins/microphone.html

After "Start the mic" click I see request to access the microphone and then no reaction on my voice, just horisontal line.

### Browser version(s):
FireFox 53.0.2 (32-bit)
Windows 7

![firefor videoaudio issue issue 147 collab-projectvideojs-record - google chrome](http

[2017-05-13 20:32] entonbiba commented on #1082
@agamemnus those examples haven't been updated in a while. Sometime in the near future we will create more examples and link from the main page.
https://wavesurfer-js.org/examples/

For now you can check out this example I created for peak data.
http://codepen.io/entonbiba/pen/VPqvME

[2017-05-13 20:35] entonbiba commented on #1085
@wangzhaoming132 are you using the latest version? Can you post some code on codepen?

[2017-05-13 20:38] agamemnus commented on #1082
Thanks.

[2017-05-13 20:41] agamemnus commented on #1082
@entonbiba: I am also unsure how to save that peak data since the exportPCM doesn't work (https://github.com/katspaugh/wavesurfer.js/issues/1083). (I noticed you added a label -- thanks). I want to save the peaks with node.js as the audio files I am using are very big and I need the peaks to load much faster. Would appreciate any ideas.

[2017-05-13 20:42] entonbiba commented on #952
@matt3224 when you get a change may you try with Safari TP if possible? Also can you screenshot of what is not working?

[2017-05-14 01:51] agamemnus opened #1090 "move the website code to the master branch"
https://wavesurfer-js.org/docs/events.html

"waveform-ready – Fires after the waveform is drawn when using the MediaElement backend. If your using the WebAudio backend you can use ready." ->
"waveform-ready – Fires after the waveform is drawn when using the MediaElement backend. If you're using the WebAudio backend, you can use ready."

[2017-05-14 02:31] thijstriemstra commented on #1089
can anyone reproduce this? @entonbiba?

[2017-05-14 02:34] thijstriemstra commented on #1090
can you create a pull request @agamemnus? Simply browse to the file in question on github and click the 'edit' button and save the changes.

[2017-05-14 02:38] agamemnus commented on #1090
K. Wasn't aware it was in the package.

[2017-05-14 02:42] thijstriemstra commented on #1090
checkout the `gh-pages` branch, or switch to it using the github web interface.

[2017-05-14 02:43] thijstriemstra commented on #1090
@katspaugh github now allows you to use `master` for github pages. Perhaps we should move the docs back to the master branch..

[2017-05-14 11:10] mspae opened #1092 "Releasing 2.0.0"
There has been an extensive refactor of wavesurfer within the last half year which resulted in a version which includes a lot of new features (namely a dynamic plugin system) but also some breaking changes. We have decided to release it as a version two. Changes to either branch will be ported to each other (especially bug fixes of course).

This issue is intended as a place for general discussion

[2017-05-14 12:02] gitdisrupt commented on #1084
OK EVERYONE!! I can't believe i didn't think to try this earlier ... but i believe i have made a **HUGE improvement to performance and memory usage!!**

VERY SIMPLY ...
For both the `drawBars` and `drawWave` methods, i wrapped their contents with a `requestAnimationFrame()` call, and this **DRAMATICALLY** reduced memory usage!!!!

**ALSO**, at the end of those calls, i cancel the request and `NULL

[2017-05-14 14:52] matt3224 commented on #952
@entonbiba Yeah sure this is what I see after I click play:

![screen shot 2017-05-14 at 3 47 42 pm](https://cloud.githubusercontent.com/assets/2401925/26034951/c4a6af70-38bc-11e7-96e8-c71ea8633576.png)

It will just stay like this and play no sound, however works perfectly in Chrome.

Just checked in TP too where it also does not work unfortunately.

[2017-05-14 15:44] X-Raym commented on #1067
@TrevorHinesley I guess it would be better to fix the current method rather than to rollback, cause I guess it has been change to fix other issues.

@entonbiba Do you an idea about how to fix this ? :)

[2017-05-14 16:34] davidchalifoux commented on #1014
Hey, I just tried out the 2.0 beta and it's working great! Good work!

[2017-05-14 16:41] mspae commented on #1080
@katspaugh @thijstriemstra Announcement issue is: #1092  – I've also made [a release](https://github.com/katspaugh/wavesurfer.js/releases)

The announcement on the website could probably be extracted from the issue. I'm unsure how to proceed with the generated documentation … I would very much like to publish it on the website at the same time as announcing the beta. Then we can just refer to that

[2017-05-14 19:28] davidchalifoux opened #1093 "Seeking broken when using 'MediaElement' backend. (2.0.0)"
Hey, I recently checked wavesurfer to see if there was a new version that solved my bugs when using it with Ember.js. Luckily, the` 2.0.0` beta is working like a charm! However, since my project will most likely need to utilize pre-rendered waveforms, I decided to check out using `'Media Element'` as the backend.

Before changing the backend, I had a working waveform with a play-pause button. Now,

[2017-05-15 07:35] katspaugh commented on #1090
@thijstriemstra good idea!

[2017-05-15 08:46] wangzhaoming132 commented on #1085
@entonbiba
It's the latest version , The function I want to implement is the custom start position line.

 var wavesurfer = {};

	 function wavesurferInit(data){

		 var kwdEn = data.kwdEn;
		 wavesurfer = Object.create(WaveSurfer);

		 wavesurfer.init({
			  container: 'div.wave',
			  waveColor: 'violet',
			  progressColor: 'purple',
			  height: 128,
			  cursorColor: '#ff0000',

			});

		//语

[2017-05-15 17:17] X-Raym commented on #537
@katspaugh Web Audio is needed for decoded the audio to generate the peaks, but what if we already have the peaks ?
It doesn't seems to work either (just a thin line is drawn).

Is it possible to make IE works with cached peaks loading, without using the flash based fallback ?

Thanks for your support !

[2017-05-15 17:21] X-Raym commented on #389
@morganwildermuth Hi ! I face the same issue (I have the array of peaks, but they are not loaded in IE), how did you solve that ? do you have any code to share ? :)

[2017-05-15 18:59] davidchalifoux commented on #1082
+1 on the need for updated documentation.

[2017-05-16 00:47] entonbiba commented on #1084
@gitdisrupt looks fine to me, can you create a pull request for it?

[2017-05-16 00:48] entonbiba commented on #952
@matt3224 hmm, and the dev console doesn't return any errors or warnings in safari?

[2017-05-16 00:51] entonbiba commented on #1067
@X-Raym yea the pr #1072 should provide backwards compatibility for the getPeaks method. Once it's pushed to cdnjs we can test it with my sample:

http://codepen.io/entonbiba/pen/PmpXqJ

[2017-05-16 00:56] entonbiba commented on #1082
@agamemnus you can use the following.
https://www.npmjs.com/package/audio-pcm-format

[2017-05-16 01:03] entonbiba commented on #1083
@agamemnus I created the following pr to fix this issue #1094

[2017-05-16 01:06] X-Raym commented on #1067
@entonbiba Cool, can't wait to see that in action ! 👍

[2017-05-16 01:15] entonbiba commented on #1089
@aaagepard @thijstriemstra I've updated the microphone sample, will test it on chrome since it's not working for me on chrome at the moment.
https://codepen.io/entonbiba/pen/ZKRgvZ

[2017-05-16 09:41] aaagepard commented on #1089
@entonbiba , new sample (https://codepen.io/entonbiba/pen/ZKRgvZ) works for me in Chrome 58.0.3029.110 (64-bit) Windows 7
But do not works in FireFox 53.0.2 (32-bit) Windows 7

[2017-05-16 10:28] matt3224 commented on #952
@entonbiba nope absolutely nothing, it's like it's just dead. Even in the dev tools timelines the only thing that happens is that the button being pressed in causes a repaint of that button. No js runs though, weird

[2017-05-16 15:37] olegafx opened #1095 "Question: separately control channels volume"
I'm trying to set different volume levels to each channel.
It works ok, but audio output is mono.

So, I have 2 questions:
1) Could you help me to output 1st channel as left one, and 2nd channel as right one?
1) What's the correct way to pass params to a filter? For example, `merger` needs 2nd and 3rd params of `connect`.
2) What's the correct order of `setFilters` params array?

### Wavesurfer.js

[2017-05-16 22:07] entonbiba commented on #952
@matt3224 I'll test it today on the mac and see what is happening.

[2017-05-16 22:38] entonbiba commented on #952
@matt3224 I found that the buffer length is returning undefined in safari for the getPeaks method. I'll see what can be done to fix it for safari.

[2017-05-16 22:45] entonbiba commented on #1093
@davidchalifoux can you post the code on codepen?

[2017-05-16 23:23] entonbiba commented on #952
@matt3224 ok it should be fixed with my pr #1096

[2017-05-16 23:36] entonbiba commented on #443
closing, working fine on chrome 59+

[2017-05-16 23:36] #443 closed

[2017-05-16 23:41] entonbiba commented on #1055
closing, will continue on issue #1067 if pr #1072 doesn't fix it 100%

[2017-05-16 23:41] #1055 closed

[2017-05-16 23:46] entonbiba commented on #1084
@gitdisrupt I say let's create a util method for `requestAnimationFrame = window.requestAnimationFrame || window.webkitRequestAnimationFrame;` instead and just reference via `this.util.requestAF(functionhere(this));` method. This way it will automatically set it to null in the util method.

[2017-05-17 01:48] davidchalifoux commented on #1093
@entonbiba hey, thanks for the reply. I just tested it out in a JSFiddle and got things to work. I have a suspicion that I accidentally included only `mediaelementplayer.js` instead of `mediaelement-and-player.js` I'm gonna go back and try it again within my project.

On a side note, do you have a suggestion for having only one sound be able to play at a time? If my project includes a feed of soun

[2017-05-17 02:24] #1093 closed

[2017-05-17 02:46] entonbiba commented on #1068
@lararogu you can do the following
[code]

[2017-05-17 07:06] rkuhl opened #1099 "ES6 beta - problems Safari"
Great library!
Using the ES6 beta ver `2.0.0-beta01`
Noticed some problems on Safari v 10.0.2
[code]
On Safari I get an error:
_IndexSizeError (DOM Exception 1): The index is not in the allowed range._
Everything works just fine on Chrome / Firefox.
Thanks for your assistance!

[2017-05-17 13:33] huhhw commented on #435
I use Web Audio API test to find out：The memory leak is caused by decodeAudioData，But I do not know how to solve this problem：
var ac=new window.webkitAudioContext();

[2017-05-17 13:37] huhhw commented on #435
I use Web Audio API test to find out：The memory leak is caused by AudioContext.decodeAudioData，But I do not know how to solve this problem.Who has any way to solve this memory problem, thank you very much。

[2017-05-17 14:18] X-Raym commented on #1067
@entonbiba In which version this will be merged ? 1.4.1 or 1.6 ?

[2017-05-17 14:53] huhhw commented on #326
I used the test, the memory will sometimes be released, but this probability is very low, most of the test or will not be released,

[2017-05-18 16:00] katspaugh commented on #1084
This looks cool, @gitdisrupt, thank you very much!

@entonbiba I agree. Actually setting to null looks like some black magic. Does it really do anything? Doesn't the `requestAnimationFrame` release the callback (along with the scope) after executing it once?

[2017-05-19 16:59] #1083 closed

[2017-05-19 22:02] entonbiba commented on #1099
#1102

[2017-05-20 09:29] mspae commented on #1099
Should be fixed once #1102 is released.

[2017-05-22 08:32] andrewex commented on #761
Any luck getting this to work with Ionic 3?

[2017-05-25 15:49] Fiorello commented on #1067
Hi, if it helps someone, I found a temporary fix
in drawBuffer function (line 321) the call to drawPeaks pass start and end arguments, instead i use:

[code]

[2017-05-25 18:49] X-Raym commented on #1067
@Fiorello Thanks, this can be useful, temporary !

If it was just this ismple line of code to fix, I wonder how close it is to fix the actual problem. :)

[2017-05-27 06:08] agamemnus commented on #1084
Yes, I see a lot of memory leaks on destroy in relatively young libraries, too.

Setting those values to null won't do anything.

PR coming...

[2017-05-27 18:14] agamemnus commented on #1082
This is confusing.

What am I supposed to use https://www.npmjs.com/package/audio-pcm-format for?

In another thread/issue, someone mentioned https://github.com/bbc/audiowaveform to get the peaks. I don't know what audio-pcm-format is supposed to do or what exportPCM is supposed to do. If I am using audiowaveform, why do I need the others? I am very lost here.

[2017-05-29 15:32] puijob opened #1108 "On minimap, the container parameter has no effect"
On minimap, the container parameter has no effect, and the minimap is always created inside the main waveform container.

I've found a reference on this issue, but no answer:
https://github.com/katspaugh/wavesurfer.js/issues/954#issuecomment-276895818

[2017-05-29 20:40] agamemnus opened #1109 "toggleInteraction () --> should this be more specific?"
I figure that maybe some plugins would like to use that state to determine if they should be running mouse events. But that needs specific code and it isn't implemented for e.g. the region plugin.

I was thinking that maybe there should be a separate command specifically to prevent the cursor from moving on click. That would help with the logic for my region plugin integration, since I don't want

[2017-06-02 02:25] entonbiba commented on #1082
@agamemnus that library is for nodejs didn't you ask for that? It will return the pcm json data from the serverside for faster rendering.

[2017-06-02 02:31] entonbiba commented on #1067
#1072 has already been merged, but cdnjs version is still 1.4 at the moment.

[2017-06-02 07:55] X-Raym commented on #1067
@entonbiba Thanks for the news, I hope it could be put in CDN soon so we can test it 👍

[2017-06-02 22:03] taylorvc commented on #1067
Hi, I pulled from the master branch which has #1072 merged, however I am still experiencing this issue with waveform not fully rendering when loading peaks.

![image](https://cloud.githubusercontent.com/assets/23530071/26746484/973308f8-47a4-11e7-95c6-57bdae95f13d.png)

[2017-06-03 01:18] entonbiba commented on #1067
@taylorvc hmm can you post the code on codepen?

This is the example I created a while back, do you get the same result here?
https://codepen.io/entonbiba/pen/PmpXqJ

[2017-06-03 01:24] entonbiba commented on #1108
@thijstriemstra shouldn't it be something like:
`this.container = this.params.container || wavesurfer.drawer.params.container` ?
This way you can specify where you want the minimap to actually display and default with set it within the wavesurfer container?

[2017-06-03 15:55] laudmusic opened #1111 "Help Getting It To Work"
Hello...

I'm new to this and trying to follow the turorials to get it to work and it doesn't render. Is there a step by step process that's available, more detailed than the pages you have?

Much appreciated.

Thanks

Michael

[2017-06-03 21:08] agamemnus commented on #1111
I'd suggest that you try one of the codepen examples and slowly convert it to what you have. That way, you will find where you break it.

[2017-06-05 16:53] taylorvc commented on #1067
@entonbiba https://codepen.io/taylorvc/pen/OgPzVG
This is using the wavesurfer.min.js file I pulled from the master branch, also to generate my peaks I used the following command:
`audiowaveform -i '.$filepath. ' --pixels-per-second 10 -b 8 -o '.$json`

[2017-06-05 20:07] laudmusic opened #1113 "Stand Along Operation"
Hello...

Looking to download all components and run on my local server (MAMP for testing at the moment). What do I need to download and amend in the code so it will not go outside my domain for dependencies? I want to work on this on my community in and do not have internet access during this time.
Been trying to figure it out, but not working.
Is there some dependence that also needs to be insta

[2017-06-06 02:41] entonbiba commented on #1067
@taylorvc yes I now get the same result. When the window is full width of the screen it works correctly. Once it's smaller and you reload, it doesn't add the last part of the waveform. I'll see if I can create a quick pr fix in a couple days.

[2017-06-06 03:39] entonbiba commented on #1067
pr created to fix this issue #1114
preview: https://codepen.io/entonbiba/pen/PmpXqJ

[2017-06-06 11:18] X-Raym commented on #1067
@entonbiba Peaks loading seems good, waveform resize seems to also works... I think you nailed it ! Many thanks for that ! Can't wait for the see the new official version with this fix 👍
Cheers !

[2017-06-06 16:39] taylorvc commented on #1067
@entonbiba Thanks for the quick response! I tested it with the original file (which is ~3 min long) and it works great with the resize. However, I then tested it with a larger file ~20 min long and it still had the error. I looked at your fix and increased the width value from 9999 to 99999 on my local machine and it was able to render properly. Just thought I'd let you know, it seems to still be

[2017-06-06 16:57] X-Raym commented on #1067
@taylorvc Thanks for debugging !
Maybe 99999 is not enough in certain circumstances... ? Maybe there is a more reliable way (without arbitrary limit) to set this number ?

[2017-06-06 22:24] entonbiba commented on #1067
@X-Raym @taylorvc yea just a quick fix for now, I might set it to be `end * length` which should always be enough to render properly.

[2017-06-06 22:29] X-Raym commented on #1067
@entonbiba ok this will help, some of my users have more than 1hour audio. 🐱  Thanks again for your support !

[2017-06-06 22:30] entonbiba commented on #1067
@X-Raym @taylorvc May you guys test it with the files now.
 https://codepen.io/entonbiba/pen/PmpXqJ

[2017-06-06 23:53] taylorvc commented on #1067
@entonbiba The fix of setting the end value to 'end * length' works great! For rendering the peaks and resizing. Thank you so much for the quick help on this :)

[2017-06-06 23:56] entonbiba commented on #1067
closing, fixed once pr #1114 is merged. re-open if issue persists after merge.

[2017-06-06 23:56] #1067 closed

[2017-06-06 23:58] entonbiba commented on #1111
@laudmusic here are a few samples:

minimap
https://codepen.io/entonbiba/pen/ggeGyG

timeline
https://codepen.io/entonbiba/pen/xgmqmv

microphone
https://codepen.io/entonbiba/pen/ZKRgvZ

[2017-06-07 00:20] entonbiba commented on #1113
@laudmusic you can just download the files in the dist folder and reference those locally.

https://github.com/katspaugh/wavesurfer.js/tree/master/dist

[2017-06-08 00:05] agamemnus commented on #1082
None of this really works how it should.
1) I do not know how to properly install the audiowaveform program.
2) I tried `audio-pcm-format`, but setting a sampleRate of 44100 gave me an out-of-memory error.
I tried a sampleRate of 50 and used the wavesurfer code, but the result had one or two big peaks that made the whole thing really small when normalized.

[2017-06-08 00:59] disdyakis opened #1118 "Background Color Parameter"
My project calls for being able to export an image with a background color, which is only do-able if the drawer itself gets changed. I'm in the process of adding this – it's like, really straight-forward. Just wanted to know if this is something I should make a pull request for/was a feature that would be wanted by others.

[2017-06-08 02:02] agamemnus commented on #1082
Okay. So I took the getPeaks code and I made it into a stream/chunk mechanism. I'm still improving on it and I'll post it later. Ideally, in the future, could just include wavesurfer.js and run getPeaks with a parameter...

[2017-06-08 19:56] thijstriemstra commented on #1118
PRs are always welcome.

[2017-06-09 01:39] agamemnus commented on #745
Also, if you're using a `MediaElement` as the backend, and your audio is not streamed/ (chunked?), you won't be able to set the currentTime...

[2017-06-10 23:50] agamemnus opened #1119 "Why is the progress wave on a different level vs. the regular wave?"
[code]

This doesn't seem very development-friendly.
And another, related question: why is the progress wave drawn over the regular wave? This makes it "bleed"...

I am currently modifying this... will send a PR in a few minutes.

[2017-06-11 02:12] agamemnus commented on #1119
I re-worked it, but it's blocked by https://github.com/katspaugh/wavesurfer.js/pull/1106....

[2017-06-11 19:55] X-Raym commented on #1067
@taylorvc Did you see any error with the fix proposed by @agamemnus on the pull request page ? https://github.com/katspaugh/wavesurfer.js/pull/1114#issuecomment-306908134

[2017-06-11 20:57] agamemnus commented on #1067
Ah, so that's what it's about. It seems that @entonbiba's fix does fix that particular issue, but it seems like a weird way to solve it...

[2017-06-12 00:50] agamemnus commented on #1119
https://github.com/katspaugh/wavesurfer.js/pull/1121.

[2017-06-12 12:14] aaagepard commented on #1089
Hello! Any news?

[2017-06-12 14:29] aaagepard commented on #1089
May be it will help.
I made some debug and got that in FF we cant got data from Channel when we are trying to redraw area.

if file wavesurfer.microphone.min.js::reloadBuffer I added this code

[code]

I got data in Chrome,

![wavesurfer js - microphone plugin sample - google chrome](https://user-images.githubusercontent.com/25985568/27038772-9b1f1388-4f94-11e7-9d38-efd6fc394c56.jpg)

but empty ar

[2017-06-12 16:06] taylorvc commented on #1067
@X-Raym @agamemnus Please refer to my comment on #1114 but the secondary fix `end = width - 1` does not work for my use case.

[2017-06-12 16:11] thijstriemstra commented on #1089
Can't reproduce it on firefox 53.0.3 on Ubuntu 16.04..

[2017-06-12 16:14] aaagepard commented on #1089
I tested on Windows 7.

[2017-06-12 16:16] thijstriemstra commented on #1089
Yea so it's an issue with that browser on that platform. Have you tried searching the firefox bugzilla for similar bug reports related to win/microphone?

[2017-06-12 16:28] aaagepard commented on #1089
seems there are no similar bug reports in bugzilla....

[2017-06-12 16:37] thijstriemstra commented on #1089
Can you reproduce it on other platforms? OSX? Eventually I would suggest opening a ticket in the firefox bugzilla..

[2017-06-12 20:41] #1111 closed

[2017-06-12 20:42] #1113 closed

[2017-06-12 22:18] entonbiba commented on #1089
@thijstriemstra  just tested on firefox 53.0.3 windows 10.

@aaagepard
Go here and preview the mic code: https://www.entonbiba.com
Are you getting the following popup in firefox? Make sure your mic recording is turned on.
![image](https://user-images.githubusercontent.com/5193884/27057696-3b53f1f6-4f9b-11e7-9ad8-e0e2fefa679c.png)

![image](https://user-images.githubusercontent.com/5193884/27057727

[2017-06-12 22:19] entonbiba commented on #1082
@agamemnus what kind of ram/cpu are you running it on?

[2017-06-12 22:29] entonbiba commented on #900
closing #941 fixes this

[2017-06-12 22:29] #900 closed

[2017-06-12 22:42] entonbiba opened #1123 "Comment Snippet for Code"
Let's use the following snippet as a standard if we want to add comments to certain sections in our codes.

This is based on jsdocs.
http://usejsdoc.org/index.html

- just comment
[code]

- with params
[code]

- no params just return
[code]

- with params and return
[code]

[2017-06-12 22:48] thijstriemstra commented on #1089
@aaagepard is on windows 7 though..

[2017-06-12 22:56] thijstriemstra commented on #1090
Perhaps something that can be done (or is already done) in v2.. @mspae?

[2017-06-12 23:45] thijstriemstra commented on #1080
@mspae see #1090 for the docs issue.

[2017-06-13 01:18] agamemnus opened #1124 "seekTo's .progress call makes cursors not appear immediately."
For WebAudio:

1) On click, the code hits the` seekTo` function.
2) seekTo does `this.drawer.progress(this.backend.getPlayedPercents())` to set the cursor progress in the drawer.
3) `this.backend.getPlayedPercents()` uses the duration to get the return value.
The duration is 0 because audio didn't load yet,  since it only loads on an "interaction" (a click), I guess for optimization reasons.
4) Th

[2017-06-13 02:15] thijstriemstra commented on #1123
Sounds good. Documenting this somewhere would be good.

[2017-06-13 02:20] thijstriemstra commented on #1124
Please illustrate this with code or video/image footage, not sure what you mean..

[2017-06-13 02:35] agamemnus commented on #1124
That's too much work..

When I have peaks pre-loaded, the cursor doesn't show up when I click on the wave until the audio data is finished loading.

[2017-06-13 11:19] aaagepard commented on #1089
@entonbiba yes, I got mic popup in FF.

![enton biba - codes - microphone plugin sample - mozilla firefox51616489489](https://user-images.githubusercontent.com/25985568/27080093-17882dde-5043-11e7-87bd-5bb7af63a02c.jpg)

Hm. I tested on other laptop with Windows 7 and FF 53.0.3 and it works FINE.  So it is very strange, why it dont work for my PC(but works in Chrome). will reinstall FF may be.

[2017-06-13 14:32] thijstriemstra commented on #1089
Good to hear.

[2017-06-13 14:32] #1089 closed

[2017-06-14 15:34] tf opened #1127 "Add a method to redraw wave form"
It would be nice if there was an API method to manually trigger redrawing the wave form. I mainly see two use cases:

**Responsiveness** Projects like `react-wavesurfer` already [use `drawBuffer`](https://github.com/mspae/react-wavesurfer/blob/master/src/react-wavesurfer.js#L76) to redraw the wave form once the container size has changed. As described in [this issue](https://github.com/mspae/react

[2017-06-15 15:10] glebm opened #1134 "Re-declared unused argument in Spectrogram.resample"
On [wavesurfer.spectrogram.js:300](https://github.com/katspaugh/wavesurfer.js/blob/d9f3394a808cb127c8ae07aed655a2ffc94c2397/plugin/wavesurfer.spectrogram.js#L300) the `columnsNumber` argument is re-declared:

[code]
I am not sure what the intent was here, but this prevents the code from compiling in TypeScript with the following error message:

[code]

[2017-06-15 16:15] akreal commented on #1134
I'm the original author of this function and I can't recall the details. This argument is not passed in function call now and I guess I used it during development and just forgot to remove it.

[2017-06-15 16:53] glebm commented on #1134
@akreal Thanks, sent #1135

[2017-06-15 18:15] lukewduncan commented on #761
Anyone have any luck? I have it working in the browser but no mobile

[2017-06-15 21:53] agamemnus commented on #1124
@entonbiba I think it's also a bug.

[2017-06-16 09:33] glebm opened #1136 "progressColor not rendered on master for MultiCanvas"
progressColor is no longer rendered on the current master with MultiCanvas.
It does work with the Canvas renderer.

Works on 1.4.0: https://codepen.io/glebm/pen/KqNJwe
Does not work on master: https://codepen.io/glebm/pen/vZybKy

The culprit is https://github.com/katspaugh/wavesurfer.js/pull/1112 @agamemnus

[2017-06-16 10:47] agamemnus commented on #1136
Oh, I guess that slipped in while I was working on something else. I had
increased the zIndex of both the top elements for the progress wave and the
normal wave but I guess I forgot to decrease it back for the normal wave.

On Jun 16, 2017 6:14 AM, "Gleb Mazovetskiy" <notifications@github.com>
wrote:

progressColor is no longer rendered on the current master with MultiCanvas.
It does work with the

[2017-06-16 11:12] agamemnus commented on #1136
I added https://github.com/katspaugh/wavesurfer.js/pull/1137 to fix this, although my rework at https://github.com/katspaugh/wavesurfer.js/pull/1132 should make that PR moot...

[2017-06-16 12:11] #1134 closed

[2017-06-16 12:48] agamemnus commented on #1127
My PR (here: https://github.com/katspaugh/wavesurfer.js/pull/1133) lets you put elements under the waveform, so you don't need to redraw it. FYI.

[2017-06-16 13:04] tf commented on #1127
@agamemnus interesting idea. Thanks for the heads up. This would still only work if the wave is placed on a background that matches the color used for the "inverted mask" in the canvas, right? In my case there is a large background image behind the wave.

[2017-06-16 13:26] agamemnus commented on #1127
Well, that is true. But you could also modify it to make the mask an image instead of a colored rectangle...

[2017-06-16 14:43] tf commented on #1127
@agamemnus I'm sure there are cases where this would work, but in my case the background image is really dynamic and unrelated to the waveform. So I think the suggested API additions still make sense.

@katspaugh Looking a bit further, I found that calling `drawBuffer` originally worked. Adapting the minimal example that I [posted before](https://codepen.io/tfischbach/pen/PjGQgX) to [use 1.2.8](ht

[2017-06-16 15:04] agamemnus commented on #1127
I actually added clears to both drawwave and drawbars in a recent PR. Hmm.

On Jun 16, 2017 10:43 AM, "Tim Fischbach" <notifications@github.com> wrote:

[2017-06-16 15:37] glebm opened #1138 "Lots of redeclared variables in the Spectrogram plugin"
@akreal

These are the errors I'm getting at the current master:

[code]

[2017-06-16 17:08] agamemnus commented on #1138
Well, it's not a Javascript error.

[2017-06-16 19:35] glebm commented on #1138
It's still a good thing to fix, as it doesn't make sense to redeclare variables

[2017-06-16 19:38] agamemnus commented on #1138
Sometimes, though, it is better to declare variables twice, for purposes of clarity... for example:
[code]

Of course you can just declare ``var b`` at the top, but then you are adding an extra line that does nothing.

[2017-06-16 19:45] agamemnus commented on #1138
(Although here arguably they probably shouldn't be there, and the last one is a straight up ???).

[2017-06-16 19:54] glebm commented on #1138
Perhaps, but in this case it's

[code]

which does not make sense unless a is already defined

[2017-06-16 19:59] glebm commented on #1138
Yeah the last one is confusing.

[2017-06-17 00:48] benallfree opened #1139 "Add wavesurfer-peakbuilder and gulp-wavesurfer-peakbuilder packages"
There is also a [wavesurfer-peakbuilder](https://github.com/benallfree/wavesurfer-peakbuilder) package for building peaks and a gulp package, [gulp-wavesurfer-peakbuilder](https://github.com/benallfree/gulp-wavesurfer-peakbuilder) to build JSON peak files.

This work with `audiowaveform` to convert its output into wavesurfer-compatible peaks.

[2017-06-17 00:52] agamemnus commented on #1127
@tf: A little lost but why drawbuffer and not drawPeaks?

@katspaugh: Would it make sense to put `WaveSurfer.util.frame` into drawBuffer instead of drawBars/drawWave? Also, maybe the channel splitting could be done there too? What do you think?

Also, instead of setWaveColor, maybe getters/setters might be more interesting... some of my recent PRs for example link up cursorColor and the actual cur

[2017-06-17 02:45] agamemnus commented on #1127
@katspaugh --> https://github.com/katspaugh/wavesurfer.js/pull/1132

[2017-06-17 08:39] agamemnus commented on #1139
I have had a lot of trouble getting audiowaveform to work on CentOS.

[2017-06-17 09:45] agamemnus commented on #1124
Actually, it looks like there is more than one issue here. I fixed it, but probably made it even more dodgy.

[2017-06-17 12:30] akreal commented on #1138
There are no good reasons for these redeclarations.

[2017-06-17 14:08] benallfree commented on #1139
@agamemnus The pcm package and a code sample would be a great addition to the waversurfer.js docs. I'm not clear if the sample rate and channel count needs to be known, or if it pcm can auto detect.

My package auto-chunks based on how many peaks you want (default 300).

[2017-06-17 14:51] matixmatix opened #1140 "Web Audio Partial content (byte range requests) + preloaded peaks"

[2017-06-17 14:52] #1140 closed

[2017-06-17 14:59] matixmatix opened #1141 "Web Audio Partial content (byte range requests) + preloaded peaks"
I'm about to start implementing a music player with a waveform and I have these requirements:

- Passing pre-generated peaks for Web Audio (will be generated in the backend)
- Playing (seeking) should not need the whole file be downloaded, but rather issue Partial Content (206) requests to get only the range needed.

I read through the documentation and spend some time reading through issues, but

[2017-06-17 20:32] agamemnus commented on #1138
Ok. I agree in this case...

On Jun 17, 2017 9:34 AM, "Pavel Denisov" <notifications@github.com> wrote:

There are no good reasons for these redeclarations.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/katspaugh/wavesurfer.js/issues/1138#issuecomment-309212333>,
or mute the thread
<https://github.com/notifications/unsubscribe-

[2017-06-17 22:05] agamemnus commented on #1141
There are a few small bugs when loading with peaks but they are a mostly a nuisance... I have PRs for them in queue. My version is at https://github.com/agamemnus/wavesurfer.js/blob/master/dist/wavesurfer.js. In terms of peakgeneration, I'm currently working on refining my code, but just below you is another way: https://github.com/katspaugh/wavesurfer.js/issues/1139.

[2017-06-18 09:01] matixmatix commented on #1141
@agamemnus could you please explain these bugs (or link to PRs)?

Also, does preloading peaks and using Web Audio support partial content loading (when seeking/scrubbing)?

[2017-06-18 10:32] agamemnus commented on #1141
It seems to. Hard to explain the prs briefly. I'm actually still working on
some of them...

On Jun 18, 2017 5:02 AM, "Matic Jurglič" <notifications@github.com> wrote:

[2017-06-18 14:23] sanjay-94 opened #1143 "Show time stamp when I hover mouse"
On my waveform, there is a cursor that shows the current progress of the audio. I want a second cursor to be shown when I hover over the waveform which shows the time stamp of the hovered position. Its exactly like the picture shown in this repository's markup image. The red cursor. How do I show a second cursor with the time stamp of the hovered position?

BTW this library is really cool! You are

[2017-06-18 16:41] Graghav commented on #761
![img_1516_1024](https://user-images.githubusercontent.com/5223649/27262330-13bd6916-5472-11e7-80eb-850e4646595e.jpg)
@lukewduncan I was able to use Wavesurfer successfully with Cordova 7.0.1.

`<div class="audio_card card">
        <div id="waveform" class="waveform"></div>
  </div>`

In Controller,
`var wavesurfer = WaveSurfer.create({
					container: '#waveform',
					waveColor: 'white',
					p

[2017-06-18 16:46] lukewduncan commented on #761
@Graghav have you done anything special to the div your attaching Wavesurfer too? (maybe specific css or using something other than a div).

It's so weird that I can see it on the browser (chrome) but when I run the application on a device, no show. But thanks for providing the example, I'll just copy the exact Wavesurfer class you have and load everything that way.

[2017-06-18 17:08] Graghav commented on #761
@lukewduncan I have made the waveform element as absolute with the parent card being relative and gave a z-index of 100 to the waveform element,

[code]

[2017-06-19 01:25] lukewduncan commented on #761
@Graghav have you tried on android, or only on iOS?

[2017-06-19 16:38] Graghav commented on #761
@lukewduncan I am using it on iOS. Let me try on Android and update you.

[2017-06-20 08:53] Graghav commented on #761
@lukewduncan Tried on Android and it works fine

![screenshot_2017-06-20-14-20-15-279_1024](https://user-images.githubusercontent.com/5223649/27324789-e18928e2-55c3-11e7-95a9-3fc8895df320.jpg)

[2017-06-20 10:52] tf commented on #1127
@agamemnus `drawPeaks` is a method on `drawer` and should therefore not be part of the public API, I guess. `drawBuffer` calls `drawPeaks`, though.

@katspaugh I've created a PR (#1144) with a possible solution for the redrawing bug.

Moreover, in #1145 I've introduces getters and setters for `height`, `waveColor` and `progressColor` following the same API schema already used for methods like `get

[2017-06-20 20:31] jeremylach commented on #149
@jsphweid Have you done any more work on this?

[2017-06-21 12:12] jsphweid commented on #149
@jeremylach I'm afraid not. I'm too green in DSP to code this at the moment. Don't count on me :/

[2017-06-21 17:46] tf commented on #1127
So in the end I did now send a PR that introduces a new `refresh` method since only calling `drawBuffer` does not update the progress canvas width correctly if the container width changed.

[2017-06-22 01:58] entonbiba commented on #1143
@sanjaykumara1994 have a look at this sample, you can change it to make it display the time based on where the user hovers.
https://codepen.io/entonbiba/pen/KaymLp

[2017-06-22 08:24] agamemnus commented on #1127
Oh. I haven't tried changing the size of the container.

If you use a function-based get/set, instead of overwriting the getter and setter, the params are treated as throwaway variables, or they are not in sync. With my method, they are in sync.

I also feel like `refresh` might be too vague. Why not make drawBuffer update the progress canvas width correctly if the container width changed?

Here's

[2017-06-22 09:57] tf commented on #1127
`drawBuffer` is used in a lot of different places. I'd be afraid to introduce performance regressions by also updating canvas width in all of those cases.

[2017-06-22 16:23] sanjaykumara1994 commented on #1143
Hi @entonbiba ,
Thanks for the input. But I don't want the current audio time on the tooltip. I want the tooltip to show the hovered positions time.
For example, suppose the audio is 4 mins long and the waveform cursor is at 13 seconds and progressing. Now i move my mouse pointer to the centre of the waveform. Then another waveform cursor should pop up with a tooltip showing the time at that point

[2017-06-22 17:20] agamemnus commented on #1127
If the container width changed, then you would have no choice, though.

[2017-06-24 11:44] matixmatix opened #1147 "When providing preloaded peaks with MediaElement, the peaks are overwritten once the track loads entirely"
I'm using wavesurfer.js 2.0.0-beta01, `MediaElement` as a backend, and providing preloaded peaks.

When the track starts playing, the provided peaks are shown OK. But after the whole track gets downloaded, peaks generated by wavesurfer.js are shown over preloaded peaks.

I replicated the issue here: https://codepen.io/newjurgen/pen/KqvYxO (the track is around 20MBs, it can take a little while to l

[2017-06-24 12:05] matixmatix commented on #1147
Seems it only happens with `MediaElement`. But I need this option because it enables partial content loading..

[2017-06-24 12:29] matixmatix commented on #1147
I solved the issue by adding a parameter when initializing: `forceDecode: false`. I thought this parameter defaults to  `false`? Looking at this code, it truly looks so: https://github.com/katspaugh/wavesurfer.js/blob/master/src/wavesurfer.js. But somehow the `forceDecode` gets the value `true`, even when leaving it out when initializing. Not sure how this happens, looks like a bug.

[2017-06-25 03:35] kaicarver commented on #149
I also want to change rate while preserving pitch, and FYI I just found a way to do it with wavesurfer.js: just specify this initialization option in the `create() ` call: `backend: 'MediaElement'`.

I can't be the only person stymied and baffled by the differences between the HTML `<audio>` element and the Web Audio API. By default, wavesurfer uses WebAudio as a backend, but if I understand corre

[2017-06-25 15:35] thijstriemstra commented on #1139
@benallfree add where? to the wiki? or include in the project?

[2017-06-25 16:17] Arkeyve commented on #1143
You can use the `layerX` property of mouse events.

When mouse enters the waveform div, to get the time at the location cursor is present, compute `(event.layerX / wavesurfer.drawer.width) * wavesurfer.getDuration()`. You will get the time in seconds.

[2017-06-25 16:22] benallfree commented on #1139
Sorry right. https://wavesurfer-js.org/projects/ says:

That's what I was trying to do.

I see now that `gh-pages` contains the site, so I'll just send a PR. We can close this ticket.

[2017-06-25 16:22] #1139 closed

[2017-06-25 18:02] thijstriemstra commented on #1147
@entonbiba any idea?

[2017-06-26 08:27] dimidd opened #1148 "Get the current region"
Hi, is there an easy way to get the current playing region, i.e. the smallest region that contains the current time? I've thought iterating through `wavesurfer.regions.list` and for each region compare the start and end to the current time. Is there a better way?

[2017-06-26 15:38] arianestolfi opened #1149 "Transparent background on canvas"
Hi!
can you tell please how to make a wavesurfer instance on a transparent canvas,
as on the https://wavesurfer-js.org/ website?

thanks you a lot for developing this awesome tool!

A.

[2017-06-27 15:46] dimidd opened #1150 "Get the actual pxPerSec"
Hey,

I've written a function that zooms-in and out, by increasing/decreasing the current `minPxPerSec`.   The default value is 20, so I expected `wavesurfer.zoom(20)` to have no effect, however it actually zooms out. Is there way to get the actual `pxPerSec` rather than `minPxPerSec`?

[2017-06-27 23:56] jeremylach commented on #149
This does work @kaicarver however MediaElement does cause other bugs I've noticed.

[2017-06-28 08:00] mniemiec92 opened #1151 "Problem on Safari"
Hi, I have mp3 record from database in base64 format : "data:audio/mp3;base64,GkXfo59ChoEBQveBAU...."
on Chrome, Firefox and Opera wavesurfer is working great, record is playing but on Safari there is only one second of cracling. On Edge its not working at all. Have You any solution for my problem ?

[2017-06-30 00:23] asdfang opened #1155 "Loading from float array"
The docs give an option to load an audio file from a url (ex: wavesurfer.load('audio.mp3'),
but I currently have a Float32Array holding the raw audio data. Is there a way to load from that?
I tried making a Blob of the array and using loadBlob:
[code]
and I keep getting this error: "Uncaught (in promise) DOMException: Unable to decode audio data"
I've tried also variants such as createObjectURL fr

[2017-06-30 08:28] piem opened #1156 "create a wavesurfer instance before the container exists?"
hi,

I'm using 2.0.0-beta01 from a react app.

This works well when calling `WaveSurfer.create` from `componentDidMount()`, which is called after `render()`.

[code]

But this prevents passing the wavesurfer instance to the children components. In the above case, `ChildComponent` will get `ws=null`.

Is there a way to (partially) create the instance before the container exists?

cheers, piem

[2017-06-30 08:38] #1151 closed

[2017-07-01 18:34] piem commented on #825
hi all. any chance 4ee2b298 could be merged in the `next` branch? atm, the regions are updated only when zooming in, not when zooming out. the timeline plugin also appears to have a similar issue.

[2017-07-02 18:31] #1138 closed

[2017-07-02 18:48] #952 closed

[2017-07-02 19:02] #1136 closed

[2017-07-03 14:46] ZachSaucier commented on #107
I created a streamer-type of format using wavesurfer by sending a bunch of short audio clips from the server. On the frontend I received these pieces, aligned a bunch of wavesurfer elements inline, and listened to the stop event in order to know when to play the next section. Let me know if you need more detail.

[2017-07-03 16:47] entonbiba commented on #1147
@thijstriemstra it's actually set to true in version 2 by default, I don't see anywhere that it gets the parameter from the initialize. I'll create a pr with a proposed fix.

![image](https://user-images.githubusercontent.com/5193884/27801706-70600bde-5fed-11e7-8d04-52be02f7430e.png)

[2017-07-04 10:53] inigoiparragirre commented on #805
Hi, I'm using wavesurfer with autocenter option set to true. I also perceive that when zooming in the application  the bar goes faster and it goes to the right. Any clues how this can be solved? Must recenterOnPosition method be fixed?

Hope this can be solved, thanks! If I have time I will try to check deeper.

[2017-07-04 15:40] raunofreiberg opened #1160 "Importing the plugin directly in webpack doesn't work without an alias"
Because the directory is called `wavesurfer.js` this causes some unwarranted action when trying to `import 'videojs-wavesurfer.js'` since it implies a JavaScript file. The fix is to add an alias to the `wavesurfer.js` directory under your webpack conf. Maybe consider changing the directory name by default so this doesn't cause issues in the first place.

[2017-07-06 13:31] tgeorge06 opened #1161 "loading wavesurfer from aws cloudfront url"
My issue is that my cloudfront url's are expiring before the audio is done playing.

My question is, after initial loading of the audio, what/why is it still trying to access the audio file from the cloudfront url?

[2017-07-07 01:21] entonbiba commented on #1161
@tgeorge06 may you provide an example of how you are using the library?

[2017-07-07 01:28] tgeorge06 commented on #1161
`		this.wavesurfer = WaveSurfer.create({
			container: '#waveform',
			barWidth: 3,
			fillParent: true,
			normalize: true,
			scrollParent: true,
			backend: 'MediaElement',
			waveColor: '#cbf2ff',
			height: 100
		});

		this.wavesurfer.load(this.objSettings.strAudioURL);

		this.wavesurfer.on('ready', function () {
			objCallDetails.setDuration($('.length-time'));

			var timeline = Object.cr

[2017-07-07 01:31] entonbiba commented on #1149
@arianestolfi by default it is transparent.

Here is an example.
https://codepen.io/entonbiba/pen/dRqYOP

[2017-07-07 01:43] entonbiba commented on #1161
@tgeorge06 you're using MediaElement which can load the metadata first and part of the audio as it plays. Try adding `preload: true;` which tells the browser that it should download the full audio.

Or

On amazon cloudfront create a behavior for audio files and change to TTL to 600 meaning 10 minutes.

[2017-07-07 02:06] tgeorge06 commented on #1161
Thank you, i'll give the preload a try tomorrow and let you know.

[2017-07-07 20:05] tgeorge06 commented on #1161
Well i've had the most success with the following

[code]
I can see it actually loading the whole file now. The issue i am having now is when i skip forward (or it plays through overtime) it is still retrieving either metadata or waveform data from the cloudfront url.

[2017-07-08 16:53] entonbiba commented on #1161
@tgeorge06 webaudio needs to download the full audio first, how big is your audio file?

[2017-07-09 02:33] aahedi opened #1162 "How to hook into concrete peak value at playback position during playback"
Is it can do a function like this:

if the _**blue**_ line on low waveform then hide image, else show image.

repeating function on when playing audio

![wave](https://user-images.githubusercontent.com/8935884/28247530-9898b6ae-6a5c-11e7-8eb0-ad36dddf3f0b.jpg)

[2017-07-10 13:54] tgeorge06 commented on #1161
@entonbiba

around 60mb.

I've added `minPxPerSec = 3` and `pixelRatio = 1` to the options on longer audio files and just going to have to compress the .mp3's a little further and use WebAudio anyways.

I appreciate your help!

[2017-07-10 13:54] #1161 closed

[2017-07-12 15:37] Ethan0007 opened #1166 "Double Audio / Play and Paused"
Hi,

I'm trying to implement wavesurfer in knockoutJS, I'm having issue when opening new dialog(with new audio) and clicking the play and paused button the audio from the previous dialog will still play and continue and now having double audio play in one player. How can i clear or dispose the previous audio?

I implemented it through bindingHandlers.

#Thanks

[2017-07-13 03:19] Darkensses commented on #761
Thanks to @Graghav for show us that is possible and he has reason. I had error: 'Container element not found' beacuse I had a 'global variable' but it was fixed it when i wrote my code inside a method. If sombody can explain me why or which is the difference I will appreciate it :) :+1:

Correct:
![correct](https://user-images.githubusercontent.com/23271049/28148985-d7327aa4-674f-11e7-84a5-9686447

[2017-07-13 03:34] Darkensses commented on #761
@lukewduncan have you try to add permissons? if you are trying with the example you need to add 'whitelist plugin' because you are accessing to mp3 file from a http request. If your are loading file from local storage you need to add other plugins also, like 'cordova-plugin-file'. I'm not tesiting my app yet so i hope my answer be helpful.

https://github.com/apache/cordova-plugin-whitelist
https:

[2017-07-13 03:53] Ethan0007 commented on #1166
Hi,
This is solved the declaration of the var ws = Object.create(wavesurfer); its should be outside the init.

[2017-07-13 21:36] mspae commented on #1156
The `container` parameter can also be an `HTMLElement`, you could try creating one with `document.createElement('div')`, passing that as container in `constructor` and then adding it in the render call.

Haven't tested this and it's not a very nice solution.

[2017-07-14 19:56] ale-grosselle opened #1167 "Big file cause tab crash in chrome"
Hi all!
As many library wavesurfer uses xhr to get information.

When try to download a big audio file (I can't give you the exact size because depends on your ram) chrome tab crashes if exceed memory.
Safari and Firefox work fine.

So, I suggest to creare a parameter to limit the wave generation if file is over <parameter> value.
I prepare a PR with this param

#1168

[2017-07-14 19:59] ale-grosselle commented on #1167
#1168

[2017-07-14 21:03] entonbiba commented on #1167
@ale-grosselle How big is the actual file and are you using the MultiCanvas render? Can you post some sample code on how you are loading the audio?

[2017-07-14 21:18] entonbiba commented on #1162
@aahedi I wouldn't do that since sometimes the waveform needs to be 0db as there is no audio. You can use the `barHeight` parameter to increase the waveform height within the canvas.

[2017-07-14 22:18] ale-grosselle commented on #1167
My test:
- Use this file: https://qaxthron-cdn.thron.com/static/BGRPNK_170713-lazanzara-128_LHZG9Z.mp3
- In my Virtual Machine, window7, ram  2GB, chrome 59
` wavesurfer.init({
        container: document.querySelector('#waveform'),
        waveColor: '#A8DBA8',
        progressColor: '#3B8686',
        backend: 'MediaElement',
	barWidth: 3,
	waveStyle: 'soundWave'
    });
    // Load audio from U

[2017-07-15 00:20] aahedi commented on #1162
@entonbiba I try this code but not work

`function showImage() {
    var img = document.getElementById('imgku');
    img.style.visibility = 'visible';
}
function hideImage() {
    var img = document.getElementById('imgku');
    img.style.visibility = 'hidden';
}

wavesurfer.on('play', function () {
if (barHeight > 1) {showImage()}
else{hideImage()}
});`

Full source code:
[img-waveform.txt](https:

[2017-07-15 22:21] entonbiba commented on #1162
here is an example,
https://codepen.io/entonbiba/pen/VpedWZ

[2017-07-15 22:29] entonbiba commented on #107
@ZachSaucier it would be nice if you can create an example on codepen or something :)

[2017-07-15 22:42] ZachSaucier commented on #107
I don't  have a simplified (or working in the same capacity) version due to the official production server being too costly to keep running, but you can look at the JS of [this older version](https://zachsaucier.com/mv/music-generator.html) for a start/structure of the implementation.

[2017-07-16 02:01] aahedi commented on #1162
You misunderstood my question. see again my illustration. I mean when the audio is playing, if the position of the line on the low wave then the image is hidden else if high wave then image displayed.

My code: [https://github.com/katspaugh/wavesurfer.js/files/1149910/img-waveform.txt](url)

![waveform](https://user-images.githubusercontent.com/8935884/28243924-40a1591c-6a05-11e7-872e-6cc989a9de11

[2017-07-16 10:07] katspaugh commented on #1092
@mspae I've force-pushed next into the master branch, so that we can accept PRs into the next branch by default. Should've done it long ago.

How do we go about backporting the PRs that got merged into the old master?

[2017-07-18 21:02] Hokyjack opened #1170 "Determine size/time of viewed segment"
I would like to know if there is any way to determine the starting and ending time of currently viewed wave segment when using zoom/scrollbar.
I tried to compute the position of scrollbar but the the max value is not a full the total of canvas width. I am stuck.
Any idea how to implement this?
![image](https://user-images.githubusercontent.com/8573741/28339650-19b4df0e-6c0d-11e7-8120-e7c81ff0fbef.

[2017-07-19 07:13] xiaoxiaodexueyin opened #1171 "load wave speed too slow"
hello,
i load audio mp3/wav about 90M, it really need a lot of time to show the wave。but when i use <audio> tag，the speed is fast。perhaps the reason is wavesurfer download the audio?
do you have any good idea to resolve it?

If there is a mistake, please forgive

[2017-07-19 15:47] smohammedyasin opened #1172 "What is peak and how to Generate?"
Hello,
this is not a bug, this is a question
I'm very new to audio part. i got many questions come in my mind.
1)what is peak?
2)how can i generate peak format data form mp3 using c#
3)Peak data is   json array data?

4) and how can i play large(2 hours) audio while loading.
Please help me, i'm getting so much confused.

[2017-07-20 09:35] agamemnus commented on #1171
You need to pre-generate the waves.

[2017-07-20 09:38] agamemnus commented on #1172
1) The visualization of the audio.
2) Don't know.
3) No, it's just numbers in an array. Does not have to be JSON.
4) You will need to have your audio load in as a stream from your server...

[2017-07-20 09:38] agamemnus commented on #1148
Seems like the way to do it.

[2017-07-20 09:46] agamemnus opened #1173 "What is the purpose of the following code?"
https://github.com/katspaugh/wavesurfer.js/blob/master/src/wavesurfer.js#L705-L708:
[code]

This code here pauses the backend (and then later plays it) when the user does a seek/when the code runs `seekTo`.

It runs the `audioprocess` event before the seek event is run. My code depends on the seek event being first (indicating a user-controlled move).

I would like to just put the play command aft

[2017-07-20 10:29] agamemnus commented on #1173
Also, since we are here, why does the seek click event run on a 0 timeout?:
[code]

[2017-07-20 14:12] thijstriemstra commented on #1160
The directory is called `wavesurfer.js` because it's the library name, something we can't change easily (and should be unnecessary, video.js for example also seems to work fine with their directory name). So many issues with webpack, blah.

[2017-07-21 20:17] matixmatix opened #1174 "On non-retina displays, linear gradient as waveColor doesn't work, wave is blurry (2.0.0-beta01)"
In my app, wavesurfer peaks look amazing on Retina displays:

![image](https://user-images.githubusercontent.com/273660/28480486-28df0ee0-6e61-11e7-9c59-fa537ba6b3ff.png)

But when I observe the same track on inferior screens (for example, my external 1920 x 1080 monitor), this shows up:

![image](https://user-images.githubusercontent.com/273660/28480545-7acb4354-6e61-11e7-9c6b-a4b0dbbcbb93.png)

[2017-07-21 20:28] matixmatix commented on #1172
Take a look at this issue: https://github.com/katspaugh/wavesurfer.js/issues/1141

There you have links and resources explaining how to extract peaks and prepare them for wavesurfer. For playing large files before they download entirely, you can try with `MediaElement` and a server that supports partial byte range requests (I use cloudfront).

[2017-07-21 20:38] agamemnus commented on #1172
I have also found that large audio files need peak data added in chunks or there will be memory issues.

[2017-07-22 01:21] FraserThompson opened #1175 "Only part of the waveform is rendered when the browser window isn't maximized"
### Wavesurfer.js version(s):

Every version since 1.3.0 up until 2.0.0 beta. The behaviour isn't there in 1.2.8.

### Browser version(s):

Chrome 60, Edge, Internet Explorer 11, Firefox

### Code needed to reproduce the issue:
JS:
[code]

CSS:
[code]

HTML:
[code]

### Use behaviour needed to reproduce the issue:

Loading an MP3 and Waveform into Wavesurfer when the browser window isn't maximised

[2017-07-24 08:53] xiaoxiaodexueyin commented on #1171
i saw some other issues, they suggest pcm , wavesurfer-peakbuilder
but our project the audio is stored on another server......perhaps i have to download the audio first , then generate ....

[2017-07-24 13:49] smohammedyasin commented on #1172
@agamemnus , @matixmatix  is possible to show waveform half section like this site [audio mack](https://audiomack.com)
and still i'm looking for solution to convert peaks from wav or mp3 :-(

[2017-07-25 09:59] smohammedyasin commented on #1171
i believe you need to generate peaks and store in database for each audio file. and on load you need to load peaks from servers

[2017-07-29 22:26] danielfaust opened #1178 "Need to modify waveColor and progressColor after the player has initialized."
Is it possible to change the values of waveColor and progressColor after the player object has been created?

My problem is that the website background changes dynamically where under a certain condition it is bright and under another it is dark. This bright/dark change occurs with a button press. In that button handler I need to toggle the colors of the waveform from "rgba(0,0,0,0.3)" for the bri

[2017-07-31 00:45] entonbiba commented on #1178
@danielfaust can you link to the site?

[2017-07-31 00:48] entonbiba commented on #1175
@FraserThompson  this has already been fixed with pr #1114 but it hasn't been merged yet.

[2017-07-31 07:13] danielfaust commented on #1178
@entonbiba Not currently, as it's under development in the intranet and the data it contains is personal.

Basically I track a bike ride and record audio at the same time.

When Google Maps is in ROAD `google.maps.MapTypeId.ROADMAP`, I need a dark waveform, when it is in `google.maps.MapTypeId.HYBRID` mode, I need a bright one.

Since the recordings are pretty long, rebuilding the entire wavesurfe

[2017-07-31 21:46] FraserThompson commented on #1175
Thanks. Is there a workaround I can use until that's merged? What's the actual cause?

[2017-08-01 08:11] matixmatix commented on #1175
@entonbiba looking forward to that being merged, is there an estimation when it will happen?

[2017-08-01 09:14] BriceN opened #1181 "Generated waveform with audiowaveform is half-complete"
The command I use :
`audiowaveform -i myfile.mp3 -b 16 -o myfile.json`

What i get in my application :
![capture2](https://user-images.githubusercontent.com/8823428/28817845-beb2b1d8-76a9-11e7-86dd-d699e1a8e33a.PNG)
(missing part in yellow, the blue peaks match the music perfectly )

Snippet of my json file :
`{"sample_rate":44100,"samples_per_pixel":4410,"bits":16,"length":2318,"data":[-8,99,-2,9

[2017-08-01 21:35] entonbiba commented on #1181
this will be fixed with pr #1182

[2017-08-01 21:42] entonbiba opened #1183 "audio.st - prerender peaks via online api,"
To be updated.

The api is available here for testing via browser, you may upload your audio files which will be destroyed once converted. I've limited the file upload to 20 MB for now just to test the waters.
[https://waveform.audio.st/](https://waveform.audio.st/)

**my todo**:
-  [x] create api short url
-  [x] create api website
-  [x] create api service
-  [x] allow wav, mp3 and flac audio ty

[2017-08-01 21:47] entonbiba commented on #1175
@matixmatix not sure, hopefully soon. I added the fix to version 1.4.0 and attached it here:
[waveform-fix.zip](https://github.com/katspaugh/wavesurfer.js/files/1192038/waveform-fix.zip)

[2017-08-02 22:08] lukaszozimek opened #1184 "Error Cannot read property 'apply' of undefined during regionAdd() call"
Hi,
First of all thanks for this library 💯

Currently I migrating my application form angular 1.6 to angular>4.0 I use our new 2.0.0-beta01 version.

and getting error this error during call     this.surfer.addRegion(marker) :

`ERROR TypeError: Cannot read property 'apply' of undefined
    at vendor.bundle.js:92021
    at Array.forEach (<anonymous>)
    at t.value (vendor.bundle.js:92021)
    at

[2017-08-03 08:26] xiaoxiaodexueyin commented on #1183
great!

[2017-08-03 14:30] iainhallam commented on #1059
I've just tried on 1.4.0 and 2.0.0-beta01, but the result is identical. Still antialiased on the left edge of each bar, including the first. Interestingly, I've just noticed that the final edge on the right looks as though there's only the antialiased edge, not the bar itself - just as in the image above.

[2017-08-03 14:45] iainhallam commented on #1059
Checking the code, I see that a half pixel is always being added:

https://github.com/katspaugh/wavesurfer.js/blob/d2a1f38f1202187f42d4927977fe1af6c92d15a7/src/drawer.multicanvas.js#L270

The comment above it suggests "A half-pixel offset makes lines crisp" but that's only true for odd widths. Since I'm using an even number for barWidth, the extra 0.5 is pushing the rectangle off the pixel boundar

[2017-08-03 14:46] iainhallam commented on #1058
Looks like this could be added with some work in the drawBars function:

https://github.com/katspaugh/wavesurfer.js/blob/d2a1f38f1202187f42d4927977fe1af6c92d15a7/src/drawer.multicanvas.js#L229

[2017-08-04 14:33] matixmatix commented on #1183
I'm interested! If you're using Ruby, I can help you with that - I have a module that takes a file and makes wavesurfer compatible peaks.

[2017-08-04 15:31] akreal commented on #1183
Here is also C++ implementation: https://github.com/beschulz/wav2json

[2017-08-05 00:09] mikael-onsilva opened #1185 "Cordova - Load file from SD Card"
Hello there!

I'm developing a cross platform App using Cordova, and I'm tying to use the Wavesufer on it.
It's kind of a Music Player, based on Web Audio API (I'm not using Ionic or something like that).

The player is working fine loading the files from my Internal Storage.

Now I'm trying to draw the waveform from the audio file the user selects, but I'm not being able to.

Following the exampl

[2017-08-05 16:13] entonbiba commented on #1185
@mikael-onsilva you can have a look at the cordova file plugin for more info. It really depends on the device file api. Using the cordova plugin file should help in cross platform.
https://cordova.apache.org/docs/en/latest/reference/cordova-plugin-file/index.html

[2017-08-05 16:13] #1185 closed

[2017-08-05 18:24] matixmatix opened #1186 "Possible to detect "loading from network" event using partial content (byte range) requests?"
I'm using wavesurfer 2.0.0-beta01, with `MediaElement` backend and pre-prepared peaks.

When I start playing or seek somewhere in the middle of the track, partial content requests (http 206) for specified byte ranges are fired and the track can be played from anywhere with minimal waiting time. That works great!

However, on slower connections the time to start playing could be in a range of multi

[2017-08-05 18:31] matixmatix commented on #1141
I successfully implemented this using `MediaElement` backend, using preloaded peaks using `audiowaveform` and some peaks post-processing and using CloudFront as a server.

[2017-08-05 18:31] #1141 closed

[2017-08-06 04:17] melvinma commented on #914
@apeidos Could you please tell us what you did to make it work? I need to get this working too. I noticed that if backend:'MediaElement', I could playback the local audio specified in relative path, but it does not draw wav forms. Can we add this (play back local file) as an additional feature?

Thanks!

[2017-08-06 10:31] nuthinking opened #1187 "Wavesurfer as viewer"
I already have an app which analyze the loaded sound through its AnalyserNode. I am wondering if I can use Wavesurfer simply as waveform viewer, without loading and playback capabilities.

Thanks!

[2017-08-07 08:13] matixmatix commented on #1187
Sure. Just use `MediaElement`, set `forceDecode: false`, have the preloaded peaks ready, and manually trigger render:

[code]

Tested in  2.0 beta.

[2017-08-07 11:19] nuthinking commented on #1187
what if I already have the buffer? Thanks!

[2017-08-08 00:36] entonbiba commented on #1186
@matixmatix you can use `loading` event to display the loading animation, or display the loading animation by default and then in the `canplay` event hide the loading animation.

[2017-08-08 00:45] entonbiba commented on #1183
@xiaoxiaodexueyin @matixmatix @akreal I added some features on what the api will offer, any additional features you think would make sense to add?

[2017-08-09 10:07] nazarposhta opened #1189 "Regions plugin "Generic events - out" doesn't fires."
Generic events
in - When playback enters the region. - that works fine.
out - When playback leaves the region. - that doesn't.

`region_info.on('in',() => { console.log('start') }); // awesome`
`region_info.on('out',() => { console.log('stop') }); // sucks`

Any ideas?

[2017-08-09 14:48] smohammedyasin commented on #1172
Hello Guy,
Finally i came to use NAudio library to generate peaks using .net(visual studio). this post may help or get idea to save peaks with mp3 or wav file.

[code]

source link : [https://stackoverflow.com/questions/13629277/analyzing-wav-and-drawing-a-graph](https://stackoverflow.com/questions/13629277/analyzing-wav-and-drawing-a-graph)

[2017-08-09 15:18] #1172 closed

[2017-08-09 21:13] matixmatix commented on #1186
These events don't seem to work with `MediaElement`. Any other ides?

[2017-08-09 21:28] matixmatix commented on #1186
Sorry, it works, but on the backend. Like this:

[code]

Thanks!!

[2017-08-09 21:28] #1186 closed

[2017-08-10 17:41] mspae commented on #1092
Hey, sorry for the long absence. Unfortunately I'm pretty busy with work right now, so I don't have that much time to commit to working on wavesurfer core fully at this time.

I think concerning the unported changes (= stuff from es5 which isn't in es6 yet) there is nothing for it but to grind them down until we are up to date. But maybe we need to organise this in a clever way to maximise the eff

[2017-08-10 18:48] matixmatix commented on #1174
`pixelRatio: 2` fixes it.

[2017-08-10 18:48] #1174 closed

[2017-08-17 07:35] GitHubRakeshSharma commented on #1181
I had the same issue. I found that the drawLineToContext method uses the canvas size in px as top limit in the drawing loop. I just changed it to be the local length parameter which is half the length of the converted array of peaks (meaning the one where negative values have been added alternatingly).

[2017-08-17 11:46] thijstriemstra commented on #1187
@nuthinking check the microphone plugin, it shows how to load and draw a buffer.