[2017-08-17 11:46] #1187 closed

[2017-08-18 12:05] mspae commented on #1173
The first snippet was originally introduced in #918 – it apparently fixes an issue with the MediaElement backend. (see the PR for a detailed description.

[2017-08-18 12:08] mspae commented on #1173
The second snippet was introduced in 8dcc397f62085237b48972e61f76e083f74587c6 – The commit message is "iOS" – no idea why it was added.

[2017-08-18 12:11] mspae commented on #1166
Please provide example code (preferably in a codepen or similiar) so we can better help. Thanks!

[2017-08-18 12:14] mspae commented on #1155
Maybe this helps: https://stackoverflow.com/a/31360448/5097199

[2017-08-18 12:51] thedoomx opened #1190 "How to add additional cursors at specific time?"
Hello, what is the functionality that is used in the repository's readme screenshot?

I need to add a few of these cursors when the audio loads and display under or above them at what time they are.
They have to be static and different colors if possible.
https://ibb.co/iFj1XQ

Thanks

[2017-08-18 14:49] mspae commented on #1189
Can't reproduce. This works fine for me

[code]

[2017-08-18 14:58] mspae commented on #1184
I'm afraid you'll have to reproduce the issue in a codepen or similiar for us to be able to help you. It could be lots of things causing this issue.

You could also try and use the update method of the regions to accomplish what you are trying to do. (Instead of deleting and recreating them.) – No idea if this has anything to do with the issue, but would probably be a better way of doing it also f

[2017-08-18 16:19] mspae commented on #1092
First PR for the first part is out – I checked approximately half of the commits that were different, here is the list

- :white_circle: https://github.com/katspaugh/wavesurfer.js/commit/abc69a401001bf213ea8935ee9a5b1241d77aa88 → redundant
- :black_circle: 64bd48b242cb54532dbc1f9d6aaf58e605e58669 → merged
- :black_circle: a1ff8ea98565cc83797a4721698ba78d59cd7dc4 → merged
- :black_circle: 0bc87cbf5

[2017-08-19 13:38] mspae commented on #1092
Second PR is out (#1193). I checked the other half. The only unmerged ones (the red circles) are plugin changes. I also didn't merge all the changelog changes so I can simply copy the current changelog in one go.

- :black_circle: https://github.com/katspaugh/wavesurfer.js/commit/f6ce2c30cdd6968b88a0e7cf5aad96a31ee81484 → merged
- :black_circle: a8a6a6f37f3a5b4dde15797ba08a985e98508780 → merged
-

[2017-08-19 13:51] Ethan0007 commented on #1166
Sir, @mspae this is already solved, it should be initialized outside on init function in binding handler.

[2017-08-19 15:18] mspae commented on #1166
:+1:

[2017-08-19 15:18] #1166 closed

[2017-08-20 11:20] aleksnc commented on #1127
Awfully know English. Sorry.

How to draw a wave after the team "create()"?

I have the code in the project

https://github.com/aleksnc/TuneTone

function initSound() {
    var Soundlenght = SoundInit.length;

    if (Soundlenght == 0) {
        $('.Singleresult').css(
            {
                'height': 0,
                'overflow': 'hidden'
            });
    }

    $.each(SoundData, funct

[2017-08-20 11:26] mspae commented on #1127
@aleksnc What version are you using? There is a bug, which caused the waveform to not be drawn introduced in #1191 which is fixed once #1193 is merged. Maybe related?

Please open a new issue with your question, otherwise it's too difficult to follow if multiple issues are talked about in one thread. Thank you!

[2017-08-20 11:41] mspae opened #1195 "Cloned wavesurfer script on NPM"
On NPM there is a package called  `wavesurfer` which is a clone of `wavesurfer.js`  – It is currently at version 1.3.4. (I took a quick look into the code to make sure it wasn't malicious – it appears to just be a simple clone, no manipulation was performed)

I propose we write to the author and kindly ask him to replace the package with a README pointing to `wavesurfer.js` and [deprecate](https:/

[2017-08-20 15:06] mspae commented on #1183
Also you can check this out: https://github.com/bbc/audiowaveform

[2017-08-20 15:17] katspaugh commented on #1195
Oh. I'll write to them. Thanks!

[2017-08-20 16:48] asdfang commented on #1155
Hi,
Maybe not, since I wasn't looking to pass it in through a file at all.
But I've found a solution if anyone needs this in the future:
I used https://github.com/mattdiamond/Recorderjs/blob/master/src/recorder.js, Matt Diamond's recorder.js project, namely the encodeWAV function that returns a DataView (and the writeString and floatTo16BitPCM functions that help encodeWAV), then made a Blob from

[2017-08-22 10:49] tzsk opened #1196 "exportPCM gives array of null elements."
### Wavesurfer.js version(s): 1.4.0

### Browser version(s): Chrome 57

### Code needed to reproduce the issue:

[code]
### Output:

[code]

[2017-08-23 18:12] shaliniidea commented on #899
[4B45C80004EF.zip](https://github.com/katspaugh/wavesurfer.js/files/1246512/4B45C80004EF.zip)
@chrisparton1991 I can hear the audio of the file but it does not generate a waveform. I also tried the `renderer : 'MultiVanvas'`opyion to my wavesurfer config.

Can you please help? Attaching the audio file here in zipped folder.

[2017-08-23 18:14] shaliniidea opened #1197 "Cannot see waveform but can hear audio of an audio file"
@chrisparton1991 I can hear the audio of the file but it does not generate a waveform.
I also tried the renderer : 'MultiCanvas' option to my wavesurfer config.
Can you please help? Attaching the audio file here in zipped folder.
4B45C80004EF.zip

[2017-08-23 18:16] shaliniidea commented on #1197
@chrisparton1991 I can hear the audio of the file but it does not generate a waveform.
I also tried the `renderer : 'MultiCanvas'` option to my wavesurfer config.
Can you please help? Attaching the audio file here in zipped folder.
[4B45C80004EF.zip](https://github.com/katspaugh/wavesurfer.js/files/1246528/4B45C80004EF.zip)

[2017-08-25 14:53] mspae commented on #1197
Which version of wavesurfer.js are you using?

[2017-08-25 14:57] mspae commented on #1190
Check the code of the cursor  plugin how this can be achieved. https://github.com/katspaugh/wavesurfer.js/blob/master/src/plugin/cursor.js

[2017-08-25 14:57] #1190 closed

[2017-08-25 15:01] mspae commented on #899
see issue #1197 (@shaliniidea I think this issue is unrelated to the one you reported)

[2017-08-26 07:41] lukaszozimek commented on #1184
@mspae
Hi, I was on my holiday so I can't replay asap.
I found a problem .
The problem was wrong implementation of callback with  which doesn't pass region object to method.
So sorry for issue and please close it .
Thanks for your pro tip 👍

Btw
When the next release is planed?

[2017-08-26 08:24] mspae commented on #1184
We try and release beta releases as often as possible and we're trying to move out of beta state as soon as possible. I think the policy can be described as: as soon as possible, as late as necessary ;)

Glad you found a solution!

[2017-08-26 08:24] #1184 closed

[2017-08-27 11:45] #1099 closed

[2017-08-27 13:12] thijstriemstra commented on #1196
Putting that load call after the ready handler doesn't help either?

[2017-08-27 20:58] rca06d commented on #1155
I'd also like to draw a waveform from an already decoded Float32Array of samples. I might have misunderstood the above solution, but re-encoding the data so that it can then be decoded again by wavesurfer is a big waste of resources and not an acceptable solution for me. I'd love to just be able to just give wavesurfer an array of samples and a sample rate, or an already filled AudioBuffer and hav

[2017-08-28 21:56] radamizell commented on #630
Having a little trouble overriding the styling with my external css, tried setting the min-width to 4px as tabasco suggested, but no luck when setting the width to 5%, and adding specificity like this:
[code]
I'm hoping to be able to add some arrows or some visual draggable object, but for now just need to make it useable. Any ideas?

[2017-08-29 20:29] SalvatoreDuran commented on #1196
@thijstriemstra nop... And using v2 not working either

[2017-08-31 00:30] entonbiba commented on #1197
@shaliniidea can you repost the "4B45C80004EF.zip" ?

[2017-08-31 00:31] entonbiba commented on #1196
@tzsk can you post the code on codepen and post the mp3 here?

[2017-09-01 07:30] topmobiledeveloper130 opened #1200 "It doesn't support Angular 2"
Hi,

I was going to add it to my angular 2 project, but I am not sure it supports Angular 2.
I have used systemjs in the project, but it has an issue while integrating this library.

Please let me know how I can add it to angular 2 project.
Sincerely,
Thomas

[2017-09-01 15:02] GitHubRakeshSharma opened #1201 "Custom Renderer code example"
Hey,

I am interested in creating a custom renderer. Can you please provide a short example of how to do that?

Thx for your help,
Rakesh

[2017-09-02 08:36] mspae commented on #1200
Wavesurfer.js is a framework-independent library. As such it can be used with any frontend framework you want. It isn't specifically geared towards Angular 2 and so you will need to write a component/service which interfaces with it (like http://github.com/mspae/react-wavesurfer does for React) in order to use it.

Regarding your systemjs difficulties: Can you describe the steps you took to integr

[2017-09-02 08:49] mspae commented on #1201
The easiest way would be to extend upon the MultiCanvas renderer and define custom methods for the parts you want to customise (overwriting the inherited ones) – Then you inject it into wavesurfer by passing the class as the renderer parameter.

Note that you need a code transpiler for this to work (like babel). Please refer to the documentation (https://wavesurfer-js.org/doc/) and to the code in

[2017-09-02 08:49] #1201 closed

[2017-09-02 17:25] mspae commented on #1127
Since the responsive feature is now part of core can we close this issue @tf @agamemnus ?

[2017-09-02 17:29] agamemnus commented on #1127
I see. Probably totally different from what I did, though...

[2017-09-03 09:17] mspae commented on #1181
Should be fixed now. Please check if it works for you now. @GitHubRakeshSharma @BriceN

To install a npm package directly from github, do:
`npm install katspaugh/wavesurfer.js#master`

[2017-09-03 11:20] #723 closed

[2017-09-03 12:50] mspae commented on #1196
Couldn't reproduce with v2: https://www.webpackbin.com/bins/-Kt6lLLCVsOCxGgZwydZ

Please provide a working reproduction so we can help @SalvatoreDuran @tzsk

[2017-09-03 12:52] mspae commented on #1147
Fixed by the above PR once it's released.

[2017-09-03 12:52] #1147 closed

[2017-09-03 12:52] mspae commented on #1175
Duplicate of #1182

[2017-09-03 12:52] #1175 closed

[2017-09-03 12:53] mspae commented on #1173
@agamemnus @thijstriemstra can we close this?

[2017-09-03 13:04] mspae commented on #1162
@aahedi Currently this isn't supported. You would implement this by providing an event listener to the `audioprocess` event (exists) – this event would need to be fired with the current peak value as an argument (doesn't exist)

Since this event doesn't get the current peak value (it gets the playback position as a floating point number) you would need to a) get the peak data from wavesurfer (e.g.

[2017-09-03 13:04] #1162 closed

[2017-09-03 13:08] mspae commented on #1156
Also you could define `this.ws` in the constructor function of the component, pass it down to the children and simply assign it within the `componentDidMount` call. Since in JS all object variables are pass-by-reference not pass-by-value the reference the child component has will then be to the ws instance. You just need to make sure it checks before using any wavesurfer methods.

I'll close this

[2017-09-03 13:08] #1156 closed

[2017-09-03 13:10] #1160 closed

[2017-09-03 13:14] mspae commented on #994
Maybe fixed by #1203 or #1198 – needs to be checked once #1203 is merged.

[2017-09-03 13:15] #1063 closed

[2017-09-03 13:15] #991 closed

[2017-09-03 13:15] #1039 closed

[2017-09-03 13:17] mspae commented on #973
What's the status on this? @entonbiba @X-Raym @SeanBannister

[2017-09-03 13:17] #931 closed

[2017-09-03 13:19] mspae commented on #617
Will be fixed when #1203 is merged and released.

[2017-09-03 13:19] #617 closed

[2017-09-03 14:19] SalvatoreDuran commented on #1196
@mspae I have installed any webpack boiler template + your exact code here: https://github.com/SalvatoreDuran/wavesurfer-bug

Result:
On chrome it gives me an array of null and a white window is open.
In Safari (not related to this issue): IndexSizeError (DOM Exception 1): The index is not in the allowed range.

[2017-09-03 15:06] mspae commented on #1196
got it. thanks! I'll investigate.

[2017-09-03 16:13] mspae commented on #1196
Okay so you were using the published version, not the current HEAD state. ( @katspaugh can you publish a new beta version?) – that's why you were still using the buggy code.

To get the current HEAD installed, do:
[code]

The Safari issue sounds like #1099 which should also be fixed with the new code.

Please comment if this doesn't fix the issue and we'll reopen.

[2017-09-03 16:13] #1196 closed

[2017-09-04 04:16] agamemnus commented on #1173
OK.

[2017-09-04 04:18] agamemnus commented on #1173
Second one: a fix for an iOS bug that might be fixed already? Might need testing.

[2017-09-04 07:19] GitHubRakeshSharma commented on #1201
Thx a lot. I actually did it the same way but now I get the following Error:

TypeError: Class constructor MultiCanvas cannot be invoked without 'new'

Any ideas?

[2017-09-04 15:07] GitHubRakeshSharma commented on #1181
I did import the new version from the masterbranch... BUT: now the dist folder is missing. Can you generate one or could you tell me how to efficiently genrate one myself?

[2017-09-04 16:18] #1108 closed

[2017-09-04 17:01] mspae commented on #1181
@GitHubRakeshSharma My bad, use this:

[code]

it …
* clones wavesurfer.js into the directory `wavesurfer.js`
* installs the dependencies in that project
* builds it (the `dist` directory)
* [links it](https://docs.npmjs.com/cli/link) so wavesurfer is resolved to that copy

to update you just `git pull` inside the `wavesurfer.js` directory.

This is just a quick-fix until the next beta release com

[2017-09-05 00:15] thijstriemstra commented on #1195
any news @katspaugh?

[2017-09-05 00:16] thijstriemstra commented on #1149
No feedback, closing.

[2017-09-05 00:16] #1149 closed

[2017-09-05 00:22] thijstriemstra commented on #1092
Updated one of my plugins and wasn't too much work: https://github.com/collab-project/videojs-wavesurfer/compare/wavesurfer2

When can we expect a next release?

[2017-09-05 07:29] GitHubRakeshSharma commented on #1181
I am sorry to say that now it throws this Error... seems like some policy issue:
[code]

[2017-09-05 07:40] X-Raym commented on #1181
@mspae

When can we expect the next beta ? :)
(I assume it will have others bug fixes and enhancement so maybe it worths waiting a bit more to have an official build rather than making a custom one ?)

[2017-09-05 08:40] katspaugh commented on #1092
How about this weekend? Version 2.0.0 without the beta, right?

[2017-09-05 11:07] thijstriemstra commented on #1092
A beta 2 would not hurt (or RC1).

[2017-09-05 14:00] mspae commented on #1181
@X-Raym see the discussion at #1092 – i think/hope soon.

@GitHubRakeshSharma I don't know how your github ssh is set up. you may need to adjust cloning command.

[2017-09-05 16:25] entonbiba commented on #973
@mspae the only way I see it working would be to somehow load a base64 0.01 second audio instead of the audio file itself when preload set to none. This would have to be included in the library though.

[2017-09-06 01:08] SmileAppDev commented on #1178
Would katspaugh answer to this question work? #864
`wavesurfer.params.progressColor = 'red';
  wavesurfer.drawBuffer();`
Or would the drawBuffer cause too much to be redrawn?

[2017-09-06 08:23] katspaugh commented on #1178
Wow, that app looks cool. @danielfaust, out of curiosity, why do you record the audio while biking? A noise pollution research?

[2017-09-06 09:16] danielfaust commented on #1178
@SmileAppDev thanks, that works, but not on the minimap. I would need to change that too. Performance-wise `wavesurfer.drawBuffer();` is really good, but that may be because the non-minimap has a zoom factor of 20.

@katspaugh It's just for fun. I started with it because of the 5 ideas I had while riding the bike I only remembered about 2 of them. So I played with Tasker and Hi-Q MP3 Recorder and

[2017-09-08 16:25] markadrake commented on #1171
Is there a tutorial or walkthrough of utilizing a package (could be software, could be node utility) to generate this waveform data?

[2017-09-09 15:44] mspae commented on #1171
you can use audiowaveform (https://github.com/bbc/audiowaveform) to generate peak data, for example like this:
[code]

[2017-09-09 22:52] X-Raym commented on #973
@mspae I get few reports from users who told me that full audio file is download, despite the fact peaks are pre-generated and that prelaod is set to metadata. :S

@entonbiba The audio files are loading because wavesurfer render HTML <audio> tag on the page. Maybe the trick would be to not render <audio> tag until a custom event happen (like clicking on play button or the waveform itself)... ? I t

[2017-09-10 07:24] mspae commented on #973
There must be another solution than rendering a faux media file. preload obviously does work without wavesurfer so there is something wrong with the implementation.

What about this:
- We log a warning when peaks aren't set and preload is set to none (telling the user that preload will be ignored in this case and that he must pass peaks) – also we document this by updating the jsdoc signature of t

[2017-09-10 08:51] X-Raym commented on #973
@mspae just like you I think that a solution which doesnt involves dummy audio file will be better. Cause imagine you have 50 players on page... or if you have 1000 users per day. 0.01 secondes may not be heavy file size but it will be as many http requests. Not efficient.

@entonbiba do you think one of our propisition make sense here ?

[2017-09-10 15:11] entonbiba commented on #973
@SeanBannister @X-Raym yea but will we be checking this only when using MediaElement backend or should we also implement the check for webaudio as well?

What about displaying an overlay with the text "Load Audio" which would work when clicked by the user only if preload option is set to none?

[2017-09-10 17:04] X-Raym commented on #973
@entonbiba I think a custom event will be better to let the user manage the integration.
If we use precached peak, then no need to display anything :)

[2017-09-12 01:52] benfoley opened #1204 "addRegion doesn't return a region object"
According to the documentation, addRegion should return the new region. Using the 2.0.0-beta01 version, the following code logs `undefined`.

[code]

Adding a return to the wavesurfer.regions.js file fixes this..
[code]

[2017-09-12 14:32] mspae commented on #1204
@benfoley  Should be fixed by #1205 – Thanks for reporting!

[2017-09-13 00:12] floydback opened #1206 "Using wavesurfer.js as an audio player without rendering"
Hi!

For a long time I'm looking for a good ES6 audio player with supports Web Audio API. I like wavesurfer.js codes a lot and I want to use it but there is no needs draw waveform in my player. So, is there way to turn off or deactivate Drawer class and what classes are no needed if I refrain from using Canvas WaveForm?

[2017-09-14 09:10] GitHubRakeshSharma commented on #1181
I fixed my SSH and did the above... now I receive the following (seems like LINT does this):
./src/render_source/wavesurfer.js/dist/wavesurfer.min.js
  Line 6:  'define' is not defined     no-undef
  Line 6:  'define' is not defined     no-undef
  Line 6:  Unexpected use of 'screen'  no-restricted-globals
  Line 6:  Unexpected use of 'screen'  no-restricted-globals

I cannot find any restrictions

[2017-09-14 13:41] GitHubRakeshSharma opened #1207 "Break condition in drawLineToContext methode"
Hi there,

I had an issue with zooming the waveform. The drawer suddenly stopped at some point. Interestingly it always stopped at the end (or the start) of a fully drawn canvas.
Changing the follwing code helped out:
` if (first > end || last < start) { return; }`

I turned it to
` if (first > last|| end < start) { return; }`

which now does not produce the malfunction.

Any comments?

[2017-09-14 14:28] lararogu opened #1208 "load blob from object in javascript"
I want to play an audio file with wavesurfer and I have a blob object with the data.Can I play the file without creating the physical file?
I tried this:
  var blob = new Blob(Signal, { type: "audio/wav" });
  $scope.wavesurfer.loadBlob(blob);

where Signal is a byte array.
I get the error:
GET http://localhost:38711/[object%20Blob] 404 (Not Found)

Any ideas?

[2017-09-14 14:39] infernocloud commented on #1206
If you don't want the waveform, you can just use MediaElement.js

https://github.com/mediaelement/mediaelement/
http://www.mediaelementjs.com/

[2017-09-14 14:47] lararogu commented on #1208
The brackets were missing:
var blob = new Blob( [Signal], { type: "audio/wav" });

[2017-09-14 14:47] #1208 closed

[2017-09-14 19:23] mspae commented on #1207
@GitHubRakeshSharma Can you provide a codepen and exact steps to reproduce the issue? The playback stops?

[2017-09-14 19:23] mspae commented on #1206
Closing. If you still have questions please comment and I'll reopen.

[2017-09-14 19:23] #1206 closed

[2017-09-14 19:25] mspae commented on #1181
@GitHubRakeshSharma When do you get this error? When you run `npm run build`?

[2017-09-15 08:34] GitHubRakeshSharma commented on #1207
unfortunately I cannot provide any code since I do not have it on my machine. But let me describe:
I have a panel with links to different audio files. You just choose your audio by clicking on it. When I zoom into a waveform and then change the selection of the audio the waveform (rendered from a peaks array) is only drawn up to a certain point. This will always be the end/start of one of the canv

[2017-09-15 09:55] glebm opened #1209 "Use TypeScript?"
Since WaveSurfer already has thorough type annotations, perhaps it would make sense to use TypeScript?

The ES6 and ES5 versions can be generated by the TypeScript compiler and checked in.

There is a tool to convert existing annotated JavaScript to TypeScript here called Gents:
https://github.com/angular/clutz#gents---closure-to-typescript-converter

Documentation generator here:
https://github.c

[2017-09-15 09:58] katspaugh commented on #1209
The TypeScript compiler works perfectly with regular JavaScript and the type inference, especially with JSDoc annotations. What we might add is a good jsconfig.js similar to [this](https://github.com/katspaugh/language-roulette/blob/master/jsconfig.json).

[2017-09-15 10:16] glebm commented on #1209
JSDoc type system is very limited, some things just can't be expressed in it.

For example, event handler arguments that differ depending on the argument:

[code]

The above is from my type declarations for WaveSurfer v1.

[2017-09-15 11:47] katspaugh commented on #1209
Would it be possible to generate inferred typings, add missing stuff manually and publish in the definitely-typed  repository?

[2017-09-15 13:08] glebm commented on #1209
It would be possible, but then you'd have to keep them in sync. Why not just write it in TypeScript to begin with? You have type annotations everywhere already anyway, so it's not like it's more effort.

[2017-09-15 20:43] mspae commented on #1209
I'm all for it, but I think even with automatic conversion it will still require quite a large amount of additional tweaking & annotating. That said, if someone is willing to do it I think it would be awesome.

[2017-09-18 18:43] #1204 closed

[2017-09-18 21:48] mspae commented on #971
Closing: inactive

[2017-09-18 21:48] #971 closed

[2017-09-18 21:53] #994 closed

[2017-09-18 21:53] mspae commented on #943
Still an issue?

[2017-09-18 21:55] mspae commented on #814
Duplicate of https://github.com/katspaugh/wavesurfer.js/issues/1181

[2017-09-18 21:55] #814 closed

[2017-09-18 21:57] mspae commented on #715
Closing: inactive

[2017-09-18 21:57] #715 closed

[2017-09-18 21:58] mspae commented on #700
@therewasaguy Check the partialRender parameter.

[2017-09-18 23:33] thijstriemstra commented on #1092
@mspae can you roll a new release (beta2) for the current master?

[2017-09-19 01:30] thijstriemstra commented on #1200
no feedback.

[2017-09-19 01:30] #1200 closed

[2017-09-19 08:09] BriceN commented on #1093
@davidchalifoux I have this exact same problem, could you please explain how you resolve it ?

I don't get the "`mediaelementplayer.js` instead of `mediaelement-and-player.js`" part.

Thnaks !

[2017-09-21 23:55] entonbiba commented on #943
don't think, works fine in the example

[2017-09-22 00:00] entonbiba commented on #1171
@xiaoxiaodexueyin I'm working on a api service that will allow you to pull pregenerated waveforms, you can follow it here #1183

for now you'll have to do it on your own server.

[2017-09-22 08:42] mspae commented on #1092
@thijstriemstra I can only tag, I cannot publish to NPM. AFAIK only @katspaugh can do that.

[2017-09-22 08:44] mspae commented on #943
Ok. I'll close this for now then.

[2017-09-22 08:44] #943 closed

[2017-09-22 09:12] thijstriemstra commented on #1092
Ping @katspaugh

[2017-09-22 16:47] thijstriemstra commented on #1092
Awesome thanks!

[2017-09-22 16:54] thijstriemstra commented on #1092
Well it (still) works fine, so I'm +1 on a final release this week!

[2017-09-24 17:28] Guisch commented on #1197
Hey, I have the same problem here. I'm able to reproduce it: https://jsfiddle.net/fevm1kcp/

The problem come from the fact I load my song while waveform is hidden.

[2017-09-26 05:01] xux9311 opened #1212 "exportPCM() returns "[null, null, null, ..., 0, 0]""
version 1.4.0
Is that correct?

[2017-09-26 05:14] #1212 closed

[2017-09-26 07:13] mikaelosterberg opened #1213 "Progres missalingened"
When using UIkit (2.27.2) the wave forms get miss aliened, or the progress wave get squished and drawn out when playing.
Is there a way to fix this?

### Wavesurfer.js version(s):
1.4.0
1.3.2

### Browser version(s):
Google Chrome  60.0.3112.113
FireFox 55.0.3 (32-bitars)

[code]

[2017-09-29 02:43] thijstriemstra commented on #1092
@mspae @katspaugh can we set a release date for 2.0.0? 1st of october? tomorrow? I'll help out where I can.

[2017-09-29 12:34] Secretmapper opened #1215 "Wavesurfer seek bar gets stuck"
### Wavesurfer.js version(s):

1.11 (plus the one on the website)

### Browser version(s):

Safari 11

### Code needed to reproduce the issue:

The sample on https://wavesurfer-js.org/

### Use behaviour needed to reproduce the issue:

On the main website example, if you click play/pause quickly multiple times, the seek bar will get 'stuck'.

<img width="1144" alt="screen shot 2017-09-29 at 8 33 2

[2017-09-29 12:35] Secretmapper commented on #1215
As far as my tests go, this bug seems to not be present on Chrome (61)

[2017-09-30 12:50] mspae commented on #1092
So I'm in two minds about this: On the one hand staying in beta makes it clear that there may be bugs we don't know about, on the other hand this is really also the case for a proper release. Stability is subjective and relative :smile_cat:

Also there is the matter of semver: releasing 2.0.0 means we can't break backward compatibility until we release 3.0.0 so we need to be really sure that this

[2017-09-30 13:45] thijstriemstra commented on #1092
#1210 changes the way ready event works and im -1 on these changes. Ill give feedback there. Secondly, this has been in beta since march and without a new release this project seems dead.

[2017-09-30 13:49] thijstriemstra commented on #1092
Also, freezing API till v3.0 and all regtession testing seems way too strict. Its useful but it changes the dynamic of this project where before it was loosely maintained and released as often as possible. Having all this testing also requires reviewers and we don't have that manpower or userbase to help out from my experience with this project for last couple of years.

[2017-09-30 14:01] mspae commented on #1092
I totally agree with the "we need more releases" position.

I'm not proposing we stop adding features until 3.0.0, but to follow semantical versioning we can't break backward compatibility between releases in a major version. And for this purpose I think it is essential to have testing in place to make sure new features don't break existing functionality.

I don't quite see testing conflicting wit

[2017-09-30 14:12] mspae commented on #1092
I understand your argument regarding the breaking changes in #1210 – It does delay the potential 2.0.0 release date because we need to make sure breakage does not occur. But for the reasons stated above I think it's worth it. In addition to the testing itself and the changes of the events the PR also contains a lot of fixes for bugs which were never reported because they only appear in certain par

[2017-10-03 13:18] mspae commented on #1181
@X-Raym  @GitHubRakeshSharma  Have you tried out the new beta 2 version?

[2017-10-03 16:20] X-Raym commented on #898
@entonbiba Hi !
I just tested this fix in version v2.0 beta 2, and despite the fact I get the same audio duration, the cursor positon is still not good.

![Screenshot](https://i.imgur.com/TSDUF4T.gif)

- Do you confirm ?
- Should I open another ticket ?

Thanks for your support!

[2017-10-03 16:32] X-Raym commented on #1181
@mspae Just tested: seems to be good for me! Both peak generation and peak display from it! Thx !

[2017-10-03 20:06] katspaugh commented on #1195
Nope, no response. I'll ping @disrupt again.

[2017-10-03 20:09] thijstriemstra commented on #1195
Thanks. For all we know it might even contain malicious code.

[2017-10-03 21:09] katspaugh commented on #1195
The owner has just responded – he meant well and is working on deprecating the package.

[2017-10-04 15:44] marwan-nwh opened #1218 "Waves generated from audiowaveform output peaks, doesn't match output without it"
**Wavesurfer.js version**: 2.0.0-beta02
**Browser version**: Chrome - Version 61.0.3163.91 (64-bit)

When loading the file without passing peaks, the output looks like this:
![screenshot from 2017-10-04 17-38-19](https://user-images.githubusercontent.com/1739939/31184862-dc32d716-a92a-11e7-96a6-519f24ffe5eb.png)

When passing the peaks generated by the audiowaveform command provided in the FAQ, an

[2017-10-04 17:11] mspae commented on #1218
@mrwnmonm exportPCM supports an accuracy and length parameter. Have you tried playing around with that? https://wavesurfer-js.org/doc/class/src/wavesurfer.js~WaveSurfer.html#instance-method-exportPCM

[2017-10-04 17:12] mspae commented on #1181
I'll close this. If anybody still experiences problems please comment and I'll reopen.

[2017-10-04 17:12] #1181 closed

[2017-10-04 18:11] mspae commented on #898
Disclaimer: I have never looked into this issue.

It sounds as though it could be caused by floating points being inexact.

See
* https://stackoverflow.com/questions/1458633/how-to-deal-with-floating-point-number-precision-in-javascript
* https://en.wikipedia.org/wiki/Floating-point_arithmetic#Accuracy_problems

[2017-10-04 18:21] X-Raym commented on #898
@mspae
hi ! thanks for taking a look !

IMHO it is not related to floating point precision, as the offset is pretty large compared to the rounding decimal value.

I think there is something else going on there... just like we had problem with media element length detection.

[2017-10-04 18:35] mrwnmonm commented on #1218
It is not obvious what those do.

[2017-10-04 18:38] mrwnmonm commented on #1218
@mspae It is not obvious what those do.

[2017-10-04 18:57] mspae commented on #1218
True, the documentation could be better.

The length determines how many peak values (value pair of minimum and maximum modulation) should be in the exported PCM data.

The accuracy is used to determine how much the values should be rounded.

[2017-10-04 21:45] OctavioSI opened #1221 "Spectrogram doubled canvas size"
Hi, thanks for this nice plugin!

I am trying to implement wavesurfer in my ionic cordova app (Ionic 3), which loads my audio files fine. Now I am trying to use the spectrogram plugin. As you see below, spectrogram renders fine but it always streches the canvas to double its size (I've added a red border to my container for clarity purposes).

![screenshot_20171004-183346](https://user-images.gith

[2017-10-05 09:52] mounaTay commented on #842
were you able to solve this?

[2017-10-05 10:21] X-Raym commented on #898
@mspae I just noticed that indeed, the MediaElement audio duration seems truncated , and we can see it right on my screenshot (I missed it somehow). The difference is so small (you have to go the the seventh decimal), I wonder if it has an effect. But there should be a way to make it works seamlessly.
Maybe should I open a new issue for this ?

[2017-10-05 14:00] jimmyzzzzzzz opened #1222 "Timeline plugin incorrectly iterates over canvases"
Is the change to the new for-in loops necessary? It would crash some existing scripts. For example I'm using my own array prototype attributes and it would enumerate through those and crash the script.
I changed it back to the for i++ loop and it worked as before.

[2017-10-05 17:07] X-Raym opened #1223 "WAV file length and peaks drawing mismatch issue compared to MP3"
Hi !

I detected a problem with wav file length and peak drawing. It appears that the wav version of a file with Media Element will not be played until the end.
Also, the waveform seems offset a bit to the left for the wave file. Here is a picture.

![image](https://monosnap.com/file/V6Iw7wqtHGOCeyNFwXyK4NRJN5gIFG.png)

Can someone confirm this issue ?

Confusing thing, the length of the two files

[2017-10-05 17:07] X-Raym commented on #898
@mspae Hi !

I just find the problem only occurs with wav file.

I open a new issue at it seems not directly related to this one:
https://github.com/katspaugh/wavesurfer.js/issues/1223

[2017-10-05 20:51] mspae commented on #1222
@jimmyzzzzzzz Can you post the lines in question here?

[2017-10-05 23:57] jimmyzzzzzzz commented on #1222
In wavesurfer.js/src/plugin/timeline.js
[code]
In my script I have something like
[code]

Then the loop will enumerate through this.canvases[0] and this.canvases['test'].

[2017-10-06 00:40] entonbiba commented on #1223
@X-Raym I fixed the length issue in #941  , just checked V2 and the code seems fine. Can you post the sample code or the audio ? I'll check it against the old version here.
https://codepen.io/entonbiba/pen/apVaJM

[2017-10-06 07:40] mspae commented on #1222
@jimmyzzzzzzz  This is actually not meant to be like this. It should use the `forEach` method because `this.canvases` is actually an array, not an object.

See https://github.com/katspaugh/wavesurfer.js/blob/master/src/plugin/timeline.js#L339

PRs welcome!

[2017-10-06 08:56] X-Raym commented on #1223
@entonbiba

- [Oringal WAV](https://www.dropbox.com/s/ndn37c6p9bo6wfn/AnaFeed_liquid_03.wav?dl=0)
- [MP3 conversion](https://www.dropbox.com/s/m4clm03cuyjsxb8/AnaFeed_liquid_03.mp3?dl=0)

The length is 3.2449659863946 for both file according to an external analyzer.

Thanks for taking a look !

[2017-10-08 09:22] nuthinking commented on #606
I am not using Wavesurfer but I am trying to analyze in the background the waveform with an offline context and I am having issues with Safari too. The latest version of Wavesurfer doesn't seem to use the suggested workaround anymore. I wonder if someone here can point me to the latest workaround for this issue. Thanks!

[Question in Stackoverflow](https://stackoverflow.com/questions/46621954/offl

[2017-10-09 15:20] pinhassi commented on #1215
It happens for me also on a simple play/pause action on Safari 11.0.
I also stop receiving callbacks.
On chrome it works great.

[2017-10-10 05:49] pinhassi commented on #1215
In my project it happens every time I pause the player. In your [examples](https://wavesurfer-js.org/examples/) it happens only if you pause and play rapidly, I can't tell why.

I use wavesurfer on React.
At first I used [react-wavesurfer](https://github.com/mspae/react-wavesurfer). When I noticed the bug I opened a [new issue](https://github.com/mspae/react-wavesurfer/issues/67).
Then I replaced

[2017-10-10 23:32] #825 closed

[2017-10-11 13:55] nithinoffcl opened #1225 "unable to play song after finish event"
i'm creating a desktop music player using electron when i try to play another song after finish event,i get the following error
Uncaught DOMException: Failed to execute 'stop' on 'AudioScheduledSourceNode': cannot call stop without calling start first.
    at Object.pause (file:///home/nithin/Music_App/node_modules/wavesurfer/dist/wavesurfer.min.js:4:15636)
    at Object.pause (file:///home/nithin

[2017-10-11 19:58] samyoung88 opened #1226 "Bugs with timeline rendering when using the dynamic plugin API/loading new files"
Currently initializing Timeline plugin on render. It will show when playing/loading the first track but when selecting next track it disappears, but it will reappear when I resize the browser. In a list of tracks, when clicking individually some will show the timeline canvas and some will not. Please advise.

[2017-10-12 09:12] GitHubRakeshSharma commented on #1226
I had some similar issue. Each time I selected a new audio the timeline plugin would append a new canvas to the previous timeline canvas. so each time I call the load function i call this code as well:

[code]

hope that solves your issue!

[2017-10-13 00:11] thijstriemstra commented on #1225
@nithinoffcl can give some example code that reproduces this problem?

[2017-10-13 00:11] thijstriemstra commented on #1222
Fixed with #1224

[2017-10-13 00:11] #1222 closed

[2017-10-13 00:12] thijstriemstra commented on #1221
@mspae you marked it as a bug, were you able to reproduce this in a non-cordava app? Do we even support that platform?

[2017-10-13 00:13] thijstriemstra commented on #1195
I suppose we're talking about this one: https://www.npmjs.com/package/wavesurfer

That sucks.

[2017-10-13 09:53] myuksektepe opened #1227 "How i can pause all players after play one?"
Hello,

First of all I would say that it is not as good as English language ability.

I want the other active one to be paused when a player starts playing. I did some research, but I could not find a code.

Also, when I want to use it more than once in a page, I use it like this;

[code]

does this have a shorter method for multi players have some options?

[2017-10-13 10:18] BriceN opened #1228 "Error raised when trying to seekTo on Firefox"
Hello,
When I try to click on any part of the waveform on firefox, this error is raised :

`TypeError: Value being assigned to HTMLMediaElement.currentTime is not a finite floating-point value.`

Looking at the sources, it seems that in this function :

`            this.drawer.on("click", function(e, progress) {
                setTimeout(function() {
                    console.log(progress);

[2017-10-13 16:28] samyoung88 commented on #1226
This didn't work for me. But I found that the problem is in the plugin where the `backend.getDuration()` returns an NaN, so the canvas is not getting drawn.

[2017-10-13 17:03] ffxsam opened #1230 "Peaks get cut off on certain widths, when loading my own peaks JSON"
I'm loading my own pre-rendered peaks into Wavesurfer (an array of about 900 samples). On most browser widths, it looks fine:

![image](https://user-images.githubusercontent.com/12532733/31557070-06253878-b00d-11e7-9a1b-c624edafd85d.png)

But at smaller widths, half the waveform is missing:

![image](https://user-images.githubusercontent.com/12532733/31557113-2d96a46e-b00d-11e7-907e-66dc5307828e.p

[2017-10-13 17:12] ffxsam commented on #1230
@katspaugh Any ideas on this? I couldn't get the recommended [audiowaveform](https://github.com/bbc/audiowaveform) app compiled properly for Amazon Linux, so I'm using something else on the server side, using a special WebAudio implementation in Node.js.

[2017-10-13 23:30] ffxsam commented on #1230
BTW, I managed to get audiowaveform compiled on Amazon Linux. The result was not so great:

![image](https://user-images.githubusercontent.com/12532733/31569901-73897f6e-b044-11e7-9e19-e7849ee3382f.png)

😆

I followed the exact recommended usage, `audiowaveform -i some-file.mp3 --pixels-per-second 10 -b 8 -o some-file.json` and this is what it came up with. I don't think this program spits out the

[2017-10-14 08:07] vishnu-the-developer commented on #755
I have used the above code with `fillParent: false` and call `wavesurfer.drawBuffer()` its work perfectly but the width is not responsive. I know we used `fillParent: false` even i changed the `fillParent: false` to `fillParent: true` it did not work. Why it so , is there any method to call `wavesurfer.drawBuffer()` with canvas width

[2017-10-14 19:03] alexlarichev commented on #1230
@ffxsam Excuse me sir, what did you mean by

I've got the same issue and can't fix it.

[2017-10-14 19:05] ffxsam commented on #1230
@alexlarichev Pretty simple. JavaScript code below:

[code]

[2017-10-15 08:26] mspae commented on #1230
Can confirm. Also happens with `v2beta-02`. Also happens with mp3 and with WebAudio backend. Only happens when the width of the waveform is small (~ smaller than 250px) – I think this is maybe the same as #1207

[2017-10-15 08:28] mspae commented on #1228
Thank you for reporting. We'll look into it as soon as possible.

[2017-10-15 08:30] mspae commented on #1227
@myuksektepe You could try making an array of wavesurfer instances and using iteration to write less.

[2017-10-15 08:31] mspae commented on #1221
@thijstriemstra I didn't reproduce. But it sounded like something that would happen regardless of the plattform. Having said that: I should have reproduced before adding that label.

@OctavioSI Can you create a codepen with a reproduction of the issue?

[2017-10-15 20:08] ffxsam commented on #1230
I'm willing to pay anyone who's able to fix this issue this week. Email me at `c2FtQG1zZ2JveC5tZQ==` if interested (base64-decode that to get my email address).

@mspae @katspaugh

[2017-10-16 13:38] BriceN commented on #1228
Note that I'm using the regions plugin

[2017-10-17 07:28] myuksektepe commented on #1227
$( document ).ready(function() {
			$(".wave").each(function(index,item){
				var sound_url = $(item).data("sound");
				var sound_id = $(item).find("div").attr("id");
				console.log('sID: '+sound_id + ' / sURL: ' + sound_url);
				// WaveSurfer
				var sound_id = WaveSurfer.create({container: '#'+sound_id ,waveColor: '#afafaf',progressColor: '#dd3333',height: '40',cursorWidth: 0,barWidth: 0,});

[2017-10-17 17:14] samyoung88 commented on #14
I am also experiencing this issue. The cursor moves on some but not on other. The currentTime is not updating.

[2017-10-18 19:41] thijstriemstra commented on #1078
videojs-wavesurfer can support HLS when wavesurfer.js does, see https://github.com/collab-project/videojs-wavesurfer/issues/17 for related ticket.

[2017-10-22 11:38] mspae commented on #1230
I'm sorry @ffxsam I currently don't have the time resources to commit on fixing this in a certain time frame. But of course we will try and fix it ASAP. Thank you for the offer!

[2017-10-22 11:45] mspae opened #1232 "Build failing because of linting issues (spectrogram/timeline)"
Builds are currently failing (see [this one for example](https://travis-ci.org/katspaugh/wavesurfer.js/builds/291069927?utm_source=github_status&utm_medium=notification))

![errors](https://user-images.githubusercontent.com/1044829/31861520-d8389030-b72e-11e7-8aed-7573c065f6a4.png)

This is probably because PRs were merged that were opened before #1216 was merged. (= before their commits were vali

[2017-10-22 14:01] ffxsam commented on #1230
No problem. I actually wound up writing my own waveform play control from scratch, because I desperately needed something that works. :) All is well!

[2017-10-23 21:56] mspae commented on #1230
Issue seems to be resolved when using 2.0.0-beta02

I can confirm it still happens on 1.4.0 (latest v1): https://codesandbox.io/s/ko4z2qk8y5

Please check @ffxsam  https://codesandbox.io/s/p75r8m6587

I'm changing the label on this issue.

[2017-10-23 21:58] ffxsam commented on #1230
Glad to hear it's resolved in 2.0!

[2017-10-23 22:04] #1197 closed

[2017-10-23 22:04] mspae commented on #1197
closed because of no activity.

[2017-10-23 22:05] mspae commented on #1228
Duplicate of https://github.com/katspaugh/wavesurfer.js/issues/745

[2017-10-23 22:09] mspae commented on #1228
Nevertheless this should be fixed. Which browser version are you using? Can you post some code?

[2017-10-23 22:14] mspae commented on #1228
Let's discuss in the original issue.

[2017-10-23 22:17] mspae commented on #745
I think this is probably caused by some faulty calculation below https://github.com/katspaugh/wavesurfer.js/blob/master/src/drawer.js#L99

Apparently this happens on Firefox when clicking (I haven't been able to reproduce) but we need a reproducible test case beyond passing a non-number to `seekTo` (which will and should fail for obvious reasons).

[2017-10-23 22:32] mspae commented on #1226
Can you provide a code example?

[2017-10-25 01:08] dtbaker commented on #1230
I just ran into this. So glad there's a fix!

![image](https://user-images.githubusercontent.com/543073/31975468-d205a264-b974-11e7-9c6c-b07f6cf067cd.png)

Testing 2.0 now...

[2017-10-25 21:57] #149 closed

[2017-10-27 04:39] dtbaker commented on #973
Anyone figure out how to disable pre-loading?

I've got 30 mp3's on the page and don't want them to all load at once (pre-calculated waveform data is there)

[2017-10-28 08:29] mspae commented on #1232
Until #1233 is merged you can do `git cherry-pick 28600dfd1b1816167f65e475dd1f9eef56e1e2f6` within your branches to produce buildable PRs.

[2017-10-28 14:33] mspae commented on #973
@dtbaker  I'm currently putting together a PR: So far I've added informative warning messages if the preload attribute was set but will be ignored (e.g. `load` was called with a media element, not a string (as `url`), no peaks exist or the backend isn't `MediaElement`)

This doesn't  solve the actual loading issue (audio tracks appear to load even though the preload attribute was set) – I've been

[2017-10-28 21:24] noakcess commented on #1167
Figured out the issue!
You cannot stream from AWS S3 directly.

Created a localhost server via nodejs.
Server downloads the file from S3 and stores locally.
Servers back the file to the browser.
No Crashes!  1.5 hour file loaded without issue.

Hopefully this helps figure out why streaming from AWS S3 causes this issue.

[2017-10-29 08:05] mspae commented on #1228
Apparently not an (exact) duplicate. Reopening

[2017-10-29 08:28] mspae commented on #973
Also:

Resets the media element and restarts the media resource. Any pending events are discarded. How much media data is fetched is still affected by the preload attribute. This method can be useful for releasing resources after any src attribute and source element descendants have been removed. Otherwise, it is usually unnecessary to use this method, unless required to rescan source element chil

[2017-10-29 09:21] mspae commented on #1084
Closing this since the PRs were merged.

[2017-10-29 09:21] #1084 closed

[2017-10-29 09:37] mspae commented on #1226
@samyoung88 @GitHubRakeshSharma  – I think you are both experiencing different bugs. I'm currently putting together a PR on this. The bugs are:

- Loading a new file/rerendering the timeline does not clear the timeline container from old timeline canvases
- Dynamically loading the timeline plugin with new files does not render correctly in some cases

[2017-10-29 12:24] X-Raym commented on #973
@mspae If preload=none is not respected by some browers, dont you think that a solution to prevent preload could be to not inject the audio tag at wavesurfer object init, but only after a custom event (like pressing on play button) ?
so preload: none would be a wavesurfer options attribute for its initiliaziation which would mean : dont inject audio html tag untill another event tell you so.
Just

[2017-10-29 12:49] mspae commented on #973
@X-Raym I think it's a good idea. :)

I think for this feature we shouldn't use the `preload` parameter of the `load` function, but maybe a wavesurfer parameter called `lazyload` (default=`false`, works only with `MediaElement` backend)

Also we will need to explicitly pass the duration of the loaded audio file in order to calculate the correct `minPxPerSec` to render the wave. (Probably the media

[2017-10-29 13:10] X-Raym commented on #973
@mspae Thanks for taking a look at this problem :)

Having exact duration passed is not a problem I think, for eg in case of pre-loaded peaks (the case where preload=none is useful), JSON peaks file can contains an entry for the peaks data, and one another the the audio duration.

But if length need to be exact, there is also this issue to look at: https://github.com/katspaugh/wavesurfer.js/issues

[2017-10-29 13:18] mspae commented on #973
Yes, I agree: In cases where this is useful (when you have peaks) you also know the length in advance and can provide wavesurfer with it.

I meant this commit as a reference how this could work (although this only works for the web audio backend currently) → https://github.com/katspaugh/wavesurfer.js/pull/1210/commits/1025d7263e32f087a3404012dbf0301e5f95b383

[2017-10-29 13:34] X-Raym opened #1237 "FR: Prevent HTML Audio Tag Injection (lazyload option)"
Hi,

This is a follow-up a the issue discussed on the [Bug: Browsers don't respect setting preload to "none" in wavesurfer.load()](https://github.com/katspaugh/wavesurfer.js/issues/973#issuecomment-340260055) issue.

## Context

This issue concerns using MediaElement backend and Cached Peaks.

## Problem

Some browsers ignore the preload=none attribute of audio tags.
This means that in some cases,

[2017-10-29 13:35] X-Raym commented on #973
@mspae FR created : https://github.com/katspaugh/wavesurfer.js/issues/1237 !

[2017-10-29 14:34] mspae commented on #1215
@pinhassi @Secretmapper Do you get any error messages? Can you maybe check if there are uncaught exceptions (you should see them if you have the dev tools open when the error appears)

[2017-10-29 14:43] mspae commented on #636
@belackriv Can't reproduce on v2. Is it still an issue in v1?

[2017-10-29 14:53] mspae commented on #618
I'm labelling this v1 because the v2 docs don't mention that `audioprocess` should be called on `seekTo` :chicken:  and IMHO I think it's good we have two events for this (even if it does mean more code).

(I know I'm contradicting the me from two years ago, but I now think `audioprocess` should be reserved for when the audio is actually playing)

I've tested this with both backends (in v2) and th

[2017-10-31 06:39] Secretmapper commented on #1215
@mspae Unfortunately it doesn't log anything.

If it helps, everything else still work - I can play/pause, seek, etc. and the music updates, but the 'seek bar' itself doesn't move.

[2017-10-31 13:12] mspae commented on #1237
@X-Raym I've opened a PR on the duration parameter.

[2017-10-31 15:13] #1232 closed

[2017-10-31 15:14] #811 closed

[2017-10-31 15:23] #973 closed

[2017-10-31 15:26] OctavioSI commented on #1221
@mspae Sorry about being late on this issue, but I am struggling quite a bit to make wavesurfer.js work with plunkr (my code is there, but wavesurfer.js not working yet -- https://embed.plnkr.co/DCcXPa/). I've tried codepen but it seems far more complicated to replicate my code there.

Also, I've tried to implement the changes made in #1231 but the problem remains.

I will try to fix the plunkr to

[2017-10-31 15:29] #967 closed

[2017-10-31 15:29] #1226 closed

[2017-10-31 15:40] thijstriemstra opened #1241 "Update deprecated babel-preset-es2015"
Seeing this error on travis (https://travis-ci.org/katspaugh/wavesurfer.js/builds/295353174#L456):

[code]

cc @mspae

[2017-10-31 15:45] thijstriemstra commented on #1221
PR was merged to master.

[2017-10-31 17:31] mspae commented on #1241
will do.

btw thanks for checking and merging all the PRs, @thijstriemstra

[2017-10-31 17:32] mspae opened #1242 "Update changelog with version 2 changes"
The `CHANGES.md` doesn't contain any v2 changes. This should be added.

[2017-10-31 18:29] #745 closed

[2017-10-31 18:30] mspae commented on #1228
So there will be a better error message when this happens, but we still haven't found out why this appears.

[2017-10-31 18:32] thijstriemstra commented on #1241
Most of the packages are outdated in https://github.com/katspaugh/wavesurfer.js/blob/master/package.json#L31(webpack v3 etc), let's upgrade all.

[2017-11-02 12:54] schhogyel commented on #1201
Hi, @GitHubRakeshSharma How did you solve the
TypeError: Class constructor MultiCanvas cannot be invoked without 'new'
issue?

[2017-11-03 15:04] johnsq opened #1244 "'ready' event only fires when using load() without the peaks parameter"
Hello,

When using load() without the peak parameter, the READY event is fired as expected.

Demo here.. https://codepen.io/johnsq/pen/wPMbPM

However, when loading in peaks from an array, the READY event is never fired.

Demo here.. https://codepen.io/johnsq/pen/KyVOLd

I understand that, with peaks, there is less processing to be done and the load time will be less, but it still would make sense

[2017-11-03 18:28] tf commented on #1127
@mspae I agree that this issue is no longer actionable.

[2017-11-03 18:28] #1127 closed

[2017-11-04 22:09] mspae commented on #1244
@johnsq Currently the `ready` event is fired if the audio was decoded, this isn't  the case if peaks were provided because wavesurfer defers the decoding until there is an "interaction" (i.e. the audio should be playable). To remedy this there is a `waveform-ready` event which is fired if the waveform was drawn, but only when using the backend MediaElement.

@katspaugh @thijstriemstra I proposed t

[2017-11-04 23:15] thijstriemstra commented on #1244
remind me to comment on this if i don't before the end of the week (would be a nice feature github!).

[2017-11-05 04:33] joshuaiz commented on #704
I'm trying to do this too and I got the waveform to generate using Bar UI and some simple jQuery:

    $('.sm2-playlist-bd li a').on('click', function() {
    	var tURL = $(this).attr('href');
    	wavesurfer.load(tURL);
    });

This generates the waveform but I'm having no luck binding seek changes from wavesurfer to the Bar UI progress or vice-versa.

Ideally, when you mouse click in the wavefo

[2017-11-06 13:59] pcprince opened #1248 "Fixed frequency range spectrogram plugin"
I'm attempting to plot wav files which can possibly have a sample rate of 250kHz in order to pick up bats or as low as 8kHz. I would assume the plugin would take the sample rate into account and draw the spectrogram from 0kHz to half the sample rate, but that's not the case. The spectrogram plugin seems to only show 0kHz to 24kHz, which isn't useful when producing plots requiring a different range

[2017-11-07 00:26] mspae commented on #1241
@thijstriemstra See #1249

[2017-11-07 01:01] AugustinePF opened #1250 "Playing audio via mouseover event failing on Safari after Safari v11 update"
With the release of the Safari v11 update (which introduced a block to media autoplay: https://webkit.org/blog/7734/auto-play-policy-changes-for-macos/) triggering wavesurfer audio via mouseover / hover events has started failing, returning the error:

"Unhandled Promise Rejection: NotAllowedError (DOM Exception 35): The request is not allowed by the user agent or the platform in the current conte

[2017-11-07 09:47] mspae commented on #1250
Can you post the code you are using, @AugustinePF ?

[2017-11-07 09:47] #1241 closed

[2017-11-07 16:32] retallicka opened #1251 "Samsung internet browser not giving correct duration"
I am listening to the ready event, when ready I check call `waveSurfer.getDuration()` this gives 0 in Samsung Internet Browser on most audio files. It did work with a small file

[2017-11-07 16:36] taggartbg opened #1252 "splitChannels option results in no peaks being painted, 2.0.0-beta02"
All of my configuration works fine until introducing `splitChannels: true` - which results in no peaks being painted.  I have reduced my configuration to simply `splitChannels: true` and experience the same thing.  I see this on Chrome 62 and Firefox 56, OSX.

It seems to be the same issue found here: https://github.com/katspaugh/wavesurfer.js/issues/942 that was fixed in 1.3.1.  I am, however, us

[2017-11-07 19:32] mspae commented on #1251
Please provide the code you are using.

[2017-11-07 19:32] mspae commented on #1252
Please provide the code you are using.

[2017-11-07 19:41] taggartbg commented on #1252
@mspae It is implemented as a React component:

The wavesurferOptions prop being passed down is:
[code]

Here is the component:
[code]

[2017-11-08 09:19] retallicka commented on #1251
[code]
Duration is 0 on samsung internet browser and eventually the tab crashes

[2017-11-08 09:37] retallicka commented on #1251
I just realised I am using version 1.3.0 and there is a version 2 out now. I will try that

[2017-11-08 17:29] logavdm opened #1253 "Need Angular 2 or 4 Wrapper Package"
# Hey, thank you for testing and contributing to wavesurfer.js!

Hi team,

Nice Work team and big thanks for the valuable package.

I would like to use wavesurfer.js package with angular2 typescript but i con't find any typescript wrapper for this package and also i don't know how to write a wrapper for wavesurfer.
please contribute for this area because many of them use full when you will give a

[2017-11-10 01:40] thijstriemstra commented on #1253
@logavdm can you at least add a ticket description?

[2017-11-10 05:33] logavdm commented on #1253
Thanks for the reply @thijstriemstra now i added the description

[2017-11-10 16:20] taggartbg commented on #1252
@mspae Is the provided code sufficient?

[2017-11-11 15:00] mspae commented on #1253
From the description it shounds like you need typescript typings, not an Angular 2+x component. This issue is already being discussed in #1209

[2017-11-11 15:04] mspae commented on #1252
Does it render a normal waveform without the splitChannel prop?

I'm the maintainer of [react-wavesurfer](https://github.com/mspae/react-wavesurfer) and I'm currently working on release for wavesurfer v2. I'm also experiencing an issue with plugins not being initialised when they are added dynamically. (A hotfix seems to be to call `initPlugin` within a `setTimeout`) – Maybe this is related to the

[2017-11-11 15:26] mspae commented on #1242
So I've updated the changelog and will open a PR within the next week.

But I want to use this opportunity to discuss how we are going to handle changelogs/releases going forward. I have the feeling maintaining the changelog and releasing are still very ardorous tasks, so I propose we automate it as much as possible. I've been looking into possible solutions and have come across one approach which

[2017-11-11 15:27] mspae commented on #1244
@thijstriemstra This is your reminder to comment :)

[2017-11-11 18:07] thijstriemstra commented on #1244
thanks @mspae your solution sounds good to me.

[2017-11-11 18:08] thijstriemstra commented on #1253
so it's a duplicate?

[2017-11-11 18:59] mspae commented on #1253
@logavdm – So Angular and typescript are two seperate things. Typescript is a superset of javascript which is used by Angular, but also by lots of other projects.

- There is an issue to discuss adding typescript typings in #1209
- There recently was an issue asking for an Angular component for wavesurfer in #1200 (The issue was closed because the issue opener didn't react (no pun intended))

I'll

[2017-11-11 18:59] #1253 closed

[2017-11-11 20:04] mspae commented on #1209
@katspaugh Just to clarify, because it wasn't clear to me from your post: Did you mean it isn't strictly necessary (for an IDE-like experience in an editor) or that you wouldn't want a PR to migrate to typescript?

I'm asking because I'm considering migrating the code and opening a PR and wouldn't start if you don't want it.

I agree that IDE-like experience has gotten much better with better jsdo

[2017-11-11 20:59] katspaugh commented on #1209
@mspae if you want to open a PR – I'm sure the result should be good.

An alternative would be to use something like https://github.com/Microsoft/dts-gen to generate a separate typings file and maintain it in parallel with the ES6 codebase. But I'm not against TypeScript proper. 👍

[2017-11-12 15:04] mspae commented on #1252
UPDATE: okay apparently this really has nothing to do with react. splitChannel rendering is just broken. I'll investigate.

[2017-11-12 18:14] mspae commented on #1252
@taggartbg I've opened a PR. This was because the newly added `prepareDraw` was not passing splitChannel peak data to the rendering function explicitly.

[2017-11-13 01:48] taggartbg commented on #1252
Great, thanks @mspae !!

[2017-11-13 05:38] logavdm commented on #1253
Thanks for the reply guys.

[2017-11-13 05:40] logavdm commented on #1200
hi guys need further steps to integrating with angular 2.  Any help..?

[2017-11-13 14:29] retallicka commented on #1251
The upgrade fixed it

[2017-11-13 14:29] #1251 closed

[2017-11-13 23:10] kyr0 commented on #1200
Fairly simple. Just install it like this:

       npm install --save wavesurfer.js

I'm using 2.0.0-beta02.

Then put the following code on top of the .ts file where you want to use it:

    import * as WaveSurfer from 'wavesurfer.js';

Make sure you put your API call inside of requestAnimationFrame()

        requestAnimationFrame(() => {

            const wavesurfer = WaveSurfer.create({

[2017-11-13 23:46] thijstriemstra commented on #627
any thoughts on this @mspae?

[2017-11-14 00:07] thijstriemstra commented on #627
Here's a description of a Edge demo with mic/visualizer: https://docs.microsoft.com/en-us/microsoft-edge/dev-guide/multimedia/web-audio

[2017-11-14 19:32] mspae commented on #627
Hm, no idea, sorry.

But reading around in the WebAudio docs: At some point we will have Audioworkers (https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API#Audio_Workers) This isn't actionable at the moment because no browsers support it yet :rofl: but audioprocess is deprecated all the same.

Here is the offical AudioProcessEvent spec: https://webaudio.github.io/web-audio-api/#the-audio

[2017-11-14 19:34] mspae commented on #1200
Sure. Go ahead. :) (BTW `container` can also be a rendered `HTMLElement`, that way you don't need unique IDs)

[2017-11-16 11:03] Groude commented on #1215
anyone found any solution on this?

[2017-11-18 09:54] danijel3 commented on #630
I found a somewhat more elegant solution.

After adding the region I change the CSS like this:
[code]

The best solution for this issue would probably be to add a width option in addRegion, similarly to color.

[2017-11-19 18:51] DrLongGhost opened #1255 "New Graphing Plugin"
Hi all,

I think I'm going to be writing a new graphing plugin for Wavesurfer next week and wanted to give you all a heads up to see if it's something you'd be interested in adding to the project. If so, I can make a pull request when I'm all done. Also, I wanted to make sure I'm not redoing work someone else has already done and also check that what I want to do makes sense and is doable as a plu

[2017-11-20 09:42] katspaugh commented on #1255
Looks nice! Does this line represent the pitch contour?

[2017-11-20 12:17] pcprince commented on #1248
Could it have something to do with the fact that, no matter the sample rate of the file being loaded, `wavesurfer.backend.ac.sampleRate` is always 48000?

[2017-11-20 14:50] DrLongGhost commented on #1255
Pitch is a good example of what it can be used for. The plugin will only have the logic to draw the graph, not calculate anything, so you'll need to feed it the coordinates of what it is you want graphed.  If someone wanted to graph pitch in a recording, they would need to write their own code to extract the pitch values but they could then feed those values into the new plugin to render a graph.

[2017-11-20 19:41] samyoung88 commented on #509
I am experiencing this issue. When hitting play it will only load the player, I will have to click the play button a second time for it to really play  the track. However, I am clicking play from a list of tracks and not directly on the player for reference.

[2017-11-20 19:47] mspae commented on #1255
Awesome!

I recommend you also check out the multi canvas renderer to check out how you can split your rendering into multiple canvases (to be able to render overlays larger than the canvas maximum dimensions (different per browser) – when scrolling/zooming is enabled)

[2017-11-21 12:59] shaliniidea opened #1256 "How to reset canvas for wave"
I am using wavesurfer and showing the wave in a modal. But when I close the modal and then want to open another file in new modal, it shows me the older wave. It looks like the canvas is not destroyed when I close the canvas.

I don't want to refresh the page under the modal. The canvas is destroyed obviously when I refresh the page.

Can you help?

[2017-11-21 23:11] DrLongGhost commented on #1255
Quick update... I started on this and realized it would likely be too time consuming to write my own graphing logic, so I decided to use http://www.chartjs.org/. I'm not sure if having ChartJS as an external dependency for the new plugin makes it less appealing/eligible for inclusion in Wavesurfer itself.

I have a very rough proof-of-concept that draws a ChartJS line graph inside a canvas element

[2017-11-22 00:45] shuvangkar opened #1258 "Hey Katspaugh,"
# Hey, thank you for testing and contributing to wavesurfer.js!

## Please make sure you can check all of these points below before opening an issue:

(You don't have to post this section)

- [ ] I have checked [the FAQ](https://wavesurfer-js.org/faq/) and it doesn't solve my problem.
- [ ] I have checked [the documentation](https://wavesurfer-js.org/docs/) and it doesn't solve my problem
- [ ] I

[2017-11-22 00:50] shuvangkardas opened #1259 "option for setting height and top of a region"
Hey Katspaugh, Thanks for such amazing library. I am using region plugin. I want variable and variable top region. There is no option for setting height and top of a region. Please help me find a solution

[2017-11-22 09:29] katspaugh commented on #1255
How about creating your own repository for this plugin and adding a link on our homepage?

[2017-11-22 11:54] X-Raym commented on #1223
@entonbiba Hi ! Did you have the opportunity to test with the files I sent you ?

[2017-11-22 17:04] DrLongGhost commented on #1255
@katspaugh -- I'll definitely host it myself if you don't think it's a good fit for Wavesurfer.

Ugh.. I figured out what @mspae meant by spanning multiple canvas elements. Unfortunately, I think this will be prohibitively difficult for me. In my screenshot above, to seamlessly split the graph into 2 canvas elements at the cursor point would entail:

1. Render 2 graphs -- the first with data point

[2017-11-22 19:17] afincato commented on #374
comment [283190049](https://github.com/katspaugh/wavesurfer.js/issues/374#issuecomment-283190049) by `entonbiba` solved the problem for me for Firefox and Chrome on iOS 11.1.2, but Safari iOS keeps crashing after the audio track plays for 5-10 seconds.

The mp3 I am loading is ~14mb and works well if it is played with the native `audio` tag.

Do you have any suggestion on maybe segmenting the audi

[2017-11-23 01:35] frumbert opened #1260 "Regions plugin variant - chapters / non-overlapping regions? + bug in zoom with regions"
The regions plugin is pretty close to what I really need, which is the ability to visually split audio in multiple non-overlapping chapters (with microsecond accuracy, using the zoom level). Regions plugin is nearly what I want, apart from the overlap (which you have [previously](https://github.com/katspaugh/wavesurfer.js/issues/502#issuecomment-134517626) talked [about](https://github.com/katspau

[2017-11-23 13:24] sht5 commented on #1077
what is the alternative solution to use plugins with webpack before v2?

[2017-11-24 10:13] awenger63 opened #1261 "Zoom erase or not rendered leftpart of the wave (without peaks) and rightpart (if peaks) when scrolling"
Hi,
In the last version 2.0.0-beta02 I find a regression between 2.0.0-beta01 whit the zoom.
When you zoom the wave, this action automaticly render the wave center at the read position (on pause to make the test).
Then left part of the wave is not visible, but you can see it whit scroll. In the last version , left part not visible will be lost, when you scrolling left there no wave :

![image](htt

[2017-11-25 02:29] entonbiba commented on #374
@afincato are you using the latest version of safari? May you post the code to test?

[2017-11-25 02:30] #1258 closed

[2017-11-25 02:37] entonbiba commented on #1256
@shaliniidea you can empty it and load another file when opening the modal:

[code]

[2017-11-25 02:40] entonbiba commented on #1248
@pcprince may you post some test code?

[2017-11-25 13:03] vishnu-the-developer opened #1262 "Can you please help me to integrate a waveform (wavesurfer) on mediaelement playlist plugin ?"
Can you please help me to integrate a waveform (wavesurfer) on mediaelement playlist plugin ? I integrated it with a hard coding in mediaelement-and-player.js. Can anybody answer this then i can share my js with you. Please help. Do you have any money policy on this ?
Thanks

[2017-11-25 16:30] afincato commented on #374
Yes, running the latest version of iOS (`11.1.2`) with latest Safari. I'm wondering if the fact that  I am using an iPhone 6 first-gen causes Safari to lacking in hardware resources and memory. Weirdly enough though, testing the below code with Google Chrome iOS and the new Firefox Quantum for iOS works decently.

Adding the following options in the wavesurfer constructor made it work in Firefox a

[2017-11-27 10:24] thethe opened #1263 "Hide waveform / stop rendering"
Hello,

is there a method to stop the rendering of the waveform ?
I create a .png file the first time the waveform is rendered and I want to
stop the waveform display when an image is found...

Best

[2017-11-27 11:09] pcprince commented on #1248
This is using WaveSurfer 2.0.0-beta01:
[code]
The bat wav file is a recording at 250kHz. The console outputs 48000 and only shows the spectrogram up to 24kHz. If it actually was a 48kHz file, stopping at 24kHz would make sense. It seems to use that range of 0-24kHz for every file and there doesn't seem to be any way to either change the spectrogram sample rate or make WaveSurfer treat files as hav

[2017-11-29 10:21] Vasant-JS commented on #739
Hi guys, kindly help me,
I wanna pass 2 different audio files into 2 channels, but i m not getting how to do it...

[2017-11-30 00:28] gjzhappy commented on #739
@Vasant-JS  https://github.com/naomiaro/waveform-playlist，ple check this.

[2017-11-30 16:57] afincato commented on #1215
This happened to me as well after I bound the `load` file function with the `on('ready'){ws.play()}`function.

Before this, I was loading the track on page load and binding the play function on click button, and Safari was not giving any problem.

But make a user download 15mb of an audio file, no matter if they hit the play button or not is terrible /:

[2017-12-01 09:22] awenger63 commented on #1261
Hello, there is also in this new version a zoom issue at the end of the wave when you decrease the zoom.
You can see it if you place the current play nearly of the end, zoom ++ ...++ than zoom - (see it, wave go small left), zoom + (wave seem's ok)
Perharps it come from the same bug ?

[2017-12-03 22:10] thijstriemstra commented on #1263
@thethe simply hide the html element containing the waveform?

[2017-12-05 22:34] #1252 closed

[2017-12-05 22:37] thijstriemstra commented on #1092
@mspae What's the status now? I think we should really release this asap (before end of year) because I feel it's damaging the project that there hasn't been a new release in such a long time. @katspaugh thoughts?

[2017-12-06 21:24] PureSqncMedia opened #1265 "2.0 Minimap: canvas click does nothing; Initial load does not display waveform"
## Having trouble with minimap plugin on version 2

### Wavesurfer.js version(s):
2.0 beta 2

### Browser version(s):
Chrome Version 62.0.3202.94 (Official Build) (64-bit)

### Code needed to reproduce the issue:
- Angular 1x.
- wavesurfer.js and Minimap plugin built into vendor.js file via gulp
- directive loads wavesurfer and minimap.
- controller inits minimap later

### (1) Canvas click issue:

[2017-12-07 10:54] vishnu-the-developer opened #1266 "seekTo() some times gives error"
When i put a float value from code to seekTo() the below error shows
**Failed to set the 'currentTime' property on 'HTMLMediaElement': The provided double value is non-finite.**

[2017-12-07 16:26] jonas2515 opened #1267 "Incorrect progress shown if the media is playing in a background-tab"
### Wavesurfer.js version(s)
master-branch

### Browser version(s):
Newest Firefox and Chrome

If using the media element as a backend, the waveform gets updated [when a new frame is drawn](https://github.com/katspaugh/wavesurfer.js/blob/master/src/mediaelement.js#L63).

So when the user starts playback and switches to another tab, the framerate for the current tab is reduced for energy saving rea

[2017-12-07 17:22] jonas2515 commented on #1266
Duplicate of #1228

[2017-12-08 16:44] everruler12-secondary opened #1269 "Is there a way to get a wavesurfer object by id?"
For example:
`WaveSurfer.getObjectbyId('#waveform').play();`

[2017-12-08 23:18] PureSqncMedia commented on #1265
Found that changing the backend to 'mediaelement' seems to clear the minimap render issue, but creates other problems. I think I need to add a timeout or something before loading minimap. does not seem to solve canvas interaction though

[2017-12-11 09:31] GitHubRakeshSharma commented on #1269
Can you specify what you want to do?

[2017-12-11 12:27] eiennosihaisya commented on #1269
I want to access one of many wavesurfer objects that have already been dynamically created on a page by its container id (similar to [videojs](http://docs.videojs.com/tutorial-player-workflows.html#accessing-a-player-that-has-already-been-created-on-a-page)), without using a global array to store the wavesurfer objects.

[2017-12-12 08:00] linzerui opened #1270 "How to add marker ?"
I can not find the feature (#152) in the source code. has it been deleted ?

[2017-12-12 11:45] GitHubRakeshSharma commented on #1269
Maybe this will help... although it's not exactly what you want..
[https://github.com/katspaugh/wavesurfer.js/issues/284](url)

[2017-12-12 14:49] GitHubRakeshSharma commented on #1270
I think so... So I just wrote a small marker plug-in... pretty close to the region plug-in

[2017-12-14 08:04] awenger63 opened #1272 "Timeline not rendered when load with peaks"
Hi,
When use timeline pluging and load wavesurfer with peaks, timeline is not rendered before you play song.

### Wavesurfer.js version(s): (1.2.3 see codepen beelow) and local test : v2.0.0-beta01,  v2.0.0-beta02

### Browser version(s): FireFox : 57.0.2 Quantum, Chrome : 63.0.3239.84 (Build officiel) (64 bits)

### Code needed to reproduce the issue:
To reproduce, I use [https://codepen.io/frumb

[2017-12-16 09:28] mspae commented on #1092
@thijstriemstra  That's what I meant in https://github.com/katspaugh/wavesurfer.js/issues/1092#issuecomment-333311162 – we can release now as far as I'm concerned. But I don't have publishing rights, so it's not up to me.

[2017-12-16 19:20] thijstriemstra commented on #1092
@katspaugh seems to be missing in action :fearful:

[2017-12-16 19:44] katspaugh commented on #1092
@thijstriemstra sorry, missed your previous message.
Publishing!

[2017-12-16 20:24] thijstriemstra commented on #1092
Thanks! 2.0.0 is now available on https://www.npmjs.com/package/wavesurfer.js, on to next release!

[2017-12-16 20:30] thijstriemstra commented on #1092
@katspaugh unfortunately it seems something went wrong with the release, the `dist` folder is missing from the npm package:

[code]

[2017-12-17 04:47] janhartmann opened #1273 "Version 2.0.0 broke?"
I used the beta versions of the 2.0.0, but today I updated to the non-beta and this error appears:

```Module not found: Error: Can't resolve 'wavesurfer.js' ```

My package.json is: "wavesurfer.js": "^2.0.0"

[2017-12-17 18:18] awenger63 commented on #1272
Hi,
For your help, this is not look like true if you add `backend: 'MediaElement'` parameter.

[2017-12-18 08:14] thijstriemstra commented on #1273
Yep this happened on friday. Ping @katspaugh

[2017-12-18 08:15] thijstriemstra commented on #1092
People starting to notice: https://github.com/katspaugh/wavesurfer.js/issues/1273

[2017-12-18 08:38] thijstriemstra commented on #1242
@mspae I'm not sure if the average contributor will understand this process..

[2017-12-18 08:38] thijstriemstra commented on #1242
And btw, did you finish that PR for the changelog?

[2017-12-18 08:42] thijstriemstra commented on #1092
I opened #1274 that will build the `dist` folder when you run npm publish, can you take a look @katspaugh and release a new 2.0.1?

[2017-12-18 08:44] #1256 closed

[2017-12-18 10:46] #1273 closed

[2017-12-18 10:48] thijstriemstra commented on #1273
@katspaugh dont forget to bump the version for bower as well. and to make a tag for 2.0.1

[2017-12-18 10:51] katspaugh commented on #1273
I've just published 2.0.1. Thanks! 👍

[2017-12-18 10:59] thijstriemstra commented on #1273
@katspaugh yeah but bower is still using the old version nr: https://github.com/katspaugh/wavesurfer.js/blob/master/bower.json#L3

[2017-12-18 12:32] thijstriemstra commented on #1272
Can you try with the latest 2.0.1?

[2017-12-18 14:16] infantilo opened #1276 "fails to read local file in nwjs/win"
I'm having troubles with loading local files with windows path urls (e.g. "C:/temp/...") within nwjs on windows and the latest wavesurfer.js.
i'm using the same path on pulse.js and within my functions and it loads fine using XMLHttpRequest, but wavesurfer does not work. ( wafesurfer.js:747 object ProgressEvent)
No waveform gets displayed.
path to subfolder of the main html page (e.g. "sounds/test

[2017-12-18 14:23] danielkrich commented on #676
@katspaugh - please do add this to the docs. It's a must, I personally spent too much time on this...

[2017-12-18 15:00] awenger63 commented on #1272
Hi @thijstriemstra : Same issue.
So, today I can put backend to MediaElement and timeLine is correct, but for zoom issue #1261 no change too in this latest version.

[2017-12-18 15:49] thijstriemstra commented on #1215
afaik once you press pause, this [piece of code in wavesurfer.js](https://github.com/katspaugh/wavesurfer.js/blob/2.0.1/src/wavesurfer.js#L589) stops getting called in Safari (but it is on Firefox):

[code]

[2017-12-18 17:22] mfairchild365 commented on #1215
This appears to be due to something in `WebAudio` backend. My *guess* is that there is some sort of race condition that only happens in Safari, which is preventing the `audioprocess` event handler from getting attached. This is likely a result of destroying and then creating the buffer source on every pause/play, but I can't prove this. Someone more familiar with the `WebAudio` API and this projec

[2017-12-18 22:21] thijstriemstra commented on #1276
@infantilo what does xhr.status code 0 mean exactly?

[2017-12-19 10:51] amrfaisal opened #1277 "Chrome warns about deprecation on Jan 2018"
### Wavesurfer.js version(s):
1.4.0

### Browser version(s):
Chrome Version 63.0.3239.84

### Code needed to reproduce the issue:
Browser log below warning:
`[Deprecation] GainNode.gain.value setter smoothing is deprecated and will be removed in M64, around January 2018. Please use setTargetAtTime() instead if smoothing is needed. See https://www.chromestatus.com/features/5287995770929152 for more

[2017-12-20 11:14] the1the opened #1278 "How can the generated waveform be saved ?"
Hello,
I didn't find a consitant documentation for saving the generated waveform data.
I've tried
`  wavesurfer.on('ready', function () {
                // the width of the waveform in double pixels
                var width = wavesurfer.getDuration() * wavesurfer.params.minPxPerSec * wavesurfer.params.pixelRatio;
                var dataJSON = wavesurfer.backend.getPeaks(width);

[2017-12-20 19:12] JurekRaben commented on #1155
Load an AudioBuffer like this:
```wavesurfer.loadDecodedBuffer(audioBuffer);```
and an ArrayBuffer:
```wavesurfer.loadArrayBuffer(arrayBuffer);```

[2017-12-20 21:56] thijstriemstra commented on #1277
@amrfaisal this is an old version, try 2.0.1.

[2017-12-20 23:58] acollier88 commented on #1278
@the1the  What are you trying to save exactly the data behind the waveform or an image of the waveform?

[2017-12-21 11:42] pencildrummer commented on #1201
Hi @GitHubRakeshSharma , I have the same problem, how did you solve it?

[2017-12-21 13:45] amrfaisal commented on #1277
@thijstriemstra Upgraded to `2.0.1` and got the same warning.

[2017-12-21 14:14] the1the commented on #1278
I want to save the waveform peaks as JSON (to load it the next time).

[2017-12-21 17:55] thijstriemstra commented on #1277
@amrfaisal I opened #1279, can you see if that fixes it for you?

[2017-12-21 17:59] thijstriemstra commented on #1276
it's unfortunate because "Before the request is complete, the value of status will be 0. It is worth noting that browsers report a status of 0 in case of XMLHttpRequest errors too." So this is not a good fix.

[2017-12-21 18:00] thijstriemstra commented on #1270
@linzerui take a look at the annotations example: http://wavesurfer-js.org/example/annotation/

[2017-12-21 18:01] thijstriemstra commented on #1269
maybe @mspae has an idea.

[2017-12-21 18:02] thijstriemstra commented on #1267
can you also check if it's the case for the webaudio backend?

[2017-12-21 18:02] #1266 closed

[2017-12-21 18:03] #1263 closed

[2017-12-21 18:05] thijstriemstra commented on #1237
@X-Raym PR was merged and released, closing issue.

[2017-12-21 18:05] thijstriemstra commented on #1225
No feedback, closing.

[2017-12-21 18:05] #1225 closed

[2017-12-21 18:07] thijstriemstra commented on #1150
@dimidd can you show some example code?

[2017-12-21 18:08] thijstriemstra commented on #1278
I don't think we have an export function for that, maybe @mspae has an idea.

[2017-12-21 18:47] thijstriemstra commented on #1265
@PureSqncMedia can you try with 2.0.1?

[2017-12-21 18:48] thijstriemstra commented on #1265
related to https://github.com/katspaugh/wavesurfer.js/commit/f08cfbded2c1eb1ff48990733dab48606c882e9b perhaps.

[2017-12-21 18:58] thijstriemstra commented on #1230
Fixed in 2.0? cool, closing.

[2017-12-21 18:58] #1230 closed

[2017-12-21 19:02] X-Raym commented on #1278
@the1the you can use
`var peaks = object.backend.getPeaks(960);`
... where object is your wavesurfer object.
960 means 1920 long array so it is enoufg from small to widescreen if the waveform is meant to not be zoomed.

Then, just wrap this in a AJAX request to generate your json file. You can add extra infos in it (I personally add audio length and audio URL).

[2017-12-21 19:03] thijstriemstra commented on #1278
Thanks for the feedback.

[2017-12-21 19:03] #1278 closed

[2017-12-21 19:04] #1270 closed

[2017-12-21 19:04] #1242 closed

[2017-12-21 19:07] X-Raym commented on #1237
@thijstriemstra Thanks, but has the `lazyload` attribute been integrated or only the `duration` ? As far as I remember, we needed both for this FR, and @mspae pull request was just for `duration`. Correct me if I'm wrong.

@mspae Do we need both attribute for this FR ?

[2017-12-21 19:13] thijstriemstra commented on #1237
I see. Can you make a pull request?

[2017-12-21 19:14] thijstriemstra commented on #1261
@awenger63 would be really helpful if you can figure out what exact commit changed this.

[2017-12-21 19:15] X-Raym commented on #1237
@thijstriemstra I personnaly can't, it has become a bit out of my league :S Maybe @mspae had ideas about how to implement it to finalize this FR ?

[2017-12-21 19:16] thijstriemstra commented on #1265
And can you make a pull request so we can take a look at the fix?

[2017-12-21 19:18] thijstriemstra commented on #1237
That sounds like a problem with the library, can you elaborate?

[2017-12-21 19:56] X-Raym commented on #1237
@thijstriemstra What I meant is that I don't know how to implement this `lazyload` option, wavesurfer.js is a pretty complex script.

[2017-12-21 20:47] awenger63 commented on #1261
@thijstriemstra OK, if I can , I would like to help you. I just need to know how I can get different commit version ? have you a link to explain that ?

[2017-12-22 09:49] jonas2515 commented on #1267
I don't think it is. In the WebAudio backend, the audioprocess event is fired by ScriptProcessorNode in the browser and just forwarded by wavesurfer.

[2017-12-22 14:27] #1277 closed

[2017-12-22 15:18] awenger63 commented on #1261
@thijstriemstra  I'm sorry but I don't arrive to run npm without issues here...., so it's difficult to be sure, but I fell find change who generated the issue and do the regression : #1198 commit 1e7f598.
Can you verify ? Hope this is correct.

[2017-12-22 15:36] thijstriemstra commented on #1261
@mspae made that change, I hope he can comment on it.

[2017-12-22 17:29] awenger63 commented on #1228
Hi, I have same issue but on Chrome (Version 63.0.3239.108), not on fireFox (57.0.2) ! with v2.0.1

`Uncaught TypeError: Failed to set the 'currentTime' property on 'HTMLMediaElement': The provided double value is non-finite.
    at MediaElement.seekTo (wavesurfer.js?ln=js:2090)
    at WaveSurfer.seekTo (wavesurfer.js?ln=js:3949)
    at wavesurfer.js?ln=js:3683`

It cause by this.backend.getDurati

[2017-12-22 19:40] thijstriemstra opened #1281 "Replace the deprecated ScriptProcessorNode with AudioWorkletNode"
`ScriptProcessorNode` is deprecated from the specification and replaced with `AudioWorklet` in Chrome 64. AudioWorklet is enabled by default for Chrome 66 or later. In Chrome 64 and 65, the feature is behind the experimental flag.

See https://developers.google.com/web/updates/2017/12/audio-worklet and even better: https://developers.google.com/web/updates/2018/06/audio-worklet-design-pattern

[2017-12-22 19:42] #1058 closed

[2017-12-24 02:34] silveur opened #1282 "416 Requested Range Not Satisfiable Error"
Hi I'm having issues loading the waveform with backend option set with: MediaElement
Most of the time I get a bad response from AWS S3 stating a 416 error with the media, also I checked the headers and noticed this:
`Range:bytes=0-`

Any idea what could cause that?
Thanks

[2017-12-26 08:48] sau752 opened #1283 "Limit of peaks data that can be passed to load method"
In my code, I am generating peaks data on the server. The prerendered peaks data is around ~10000 records. Now, when I try to render these many records with wavesurfer.js `load` method, it displays only a part of the waveform. Is there any limit to the `peaks` data that can be passed to `load(url, peaks)` method?

PS, I see that wavesurfer.js generates peaks around 4600 records for any length file

[2017-12-26 10:34] thijstriemstra commented on #1283
you'll have to dig into that particular piece of code of the library?

[2017-12-26 10:40] thijstriemstra commented on #268
@amundo any updates?

[2017-12-26 10:41] thijstriemstra commented on #271
@mspae recently refactored plugin architecture, maybe he can shed some light on the requirements.

[2017-12-26 10:44] thijstriemstra commented on #435
@huhhw can you show us how you arrived at the conclusion that AudioContext.decodeAudioData is the cause of the memory leak?

[2017-12-26 10:45] thijstriemstra commented on #476
Yep, closing.

[2017-12-26 10:45] #476 closed

[2017-12-26 10:48] thijstriemstra commented on #990
@janjon what about v2.0.1?

[2017-12-26 10:48] thijstriemstra commented on #895
Should be fixed in v2.0 as noted by @mspae, closing.

[2017-12-26 10:48] #895 closed

[2017-12-26 12:12] sau752 opened #1284 "Passing split channel pre-rendered peaks to load method"
For single-channel audio, I know that there is a way to pass pre-rendered peaks to load method using `load(url, peaks)`. Is there a way to pass split channel pre-rendered peaks to load method when I have separate array of peaks for both the channels?

Wavesurfer.js version: 1.4.0

[2017-12-26 12:33] sau752 commented on #1283
While looking into previous related issues, I found that there have been some developments in v2.0.0-beta02 as mentioned in #1230 issue and has a related example [.](https://codesandbox.io/s/0yloo908pv) which fixes it. But this again fails on the IE11 browser. My main purpose of using peaks data was to support IE11 as it doesn't support WebAudio API. Can anybody help with the permanent fix for thi

[2017-12-27 15:12] thijstriemstra commented on #1284
Don't think so, PRs are welcome. ps. use v2.0.1 or newer, 1.4.0 is not supported any longer.

[2017-12-28 06:51] PureSqncMedia commented on #1265
@thijstriemstra I tried with 2.0.1 and still no interaction on the minimap canvas. I might try with 'mediaelement' backend, or is that not recommended?

The code I have is just loading sequence for wavesurfer elements. The fix for some reason seems that loading the minimap within ws 'onready' signal was

`
        function _start() {
            if (vm.player.track) {
                vm.player.wav

[2017-12-28 07:03] PureSqncMedia commented on #1265
code example

`
vm.player.wavesurfer.once('ready', function () {
.. do stuff on ready, like play
// loading minimap in here results in first track played not rendering minimap.
// a subsequential load and load minimap seems to display correctly
// so moved the add plugin part outside of ready block
});

//works first load
vm.wavesurfer.addPlugin(MiniMapPlugin.create(detail_minimap_wave_options)).i

[2017-12-29 22:32] mgoldsteinla opened #1285 "isPlaying() method returns false positive when mobile OS blocks playback"
Our website has multiple songs to choose from, too many to preload. When the user clicks a song to play, we have to load the file and then call the wavesurfer play method from the wavesurfer.on ready listener.

Mobile operating systems silently swallow the wavesurfer.play() call and playback never starts, but when I call wavesurfer.isPlaying() it returns true.

I'd like to be able to prompt users

[2017-12-30 22:48] thijstriemstra commented on #1285
1.2.1 is deprecated, can you try 2.0.1 or newer?

[2018-01-01 11:56] jylinman commented on #1215
I was also having an issue where the audio wasn't playing on my iPhone along with the exact situation outlined by @Secretmapper and so I switched the backend to `MediaElement` and everything is working smoothly now.

[2018-01-01 18:08] mgoldsteinla commented on #1285
I tried the 2.0.1 version and it has the same problem.

[2018-01-01 23:39] rowild commented on #957
The 2.0.1 release does not generate a mediasession.min.js on
[code]
I did "npm install" and then "npm run start:plugins". Did I forget something? Or miss something during my research? Thanks for your help and tips!

![screen shot 2018-01-02 at 00 38 36](https://user-images.githubusercontent.com/213803/34471910-53467fe0-ef55-11e7-975c-1e156e19e3b2.png)

[2018-01-02 00:08] rowild opened #1286 "split Wave Point plugin is missing"
Hi, guy,

since you mention that heavy testing by many people is needed, I try to do my 2 cents... this is what I found so far:

For the plugins
- mediasession
- split Wave Point
no javascripts are generated on "npm run start:plugins" (console error)

- stretcher
throws an error:
[code]

- plugin-system
The "cursor" plugin doesn't do anything. I would expect that the cursor appears and disappears,

[2018-01-02 00:11] rowild opened #1287 "Proposition: UV Meters?"
The one thing I miss in this library is a UV Meter that can be attached to a mic input, e.g., or maybe below a wave audio graph of a track. Is there anything alike in the feature list of wavesurfer?

Thank you! Wavesurfer is awesome!

[2018-01-02 23:58] thijstriemstra commented on #1287
I don't think there is but a new example or plugin pull request is always welcome.

[2018-01-02 23:59] thijstriemstra commented on #1286
Thanks for the report, I'll look into it.

[2018-01-02 23:59] thijstriemstra commented on #957
See https://github.com/katspaugh/wavesurfer.js/issues/1286 for the ticket for this issue.

[2018-01-03 00:08] thijstriemstra commented on #1286
Yea looks like there are many files missing, and some merge got screwed up at some point :(

[2018-01-03 03:09] #1077 closed

[2018-01-04 02:19] luoliaoluo opened #1289 "使用vue 导入wavesurfer.js指定了容器为什么老报错 找不到容器？"

[2018-01-10 03:29] thijstriemstra commented on #1289
say what?

[2018-01-10 09:00] zhouyudong1030 opened #1291 "zoom"
# Hey, thank you for testing and contributing to wavesurfer.js!

## Please make sure you can check all of these points below before opening an issue:

(You don't have to post this section)

- [ ] I have checked [the FAQ](https://wavesurfer-js.org/faq/) and it doesn't solve my problem.
- [x] I have checked [the documentation](https://wavesurfer-js.org/docs/) and it doesn't solve my problem
- [ ] I

[2018-01-10 17:11] vetulitichev opened #1292 "setCurrentTime function bug"
Hi all) trying to use function setCurrentTime but it doesn't work properly.
Here is my init function:
[code]
Then i'am adding handler to button which should set time to 5 sec position
[code]
Seems like this.player.setCurrentTime() set current time to end of track

The only issues is when i'am trying to set time to 0. That's work correct.

[2018-01-10 19:58] johnryan opened #1293 "Ability to select audio output device"
### Wavesurfer.js version(s):
^1.1.11 but seems like it affects all

### Browser version(s):
Chrome

### Code needed to reproduce the issue:
As far as i can tell there's no way to specify the audio output device for wavesurfer. My application has a speaker selector and as such I need to be able to set the output to the default device/bluetooth headset etc.

Is there any supported / unsupported way

[2018-01-10 21:14] thijstriemstra commented on #1286
Restored.

I tried to restore it but have no idea what this plugin is supposed to do etc, so maybe someone else can take a look at this..

fixed.

fixed.

[2018-01-10 21:17] thijstriemstra commented on #1292
@vetulitichev this is the code for setCurrentTime:

[code]

what does this.player.getDuration() return for you?

[2018-01-10 21:18] thijstriemstra commented on #1289
Please open a new ticket in english, thanks.

[2018-01-10 21:18] #1289 closed

[2018-01-10 21:26] thijstriemstra commented on #1293
It's supported by Chrome since v49: https://www.chromestatus.com/feature/4621603249848320 and https://webrtc.github.io/samples/src/content/devices/multi/

But this is not possible yet in wavesurfer.js (e.g. there's no setting). Maybe you can add support for it?

[2018-01-11 11:21] vetulitichev commented on #1292
@thijstriemstra

 I'am using that track https://ia902606.us.archive.org/35/items/shortpoetry_047_librivox/song_cjrg_teasdale_64kb.mp3

For that track it  is 44.

[2018-01-14 07:42] samanmohamadi opened #1296 "Right to Left Support"
Thanks for the Great work.
in my project, I need the wave to be right-to-left.
is there any simple way to achieve this?
Does replacing all `right` and `left` in the project do the job?

[2018-01-14 13:08] MileanCo opened #1297 "project - ChosenMasters.com uses wavesurfer.js"
# ChosenMasters.com
Please consider including our project in your examples - [https://app.chosenmasters.com/](https://app.chosenmasters.com/?utm_source=github)

You have to quickly register, upload a track, and you are taken to our Player utilizing wavesurfer.js! Let us know how it goes for you :)

### Wavesurfer.js version(s):
^2.0.2

[2018-01-14 15:17] MileanCo commented on #1228
Im also experiencing this issue in Chrome...

[2018-01-14 23:52] MileanCo commented on #1228
Also experiencing these issues in Chrome..
I've found that I usually hit this issue when using seekTo after calling wavesurfer.load() on a new url, a second time. I resolved the issue by re-creating the WaveSurfer() object when changing audio track (calling .load on a fresh WaveSurfer obj instead of re-using the same one)

[2018-01-15 05:56] janhartmann opened #1298 "Loading Percentage is not reset after new .load(...)"
### Wavesurfer.js version(s):

"wavesurfer.js": "^2.0.1",

### Browser version(s):

Chrome, Latest

### Code needed to reproduce the issue:

I have a WaveSurfer which is wrapped inside a React Component and used as an Audio Player. When the component receives a new URL property, the component loads this using the WaveSurfer.

Apparently, the loading percentage is not reset to `0`, when you are loa

[2018-01-15 15:03] retallicka opened #1299 "getDuration() returns 0 on some Android configurations"
I am listening to the ready event then calling wavesurfer.getDuration()
it is always 0 on some browsers.

Many of our users are mobile users.

I have reproduced it on a number of devices -
HTC One x Android 4.1.1 Chrome 42
Galaxy S4 Android 4.4.2 Chrome 47
Android (Lollipop) Chrome 39
Android (Marshmallow) Chrome 49
S8+ Android 7 (Nougat) Samsung Browser 6.2
S8 Android 7 (Nougat) Samsung Browser 6

[2018-01-15 22:21] thijstriemstra commented on #1299
Not sure if there's anything you can do if it's a browser issue. Perhaps calculating the duration elsewhere (e.g. server) and passing that to wavesurfer.js but hacking the getDuration method so it returns the correct value for a particular track?

[2018-01-16 00:48] thijstriemstra commented on #1298
@janhartmann sounds like a bug. Can you create a pull request that resets the duration etc?

[2018-01-16 00:50] thijstriemstra commented on #1297
@MileanCo you can add it to the list here: https://github.com/katspaugh/wavesurfer.js/blob/gh-pages/projects/index.html (click edit button, make change, and create pull request).

[2018-01-16 00:51] thijstriemstra commented on #1296
@samanmohamadi good question.. @katspaugh you have an idea how hard this would be to implement?

[2018-01-16 00:53] thijstriemstra commented on #1291
Please open a ticket with a description.

[2018-01-16 00:53] #1291 closed

[2018-01-16 00:54] #1293 closed

[2018-01-16 06:43] janhartmann commented on #1298
Maybe I am not doing this right, as it seems like to should be reset on the .empty() method: https://github.com/katspaugh/wavesurfer.js/blob/master/src/wavesurfer.js#L1426

Going to play around with it further.

[2018-01-16 09:33] katspaugh commented on #1296
Simply adding `style="transform: rotateY(180deg)"` to the container should do the trick.

[2018-01-16 12:55] retallicka commented on #1299
Listening to `waveform-ready` instead of `ready` appears to have fixed this! 😃

[2018-01-16 12:55] #1299 closed

[2018-01-17 09:25] bknill opened #1301 "Playing back sound recorded from microphone as blob"
Hi,

I see this is a common issue, Wavesurfer not being able to decode a blob, and the issues associated with it.

I'm using wavesurfer to record audio from microphone and display wave, and store an array of
Int8Array.

I've been trying all kinds of things to get that into a blob that Wavesurfer can decode in Chrome. The sound file plays back as a blob in Chrome and also converted into an MP3 via

[2018-01-17 16:25] rAthur commented on #1212
I have the exact same issue and none of the solutions I could find on internet helped, whatever I'm doing I have an array of _null_ ended bu twa 0...

The _backend.getPeaks()_ function didn't help either, it gives me an array of _empty_ ended by two 0.

[2018-01-17 16:46] rAthur commented on #1196
In my case, the issue was solved by falling back to version 1.2.6!

[2018-01-17 17:04] thijstriemstra commented on #1301
@bknill take a look at my https://github.com/collab-project/videojs-record project that does exactly that, specifically the recorderjs plugin if you want to use that: https://github.com/collab-project/videojs-record/blob/master/src/js/plugins/recorderjs-plugin.js

[2018-01-17 22:33] bknill commented on #1301
Great thanks. I 'll follow that!

[2018-01-17 22:33] #1301 closed

[2018-01-17 23:34] thijstriemstra opened #1302 "Chrome deprecation warning for AudioParam value setter"
This line https://github.com/katspaugh/wavesurfer.js/blob/master/src/webaudio.js#L523 triggers a deprecation warning in Chrome:

[code]

[2018-01-17 23:53] #1297 closed

[2018-01-17 23:54] thijstriemstra commented on #1296
Does that work for you @samanmohamadi? If it does, adding an example would be nice.

[2018-01-18 03:11] bknill opened #1304 "Any way to encode MP3 from backend.buffer with LameJS"
I can encode the samples from the audio events and load them into wavesurfer.

I'm now making changes using the filters, deleting parts etc.

I'd like to encode this data into an mp3 and download,

I've been trying things like this,
`this.encoder.encodeBuffer(this.wavesurfer.backend.buffer)`

But the MP3 is always corrupted.

Anyone else found a way to do this?

[2018-01-18 03:49] thijstriemstra commented on #1304
This is not related to wavesurfer API, use stackoverflow etc for these type of questions.

[2018-01-18 03:49] #1304 closed

[2018-01-18 04:08] bknill opened #1305 "Trying to delete audio from region"
Hi,

I'm trying to use regions as a way of deleting parts of the audio. I thought I'd do something clever and store all of the audio events from the microphone in an array, then use the playback time to compare with the region start end and remove those in that timeframe.

This is working, but the resulting arrayBuffer can't be played

i.e.

[code]
And my function to convert the events into audio

[2018-01-18 04:32] bknill commented on #1304
Thanks.. if you can help at all https://stackoverflow.com/questions/48313274/wavesurfer-backend-arraybuffer-to-mp3-using-lame

[2018-01-18 12:58] samanmohamadi commented on #1296
It works but there is an issue with calculating progress when mouse click.
a little change in  [handleEvent](https://github.com/katspaugh/wavesurfer.js/blob/cec39f9abf48600f58c9d1e0be7a383b0213e09f/src/drawer.js#L86) function will fix it.

[2018-01-18 13:14] desafinadude opened #1306 "how to use playLoop() ?"
Hi

How do I use playLoop() ?
I've tried various ways...

wavesurfer.playLoop(id);
wavesurfer.regions.id.playLoop();
id.playLoop();

None of the above works.
How do I loop or play a region with an id?

Thanks in advance - great library!

[2018-01-18 14:49] katspaugh commented on #1296
A PR is welcome, @samanmohamadi!

[2018-01-18 22:25] bknill commented on #419
@moshedri  thanks for this function. I'm assuming len is the length of the new buffer? Can you tell me where offset comes from in the context of the previous function?

[2018-01-19 06:01] samanmohamadi commented on #1296
I'm am in the middle of a forced project and my solution to this issue is a little dirty and it not ready for a pr. I will do that as soon as possible.

[2018-01-19 11:34] moshedri commented on #419
you're welcome ,

it was a long time ago and as i mentioned above the code ,  i found it online
but i do remember that offset allow you to cut from the start of the sound file so if you want to convert the whole file you should pass in 0 as the offset , i even change this function in my own code to have offset =0 as default value

[2018-01-21 18:28] thijstriemstra commented on #1298
any news @janhartmann?

[2018-01-21 18:42] thijstriemstra commented on #1306
Looks like there isn't a loop function available when searching the code, could only find it in regions plugin, see #499. A workaround would be listening for the `finish` event and restart playback there.

[2018-01-22 03:28] thijstriemstra commented on #1305
@bknill can you post a codepen example?

[2018-01-22 06:51] janhartmann commented on #1298
Yes, lets close this. I believe I had some issues when I updated some internal component state, after some refactoring it worked without problems.

[2018-01-22 06:51] #1298 closed

[2018-01-22 07:53] desafinadude commented on #1306
Thanks for the reply. I actually meant for regions.
Keep getting "not a method" errors.

[2018-01-22 16:37] infernocloud opened #1307 "Stretcher example does not work in Firefox and Edge"
### Wavesurfer.js version(s):
1.4.0 and 2.0.2

### Browser version(s):
OS: Windows 10
Firefox 58.0 (64-bit)
Microsoft Edge 40.15063.674.0

### Code needed to reproduce the issue:

The example located at http://wavesurfer-js.org/example/stretcher/
https://github.com/katspaugh/wavesurfer.js/tree/master/example/stretcher

### Use behaviour needed to reproduce the issue:
Click play and then change the

[2018-01-22 16:43] thijstriemstra commented on #1307
You're using an old version (1.4.0). Can you reproduce this with the latest version?

[2018-01-22 16:47] infernocloud commented on #1307
The wavesurfer example still uses 1.4.0. I haven't had a chance to look into what changes are necessary to move from v1 to v2 yet.

[2018-01-22 16:51] thijstriemstra commented on #1307
@infernocloud the example in the repository uses 2.x, not 1.4.0

[2018-01-22 18:09] infernocloud commented on #1307
It looks like the issue may be with the Soundtouch library chosen to maintain pitch or how it works with Wavesurfer.

For possible reference, I found some other libraries that change tempo correctly cross-browser:
https://github.com/echo66/OLA-TS.js (example: http://echo66.github.io/demos/OLA-TS.js/#)
https://github.com/echo66/PhaseVocoderJS (example: http://echo66.github.io/demos/PhaseVocoder.js/

[2018-01-22 19:20] thijstriemstra opened #1309 "Update examples on website for v2.0"
The examples on https://wavesurfer-js.org are still using an old wavesurfer version. The content for the site lives in the `gh-pages` branch.

[2018-01-23 14:50] the1the commented on #1278
`        wavesurfer.on('ready', function () {
                // the width of the waveform in double pixels
                //var width = wavesurfer.getDuration() * wavesurfer.params.minPxPerSec * wavesurfer.params.pixelRatio;
                var dataJSON = wavesurfer.backend.getPeaks(960);
                console.log (dataJSON);

            });

Returns array[0]

so what I'm I doing wrong?
Any h

[2018-01-23 15:38] loorlab commented on #333
Hi @katspaugh , for the current version we do not find the "dist" folder to get this file in the repository, how can we get to this file wavesurfer-js-map.json?

Thanks !

[2018-01-24 01:41] thijstriemstra commented on #1282
This is more suitable for stackoverflow, please re-open if you found an issue in wavesurfer.js.

[2018-01-24 01:41] #1282 closed

[2018-01-24 01:42] thijstriemstra commented on #1272
Ok, thanks for feedback.

[2018-01-24 01:42] #1272 closed

[2018-01-24 01:43] thijstriemstra commented on #1267
Merged in 2.0.2.

[2018-01-24 01:43] #1267 closed

[2018-01-24 01:44] thijstriemstra commented on #1262
No feedback, closing.

[2018-01-24 01:44] #1262 closed

[2018-01-24 01:44] thijstriemstra commented on #1255
@DrLongGhost any news? looks cool.

[2018-01-24 01:45] thijstriemstra commented on #1248
Closing question, no feedback.

[2018-01-24 01:45] #1248 closed

[2018-01-24 01:46] #1227 closed

[2018-01-24 01:48] thijstriemstra commented on #1228
@awenger63 @MileanCo can you make an example or codepen that reproduces this exact problem so we can take a look?

[2018-01-24 01:49] thijstriemstra commented on #1195
Any way we can contact npm to let them know this is an old package and should be alias of wavesurfer.js?

[2018-01-24 01:49] #1173 closed

[2018-01-24 01:50] thijstriemstra commented on #1170
No feedback, closing.

[2018-01-24 01:50] #1170 closed

[2018-01-24 01:52] thijstriemstra commented on #1148
Fixed (and/or merged) with #1148.

[2018-01-24 01:52] #1148 closed

[2018-01-24 01:53] thijstriemstra commented on #1109
PRs are welcome, please re-open with reference to PR nr.

[2018-01-24 01:53] #1109 closed

[2018-01-24 01:53] thijstriemstra commented on #1065
Question answered, no feedback, closing.

[2018-01-24 01:53] #1065 closed

[2018-01-24 01:54] thijstriemstra commented on #990
Please try 2.x and report create a new issue if it still exists, any older version is deprecated.

[2018-01-24 01:54] #990 closed

[2018-01-24 01:55] thijstriemstra commented on #948
No feedback on question, closing.

[2018-01-24 01:55] #948 closed

[2018-01-24 01:56] thijstriemstra commented on #858
No feedback regarding katspaugh comment, closing. Open a new ticket if you can reproduce this with 2.x.

[2018-01-24 01:56] #858 closed

[2018-01-24 14:58] the1the opened #1311 "wavesurfer.backend.getPeaks() returns array with NULL"
Hello,

I'm urgently looking for a way to save the waveform on serverside.
getPeaks() doesn#t work for me . Any suggestions ? This might be something that
should be important in all use cases.

### Wavesurfer.js version(s):
2.03

### Browser version(s):
Chrome

### Code needed to reproduce the issue:

  wavesurfer.on('waveform-ready', function () {

                var dataJSON = wavesurfer.backen

[2018-01-24 23:52] thijstriemstra commented on #1311
what about the regular `ready` event?

[2018-01-25 04:10] thijstriemstra commented on #1292
@vetulitichev can you add some console.log statements in that `setCurrentTime` method and report what value it's targeting?

[2018-01-25 23:49] roboswank opened #1312 "In safari on mac the waveform disappears when scrolling via the mouse wheel"
### Wavesurfer.js version(s):
2.0.3

### Browser version(s):
Safari v11.0.1 on OSX v10.13.1

### Use behaviour needed to reproduce the issue:

Reproducible for me every time in Safari on macbook touchpad and mac mini magic trackpad.
Create a waveform with the param `scrollParent: true` and scroll along the x axis using the "mouse wheel".
If you scroll to the very end or back to the beginning the w

[2018-01-26 04:56] roboswank commented on #1292
@therewasaguy @vetulitichev
That condition is backwards
[code]
That should always be true.

Just need to flip it.
[code]

[2018-01-26 06:07] roboswank commented on #1265
This could be semi related to https://github.com/katspaugh/wavesurfer.js/issues/1311

minimap.js line 113 (v2.0.3 of wavesurfer)
[code]
If I change that to `this.renderEvent = 'ready';`, minimap functions as it did before and can be passed in the plugins array just the same.

I only say it could be related to https://github.com/katspaugh/wavesurfer.js/issues/1311 because it appears in both cases s

[2018-01-26 10:40] davidorme commented on #1311
Just to add I was trying to get at the same data and have the same issue using wavesurfer 1.4.0 on both Chrome 63 and Safari 8.0.8 running on Mac 10.10.5. The audio loads and plays as normal.

[code]

[2018-01-26 16:17] #1265 closed

[2018-01-26 16:19] thijstriemstra commented on #1311
Old version, always use 2.x from now on.

[2018-01-26 19:52] #1292 closed

[2018-01-26 23:08] thijstriemstra commented on #1250
@roboswank is this still an issue?

[2018-01-26 23:10] thijstriemstra commented on #1221
Please open report a new issue if the problem still remains (add ref to this issue as well).

[2018-01-26 23:10] #1221 closed

[2018-01-27 18:39] oxmanroman opened #1316 "Save wavesurfer state and preload on reload"
### Wavesurfer.js version(s):
2.0.2

### Browser version(s):
Google Chrome
Version 63.0.3239.132 (Official Build) (64-bit)

### Problem
Hey there! I have a popup where I load an audio using the wavesurfer, the audio is about 20 minutes long so it takes some time for it to fully load.

I'm trying to achieve that when the wavesurfer finishes loading for the first time it saves the state so if you cl

[2018-01-27 18:47] thijstriemstra commented on #1316
I think you probably want to save the 'peaks data' and load that the 2nd time..

[2018-01-27 18:50] oxmanroman commented on #1316
Thanks for the quick response!

Actually it was the first thing I tried, but when I asked for the peak after the ready event fired, it was returning an empty array.

This was my code:
[code]

Would it help if I make a jsFiddle?

[2018-01-27 19:11] thijstriemstra commented on #1316
what about the `wave-ready` event?

[2018-01-27 19:31] oxmanroman commented on #1316
That event doesn't trigger as I'm using webaudio. I read in the documentation that:

`waveform-ready` – Fires after the waveform is drawn when using the MediaElement backend. If you're using the WebAudio backend, you can use `ready`.

[2018-01-27 19:36] thijstriemstra commented on #1316
It could be the same issue as #1311. I don't use peaks data, and not sure what the issue is, maybe you can take a look.

[2018-01-27 19:38] thijstriemstra commented on #1311
What about firefox?

[2018-01-27 20:22] oxmanroman commented on #1316
I saw that same issue because of this but actually upgrading didn't solve my problem.

Sorry I took some time to answer, I created a simple [codepen](https://codepen.io/oxmanroman/pen/wywzRo?editors=1010#0) to show the problem.

Here it goes, thanks a lot!

[2018-01-27 21:09] davidorme commented on #1311
Same thing happens (Firefox 57.0, bit old).

[2018-01-29 10:07] awenger63 commented on #1228
@thijstriemstra I realise a small code to reproduce it and I can have the issue on Firefox too.
See this video : [https://www.screencast.com/t/8Its0o2AF](url)
To be sure to reproduce (more easy on Chrome) : Clear all navigator buffer (best way it's reboot system), Select a song and place the record where you want on the wave. Sometime this work fine, and sometime no !
I put a wavesurfer.on ('ready

[2018-01-29 15:15] the1the commented on #1311
doesn't return the peaks - no matter in which event ("ready" or "waveform-ready") used .

[2018-01-29 15:42] neculaionutni commented on #1250
Same problem here. I'm trying to play an HTML 5 audio using JavaScript mouseover event and getting this error:

`Unhandled Promise Rejection: NotAllowedError (DOM Exception 35): The request is not allowed by the user agent or the platform in the current context, possibly because the user denied permission.
`

Any fix/workaround for this?

[2018-01-31 12:50] GitHubRakeshSharma commented on #430
Has there been any kind of conclusion. I currently face the same problem

[2018-02-01 08:50] skruyldz commented on #419
I want to read my .file extension file with wavesurfer.js, but I can not find a solution. Can you help me please

[2018-02-01 08:52] skruyldz commented on #419
I would like to read my .file extension file with wavesurfer.js as .wav, but I could not find a solution. Can you help me please @katspaugh

[2018-02-01 08:53] skruyldz commented on #419
I would like to read my .file extension file with wavesurfer.js as .wav, but I could not find a solution. Can you help me please @katspaugh

[2018-02-02 03:06] jlts713 commented on #1189
I encounter the same problem that sometimes the region 'out' event doesn't fire when audio region finishes playing. It happened when I set the region to be between two decimal numbers, like
start = 165.69
end = 169.44

[2018-02-02 03:40] jlts713 commented on #1189
I believe this happens because the plugin use

    this.end <= Math.round(time * 100) / 100)

as condition to fire out event.
It would sometimes round the actually end time to be a bit lower than the specified end time which then cause this issue.

ps. sorry but somehow my github don't let me insert code or use markdown

[2018-02-02 08:10] roboswank commented on #430
@GitHubRakeshSharma
I am working on a solution.
The real issue comes into dealing with situations where the left or right bounds of the container are at the edge of the document. You cannot get mouse events when the mouse is not within the browser (for obvious reasons). So two approaches have to be made. The first for when it is not up against the edge of the document (easy) - just have to calcula

[2018-02-02 22:32] daryn-k opened #1317 "How to use it on server side?"
I think it's a bad practice to generate waves every time in browser. The best solution would be to save these waves on server and generate them on server side. How to do that?

[2018-02-05 01:08] #1312 closed

[2018-02-05 15:41] the1the commented on #1311
Any suggestions on this issue? A'm I doing somethig wrong or is this a bug?

[2018-02-05 17:39] awenger63 opened #1319 "form with direction RTL have render issues with TimeLine + Zoom and other"
### Wavesurfer.js version(s):
v2.01

### Browser version(s):
Chrome 64.0.3282.140 , Firefox quantum 58.0.1

### Code needed to reproduce the issue:
Add dir="RTL" on your form and test seek, play ..
I do it on this code  : [https://github.com/katspaugh/wavesurfer.js/issues/new](url)
`<div **dir="RTL"**><div id="waveform"></div>
<div id="waveform-timeline"></div>
</div> ....`

Workarround for me =>

[2018-02-06 12:32] Saidalo opened #1320 "Cant use wavesurfer.js in Ember application"
Hello

I am trying to use wavesurfer in my ember app.
node: v0.10.38
npm: 2.11.0

I installed wavesurfer as in official page and some other pages too:
http://chrismasters.net/ember-cli-wavesurfer-js-shim/
https://npm.taobao.org/package/ember-cli-wavesurfer-js-shim

Well in all cases it is not working on anyway.

I am installing on the several ways but everything is useless.

I am trying to use it

[2018-02-06 19:44] JurekRaben opened #1321 "How to set waveform display to specific width?"
Hi,

I would like to set the waveform display to a specific with, so it touches the borders and it is fully zoomed out, e.g. 1000 pixels. Using .zoom(), it seems to be quite inaccurate. Also it should work for very short samples...

[2018-02-06 19:50] JurekRaben opened #1322 "Always doubled time if using .loadDecodedBuffer();"
Hi,

I am using .loadDecodedBuffer(audioBuffer) to generate the waveform display. Now it turns out that the timeline always is double the size of the original sound, e.g. a sound is 60 secs, but the waveform/timeline goes then up to 120 secs. I already tried to use a mono audio buffer which did not help.

[2018-02-06 19:58] JurekRaben commented on #1322
Nvm

[2018-02-06 19:58] #1322 closed

[2018-02-06 23:33] #1321 closed

[2018-02-06 23:47] thijstriemstra commented on #1320
What is `ember-cli-wavesurfer-js-shim`? This does not seem related to wavesurfer, try asking the `ember-cli-wavesurfer-js-shim` project instead.

[2018-02-06 23:47] #1320 closed

[2018-02-07 08:32] GitHubRakeshSharma commented on #430
@roboswank I am deeplay thankful... I really wasn't able to figure that one out. I does work more or less. Still does not fix the scrolling problem while dragselecting a region but I guess I can work that one out based on your solution!!

[2018-02-07 09:18] awenger63 commented on #1261
I don't know if someone have take a look at this issue ? I would like to help you more, but I cannot succeeds install it on my Netbeans/Github to trace exactly.
Tell me more

[2018-02-07 22:28] kyr0 opened #1323 "Waveform flickers when I call wavesurfer.loadDecodedBuffer(buffer);"
Hi,

first of all, wavesurfer.js is awesome, you guys did a great job!

Well, there is a nice (somewhat hidden) feature in wavesurfer that I found out while reading the code. I have a custom microphone service implementation in my Angular project (not using the microphone plugin of wavesurfer.js for reasons).

So I read the code what the microphone plugin code is doing to extend a given wavesufer-

[2018-02-07 22:49] kyr0 commented on #1323
Ah, stupid ;) People, don't use requestAnimationFrame()!

[2018-02-07 22:49] #1323 closed

[2018-02-11 20:44] katspaugh commented on #1317
This is not what this library does. Its design and purpose are to render a waveform in the browser. For server-side rendering, take a look at https://github.com/bbc/audiowaveform.

[2018-02-11 20:44] #1317 closed

[2018-02-12 03:37] nkli opened #1324 "How to get current value of the height of bars?"
something like this.
![image](https://user-images.githubusercontent.com/8384584/36082900-8a51f89e-0fe8-11e8-91fa-c3b79ef7dcb4.png)

![image](https://user-images.githubusercontent.com/8384584/36082945-f289ac36-0fe8-11e8-9454-5469e6063999.png)

current value is undefined.

[2018-02-13 16:48] the1the commented on #1316
Did you manage to fix it?

[2018-02-13 17:44] thijstriemstra commented on #1319
@awenger63 what are you suggesting exactly? Any improvements that can be made to this library?

[2018-02-13 17:46] thijstriemstra commented on #1324
@nkli what is current value in this screenshot?

[2018-02-13 17:51] oxmanroman commented on #1316
Hey there! Thanks for the follow up. Finally I solved by keeping the popup alive all the time but hide when the user closes it. That way I don't need to be deleting and creating again the wavesurfer.

[2018-02-13 18:27] maartenpt opened #1325 "clientX to process / timeidx"
For an implementation using wavesurfer to create an ELAN-like experience for TEI/XML time-aligned spoken data (which can be seen in action here - working but still under development: http://alfclul.clul.ul.pt/teitok/learnercorpus/index.php?action=wavesurfer&cid=Spoken/el005_es066.xml), I needed regions to be creatable directly from the timeline. You can do that now, either by dragging or by shift-

[2018-02-14 09:23] awenger63 commented on #1319
First suggestion can be  : have a default value for dir = "LTR" than wavesurfer always ready when it'is implemented in a RTL form (like the workarround). It's for make a trace that I have created this issue and if someone have same issue.

Second, it's depend of RTL country habits. In this case, users would like the wave on the other side ... This need require to reverse or inverse all functionnal

[2018-02-14 19:39] #430 closed

[2018-02-14 20:25] thijstriemstra commented on #1038
Fyi, with #1310 it's now possible to supply a `xhr` option to wavesurfer to configure XHR in `util.ajax`.

[2018-02-14 21:30] #1092 closed

[2018-02-15 19:19] lorenzfischer commented on #492
I also have this problem. I'm sending data from a PlayFramework backend. I have tried sending as streaming audio and as non-streaming audio. No success :-(

[2018-02-16 09:19] lorenzfischer commented on #750
I had a similar problem with wavesurfer resetting onClick in the Waveform and resolved it by sending the correct (byte range query enabled) headers from the backend. I have put my code as a comment to the respective issue: https://github.com/katspaugh/wavesurfer.js/issues/492

[2018-02-17 13:28] MichaelRoehrig opened #1327 "setVolume() not working correctly on Firefox"
### Wavesurfer.js version(s)
1.4.0

### Browser version(s)
Firefox Quantum 58.0.2 (64-Bit)

### Code needed to reproduce the issue
As seen on https://dateimaschine.de/audio/20389730a3c82adc

### Issue
setVolume() (called by the range slider) does only have an impact after having clicked into the waveform.

### Description
As you might notice when using Firefox, after you hit the play button (or pr

[2018-02-17 15:54] thijstriemstra commented on #1327
@MichaelRoehrig you are using a really old version. Can you reproduce this with the latest version?

[2018-02-17 16:28] MichaelRoehrig commented on #1327
Oh, didn't see that. Always worked with the one mentioned on wavesurfer-js.org :-)
Switched to the 2.0.0-beta01 version on cloudflare and I isolated everything:

https://jsfiddle.net/83vnwzd3/10/

The problem is still there.

[2018-02-17 16:58] thijstriemstra commented on #1327
@MichaelRoehrig why do you think beta01 is the latest version?

[2018-02-17 18:19] MichaelRoehrig commented on #1327
I didn't have npm available earlier. This 2.0.0 version did not seem too old :-).
Now I tried the newest version (2.0.4): works! Easier than I thought... thanks for your help!

[2018-02-17 19:12] #1327 closed

[2018-02-18 22:15] jamiefaye commented on #1261
I am seeing this issue with the wave editor I am building now. The drawBuffer code calls drawer.getScrollX() to get the coordinate for the left side of the area in which to draw peaks. This means that the earlier canvases are not refilled, so when you scroll-back, all you see is a flat line. Jamming the start variable to zero makes the problem go away. I will try and come up with a better fix than

[2018-02-19 07:24] awenger63 commented on #1261
@jamiefaye OK, thanks to look at this problem. Do you have a line code, that I can put on the zoom process  to jamming the start variable to zero ?
I saw also other draw issue with the wave when zoom increase a lot. Perhaps it's linked. I will look to define a reproductible case and tell you.

[2018-02-19 16:55] jamiefaye commented on #1261
I changed line 1024 of wavesurfer.js to look like this:
        let start = 0; // this.drawer.getScrollX();
If I were to make this permanent, I would eliminate the 'start' variable, and just use zero.

[2018-02-20 01:24] thijstriemstra commented on #1319
@awenger63 can you make a pull request and change the actual code so it's easier to see your intention?

[2018-02-20 01:25] thijstriemstra commented on #1296
Maybe related to #1319

[2018-02-20 12:53] ArTiSTiX commented on #1306
playLoop is a Region instance method.
Region instance is returned by add() method, and you can get regions by its id through the region plugin instance.

`wavesurfer.regions.list[id].playLoop();`should work (i don't use v1 though, v2 is a bit different).

You can also use { loop: true } when creating region.

[2018-02-20 13:03] ArTiSTiX commented on #1260
I would like to have non-overlapping regions too in my project, so i am planning to improve Regions plugin with this kind of features (for wavesurfer v2 only).

However, I would like to discuss the behaviour of such a feature, did you think it through, and are you still interested in this improvement ?

Here is a first brainstorm question i have:
* When moving a region, does it reduces the neighbo

[2018-02-20 13:35] ArTiSTiX commented on #1259
@shuvangkar Do you have usecase examples that could be also be useful to other users ?
Are you using wavesurfer v2 ?
I don't plan to make improvements to v1 so this could be necessary to upgrade to v2 if your request is implemented.

As far as i know, you can "select" a region dom elements through its data-id attribute (using javascript, or css `region[data-id=XXX]`, and override top and height pr

[2018-02-20 13:48] #1306 closed

[2018-02-21 00:44] frumbert commented on #1260
@ArTiSTiX : I prototyped the generic part of region selection and boundary dragging the way I'd like this to work - not as a hack in wavesurver, just as regular splitter in the dom as a POC. Obviously there's no waveform shown here or zooming etc. It's pretty clunky. Here's a gif:

![dragging slide markers](https://user-images.githubusercontent.com/592257/36456866-38446522-16fb-11e8-937c-25312a68e

[2018-02-21 10:35] awenger63 commented on #1261
@jamiefaye Yes, this work, I make the change on the last v2.0.4 (line 2408) on my local code.

[2018-02-21 20:54] jamiefaye opened #1332 "Tiled Renderer"
I have started working on a 'tiled renderer' that can zoom down to the sample level without needing an absurd number of canvas objects.

The idea is to juggle a limited amount of canvases inside the wrapper element based on the scroll position. If the time to optimistically fill a canvas starts bogging down the animation loop, I may turn the drawWave/drawBars/drawLine stuff to use a generator func

[2018-02-21 22:32] MileanCo commented on #908
I got this to work using MediaElement, but I get this error when calling wavesurfer.load:
`Failed to construct 'AudioContext': The number of hardware contexts provided (6) is greater than or equal to the maximum bound (6).`

From this code snippet:
[code]

[2018-02-22 00:11] Guisch opened #1333 "[Enhancement] isReady method"
Hey !

Thanks for wavesurfer it's awesome.
I was thinking about adding an isReady() function wich simply return true or false. The event 'ready' is working and I can recreate the isReady function by myself I know but that implies I can not unsub the event from another callback.

If you have any idea. Thanks ! :)

[2018-02-22 04:01] invisibled opened #1334 "Server Side React with Webpack "window is not defined""
Hey There,

I've got a react app using WaveSurfer and loving it. To get an idea of my stack, I'm using Webpack to bundle my node server, which loads the react app server side on first load. Then my regular client side bundle takes over from there, I'm running into an issue with this however...

When loading a page that imports WaveSurfer `import WaveSurfer from 'wavesurfer.js'` my server code thro

[2018-02-22 06:51] janhartmann opened #1335 "Unable to seek-and-play with MediaElement (streaming)"
I have a streaming endpoint and I am using the `MediaElement` backend option in order to play the audio, without it needing to be downloaded completely.

This is working just fine, however I am unable to seek on the audio, even when it has been downloaded completely. The playing just starts from the beginning no matter where I click on the WaveSurfer.

* If the audio is playing and I seek, the aud

[2018-02-22 09:41] janhartmann commented on #1335
This was a server issue on our part, we finally found the issue. This has nothing to do with the library.

[2018-02-22 09:41] #1335 closed

[2018-02-23 03:50] natashache opened #1336 "Option to show only upper half of the wave forms?"
I'm new to this module. Wondering if it's possible to render only the upper half of the wave forms, like the wave forms in the Soundcloud player, instead of rendering symmetrical forms?

[2018-02-23 17:02] matt3224 commented on #953
Hey, its been a whole year since I first queried this enhancement. The project I needed this for did go to development and i've been working on it for a few months. With v2 and all I wondered if this was implemented. I really could do with having this functionality. Thanks!

[2018-02-23 19:31] awenger63 commented on #1261
@jamiefaye Same issues but at the end of the wave when **load with peaks** and zoom process. Error appear when add the first new canvas (multicanvas). It's the opposite error ... (with or without start =0; because in this case getPeaks() always return peaks since the begining !)
Error appear since V2.0.0.beta2 regression after V2.0.0.beta1.
It's seem only fisrt canvas contain the wave when redraw

[2018-02-24 00:12] matt3224 commented on #1215
I have something similar to this too, whereby audioprocess stops firing after i pause a track. It will happen from the first time i pause. Once I resume audioprocess is dead. I'm using Safari 11.0.3

Is a fix incoming does anyone know?

[2018-02-25 01:27] thijstriemstra commented on #1332
sounds great, let us know how it goes.

[2018-02-25 01:27] thijstriemstra commented on #1333
prs are always welcome.

[2018-02-25 01:28] thijstriemstra commented on #1334
where does this window reference come from? sounds like a webpack build issue, not in wavesurfer.js

[2018-02-25 01:29] thijstriemstra commented on #1336
Don't think so, you can use css to do that, e.g. cut off bottom half?

[2018-02-25 01:49] invisibled commented on #1334
Here is a dump from the logs when the error occurs. It looks to me like it's coming from wavesurfer.min. I assumed somewhere in the library you guys are attaching something to `window` but since i'm loading my react app server side there wouldn't be any `window` object obviously. This wouldn't ever be a problem client side, it would always get the window reference. I'm just trying to get around it

[2018-02-25 01:51] thijstriemstra commented on #1334
@invisibled wavesurfer.js also uses webpack and since i'm not an expert there, perhaps you can figure out more about the presence (or not) of window when you go through the webpack configs in https://github.com/katspaugh/wavesurfer.js/tree/master/build-config

[2018-02-25 03:38] jamiefaye commented on #1332
I have the tile renderer most of the way working. You can find the current state of that over on my Downrush github project. At the moment, Downrush does not use Webpack, so it is a definite hack. https://github.com/jamiefaye/downrush/blob/master/DR/waverly/jffRenderer.js. After I get Webpack going I will update (and ponder doing a pull request).

[2018-02-26 10:45] awenger63 commented on #1261
After investigation, problem exist when no barWidht and only on the last canvas when zooming it's in drawLineToContext.
In line 3652, if it's the last canvas there is no draw
`if (first > end || last < start) {
                return;
            }`
@thijstriemstra perhaps this code was adding in commit 258cfbafec5a47965f34e2f59ef8cd4eb82dd4ff (#909 , #924 ).  Can you explain this ?

I change retu

[2018-02-26 14:14] awenger63 commented on #1261
OK, who can see, @mspae  ?
To be confirm, but I don't really understand this test because it compare two different thing. In my comprehension, fisrt and last are peaks information size, end and start are canvas width. And the comment seem to say, if it's not the last canvas, we add 1 peaks information to make the join between canvas.

[2018-02-26 18:27] #1333 closed

[2018-02-26 18:45] thijstriemstra commented on #1334
@invisibled a quick search shows a few references to `window`: https://github.com/katspaugh/wavesurfer.js/search?utf8=%E2%9C%93&q=window&type=

[2018-02-28 13:24] netgfx opened #1340 "Is exportPCM working on latest release?"
### Wavesurfer version 2.0.4
### Chrome 64.0.3282.186

I'm using the code below to produce PCM data in order to make something like this: https://codepen.io/entonbiba/pen/VPqvME (the data array)
[code]
but all I get is an array full of `null`

[code]

Is there something wrong with my code or is there something else I'm missing here? I am aware that there are other issues with similar problems. Jus

[2018-03-01 21:31] thijstriemstra commented on #1340
@netgfx there's this note: https://github.com/katspaugh/wavesurfer.js/blob/master/src/wavesurfer.js#L1373

[code]

so it's safe to say it's not working in v2..

[2018-03-01 21:37] thijstriemstra commented on #1340
@netgfx just tested it and it seems to work fine here with 2.0.4 (when I don't supply any params):

[code]

[2018-03-01 21:47] thijstriemstra commented on #1311
I am able to retrieve the peaks fine on Firefox using 2.0.4, e.g. using arbitrary value of 300:

[code]

[2018-03-01 21:49] thijstriemstra commented on #1305
No feedback, closing.

[2018-03-01 21:49] #1305 closed

[2018-03-01 21:50] thijstriemstra commented on #1283
Can you try with the latest version (2.0.4 or newer) and paste your code here?

[2018-03-01 21:52] thijstriemstra commented on #1284
@sau752 you should be able to pass a multi-dimensional array e.g. `[[0, 1, 2], [0,2,3]]`.

[2018-03-01 21:52] #1284 closed

[2018-03-01 21:52] thijstriemstra commented on #1276
No feedback, closing.

[2018-03-01 21:52] #1276 closed

[2018-03-01 21:55] thijstriemstra commented on #1223
@X-Raym is this still the case with 2.0.4 or newer?

[2018-03-01 21:58] #1155 closed

[2018-03-01 22:00] thijstriemstra commented on #808
@Stoyvo why did you reopen this? Seems you found a workaround, closing.

[2018-03-01 22:00] #808 closed

[2018-03-01 23:28] X-Raym commented on #1223
@thijstriemstra Maybe I should create a CodePen pen for that.

Isn't there any CDN delivering the v2.0.4 ?

As it the dist script isn't on GitHub anymore, I can't link it to it with GitHub CDN.

[2018-03-01 23:49] thijstriemstra commented on #1223
No not yet, see https://github.com/cdnjs/cdnjs/pull/12532 In that pull request you can also find the 2.0.4 dist files.

[2018-03-01 23:58] X-Raym commented on #1223
@thijstriemstra Yes, but still there.

https://codepen.io/X-Raym/pen/VQRmwo

[2018-03-02 00:00] X-Raym commented on #1223
@thijstriemstra Yes, bug still there.

https://codepen.io/X-Raym/pen/VQRmwo

[2018-03-02 07:28] netgfx commented on #1340
Yes it seems to be working. However one last question, my waveform appears like this:
![untitled-2](https://user-images.githubusercontent.com/864248/36887919-f107543c-1dfb-11e8-9eb2-73496090f78d.png)

Which is different from the codepen here: https://codepen.io/entonbiba/pen/VPqvME
I am also adding an array of peaks on `load` and the other parameters are:
[code]
any idea why it doesn' appear like

[2018-03-02 07:47] netgfx commented on #1340
Also it seems that the audio is no longer loading when I use the peaks parameter on the `load`
[code]
Although I see that on the source code there is the `load(url, peaks, preload, duration)` function

[2018-03-02 11:30] JairoFra opened #1341 "Identify container"
### Wavesurfer.js version(s):
1.2.3

I have several waves in my webpage and each has an image associated (a container's sibling). I would like to hide the image when reproduction finishes, but I don't know how to identify the wave that has finished.

I have thought about something like this, but I didn't find a method to get the container.

myTrack.on('finish', function () {
          $(this).<b>¿

[2018-03-02 23:31] taylorvc opened #1342 "How to load annotations above waveform?"
Hello! I recently discovered your annotation example which is fantastic by the way, but I am a little unsure how to set the annotation values and see the note pop-up as audio plays back. Is this built-in by default? In your example, I notice that you add the data attribute to the region with a note for the text.
http://wavesurfer-js.org/example/annotation/

I tried doing this like so:
`wavesurfer.

[2018-03-02 23:43] taylorvc commented on #1342
Nvm, found your http://wavesurfer-js.org/example/annotation/app.js and see that you are displaying that note with an event hook on regionIn. Closing this question. Thanks for making such an awesome project!

[2018-03-02 23:43] #1342 closed

[2018-03-03 01:44] jamiefaye commented on #1332
I made a PR for the tiled renderer. I don't expect it to be accepted right away, if ever. It does let you zoom down to the sample level while supporting relatively long songs.

[2018-03-03 17:00] Stoyvo commented on #808
@thijstriemstra Workaround doesn't always mean bug fixed :)

[2018-03-04 00:26] meteorplus commented on #1311
@thijstriemstra this is still a big issue on v2 latest version and not even working on chrome v64

and getPeaks return either an array of null

or something like
[17654.68571428571: 0, 17655.68571428571: 0]

so please test it on chrome too before closing this and most people use chrome not firefox!

thanks

[2018-03-04 00:29] meteorplus commented on #1316
this is still a big issue!!

[2018-03-04 00:35] meteorplus commented on #1311
my bad this last code you posted works fine :)

var length = 300;
var start = 0;
var end = 300;

wavesurfer.backend.getPeaks(length, start, end);

[2018-03-04 00:35] meteorplus commented on #1316
you must give all three parameters or it will return null

var length = 300;
var start = 0;
var end = 300;

wavesurfer.backend.getPeaks(length, start, end);

[2018-03-04 00:57] #1340 closed

[2018-03-04 01:13] meteorplus commented on #753
thank you but may be add this in the docs? :)

[2018-03-04 09:45] netgfx commented on #1340
My latest comments are because of `* @todo Update exportPCM to work with new getPeaks signature` ?
Otherwise it might be a bug.

[2018-03-05 22:54] thijstriemstra commented on #1341
Hide the `<wave>` element.

[2018-03-05 22:54] #1341 closed

[2018-03-06 02:36] nkli commented on #1324
The value of the wave column when the current time passes.

[2018-03-07 15:33] g-serg opened #1347 "Memory leak when opening files in playlist example"
### Wavesurfer.js version(s):
2.0.5

### Browser version(s):
Chrome 64.0.3282.140 (Official Build) (64-bit)

### Code needed to reproduce the issue:

1. git clone https://github.com/katspaugh/wavesurfer.js.git

2. npm install

3. npm run build

3. npm run start

4. open http://localhost:8080/example/playlist/

5. open Chrome Task Manager

5. see column "Memory" (screenshot-1)
Memory footprint = 38

[2018-03-07 15:41] thijstriemstra commented on #1347
@g-serg this is happening to playlist example only I assume?

[2018-03-07 15:58] g-serg commented on #1347
Memory leaks out for each new call
`wavesurfer.load(url)`

[2018-03-07 17:48] thijstriemstra commented on #1347
@g-serg what operating system? can you reproduce it in Firefox?

[2018-03-09 08:03] 213zhaoqi opened #1348 "Browser crashes"
If the audio is too large, the browser will crash.
![image](https://user-images.githubusercontent.com/23122895/37196828-3c327858-23b3-11e8-9081-2a7c3144b05e.png)
audio size is 775MB,audio length is 70 minutes, format is wav
Is this problem related to computer configuration or browser?

[2018-03-12 09:11] g-serg commented on #1347
Windows 7 Ultimate sp1

Checked into the firefox. Leaks does not reproduce, everything is OK

[2018-03-12 20:44] deniskril opened #1349 "Many players on page"
Hello,
How can i add two or many player in one page?

its my code:
[code]

Thank you

[2018-03-12 20:48] deniskril commented on #1349
Hello,
How can i add two or many player in one page?

its my code:
`<script src="player/wavesurfer.min.js"></script>
<center><div class="container">

                <div class="demo">

                                <div id="waveform" style="width: 400px; border: 1px solid #6aa6cb">
                                                <progress id="progress" class="progress progress-striped" value="0

[2018-03-13 17:47] thijstriemstra commented on #1349
add multiple div's for waveform and create them using javascript?

[2018-03-13 20:31] thijstriemstra commented on #1348
It's a known browser issue.

[2018-03-14 03:23] 213zhaoqi commented on #1348
Is there any way to solve it?restricting specific computer configurations or browser restrictions?
my current solution is to cut too long audio into several small pieces of audio,
but I don't think this is a good solution.
so can you give me some suggestions for solving it?
thank you very much.

[2018-03-15 04:57] thijstriemstra commented on #1348
What version of wavesurfer are you using?

[2018-03-15 10:11] katspaugh commented on #1348
In 2018, maybe we can look at this issue again. A quick google search yielded this interesting gist: https://gist.github.com/revolunet/e620e2c532b7144c62768a36b8b96da2

[2018-03-15 12:02] deniskril commented on #1349
yes

[2018-03-15 17:28] thijstriemstra commented on #1349
Yes? Ok.

[2018-03-15 17:28] #1349 closed

[2018-03-16 08:41] WernerDS opened #1350 "Two channel player"
Is it possible to style the Canvas to look anything like this:
![call-recording-with-speaker-percentage](https://user-images.githubusercontent.com/13958753/37511139-6750f73c-2906-11e8-89ea-e2f05f7b04d6.png)
My settings are like this: (closest I can get it to above)

[code]

[2018-03-16 19:50] thijstriemstra commented on #1350
Check custom renderer docs at bottom of page at https://wavesurfer-js.org/docs/ and implement your own renderer.

[2018-03-16 23:13] neeraj24a opened #1351 "Undefined is not an object (evaluating 'this.wavesurfer.on')"
I have recently used wavesurfer version 2 in my node application which runs perfectly in chrome but in safari and ie i am getting this error

Undefined is not an object (evaluating 'this.wavesurfer.on')

My Code

import WaveSurfer from 'wavesurfer.js';

this.wavesurfer = WaveSurfer.create({
				container: '#waveform',
				waveColor: '#fa0505',
				progressColor: '#ffffff',
				height: 40
			})

th

[2018-03-18 17:01] richardj commented on #1336
@natashache an easy fix would be to add another element around your wavesurfer container.

Something like:
[code]
and then make that holder half of the height of the waveform (which is 128px by default as far as i can see) and then add the overflow hidden property.

[code]

This way it will cut off the bottom half of the waveform leaving you with only the upper half.

[2018-03-18 17:51] thijstriemstra commented on #1351
@neeraj24a what version of Safari? What version of wavesurfer.js?

[2018-03-18 17:52] thijstriemstra commented on #1350
#1336 looks related.

[2018-03-18 17:54] neeraj24a commented on #1351
It's wavesurfer version 2 and safari 5.1.7 for windows 10 and 11.0.3 for macOS

[2018-03-18 17:59] thijstriemstra commented on #1351
you need to be more specific. Try with the latest version to make sure it's not already fixed. Can you create a codepen example that reproduces the problem?

[2018-03-18 18:02] neeraj24a commented on #1351
I have used the latest version of wavesurfer using npm in my application I have used vuejs through which it will be bit complicated to reproduce it in codepen. If you think I am not using latest version can you tell me how to use latest version using npm?

[2018-03-18 18:04] thijstriemstra commented on #1351
See https://wavesurfer-js.org/ quickstart section or use `npm install wavesurfer.js`.

[2018-03-18 18:05] neeraj24a commented on #1351
I have used exactly the same thing. What would be then now?

[2018-03-19 13:40] thijstriemstra commented on #1351
If you can re-create the error in a codepen (with or without vuejs), post it here and I'll reopen if I can reproduce it on Safari.

[2018-03-19 13:41] thijstriemstra commented on #1309
@katspaugh these codepen examples on the website are not really practical since only you can edit/update them afaik. I'd rather use 'local' examples there, thoughts?

[2018-03-19 14:18] katspaugh commented on #1309
@thijstriemstra I agree. The script is already included in the header template, so we could just use it from every page.

It would be cool to have something like CodeMirror with the example code evaluated live. That's why I went with CodePen initially (but now I see it's a pain to update).

[2018-03-28 13:49] suresh2110 commented on #1283
Is there any update on this issue? I have an an hour of peaks data which I have to render. Would like to know how to go about it.

[2018-03-30 17:31] suresh2110 opened #1352 "Pre-rendered peaks not zooming correctly"
# Hey, thank you for testing and contributing to wavesurfer.js!

##

(You don't have to post this section)

- [ ] I have checked [the FAQ](https://wavesurfer-js.org/faq/) and it doesn't solve my problem.
- [ ] I have checked [the documentation](https://wavesurfer-js.org/docs/) and it doesn't solve my problem
- [ ] I have searched for [already open issues](https://github.com/katspaugh/wavesurfer.js

[2018-03-30 17:42] #1352 closed

[2018-04-16 08:43] vanpipy opened #1353 "Same code in webaudio.js"
https://github.com/katspaugh/wavesurfer.js/blob/47f443c13072864ccef061f6ade783cee42af5f5/src/webaudio.js#L120

https://github.com/katspaugh/wavesurfer.js/blob/47f443c13072864ccef061f6ade783cee42af5f5/src/webaudio.js#L136

There is same code, it's no problem but maybe a little confused.

[2018-04-18 03:45] #1353 closed

[2018-04-20 08:13] PotatoSmith opened #1354 "It cannot draw timeline when height more than 32767px"
it a great plugin, but I met a issue, I draw lengthways timeline when height more than 32767px it cannot work. Do you have any limit？

[2018-04-22 01:11] heyaphra opened #1355 "Record audio context output?"
This might be a more general WebAudio question, but I have not been able to find answers anywhere and I'm hoping to glean some knowledge from those more experienced.

I am using multiple WaveSurfers with the region plugin to load samples in a digital instrument. Is there a way to record and save sounds being played in real time within a single AudioContext? So far I have only been able to capture

[2018-04-22 13:11] MoogyG opened #1356 ""responsive" parameter is set to false by default"
Wavesurfer.js version: 2.0.5

"responsive" parameter is set to false by default but documentation says it's true.

For me, it should be true by default so a code change is required.

[2018-04-22 20:36] suresh2110 opened #1357 "Moving region with audio play"
Thanks for  a great library.
I am using wavesurfer 2.0.5 ver in chrome ver 65.
 This is more a usability question. I am running  pregenerated peaks for a 30mts - 1hr wav file. I am using the timeline and region plugins. I understand that you can drag the region and position it, but is there a way to make the region move along with the audio as it plays,
 Also adding a region to minimap and moving

[2018-04-23 09:30] GitHubRakeshSharma commented on #1355
There are several Solutions to this using OfflineAudioContexts. Just have a look there

[2018-04-23 10:13] katspaugh commented on #1324
The peaks are always numbers (floats). It looks like you're transforming or outputting them wrong.

<img width="255" alt="screen shot 2018-04-23 at 12 12 32" src="https://user-images.githubusercontent.com/381895/39120752-aafe2110-46ef-11e8-9b8b-520398ce89f2.png">

[2018-04-23 14:12] thijstriemstra commented on #1355
What error?

[2018-04-23 14:13] thijstriemstra commented on #1356
@MoogyG where is this incorrect documentation?

[2018-04-23 15:45] thijstriemstra commented on #1356
Opened #1358 for this.

[2018-04-24 00:20] bloom510 commented on #1355
MediaElement fall back is leaving the following error when set at initialization:
Uncaught TypeError: Cannot read property 'querySelector' of undefined
    at t.value (wavesurfer.min.js:6)
    at t.value (wavesurfer.min.js:6)
    at wavesurfer.min.js:6
    at wavesurfer.min.js:6
    at OfflineAudioContext.<anonymous> (wavesurfer.min.js:6)``

Here's a quick update: I'm able to record by creating a

[2018-04-24 00:43] thijstriemstra commented on #1355
I use it in conjunction with RecordRTC.js in the https://github.com/collab-project/videojs-record plugin to record audio, see https://collab-project.github.io/videojs-record/examples/audio-only.html. Maybe these projects can provide some pointers.

[2018-04-24 01:43] PotatoSmith commented on #1354
@thijstriemstra wavesurfer1.4.0, chrome 65.0.3325.146, ubuntu14.04

[2018-04-24 01:45] thijstriemstra commented on #1354
@PotatoSmith use latest wavesurfer: 2.0.5 and reopen if the problem is still there.

[2018-04-24 01:45] #1354 closed

[2018-04-24 19:32] bloom510 commented on #1355
I figured out that I needed to merge each WaveSurfer buffer, but this is only a preliminary step in the right direction. I now have a new question: Is there a way to get realtime PCM data of waveform regions as they're played using the exportPCM() method? I am aiming to get PCM data of samples played in real time, and merging each buffer into one.

[2018-04-26 09:13] GitHubRakeshSharma commented on #1355
You can always get the PCM data via XMLHTTPReq. Configure your response to be of type ArrayBuffer. Then you can calculate the byte range you need.

[2018-04-26 12:58] matt3224 opened #1359 "Basic example not working, please help"
https://codepen.io/matt3224/pen/VxKzzG?editors=1010

Hey why on earth doesn't the example above work? I can see that when I click A or B that it gets the file and increases the page size, yet no waveform

[2018-04-27 00:46] entonbiba commented on #1359
@matt3224 the server that is serving the mp3 files don't have "Access-Control-Allow-Origin" set and chrome blocks it since it's not coming from codepen domain.

https://codepen.io/anon/pen/yjadjW

[2018-04-27 00:50] entonbiba commented on #1348
@213zhaoqi you can get the wav data json file from this api I created and use backend: "MediaElement" while showing the full waveform.

I'll be increasing the upload size soon, it's currently set to 20 MB as I'm waiting for users to test it. #1183
https://waveform.al

[2018-04-27 01:03] entonbiba commented on #1316
@oxmanroman why don't you use window.sessionStorage instead and just load it from there? Even better use window.localStorage so when the user closes and opens the browser again it remembers.

[2018-04-27 01:06] entonbiba commented on #1283
@suresh2110 have you tried the renderer: "MultiCanvas" option?

[2018-04-27 11:31] suresh2110 commented on #1283
I am using Multicanvas. I am able to render it.

[2018-04-27 11:42] netgfx opened #1360 "Peaks exported from server are flat"
Hello, I try to export Peaks from audiowaveform with the recommended parameters:

`audiowaveform -i some-file.mp3 --pixels-per-second 10 -b 8 -o some-file.json`

but when I import the exported array of values into wavesurfer the result is a straight waveform like on this issue: https://github.com/katspaugh/wavesurfer.js/issues/1230#issuecomment-336590190

But I thought that was fixed on 2.0.0+

##

[2018-04-28 23:00] thijstriemstra commented on #1356
Fixed.

[2018-04-28 23:00] #1356 closed

[2018-04-28 23:00] #1359 closed

[2018-04-29 02:29] bloom510 opened #1361 "Region Sizing Mouse Detection"
Is there any way to increase the size of the area that initializes the length increase/decrease drag tool for a given region? It's currently very hard to position the cursor in such a small area and even harder with touch.

[2018-04-29 22:27] thijstriemstra commented on #1360
@netgfx I'm using these settings: https://github.com/collab-project/videojs-wavesurfer/pull/38#issuecomment-385286097

[2018-04-29 22:31] thijstriemstra commented on #1283
Thanks for the feedback.

[2018-04-29 22:31] #1283 closed

[2018-04-30 07:46] netgfx commented on #1360
thanks will give it a try!

[2018-05-02 20:47] Ricardonacif opened #1362 "How to do not manage audio playback by itself"
Hey,

I have a JS audio player all setup on React using https://www.npmjs.com/package/audio5 . Is it possible to use Wavesurfer just for the visual representation of the peaks, and not let it play the audio by its own?

[2018-05-03 11:20] littleBoyGoing opened #1363 "have a problem in use zui"
# Hey, thank you for testing and contributing to wavesurfer.js!

## Please make sure you can check all of these points below before opening an issue:

(You don't have to post this section)

- [ ] I have checked [the FAQ](https://wavesurfer-js.org/faq/) and it doesn't solve my problem.
- [ ] I have checked [the documentation](https://wavesurfer-js.org/docs/) and it doesn't solve my problem
- [ ] I

[2018-05-03 12:13] Je4hel opened #1364 "Using WaveSurfer for Voice Activity Detection"
Hi everyone,

I am not reporting a bug here but I have a question.

I am working on an app that records the user and then I display the spectrogram with WaveSurfer without any problem. What I need to add now is a voice activity detection to get the time when the user starts speaking.

I don't think I need something too powerful as the environment is quiet and the speech is short and not natural. I

[2018-05-06 18:51] thijstriemstra commented on #1362
@Ricardonacif probably.

[2018-05-06 18:51] #1362 closed

[2018-05-06 18:53] thijstriemstra commented on #1364
@Je4hel take a look at https://www.npmjs.com/package/hark and https://webrtchacks.com/getusermedia-volume/

[2018-05-06 18:53] #1364 closed

[2018-05-06 18:54] thijstriemstra commented on #1363
Hi @littleBoyGoing this ticket does not contain any information.

[2018-05-06 18:54] #1363 closed

[2018-05-07 20:24] thijstriemstra opened #1365 "Replace XMLHttpRequest with fetch API"
https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API

[2018-05-09 03:16] harvestmedia opened #1366 "Is there a way to draw a straight line instead of the wave form?"
Hi,

I have 2 views for my player element, large and compact. In the compact view I would like to just draw a straight line instead of the wave form.

I've tried

        playerCore.Player.params.height = 8;

        playerCore.Player.params.barWidth = 1000;

        playerCore.Player.drawer.clearWave();

        playerCore.Player.drawBuffer();

But the problem with this approach is that if the be

[2018-05-09 10:56] GitHubRakeshSharma commented on #1366
Try giving the load function an array like this: [0,0]. this should do the trick

[2018-05-09 12:34] matt3224 opened #1367 "Loading a second audio file freezes the waveform in safari mac"
### Wavesurfer.js version(s):
2.0.5

### Browser version(s):
Safari 11.1

### Code needed to reproduce the issue:
`http://dev.topline-music.com`
password is `Cookies!`

### Use behaviour needed to reproduce the issue:
[waveform.zip](https://github.com/katspaugh/wavesurfer.js/files/1987777/waveform.zip)

The above zip is a video which shows how to recreate the issue. This works fine in Chrome, I ha

[2018-05-10 19:58] matt3224 commented on #1367
Ok I have made a test case https://codepen.io/matt3224/pen/ELEpoz?editors=0010

you'll need to click through the numbers and it will freeze but continue to play audio.

its intermittent though so keep playing a few seconds of each track until it freezes, for me it will do it if i do like 1, 2, 3, 1, 2

this is in safari only it seems

[2018-05-10 20:30] matt3224 commented on #1215
the quick fix is to use `backend: 'MediaElement'`

[2018-05-11 07:37] nkli commented on #1162
current peak value is wrong

[2018-05-14 08:57] CCL1 opened #1368 "When I use TimelinePlugin, I show the overflow in scale. How do I solve this problem?"
![qq20180514-165736](https://user-images.githubusercontent.com/25790636/39987640-ef24fed2-5797-11e8-8f8a-0bae307f2b9b.png)

[2018-05-15 16:26] MrHimiko opened #1369 "Same song in two containers?"
Is there a posiblity to use one song in two different containers?

       var wavesurfer = WaveSurfer.create({
	    **container: '#waveform' AND '#waveformMobile',  <<<< THIS**
	    waveColor: '#bcbcbc',
	    progressColor: 'grey',
	    height: 60,
	    barWidth: 2,
	    maxCanvasWidth: 220
	});

I tried doing it with class and giving that name to two classes and doesnt work..
Thanks

[2018-05-16 10:17] awenger63 commented on #1361
Hi @bloom510, did you see if zoom can help you ? I use it to get fine seektime on the wave. But I don't have touch solution.

[2018-05-18 12:21] torinberger opened #1370 "Error: Container element not found"
## Wavesurfer.js version(s):
1.1.10

## Browser version(s):
Chrome v66.0.3359.139

## Code needed to reproduce the issue:
### Index.js
[code]
### main.js
[code]
## Error
`Uncaught Error: Container element not found
    at Object.init (VM126 wavesurfer.min.js:4)
    at Object.a.create (VM126 wavesurfer.min.js:4)
    at VM127 main.js:2`

I'm really stuck, just followed docs and this https://codepen.

[2018-05-18 13:30] MrHimiko opened #1371 "Play clicked song in playlist"
Hi,  can you help me about this..
I have a playlist that looks something like this
http://prntscr.com/jjjchs

I am trying to play only song that is clicked on playbutton..
I tried to match containers of clicked div and song.. I matched them, but i cant make them to play only that one wavesurf that is in that div. It plays them all..

Any help would be greatly appriciated :D

[code]

[2018-05-18 13:45] MrHimiko commented on #1371
I just experienced this .. [https://svenalmberg.files.wordpress.com/2014/11/my-code-doesnt-work-i-have-no-idea-why.jpg?w=550&h=372&crop=1](url)

Fixed it.. ty anyway..

[2018-05-18 13:46] MrHimiko commented on #1371
Fixed it, no idea how.. :D sry for posting...

[2018-05-18 13:46] #1371 closed

[2018-05-18 23:22] IdiosApps opened #1372 "WaveSurfer.Microphone - can't convert undefined to object"
### Wavesurfer.js version(s):
wavesurfer.js/2.0.5
wavesurfer.js/1.2.3/p.ugin/wavesurfer.microphone.min.js

### Browser version(s):
FF61.05b

### Error:
Extend.js:11:8 - TypeError - can't convert undefined to object
ReferenceError: Microphone is not defined.

### Code:
	<div id="userWaveform"></div>

        <script>
	var wavesurfer;

	$('#userRecord').click(function(e) {

	    wavesurfer = WaveSur

[2018-05-18 23:26] IdiosApps commented on #1372
1 question: should both versions be 2.0.5 (latest) - for wavesurfer and for the microphone plugin?
I got that link to the cdn for the microhphone plugin from https://codepen.io/katspaugh/pen/NxomRd.

[2018-05-19 01:51] IdiosApps commented on #1372
With the 2.0.5 microphone plugin, I'm getting:

TypeError: WaveSurfer.Microphone is not an object or null[Learn More]

### Code:

$('#userRecord').click(function (e) {
            var wavesurfer = WaveSurfer.create({container: '#userWaveform', waveColor: 'violet'});
            var microphone = Object.create(WaveSurfer.Microphone);
....
}

[2018-05-19 01:54] IdiosApps commented on #1372
I don't get any errors with the following code:

`$('#userRecord').click(function (e) {
            var wavesurfer = WaveSurfer.create({container: '#userWaveform', waveColor: 'violet', plugins: [WaveSurfer.microphone.create()]});
            // var microphone = Object.create(WaveSurfer.Microphone);

            wavesurfer.microphone.on('deviceReady', function() {
                console.info('Devi

[2018-05-19 02:01] IdiosApps commented on #1372
All working now.
Microphone permission was requested after I moved waveform+microphone creation out of an onClick event (silly me).

I hope that this thread will help any noob who struggles to set this up. Closing as the issues have been resolved.

[2018-05-19 02:01] #1372 closed

[2018-05-19 02:07] IdiosApps opened #1373 "Wavesurfer.microphone guides confusing"
At the following link, 1) js src is out of date (1.2.3 -> 2.0.5), and 2) the .js code didn't work for me:
https://wavesurfer-js.org/plugins/microphone.html

The code that did work for me is at:
https://github.com/katspaugh/wavesurfer.js/blob/master/example/microphone/app.js

It would be worth clearing these things up as it took me a few hours to figure out how to fix things.

[2018-05-19 02:15] IdiosApps commented on #1373
and http://wavesurfer-js.org/example/microphone/ links to  http://wavesurfer-js.org/plugin/wavesurfer.microphone.js which gives 404

[2018-05-19 08:11] sebhoff opened #1374 "Region play not working as expected"
Hi all!
I recently discovered wavesurfer.js and have integrated it into a web-interface for linguists (making it possible for them to play the audio for query results they retrieve). Since the alignment of words and sound isn't always ideal, I am using the regions plugin to allow them to highlight the stretch they want to listen to - or at least that's the plan. For the past few days, I have been

[2018-05-19 12:52] thijstriemstra commented on #1370
@torinberger you're using an ancient version of wavesurfer. Please try 2.0.5 or newer.

[2018-05-19 12:52] #1370 closed

[2018-05-19 15:04] thijstriemstra commented on #1373
Thanks for the report, will fix this. This is basically a duplicate of #1309, closing.

[2018-05-19 15:04] #1373 closed

[2018-05-19 15:05] thijstriemstra commented on #1374
You can try stackoverflow.

[2018-05-21 03:32] torinberger commented on #1370
I just tried with version 2.0.5, from this cdn: https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.5/wavesurfer.min.js

Still get the same error

[2018-05-21 15:37] hburgund opened #1377 "Microphone plugin in iOS 11 not working (example page)"
I am having trouble implementing the microphone plugin on iOS 11. It works great on every other platform I have tried, including Chrome in Android, but iOS is a problem.

I have tried many different implementations myself, but the fact that the demo page for the microphone plugin doesn't work for me on iOS 11.3 makes me wonder if this is a problem across the board, not just for me.

https://wavesu

[2018-05-21 20:09] thijstriemstra commented on #1281
There's now also a polyfill available: https://github.com/GoogleChromeLabs/audioworklet-polyfill

[2018-05-21 23:06] thijstriemstra commented on #1377
@hburgund I think this should work, but take a look at safari issues: https://github.com/katspaugh/wavesurfer.js/search?q=safari&type=Issues

[2018-05-21 23:07] thijstriemstra commented on #1369
@MrHimiko you can create 2 players. I would preload the audio somehow and once that's done launch 2 players?

[2018-05-21 23:08] thijstriemstra commented on #1367
~~that~~ safari sucks

[2018-05-21 23:16] hburgund commented on #1377
Hi @thijstriemstra...thx for the response. I have looked at some of these issues already with no luck, but I will look again to make sure I haven't missed anything.

Can you confirm that the official example for the mic plugin does in fact work in mobile safari for you? I only have one iOS device running iOS 11, so it is certainly possible that for some reason that device is behaving abnormally. I

[2018-05-21 23:17] thijstriemstra commented on #1377
I don't have a device to test it on (atm).

[2018-05-21 23:19] hburgund commented on #1377
ah, no problem! I will do more testing and if anyone else who sees this wants to add data points, that would be great too. :-)

[2018-05-21 23:20] thijstriemstra commented on #1090
Typo in docs looks fixed on the site. Should open a new ticket for moving docs into `master` branch.

[2018-05-21 23:20] #1090 closed

[2018-05-21 23:39] thijstriemstra commented on #1373
Example's now updated on the site.

[2018-05-21 23:53] thijstriemstra commented on #1365
@janhartmann perhaps you can take a look at this and make an initial pull request? Because this will break any `xhr` options I think.. cc @katspaugh

[2018-05-23 01:57] hburgund commented on #1377
sure, I can do this and see what I can come up with.

FWIW, I have already done experiments with using wavesurfer to display the waveform of an audio file that was just recorded in the browser using mic access. I have gotten this to work on all major platforms, including mobile Safari in iOS 11. On all other platforms, the mic plugin displays the real-time audio input, but in mobile Safari, nothin

[2018-05-23 01:59] thijstriemstra commented on #1377
Also check the videojs-record (and videojs-wavesurfer) projects!

[2018-05-23 10:48] awenger63 commented on #1368
@CCL1 I don't have this problem or I'm not sure I understand it. If your problem isn't solve and you need help, please send us more information (version, code of implementation HTML and script ...)

[2018-05-23 17:03] awenger63 opened #1380 "change start second and format on timeline plugin"
New needs on Timeline plugin :
 - change start second by real value instead of 0. This case is for use this plugin for a recording, I would like to begining the Timeline by the rigth hour of the record begin.
 - change Timeline format to add hour of the day corresponding at the record date.
see this example screenshot :
![image](https://user-images.githubusercontent.com/16153617/40440504-92d13f6e-

[2018-05-24 00:10] hburgund commented on #1377
thx for those links. looks like videojs-record and videojs-wavesurfer unfortunately have the same problem in that they don't visualize the mic input in mobile safari. The recorder does work, like my example, and the waveform is displayed after recording is completed; just no real-time display. The console prints out statements that suggest it is working like "wavesurfer.js microphone plugin enable

[2018-05-24 15:49] MileanCo opened #1381 "How to play/decode Ogg files on Safari?"
We are loading our audio from a url like this:

`
let audio = new Audio(url);
self.wavesurfer.load(audio, peaks);
`

However, this does not work on Safari because they dont have any native decoders built-in like Chrome and Firefox.

How can I add a special JavaScript decoder such as https://github.com/chris-rudmin/opus-recorder or https://github.com/brion/ogv.js/ to WebAudio? We only have ogg file

[2018-05-25 20:15] thijstriemstra commented on #1381
check https://collab-project.github.io/videojs-record/examples/audio-only-ogg.html for wavesurfer visualizing live audio using opus-recorder (and recording it). perhaps that project or videojs-wavesurfer can give you some clues.

[2018-05-26 12:47] MileanCo commented on #1381
Ok thanks! I dont need to visualize the audio, since I already have the json file from audiowaveform. Just need to play the audio in ogg format.

[2018-05-30 12:33] MileanCo commented on #1381
Are there any plugins you can add to wavesurfer.js that will decode the ogg properly on all browsers?

[2018-05-30 17:53] lorenzfischer opened #1382 "Immediate Playback using WebAudio Backend"
### Wavesurfer.js version(s):
2.0.5

### Browser version(s):
Chrome Mac 66.0.3359.181 (Official Build) (64-bit)

### Description of the Issue:
When loading a large audio file (20mb+) using the default `WebAudio` backend, the playback can only begin after the whole audio file has been downloaded. When using the `MediaElement` backend, the playback is immediate, however, the timing information retur

[2018-05-30 19:54] thijstriemstra commented on #1380
Pull requests are always welcome!

[2018-05-31 10:25] nongcunshaoye opened #1383 "how to export pcm"
exportPCM ()   is not work in version 2.0.5,    any other method replace ?

[2018-06-01 17:40] Jun711 commented on #1367
@matt3224 your codepen example doesn't seem to play
However, I also have a similar problem with the waveform on safari. On Chrome, it works fine.

[2018-06-01 17:47] Jun711 commented on #1215
@mfairchild365 Do u know what the possible drawbacks are?

[2018-06-03 23:13] thijstriemstra commented on #1383
@nongcunshaoye it works: https://github.com/katspaugh/wavesurfer.js/blob/master/spec/wavesurfer.spec.js#L269

[2018-06-04 03:22] nongcunshaoye opened #1384 "npm run build error"
[code]

[2018-06-04 04:23] nongcunshaoye opened #1385 "How to export mp3 file"
if I load a mp3 url ,how to  export mp3 file

[2018-06-05 15:57] jambonbill opened #1386 "'region-in' fire multiple times"
### Wavesurfer.js version(s):
1.4.0 to 2.0.5

### Browser version(s):
Firefox 60.0.1 and Chrome Version 63.0.3239.132 (Official Build) (64-bit)
on Ubuntu/Linux

note: I also observe the problem on a Mac (w recent browser)
note: 'region-out' also fire multiple times

### Code needed to reproduce the issue:
https://codepen.io/jambonbill/pen/LrZxqo

``wavesurfer.on('region-in', function(region){conso

[2018-06-05 18:52] edward2990 opened #1387 "not loading complete audio file"
I'm using wavesurfer into my angular4 application and all is fine but the audio isn't loading complete, i'm using a local mp3 file. it loads the first 5 seconds only of the audio and the audio is about 3 minutes

[2018-06-07 15:37] yarandoo opened #1388 "Wavesurfer and Video Element source sharing"
Hi,

Thanks for this great library!

I am currently using WaveSurfer to analyse the audio of some short videos - the problem is that the browser is actually downloading the files twice. One for the Html5 Video Element, and one for analysing it with wavesurfer.

Is there any way I could optimize this, and have the browser and wavesurfer be using the same media file?

Many Thanks,

Esteban

[2018-06-08 10:04] LangsamNil commented on #753
wavesurfer is awesome and compact, great job really but please, increase the doc :D

[2018-06-10 00:32] thijstriemstra commented on #1385
You should try stackoverflow for a question like this.

[2018-06-10 00:34] thijstriemstra commented on #1384
@nongcunshaoye I'm not able to reproduce this. can you share more info?

[2018-06-10 00:35] thijstriemstra commented on #1388
download it once, after that it should be cached.

[2018-06-10 00:35] #1388 closed

[2018-06-10 05:13] nongcunshaoye commented on #1384
ok,  thanks a lot!

[2018-06-11 06:28] ErezDalet opened #1390 "Show waveform of a big audio file as it loads"
Hi,
I want to show the waveform of a big audio file (at least 100 MB, at least 1 hour).
I can't wait for the whole file to load because it takes a lot of time.
I need to show it right from the start, as it loads.

I know that I can somehow use array of "Pre-recoded Peaks", but it is heavy to receive this data from my server, so I actually can receive arrays of "Pre-recoded Peaks" in chunks, meanin

[2018-06-11 08:03] lauradP opened #1391 "jwplayer integration"
Hi,
is there any chance of integrating wavesurfer (along with videojs-wavesurfer plugin) with jwplayer?

Thanks,
Laura

[2018-06-11 08:57] Asile984 commented on #1391
Hi,

I'm interested in JwPlayer integration too.
I'd like to use wavesurfer to show the waveform referred to the audio track of a video played in JWPlayer.
Is there a way to synchronize audio track and video?

Thanks a lot,
Asile

[2018-06-11 10:39] thijstriemstra commented on #1387
@edward2990 without any example code/files, this will be hard to fix.

[2018-06-11 10:40] thijstriemstra commented on #1390
Try the `backend: 'MediaElement' option.

[2018-06-11 10:41] thijstriemstra commented on #1391
@Asile984 you can use a `video` element instead of `audio` to achieve that.

[2018-06-11 11:03] ErezDalet commented on #1390
Thanks but this options just allows to hear the audio before the full waveform loads.
It doesn't display it until it is fully loaded.

[2018-06-12 11:29] GitHubRakeshSharma commented on #1390
You might need to write your own drawer class. It just needs some minor modifications.

[2018-06-12 11:45] ErezDalet commented on #1390
@GitHubRakeshSharma What do you mean? Do you have an example?

[2018-06-12 22:43] #1384 closed

[2018-06-13 08:42] GitHubRakeshSharma commented on #1390
I am sorry, I am a little short on time. But: e.g. take the multicanvas drawer and get yourself through the whole structure. You will find that the drawing takes multiple steps and finalizes with the drawLineToContext. There are many point where you can modify the methods to for example store the last drawn point [(x|y)-value] and then just let the drawer draw the next chunk from that starting poi

[2018-06-14 02:04] ducpt1 opened #1392 "[Plugin Cursor] Show time of audio/video when move mouse?"
How can I show time of audio/video when hover mouse on waveform?

Sorry for my bad English !!!

[2018-06-14 20:19] hang1fire opened #1394 "Looking for a Developer to help us build on Wavesurfer"
We've just launched our new webapp - Alitu: The Podcast Maker (alitu.com) - designed to help podcasters create their shows much more easily. We've heavily integrated wavesurfer as a part of the tool, but our next stage is to start to customise it a LOT to make it even more useful to our audience. We're looking for a developer to help us with that!

We're looking for someone who knows Wavesurfer in

[2018-06-16 21:39] thijstriemstra commented on #1394
You can send me an email at my git commit email address, we can go from there.

[2018-06-18 19:57] vejmelkam commented on #1374
Hi, I have the same issue, traced into wavesurfer.play(start, end) not respecting the start parameter at all, only the end parameter.  I have Chrome 67.0.3396.87 on OS X.  This happens regardless of whether the play() call was invoked via a region click handler or not - simply calling play() with the start/end parameters suffices to reproduce.

I have traced it to the line

this.media.currentTime

[2018-06-19 09:06] Joudee opened #1398 "Bugs,wave static in iOS after interact."
#### In mobile pages,the steps is following.
#### 1.set play.
#### 2.set pause.
#### 3. interact with wave.
#### 4.set play.
#### Then,the wave can't move and the audio is still playing.Another,the finish methods can't be trigger.

[2018-06-19 13:39] awenger63 commented on #1390
Hi,
If i understand your need, for me the best way it's use pre-recoded peaks like you suggest, but you need to have one or more json file with peaks data to do this.
if you want to load 10 minutes by 10, you always need to concat it with array contain [0,0, ... 0,0] to replace the part of peaks not arrived, because your wave must contain data for all file duration.

I have a little solution I hav

[2018-06-19 14:48] awenger63 opened #1399 "Zoom rendered and performance"
Hi,
Two issues : when I zoom on wavesrufer loaded with peaks, there are rendered issue : blank zone or duplicate peaks on new canvas depend of zoomLevel.

![image](https://user-images.githubusercontent.com/16153617/41603105-97403e0a-73dc-11e8-920c-dfb41a101469.png)
![image](https://user-images.githubusercontent.com/16153617/41603220-d212e4a6-73dc-11e8-93cd-79d8790fe23d.png)

When increase zoom, th

[2018-06-20 10:47] parthapratim15 opened #1400 "Can not generate graph in Firefox for the specific mp3 audio file"
We are facing problem to draw the audio visualization (graph) by wavesurfer JS in Firefox for some specific format of the mp3 file. It always gives us the error like: The buffer passed to decodeAudioData contains an unknown content type.

But same file is running in chrome without any problem. After the investigation, we have found that decodeAudioData() is used in wavesurfer JS which is generatin

[2018-06-20 12:35] awenger63 commented on #1400
Hi,
I have found similar issue between browser. You dont need wavesurfer to have this problem.
Just type url song on the browser. In this case, it is your file contains structure error.
I just control your file and find : "(offset 0x0): Garbage at the beginning of the file"
Correct it (I do it) and replace file => now it's OK !
Hope this solve your problem, see how you can have 'nice' mp3 file ;-)

[2018-06-20 12:59] tanx16 opened #1401 "Audio quality lowered / audio speeding up when calling getCurrentTime repeatedly"
I'm making an Angular app that uses wavesurfer, and it polls for the time every 150ms or so. When I listen to the audio, there are clear "blips" every time it polls when it is not silent. Also, as the recording goes on, it speeds up as well. E.g. if I skip to the last minute of the recording, it goes at around 5x speed. If I jump back to the beginning, it returns to a normal speed. This difference

[2018-06-20 14:51] vladflorescu94 commented on #636
The guilty lines are:

Inside `createBackend` function:

https://github.com/katspaugh/wavesurfer.js/blob/cd5e3f2974032486d27c7ce6a605b708ce1c4d13/src/wavesurfer.js#L592-L594

and inside `seekTo` function:

https://github.com/katspaugh/wavesurfer.js/blob/cd5e3f2974032486d27c7ce6a605b708ce1c4d13/src/wavesurfer.js#L772-L775

https://github.com/katspaugh/wavesurfer.js/blob/cd5e3f2974032486d27c7ce6a605

[2018-06-20 15:33] #1401 closed

[2018-06-20 21:10] pudg opened #1402 "Visualizing real-time waveform"
Has anyone tried to visualize real-time audio comming in from a python flask app? I'm currently capturing audio using pyaudio and flask to stream in byte-form, but everything i've found that uses wavesurfer looks like it needs a prerecorded audio file, or the microphone pluggin. Alternatively, if anyone knows a different library to use for this task, I'd greatly appreciate it. Thanks!

[2018-06-21 03:05] parthapratim15 commented on #1400
@awenger63 First of all thanks for your quick response. I can't get your words clearly. The file actually runs directly in the browser but it is not running in wave-surfer. The file I have mentioned is here:
http://audiospectrum.bjitgroup.com/mp3/firefox.mp3

I understand that there is some garbage at the beginning of the file but for this, I have removed 0x0 offset by using https://hexed.it/ and

[2018-06-21 08:06] awenger63 commented on #1400
Hi @parthapratim15
Sorry for my bad writing, I wanted to answer very quiclky.
I using [mp3val](http://mp3val.sourceforge.net/index.shtml) to control your file and it's work fine for me in wavesrufer after that this program have corrected your mp3 file like this :
[firefox.zip](https://github.com/katspaugh/wavesurfer.js/files/2122622/firefox.zip)
See screen shot
![image](https://user-images.githubu

[2018-06-22 10:27] parthapratim15 commented on #1400
@awenger63 First of all, sorry from my side. Because I could not understand your words. I was unable to fix the file actually. But after your message, I have investigated it and finally fixed it. Your comment saves me.
We have fixed it by following steps:

- [ ]  1. First, convert the corrupted file to array buffer
- [ ]             2. Slice first 2 bytes
- [ ]             3. Afterwards, convert a

[2018-06-25 03:48] parthapratim15 commented on #1400
Since the issue is resolved i am closing the ticket

[2018-06-25 03:48] #1400 closed

[2018-06-25 10:34] thijstriemstra commented on #1402
@pudg you can feed and redraw your data like this:

[code]

[2018-06-25 10:36] thijstriemstra commented on #1398
Search for `safari` in the issues, this has been reported before and is a known issue I think.

[2018-06-25 11:00] Guisch opened #1404 "Unit test for destroy is missing"
All is in the title

Refer to https://github.com/katspaugh/wavesurfer.js/pull/1396#issuecomment-399912442

[2018-06-26 14:04] awenger63 commented on #1392
see #1143  ?

[2018-06-27 09:11] peerfischer opened #1405 "Accuracy of saved waveform"
Hello,

I'm saving the peaks as JSON -

[code]

Unfortunately the saved waveform is not as accurate as the one which is generated on the fly -
look here:

https://imgur.com/a/RyBVtsS

How ca this be fixed ? There seems to be no parameter ?

## Please make sure you provide the following information (if applicable):

### Wavesurfer.js version(s):
wavesurfer.js 2.0.5

### Browser version(s):
all

[2018-06-27 10:13] awenger63 commented on #1405
Hi @peerfischer ,
the code in ExportPCM contain this line :
`accuracy = accuracy || 10000`
`var arr = [].map.call(peaks, function (val) {
                return Math.round(val * accuracy) / accuracy;
            });`
You must more increase your accuracy value, peaks sometime contain value with a lot of decimal.

Or perhaps make a new PR to no apply it when it's egal 0 (div 0 is not tested) ?
I hop

[2018-06-27 11:15] peerfischer commented on #1405
Hello, thanks for thisn hint ! Unfortunately I can set the accurany parameter to any value - it doesnt change anything. I tried values from 10000 - 200000 ?

[2018-06-27 12:11] awenger63 commented on #1405
OK but peaks value look like 0.24094337224960327
with 200000 you have 0.240945
No great difference, but if all value are similar you lots some accurancy. Please, try with 100000000000000000 ! and tell us

[2018-06-27 12:29] peerfischer commented on #1405
Hello,

even this setting seems to change nothing - the saved waveform is much less accurate and differs from the inital one. Peal values in JSON seem to be correct like "-0.06634521484375" - perhaps there are some values missing?

[2018-06-27 12:32] peerfischer commented on #1405
I count round about 480 peak values for a track of 1 minute...

[2018-06-27 13:32] awenger63 commented on #1405
Yes perhaps, use the same length to check. See on 'drawBuffer' function witch width is use.

[2018-06-28 05:49] Joudee commented on #1398
I have fixed this bug.To set 'this.scriptNode.onaudioprocess = () => {}' in wavesurfer.js.The onaudioprocess can't be null.

[2018-06-28 20:05] cameron-henkel opened #1407 "Loading frequencies data into spectrogram plugin"
The spectrogram plugin has a frequenciesDataUrl parameter that seems to be used by loadFrequenciesData(url) to pull frequency data from a JSON file and draw to canvas. Is there any documentation on how to use this parameter or what format it expects the data to be in? Generating spectrograms when loaded can take upwards of 10 seconds for a simple 2 minute mp3 and being able to preprocess and load

[2018-07-02 14:44] JRR-OSU opened #1408 "Cannot load waveform from external filesystem on Android"
Hi there. So I'm trying to load a waveform with a file from the external device filesystem on android. I've double and triple checked my permissions. Due to my app being a hybrid one, I'm able to load files from the external file system (that are not loaded through wavesurfer) just fine. I have wavesurfer loading correctly if I load from the app's `www/ `folder, however an `XHR error ` is returned

[2018-07-02 15:38] thijstriemstra commented on #1408
can you add a screenshot?

[2018-07-02 17:04] JRR-OSU commented on #1408
@thijstriemstra Sure. I removed some info in the console logs that is just other debug info for my application (not related to waveform loading).

<img width="1920" alt="bug" src="https://user-images.githubusercontent.com/12603147/42176868-76b415aa-7df8-11e8-95fc-85a0b741f287.PNG">

[2018-07-02 17:06] JRR-OSU commented on #1408
@thijstriemstra  A closer look...
![image](https://user-images.githubusercontent.com/12603147/42176938-b395042a-7df8-11e8-90aa-94beb05fa76c.png)

[2018-07-03 06:36] mirzazulfan opened #1409 "Propose Logo"
Hi sir @katspaugh . I'm graphic designer and an open source enthusiast. I would like to contribute to your awesome project. I've designed a logo for your project and its free. if you need something else i'll make it for your project. Thank you
Best Regard. Mirza Zulfan
![wavesurfer](https://user-images.githubusercontent.com/36124339/42202556-0a8a141e-7ec6-11e8-90b4-46cdbbf7a41e.png)

[2018-07-03 06:55] julj opened #1410 "Spectrogram renderer"
Is there any plan to make a spectrogram renderer, i.e. to get the spectrogram instead of the waveform in the container specified in `var wavesurfer = WaveSurfer.create({ ... })`?

[2018-07-03 08:44] katspaugh commented on #1409
Hi Mirza!
Thanks a lot for offering your help!
I'd rather see a stylized waveform on the logo, or an actual tidal wave 🌊or a surf board 🏄‍♂️.

[2018-07-03 13:46] mirzazulfan commented on #1409
Thank for your response sir. I'll make it and shown it to you.

[2018-07-03 15:04] JRR-OSU commented on #1408
@thijstriemstra I believe I have fixed it. On Android only, waveforms must be loaded with the cdvfile:// url.

I'm not sure why this is, but the Ionic Native File plugin needs much better documentation on this.

[2018-07-03 20:11] thijstriemstra commented on #1408
Thanks for feedback. Closing.

[2018-07-03 20:11] #1408 closed

[2018-07-04 01:38] waasoojoms opened #1411 "Audio Decibels per Channel"
Hello Everyone.

I currently have a Project that for listening a sound. I already got the Balance of left and right channels using panner but my problem is i cannot get the decibels for each channel (left and right).

 Do you know how to get the decibels of the sound?

Thanks.

[2018-07-04 10:05] julj opened #1412 "SyntaxError: bad method definition (wavesurfer.js)"
I am trying to run an example from wavesurfer.js with a local clone of the code (commit  00b1e8185c9987ebaa950188b9bc060b31967626) and the code shown below, but I get the following error (Firefox 60.0.2 on Ubuntu 16.04):

`SyntaxError: bad method definition (wavesurfer.js:179:4)`

Any idea?

<b>index.html</b>

[code]

<b>zoom.js</b>

[code]

[2018-07-04 15:39] mirzazulfan commented on #1409
Thanks for your feedback. :) ... i'll try to make it better. :)

[2018-07-05 07:35] pmichaelis commented on #1405
wavesurfer.on('waveform-ready', function () {

        var length = 500;
        var start = 0;
        var end = 500;

        var nominalWidth = Math.round(wavesurfer.getDuration() * wavesurfer.params.minPxPerSec * wavesurfer.params.pixelRatio);

        var pcmData = [wavesurfer.exportPCM(nominalWidth,](url) 100000000000000000, true, start);
        savePeaks(fileId, JSON.parse(pcmData));

[2018-07-09 15:05] awenger63 commented on #1405
@pmichaelis , @peerfischer
You have right, ExportPCM don't get the same peaks of the load process without peaks.

To have the same wave, with the same peaks, call the getPeaks function on the backend like this

`var pcmData = '[' + wavesurfer.backend.getPeaks(500, 0, 500) + ']';`

It's seem to work for me.
Could you test it ?

[2018-07-09 15:42] pmichaelis commented on #1405
Hey, thanks for the quick reply.
I was testing with getPeaks before, but couldn't optimize. The save mechanism seems to work, but still there a huge visual differences:

![image](https://user-images.githubusercontent.com/5164671/42460889-6090ce4c-839f-11e8-92f2-cbb82d1c687d.png)

[2018-07-09 17:43] awenger63 commented on #1405
@pmichaelis , can you post your code create wave part with your parameters ?

[2018-07-10 07:57] pmichaelis commented on #1405
Hey, thanks!

This is the way I am saving the waveform. I inserted the "getPeaks Advice" form you, yesterday.

// wavesurfer waveform ready
wavesurfer.on('waveform-ready', function () {
    container.children('.loader').css('width', '0%');
    container.css('background-image', 'none');

    // cache Waveform
    var length = 500;
    var start = 0;
    var end = 500;

    var nominalWidth = Math.r

[2018-07-10 08:14] awenger63 commented on #1405
Yes, but the `wavesurfer = WaveSurfer.create( ......)`

[2018-07-10 08:28] pmichaelis commented on #1405
Ah, ok,

    wavesurfer = WaveSurfer.create({
        container: '#' + dataId,
        waveColor: '#3aa3d9',
        progressColor: '#3aa3d9',
        hideScrollbar: true,
        backend: 'MediaElement',
        fillParent: true,
        scrollParent: false
    });

[2018-07-10 10:10] awenger63 commented on #1405
Sorry, I don't have any more idea. Can you check if your lenght = your dataId container.width = end ?

[2018-07-10 10:52] pmichaelis commented on #1405
Ok, thanks for your help so far. I'll check on that. I think this might be a good hint.

[2018-07-10 13:22] awenger63 commented on #1405
It's not an accuracy issue, but it's a number of peaks issue that you need to resolve the size for your visual difference.
If you really want the same visual aspect, you need to have same width and same number of peaks (813 in your case I suppose). Otherwise, I thinks you need to use pixelRatio to drawn all peaks generate on the render wave picture.
It seem difficult to have always same visual asp

[2018-07-10 15:50] toolowner commented on #269
@katspaugh Sorry for bothering you. Is there anyone make this plugin into real life?

[2018-07-10 22:59] thijstriemstra commented on #1412
Follow these instructions: https://github.com/katspaugh/wavesurfer.js#development

Basically: `npm run start`

[2018-07-10 22:59] #1412 closed

[2018-07-10 23:00] thijstriemstra commented on #1410
@julj there's the spectrogram plugin: https://wavesurfer-js.org/plugins/spectrogram.html

[2018-07-10 23:00] #1410 closed

[2018-07-10 23:01] thijstriemstra commented on #1409
awesome initiative @mirzazulfan

[2018-07-11 04:24] joshuaiz opened #1413 "Seek/Progress with SoundManager2"
I posted this previously in #704 but the issue was closed so posting again in the hopes that someone can help as this is still unsolved for me.

I'm trying to do this too and I got the waveform to generate using Bar UI and some simple jQuery:

[code]

This generates the waveform but I'm having no luck binding seek changes from wavesurfer to the Bar UI progress or vice-versa.

Ideally, when you mou

[2018-07-11 07:18] julj commented on #1410
I am aware of the spectrogram plugin but if I can't see how to get the spectrogram as the main audio visualization. It seems that it is only possible to have it **in addition** to the waveform (i.e., in another container). Am I wrong?

[2018-07-11 11:14] thijstriemstra commented on #1412
@julj you can use it with the script tag. The npm run command ensures all seperate source files are stitched together into one wavesurfer.js file. If you don't change the source code you can simply use the CDN version, and there's no need to use the npm run script: `<script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.6/wavesurfer.min.js"></script>`

[2018-07-11 11:15] thijstriemstra commented on #1410
You can hide the original waveform using CSS/javascript.

[2018-07-11 11:29] julj commented on #1412
If I use the script tag to include wavesurfer.js, I get the error shown in my first message.
I reformulate my question then: How can I use the script tag to include a local version of wavesurfer.js cloned from the repository, untouched, without using npm?

[2018-07-11 11:34] thijstriemstra commented on #1412
@julj

* checkout code
* npm install
* npm run build

Resulting wavesurfer.js and wavesurfer.min.js can be found in dist/ folder.

[2018-07-11 11:38] julj commented on #1410
Well, I know that I can hide it, but that does not answer my question.
To clarify further my question, what I want is a player with the spectrogram as the visualization. I want to be able to click on the spectrogram to set the cursor position, select a segment on the spectrogram to define a region... well, everything that can be done with the default renderer...
According to the [example](https://

[2018-07-11 11:41] julj commented on #1412
Ok, so I cannot include directly the file wavesurfer.js which is in src/. I have to use npm.
Thanks.

[2018-07-11 11:56] thijstriemstra commented on #1412
you also have to use npm to install the build tools, correct.

[2018-07-11 12:39] toolowner commented on #269
@katspaugh Sorry for bothering you. Can you make this plugin into real life? Thank you

[2018-07-13 08:45] awenger63 commented on #1207
@GitHubRakeshSharma See Zoom render issue in #1399, do you thinks it can be same problem ?

[2018-07-13 15:55] hang1fire commented on #1394
Thanks for that, I'm afraid I can't spot the email address anywhere though. Could you copy it in here?

[2018-07-13 15:57] hang1fire commented on #1394
Ok, done, thanks

[2018-07-18 17:29] Guisch opened #1414 "Song not loaded when providing peaks"
Hey, I recently switch my project to server side generated waveform and it brings me a bug.
When peaks aren't provided, the 'ready' event fires when i call ```wavesurfer.load(url)```.
However, when peaks are provided, the 'ready' event isn't fired, and the song isn't loaded until I use play function or interact with the waveform.
So I tried to understand why, and I found this. When peaks are provi

[2018-07-18 22:30] Guisch commented on #1411
As Decibels is an audio power mesurement, you can't get it from wavesurfer since it depends on your computer volume, on your audio card amplification and on your speaker.
So either you know each of this caracteristics and do heavy maths to get them, either you use a mic a measure it.

[2018-07-20 01:06] asystemsaus commented on #1038
some advice please... how do I implement the xhr authentication ?
Everything else works perfectly, and I think the whole wavesurfer.js is brilliant but i'm stuck on getting authentication to work.

I cant find any reference into how to add it.
I was thinking it should be
 wavesurfer = WaveSurfer.create({
    container: '#waveform',
    waveColor: 'darkorange',
    progressColor: 'green',
    split

[2018-07-20 10:03] thijstriemstra commented on #1038
See previous comment, its called `xhr` option that is an object.

[2018-07-20 21:32] IgorSamer opened #1415 "Audio is not loading on iOS devices (Ionic 3)"
I'm using [wavesurfer.js](https://wavesurfer-js.org/) for audios on my app and it works great on Android (printscreen below).

<img width="308" alt="captura de tela 2018-07-20 as 18 08 31" src="https://user-images.githubusercontent.com/10137870/43026170-e9166110-8c4a-11e8-8074-e2cb1e19f428.png">

And if I tap the play icon all works fine.

But, on iOS (emulator and real devices) looks like audio i

[2018-07-21 16:07] thijstriemstra commented on #1038
[code]

[2018-07-21 22:10] asystemsaus commented on #1038
Thijstriemstra, thanks for that.
I am using wavesurfer to display wave form for recorded calls. and of course they are encrypted. I was first downloading the file and saving locally, once it had been unencrypted, but that broke the security model. I wanted to get them direct.
I ended up saving the unencrypted to a blob and then using wavesurfer.loadBlob() which works brilliantly.

Users can add no

[2018-07-21 22:50] thijstriemstra commented on #1038
@asystemsaus take a look at annotations example and timeline plugin/example. Please open a new ticket for questions.

[2018-07-24 15:00] DrLongGhost opened #1416 "Wavesurfer Stops Updating on Safari After Resize or Seek"
In Safari on Mac, if you resize the window several times while Wavesurfer is playing, the next time you initiate a playback, the wavesurfer waveform will no longer update to show the audio is playing, although the audio will still be audible.

### Wavesurfer.js version(s):

2.0.5. Likely earlier versions as well.

### Browser version(s):

Seen on Safari on Mac version 11.1.1 and 11.1.2. Likely old

[2018-07-25 11:36] ATouhou commented on #45
+1 for the Silence Finder

Anyone made an extension for silence finding?

[2018-07-28 06:04] asystemsaus opened #1418 "How to control volume of two channels"

[2018-07-28 06:15] asystemsaus commented on #925
Is it possible to do this with two channels ?
When you split channels do they get a name or an Id i can work with.
I want to be able to change the volume of each channel seperately.

[2018-07-30 01:03] JRR-OSU commented on #1215
@katspaugh This issue still exists and is present on Safari 11 and iOS. In certain implementations MediaElement is not a possible solution. Can you please investigate or work on a fix for this issue? It is a huge problem on my current project.

[2018-07-30 01:47] thijstriemstra commented on #1215
We're all volunteers here.

[2018-07-30 01:50] thijstriemstra commented on #1418
@asystemsaus what have you tried so far?

[2018-08-02 09:36] itamaker opened #1419 "support streaming?"

[2018-08-04 19:09] entonbiba commented on #1409
What about this:

![image](https://user-images.githubusercontent.com/5193884/43679720-5255c82e-97f8-11e8-8a03-1660c2fe9b71.png)

[2018-08-05 08:59] katspaugh commented on #1409
Great idea, @entonbiba! Visually, I like the upper part of the wave.
<img width="156" alt="screen shot 2018-08-05 at 10 54 54" src="https://user-images.githubusercontent.com/381895/43684313-3980895a-989e-11e8-9a70-4c00182515dc.png">
Maybe we could go minimalistic and leave just that?

[2018-08-06 18:41] entonbiba commented on #1409
@katspaugh yea we can do that, I'll convert it into svg as well today.
![wavesurfer](https://user-images.githubusercontent.com/5193884/43734758-c06eacf6-9986-11e8-9a63-e4c0f928554f.jpg)

[2018-08-06 20:13] thijstriemstra commented on #1409
+1

[2018-08-06 20:50] entonbiba commented on #1419
it's possible, do you have any code you've tried?

[2018-08-07 02:04] maitrungduc1410 opened #1421 "[QUESTION] Can't access wavesurfer-js.org"
Does anyone here can access wavesurfer-js.org. It seems like its server is down? I want to see it api and methods but cannot
Thank you!

[2018-08-07 13:41] swampthang commented on #1421
I noticed this yesterday and still am unable to access the site. It's a bit of a pain, but you can access the docs via this branch...

https://github.com/katspaugh/wavesurfer.js/tree/gh-pages

[2018-08-07 13:58] maitrungduc1410 commented on #1421
you saved my day!
Thank you!

[2018-08-07 15:37] scottgrobinson opened #1422 "Uncaught (in promise) DOMException: Unable to decode audio data"
### Wavesurfer.js version(s): 2.0.6

### Browser version(s): Chrome 67

### Use behaviour needed to reproduce the issue:

https://apps.scoutradio.org.uk/CorenellKeepOnJumpin.mp3

When using the above file (and a few others that I'm not able to recall at present) I get the DOMException - Unable to decode audio data, however, the audio player itself is able to play the file without issue.

Is there

[2018-08-08 03:15] entonbiba opened #1423 "https://wavesurfer-js.org not working,"
@katspaugh did you renew the domain it's not working at the moment, will you be setting up the .github.com subdomain? If not let me know.

#1421

[2018-08-08 09:14] katspaugh commented on #1423
Shit, on it.

[2018-08-08 09:59] #1423 closed

[2018-08-08 10:00] katspaugh commented on #1421
Sorry guys, I forgot to renew the domain. Will set up auto-renewal and an alert to avoid this in future. Thanks!

[2018-08-08 10:00] #1421 closed

[2018-08-08 17:31] daslicht commented on #905
The stackoverflow post is no longer available, idea?

[2018-08-13 16:50] iglota opened #1425 "Getting performer name from m3u file"
Hi guys.

First of all, I would like to thank everybody envolved in this project which in being totally usefull for me.
Well, I tryed to get the performer name from m3u file, but I could do it.  Any clue how to do it?

`#EXTM3U
#EXTINF:1,The Godfather Theme Song
https://wavesurfer-js.org/example/media/demo.mp3
#EXTINF:1,Alessandra
editados/alessandra-01.wav
#EXTINF:1,The Godfather Theme Song
https