[2016-04-10 17:14] katspaugh commented on #697
Use `setFilter` to add your pitch-shift filter into the wavesurfer.js' graph:
[code]

[2016-04-10 19:52] floydback commented on #697
Yes, it's work like you say, for example, with [soundbank-pitch-shift](https://github.com/mmckegg/soundbank-pitch-shift) I think the problem is in [soundtouch-js](https://github.com/also/soundtouch-js). I can't use it like filter with wavesurfer. Unfortunately soundtouch has the best sound, other ones sounds much worse ;(

[2016-04-10 22:52] chinshr opened #698 "Control video tag/videojs with wavesurfer?"
Is it possible to create a video tag created by your logic and then have it controlled by wavesurfer? I want to playback HLS content with wavesurfer.

[2016-04-11 08:25] katspaugh commented on #698
It's the `mediaType: 'video'` parameter. I've added docs for it on the website.

[2016-04-11 13:42] chinshr commented on #698
How would one specify the video tag in the options? In the docs you are specifying to create an audio/video tag, but what if it already exists?

[2016-04-11 14:00] katspaugh commented on #698
Oh, an existing video element... Maybe https://github.com/collab-project/videojs-wavesurfer can give you some hints?

@thijstriemstra created it, so maybe he can advice.

[2016-04-11 16:25] chinshr commented on #698
Got it, thanks. I will check @thijstriemstra
<https://github.com/thijstriemstra> code.

On Mon, Apr 11, 2016 at 7:00 AM, katspaugh <notifications@github.com> wrote:

[2016-04-12 16:13] thijstriemstra opened #699 "bower "main" field cannot contain minified files"
Seeing this error:

[code]

[2016-04-12 23:21] chrisparton1991 commented on #696
I'll take a look at this at some point, but it may be a while before I can get around to it due to other commitments.

[2016-04-13 11:12] pradeep07us commented on #695
Any updates?

[2016-04-14 06:25] therewasaguy commented on #698
I'm also interested in using wavesurfer with HLS, and I've been working on this in a fork [here](https://github.com/therewasaguy/wavesurfer.js/tree/load-existing-media-elt).

I needed the ability to load an existing audio or video element. So I added a `loadExistingMediaElement` method to wavesurfer.js, and a loadElt method to mediaelement.js.

To use this in my project, I init wavesurfer with `ba

[2016-04-14 07:22] therewasaguy opened #700 "only render a segment of the waveform"
I'd like "to only render the part of the waveform showing along the horizontal scroll" as described by @ErikOmberg and @katspaugh in #672. I'm wondering if anyone has any insight for how to make it possible with wavesurfer?

I am working with long audio files (using MediaElement and pre-analyzed waveform .json). I don't need to show the entire file, I'm only trying to zoom in very close on one seg

[2016-04-14 08:57] katspaugh commented on #700
I like the approach that [peaks.js](https://github.com/bbcrd/peaks.js) has taken: they use only one canvas to render the currently visible segment. They redraw the canvas as the track is being navigated.

[2016-04-14 09:56] chrisparton1991 commented on #696
I've taken a look at the code for the timeline plugin. I think it'll be easier to convert it over to MultiCanvas than the main renderer was.

The only potentially tricky bit is the text that's rendered. I've done some tests and it looks like rendering text partially past the right end of a canvas, or using negative coordinates to render partially before the left end of a canvas works fine, so it s

[2016-04-14 11:01] conor-mac-aoidh commented on #677
I needed a backend that worked with the [cordova-plugin-media](https://github.com/apache/cordova-plugin-media), so I added a new one:

https://gist.github.com/conor-mac-aoidh/4afcd016fb7db7ff13110ca718b71d0a

Tested and working on iOS. On Android, the WebAudio backend can be used with wkwebview.

I've also added the ionic region dragging to a gist:

https://gist.github.com/conor-mac-aoidh/2d6a3b85

[2016-04-14 16:06] chinshr commented on #677
I will check it out! Thanks for sharing.

[2016-04-14 16:09] chinshr commented on #696
Oh, that sounds great. It would take me forever to figur this out. I can help test and code review if you like?

[2016-04-15 03:37] chrisparton1991 commented on #696
Sure, that would be great when I get around to it @chinshr.

I think you'd be able to implement the MultiCanvas renderer too, I'm definitely no mathematical genius or anything. I had to discard my first attempt because it was garbage, but the second attempt went a lot more smoothly because of it.

I just hope nobody asks for some kind of MultiCanvas thing that requires drawing lines more complex t

[2016-04-16 18:32] chinshr commented on #696
Ok, will take a look at it. Thanks.

[2016-04-18 15:51] belackriv commented on #62
I know this is old, but I was having the same issue.  I found a work around by setting css on the element containing the wavesurfer to
[code]
Maybe this will help someone.

[2016-04-19 13:17] chrisparton1991 commented on #696
Sure thing @chinshr. I'm happy to review and test your code. I'm also happy to have a go at implementing it if the need arises.

[2016-04-19 15:56] chinshr commented on #696
You mentioned that you had looked at how to implement drawing labels. If there is any approach worth posting here, I would pick it up. Thanks.

[2016-04-20 01:13] chrisparton1991 commented on #696
Hey @chinshr, I just wrote a Codepen (http://codepen.io/chrisparton1991/pen/bpKoqm) that shows how to render text across canvases. I've added comments to (hopefully) make the code clearer. Let me know if it makes sense and if you still want to have a go at implementing this feature.

[2016-04-20 02:02] tweed opened #701 "HTML-INIT examples? anywhere/anyone? thanks greatly"
Still struggling.

1) I need to use both html-init.js and wavesurfer.js ?
2) by using the wavesurfer tag and barely any code i can call an audio file?

what makes this simple bit of code work - please
http://codepen.io/katspaugh/pen/WQXzpB?editors=100

I have done everything i can to get this to work for many hours over several months.
based on this:
https://github.com/katspaugh/wavesurfer.js/issu

[2016-04-20 07:08] chinshr commented on #696
Thanks for sharing. The text renders well on mobile safari. I will try to have a look and implement this, stay tuned.

[2016-04-20 07:17] katspaugh commented on #701
Maybe this codepen makes more sense to you? http://codepen.io/anon/pen/xVzpYo?editors=1000

Basically, you just need to insert a script tag with `wavesurfer.min.js` (preferably from a CDN like https://cdnjs.com/libraries/wavesurfer.js) and then the `<wavesurfer>` tag.

[2016-04-20 10:26] harrietsCreativeDabblets commented on #701
Hi - I am having initial setup hickups too. I tried your code in the above fiddle, and put it into my page, which of course works beautifully. However I need to dynamically change the data-url.
So I have written a javascript to dynamically update the object, but it fails with an "Uncaught ReferenceError: Invalid left-hand side in assignment", on the following  lines(the wavesurfer element now has

[2016-04-20 10:34] katspaugh commented on #701
The dash symbol is a minus operator for JavaScript. The correct way to set an attribute is this:

[code]

However, it won't work because the HTML initialization is done only once per page load. So if you want to change parameters dynamically, I suggest you just use the regular JavaScript initialization (see the docs).

[2016-04-20 10:38] harrietsCreativeDabblets commented on #701
Thanks for your quick reply. What do you mean by regular js initialisation?

[2016-04-20 10:40] katspaugh commented on #701
I mean this: http://wavesurfer-js.org/docs/

[2016-04-20 12:32] harrietsCreativeDabblets commented on #701
Whatever is on that page does not work.

[2016-04-20 12:39] harrietsCreativeDabblets commented on #701
I tried one of your examples on http://wavesurfer-js.org/examples/.

In codepen it works, in jsfiddle it does not, and when I copy the exact same code into a html file to run locally it does not work.
Are you gonna update your how to guide for this?

[2016-04-20 12:51] katspaugh commented on #701
If you mean that you open the HTML file in your browser from the hard drive (`file:///some-file.html`), then it won't work due to security restrictions in the browser. You need to run a web server to serve the file via HTTP.

The example in jsfiddle didn't work for you for similar reasons. It loads the audio file from via `http://` while the page itself is `https://`, so the browser won't let you

[2016-04-20 13:29] harrietsCreativeDabblets commented on #701
OK. So I will just use my server pages then, and not fiddle with the codepen or jsfiddle.

Should <div id="waveform"></div> be defined before the call to:
var wavesurfer = WaveSurfer.create({
  container: '#waveform',
  waveColor: 'red',
  progressColor: 'purple'
});

Because I get a runtime error stating that my container element was not found.
![image](https://cloud.githubusercontent.com/assets/

[2016-04-20 14:27] katspaugh commented on #701
You need to either put your JavaScript to the bottom of the page like this:
[code]

Or call the JavaScript from a `DOMContentLoaded` listener, like this:
[code]

Otherwise the JavaScript will run before the container element is found on the page.

[2016-04-21 10:00] harrietsCreativeDabblets commented on #701
Oh, ok. I put the javascript after the the html element definitions. I think DOMContentLoader is maybe more sophisticated, thanks for the tip, will look into it.

So far the app is pretty awesome. I would like to know, if I have a very long audio file, as in 1,5 hours long, how will the timeline plugin react in terms of the labels shown? Will it adapt to bigger intervals?

Secondly if I have a vid

[2016-04-21 11:56] harrietsCreativeDabblets commented on #701
Also, I am trying to add a timeline to the adio graph - it complains about:
![image](https://cloud.githubusercontent.com/assets/11888335/14708079/c6a8dbca-07c8-11e6-91f3-b5c3a7270fe8.png)

[2016-04-21 15:01] harrietsCreativeDabblets commented on #701
patiently waiting... hope you will be here to answer tomorrow :)

[2016-04-21 19:10] #621 closed

[2016-04-22 00:18] chrisparton1991 commented on #701
@harrietsCreativeDabblets, have you included the wavesurfer.timeline.js file in your HTML?

[2016-04-22 00:39] chrisparton1991 commented on #701
Also @harrietsCreativeDabblets, I suspect your waveform looks the way it does because 1.5 hours of audio is being rendered into a tiny space, so the waveforms are being pushed so close together that they're effectively becoming a solid rectangle.

Because you have such a large audio file, you'd need a massive canvas to get a sensible rendering of the waveform. I can see there being performance iss

[2016-04-22 00:42] chrisparton1991 commented on #664
This is still open @katspaugh, seems like it can be closed?

[2016-04-22 00:53] chrisparton1991 commented on #701
@harrietsCreativeDabblets For your question " video file which contains audio, will it only play the audio for me?", I tested using an mp4 file from the Internet Archive, and wavesurfer.js behaved as you would like, i.e. the audio is rendered as a waveform and is playable, and the video is ignored.

Your mileage may vary depending on the video format and the format of the audio within the video, b

[2016-04-22 01:29] chrisparton1991 commented on #669
This can occur if you're attempting to retrieve the duration before wavesurfer fires its `ready` event. See codepen: http://codepen.io/chrisparton1991/pen/EKpNxq.

[2016-04-22 01:42] chrisparton1991 commented on #699
I'm only a fledgling Bower user myself, but I suspect best practice is to provide non-minified versions as output to Bower, which gives consumers the option of minifying themselves using a Grunt/Gulp task etc.

I think the fix here is, as suggested by the error, to not minify/uglify the file in Grunt (although it may be possible to trick bower by not naming the file `.min.js`).

Thoughts, @katspau

[2016-04-22 06:54] harrietsCreativeDabblets commented on #701
Hi Chris, thanks for getting back to me. Awesome app.

I am using the CDN link, and wanted to try out the app before downloading and committing to use it in my app. The CDN should strictly speaking have everything included right? I need to get this part going, as seeing where they are in the audio timeline is extremely important to our users.

The image I added is from an audio file 15 seconds lon

[2016-04-22 07:03] chrisparton1991 commented on #701
Hei @harrietsCreativeDabblets, the CDN link for wavesurfer.js includes all the core functionality, but the timeline is a plugin that requires an extra JavaScript file. Fortunately, it's also available via CDN. Note that you'll need to use wavesurfer v1.1.0 for the 'MultiCanvas' renderer, but I recommend using the latest (currently v1.1.1).

The CDN links you'll need are:
https://cdnjs.cloudflare.c

[2016-04-22 07:46] harrietsCreativeDabblets commented on #701
Hi Chris, thank you - I got the timeline working.

Now on to make it look better. I think I will download the code now, as I would need to make modifications to it. Thanks for the help so far.

[2016-04-22 08:02] katspaugh commented on #699
Yes, I guess we need to add a new, not minified, file in the distribution.

[2016-04-22 08:04] katspaugh commented on #664
Yep, thanks!

[2016-04-22 08:04] #664 closed

[2016-04-22 08:06] katspaugh commented on #698
@therewasaguy sounds like a good approach indeed. A PR would be awesome!

[2016-04-23 00:42] adw1n opened #702 "Spectogram plugin cuts out half of the canvas"
I noticed it when working with 44.1kHz files (in your examples you are using 22k ones and it works just fine).
This is what I get:
![spectogram_wavesurfer_half](https://cloud.githubusercontent.com/assets/8993001/14758001/2154aea0-08fa-11e6-9e0d-8c58affd95a4.png)
this is the same file in audacity (notice the 0-11k range):
![spectogram_audacity_11k](https://cloud.githubusercontent.com/assets/8993001

[2016-04-23 01:07] adw1n commented on #702
Please also check 8kHz files - canvas is at least twice too big.

[2016-04-23 01:15] chinshr commented on #698
@therewasaguy do you mind creating a PR?

[2016-04-23 10:45] Lingomat commented on #699
Yep, Aikuma's gulp file builds wavesurfer.js and has overridea in the bower package. Bit ugly, but no huge deal.

[2016-04-23 13:31] WiS3 opened #703 "Unable to decode audio data with .ogg"
This is the error i get in the console while trying to load an ogg/opus audio file.

`undefined:1 Uncaught (in promise) DOMException: Unable to decode audio data`

The default Chrome Audio element play the file fine.

[2016-04-23 17:09] katspaugh commented on #702
@fzyukio is there a parameter to choose 44 kHz vs 22 kHz?

[2016-04-23 17:12] katspaugh commented on #703
It's a bug in Chrome: https://bugs.chromium.org/p/chromium/issues/detail?id=409402

[2016-04-23 17:12] #703 closed

[2016-04-24 08:29] Filoz opened #704 "Soundmanager"
Hi,
your library looks fantastic!
is it possible to combine wavesurfer with soundmanager (http://www.schillmania.com/projects/soundmanager2/ )?

[2016-04-24 11:38] sardari-shervin opened #705 "playPause button does not work"
Hi everyone !

I have a problem trying to create an audio with wavesurfer.js

Everything is fine the music is load but the playPayse button doesn't work

here is my code

HTML
[code]

JS
[code]

Here is what i get :
<img width="1310" alt="capture d ecran 2016-04-24 a 13 40 15" src="https://cloud.githubusercontent.com/assets/10119648/14767275/2d11b99e-0a22-11e6-84c5-4a99ede04964.png">

I try to do

[2016-04-24 14:06] sardari-shervin commented on #705
I just find the solution the code was right but i had a shitty z-index for something transparent and the button was unclickable ! :p

thanks anyway !

[2016-04-25 07:52] #705 closed

[2016-04-25 14:25] therewasaguy commented on #698
@katspaugh @chinshr here's a PR https://github.com/katspaugh/wavesurfer.js/pull/707

[2016-04-25 15:57] chinshr commented on #698
@therewasaguy awesome! Thanks so much!

[2016-04-26 01:43] fzyukio commented on #702
@adw1n `this.height = this.fftSamples/2` is correct. @katspaugh the frequency is associated with each audio file so it is not a parameter to chose. FFT returns a symmetric representation of a signal, half of all FFT bins is negative frequency, which is the mirror version of the other half. The spectrogram only contains positive frequency, hence its width is half the number of FFT bins (fftSamples)

[2016-04-26 03:37] adw1n commented on #702
@fzyukio but you are setting heightFactor to 2 in drawSpectrum (i'm working with mono files) which makes the effective height this.fftSamples/4 (only this.fftSamples/4 values get drawn for each bucket).

[2016-04-26 04:53] adw1n commented on #702
Could you also explain why wavesurfer.backend.buffer.sampleRate==44100 for all files (tested on 8k, 22k, 44k)? http://wavesurfer-js.org/example/spectrogram/ soxi output:
[code]

[2016-04-26 06:39] essovius opened #708 "Generate waveform images as Base64"
$('canvas').get(0).toDataURL('image/png');

Is there any way to get base64 code of waveform? I tried the one above but its not working. The wave tag have 2 canvas element. I tried both, But unfortunately everything I try is a failure. Just returning as 300 x 150 transparent image. Does any one knows how I could do it ?

Thanks !

[2016-04-26 07:07] katspaugh commented on #708
I suspect that you're trying to get the data-URL before the audio is loaded. Can you create a codepen with what you have tried?

[2016-04-26 10:52] chrisparton1991 commented on #708
Also worth noting, if you use the `MultiCanvas` renderer, you will have to get the image data from all of the adjacent canvases. If you don't know what the `MultiCanvas` renderer is, you're not using it :)

[2016-04-26 13:05] Lingomat opened #709 "Overshoot of playback with MediaElement backend"
Calling a region's play() method often results in overshooting of playback by a significant amount.

Similarly, calling pause() , the a current time set during the audioprocess callback also results in a time significantly beyond that expected.

This may be replicated in Aikuma-NG by going into settings and turning on preserve pitch which switches the backend of wavesurfer instances to MediaElemen

[2016-04-26 13:56] David-Crty commented on #572
Hello,

 I have tried the stopPropagation function on mouseup but not working.
[code]
I see the log mouseup when i click on .add-comment but the seek event fire all the time :(

[2016-04-26 16:11] katspaugh commented on #709
The [pause method](https://github.com/katspaugh/wavesurfer.js/blob/master/src/mediaelement.js#L117) just calls the Media Element's pause method. So it might simply be how browser works. Needs to be checked more closely anyway, so I'll mark this as a bug.

[2016-04-26 20:02] essovius commented on #708
[You can see here on my web](http://osuskinner.com/beta/sounds/applause) @katspaugh I'm trying to get Base64 when user clicked **Select** button after audio is loaded. If i get base64 i'll save this on localStorage and i'll show them on [main screen](http://osuskinner.com/beta/sounds). On the main screen i don't need to load sounds again. Because sounds will not play. I just want to show waveform

[2016-04-26 23:22] chrisparton1991 commented on #708
I don't think `MultiCanvas` is required in your case, but the most likely reason it wouldn't work for you is that your website using wavesurfer v1.0.52, whereas `MultiCanvas` wasn't introduced until v1.1.0.

I tried running your line of code in Chrome's inspector, and it worked for me:
![issue-708-1](https://cloud.githubusercontent.com/assets/13063119/14837133/26f8e9e0-0c59-11e6-9520-eb5cab1deb61.

[2016-04-27 12:33] katspaugh commented on #708
For me it also worked. `$('canvas').get(0).toDataURL('image/png')` returned the correct image, not an empty rectangle:

[code]

[2016-04-27 23:44] james-hoegerl opened #711 "Anyone Tried Realtime with Cordova"
Does anyone have any experience generating waveforms in real time with Cordoa/PhoneGap or Ionic? @katspaugh ?

[2016-04-28 01:56] Lingomat commented on #709
So this is interesting. The MediaElement backend code isn't very complicated for play with start and end. It looks like there's a simple hook into audioprocess. If playback time >= end time, pause, seek to end.

What's not clear to me is why when I do exactly the same thing manually, via Aikuma's respeak/translate feature, pausing is 99% of the time spot on. In this case the user is holding down a

[2016-04-28 02:54] Lingomat commented on #709
The problem is the MediaElement timeupdate event. Frequency is dependent on 'load' whatever that means, and has a maximum interval of 250ms. It seems that the only way to do better would be to start a manual interval loop rather than relying on the timeupdate event. It seems like it wouldn't be hard to do outside of wavesurfer anyway, if it's useful (and it is totally useful for our use case).

[2016-04-28 03:30] chrisparton1991 commented on #709
@Lingomat Do you mean minimum interval duration is 250ms (i.e. no better than 4 times per second)?

I've come across a similar issue with jQuery UI, where the drag/drop events were too infrequent. In the drag/drop start event I call `setInterval()` with something like a 5ms interval, then call `clearInterval()` in the drag/drop stop event.

That approach worked much better for me, so I can see how

[2016-04-28 04:29] Lingomat commented on #709
No, the interval can happen more quickly, Moz docs say:

So it's not even that it can be unacceptably long, sometimes it's fine. I resolved this in Aikuma by using an interval. Seems to work nicely.

[2016-04-28 04:37] chrisparton1991 commented on #709
Ah okay, that makes sense. Thanks for the clarification.

I wonder if there's also potential to use an interval (or requestAnimationFrame) for the audio playback indicator line to make it smoother. Just a thought, and something for another issue.

[2016-04-28 06:52] katspaugh commented on #711
Try searching in the issues. There've been several postings incl. some very useful code snippets.

[2016-04-28 06:55] katspaugh commented on #709
`requestAnimationFrame` is already used for the progress animation. Maybe we should replace `timeupdate` with it indeed.

[2016-04-28 13:45] james-hoegerl commented on #711
Great thanks.

[2016-04-28 13:45] #711 closed

[2016-04-28 13:46] james-hoegerl commented on #628
Have you had any luck with this @cankemik ?

[2016-04-28 14:01] katspaugh commented on #711
Particularly this issue: #677.

[2016-04-29 03:44] drjaydenm commented on #404
@maxehnert Did you manage to find a way to change playback speed whilst keeping the same pitch?

[2016-04-29 07:48] arnaudbey opened #712 "[region] event for update-start (due to dragging or resizing) ?"
Hey

First of all, congrats for the really nice piece of code you have here... really helpful !

I got a little problem. I'm using region and I'd want them to not overlap. Is there any way to catch the start of a drag or resize event in order to save the original position of a region and possibly restore it if it overlaps with another one ?

Thanks : :+1:

[2016-04-29 13:46] maxehnert commented on #404
It's been a long time since I touched any of this and cannot remember where if I ever got that going.

I did look over the link I posted http://webaudio.github.io/web-audio-api/#doppler-shift and it appears there is some support now for this.

[2016-05-02 08:49] Lingomat commented on #709
Speaking of MediaElement issues. I'm seeing an issue where 'ended' is firing well before the actual end of the audio for the mediaelement. Anyone seen that?

[2016-05-02 10:54] Lingomat commented on #709
Hmm, the mediaelement backend might be a wash. It looks like the wavesurfer scale is not lined up with the length of source audio. This results in what looks like an early 'finish' being called in the middle of the display, but it's not early, it's right, it's just that the wavesurfer cursor is not moving fast enough. Weird huh?

[2016-05-02 11:42] katspaugh commented on #709
Yes, I think Media Element is pretty inaccurate timing-wise. Switching to `requestAnimationFrame` should solve this pre-mature finish thing as well.

[2016-05-04 04:27] cyberinferno opened #713 "Is there a provision to just show the waveform and highlight using JSON structure without actually loading the audio file?"

[2016-05-04 07:02] katspaugh commented on #713
This use case isn't supported, but you could call an internal method to just draw the waveform:

    this.drawer.drawPeaks(peaks, width);

Where `peaks` are an array of floats (your JSON), and `width` is the desired width of the resulting waveform in pixels.

[2016-05-04 11:39] proehlen commented on #419
@allannaranjo I'm trying to do the same thing as in the original issue and I'm trying to implement your code example however you haven't provided the code for the buffer2wav function.  Any chance you could add that code to the example?

Many thanks in advance.

[2016-05-07 00:14] Lingomat commented on #709
What about AudioContext.createMediaElementSource() ?

To my mind, this would allow most of the Web Audio backend to work as is, particularly AudioContext.createScriptProcessor() with the attendant onaudioprocess. It would also have the advantage that Ogg Opus would be supported in Chrome (currently unsupported in Web Audio), and so would filters and so on.

would be helpful in any way.

[2016-05-07 19:38] katspaugh commented on #709
The point of the media element backend is to give an alternative to Web Audio.

Ogg Opus won't be supported anyway, because the problem is that Chrome cannot decode it. Unless you mean just playback without a waveform.

[2016-05-08 14:05] mbordash opened #715 "Pre-generated json peaks array not loading"
Hi,

I'm trying out your library to replace my own homegrown player based on audiowaveform. Upon upload, I'm generating json via audiowaveform so that I can pre-load the peaks in your player.  Unfortunately, wavesurfer doesn't seem to like the json array range generated by audiowaveform (or more likely, I'm doing something boneheaded).

The generated json looks like this (snip):
[0,0,-12,7,-12,8,-

[2016-05-08 16:29] mbordash commented on #715
Huh, I was using the MediaElement backend in this case.  I tried the default WebAudio and what do you know? It worked perfectly.

[2016-05-08 18:25] mbordash commented on #715
The problem was with the negative values generated by audiowaveform.  I simply stripped them out of my peaks array and now we're in business.

[2016-05-08 21:05] katspaugh commented on #715
Great that you figured it out. I actually thought negative peaks were not a problem. I'll mark this as a bug to add a `Math.round` to the drawing code.

[2016-05-09 00:14] mbordash commented on #715
Thanks for the confirmation. Love this library!

[2016-05-09 22:28] floydback opened #716 "Peaks (from remote url) with WebAudio backend?"
It's seams like `wavesurfer.load(file_url, peaks)` work only if backend is MediaElement. Is it possible to load and use peaks from remote url when WebAudio backend?

[2016-05-10 09:43] katspaugh commented on #716
Right now. I'm considering #714.

[2016-05-10 09:43] #716 closed

[2016-05-11 11:24] ghost opened #717 "Region drag changes its size"
I want to add some fixed regions that you can drag but not resize.

But when you drag a region to the beginning or ending of the wave it gets resized and becomes smaller, even if it's not "resizable".

[2016-05-11 19:29] Joshfindit opened #718 "High CPU usage?"
Issue: When playing audio, the CPU usage jumps way up, and the browser tab has a chance of going unresponsive.

Ran across this when embedding on a page but figured it was a local problem (or at least an implementation problem), but it's happened on a second, totally unrelated page.

http://goo.gl/Y8m7CJ

Is there something I'm missing?

[2016-05-11 20:42] katspaugh commented on #718
Yes, decoding a 56-minute m4a in the browser into an array of JavaScript numbers can be intensive. You could try pre-decoding the file on the server and load it like this: https://github.com/katspaugh/wavesurfer.js/blob/master/example/audio-element/main.js#L26-L28

[2016-05-11 20:55] frzng opened #719 "Safari 9.1 throws `TypeError: Not enough arguments` in `#getDuration`"
To be honest, I am not sure how to reproduce this issue. We use WaveSurfer on our project (still not public) and I get this error on local environment (staging and production are fine). However, the issue is that [`#getDuration`](https://github.com/katspaugh/wavesurfer.js/blob/master/src/mediaelement.js#L67) calls [`#end`](https://developers.whatwg.org/the-video-element.html#dom-timeranges-end) on

[2016-05-12 07:18] #719 closed

[2016-05-12 10:57] joseph2 opened #721 "Where can I get unminified version of the wavesurfer.js?"

[2016-05-12 11:51] katspaugh commented on #721
We provide only a minified build along with a source map.

[2016-05-12 11:51] #721 closed

[2016-05-12 12:00] pitrackster commented on #721
@joseph2 you can clone this repo and get unminified files from src folder. The only thing to be aware of is the order of file inclusion in your HTML depending on what you want to use...

Here is what works in my use case :
1 - wavesurfer.js
2 - util.js
3 - drawer.js
4 - drawer.canvas.js
5 - html-init.js
6 - webaudio.js
7 - mediaelement.js
8 - wavesurfer.timeline.js
9 - wavesurfer.regions.js
10 - w

[2016-05-12 17:06] chinshr commented on #698
Can this be closed due to #707?

[2016-05-12 17:08] chinshr commented on #510
FYI I am going with the approach in PR #707 and #698.

[2016-05-13 15:05] mgibson8 opened #722 "Audio and peaks out of sync"
I seem to be having some issues with the sync between peaks and the audio. I'm loading JSON peaks created by wav2json, and this works reasonably well for short audio. However, longer audio is totally out of sync and seems to get progressively worse.

Take this example:
![image](https://cloud.githubusercontent.com/assets/13867790/15251993/d9c8fb88-1923-11e6-82fe-801bda5bf909.png)

The audio starts

[2016-05-13 23:26] fpena06 opened #723 "Provide wavesurfer.js as an ES6 module"
Hi everyone. Can this be used with ES6?

[2016-05-14 00:18] nathansnider opened #724 "Restore splitter-merger to play well with setFilters"
When trying to add nodes to a WebAudio graph using the `setFilters` method in version 1.1.1, I get the following error:

The error is in reference to [this line](https://github.com/katspaugh/wavesurfer.js/blob/c7e96c36af4096659069075ea8ec756a298ae8be/src/webaudio.js#L94) of the `setFilters` method, which was changed in [PR#689](https://github.com/katspaugh/wavesurfer.js/pull/689).

I'm not doing a

[2016-05-14 08:00] katspaugh commented on #724
The regression seems to be introduced in #689. @whenov could you take a look?

[2016-05-14 13:31] Mikirevo opened #725 "Cannot pass the wavesurfer object"
Hi, the problem is that I have more tracks on the page. The scope was that to create the wavesurfer object only if the play button is clicked. The same button, after the wave is created, has only to work as playPause button. I cannot pass thw wavesurfer object to the 'else' code.
`<button class='tasto' id='".$record[4]."' onclick='Create(this);'>Play</button>
var play = 0;

function Create(oggetto

[2016-05-14 13:47] katspaugh commented on #725
This seems to be a generic JavaScript question. Please try to look for help on StackOverflow.

[2016-05-14 13:47] #725 closed

[2016-05-14 13:50] Joshfindit commented on #718
That makes sense, thanks.
Is it just the peaks that need to be calculated?
(As in; if the peaks are pre-calculated, the cpu usage will be minimal even with large files)

[2016-05-14 14:01] katspaugh commented on #718
We have to options: `backend: 'WebAudio'` (the default) and `backend: 'MediaElement'`. The former uses the decoded data for both playback and peaks, the latter–only for peaks. So yes, if you use `MediaElement` + pre-decoded peaks, the CPU usage is supposed to be minimal. The same as simply playing `<audio>`, almost.

[2016-05-14 14:04] katspaugh commented on #723
I'm not sure what exactly you are asking. ES5 in which wavesurfer.js is written, is a subset of ES6. So yes, you can load and use the library in ES6 code.

[2016-05-14 14:06] katspaugh commented on #722
Could you provide an example of wave2json output and the corresponding audio file? Even better, a codepen with a working example.

[2016-05-14 14:06] fpena06 commented on #723
Thanks for your reply. I can use the library fine with IonicJS if I include the library in index.html. But when trying to use the method below I can’t access wave surfer.

import * as WaveSurfer from 'wavesurfer.js';

[2016-05-14 14:09] katspaugh commented on #717
I think it was made on purpose as a feature. I assume, you would expect the region to simply stop moving when dragged to the edge?

[2016-05-14 14:15] katspaugh commented on #723
Ah, no. Unfortunately, `import` is not supported at the moment. I'll reopen this ticket to add it.

[2016-05-14 14:16] fpena06 commented on #723
thanks mate!

[2016-05-14 16:32] whenov commented on #724
The error goes away if `setFilters` is executed in the `ready` event handler of wavesurfer:
[code]

Because `WaveSurfer.load` is an asynchronous function, the `setFilters` in your code is called after `WaveSurfer` object is created and before `load` ends its execution.

In 1.1.0, `setFilters` will connect your last filter in the list to `WaveSurfer.backend.gainNode`, which is created in the creati

[2016-05-14 20:51] katspaugh commented on #724
@whenov maybe the splitter can be implemented in terms of `setFilter`? Then we could insert the splitter on demand in `setChannel` instead of creating them on load.

Something like this:

[code]

[2016-05-15 09:23] #709 closed

[2016-05-15 09:39] #699 closed

[2016-05-15 09:40] katspaugh commented on #699
I've added the uniminified file to the build and updated the version.

[2016-05-15 09:42] katspaugh commented on #724
@nathansnider I've released a new version 1.1.2. Please check if `setFilters` is working again.

[2016-05-15 09:44] #713 closed

[2016-05-15 09:45] #708 closed

[2016-05-15 09:46] #701 closed

[2016-05-15 09:47] #669 closed

[2016-05-15 09:48] #698 closed

[2016-05-15 09:50] katspaugh commented on #697
It appears, `setFilters` was broken since April 2 (see #724). Please try again with the latest version (1.1.2).

[2016-05-15 09:52] katspaugh commented on #639
Please check if you have the same with the latest version, 1.1.2. Closing for now.

[2016-05-15 09:52] #639 closed

[2016-05-15 09:53] RamyElkest commented on #639
Will do, thanks

[2016-05-15 09:58] whenov commented on #724
Well, just revert it then, maybe the `setChannel` function should be implemented in user code using `setFilters` anyway. It's better to keep the default filters as simple as possible.

[2016-05-16 15:21] Syrenne commented on #717
Yes, that's exactly what I'd like. Is it possible to do it?

[2016-05-16 15:51] katspaugh commented on #717
I think it's makes more sense than resizing, too. It should be possible by adding a check here:
https://github.com/katspaugh/wavesurfer.js/blob/0a0e6757174919f3c03bc1f7798f8f9247b04dcf/plugin/wavesurfer.regions.js#L343

[code]

Can you test it and create a PR?

[2016-05-17 01:12] thijstriemstra commented on #665
@daversm can you show the code you're using now? Perhaps something in wavesurfer.js can be refactored to make things easier for you.

[2016-05-17 01:16] thijstriemstra commented on #628
I don't think this will work for visualizing live recordings in realtime, only the full recording after you press stop. There doesn't seem to be a way to capture the live frames, only a success handler:

[code]

[2016-05-17 01:18] #718 closed

[2016-05-17 01:19] thijstriemstra commented on #715
Having a unit test for this would be nice!

[2016-05-17 04:49] daversm commented on #665
Hi,

Been some time since I looked at my code, so unfortunately I'm not even sure what I was doing myself.

But basically I wanted to be able to show a loaded waveform in a wavesurfer object, and in the same object have an option to start showing a live mic visulatization, switch between loaded audio and mic visulatation.

 this.microphone.destroy();
 this.wavesurfer.empty();
 this.wavesurfer.dest

[2016-05-17 11:04] mgibson8 commented on #722
I've attached some sample audio and the wav2json output here. Due to the sensitive nature of the audio I work with I have just used some audio from the BBC and looped it as an example, it still demonstrates the issue though.

![image](https://cloud.githubusercontent.com/assets/13867790/15320094/a034c432-1c26-11e6-85dc-ba23de5e8072.png)
The play bar here shows where the audio begins, but the peaks

[2016-05-17 11:34] rijk opened #727 "Wrong file plays after loading multiple times in short succession"
Great library, thanks so much for putting this out.

I have a list of tracks the user can loop through, each time triggering a `WaveSurfer.load()` call. I've noticed a bug that I can reproduce by pressing the next button at just the 'right' intervals — the song that ends up playing is not the last one loaded, but the one loaded before it.

Unfortunately, this is deeply embedded in an application,

[2016-05-17 13:03] katspaugh commented on #727
Thanks for the report, I'll take a look.

[2016-05-17 20:52] nathansnider commented on #724
Yes, `setFilters` is working again in 1.1.2. Thanks, @katspaugh! Looks like we can close this issue, unless you want to keep it open for future work on the splitter-merger.

[2016-05-18 14:59] skorlir commented on #608
@whenov The issue title becomes a bit outdated by the time you get to the end of the thread. CommonJS support has been available (or, UMD support, actually) for a while. We were talking about hiding tests in .npmignore so that people using wavesurfer via NPM don't have to download them every time.

Then I got really busy and forgot all about it.

To avoid confusion, I'm going to re-close this issu

[2016-05-18 14:59] #608 closed

[2016-05-18 15:20] JWaldenback commented on #392
@thijstriemstra and @d0ragon, have you made any progress on this?

Thanks!

[2016-05-21 06:12] avesgit opened #728 "Add my project to your list please"
https://en.inettools.net/app/audio/index/1 CutMp3 Online

[2016-05-25 20:23] therewasaguy commented on #700
I've made some progress in [this branch](https://github.com/therewasaguy/wavesurfer.js/tree/drawer-segment)

For now, the drawer is called `drawer.segment`.

It depends on two new variables: `segmentStart` and `segmentDuration`. Using those, and the total duration, we can re-map the [`progress`](https://github.com/therewasaguy/wavesurfer.js/commit/2aed3942f85561e78e1c93d68ee262db4ac8fd76#diff-a0b8

[2016-05-25 21:52] thijstriemstra opened #729 "Microphone example on wavesurfer-js.org not working in Chrome (non-HTTPS)"
http://wavesurfer-js.org/plugins/microphone.html will not work from a non-HTTPS domain in Chrome. @katspaugh is a free SSL certificate from LetsEncrypt an option for you?

[2016-05-26 06:28] katspaugh commented on #729
The site is hosted on GitHub. I'm not sure if you can add HTTPS here. We can either move it to S3 or make the microphone example an external link to codepen.

[2016-05-26 09:34] thijstriemstra commented on #729
Theres a cloudflare option: http://davidensinger.com/2014/04/transferring-the-dns-from-namecheap-to-cloudflare-for-github-pages/

[2016-05-26 09:37] katspaugh commented on #729
Thanks, I'll try that!

[2016-05-26 21:18] Robo-romeski opened #731 "Song only plays on page refresh in Safari"
I have loaded a basic case for the plugin with waveform - no special implementation. works seamlessly with Firefox and Chrome. But in iOS, the autoplay doesn't work, and neither do the play or play pause methods. clicking the stop button  produces this error:
[code]

looking in my sources, all elements for wave surfer are loaded into browser.

this is what my js looks like:

[code]
And HTML:

[2016-05-26 21:36] katspaugh commented on #731
Firstly, the `autoplay` parameter` only works with `backend: 'MediaElement'`.
Secondly, when `WaveSurfer.create` already calls `init`. So when you call it the second time, you overwrite the options.
Finally, on iOS autoplay won't work [by design (of Safari)](https://developer.apple.com/library/iad/documentation/AudioVideo/Conceptual/Using_HTML5_Audio_Video/AudioandVideoTagBasics/AudioandVideoTagBa

[2016-05-26 22:13] Robo-romeski commented on #731
You'll have to excuse me; I didn't comment that code out - I got it from one of the other previous threads in my searches for a solution. Thank you for the clarification. But getting it to work on safari when wavesurfer.play(); is invoked the issue. any ideas?

[2016-05-27 07:34] katspaugh commented on #731
As noted above and in our [FAQ](http://wavesurfer-js.org/faq/):

[2016-05-27 07:34] #731 closed

[2016-05-27 14:06] Robo-romeski commented on #731
I think you misunderstood me. To make sure it was not a problem with my code, I have tested using the demo. (wavesurfer-js.org) when the demo page is opened initially in safari in a private window, it loads as it should, but does nothing when you call it. only upon page refresh. I have replicated the issue multiple times and on multiple machines....

[2016-05-27 14:55] katspaugh commented on #731
I don't understand what you mean. I've just opened wavesurfer-js.org in iOS Safari and it works.

[2016-05-27 15:46] skookie000 opened #732 "Get click/seek event time?"
Is it possible to get the seek time on a click event?  Right now it looks like I have to wait for the player to be playing for getCurrentTime to return the new time.  I see handleEvent, but wasn't sure how to get that out.

I'm looking to have wavesurfer chase a video player, basically making it the timeline, and updating WS playhead every few seconds with where the video player is at.  Right now

[2016-05-27 15:47] skookie000 commented on #732
This project is just amazing too by the way... I'm so geeked out on it.

[2016-05-27 15:57] katspaugh commented on #732
You can listen to the [seek event](http://wavesurfer-js.org/docs/events.html).

[code]

It might be better to return a position in seconds in the first place, but it so happened historically that the event returns you the current position as a fraction of duration.

[2016-05-27 16:09] skookie000 commented on #732
That's what I thought!  But for some reason I was stuck in a loop, and the unsubscribe event wasn't firing, but now it is.  GAH!  Thank you!  I'm using this on a recording department site, so awesome.

[2016-05-28 08:55] #732 closed

[2016-05-29 16:14] katspaugh commented on #727
I think I've understood what is happens.

 * We load Audio A.
 * Audio A is being decoded.
 * We load Audio B.
 * The temporary events are cleared.
 * Audio B is being decoded.
 * Audio B sets its callback on `decoded`.
 * Audio A is finished decoding.
 * Callback of Audio B is fired with Audio A's buffer.

[2016-05-29 16:18] rijk commented on #727
Awesome. That could explain it I think.

[2016-06-01 08:29] #727 closed

[2016-06-01 12:18] rijk commented on #727
I can confirm the issue is fixed! Great work.

[2016-06-01 12:54] katspaugh commented on #727
Thanks for the detailed info! It really helped figure out this long-standing issue.

[2016-06-02 04:25] gjzhappy opened #735 "How to pan an audio stream left or right"
I want to pan a stereo audio left or right,can you give me an example,thk

[2016-06-02 14:28] tctc91 opened #736 "ready event fires before waveform appears"
In the docs, it says that the 'ready' event should fire when "audio is loaded, decoded and the waveform drawn.". However, for me it is firing as soon as the audio starts playing (BEFORE the waveform is drawn).

Edit-

I see this is a duplicate of #429. Could we have a separate event fired for the waveform? From what I understand, the solution in #429 won't work for me as I need the track to start

[2016-06-02 16:01] katspaugh commented on #736
Do you have a proposal for the new event name?

[2016-06-02 16:10] tctc91 commented on #736
Nothing nice and simple like the other event names!

waveformReady / waveformready ?

[2016-06-02 16:19] andrade1379 opened #737 "Can Wavesurfer be used to play a series of audio files in a row?"
Was hoping to use this awesome tool to play audio files one right after the other while each audio files has their own audio visualization hopefully a custom visualization.

Wish list:
- Custom Renderer (I have SVGs that I'd like to use)
- Audio playlist
- Each audio file gets it's own custom renderer

Is something like this doable with this tool?

[2016-06-02 16:24] andrade1379 commented on #438
You can go to: https://gitter.im/ as the repo owner you give Gitter access to your repo and a room is created. Since it's public once someone searches for wavesurfer? your created room should pop up for people to join.

I hope this is accurate 👍

[2016-06-02 16:44] katspaugh commented on #737
Custom renderer–I think the easiest would be to superimpose your SVGs over the original waveform and make the latter invisible. Otherwise you can implement your own renderer instead of the Canvas renderer. I can explain in more details if you go this way.

Playlist–take a look at http://wavesurfer-js.org/example/playlist/ (code: https://github.com/katspaugh/wavesurfer.js/tree/master/example/playli

[2016-06-02 16:56] andrade1379 commented on #737
Okay, would it be possible to have more than one waveform visible on the page on a timeline like layout.

Something like:
<audioFile/custom vizual> <audioFile/custom vizual> <audioFile/custom vizual>

<button Play><button Pause>

So audio file would be loaded on page load along with it's custom visual? does that make sense?

[2016-06-02 17:02] thijstriemstra commented on #438
@andrade1379 created a room at https://gitter.im/katspaugh/wavesurfer.js. Feel free to add a pull request with a gitter badge.

[2016-06-02 17:02] #438 closed

[2016-06-03 04:14] gjzhappy opened #739 "How to separate an audio into left or right channel?"
I want to achieve a function which can switch the channel manually,and here is my question,how to filter the channel?I checked the web audio API and read the chart  'ChannelSplitterNode' , but I still don't how to do this exactly

[2016-06-03 05:46] katspaugh commented on #739
Basically, you need to create this splitter node and insert it between the buffer source and the destination.

In case of wavesurfer.js, you can do it by passing the splitter node to the `wavesurfer.setFilter` method (check the docs on our homepage).

[2016-06-03 07:11] gjzhappy commented on #739
I appreciate your advice,but unfortunately the doc is not sufficiently detailed,and below is my code,Somehow the left channel is just not work out while the right channel function seem to be right,I connect splitter and gain and merger node together to filter the sound，as you see:
if ('left' == channel) {
            console.log("--left channel--")
            var splitter = wavesurfer.backend.ac.

[2016-06-03 07:51] katspaugh commented on #739
You need to pass both splitter and merger to `setFilters`. Set filters will connect them together.
Take a look at the source code of `setFilters`: https://github.com/katspaugh/wavesurfer.js/blob/master/src/webaudio.js#L79

Feel free to update the docs if you figure out a solution.

[2016-06-03 08:18] gjzhappy commented on #739
Yes,I've read the source code before,it seems function setFilters() just simply connect each node,but I think we should use 2 or more parameters in connect() like connect(para1,para2,para2) if we want to specify the channel we want to operate as Web Audio API describes,and I still try to figure out how to achieve this in wavefurfer.js.

[2016-06-03 08:34] gjzhappy commented on #739
It seems that I have to write my own 'setFilters()',appreciate your time any way.

[2016-06-03 09:35] gjzhappy commented on #739
Here am I again,this is my code about setFilters(),however it does not seem to work well,actually when it runs,the audio will generated noise,I just can't find out the problems with it,hope you can give me some suggestions,thank you.
==========code1===================
var splitter = wavesurfer.backend.ac.createChannelSplitter(2);//default is 6
var merger = wavesurfer.backend.ac.createChannelMerger

[2016-06-06 06:46] gjzhappy commented on #739
PR#689 has solved my problems,this issue can be closed now.

[2016-06-06 06:56] #735 closed

[2016-06-06 07:00] #739 closed

[2016-06-06 10:40] eduzaka opened #740 "iOS w/ MediaElement (double click and slower)"
Hi, first of all congratulations, this is really good.

We are looking info but we didn't find what's the way to make it working on iOS with MediaElement. We think the problem is the autoplay not accepted on iOS, but other audio players work like a charm (without waveforms) in iOS without autoplay, can we make some code to solve it?

When we click on track, it loads very slowly (not like desktop)

[2016-06-06 11:54] katspaugh commented on #740
What are this other players? We could look at their source code and see how they work around the iOS limitations.

Regarding slowness, it's because it downloads the file via AJAX, decodes the binary into a JavaScript array and then draws a waveform from this array. I wouldn't be surprised it to be slower on mobile devices. You may want to use a pre-decoded waveform array. See https://github.com/ka

[2016-06-06 12:06] eduzaka commented on #740
Hey, thanks for the quick reply.

We are using prerendered peaks with a JSON data, in the desktop it loads perfectly but mobile loads it slowly. BTW, the first click loads peaks and the second click plays audio.

We bought some other players time ago, for example: http://codecanyon.net/item/html5-audio-player-with-playlist/1694831

We need something like this, but with waveform (like wavesurfer)..

[2016-06-06 14:29] cwleonard opened #741 "Scheduled pause (play range) doesn't update start position"
I'm not sure if this is intentional or not, but when playing a range of the audio the start position is not updated when the scheduled pause takes place. This results in the next call to `play` (without a range specified) picking up at a previous start position.

I fixed it in my fork by calling `pause()` in webaudio.js when the time is >= scheduledPause instead of calling `setState` and `fireEven

[2016-06-06 15:36] katspaugh commented on #741
Looks like a bug. A PR would be nice! Calling `pause` in this case is fine, but I think the same code also runs when the audio is finished. I might be wrong though. Let's talk in the PR.

[2016-06-07 06:48] bleedkaga opened #743 "About wavesurfer!"
Afternoon:
 I'm use wavesurfer plugin, Init slow, Each initialization time in five seconds! Excuse me, is it possible to increase the initial velocity
Thanks!

[2016-06-07 08:14] #741 closed

[2016-06-07 08:16] katspaugh commented on #743
Yes, it can be slow for big files, as it decodes them in the browser.
A duplicate of #740.

[2016-06-07 08:16] #743 closed

[2016-06-08 09:45] btomashvili commented on #715
@mbordash  how are you making to draw waveform with json data can you share some code ?

[2016-06-08 09:52] btomashvili commented on #713
Hi @katspaugh   do you have any sample how to draw  waveform without loading full audio file  ?

[2016-06-08 10:14] katspaugh commented on #715
Perhaps something like `audiowaveform -i some-file.mp3 --pixels-per-second 10 -b 8 -o some-file.json`.

[2016-06-08 10:16] katspaugh commented on #713
Yes, this one: https://github.com/katspaugh/wavesurfer.js/blob/master/example/audio-element/main.js
The main point is to use `backend: 'MediaElement'` and pass an array of peaks to the `load` method.

[2016-06-08 12:12] btomashvili commented on #715
@katspaugh  Yeah i find it and i got file like this http://collabshot.com/show/0T3kzy but when I am loading it with wavesurfer I think it creates incorrectly   see : http://collabshot.com/show/CovV4L

 wavesurfer.load('fifties_rock.mp3', result);
I tried also :
 wavesurfer.load('fifties_rock.mp3', result.data);

[2016-06-08 12:24] katspaugh commented on #715
@btomashvili I guess you also need to filter out negative values like the OP did.
`result.data.filter(function (val) { return val >= 0; })`

[2016-06-08 12:31] btomashvili commented on #715
thanks ;)

[2016-06-09 06:37] therewasaguy commented on #543
I ran into this issue and my fix was to tell the HTML5 media element to  `.load()`. Otherwise, iOS waits for a user event to trigger the loading necessary for playback, and `ready` only fires once enough frames have loaded for playback to begin. Wavesurfer is waiting for the ready event before it draws the waveform

[2016-06-09 23:37] yoko10000 opened #745 "Failed to set the 'currentTime' property on 'HTMLMediaElement'"
big wav file.1:20:32.wrong:
wavesurfer.js:1257 Uncaught TypeError: Failed to set the 'currentTime' property on 'HTMLMediaElement': The provided double value is non-finite.

[2016-06-10 12:07] deepika-Gopala opened #746 "wavesurfer.util is undefined always and doesnt create the oscillator."
im using wavesurfer plugin to generate an oscillaotr but i always get " Uncaught TypeError: Cannot read property 'extend' of undefined "  while creating the wavesurfer.create({}) , as on debugging i see that : "wavesurfer.util " is undefined

Im adding the sample code that i am using.

i am dynamically generating the waveform element and then creating the wavesurfer  which is giving the above erro

[2016-06-11 18:13] bzp13 opened #747 "Using Analyser with wavesurfer"
How can I connect AudioContext Analyser to wavesurfer?

I want to show visualisation bars graph and control audio playback through wavesurfer

[2016-06-12 10:01] katspaugh commented on #747
Pass the analyzer note to `setFilters`. It will insert it between the source and destination.

[2016-06-12 11:22] LuganOcode commented on #563
Did you get this to work?  I am seeing the same issue, despite using the latest CDN version (1.1.5).

[2016-06-12 13:15] jbeyer05 commented on #563
Yes, everything worked when I upgraded to what was the latest version at the time.  Don't have access to the project right now, so I couldn't tell you what version that was.

[2016-06-12 13:35] LuganOcode commented on #563
Thanks for the reply.  It seems to be related to minPxPerSec, and the size of the window.  If I set minPxPerSec sufficiently high, it always works correctly, but if the value is too low (again, depends on the size of the window when you load file), it will screw up until the zoom activates the scrollbar.  The downside to setting a high default for the minPxPerSec is that after first zooming, you c

[2016-06-13 08:47] assemandc opened #748 "Firefox: waveform scroll and drag selection"
In the latest version of firefox, when I try to scroll the waveform, the drag selection happens. In Chrome and Edge, just scroll happens.

[2016-06-13 09:15] katspaugh commented on #748
Sounds like a bug in Firefox. Why don't you report it in their bug tracker?

[2016-06-13 09:15] #748 closed

[2016-06-13 14:15] bzp13 commented on #747
Thank you!

[code]

[2016-06-13 14:15] #747 closed

[2016-06-14 03:02] julianpoy commented on #290
Any updates on this?

[2016-06-15 19:21] thijstriemstra commented on #746
@deepika-Gopala what about

[code]

[2016-06-15 19:22] thijstriemstra commented on #745
@yoko10000 can you show a code example that reproduces this?

[2016-06-16 05:11] deepika-Gopala commented on #746
Hi thij,

Thanks, My mistake,  the plugin that i had downloaded did not have a util function. So i just replaace it with the fresh content of the wavesurfer.js and its working fine now.

Thanks for getting back. Cheers!

[2016-06-16 05:11] #746 closed

[2016-06-16 10:41] harrytarzan2000 commented on #745
@thijstriemstra If found that when the funtion had (start value as NaN)  for below code , the error occured.
     `seekTo: function (start) {
        if (start != null) {
            this.media.currentTime = start;
        }`

[2016-06-18 23:08] mklz1 opened #749 "Not working on first load with Safari 9.1.1"
On first visit of the page there is no sound on play click.
After reload of the page - it woks.

[2016-06-19 08:25] katspaugh commented on #749
Thanks! I confirm.

[2016-06-20 13:23] nickreale opened #750 "Audio resets after clicking Foward or Backward on controls."
Been using wavesurer.js for about a year now with many different audio types. They are retrieved from remote servers using a GET statement returned by the audio host server.

 wavesurfer.load('<? echo urldecode($_GET['al']) ?>');

Been working flawlessly. (Thank you for such an awesome product).

Now for the problem. One particular server is returning the .wav file appropriately and the files play

[2016-06-20 13:27] katspaugh commented on #750
Are you using `backend: 'MediaElement'` or the default backend?

[2016-06-20 13:32] nickreale commented on #750
Default

<? echo urldecode($_GET['al']) ?>
<table><tr><td width="500">
      <div class="container">
          <div id="waveform">
            <progress id="progress" class="progress progress-striped" value="0" max="100"></progress>
          </div>

          <script>
            var wavesurfer = WaveSurfer.create({
              container: '#waveform',

              progressColor: 'hsla(200, 10

[2016-06-20 13:32] nickreale commented on #750
nope media elemnet.. sorry

[2016-06-20 13:44] katspaugh commented on #750
I've had this problem with media element and certain HTTP servers, too. Some servers don't send the correct headers for audio files.

See here as well: http://stackoverflow.com/a/9565178/352796

[2016-06-20 14:01] katspaugh commented on #750
No, the solution is to use a HTTP 1.1 server. Or use the default backend.

[2016-06-20 16:28] omerts opened #751 "window is undefined"
First of all thanks for this great library.

I am trying to use this project in server-side environment, but it fails with:
[code]

The reason for this is because different references to window across the code, specifically `window.devicePixelRatio`, and there is no window object at the server-side.

If you are asking yourself, why do I need it in server side, it is because I am doing server-side

[2016-06-20 16:51] katspaugh commented on #751
I have no idea how this code can work outside of the browser. React has an abstraction layer above DOM, but wavesurfer.js is using some very specific browser APIs. Unless you have a NodeJS Web Audio implementation, I doubt that you can run wavesurfer.js on Node. Feel free to send a PR, though.

[2016-06-20 17:09] omerts commented on #751
@katspaugh  I am not trying to run it, but just to render it and pass it rendered to the browser. The problem is mainly because window.devicePixelRatio is used event before any wavesurfer has been actually created.

[2016-06-20 17:14] katspaugh commented on #751
Then it's an easy fix. Set the default pixel ratio to 1 and in the init function conditionally assign to `window.devicePixelRatio` if no param was passed.

[2016-06-20 20:40] olafvisker opened #752 "Calling EnableDragSelection multiple times creates duplicate regions"
Hello,

I've noticed that calling enableDragSelection() multiple times also causes every "drawn" region to be a duplicate. So in the instance where you are trying to create one region you are actually creating as many as the times you've called enableDragSelection. Of course I can just call the function once, but it seems to me that this behaviour was not intended.

You can easily recreate this pr

[2016-06-21 00:26] Robo-romeski commented on #749
This is what I was talking about in ticket #731 - which was closed 25 days ago.

[2016-06-21 06:56] katspaugh commented on #749
@Robo-romeski I couldn't reproduce it at that time 😅

[2016-06-21 14:32] Robo-romeski commented on #749
@katspaugh It's cool - just curious as to why it's happening.

[2016-06-22 14:18] amichel86 opened #753 "Duration and CurrentTime"
Hi, thank you for this awesome player, it's working well! I was wondering if it is possible to have something like my screenshot below.

- Remove the vertical progress bar
- Have a 3 digit counter for the current time
- Have 3 digit counter for the duration

Thanks and keep up the good work!

![image](https://cloud.githubusercontent.com/assets/5871701/16269969/8482a620-3862-11e6-9fd1-d77493b10ea1.

[2016-06-22 14:31] katspaugh commented on #753
For cursor: `cursorWidth: 0`.

For the timers:
 * use the [event](http://wavesurfer-js.org/docs/events.html) `audioprocess` to update the timers.
 * Current time: `getCurrentTime()`
 * Duration: `getDuration()`.
 * It's up to you to format the time in seconds however you like.

See http://wavesurfer-js.org/docs/methods.html.

[2016-06-22 14:31] #753 closed

[2016-06-22 14:35] amichel86 commented on #753
Awesome, thank you for your quick response. Concerning the formatting of the time would you be able to direct me on a tutorial on how to do this? I am not a big JS expert so I am trying to figure it out by myself :)

Right now it looks like this:

![image](https://cloud.githubusercontent.com/assets/5871701/16270635/024e636c-3865-11e6-8bb1-e8d9c3d2a29e.png)

Thanks a bunch!

[2016-06-22 16:16] katspaugh commented on #753
Here's something you can start with: https://github.com/katspaugh/wavesurfer.js/blob/master/plugin/wavesurfer.regions.js#L245-L252

    var formatTime = function (time) {
        return [
            Math.floor((time % 3600) / 60), // minutes
            ('00' + Math.floor(time % 60)).slice(-2) // seconds
        ].join(':');
    };

[2016-06-22 16:18] amichel86 commented on #753
Well thank you I will look into this :)

[2016-06-22 16:27] amichel86 commented on #753
If I need additional help, do you accept money to help me out? Because by looking at the formatTime function I don't really know what to do so that CurrentTime and Duration get formatted. Thanks!

[2016-06-22 16:33] katspaugh commented on #753
Sure, drop me an email at katspaugh@gmail.com.

[2016-06-22 16:35] amichel86 commented on #753
Sent!

[2016-06-23 03:08] bleedkaga opened #754 "About replay!"
Hello:
Can provide a let audio replay of the event, this event to record some things I need
Thanks

[2016-06-23 07:33] pyros-endgame opened #755 "Wavesurfer waveform not drawn when initial element hidden"
I'm thinking this is a bug, but if you have the wavesurfer player loaded against a hidden element (display: none;) and then subsequently revealed the waveform doesnt show. Is there a way to have a waveform created properly, hidden and revealed with a toggle?

[2016-06-23 08:19] katspaugh commented on #754
I don't quite get what you are asking. Replay is possible by giving the `play` method a timestamp. Please check [the docs](http://wavesurfer-js.org/docs/methods.html).

[2016-06-23 08:26] katspaugh commented on #755
By default it looks up the width of the container to set the width of the canvas. So if the container is `display: none`, the width will be zero.

You might want to add an option to not take the container width: `fillParent: false`, but then it will result in the waveform to be bigger or smaller than the container.

So ideally we could add a parameter `width` to specify the width manually. Feel fr

[2016-06-23 08:29] katspaugh commented on #755
An easy workaround would be to call `wavesurfer.drawBuffer()` after you toggle the container on.
See an example here: http://codepen.io/anon/pen/NrbeVR

[2016-06-23 22:04] pyros-endgame commented on #755
Thanks for the feedback. I figured drawBuffer() was the way to go if I was to just do a workaround. And for the most part it does suffice. I'll see what I end up doing, I may make a PR for that feature if drawBuffer() doesn't suffice for what I was intending.

[2016-06-24 00:45] nahuelhds commented on #523
@icyz how you did that? Where in the Wavesurfer instance the XHR is saved? I'm tryingo to cancel the request when another song is loaded, so it only loads the last loaded song and save resources...

Thanks in advance

[2016-06-24 00:52] nahuelhds commented on #523
Had an older version. Just downloaded the 1.1.x one and I've just seen the cancelAjax method. Thank god I've seen this thread xD

[2016-06-24 05:57] katspaugh commented on #523
@nahuelhds I'll add `cancelAjax` to the documentation.

[2016-06-24 05:59] #523 closed

[2016-06-24 13:59] belackriv commented on #736
this seems to work in the meantime:
[code]

[2016-06-25 00:37] nahuelhds opened #756 "MediaElement fallback - Wait for song to start playing before start XHR for drawing"
Not an issue, but maybe a feature if you will, of course.

In my project I needed the songs to start as soon as possible, so I've used the MediaElement backend fallback, but I've notice that when you don't provide peaks two requests are done, the audio one and the XHR at the same time.

This means you always are downloading the double of the size of the song.

In my case, I hacked the WaveSurfer.u

[2016-06-26 18:50] conceptualspace commented on #747
^^ the code above not working for me :/

to be clear, i was trying to add an _additional_ analyser node. but it seems i can't get any nodes to insert (like a delay).

btw, waversurfer-js.org doc says to use `wavesurfer.backend.ac.createAnalyser()` but the code above reads `wavesurfer.backend.createAnalyserNode()`?

i actually tried both but to no avail. will look into the src here, but maybe u hav

[2016-06-26 19:07] bzp13 commented on #747
Do you use developer console? What error do you get?      You can find correct method using developer tools in browser

[2016-06-26 19:55] conceptualspace commented on #747
woop, backend.ac did the trick after all

[2016-06-27 08:20] andrewhaining opened #757 "Change audioRate dynamically?"
I would like to add a button for the user to choose the playback speed, is it possible to change the  audioRate dynamically via a method?

Thanks

[2016-06-27 08:25] katspaugh commented on #757
Have you tried reading [the docs](http://wavesurfer-js.org/docs/methods.html) before asking?

[2016-06-27 08:25] #757 closed

[2016-06-27 08:28] andrewhaining commented on #757
Apologies, I missed that one.

[2016-06-28 21:19] nickreale opened #758 "Increasing no play issues with various servers"
Katspaugh.. What you have developed here is wonderful. Thank you for your time and commitment to the open source community.

But I am using it in a business environment and we are starting to have playback issues with different servers.

The latest is the audio file comes from a https address and it loads, but does not play.

I would like to pay you for your efforts and help me get this functionin

[2016-06-29 04:13] chanchaldas8890 commented on #758
Thanks all of you but actually I have a one wav audio file which has three channels.now i need to play all three channels simultaneously but the problem is that when I use setchannel() method its play only one channel at a time.

i have three channel of myaudio.wav
1.pro
2.cus
3.agt

now i want to play channel 1 and 2 both at the same time.but unfortunately its play only on channel at a time.

for

[2016-06-29 05:17] conceptualspace opened #759 "cannot load from absolute path with drive letter"
`wavesurfer.load('C:\\wavesurfer\\music\\song.mp3')` fails silently

paths without a drive letter succeed, for example `wavesurfer.load('..\\music\\song.mp3')`

if i try escaping the : chrome just treats it as a relative path

on win10x64

[2016-06-29 06:24] katspaugh commented on #758
@nickreale you can drop me an email with the details.

[2016-06-29 06:29] katspaugh commented on #759
Why would you expect local filesystem paths to work in a browser? `..\\music\\song.mp3` works, I guess, only because there's some local web server working in the background which serves the file as `../music/song.mp3`.

[2016-06-29 06:41] katspaugh commented on #756
You can use the Media Element backend with an existing [`<audio>` element](https://developer.mozilla.org/en/docs/Web/HTML/Element/audio). So, to control the loading and playback:

 * Insert the audio tag with `preload=true`.
 * When the user presses the play button, play the audio and load this element into wavesurfer.js (just call the load method with a reference to the element instead of a URL).

[2016-06-29 13:26] conceptualspace commented on #759
running it in an electron app, where chromium is permitted local file access

[2016-06-29 13:34] conceptualspace commented on #759
i guess the path is unexpected in wavesurfer and gets mangled somewhere

[2016-06-29 13:49] nahuelhds commented on #756
Thanks for the feedback, @katspaugh but that's one of the things I've tried.
The problem is that when you don't provide peaks, an XHR start simultaneously with the Audio load, so the bandwidth is divided in those two requests. As you cannot set priority, I needed to give max priority to the actual audio in some way.
What I mentioned is a way to give preference to the audio to load before the the a

[2016-06-29 16:08] conceptualspace commented on #759
looks like there is already have a solution -- loadBlob; so just have to create the fileobject from the path first

[2016-06-29 16:08] #759 closed

[2016-06-29 17:09] katspaugh commented on #756
Then you can first load it with an empty array (fake peaks), and when the user starts playing, load the same audio element without the fake peaks. Or maybe you don't even need to initialize wavesurfer.js before the user presses the play button.

[2016-06-29 17:57] nahuelhds commented on #756
Good to know. Just sharing my experience and my use case, maybe other people have the same issues. Thanks!

[2016-06-29 17:57] #756 closed

[2016-06-30 16:57] katspaugh commented on #753
For posterity (I've been asked about this again), here's the code:

[code]

[2016-07-01 04:38] tweed opened #760 "Beginners failing at: -- AJAX .html page containing wavesurfer"
**Common Problem** ?

My HTML file (c01.html) shows waveform and plays fine by itself --
When called via AJAX "c01.html" doesn't show waveform or play.

My index.html i use the script below to call html page "c01.html" into a DIV via AJAX- is there a correct way to change the script below it to call my **c01.html** page via ajax?

**Below is what's in my index.html with my WRONG? script which has

[2016-07-01 07:50] pitrackster commented on #723
:+1:  on this request !
Would be really great to be able to use wavesurfer lib and plugins via ES6 import !

[2016-07-01 18:06] katspaugh commented on #760
When you insert HTML via `innerHTML`, the scripts inside the inserted HTML are not evaluated. That's how it is. You need to somehow call the JavaScript from the parent page after you insert the HTML.

[2016-07-01 18:11] katspaugh commented on #758
I guess I can close this. For future inquiries about server-related problems: http://stackoverflow.com/questions/9563887/setting-html5-audio-position/9565178#9565178

[2016-07-01 18:11] #758 closed

[2016-07-01 18:48] tweed commented on #760
kind... -- thanks!
yep, i've known that the problem - i've looked everywhere for a solution i can understand/use.
funnily, video.js works fine so i had hope that the fairly recent wavesurfer changes to include "calling via inner-html" etc. might have helped.

I eventually wrote here as i bet lots of us are having problems calling wavesurfer.

Anyone able to see what's wrong with my script? -- the

[2016-07-03 01:39] sritej commented on #624
I am trying to use this plugin in a ionic app. I have copied the controller part and the html links to wavesurfer file. I am able to play the audio but the seekbar is not getting updated and when i select an other audio, the waves are not getting updated. Is there any one got it worked with an ionic app.

Any help is very much appreciated.

[2016-07-03 01:40] sritej commented on #677
I am trying to use this plugin in a ionic app. I have copied the controller part and the html links to wavesurfer file. I am able to play the audio but the seekbar is not getting updated and when i select an other audio, the waves are not getting updated. Is there any one got it worked with an ionic app.

I have used the code sample from example - angular folder.

Any help is very much appreciated

[2016-07-03 10:09] JensWinter opened #761 "wavesurfer.js with Ionic/Cordova"
Hello there,

can someone point me to some sample with a successfully implemented wavesurfer.js inside of an Ionic/Cordova project?

I can't get it to work. The Wave control does not show up. I can hook up a play button and play the audio, though. But I seem to be missing something.

Any help is greatly appreciated!

Thanks in advance,
Jens

[2016-07-03 18:10] tweed commented on #760
Ended up (for now*-) using jquery instead of vanilla JS which i'd rather use.
this works:
[code]

[2016-07-04 04:01] TangHao1987 opened #762 "Update scroll is not working well when integrating both timeline and spectrogram plugin"
Here is the issue:
As this line doing assign instead of adding observer:
`wavesurfer.drawer.wrapper.onscroll = this.updateScroll.bind(this);`

so when integrating more than one plugins, the earlier initialized plugin onscroll will be overridden by later initialized plugin. In the end only the last initialized plugin onscroll will work.

[2016-07-04 06:55] katspaugh commented on #762
Good catch! Can you send a pull request with `addEventListener`?

[2016-07-04 06:56] #760 closed

[2016-07-04 06:56] #754 closed

[2016-07-04 06:56] #755 closed

[2016-07-04 07:05] katspaugh commented on #752
Yes, I can reproduce it. `enableDragSelection()` adds DOM event listeners every time it's called. I suppose a simple flag `wavesurfer.regionsEnabled = true` should help. Can you send a pull request?

[2016-07-04 07:06] #751 closed

[2016-07-04 07:07] #750 closed

[2016-07-04 08:05] TangHao1987 commented on #762
Sure. :) I will open a pull request later for this.

[2016-07-04 08:54] omerts commented on #751
@katspaugh  Thanks alot!

[2016-07-04 16:47] nunomorgadinho opened #763 "Rounded corners"
Is it possible to draw the bars with rounded corners?

[2016-07-05 06:34] LBPSlava opened #764 "pls. finish the docs for regions plug-in"
Looking at the source of Annotator at http://wavesurfer-js.org/example/annotation/app.js sugests that the documentation for the regions plug-in on the home site is unfinished... no? What do these do? How are they used?

region-play()
region.playLoop()
region-click

Where does it say that the event "in" is actually used as in:

wavesurfer.on('region-in', function (region, e),{});

Working examples

[2016-07-05 08:43] katspaugh commented on #763
You can redefine this function to whatever you like: https://github.com/katspaugh/wavesurfer.js/blob/master/src/drawer.canvas.js#L68

Something like `WaveSurfer.Drawer.Canvas.drawBars = myDrawingFunction`.

[2016-07-05 08:43] #763 closed

[2016-07-05 22:23] jeremylach commented on #696
Any update on the multicanvas plugin for the wavesurfer timeline?  Definitely could use this.

[2016-07-06 03:15] chinshr commented on #696
Sorry, did not have time to implement, yet.

[2016-07-06 03:21] chrisparton1991 commented on #696
Hey @jeremylach, I'll try and have a look at that sometime in the next week. Can't make any promises, but hopefully It won't be too tricky to implement. If I get time to take a look, I'll keep you posted.

[2016-07-06 07:12] afaism opened #766 "the waveform disappear for longer files while zooming in"
Using http://codepen.io/katspaugh/pen/PZrBeE
I replaced the file name by http://ia902606.us.archive.org/35/items/shortpoetry_047_librivox/wantsofman_adams_jb_64kb.mp3
When zooming in at some point the waveform disappears.
Can you help?

Thanks!
Alex

[2016-07-06 07:28] chrisparton1991 commented on #766
Hi @afaism, this is a limitation with Canvas. On Chrome, a canvas cannot be larger than 32767 pixels. If it is (as is the case when you zoom in that file enough), the canvas will not render.

I implemented a `MultiCanvas` renderer a while back that overcomes this problem by stitching multiple canvases together horizontally. You as the user of the library don't have to worry about this beyond setti

[2016-07-06 10:16] pitrackster opened #767 "bower.json question"
Hi !
I'm currently trying to use wavesurfer with webpack / ES6 / angular...
I have a problem with the folder name created via the bower command (ie wavesurfer.js) because webpack search for a file named wavesurfer.js but find a folder so it get stuck...

If I change the name of the folder (removing the `.js`) it works ...

So I am wondering if it is possible to change the package name so that it w

[2016-07-06 11:34] thijstriemstra commented on #767
You should be able to work aroind this issur in webpack, there's no chance the folder name is going to get changed anytime soon, just to accomodate webpack functionality

[2016-07-06 14:08] twindebank opened #768 "[region] increase precision?"
Is there a way to increase the precision of the regions so the boundaries are not bounded to 1dp?

[2016-07-06 22:50] afaisma commented on #766
Thanks as lot, chrisparton1991!
This helped. However my next goal is to create a display of a 20+ min of media file with minimap/zoom and  hundreds of regions, 2 or more seconds each. The initial display of the waveform and the regions is fine, but when I trying to playback the media, the waveform disappears.
( I posted this new question in this thread is because the disappearance of the waveform

[2016-07-06 23:30] chrisparton1991 commented on #766
No worries @afaisma, glad I could help :)

Unfortunately I'm just a guy who needed a multi-canvas renderer like you. I've implemented that and helped out with a couple of other things, but I've never used the regions plugin so I can't say what the best approach is there sorry!

@katspaugh, any recommendations?

[2016-07-07 06:22] pitrackster commented on #767
Ok thanks anyway

[2016-07-07 11:21] KainLaVey commented on #736
I really need an Event that is fired when the waveform is drawn, too. :(

[2016-07-07 11:29] KainLaVey opened #770 "Ready Event starts before drawing waveform"
First i have to say: Thank you for this nice software! <3

I have an Problem with the "ready" Event. It gets triggered when der track is playing. But i need an Event that is only triggered when the waveform is drawn.

Somehink like waveform.on('waveformdrawn', function(){...});

Is there any other solution to do something after the waveform is drawn?

[2016-07-07 12:13] KainLaVey commented on #770
I found a little workaround.

I use the 'loading' Event. And when the callback return 100 the song is loaded complete, an so the waveform will be drawn immediately.

[2016-07-07 12:26] katspaugh commented on #766
Mhm, I'm not sure why the waveform would disappear after starting the playback.

Regions can be somewhat expensive if you say there are hundreds of them. Each creates a DOM element. I don't see how this is related to waveform disappearing though.

[2016-07-07 12:33] #767 closed

[2016-07-07 21:04] katspaugh commented on #770
Closing as duplicate of #736. Thanks for the work around!

[2016-07-07 21:04] #770 closed

[2016-07-08 13:13] longsleep commented on #627
I just ran into this issue with Edge/14.14376 - WaveSurfer works just fine for me with microphone input after removing the line as mentioned by @thijstriemstra

[2016-07-08 15:21] Fiorello opened #771 "Uncaught (in promise) DOMException: The play() request was interrupted by a call to pause()."
Hi, i'm trying to use wavesurfer.js with MediaElement backend, and external audio tag.
When i seek into the wave while playing i get this error:

`Uncaught (in promise) DOMException: The play() request was interrupted by a call to pause().`

Maybe it depends by the size of the audio file, 16 minutes about 4 MB.
When i use loop function, with regions plugins, the browser tab freeze for a while, gen

[2016-07-09 12:48] katspaugh commented on #762
I've publish v. 1.1.8 with your changes.

[2016-07-09 12:48] #762 closed

[2016-07-10 12:06] utjduo opened #774 "Delay-problem with Start/Stop multiple sounds at the same time"
Hi! I'm trying to create a small multitrack player and have made a player with 4 tracks so far that can plays, stops and scrubs at the same time. The only problem I'm having  is when I scrub in the song the tracks doesn't start at the exact same time/place.

I have placed all waveform-tracks into an array and the stop/play code looks like this:

[code]

and the scrubbing-code looks like this:

[co

[2016-07-10 20:42] katspaugh commented on #774
To remove latency you need to load each track as a channel into a single Web Audio source. I can only recommend reading up on Web Audio starting here: https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API/Basic_concepts_behind_Web_Audio_API

Closing as wontfix since the issue is out of scope of this project.

[2016-07-10 20:42] #774 closed

[2016-07-13 16:19] AdolfVonKleist opened #776 "The 'backend.buffer' is not always ready when the 'ready' event fires"
I'm trying to get ahold of the `backend.buffer` via `wavesurfer.on ('ready', function () {...})`:

<pre>wavesurfer.on ('ready', function () {
  var originalBuffer = wavesurfer.backend.buffer;
  console.log (originalBuffer);
}</pre>

More often than not, the console log prints 'null'.  If on the other hand, I tie this same bit to 'seek' or some other event, it always works, and the buffer object is

[2016-07-14 09:40] AdolfVonKleist commented on #776
I resolved this, at least for the case where we use `loadMediaElement` with a url.  In this case the `backend.buffer` is `null` until this block:

<code>
        // If no pre-decoded peaks provided, attempt to download the
        // audio file and decode it with Web Audio.
        if (url && !peaks && this.backend.supportsWebAudio()) {
            this.getArrayBuffer(url, (function (arraybuffer)

[2016-07-14 12:03] katspaugh commented on #776
I'll accept a PR if you wish. If you do it, please keep in mind that the new event should fire for both backends.

[2016-07-16 10:26] CramericaIndustries opened #777 "Feature request: optional text-labels for regions"
Hi,
as the title says, I would be really happy if you could implement text-labels for regions. Once implemented , one could add those labels via the region options object. The text label should be style able via CSS (to setup font-size, color etc.) and maybe have a flag if it should be displayed at the top or at the bottom of the region to reduce the risk of overlapping.

What do you think?

![wav

[2016-07-18 10:16] katspaugh commented on #777
Regions already have a custom attributes parameter which can be used to display a label.

Here's an example:

[code]

In CSS:

[code]

See here as well: https://github.com/katspaugh/wavesurfer.js/blob/master/example/annotation/app.css#L1-L3

[2016-07-18 10:16] #777 closed

[2016-07-18 12:06] CramericaIndustries commented on #777
Ah sorry, didn't know that!
Maybe you should mention that this exists on the regions-plugin page:
[http://wavesurfer-js.org/plugins/regions.html](http://wavesurfer-js.org/plugins/regions.html)

[2016-07-18 16:20] katspaugh commented on #777
I will, thanks!

[2016-07-21 16:11] samedayjeremy opened #778 "[timeline] Multicanvas Timeline Zoom Scrolling Issue"
When scrollParent is initially set to false, then the user zooms, the timeline will not scroll with the waveform. Even if the params.scrollParent is explicitly set to true at that point with code.

It would be nice to be able to see the entire waveform (scrollParent = false) initially, then have the timeline be scrollable along with the waveform when zooming.  This worked with the non-multicanvas

[2016-07-21 23:24] jspear29 opened #779 "project using wavesurfer"
I'm using wavesurfer in this project I've been working on.  It definitely a work in progress.

https://github.com/jspear29/electro

[2016-07-22 17:53] anatoliyg opened #780 "Zooming in and out on wave makes audio stutter"
I noticed that while zooming in, this.seekAndCenter is called. Is there a real reason to do that? I would think that on zoom, no seeking needs to be done since the audio should continue playing as is, and only the waves be redrawn

[2016-07-24 06:26] samih-dev opened #781 "MultiCanvas Renderer and Zoom - Current Indicator place is changing"
Hi
Example can be found here:
http://codepen.io/SamihAbuawad/pen/yJjrrN

I'm using MultiCanvas as renderer (Thanks to @chrisparton1991), after setting the indicator to specific point in a wave while the audio is  paused (try the start of the first wave), and then trying to zoom, the indicator place is being changed.

Anyone faced the same issue? is there any workarouds/fix?

Thanks!
Samih.

[2016-07-24 22:02] cubethree opened #782 ".opus not supported?"
Not able to use opus audio.

[2016-07-25 08:53] swordsreversed opened #783 "Programatically set current time."
Hi, I want to use a button to set the timeline to a certain point on the timeline, say 30 sconds in. I tried seekTo but it didn't seem to work. Here's a pen:

[http://codepen.io/anon/pen/AXaydZ?editors=1010#anon-login](http://codepen.io/anon/pen/AXaydZ?editors=1010#anon-login)

How would I do this?

[2016-07-25 14:08] katspaugh commented on #782
Opus is not supported in Web Audio (in Chrome).

[2016-07-25 14:09] #782 closed

[2016-07-25 14:13] katspaugh commented on #783
`seekTo` takes a fraction of duration (i.e. a percentage), not seconds.
Try `wavesurfer.seekTo(30 / wavesurfer.getDuration())` instead of wavesurfer.seekTo(30)`.

[2016-07-25 14:13] #783 closed

[2016-07-26 16:22] LBPSlava commented on #526
This thread ends inconclusively, and I would like to produce what Joshfindit originally intended: a simple sound trimmer or editor based on wavesurger's ability to define clips visually. Or has this been done elsewhere?

[2016-07-28 04:35] chrisparton1991 commented on #781
Sounds similar to #778, hopefully they're caused by the same thing.

[2016-07-28 04:39] chrisparton1991 commented on #778
I'll try and take a look at this tonight.

[2016-07-28 05:11] chrisparton1991 commented on #781
Can reproduce using v1.1.2 using MultiCanvas renderer, which is a relatively old release. This likely isn't the same cause as #778.

[2016-07-28 05:47] chrisparton1991 commented on #781
It behaves the same until multiple canvases are used by the multicanvas renderer under the hood. Something isn't taking the width of all the canvases into consideration.

This means that if you set `maxCanvasSize: 32000`, you will be able to zoom in further before this behaviour is exhibited. The tradeoff is that some browsers will not render canvases that large.

I'm working on finding a proper s

[2016-07-28 06:06] chrisparton1991 commented on #781
Bars don't seem to be affected. Setting `barWidth: 1` is a workaround for this issue, if you can live with having bars. This makes me think this issue is in the MultiCanvas `drawWave` method.

[2016-07-28 07:08] neeraj24a opened #784 "unable to create wave charts for songs at amazon s3"
When ever i am calling my s3 mp3 files to plot the waves of a songs. it gives me below error.

Failed to load resource: the server responded with a status of 404 (Not Found)
test.html:1 XMLHttpRequest cannot load http://neeraj-f0b1ea.s3.amazonaws.com/Desiigner%20-%20Timmy%20Turner%20%28D…TQKEKGZSJDLKSA&Expires=1469689916&Signature=yfExCQd0CkPweIhDTxfQyHK1NEA%3D. No 'Access-Control-Allow-Origin' he

[2016-07-28 07:21] katspaugh commented on #784
Search in Google for "S3 how to enable CORS".

[2016-07-28 07:21] #784 closed

[2016-07-28 07:34] chrisparton1991 commented on #781
Found the issue, I was incorrectly dividing by the canvas size in a length calculation in the multiCanvas `drawWave` method.

[2016-07-28 10:43] chrisparton1991 commented on #781
I've been trying to figure this one out for the past few hours, it's a tricky one.

The cause is essentially that the multicanvas waveform rendering code divides up the waveform into equal chunks per canvas, but the canvases aren't equal width. If the waveform width is 1000 and maxCanvasSize is 400, you'll have canvases of widths 400, 400 and 200. These three canvases will be apportioned the same

[2016-07-28 10:49] katspaugh commented on #781
Can we perhaps make the last canvas also 400 and have a common container that would cut off the remaining 200 px (via `overflow: hidden`)?

[2016-07-28 11:23] chrisparton1991 commented on #781
I think I have a solution, but I'll have to continue looking at it after work tomorrow. Baaically, instead of having that 400/400/200 split, I divide then equally (333.3/333.3/333.3).

[2016-07-29 06:29] samih-dev commented on #781
Hi chrisparton1991 thanks for the help

Regarding the using barWidth: 1, I tried but I got the same behavior with an audio which 20+ minutes long.

The audio I'm having is private so I can't upload it to have codepen for it - sorry

I hope you find the fix soon.

[2016-07-29 21:30] yoyomo commented on #149
It seems everyone has ignored the OP's problem.

we don't want that. HTML5 <audio> tag can neatly do this without changing pitch.

[2016-07-31 22:36] chrisparton1991 commented on #781
@samih-dev did you see my comment on PR #785? I've hopefully got a solution there. I've attached a zip file containing a test setup that you can run locally (just open the html file in the src directory).

I've noticed that there's a small jump whenever an additional canvas is introduced, although the progress indicator stays in the correct space. I suspect this is caused by a reapportioning of th

[2016-08-01 06:57] samih-dev commented on #781
Thanks @chrisparton1991!
The issue is fixed I tried also with audio file which is 20min+ length.

one minor issue is that sometimes when having multi canvases used to draw the wave,  the click in a point in the wave isn't accurate - the midLine  jumps ahead a little ~ 100px.
I have checked if this also hapeening on the current version I'm using 1.1.8, its not reporduced, so maybe its happening bec

[2016-08-02 01:10] chrisparton1991 commented on #781
That's great news @samih-dev :) I'll take a look at that clicking issue sometime in the next few days. Combining multicanvas with zoom is tricky, because any small inaccuracies get amplified as the zoom factor increases, especially for a large audio file like yours. I'll keep you posted as I investigate a solution.

[2016-08-02 09:35] gjzhappy opened #786 "Web Audio will cause the browse crash when media loaded is too large,how to solve it?"
As I describe above,when I load the media,which length is 60 minutes,the browse will crash.Is there a solution,please tell me,thanks a lot.

[2016-08-02 09:46] #786 closed

[2016-08-03 16:59] katspaugh commented on #729
@thijstriemstra I've added a CloudFlare DNS for wavesurfer-js.org and a rule to always redirect to HTTPS. So when the DNS finishes propagating (hopefully in several hours), this issue should be resolved.

[2016-08-03 20:08] #729 closed

[2016-08-03 20:35] thijstriemstra commented on #729
@katspaugh for now this is only an issue in Chrome and I don't have that installed here but if you say it's fixed (y) I guess we should go through all documentation and use https where applicable.

[2016-08-04 08:41] tctc91 commented on #736
Any update on this issue :) ?

[2016-08-04 08:45] gjzhappy opened #787 "I load a mp3 file with Pre-rendered Peaks,and I also want to play/draw one channel specified by parameter,is there a demo to do so?"
I got a demo in doc which load the media with pre-rendered peaks(http://wavesurfer-js.org/example/audio-element/) , and I found it works,I also know how to pick one channel to play from this(https://github.com/katspaugh/wavesurfer.js/pull/689/files#diff-268e184f68ebebc7a4772c6e3a47c2abR310) , but I couldn't make them work together,do you have some ideas about this issue?

[2016-08-04 09:01] KainLaVey commented on #736
You can use the loading event and wait until it has load the track 100%.

`wavesurfer.on('loading', function(e){ if(e == 100){ //doSomething; } });`

Its nearly the same as to wait the waveform drawn, because it will be drawn immediately after the track is loaded 100%.

[2016-08-09 00:22] moyara commented on #781
Hi @chrisparton1991 Thanks for your great works around the multi canvas. I also have inaccuracy issue with zoom factor. Even I'm using 7mins audio, there is noticeable gap between the wave and audio. I'm using zoomLevel=20 now.

[2016-08-09 00:29] chrisparton1991 commented on #781
Hi @moyara, thanks for the feedback. I've been flat out this past week, I'll try to fix this issue soon. Sorry to keep you guys waiting!

[2016-08-09 09:50] chrisparton1991 opened #788 "Zooming doesn't clear canvas before redrawing"
To reproduce:

1. Go to http://wavesurfer-js.org/examples and look at the zoom example. Note that the waveform looks nice and smooth.
2. Drag the zoom indicator around a bit before returning to the minimal zoom position.
3. Note that the waveform is jaggier and the median line is more opaque.

We can probably fix this by calling `clearWave()` at the start of `drawWave()`, although I haven't tried

[2016-08-09 12:59] chrisparton1991 commented on #781
@samih-dev and @moyara, I've opened a new PR (#789) that I hope will fix your issues. Fingers crossed!

[2016-08-09 13:14] itsmrwave commented on #528
I was able to find this out by getting an Android Phone and using debugging tools paired with Google Chrome. I guess Safari works great with linking iOS to Safari but doesn't actually tell you what the problem is (as you can see from the screenshot).

Thanks for bearing with me and keeping this open (in hope).

[2016-08-09 13:14] #528 closed

[2016-08-09 23:18] chrisparton1991 commented on #788
I've taken another look at this issue this morning, and it turns out the redraw does clear the waveform before redrawing. The issue is that there appears to be a dead zone in the zoom slider:

![zoom-dead-zone](https://cloud.githubusercontent.com/assets/13063119/17536830/5d057416-5edb-11e6-8c4b-f59adf5d9b6a.png)

I can fix the issue by adding a `clearWave()` call before `drawBuffer()` in the `zoom

[2016-08-09 23:39] chrisparton1991 commented on #788
I've found that the dead zone increases as the screen increases. This is because the `zoom` function deals with `pxPerSec`. When the `pxPerSec` is small enough that it doesn't make a difference in the rendering, the call to `zoom -> drawBuffer() -> drawPeaks() -> setWidth()` returns immediately, without calling `updateSize()`. This means that no redraw is triggered.

I think the way to go is to re

[2016-08-10 11:43] drhouse7 opened #791 "Audiowaveform JSON generated"
Hi katspaugh,
first I wanna thank you and say that I love your JS, it's a brilliant job!

I tried to use Audiowaveform to generate JSON, but I don't understand why the output is something like

`{ ... "data":[0,0,0,0,-46,37 ...`

Instead your JS needs decimal. In this manner I must array_map and divide objects by 100.

Is it correct this or am I missing something?

Best regards

[2016-08-10 14:41] katspaugh commented on #791
I cannot check it right now, but I think you can pass `normalize: true` as a wavesurfer.js param and it will accept peaks in any range (and normalize them to decimal fractions).

You might also need to filter out negative values as in:

[code]

[2016-08-10 16:30] drhouse7 commented on #791
From your demo page I tried
[code]

But the waveform generated is not normalized (all bars are at highest level)

[2016-08-10 16:56] katspaugh commented on #791
Ah, I see. Then yes, you need to divide them by 100.

[2016-08-10 18:18] jeremylach commented on #778
It seems that this line is not doing anything

[code]

The drawer.wrapper.scrollLeft property updates as it scrolls but the wrapper.scrollLeft value remains 0

[2016-08-11 03:10] chrisparton1991 commented on #778
That's correct @jeremylach. The (main) issue was that the canvases weren't being reallocated upon zoom, so the zoomed timeline was drawn to the first canvas, but there were no other canvases available. The scrollLeft wasn't updating because there was no scrollable content.

I also fixed a couple of other issues to do with canvas positioning and sizing. Can you please take a look at the attached
[t

[2016-08-11 04:22] tjamps commented on #745
A bit late on this, but check that your server returns the correct header for "Content-Length" (this was the problem for me, when set everything is working).

[2016-08-11 04:46] #788 closed

[2016-08-11 04:47] #696 closed

[2016-08-11 04:56] chrisparton1991 commented on #766
I've made some fixes to zooming recently that may (or may not) have an impact on this issue. I expect to raise another pull request over the next day or so with another fix. Once that is merged in, it would be good to get a CodePen example that reproduces this issue (if it still exists with my fixes).

I'll post on this issue again once my other fix is in.

[2016-08-11 17:31] jeremylach commented on #778
It is working great!! This also fixed another issue where timeline numbers were overlapping if the wavesurfer was zoomed in far and scrolled through for a while.

Thanks for your work.

[2016-08-11 22:15] chrisparton1991 commented on #778
Awesome, I'll raise a PR shortly. Yeah, that overlap issue was one of the other things I found. I had a dodgy length calculation for the last canvas that didn't take into account the scroll width of the container.

Apologies for causing the issues in the first place :) I think once this and the other PR are merged in, MultiCanvas will be free of known issues!

[2016-08-11 22:26] drhouse7 commented on #668
I have the same issue, any news about this?

[2016-08-11 23:23] chrisparton1991 commented on #778
PR raised @jeremylach, #792.

[2016-08-12 08:04] #791 closed

[2016-08-12 08:22] chrisparton1991 commented on #781
This has been merged in now. Any chance of a new release with the fix, @katspaugh?

[2016-08-12 08:22] #781 closed

[2016-08-12 08:24] chrisparton1991 commented on #779
Did you want this added to the wavesurfer.js project list, @jspear29?

[2016-08-12 08:24] #778 closed, assigned to chrisparton1991

[2016-08-12 08:24] chrisparton1991 commented on #766
The fixes have been merged in, just waiting on a new release to be made.

[2016-08-12 08:41] chrisparton1991 commented on #728
Hey @avesgit, I've added a pull request (#793) to add your project to the "Commercial" section of the projects list.

Your app works well, given my limited testing. Good stuff :)

A couple of suggestions for your app:
- Hide your `Play/Pause` button initially, and show it inside a `ready` event callback, e.g.:
[code]
  I can currently click the button before the waveform has loaded, and a JavaScri

[2016-08-12 09:23] chrisparton1991 commented on #728
Added :)

[2016-08-12 09:23] #728 closed

[2016-08-12 09:24] katspaugh commented on #766
@chrisparton1991 thank you! Published version 1.1.11 on npm.

[2016-08-12 09:24] katspaugh commented on #781
Released as 1.1.11.

[2016-08-12 09:27] drhouse7 commented on #668
Sorry @katspaugh but is there any working demo of this here around? Could you please give me a little hand on make it works, because otherwise I cannot use at all this tool.
I need to load mp3 file only after hit play (I don't understand why all others say nothing about this :S)

[2016-08-12 09:30] chrisparton1991 commented on #766
Awesome, thanks @katspaugh!

@afaism, could you please create a CodePen example with v1.1.11? As mentioned, this version has been released on npm. Cloudflare's CDN has only got release v1.1.10, but it should figure out that a new release has been made soon. The v1.1.11 file should be available from the following URL once the CDN has updated: https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.1

[2016-08-12 09:58] jspear29 commented on #779
Heck yeah!  That's awesome.  It's still going through a lot of changes, but I think I will be ready for my first packaged release soon. ++Motivation.  I was super stoked just to get the thumbs up emoji. Thanks for the killer library.

[2016-08-12 10:05] chrisparton1991 commented on #737
Hey @andrade1379, I've created a [CodePen example](http://codepen.io/chrisparton1991/pen/JKwQVr) of sequential waveform playback.

Basically, it loads three wavesurfer instances attached to different audio files (in this case, three letters of the Dutch alphabet), and plays them sequentially. Only the waveform for the current item is visible.

Not sure if this is on the path of what you're looking

[2016-08-12 10:31] chrisparton1991 commented on #779
Awesome :) I'm working on my own side project that uses wavesurfer too, I might add it to the projects list as well: https://github.com/chrisparton1991/sparkled.

Most of the credit for the library goes to @katspaugh :)

[2016-08-12 10:40] chrisparton1991 commented on #779
Pull request created for both our projects: #794.

Electro and Sparkled sound like names that could be part of the same product suite haha. Keep up the good work @jspear29, your project looks cool!

[2016-08-12 13:15] drhouse7 commented on #668
I've opened a question here http://stackoverflow.com/questions/38918909/how-can-i-load-only-waveform-and-wait-to-user-click-play-to-download-the-audio Really appreciate if someone could help me!

[2016-08-12 19:20] katspaugh commented on #668
@drhouse7 I see you are using `MediaElement`. Maybe try passing an audio element you create yourself in HTML with `preload="false"`, like this:
[code]

And then pass this audio element instead of the URL:
[code]

Also try experimenting with setting the `src` of the audio element *after* the user presses play. It might or might not work, I haven't checked.

[2016-08-12 19:37] drhouse7 commented on #668
Thanks for reply,
I tried it here http://codepen.io/dreammy/pen/QEYjYW but it's not working (it doesn't draw the waveform)

I thought this

was generating an error on init.
I'll try onclick function.

[2016-08-12 20:00] drhouse7 commented on #668
@katspaugh well I think I should edit the `wavesurfer.js`, big problem since I'm not very good in JS.
Any help is really appreciate, thanks :)

[2016-08-13 11:06] drhouse7 commented on #668
@katspaugh I play with draw_buffer but I'm not able to make it works. Also did you see my code on codepen? is it that what you suggested before?

[2016-08-13 13:48] samih-dev commented on #781
thanks @chrisparton1991. @katspaugh for the great help!

I'll test this soon and provide final feedback.

[2016-08-13 21:22] katspaugh commented on #668
In your codepen you had tripple quotes around the audio src. I've fixed it for you: http://codepen.io/katspaugh/pen/oLmwoZ

[2016-08-13 22:17] drhouse7 commented on #668
I'm speechless and really greatful, tomorrow I'll test it!

[2016-08-14 05:41] drhouse7 commented on #668
@katspaugh I tried your eg. but it download the mp3 again on load.

[2016-08-14 11:41] drhouse7 commented on #668
@katspaugh bad luck, here is my new [try](http://codepen.io/dreammy/pen/dXaRwd), but it draws the waveform only after clicked on play

[2016-08-16 21:20] andrade1379 commented on #737
Awesome @chrisparton1991. I'll take a look. It does sound like something I was trying to work towards.

Check out what I came up with using vanilla js, html5 audio, Snap SVG, and D3.

https://ear.show/

[2016-08-16 22:54] chrisparton1991 commented on #737
Your site looks really nice @andrade1379, good job :) It works great for me on desktop and mobile.

I believe wavesurfer once had an SVG renderer, but it's too slow for rendering large waveforms repeatedly (which is what happens with the progress wave, but I believe that could be made more optimal).

It looks like your solution is working quite well for you, but I'm happy to help with any wavesurf

[2016-08-16 22:55] chrisparton1991 commented on #617
Can we close this, @katspaugh and @Lingomat?

[2016-08-17 08:22] katspaugh commented on #617
@chrisparton1991 unless I've missed something, the minimap hasn't been touched since the time this was filed.

[2016-08-17 12:05] chrisparton1991 commented on #617
I saw the last comment by @Lingomat and thought it might have fixed the issue. Just wanted to check if it was still needed as it's been sitting still for a while.

I can take a look at this some time soon if it's still an issue.

[2016-08-18 00:02] Lingomat commented on #617
It was probably something else I did related to lifecycle. Not an active issue for me anyway.

[2016-08-19 14:36] harrietsCreativeDabblets opened #796 "Playing long duration files"
Hi,
Did anyone have success playing long duration files? I am trying with a 90minute file, and the browser does not give any type of error, but it bombs out with a "aw snap" error message after some time.

I really need to get this working, as the we support longer duration files.

Thanks!

[2016-08-19 14:58] katspaugh commented on #796
Duplicate of #143. Citing a response from that issue:

You can use `backend: "MediaElement"`, decode files offline and provide the decoded data to the `load` function. See https://wavesurfer-js.org/example/audio-element/

[2016-08-19 17:40] pyros-endgame opened #797 "Maximum Stack Size Exceeded"
When this chunk of code is executed while loading json created peaks it will fail if the json content is too large (maybe around 84k or 100+k)

       var absmax = 1;
        if (this.params.normalize) {
            var max = Math.max.apply(Math, peaks);
            var min = Math.min.apply(Math, peaks);
            absmax = -min > max ? -min : max;
        }

After looking around it seems like th

[2016-08-19 17:44] pyros-endgame opened #798 "Inability to set the media.preload type"
Was wondering if we have have the media.preload types as a parameter. Right now it defaults to 'auto' which will load the entire media piece when the page loads but for faster loads we can switch to 'metadata.'

If one of the wavesurfer params could include this that would be useful :P

[2016-08-19 21:06] chrisparton1991 commented on #797
I have already fixed this in the MultiCanvas renderer. It was a simple case of rewriting to use a regular loop, as you said. It will be quick to do the same here. I can sort this out sometime soon.

[2016-08-20 19:54] katspaugh commented on #798
Good point! Can a you create a PR for this?

[2016-08-20 19:56] swaheed2 opened #799 "how to fill canvas until waveform is loaded when using MediaElement"
Hello, Is it possible to fill the canvas up to the thin line to show media is playing until waveform is loaded.

**Example:**

Currently (when the waveform is still loading and audio is playing):

![image](https://cloud.githubusercontent.com/assets/8592912/17833526/8af91564-66e5-11e6-9ea7-79fc0409d811.png)

Desired (something like this until waveform is loaded):

![image](https://cloud.githubuserc

[2016-08-20 20:03] katspaugh commented on #799
You can do it with CSS. Use `#container-id>wave>wave` as the selector.

[2016-08-20 20:53] swaheed2 commented on #799
Thank for the quick reply! works!.

[2016-08-21 06:30] #799 closed

[2016-08-21 06:32] swaheed2 commented on #796
If anyone has any php solution for server side decoding please provide.

[2016-08-22 07:10] harrietsCreativeDabblets commented on #796
What is the longest duration for an audio file that is supported then?

[2016-08-22 07:44] harrietsCreativeDabblets opened #800 "display straight horizontal line for empty audio files"
Is it possible to draw a default straight horizontal line on the player, to display when an empty recording is selected? This of course will be replaced by the wave graphic when the user clicks on another recording that does have audio...

[2016-08-22 09:10] harrietsCreativeDabblets commented on #796
So I gather from reading around a bit, that there is only a solution where the audio file content is downloaded and decoded, before the canvas can load the sound wave graph.

Is there a way to make the process less resource intensive? I have tried the backend: 'MediaElement' setting, and as far as I understand this will allow the audio to be played back while the content is still being downloaded,

[2016-08-22 09:10] harrietsCreativeDabblets commented on #796
So I gather from reading around a bit, that there is only a solution where the audio file content is downloaded and decoded, before the canvas can load the sound wave graph.

Is there a way to make the process less resource intensive? I have tried the backend: 'MediaElement' setting, and as far as I understand this will allow the audio to be played back while the content is still being downloaded,

[2016-08-22 14:50] harrietsCreativeDabblets opened #801 "Change http to https in examples"
I use your site, https://wavesurfer-js.org to view documentation etc.

It might be compromised, as all I see when I open the site, is a picture of some headers, being repeated over and over again.

[2016-08-22 22:49] chrisparton1991 commented on #801
The site works fine for me @harrietsCreativeDabblets. Is there a specific page you're having trouble with?

Some of the website's CSS is served over CloudFlare, which was having issues in Kiev yesterday (https://www.cloudflarestatus.com/incidents/7h0z4wn9p4b7). No idea if you're from near there, but it's something to consider.

You could try clearing your browser's cache, or using `Ctrl+Shift+R` (

[2016-08-22 23:10] chrisparton1991 commented on #801
That said, I've noticed that some of the examples on https://wavesurfer-js.org/examples/ aren't working @katspaugh. The MP3 files in the examples are being requested over HTTP, the URLs just need to be changed to HTTPS.

[2016-08-23 07:49] katspaugh commented on #801
@chrisparton1991 thanks! I'll change them asap.

[2016-08-23 10:41] harrietsCreativeDabblets commented on #796
hi - is there a dedicated person behind this support page? :)
I'm just trying to determine whether I will get an answer or just accept it as is?

[2016-08-23 12:06] chrisparton1991 commented on #800
I don't think wavesurfer has a built in way of doing this, but take a look at @katspaugh's suggestion on #799.

You should be able to use CSS to style the waveform (and/or the progress waveform) however you like (e.g. by using a `background-image`). You could add a CSS class to your wavesurfer container and dynamically remove it inside the `wavesurfer.on('ready', ...)` call.

[2016-08-23 12:28] chrisparton1991 commented on #800
I've created a [CodePen example](http://codepen.io/chrisparton1991/pen/QERBLg) that displays a grey line whilst the waveform is loading. I'm using an online service to get my grey line background image, but you could use a local image, or any other CSS you wish.

[2016-08-23 13:21] harrietsCreativeDabblets commented on #801
Thanks I can see the site again - however there are some examples not working as mentioned by Chris.

[2016-08-23 13:21] #801 closed

[2016-08-23 13:56] harrietsCreativeDabblets commented on #800
Hi Chris, thanks for your time and trouble! I decided to go for a spinner while the file is loading, and in my case I can have empty recordings as well, so in that case just a straight line is my thing!

[2016-08-23 13:56] #800 closed

[2016-08-23 14:03] harrietsCreativeDabblets opened #804 "Timer plugins"
Hi,

Has anyone played around with indicating the time of the recordings (as in an alternative to using the timer plugin)?

 I am thinking a standard counter in the format 00:00:00, where the number shown in this counter indicates how far you are in your recording, and if you drag the players cursor, it updates the counter.

[2016-08-23 22:57] #797 closed

[2016-08-23 23:07] Stoyvo commented on #780
@anatoliyg Please review my merge request. Should solve the stuttering.

[2016-08-23 23:11] chrisparton1991 commented on #796
I don't think this is a day job for any of us, I'm afraid.

As @katspaugh mentioned above, this is a browser limitation with WebAudio. MediaElement will be the way to go, but it's trickier to get up and running (I've never tried it myself, to be honest).

There's a [CodePen](http://codepen.io/katspaugh/pen/oLmwoZ) by @katspaugh that uses prerendered peaks, passed to `wavesurfer.load()` as an array

[2016-08-23 23:29] chrisparton1991 commented on #804
This can be achieved by hooking into wavesurfer's [events](https://wavesurfer-js.org/docs/events.html).

Codepen example: http://codepen.io/chrisparton1991/pen/PzvvPL

[2016-08-23 23:34] chrisparton1991 commented on #780
@anatoliyg can you please test this once a new release has been made and close the issue if it works?

Is there an ETA on a release with this fix, @katspaugh?

[2016-08-24 02:25] Stoyvo commented on #804
@chrisparton1991 Why use: `currentTime = progressPercent * duration;`
over: `wavesurfer.getCurrentTime();`?

[2016-08-24 06:53] harrietsCreativeDabblets commented on #804
Thank you Chris, this will help me tremendously!

[2016-08-24 06:53] #804 closed

[2016-08-24 06:56] harrietsCreativeDabblets commented on #796
Thank you Chris, I understand that it will take some time. I am closing this ticket, although should such a solution ever become available I would be very interested.

[2016-08-24 06:56] #796 closed

[2016-08-24 10:19] katspaugh commented on #780
I've published v. 1.1.12.

[2016-08-24 12:05] Stoyvo opened #805 "Centre Line "wiggles""
When centre is true, the centre line doesn't stay perfectly centre.

To replicate (while audio is playing), zoom in to waveform, click ahead to start recenter funcrion, watch centre line. The closer you zoom, the more noticeable this becomes.

Suggestion: draw line on parent so position does not need consistent updating. When recentering is needed, use current solution.

[2016-08-24 14:02] katspaugh commented on #805
I'm fine with the suggested solution.

Do you understand the root cause of the line jumping though? Is it some kind of graphical glitch on the canvas?

[2016-08-24 14:11] Stoyvo commented on #805
@katspaugh I'll investigate the root cause this evening. I can mostly notice it while CPU is under a decent load.

[2016-08-25 00:32] Stoyvo commented on #805
@katspaugh Issue is caused by the inner <wave> element, as width value is dynamically changing.

![image](https://cloud.githubusercontent.com/assets/6148099/17952579/f0cb5b66-6a39-11e6-83d7-7b099c9c16a0.png)

[2016-08-25 03:51] Stoyvo opened #807 "Region.play() while zoomed in loses color"
Steps to reproduce:
1) Create region
[code]
2) Zoom in on wavesurfer. Eg: pxPerSec = 250
3) Trigger `regionObject.play()`

Result:
Region will play and loop - no color.

Expected:
Region to have color.

Workaround:
Zoom out and then zoom in. Not ideal when pressing play multiple times..

[2016-08-25 03:59] Stoyvo opened #808 "Region - Enabled Loop breaks other region start times"
Steps to Reproduce:
1) Create two regions:

[code]

2) Play first region: `regionObj1.play()` (works)
3) Play Loop: `regionObj2.play()` (works)
4) Play first region again: `regionObj1.play()`

Result:
Playing first region after loop region will start at loop region start (15sec)

Expected:
Seek to first region start (5sec)

[2016-08-25 04:06] Stoyvo commented on #808
From investigating, I noticed that even though my event called regionObj1.play(), somehow the `onProcess` anonymous function is still being called by event `audioprocess`
https://github.com/katspaugh/wavesurfer.js/blob/master/plugin/wavesurfer.regions.js#L311

[2016-08-25 04:27] Stoyvo commented on #808
If you update a region and set loop: true, play region, then update region and set loop: false, region still loops.

Another fact: Changing browser tab while looping does not keep loop.

[2016-08-25 05:01] Stoyvo commented on #808
Workaround:
Find region with loop: true, update({ loop: false });

[2016-08-26 08:35] guoxiangke opened #809 "can store the wave data to a json file?"
Or have a pre_load function? it's spent lot time to load whole mp3.
thanks.

[2016-08-26 17:16] JulieMarie opened #810 "Spectrogram vertical frequency label"
This is actually an enhancement request for the Spectrogram plugin to display a vertical axis frequency label.  I'm using the timeline plugin for the horizontal axis which works well and now I'm just missing the frequency labels.

I'm trying to figure it out on my own, but not there yet!

[2016-08-26 18:58] pentool commented on #761
We are experiencing the same issue. Rending the waveform is nearly impossible. And yes, the audio does play, but doesn't really look pretty without the waveform, though.

[2016-08-27 17:43] Stoyvo commented on #808
My mistake. An event was calling the incorrect region on click.

[2016-08-27 17:45] Stoyvo commented on #807
Mistake on my end from my own changes to the region plugin, which i hope to share with the community once bug-free.

I do recommend a change to the region `updateRender()` to remove the function param and to use:
`var pxPerSec = this.wavesurfer.params.minPxPerSec;`

[2016-08-27 17:45] #807 closed

[2016-08-27 17:51] Stoyvo commented on #809
This has been discussed before. @arian1123 has posted a good response here on how to save peaks: https://github.com/katspaugh/wavesurfer.js/issues/535#issuecomment-145982732

To load the peaks, use: load('media.mp3', peaks);

[2016-08-27 17:54] Stoyvo opened #811 "Cursor Plugin"
When using Cursor Plugin and waveform zoomed, when user mouse does not move but remains on the canvas, the cursor marker drifts away as progresswave updates.

It's expected that the cursor will stay exactly where the mouse last moved.

[2016-08-29 06:28] chanchaldas8890 opened #812 "audio play on the given start and end point."
When I tried to play wavesurfer using wavesurfer.play(a,b) where a,b values comes from database and each a and b has values stored in array.
But while executing wavesurfer.play(a,b) it always executes the last value say for (8,9.0)
e.g. :
var a=[1,4.5,7.8]
var b=[3.0,6.7,9.0]
for(var i:i<a.length;i++)
{
wavesurfer.play(a[i],b[i]);
}

[2016-08-29 07:41] katspaugh commented on #812
Sounds like a closure-related error somewhere in your app.

[2016-08-29 07:41] #812 closed

[2016-08-29 07:51] #779 closed

[2016-08-29 23:16] thijstriemstra commented on #801
@katspaugh i can visit https://wavesurfer-js.org securely, but https://wavesurfer-js.org/docs/ always redirects to the http version?

[2016-08-29 23:26] thijstriemstra commented on #628
#761 is related.

[2016-08-29 23:27] thijstriemstra commented on #764
@LBPSlava a pull request is always welcome!

[2016-08-29 23:29] thijstriemstra commented on #543
Can this be closed?

[2016-08-30 15:48] ange-yaar opened #813 "audio will not play in chrome"

[2016-08-30 15:54] #813 closed

[2016-08-31 07:27] chanchaldas8890 commented on #812
Thks for the reply but it is not the problem of closure

[2016-08-31 20:49] moyara opened #814 "Pre-generated waveform on MultiCanvas and zoom doesn't fill out each canvas"
Hi I'm using multicanvas and pre-generated waveform to deal with long audio file.
Below is the options

[code]

When it comes with multiple canvas, each wave doesn't stretch to its sub canvas.

<img width="1163" alt="2016-08-31 1 46 26" src="https://cloud.githubusercontent.com/assets/568994/18145761/5e0e0da8-6f81-11e6-930c-41ae775359ce.png">
<img width="1179" alt="2016-08-31 1 46 34" src="https://

[2016-08-31 22:24] chrisparton1991 commented on #814
Hey @moyara, is there any chance I could get your pre-generated peak data for testing?

[2016-08-31 22:42] moyara commented on #814
Sure, this is the peak I used

[wave.txt](https://github.com/katspaugh/wavesurfer.js/files/448411/wave.txt)

[2016-09-01 08:49] berio commented on #722
Hi all,
same problem here, have you found any solution to this?

[2016-09-01 16:33] kebers commented on #814
Hi @chrisparton1991,
I ran into the exact same problem - when start to zoom into the waveform.
When it's initially rendered to fillParent, evereything is fine - but as soon as zooming in, it's starts to draw huge gaps between pieces of the waveform. With my peakdata (displaying 4 hours)  these gaps are wider than the browser's viewport-width, see screenshots.

Additionally I'm using splitChannels.

[2016-09-02 09:17] kebers commented on #814
Little add-on:
Functionality is broken in v1.1.12 but works with version 1.1.4.
I cannot tell anything about behavior of inbetween versions, i have tested it with the two versions above only. Cheers kai

[2016-09-02 22:38] chrisparton1991 commented on #814
Thanks for the info @kebers!

[2016-09-02 22:49] chrisparton1991 commented on #814
I've added PR #815.

[2016-09-05 10:11] omer-sds opened #816 "Support for Flac meadia type"
can wavesurfer play a flac file , i tried to play it but it could not load and gave erorr

can we have support for this media type in future

[2016-09-05 14:31] katspaugh commented on #816
The support of media formats is on the browser's side. You should ask in the corresponding browser's bug tracker.

As a fallback, you can use `MediaElement` + pre-decoded waveform JSON.

[2016-09-05 14:31] #816 closed

[2016-09-06 12:56] kebers commented on #814
@chrisparton1991
I've tested it again with your single-line-change  made with PR #815 - looks a lot better - thanks.
Unfortunately I can see a gap - still, at the end of each canvas, when zooming in - to a certain level.

With the peakdata from my post above it can be seen clearly at zoom level 30 (I've used firefox).
wavesurfer.zoom(30);

at a certain position channel 3/4 of that peakdata make us

[2016-09-08 08:35] omer-sds opened #817 "Limiting to one region only"
Is there any way that i could limit the waveform to have only one region that i initialize by default with the enabledragndrop option On .

[2016-09-08 08:53] omer-sds commented on #817
sorry wrong question i should disable enabledragSelection to acheive this , my bad.

[2016-09-08 08:53] #817 closed

[2016-09-08 10:30] ebbe-brandstrup opened #818 "JS crash occurs after audio data has been decoded, if the WaveSurfer instance has been destroyed in the meantime"
Thanks for a cool library/component!

I get the below error if I quickly do next, next, next in a list of audio files, where each "next" action destroys the current wavesurfer and creates a new instance.

This happens because the "onDone" callback when calling ```decodeArrayBuffer``` is then executed after I have destroyed the wavesurfer instance and thereby its ```drawer```, causing the ```drawer

[2016-09-08 11:09] ebbe-brandstrup commented on #818
Created #819.

Notice that some other PRs had been merged into your master where only the dist files had been changed. That meant that after modifying the src files and running ```grunt``` those changes were overwritten... I had to manually copy them into the src files and build again

[2016-09-08 12:09] katspaugh commented on #818
Oh wow. How did I miss that 🤔 Thanks!

[2016-09-09 06:06] ShanMuhammad opened #820 "Unable To play big .ogg File"
First of all, thanks for this awesome library.

I am Trying to play more than 30 min .ogg file but its return error

And

Could you please help

[2016-09-12 08:49] katspaugh commented on #820
Duplicate of #796.

[2016-09-12 08:49] #820 closed

[2016-09-14 22:41] #809 closed

[2016-09-14 22:42] #737 closed

[2016-09-14 22:44] thijstriemstra commented on #723
pull requests are welcome!

[2016-09-15 12:49] X-Raym opened #821 "Q: Media Element on ready FallBack and Peaks Values"
Hi,

I'm trying to get an array of peak value for generating peaks file.

The trick is to use `wavesurfer.backend.getPeaks(960)` as you describe in this issue. https://github.com/katspaugh/wavesurfer.js/issues/240

I use it with the `.on('ready')` event so that I can get the peak values after the waveform is drawn.

With WebAudio backend, it works all fine. An array of peak data is returned. (I us

[2016-09-15 13:29] katspaugh commented on #821
Yes, the two backends are inconsistent in this regard. It's already reported in #736. Please watch for the progress of that issue.

[2016-09-15 13:29] #821 closed

[2016-09-15 22:41] thijstriemstra opened #822 "Export frame as image"
An `exportImage` method that returns image data (png, etc) for the current wavesurfer frame would be useful.

[2016-09-15 23:11] thijstriemstra commented on #818
PR was merged, closing.

[2016-09-15 23:11] #818 closed

[2016-09-15 23:14] thijstriemstra commented on #780
No feedback, closing, considering it fixed.

[2016-09-15 23:14] #780 closed

[2016-09-16 10:03] christophwolff commented on #704
+1

[2016-09-16 19:20] thijstriemstra commented on #822
it would be good to have a `getImage` implementation for `drawer.multicanvas.js` as well. @chrisparton1991 can you take a look at that?

[2016-09-16 23:57] thijstriemstra opened #824 "Introduce change log"
If there are no objections I'll add a changelog markdown document soon. After that is merged we should expect that the author of a new pull request adds new changes to that document, or the person that merges the PR should add the information to the change log itself.

[2016-09-19 01:29] chrisparton1991 commented on #822
@thijstriemstra, I don't know how feasible it is to add this to MultiCanvas. I'd need to get the data URLs from each canvas and stitch them together.

I've done some googling, and it seems the way to do this is typically to redraw the data URLs from each canvas onto a separate canvas, then re-export that canvas as a data URL. However, since the point of MultiCanvas is to overcome the size limitati

[2016-09-19 03:21] chrisparton1991 commented on #814
I'm looking into this, but it's proving quite tricky. I've fixed the gaps, but the canvases don't always quite match up at high zoom levels.

Additionally, the canvases don't render properly if there are only a couple of peaks per canvas, but that's unlikely to occur in a normal use case.

I'll keep on tinkering.

[2016-09-19 09:02] katspaugh commented on #822
Since it would be good to, at some point, make MultiCanvas the default and remove the single canvas, I think the algorithm should be the same for both backends:
 * Check the size.
 * If the size is greater than a single canvas can handle, downscale.
 * Draw on a single canvas.
 * Export.

[2016-09-19 18:20] X-Raym commented on #736
The mentioned didn't work for me :/ too bad; it would really help me build my peak cache system.

[2016-09-19 23:31] #824 closed

[2016-09-20 16:00] jeremylach opened #825 "Timeline/waveform breaks when zooming - regions"
Using MultiCanvas renderer
Steps to reproduce:
<img width="1061" alt="1" src="https://cloud.githubusercontent.com/assets/447535/18678188/3291ad26-7f29-11e6-9106-52ab6b8ed180.png">
1. Drag a region larger
<img width="1122" alt="2" src="https://cloud.githubusercontent.com/assets/447535/18678189/3297406a-7f29-11e6-8e88-f00ab2298c8f.png">
2. Zoom in
<img width="1053" alt="screen shot 2016-09-20 at 11

[2016-09-21 00:55] chrisparton1991 commented on #825
@jeremylach, do you know if this occurs with the regular `Canvas` renderer as well? Just curious.

[2016-09-21 11:15] X-Raym commented on #824
Where is actual changelog detailed ? In only found [this one](https://allmychanges.com/p/javascript/wavesurfer.js/).

I think it would be cool if @katspaugh could write in in the [releases page](https://github.com/katspaugh/wavesurfer.js/releases). :P

[2016-09-21 11:18] thijstriemstra commented on #824
@X-Raym it's at the root of the repository, CHANGES.md. I think @katspaugh will copy/paste from there into releases each time.

[2016-09-21 11:49] X-Raym commented on #824
@thijstriemstra oh yes ok, I was looking for a changelog which already add info on it hehe :P
anyway, this markdown file is a great initiative.

[2016-09-21 14:14] jeremylach commented on #825
Yes, it does.  In fact without MultiCanvas, zooming past wavesurfer.zoom(6) clears the waveform and shows this issue.  This is with a 37 minute audio.  MultiCanvas definitely performs better.

With MultiCanvas, and **no** regions, I can zoom to 100 with no issues, zooming out to "0" works too.
With MultiCanvas, and regions, I can zoom to 100 with no issues, but zooming out gives this issue describ

[2016-09-22 13:45] harrietsCreativeDabblets opened #826 "repeat playback between the endpoints of a region"
Hi,
So I am familiar with the regions plugin, and that you can define multiple regions on your audio wav graph.

I would appreciate some help and input into the following:

Is it possible, and any tips on how to:
1. Allow only one region to be defined at any given time?
2. Repeat playback of this one region - that is, when the region is selected, playback that area in the audio, over and over.

Ta

[2016-09-22 15:07] cyb-ahmadh opened #827 "Cannot convert object to primitive value"
Any idea about this issue?
[code]
Refer screen shot for more details
![screenshot from 2016-09-22 20 35 32](https://cloud.githubusercontent.com/assets/17269118/18753873/57ef8cc8-8104-11e6-90ba-49321513f027.png)

[2016-09-22 15:39] katspaugh commented on #827
Steps to reproduce?

[2016-09-22 15:42] katspaugh commented on #826
To replay a region, either call `region.playLoop()` or specify `loop: true` in the region params when creating a region.

As for the single region, you need to listen to the `region-created` event and delete any previous regions.

[2016-09-22 15:52] cyb-ahmadh commented on #827
I'm still not aware about how this error came through. It's just one day that i started getting these errors.

**Background:**

I'm displaying `wavesurfer` using pcm data through `npm-pcm` module.
The data generated by `node-pcm` is huge so attaching the screenshot such that you have an idea about the `pcm data`.

**Code for displaying wavesurfer**

[code]
**PCM code:**

[code]

I hope this helps.

[2016-09-22 16:08] katspaugh commented on #827
There reason might be the negative values in the node-pcm output.

There's already a bug for that: https://github.com/katspaugh/wavesurfer.js/issues/715. The resolution there is to add `Math.abs`.

[2016-09-22 16:13] cyb-ahmadh commented on #827
Like this:

[code]

[2016-09-22 18:13] cyb-ahmadh commented on #827
I tried removing negative values but it dint work. :(

[2016-09-22 23:00] thijstriemstra opened #828 "Use https in github project description url"

[2016-09-23 07:50] harrietsCreativeDabblets commented on #826
Thanks for your reply. How do I delete any previous regions? I tried clearRegions() which obviously clears everything, even the one I have just created?

[2016-09-23 11:58] harrietsCreativeDabblets commented on #764
I second this request - documentation on the regions would be extremely helpful!

[2016-09-23 12:28] harrietsCreativeDabblets commented on #826
Hello Again,
Can you please help with a basic demo/example of how to get the region plugin up and running?
I am trying to continuously loop over a region, and at any point in time to only allow for one region, but this seems difficult not having anything to go by?
I am particularly interested in the annotations tutorial, as I thing that eventually I would like to go that way. I cannot get the anno

[2016-09-23 17:16] Rafff opened #829 "Audio file without extention will not play in Safari"
Hello!

I just discovered that WaveSurfer.js in Safari 9.0.1 (it works in 9.0.2 because of WebAudio added support, but still not works in MediaElement in 9.0.2) will not play a file (streaming from Amazon S3, CORS working) when the extension is not specified.

When specifying the file extension, everything works well.

Is there any tricks/tips to make this work ?

Thanks a lot!

[2016-09-23 21:24] stoi2m1 opened #830 "Error While Scrolling and Region Creation"
Ive been having an issue when zoomed in and trying to scroll by grabbing the scrollbar. Each time I try to scroll it creates a new region. I want it to only create a region when clicking in the canvas area, not when trying to scroll.

I have found within the region enableDragSelection there is an eventDown click event is firing for both clicking in the waveform area and clicking on the scrollbar.

[2016-09-24 07:35] mkadutskyi commented on #771
I have something the same. When I have this option backend: 'MediaElement', I can't seek. It just paused. And throughs the same error

[2016-09-24 09:43] katspaugh commented on #829
I guess Safari relies on either the extension or HTTP headers (most likely `Content-Type`). So the solution might be to send the right HTTP header.

[2016-09-24 14:41] X-Raym commented on #736
I found that having an event which fires when waveform is decoded from audio loaded with media element backend is very useful to create peaks file. No other native events works as nicely, so I think it could be good to have it.
https://github.com/X-Raym/wavesurfer.js/commit/250cde1410622b68d219f23ec2a3571cf1e30e26

I can make a pull request if you are interested :)

[2016-09-26 15:48] BruceWouaigne commented on #829
Indeed, no more problem when using audio/mpeg instead of application/octet-stream Content-Type.

[2016-09-26 15:51] Rafff commented on #829
Thanks for the intel @katspaugh !

[2016-09-26 15:51] #829 closed

[2016-09-26 15:52] thijstriemstra opened #831 "Incorrect AMD definition in plugins"
For some reason the [AMD name for wavesurfer plugins is relative](https://github.com/katspaugh/wavesurfer.js/blob/master/Gruntfile.js#L61), e.g. `'./../wavesurfer'`. You can see this in the [header of the minified plugin](https://github.com/katspaugh/wavesurfer.js/blob/master/dist/plugin/wavesurfer.microphone.min.js). This leads to AMD compilation issues, e.g. using requirejs:
[code]

We should si

[2016-09-26 16:58] #831 closed

[2016-09-27 21:31] thijstriemstra commented on #828
@katspaugh can you change this?

[2016-09-27 21:33] thijstriemstra commented on #822
It sounds like things will get a lot more complicated when MultiCanvas is introduced as the default, but I could be wrong. Maybe this ticket should be closed and a future ticket can introduce `getImage` support for multi-canvas.

[2016-09-27 21:33] #822 closed

[2016-09-27 22:04] elevenpast opened #833 "error on load Safari only"
Would appreciate any tips, as I'm stuck on this.

build: 1.2.0 and older
Error: SyntaxError: DOM Exception 12: An invalid or illegal string was specified.
Safari 9.1 (works fine on Firefox and Chrome)

wavesurfer.js line 732

[code]

My javascript snippets...

`
wavesurfer = WaveSurfer.create({
        container: '#lWave1',
        waveColor: 'red',
        progressColor: '#183B8C',
        height

[2016-09-27 23:30] elevenpast commented on #833
Just realized, I got the wrong code from waverunner.js.  Here is the correct bit...

[code]

[2016-09-28 08:41] katspaugh commented on #828
Changed :thumbsup:

[2016-09-28 09:50] #828 closed

[2016-09-28 19:16] cyb-ahmadh commented on #827
HI @katspaugh,

Thanks for your suggestion. It worked. I made a mistake in the previously mentioned code.

[code]

[2016-09-28 19:17] #827 closed

[2016-09-30 08:37] harrietsCreativeDabblets commented on #826
Hello,

I have dug into the code a bit, and found that in the wavesurfer.regions.js file I could update the add function, to delete any existing regions from there, before I add a new region. Works perfectly.

However, when I play, it does not loop over the region that was selected, even though I have loop set to true in the attributes. The only time I saw the app loop through the defined region,

[2016-09-30 11:22] jmslovatt opened #836 "getDuration & getCurrentTime return double the expected value in Safari"
Started running into an issue very recently, which only seems to be occurring in Safari (testing in ver 9.1.1).

For some reason getDuration & getCurrentTime both seem to return exactly double what they actually should. Also the progress of the playback indicator effectively moves half as fast as it should.

In all other current browsers everything works as expected. It seems to have only just sta

[2016-09-30 12:12] jmslovatt commented on #836
issue was down to ID3 tag bitrate being set incorrectly by our audio ecode workflow. This only seems to effect safari, which uses the tag to calculate the audio length.

No issues with wavesurfer at all!

[2016-09-30 12:12] #836 closed

[2016-09-30 17:35] thijstriemstra commented on #776
can we not fire the `ready` event at the right time when using `loadMediaElement`? Why introduce a new event?

[2016-09-30 18:42] cyb-ahmadh opened #837 "How to use `exportPCM` function"
Can you please give an example on how to use exportPCM[https://github.com/katspaugh/wavesurfer.js/blob/gh-pages/dist/wavesurfer.js#L470](url).

I tried using this way:
[code]

It pops out a new window with blank array.

Please suggest some working example.

Thanks

[2016-09-30 18:54] cyb-ahmadh commented on #837
Got it working. Thanks

[2016-09-30 18:54] #837 closed

[2016-09-30 20:12] cyb-prajaktac opened #838 "Inconsistency in waveforms"
I'm using `node-pcm` to generate PCM data but the waveform generated by the data of `node-pcm` is different than the waveform generated by wavesurfer. I've compared the data generated by node-pcm and wavesurfer, then it is different as well. Can you suggest something ?

[code]

Here is the screen shot of the wave form:
![waveform](https://cloud.githubusercontent.com/assets/14269792/19005419/2bfd76

[2016-10-03 09:13] cyb-ahmadh opened #839 "What is the standard bit depth for the PCM data to generate the proper waveform?"
I'm using the `node-pcm` plugin to generate the PCM data:

[code]
I'm sharing the PCM data generated for the sample media file.

Data generated is:
[code]

Through `getPeaks` method of `wavesurfer`:

[code]

I guess that's the reason the waveform is not generating properly.

Can you please tell me what is missing ?

[2016-10-06 13:39] #826 closed

[2016-10-07 08:45] hielienie opened #840 "Using WaveSurfer just as progress bar"
I need to be able to play 2 types of files from my site.  The first will be normal audio files for which I have an URL to load into WaveSurfer.

The others are special encrypted files that are being played back with an external "black box". I just route the file to the appropriate port.  For this case, I would love to still use my existing wavesurfer component on my page to display the progress of

[2016-10-10 08:43] hielienie commented on #840
If I'm on a wild goose chase, you are welcome to just let me know ;)  At the moment it seems that my only option is to replace the wavesurfer component with a progress bar while playing back encrypted calls...

[2016-10-17 06:36] harrietsCreativeDabblets opened #842 "Regions plugin - programmatically delete region"
Hi,
I am currently working with the regions plugin and would like to be able to delete a specific region in my program. My first requirement is that only one region should be allowed at any given time, and I have done that by modifying the code to delete any previous regions upon adding a new region.
Now my next requirement is to be able to delete this region when certain events happen. I have tri

[2016-10-17 06:59] #842 closed

[2016-10-17 07:17] ffxsam opened #843 "Firefox bug - scrolling by dragging scrollbars creates a region"
See screencap below. This is only an issue in Firefox. In Chrome and Safari, it works fine.

![licecap](https://cloud.githubusercontent.com/assets/12532733/19428443/0d3ecd70-93ff-11e6-8e56-ce4711532149.gif)

If no one gets around to this, I might fix it first if I can figure out what's going on. If anyone has an idea, let me know!

[2016-10-17 08:10] harrietsCreativeDabblets opened #844 "Place cursor at the start of region"
Hi,
I was wondering if you could help me in putting the cursor at the start of a newly defined region, instead of having the cursor at the point where the mouse last clicked.
For instance, if you drag a region from right to left, the cursor will be on the left (start) of the region. Versus if you drag from left to right, the cursor will be on the right (end) of the region, and the user will have t

[2016-10-17 09:15] harrietsCreativeDabblets commented on #843
Hey ffxsam - I notice that when you add your region, the cursor does not move. Can you perhaps tell me how you accomplished that? My cursor moves to the last place where your mouse dragged to, and its kinda undesired for me tbh. Would appreciate your answering back. BR, Harriet.

[2016-10-17 09:59] ffxsam commented on #843
Hey Harriet

I just tested this out. Only on Firefox, if your region starts before the cursor and ends after it (as above), it won't move the cursor. Otherwise, if you drag a region before or after the cursor, it jumps.

In other browsers like Chrome, the cursor always jumps.

[2016-10-17 10:11] harrietsCreativeDabblets commented on #843
Thanks for your reply Sam - it's the same behavior I am experiencing... I'm trying to figure out how to let the cursor jump to the start of the region instead of the end (in case region is dragged left to right). I'm only doing Google Chrome for now.

[2016-10-17 15:04] shectermen commented on #48
I understand that in order to work with multiple tracks, audio download made earlier when you need to create a separate istans and work as a collection?

[2016-10-17 17:22] tonkku107 opened #845 "Using <audio> already on the page"
I found this #174 issue, but I didn't understand how and I didn't want to wake that up from the dead.

How do I provide the URL for it? The documents didn't have any option for an url and doing `load` creates a new audio element

The reason why I need this is because I have another audio player and the waveform may be removed and re-added as the user navigates around

[2016-10-21 09:21] free2shout commented on #107
Hi @katspaugh
How is this gong? I need to start playing the audio before the complete download. Is this possible? I generate the waveform and save the data into my DB so I won't have to generate it again. But I still can't display it and play the audio until it is completely downloaded. That is a bad UX. Some consumers are used to skim the audios. By streaming they don't need to wait for five long

[2016-10-22 10:20] mspae commented on #107
@free2shout You could use the web audio element as an audio source and pass the prerendered peaks so that the audio isn't downloaded completely before the peaks are being drawn (as seen here: https://wavesurfer-js.org/example/audio-element/)

I think there is a little confusion in this thread, so I'll describe three use cases described here as I see them.

1. Display a waveform of a large file bef

[2016-10-25 06:45] harrietsCreativeDabblets opened #846 "Support on this page"
Hi,

I would like to know whether we can expect support on the issues we've reported on this page?

Its kinda frustrating since I posted an issue some time ago and no one answers; I have noticed that there is no activity here for some time now. I do think that it is great that this project is open source etc. and I understand that we use it at own risk, but it will help us more if we get support w

[2016-10-25 17:17] arssher opened #848 "Zooming is broken after timeline creation and destroying"
I have encountered a bug while using timeline plugin: If one draws timeline and then destroys it, wavesurfer.zoom will fail. Following jsfiddle shows that:
https://jsfiddle.net/h29nd2bm/

[2016-10-26 07:55] katspaugh commented on #845
You need to pass a reference to the audio DOM-Element to the load method instead of the URL. This info is missing from the docs.

[2016-10-28 00:47] mastermalone opened #850 "Looking for assistance with the MultiCanvas option"
Hello.  Currently, I am using version 1.0.10 of this script.  I am rendering large waveform patterns with it but there is a limitation on the canvas width.  I saw that there is an option for the renderer called MMultiCanvas" which looks like it could alleviate the canvas width limitation.  I tried setting this option in the WaveSurfer.init() method's param object but it seems that this breaks the

[2016-10-28 01:13] chrisparton1991 commented on #850
Hey @mastermalone, you generally set the `renderer` parameter in the `create` method, e.g.:

[code]

Here's a [CodePen](http://codepen.io/chrisparton1991/pen/XKgvgv) that shows how to use MultiCanvas. The Pen has a very low `maxCanvasWidth` for demonstration purposes. In a real-world scenario you'd want to delete that line.

Let me know how you go after looking at that example.

[2016-10-28 14:40] mspae commented on #844
So the logic as I understand it should basically look like this:

Add a listener to the event `region-update-end` (it gets passed the updated region object – https://wavesurfer-js.org/plugins/regions.html), inside that use the `seekTo` method to update playback position  to the start value of the updated region.

[2016-10-28 14:43] mspae commented on #839
Duplicate of https://github.com/katspaugh/wavesurfer.js/issues/838

[2016-10-28 14:53] mspae commented on #846
Hello @harrietsCreativeDabblets – Disclaimer: I am no maintainer of this project – I understand that you feel frustrated that nobody has answered one of your issues. But please bear in mind that this open source project is supported and maintained by people in their free time and you simply cannot expect that somebody answers your question within a certain time period.

I feel like there is actual

[2016-10-28 14:55] mspae commented on #830
maybe related to https://github.com/katspaugh/wavesurfer.js/issues/843 ?

[2016-10-28 21:50] mastermalone commented on #850
Thank you so much!  This will help a lot!  From the looks of the application code that I've been given to update/fix, they are using a much older version of wavesurfer.js and it does not contain the .create() method, only an .init({}).  Everything else looks to be mostly the same.  I just wish the previous developers who used this awesome tool did not tightly couple it with their own custom object

[2016-10-28 22:39] stoi2m1 commented on #830
@mspae you are right it is exactly that. I will read that thread over and close this when I find some time over the weekend.

[2016-10-29 17:54] stoi2m1 commented on #843
I was having this same issue and came up with a solution. Im not sure if its the best way but it does work.
[Issue #830](https://github.com/katspaugh/wavesurfer.js/issues/830)

[2016-10-29 17:58] stoi2m1 commented on #830
@mspae the issue is related but has no solution and is worthless to me, would have been better to let the other issue know of my solution.

[2016-10-29 18:02] ffxsam commented on #843
@stoi2m1 My usual thinking goes, if it works then it works! Are you planning on doing a PR?

[2016-10-29 19:10] stoi2m1 commented on #843
@ffxsam I'm not sure how to do that. I'm not very familiar with using github and it's processes.

[2016-10-30 00:22] ffxsam commented on #843
@stoi2m1 No worries! I'll take your fix and do a PR so it gets merged into the official package. Thanks for the help!

[2016-10-30 02:06] ffxsam commented on #830
Unfortunately this doesn't solve the issue. When clicking ahead of the cursor, the event tagname is "CANVAS", but when clicking behind the cursor, the tagname is "WAVE". However, the two wave nodes (the actual waveform and the scrollbar) are slightly different. So I can use these differences to maybe pinpoint when the user clicks the scrollbar and prevent it from doing anything.

[2016-10-30 02:27] ffxsam commented on #830
Ok cool, I can check `e.target.childElementCount` and if it's greater than zero, ignore the `eventDown`. Will submit a PR shortly, after testing.

[2016-10-30 18:11] #845 closed

[2016-10-30 18:13] katspaugh commented on #833
Closing, though I'm not sure if you solved it or not. Please feel free to reopen if not.

[2016-10-30 18:13] #833 closed

[2016-10-30 18:20] katspaugh commented on #838
node-pcm provides some examples how to normalize the PCM data ffmpeg produces:
https://github.com/jhurliman/node-pcm/blob/master/examples/waveform.js#L75

You can play with the coefficients to achieve values similar to what Web Audio's produces.

[2016-10-30 18:20] katspaugh commented on #839
Closing as duplicate.

[2016-10-30 18:20] #839 closed

[2016-10-31 09:38] #830 closed

[2016-10-31 09:38] #843 closed

[2016-10-31 11:12] cyb-ahmadh commented on #838
Thanks for the reference @katspaugh. I'll update about it in some days.

[2016-11-01 12:12] harrietsCreativeDabblets commented on #846
I wouldn't say having to wait more than two weeks for an answer is good. And I have posted on SO, but seems no one there could answer.

Its just my opinion that project moderators needs to be stricter on the design and documentation side - if those are good, then there will not be such a huge demand of bugs that no one else knows how to fix.

[2016-11-01 13:41] harrietsCreativeDabblets commented on #844
Thank you for this - I have tried adding an event listener to the event you mentioned, and can see that it is executing at the end of when a region is created. However, how do I get access to the region that has just been created? Seeing that I did not create an instance of the region object in my own code, I only said loop: true, and enableDragSelection.

[2016-11-02 08:42] mspae commented on #844
The `region-update-end` callback function is called with the region object as parameter.

[2016-11-02 09:47] harrietsCreativeDabblets commented on #844
this is my [code pen](http://codepen.io/BusyBee/pen/bwXYmx).
I do not understand how I would access the region in my on event handler.

[2016-11-02 23:45] #850 closed

[2016-11-02 23:46] chrisparton1991 commented on #850
Happy to help @mastermalone, I'm glad you got it working :)

[2016-11-02 23:48] mastermalone commented on #850
Once again, thank you so much!

[2016-11-03 02:42] thijstriemstra commented on #846
what issue for example?

[2016-11-03 08:29] harrietsCreativeDabblets commented on #846
For example #844.

[2016-11-03 08:39] harrietsCreativeDabblets opened #853 "Project syntax used and learning material to get started"
I need to get some issues fixed for project of mine - specifically surrounding the behaviour of the regions plugin.

What type of object literal syntax is used in the javascript code, as I need to read up on that a bit more in order to make my changes? Do you perhaps have some references to learning material to get me started on it?

[2016-11-03 08:53] mspae commented on #723
FYI I'm currently working on a PR for this.

[2016-11-03 13:16] harrietsCreativeDabblets commented on #844
I added a listener to the event region-update-end, gave the function a region object as input, and updated the cursor via the seekTo method, to the starting point of the newly defined region.
However, the cursor is now always moved to the start of the waveform, which indicates that seekTo is called again after the one that initially sets the cursor to the start of the newly defined region,
It migh

[2016-11-04 07:33] #853 closed

[2016-11-04 09:35] #846 closed

[2016-11-05 18:30] mspae commented on #840
But you don't want to have any waveform? It is just a progress bar? In that case I think you would probably be better off implementing your own solution – otherwise you'll end up hacking something together on top of wavesurfer which will probably not save you any time.

[2016-11-07 14:24] Bernardodinex opened #855 "How to display the waveform multiple times?"
Hi, I'm creating a project where mp3 files are displayed as waveform and I'm doing it with wavesurfer.js but I can't display the waveform for each audio file or display more than 1 waveform in same page.

[2016-11-07 16:45] X-Raym commented on #736
@katspaugh Hi,
Are you ok for a pull request with the event mentionned above ?
I use it for WaveSurfer-WP-Premium, and it is especially useful for peaks file creation, as this event is only trigger if wavesurfer is loaded with MediaElement and without peaks.

[2016-11-07 16:58] katspaugh commented on #736
@X-Raym I'm all for it, but I don't get why you named it "noPeaks". In the`decodeArrayBuffer`, callback peaks are, on the opposite – present.

[2016-11-07 17:05] X-Raym commented on #736
@katspaugh 'noPeaks' because it is trigger only if no peaks have be passed as parameter of the `load` function. This event is called when waveform is drawn from audio analysis, and not from other sources (like a peaks file).

But really, you can choose another name which would fit more your actual events naming conventions.

[2016-11-07 17:08] katspaugh commented on #736
I'm OK with what was suggested here before: `waveform-ready`.

[2016-11-07 17:10] X-Raym commented on #736
**@katspaugh**
Sounds good,
I'm on it 🐙

[2016-11-08 00:48] mspae commented on #855
You want to render multiple audio files with multiple instances of the wavesurfer.js plugin? Or do you want to want to render one audio file with multiple waveforms rendered by one instance of the wavesurfer.js plugin?

[2016-11-08 14:22] Bernardodinex commented on #855
Yes, I want to render multiple audio files with multiple instances of the wavesurfer.js plugin. For instance like soundcloud.com.

[2016-11-08 21:04] mspae commented on #855
Here is an example of how you could use a utility function to accomplish that without having to repeat yourself too much: http://codepen.io/mspae/pen/MbagWR

[2016-11-09 08:10] harrietsCreativeDabblets opened #858 "How is the position of the cursor determined"
Can someone please tell me what variables controls the position of the cursor on the canvas?

I have added the regions plugin to my project, and when I have added multiple regions, it becomes difficult to control the position of the cursor by clicking different areas on the canvas.

When one region is currently playing (looping) and I click outside of the region, I expect the cursor to move to tha

[2016-11-09 12:57] harrietsCreativeDabblets opened #859 "Delete region using a button on the region itself"
I have added a font -awesome button on a region - in order to delete the region; It looks like this:
![image](https://cloud.githubusercontent.com/assets/11888335/20138962/3bbd8a20-a68c-11e6-871f-86518275cb1f.png)
here is the code that I added to the render function in the wavesurfer.regions.js:
[code]

When I look at the HTML rendered, it does not contain the onclick event; And obviously when clic

[2016-11-10 10:46] mspae commented on #859
Adding event listeners in javascript can be done in two ways.

* Imperatively by defining for example the property onclick (as you did). You have to assign it a function value, not a string value:
[code]

* Or, by adding an event listener (this is the preferred way):
[code]

[2016-11-10 12:03] katspaugh commented on #736
Published version 1.2.3 on npm with the new event. Thanks @X-Raym!

[2016-11-10 12:03] #736 closed

[2016-11-10 13:17] harrietsCreativeDabblets commented on #859
Martin thanks for your answer.
How would I delete the specific region associated to the button?

[2016-11-11 15:42] #749 closed

[2016-11-11 15:46] katspaugh commented on #749
Published the npm package at version 1.2.4 with a work around. The root cause was Safari having the Web Audio context suspended on the first page-load.

[2016-11-11 16:06] katspaugh commented on #695
This is fixed in the current version in either 5bf2e44a64e9618efc73be41be41f94b884fa820 or ee4fafe66a345ef22c0ddc3ebeaa6df8f3c0522c.

I cannot reproduce this bug on https://wavesurfer-js.org/plugins/regions.html anymore.

[2016-11-11 16:06] #695 closed

[2016-11-12 11:50] mspae commented on #853
http://bdcampbell.net/javascript/book/javascript_the_good_parts.pdf

[2016-11-12 21:47] mspae commented on #723
https://github.com/katspaugh/wavesurfer.js/pull/861

[2016-11-13 11:47] katspaugh commented on #798
Added in #854.

[2016-11-13 11:47] #798 closed

[2016-11-13 11:48] #138 closed

[2016-11-13 11:49] katspaugh commented on #215
Added in #734.

[2016-11-13 11:49] #215 closed

[2016-11-13 11:51] katspaugh commented on #279
Added in #643.

[2016-11-13 11:51] #279 closed

[2016-11-13 11:53] katspaugh commented on #398
Solved in #473 + d44c0464d5c79e9510df866f5e3ed21101408cad.

[2016-11-13 11:53] #398 closed

[2016-11-13 11:54] #419 closed

[2016-11-13 11:55] #425 closed

[2016-11-13 11:55] katspaugh commented on #429
Solved in ##856.

[2016-11-13 11:55] #429 closed

[2016-11-13 11:57] #437 closed

[2016-11-13 12:01] katspaugh commented on #510
Added in #707.

[2016-11-13 12:01] #510 closed

[2016-11-13 12:02] #519 closed

[2016-11-13 12:04] #535 closed

[2016-11-13 12:04] #536 closed

[2016-11-13 12:05] #543 closed

[2016-11-13 12:06] #548 closed

[2016-11-13 12:06] #553 closed

[2016-11-13 12:07] #554 closed

[2016-11-13 12:08] katspaugh commented on #573
Solved in ##851.

[2016-11-13 12:08] #573 closed

[2016-11-13 12:08] #576 closed

[2016-11-13 12:08] #624 closed

[2016-11-13 12:10] #752 closed

[2016-11-13 12:12] katspaugh commented on #776
A new event `waveform-ready` added in #860.

[2016-11-13 12:12] #776 closed

[2016-11-13 12:12] #724 closed

[2016-11-13 12:15] #838 closed

[2016-11-13 12:16] katspaugh commented on #495
That's exactly what the regions plugin does.

[2016-11-13 12:16] #495 closed

[2016-11-13 12:20] katspaugh commented on #509
Looks like this is not an issue anymore. I can successfully play the audio by clicking once on http://wavesurfer-js.org/example/audio-element/ on iOS 10.

[2016-11-13 12:20] #509 closed

[2016-11-13 12:20] #570 closed

[2016-11-13 12:20] #550 closed

[2016-11-13 12:21] #697 closed

[2016-11-13 12:21] #468 closed

[2016-11-13 12:22] #665 closed

[2016-11-13 12:27] katspaugh commented on #665
Added Pentatonic to https://wavesurfer-js.org/projects/.

[2016-11-13 12:30] katspaugh commented on #704
I haven't tried, but I think it should be possible. You need to take the same audio element that Soundmanager is playing and pass it to wavesurfer.js, like here: https://github.com/katspaugh/wavesurfer.js/blob/master/example/video-element/main.js#L17-L19

[2016-11-13 12:30] #704 closed

[2016-11-13 12:30] #766 closed

[2016-11-13 12:31] #629 closed

[2016-11-13 12:32] katspaugh commented on #768
#834 might have solved it. Please feel free to reopen if this is still relevant.

[2016-11-13 12:32] #768 closed

[2016-11-13 13:03] gapipro commented on #495
Actually it doesn't. Check your coloring and my image example. Difference is that only selected part of waveform is darker not the whole waveform from 0 to selected region.

[2016-11-13 15:21] mspae commented on #771
I can confirm that this also happens in the annotations example, which uses the MediaElement backend to get around CORS restriction for the remote audio file.

[2016-11-13 17:33] katspaugh commented on #495
@gapipro I see what you mean. I've checked your PR again and still think it's a bit of an overkill in terms of how much code is needed for a very particular feature. Thanks for your contribution, anyway!

[2016-11-14 14:40] dsslimshaddy opened #864 "WaveSurfer Hover Background"
Can anyone add or explain from where to do the hover effect like in soundcloud ?
Im not talking bout hover cursor but the whole wavecolor from 0th position to hover position.

I want to change the waveprgress color till the part where the mouse is hovered. Any Tricks ?

[2016-11-14 15:54] katspaugh commented on #864
There's no built-in option for this, but you can hack it to change the `progressColor` parameter on hover like this:

[code]

[2016-11-14 15:54] #864 closed

[2016-11-14 16:03] katspaugh commented on #864
Ah, now I see what you mean. From 0 to the position of the mouse, independent from the playback progress. No, we don't have this functionality.

[2016-11-15 10:24] #855 closed

[2016-11-15 11:01] Bernardodinex commented on #855
Yeah, cool! But I meant how to make all of this rendered waveforms to audio players.

[2016-11-15 11:57] katspaugh commented on #855
@Bernardodinex I think you were given enough help to figure out the rest on your own. This is not a code dojo. Please use stackoverflow for this kind of questions.

[2016-11-17 15:49] dsslimshaddy commented on #864
How about creating **two progressWave**
1st The original one,

Other One will be a different color and its "width" will change as we hover(to mouseposition)
and on mouseleave(width = 0)

is this possible ?

[2016-11-17 16:33] katspaugh commented on #864
Yes, it's possible.

[2016-11-17 17:14] dsslimshaddy opened #867 "Hover Effect Pulled"
I tried to add a somehow-working hover effect.
It will be awesome if the original creators make this a feature.
Here is the pull
https://github.com/katspaugh/wavesurfer.js/pull/866

[2016-11-18 09:17] katspaugh commented on #867
Thanks for the proposal! I like the feature. I'll think of a fitting solution.

[2016-11-18 09:17] #867 closed

[2016-11-19 18:12] katspaugh commented on #825
@jeremylach can you verify if the problem is solved in version 1.2.6 (I've just released it on npm).

[2016-11-20 17:12] jeremylach commented on #825
@katspaugh unfortunately I'm seeing the same behavior.  Doesn't seem to be resolved.  The audio I'm using to test is 1 hour and 47 minutes.

[2016-11-20 17:35] jeremylach commented on #825
This does seem to help quite a bit.  The only issue I'm still seeing is an inconsistency with the timeline numbering.

Initial (zoom 0)
<img width="1073" alt="zoom0_initial" src="https://cloud.githubusercontent.com/assets/447535/20464826/44a35752-af1d-11e6-9a11-70126fdcb663.png">

Zoom 2 (should it really be zoomed in this much from only a increase in zoom level of 2?  Or is it the timeline is off

[2016-11-20 17:58] jeremylach commented on #825
The above example was done with custom primaryLabelInterval and secondaryLabelInterval... here's the same problem illustrated with default timeline settings

Initial state (minPxPerSec = 0)
<img width="1071" alt="zoom_0_initial" src="https://cloud.githubusercontent.com/assets/447535/20464943/84f0d840-af20-11e6-9f8c-ecd03580a444.png">

Zoom 2
<img width="1067" alt="zoom_2_" src="https://cloud.githu

[2016-11-21 07:36] katspaugh commented on #825
@jeremylach thanks! I'll take a look at the timeline.

[2016-11-23 10:11] weavermedia commented on #837
@cyb-ahmadh How did you get it working?

[2016-11-23 14:57] alimaserrat commented on #83
I'm using W3 Super Cache plugin of Wordpress, and I have enabled the CDN option that is sync the file with S3 of amazon, however i'm getting:

by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.

I don't know what CORS option should be added to Amazon priviallage, i have tried few different ones but nothing is helping..

It is loading all the files except

[2016-11-24 00:57] theoutaboy opened #869 "load waveform as the audio loads"
Hi Katspaugh!

Is there a way to load in the wave form as the audio is being downloaded to the client-side?

For example: the waveform is just a straight line, and as pieces of the audio are being downloaded, the waveform is creating the peaks, allowing the user to play music as it loads.

Thanks!

[2016-11-24 09:26] katspaugh commented on #869
Duplicate of #488. Tl;dr: no.

[2016-11-24 09:26] #869 closed

[2016-11-24 10:40] gorkie commented on #837
Would you tell me how you fixed it? I have the same problem @cyb-ahmadh

[2016-11-24 12:46] cyb-ahmadh commented on #837
I understood `exportPCM()` as it will generate the PCM data for me but it pops out the utilised the PCM data in a seperate window. Nothing else.

[2016-11-24 15:05] katspaugh commented on #837
https://github.com/katspaugh/wavesurfer.js/blob/master/src/wavesurfer.js#L478

The third parameter tells it to return the PCM instead of poping up the window.

So you need to call it like this:

[code]

[2016-11-28 10:31] katspaugh commented on #825
Just a heads up: I haven't had a chance to work on this this weekend, but keeping tabs on this issue.

[2016-11-29 23:07] taylorvc commented on #859
Hey @harrietsCreativeDabblets
Not sure if you were still wondering how to delete a specific region, but I have been messing around with cutting specific regions of the waveform out and was able to clear individual ones:
[code]

[2016-11-30 12:32] JonathanThorpe commented on #392
I've been trying to work with this as well.

Looking at the plugin, it seems that it might not actually store the data at all? The play command on this looks like it might actually be a trigger to start recording rather than play back - I can't seem to get the resulting data out of it.

[2016-12-01 18:30] CheeBam opened #874 "How to receive wavesurfer ready event more quickly?"
Hi, Katspaugh!

Why do I have a delay between pressing play button and player readiness for playback on my remote server? `backend` : `'MediaElement'` option helps only to skip wait for rendering waves. Player starts playing approximately when loaded 70% of the track, and this delay is about 4-6 sec. The page has around 100 tracks so preloading can't helps.
How I can increase the speed of the play

[2016-12-02 09:40] katspaugh commented on #874
The `<audio>` tag is slower than it can be on some servers. GitHub Pages, for instance, are particularly slow to respond with audio files. When I hosted wavesurfer.js's homepage on S3, it was loading the audio significantly faster. I think it has to do with how the server is configured. Particularly, the support for HTTP/1.1 media headers is very important.

[2016-12-02 19:46] taylorvc commented on #617
I'm not sure if this is directly related to the initial issue described, but I am having an issue with loading a new waveform. I have a clipping option, which trims out unwanted areas of audio. I reload the wavesurfer with a new audio file and clear any defined regions:

[code]

The new waveform loads and works fine for zooming and playback. However, when I attempt to draw a new region, it creates

[2016-12-03 11:14] #848 closed

[2016-12-03 11:15] katspaugh commented on #848
Thanks @arssher! Should be solved in master now.

[2016-12-03 11:30] katspaugh commented on #825
@jeremylach the timeline issue should be solved in v 1.2.7 (on npm). Can you take a look?

[2016-12-04 01:26] jeremylach commented on #825
@katspaugh unfortunately I am seeing this issue persisting.  The workaround by calling the .zoom(0) function twice does seem to work though.  I can .zoom() to any number then call .zoom(0) 2 times and the timeline will reset to the original state.

[2016-12-04 10:05] katspaugh commented on #825
@jeremylach I've just realized I forgot to publish to npm. Were you trying v 1.2.7?
Can you reproduce your issue on http://wavesurfer-js.org/example/zoom/ ? If not, could you share your test-case via codepen?

[2016-12-05 14:11] jeremylach commented on #825
Yes I downloaded the zip from the github page, 1.2.7.  I'll take a look at the zoom example or create my own for you to see.

[2016-12-05 16:08] jeremylach commented on #825
@katspaugh I am seeing the same behavior on the wavesurfer zoom example... Drag the slider in to zoom, then drag back out.  The timeline does not zoom out entirely and does not look like the way it started.

[2016-12-05 16:55] katspaugh commented on #825
Ah, thanks, now I see it too!

[2016-12-05 17:11] katspaugh commented on #825
It appears, it was a problem with that particular page, though. The left-most position of the slider didn't match the initial zoom of the waveform. Now it should be fine.

Otherwise, is there any other way to reproduce your issue?

[2016-12-05 19:16] jeremylach commented on #825
I modified your zoom example as a codepen, to match my wavesurfer config, and at first I could not figure out why it seemed to be working on the codepen but not my site.  I then realized that if I removed the regions altogether, or added them to the wavesurfer BEFORE I initialize the timeline then it works like your example.  In my code, I added the regions AFTER I initialized the timeline.  I am

[2016-12-06 05:17] heliojuniorkroger opened #882 "Allow audio to play only in a range"
Hey, I want to know if it's possible to make an audio play only in an range (of 3 to 10 seconds per example), and disallow all the rest clickable area. I tried to make this with the region plug-in, however, it can not block the rest of the waves.

[2016-12-06 08:46] #874 closed

[2016-12-06 13:41] heliojuniorkroger opened #883 "Disable click on Waves"
How can i disable the user click on waves?

[2016-12-06 13:47] katspaugh commented on #883
<img width="1132" alt="screen shot 2016-12-06 at 14 47 00" src="https://cloud.githubusercontent.com/assets/381895/20927665/e120129e-bbc2-11e6-859b-c586700140c6.png">

[2016-12-06 13:47] #883 closed

[2016-12-06 13:48] #882 closed

[2016-12-06 13:48] #859 closed

[2016-12-06 13:57] katspaugh commented on #844
I think you are confused by what parameters `seekTo` takes. It accepts a fraction of the total duration as its input. For example, to seek to the middle of the clip, you give it `0.5`. The beginning is 0, the end is 1.

It's in the docs.

<img width="607" alt="screen shot 2016-12-06 at 14 56 47" src="https://cloud.githubusercontent.com/assets/381895/20928030/3c713a8c-bbc4-11e6-9705-34b8b0a6ad78.pn

[2016-12-06 13:57] #844 closed

[2016-12-06 13:58] katspaugh commented on #840
Closing due to inactivity.

[2016-12-06 13:58] #840 closed

[2016-12-06 13:59] katspaugh commented on #825
Sounds like a bug, I'll take a look. Thanks for helping to figure this out.

[2016-12-06 14:04] katspaugh commented on #858
The inconsistency you describe sounds like a bug in the way region looping is implemented. The cursor shouldn't be controlled by anything except for the [audioprogress event](https://github.com/katspaugh/wavesurfer.js/blob/master/src/wavesurfer.js#L131-L134).

[2016-12-07 18:28] moshedri commented on #419
here is some script i found on the web that can replace thr buffer2wav function
note that it return a blob so the last line return "(new Blob([arraybuffer], { type : 'audio/wav'}));"

should be chance to the return value of this function

`// Convert a audio-buffer segment to a Blob using WAVE representation
// The returned Object URL can be set directly as a source for an Auido element.
// (C) Ke

[2016-12-08 15:48] ibnbd opened #884 "Any plan to Upgrade for Angular 2?"
Hey there, I am really fan of your work. I loved your plugin. As you know Angular chaining it's version. And I was wondering if you planning to upgrade for Angular 2? Or do you have any easy ideas so I can give a try. I am sorry I am not so expert here.

Thanks

[2016-12-08 17:08] katspaugh commented on #884
This project is not using Angular, except for one tutorial example. If you want, you can create an example (preferably a codepen) of using wavesurfer with Angular 2. I would be happy to add it on the homepage. Please re-open this issue if you create a codepen.

[2016-12-08 17:08] #884 closed

[2016-12-11 23:21] sprycoder commented on #149
First of all Thanks to team for creating such a useful component for audio.

I am using it for my project and its really easy to use. But I'm disappointed by the change in sound pitch after increasing playbackRate. I tried with waveSufer.setPlaybackRate, waveSurfer.backend.setPlaybackRate and other few options.

Is it still an open bug or I have to do it different way?

[2016-12-11 23:32] jeremylach commented on #149
I'd also be interested in this feature.

[2016-12-12 00:47] sprycoder commented on #404
@drjaydenm Have you found same way around it?

[2016-12-13 12:58] moshedri commented on #618
yep i have the some issue with that i had to name my function and call it with the two events one ofter another

[code]

[2016-12-13 17:16] katspaugh opened #895 "The order of script tags for plugins should not be affecting initialization"
Quoting #825:

http://codepen.io/jeremylach/pen/zoWdyo?editors=1011

Solution: either make the order of scripts idempotent or add a note in the docs.

[2016-12-13 17:16] katspaugh commented on #825
Closing this one. The last comment by @jeremylach to be solved in #895.

[2016-12-15 05:32] jsphweid opened #897 "playback point"
Play/Pause begins playback from the point where it stopped, which makes sense. But is there a better way than the below plunker to start playback at a particular point (thus making it easy to listen to an exact point in time over and over).

Go full screen for it. I know it doesn't line up when it's scrolled over and other problems. Main thing I'm trying to show is functionality (spacebar stop/res

[2016-12-15 09:31] katspaugh commented on #149
I'll need to do some research on this.

[2016-12-15 18:48] jsphweid commented on #897
Ok, well, after some work, I managed to do everything I want to do. I'm not sure it's the best way and if there were a more native / integrated way of doing it, I'd be interested to know. Here's the code that implements a restart point AND begins regions at the beginning upon creation (allowing only 1 region at a time).

https://plnkr.co/edit/ZrYRBZdhTnxF4cbyTJSq

[2016-12-16 15:04] X-Raym opened #898 "MediaElement Cursor End Position"
Hi !

I noticed that with MediaElement,
the Cursor End Position is not always accurate : it is often a bit behind the end of the waveform.

![Screenshot](http://i.imgur.com/oJ9A1LO.gif)

I checked end cursor position:
[code]

[code]

Here is a [codepen demo](http://codepen.io/X-Raym/pen/NbedGY?editors=1111).

If this is not a bug but API limitations, maybe a function to set the cursor at end of ca

[2016-12-17 15:30] xbill82 commented on #767
@pitrackster you can add an alias in your webpack config file

[code]

[2016-12-17 16:42] katspaugh commented on #767
Thanks, @xbill82! Adding to the readme.

[2016-12-18 19:01] interwap opened #899 "Waveform not rendering on hidden div."
I'm using wavesurfer.js for this cool music player, awesome stuff but the waves don't render when the display of the parent div is set to none.

[code]

ideally, when the page load, the player is hidden and when i click on the play button, shows. But when it does the waveform isn't rendered. Any ideas why??

[2016-12-18 21:23] jsphweid commented on #149
@katspaugh I've been looking into this and wanted to present this to you.

Someone [created a javascript version of the famous open-source soundtouch libraries](https://github.com/also/soundtouch-js) years ago and I used it to create [this plunker.](https://plnkr.co/edit/ROQyEtPgQGfgZdluRzQy).

I'm no expert on the Web Audio API and cannot figure out how to integrate it smoothly with your fantasti

[2016-12-18 22:01] jsphweid commented on #899
So you want the div to display on a button click? Isn't that just a bit of jQuery?

`$('parent').css('display', '');`

https://plnkr.co/edit/WTkrRzkjAZ4HbB0NJMoN

Or am I missing something?

[2016-12-18 22:15] chrisparton1991 commented on #899
Elements with `display: none` don't have their dimensions calculated, so my suspicion is that wavesurfer is seeing your element as a 0px by 0px div and rendering accordingly.

I'm not sure of your exact requirements, but as a test you could try replacing `display: none` with `visibility: hidden` and changing to `visibility: visible` once the play button is clicked. The difference you'll likely not

[2016-12-19 11:30] interwap commented on #899
@jsphweid yes is basic jquery. I've seen your plunker but i think your audio size is small, thats why this show. try loading a larger mp3. @chrisparton1991  thanks, you really do understand issues. when the div is hidden with visibility, it renders just fine. May just be the display none config

[2016-12-20 17:08] taylorvc opened #900 "Seeking errors with media element fallback"
I am using the media element fallback, since the majority of my audio files are quite large and I don't want them to be decoded with Web Audio.  However, I noticed an issue with seeking while the audio is playing. When I attempt to seek backward, the audio will update its current time to the clicked position, but the actual playhead in the waveform does not move. Sometimes if you click to seek bac

[2016-12-20 18:22] thijstriemstra commented on #899
So this can be closed @interwap?

[2016-12-20 19:24] katspaugh commented on #900
It's the way the media element works in browsers. It's pretty well known. There's no workaround for this.

[2016-12-21 11:28] X-Raym commented on #609
Hi !
I dig this subject and I realized that maybe it is not needed to add code to WaveSurfer-js to make this work.

Here is a demo:
[Interactive Markers and Transcript for WaveSurfer-WP Premium](https://www.extremraym.com/en/wavesurfer-wp-markers/)

The markers code is public on this [Pen](http://codepen.io/X-Raym/pen/XNOmQb).

As you can see, we can make interactive transcripts already. Also, pas

[2016-12-21 13:35] katspaugh commented on #609
Good job! Looks really nice!

[2016-12-21 14:32] X-Raym commented on #609
@katspaugh Cool :)
Well I close the issue then, I don't think a native solution is still needed, as it can be hand made. :P

[2016-12-21 14:32] #609 closed

[2016-12-21 16:20] katspaugh commented on #897
Looks good! The only suggestion I can make is to keep a reference to the created region like this:

[code]

[2016-12-21 16:20] #897 closed

[2016-12-23 02:34] jsphweid commented on #149
@katspaugh Sorry, I can't stop playing around with this.

First off, I made somewhat of a working version with time-stretch preserve pitch: [current website](https://josephweidinger.com/browserTranscribe) & [GitHub repo](https://github.com/jsphweid/browserTranscribe).

But just to summarize, changes to WebAudio js file -> https://www.diffnow.com/?report=w2vuc
It's kind of a mess, I know. But it wo

[2016-12-23 10:33] katspaugh commented on #149
@jsphweid if you are willing to finish this (and create a PR), I know @jeremylach is ready to sponsor this feature.

[2016-12-23 13:22] interwap commented on #899
no @thijstriemstr , the problem persists

[2016-12-23 16:27] jeremylach commented on #149
Yes, a bounty can be arranged for this feature.

[2016-12-23 17:17] leolabs opened #902 "Playback doesn't start on iOS when load and playback are initiated by tapping a button - how to fix?"
I have the following situation: I have a list of tracks that can be played. When the user clicks on one of the tracks, it is loaded into WaveSurfer and an event listener gets attached to the ready event of the player and starts the playback immediately. This works on all tested OSes except for iOS where the track is loaded by clicking on the button, but playback doesn't start. Is there a workaroun

[2016-12-23 17:40] jsphweid commented on #899
Ok, I'm beginning to see the problem. I tried an hour long album and I saw nothing. You're right. So I made a bunch of wav files with white noise at various lengths to see which ones would render like expected. On my machine at least, a 13 minute file shows but a 14 minute file does not.

Putting a debugger on `drawBars()` I can see that even a 14 minute + file has what seems to be all the proper

[2016-12-23 19:42] chrisparton1991 commented on #899
Sounds like you need to switch over to the `MultiCanvas` renderer. Browsers have maximum canvas size limits. Once you go past them, the browser won't render anything to the canvas.

The MultiCanvas renderer works around this my using multiple adjacent canvases when required.

To enable, add a `renderer: 'MultiCanvas'` option to your wavesurfer config.

[2016-12-23 19:45] chrisparton1991 commented on #899
@jsphweid Your issue also sounds different to the issue @interwap had. Seems like his problem has been solved.

[2016-12-24 19:11] jsphweid commented on #149
Ok, well I finally just finished [my web-app](https://www.josephweidinger.com/browserTranscribe/) that uses it but it looks really messy. I guess the best way to approach this would be to package up the SoundTouch files into a singular object and redo my changes as to not touch WaveSurfer.js, and extend it like a plugin or something.

Honestly, I'm not that great at this sort of thing but I'll giv

[2016-12-27 07:47] janjon opened #903 "problems in chrom"
demo address 'https://wavesurfer-js.org/example/audio-element/'

the state of play: I click on the fallback position, play sound right, but the cursor will return to the original position.
Pause status: no problem.

also hope to reply, thank!

[2016-12-27 09:23] katspaugh commented on #903
Duplicate of #900.

[2016-12-27 09:23] #903 closed

[2016-12-27 10:12] janjon commented on #900
@katspaugh  audio element no problem

[2016-12-27 10:27] katspaugh commented on #900
@janjon you mean, when using a standalone `<audio>` tag – no issues with seeking?

[2016-12-27 13:15] janjon commented on #900
@katspaugh sorry, I mean, there is no problem in using chrom native audio element regression, https://wavesurfer-js.org/example/audio-element/ regression sound accurate, schedule lines again returned back

[2016-12-28 09:10] interwap opened #904 "wavesurfer not loading direct blob"
So I have a blob object which is a response from an ajax request. It's of type audio/mpeg. When I try to do wavesurfer.loadBlob it doesn't work although I can confirm I have a blob response. Any ideas?

[2016-12-28 10:32] mspae commented on #904
Can you post a codepen or some code that reproduces this issues?

[2016-12-28 14:43] interwap commented on #904
Sample code
`
xmlhttp.onload = function(){

var audioFile = xmlhttp.response;

     var wavesurfer = WaveSurfer.create({
        container: '#waveform',
        waveColor: '#000',
        cursorColor: '#ffa200',
        cursorWidth: 2,
        backend: 'MediaElement',
        height: 20,
        pixelRatio: 1,
        hideScrollbar: true,
        progressColor: '#ffa200'
    });

    wavesurfer.lo

[2016-12-28 15:09] mspae commented on #904
TL;DR You are using the `MediaElement` backend, use the default backend and just call load with the URL directly, no need to do the ajax yourself.

Wavesurfer.js provides two backends (ways in which the audio is provided to the browser):

1. `MediaElement` attaches an `<audio>` element (with the audio URL as source attribute) to the page. This allows us to play from a specific position without hav

[2016-12-28 15:11] mspae commented on #904
But this should definitely be documented here https://wavesurfer-js.org/docs/methods.html

[2016-12-28 16:43] mspae commented on #904
But this should definitely be documented here https://wavesurfer-js.org/docs/methods.html

[2016-12-28 17:35] mjunker commented on #904
I have the same issue. When I using loadBlob using backend MediaElement the loadDecodedBuffer method calls this.backend.load(buffer):

loadDecodedBuffer: function (buffer) {
        this.backend.load(buffer);

 The problem is that corresponding load function on in mediaelement.js expects the container as the second element and so the load function fails when executing this line (because container

[2016-12-28 17:51] katspaugh commented on #904
You can load a blob into a media-element via the [URL API](https://developer.mozilla.org/en-US/docs/Web/API/URL/createObjectURL).

[code]

[2016-12-28 18:50] mjunker commented on #904
This solved my problem. Thanks a lot for your help!

[2016-12-29 15:36] #904 closed

[2016-12-29 15:37] #899 closed

[2016-12-30 14:32] interwap opened #905 "Can wavesurfer play audio in chunks like soundcloud?"
if you've ever tried to download music on soundcloud or tidal using idm (internet download manager), you'll discover that they tend to be serving their audio files in chunks. This make it difficult for idm to grab the file as its served in small kilobytes (250kb). I'm trying to apply the same technique on a project i'm working on but can't get it figured out just yet.

I'm using WaveSurfer to play

[2016-12-30 16:29] katspaugh commented on #905
Have you tried StackOverflow?

[2016-12-30 20:49] swampthang opened #906 "wavesurfer.zoom causes region element - wavesurfer-region to also zoom"
Love this library!

Here's a codepen...
http://codepen.io/swampthang/pen/KaPKxV?editors=1010

If you drag to create a region and then play with the zoom, you'll see that as you zoom out, the region element zoom's out as well but not accurately. Not sure what's happening but wanted to be sure and bring it up.

[2016-12-30 22:12] katspaugh commented on #906
I'll check the accuracy, thanks.

[2016-12-30 22:59] interwap commented on #905
Yes please similar question here: http://stackoverflow.com/questions/41385292/how-to-read-audio-file-in-chunks-like-soundcloud-php

[2016-12-31 09:34] RighteousIdealizedDung opened #907 "barWidth breaks wavform display"
Adding barWidth: 3 to the Wavesurfer options removes the waveform entirely. I have created a demo at http://codepen.io/RighteousIdealizedDung/pen/BQXeod. Without the barWidth option, all appears correctly. My code is based on code from http://stackoverflow.com/questions/38918909/how-can-i-load-only-waveform-and-wait-to-user-click-play-to-download-the-audio. I am using server-generated JSON peak da

[2016-12-31 10:57] katspaugh commented on #907
Yes, definitely a bug in combination of `normalize` and `barWidth`.

[2016-12-31 16:32] interwap opened #908 "Can wavesurfer preload "webaudio" like it does "media element"?"
I notice that if the backend is set to webaudio, you can't play until the waveform has been drawn. Is there a workaround for this because i'll love to play before the waveform is drawn.

[2016-12-31 21:53] katspaugh commented on #908
It depends on what you need Web Audio for. You can use the [MediaElementAudioSourceNode](https://developer.mozilla.org/en-US/docs/Web/API/MediaElementAudioSourceNode) to have access to stuff like filters.

[code]

[2017-01-01 00:38] interwap commented on #908
now it doesnt work...

[2017-01-01 13:54] katspaugh commented on #908
Works for me: http://codepen.io/anon/pen/mRbqwK
(There's no sound, because of the CORS restrictions of that audio).

[2017-01-01 13:54] #908 closed

[2017-01-01 14:34] interwap commented on #908
it only works when backend is mediaelement. Doesn't work using webaudio. That what i'm trying to point out...

[2017-01-03 11:38] RighteousIdealizedDung commented on #907
Thanks for the work-around!

[2017-01-03 14:20] swampthang commented on #906
In case you're interested I'm experimenting with combining Greensock's GSAP library to trigger play of multiple instances of regions. http://codepen.io/swampthang/pen/RKbKzv

[2017-01-03 21:33] benbenedek opened #910 "Multiple waveform instances do not generate waveform."
Hi,

Let me start off by saying I love your lib.

Trying to implement a slider (with multiple wavesurfer instances, some are "hidden"), using wavesurefr v1.0.53. Currently the waveform is generated in the FE. The code which generates them looks like this:

[code]

The problem I'm facing is that the waveform for the first audio is generated, but then the rest don't, no console/js errors.

Any help

[2017-01-03 21:42] katspaugh commented on #910
Looks like the code you posted is not complete. I don't see any loops that would create multiple waveforms. Can you post your full code on codepen.io?

[2017-01-03 21:52] benbenedek commented on #910
Thanks for the quick response.

Sorry, left out the first line:
[code]

Since there is HBS and multiple components it would be a bit harder for me to get a working example. Please allow until tomorrow.

If there's anything wrong which pops up for you in this code LMK.

Best regards,
Ben.

[2017-01-03 21:58] chrisparton1991 commented on #910
Hi Ben,

Any wavesurfer containers with `display: none` will not render. When wavesurfer gets the dimensions of the hidden container element, the browser will say it has no width and no height. Therefore, wavesurfer will render nothing.

I don't have your HTML here, so I can't say for certain that this is the case, but it was for another user who raised an issue recently.

If you are indeed hiding

[2017-01-03 22:00] katspaugh commented on #910
If I were a soothsayer, I would say the `src` attribute on the container looks weird. Is it an audio element? Also, what is the `ctx` in `audioContext: ctx`? Have you tried without it?

[2017-01-03 22:08] benbenedek commented on #910
@chrisparton1991 tried replacing the `display: none` with `visibility: hidden`, didn't help.
@katspaugh  tried without the `ctx`, didn't help.

I'm also noticing it is inconsistent, meaning, it sometime renders the waveform and sometimes doesn't.

[2017-01-03 22:11] chrisparton1991 commented on #910
Is there any chance of you making a CodePen that reproduces the issue? You could also try updating to a later version of Wavesurfer if that's possible for your project, there have been quite a few changes since v1.0.53.

[2017-01-04 01:33] ToJen opened #911 "Buttons not working on mobile devices"
I'm using the Microphone Plugin for my app and while on a mobile device, clicking a button that should call `microphone.start()` does nothing.

I've tried using `touchstart` but that doesn't help. This is what I did:

HTML-
[code]
JS-
[code]
But I noticed that the [demo](http://wavesurfer-js.org/plugins/microphone.html) on the site works perfectly when I'm on mobile.

[2017-01-04 01:35] ToJen commented on #902
I'm having a similar issue. The function, `onClick` doesn't work on touchscreen devices. I'm still trying to get a way round it with `touchstart`.

[2017-01-04 12:15] benbenedek commented on #910
Hi @chrisparton1991 @katspaugh
Apparently as @chrisparton1991 suggested the `visibility: hidden` solution worked, and I've missed a parent container which had `display: none`.

Thank you for your help and sorry to have wasted your time. Keep up the awesome job, this project is great!

[2017-01-04 12:15] #910 closed

[2017-01-05 00:02] ToJen commented on #911
Never mind, I figured it out. It only works when `<div id="waveform"></div>` is not within too many `<div>` elements. Not sure why though.

[2017-01-05 00:02] #911 closed

[2017-01-05 04:42] csimpi opened #912 "Pass argument"
Hi!

I have 2 play button with data-filename parameter.
If one button clicked, this button changes to loading button AND this script runs:
wavesurfer.load($(this).data(filename));

I would like to get $(this) element when wavesurfer READY event fired, because i would like to change the clicked loading button pack to play button.
I can't figure out how to do that.

[code]
Thanks,
Peter

[2017-01-05 09:22] katspaugh commented on #912
Define the button as a variable:

              var button = $('.play-audio');

               button.on('click', function(){
                    var file = CURR_TEMPLATE_DIR + button.data('audio-file');
                    wavesurfer.load(file);
               });

                wavesurfer.on('ready', function () {
                    console.log('Start Playing');
                    wavesurfer

[2017-01-05 09:22] #912 closed

[2017-01-05 09:36] iulianflst opened #913 "Wavesurfer not working if I open another browser such as chrome"
If I open another browser or new tab in firefox the sounds stop playing

here is an example

Step 1: https://www.sodasi.com/product/waterfall/
Step 2: Open soundcloude and play something in chrome for example
step 3: go back to firefox and play again
Result: in firefox waveform is not working at all although the waveform is being generated!

[2017-01-05 09:39] katspaugh commented on #913
For me it keeps playing (Firefox 50.1 on macOS). Sounds like something better asked in Firefox's bugtracker.

[2017-01-05 09:39] #913 closed

[2017-01-05 09:46] katspaugh commented on #913
Try using `backend: 'MediaElement'`.

[2017-01-05 09:48] iulianflst commented on #913
awesome, it works now!

Thank you!

[2017-01-05 19:08] csimpi commented on #912
Thank you! I supposed that can be a solution but i hoped there is a cleaner solution, this is a bit ugly. Thanks ,
Peter

[2017-01-05 19:11] csimpi commented on #912
Ah, sorry but it doesn't work because i still don't know which button was clicked...
I have 2 play button... How can i know what was the clicked? :) Please reopen the ticket.

[2017-01-05 19:26] csimpi commented on #912
Find out.

[code]

[2017-01-09 23:55] apeidos opened #914 "Loading of audio file fails with: 'XHR error: ""'"
We are not able to get the most simple example running:
![screen shot 2017-01-10 at 00 47 06](https://cloud.githubusercontent.com/assets/22212675/21788356/85737d56-d6ce-11e6-9adf-5e2c207eb28d.png)
Tested with:
- Safari [10.0.1]
- Chrome [55.0.2883.95]
- macOS
- several different mp3 and wav files

'audio.mp3' is a file located in the same directory as 'index.html'

This is the error we are seeing:

[2017-01-10 00:01] chrisparton1991 commented on #914
You're attempting to load a local file over XHR, which is something your browser won't allow. I suspect the Network tab might give you more information on that.

At any rate, try replacing your `audio.mp3` with `http://ia902606.us.archive.org/35/items/shortpoetry_047_librivox/song_cjrg_teasdale_64kb.mp3` for testing purposes. This is a random MP3 from the Internet Archive, which allows cross-origi

[2017-01-10 00:13] apeidos commented on #914
Thanks a lot for your prompt response.
It is indeed working with the remote test mp3.
However, the use case we want to implement requires us to process local files:
User selects a local mp3 file via the default file browser dialog -> we display this file as a waveform and let the user operate on it -> the user hits submit and we upload the mp3 to our server.
Maybe in the end, we'll need to build o

[2017-01-10 00:24] chrisparton1991 commented on #914
You're welcome :)

I've never done this exact thing myself; my personal project uploads local MP3s to my server and they are played back in a different place in my webapp.

Still, I think it should be possible to do what you want.

I've never used it personally, but Wavesurfer has a `loadBlob` method (see https://wavesurfer-js.org/docs/methods.html). If you can get your local MP3 into a blob using

[2017-01-10 00:27] apeidos commented on #914
Awesome. Thank you so much!

[2017-01-10 00:27] #914 closed

[2017-01-10 00:28] chrisparton1991 commented on #914
No problem, Good luck!

[2017-01-10 01:12] ToJen opened #915 "Waveform microphone plugin is not mobile responsive"
Looks perfect on desktop but the wave becomes too thin.

I'm only using the microphone so `waveform.zoom` may not be a solution.

This is what I think might be help but it remains the same:

`
wavesurfer.on('ready', function() {
    	wavesurfer.zoom(100);
    	console.log("zoomed");
    });
`

Here's a [screenshot](https://drive.google.com/open?id=0B584NUUwKdOHN1hwTjE4YTRVSXc) of what it looks lik

[2017-01-10 01:18] chrisparton1991 commented on #915
Hi @ToJen, can you please provide a screenshot? There isn't enough information in your question for me to know what might be the issue.

Try going to https://wavesurfer-js.org/ on your mobile device, does the waveform look okay for you there? If so, the issue is likely with your HTML file not having the correct viewport settings (see https://developer.mozilla.org/en/docs/Mozilla/Mobile/Viewport_me

[2017-01-10 01:38] ToJen commented on #915
@chrisparton1991 I've just updated the issue with a link to the image.

[2017-01-10 23:38] chrisparton1991 commented on #907
Hi guys, I've raised #916 to fix this. The `absmax` calculation in `drawBars()` wasn't taking negative peaks into account, so in this case the max was 0. I simply used the code in `drawWave()`, which does take negatives into account.

We'll need to fix this in the `next` branch too I assume. I don't have time right now but I'll try to get a PR for that in sometime soon. Of course, it's a simple ch

[2017-01-11 08:52] #907 closed

[2017-01-11 13:53] ToJen commented on #915
@katspaugh is there a way I can use `zoom`  by default?

[2017-01-11 15:45] entonbiba commented on #761
@JensWinter is it ionic 1 or 2 and do any errors come up in console?

[2017-01-11 15:49] JensWinter commented on #761
@entonbiba It's Ionic 1.

[2017-01-11 20:10] entonbiba commented on #761
@JensWinter do you have the code that you are using? I'm using the latest versions for ionic 1, angular and wavesurfer. Just tested the following below and it renders correctly.

in www/index.html add within <ion-content></ion-content>:
[code]

in www/js/app.js add:
[code]

[2017-01-11 22:06] pentool commented on #761
I'm guessing it's Cordova and not ionic or angular. We are using it with React/Cordova app and it doesn't work in react either neither on iOS nor on Android. Only the audio. But no waveform. In a browser, yes. It does work. But as soon as you use it in a mobile project (like with cordova) it doesn't.

[2017-01-12 05:45] arianestolfi opened #917 "spectrogram on large number of files"
Hi,
thank you for the for the work, its really great!

I'm using wavesurfer to analyze a large collection of samples for my thesis,

I've tried to do something based on angular example
http://www.codigo.xyz/sampleplayer/example/banda/
but I couldn't bind the play button to each sample

so I've got this based on angular-material documentation
http://www.codigo.xyz/sampleplayer/
repeating multiple i

[2017-01-17 13:17] vishagar81 opened #920 "Showing playbacktime on cursor"
Hello,

First of all, thanks for writing such a wonderful library. I am interested in showing a 'running' text like a tooltip on the cursor. Is that already possible? If not, then could you guide me as to how can I do it.

Use case: showing a word that is being played based on the timing information available in another file.

[2017-01-19 01:30] arianestolfi commented on #917
Hi, if anyone is interested, I've figure it ou how to do it,
I've publhished at
[https://github.com/arianestolfi/spectrogramplayer](https://github.com/arianestolfi/spectrogramplayer)

there's an online version on [spectro.codigo.xyz/spectrogramplayer/](http://spectro.codigo.xyz/spectrogramplayer/)

probably not the best solution, but it's working for the purpose I got, that was to print audio samp

[2017-01-20 11:50] deckchairuk opened #923 "Passing waveform data from server"
Hello,

I am trying to setup pre-rendered peaks using the BBC audiowaveform progam. I have generated the json file using the example you provide here: https://wavesurfer-js.org/faq/

I then passed the file into my load function like so: wavesurfer.load('/assets/audio/A1.mp3', '/assets/audio/waveforms/A1.json'); but it renders very differently to how it should.

Do you have any ideas as to why this

[2017-01-20 12:25] deckchairuk commented on #923
I tried to get the peaks using this: console.log(wavesurfer.backend.getPeaks(512));

But I just get [1022: 0, 1023: 0] returned which is the incorrect format to pass back into the load function.

[2017-01-21 03:10] tweed opened #925 "How to create simple Volume Slider?? -- Gain Node -- setFilters ??"
Hi! tried many things - does anyone have an example of how to add a volume slider HTML and JS ?

I have the equalizer example working though need to add a simple master volume fader
This is the equalizer example i hope to add a volume slider to
https://wavesurfer-js.org/examples/

BIG thanks!

[2017-01-21 13:06] tptshoe commented on #902
Same issue here. Works everywhere but iOS.

[2017-01-22 13:52] tptshoe commented on #902
I found a fix for this, using touchend. See this article:

http://marketdeers.com/2015/07/thoughts-about-jquerys-click-touchend/

[2017-01-23 16:39] deckchairuk commented on #923
Fixed - the parameters that worked (on the BBC Audio waveform program) were:

audiowaveform -i some-file.mp3 --pixels-per-second 1 -b 8 -o some-file.json

[2017-01-23 16:53] katspaugh commented on #923
AFAIR, the second parameter is supposed to be an array, not a URL string.

[2017-01-24 05:34] thijstriemstra commented on #915
@ToJen, can you provide a better description? waveform is not mobile responsive can mean many things. Cheers.

[2017-01-24 05:40] thijstriemstra commented on #898
@katspaugh i've been seeing this for years,never figured it out..

[2017-01-24 08:00] X-Raym commented on #898
@thijstriemstra thanks for your confirmation, I thought I was the only one with the issue !