[2018-08-16 21:44] swampthang opened #1427 "Get last peak in region"
### Wavesurfer.js version(s):
2.0.6

### Browser version(s):
Chrome Version 68.0.3440.106 (Official Build) (64-bit)

### Code needed to reproduce the issue:
Not a bug, might be a feature request.
(Please reduce your code as much as possible and only post the minimum code needed to reproduce the issue. [A Code pen](http://codepen.io/) is an excellent way to share such code)

### Use behaviour neede

[2018-08-17 12:36] swampthang commented on #1427
Just found this.
https://wavesurfer-js.org/doc/class/src/mediaelement.js~MediaElement.html#instance-method-getPeaks
Looks like it is samples. The question I have is how to find the location in seconds of the highest peak.

[2018-08-17 14:59] swampthang commented on #1427
It seems length (the first parameter) is referring to pixel width but the start and end params are samples. So, I'm using this but it doesn't seem to accurately represent what I'm seeing. Can someone please explain what is going on? Here's my code...
[code]
This is the rendered waveform with the region having been dragged and resized...
![screen shot 2018-08-17 at 9 48 37 am](https://user-images.g

[2018-08-17 18:00] swampthang commented on #1427
One of the things that I didn't think about is that the waveform is zoomed and scrolling is enabled. I'm using this code now but still getting similar results, just different values.
[code]
Getting the following (can't fit it all on in the screenshot) - again, can anyone explain what these array values are? Thanks...
![screen shot 2018-08-17 at 12 58 04 pm](https://user-images.githubusercontent.co

[2018-08-19 17:25] #1404 closed

[2018-08-19 17:27] thijstriemstra commented on #1425
ping @entonbiba do you have an idea?

[2018-08-19 17:28] thijstriemstra commented on #1422
@scottgrobinson can you try running the `ffprobe` tool on the file and paste the output here? ffprobe is part of ffmpeg.

[2018-08-19 17:31] #1334 closed

[2018-08-19 17:38] #1409 closed

[2018-08-19 19:21] thijstriemstra opened #1428 "setSinkId uses deprecated API"
https://github.com/katspaugh/wavesurfer.js/blob/9c1588d5eec755c6fef33fe071193643d203d66f/src/webaudio.js#L303 still uses `URL.createObjectURL` on a stream but Chrome shows this warning:

[code]

[2018-08-19 20:04] #1428 closed

[2018-08-19 20:08] thijstriemstra opened #1430 "Inject library version number"
Something like:

[code]

[2018-08-19 20:38] thijstriemstra commented on #1385
No feedback, closing.

[2018-08-19 20:38] #1385 closed

[2018-08-19 20:44] thijstriemstra commented on #1381
Also found this neat utility that might be useful here; https://github.com/jackedgson/crunker

"Simple way to merge, concatenate, play, export and download audio files with the Web Audio API."

[2018-08-20 00:45] thijstriemstra commented on #1427
https://wavesurfer-js.org/doc/class/src/mediaelement.js~MediaElement.html#instance-method-getPeaks

@katspaugh never saw these pages, is it outdated?

[2018-08-20 09:01] katspaugh commented on #1427
These docs are supposed to be up to date. They are [generated](https://github.com/katspaugh/wavesurfer.js/blob/master/.travis.yml#L19) on each build, added in #992.

[2018-08-20 10:29] #1430 closed

[2018-08-20 11:56] tonmoymatrix commented on #777
It's awesome
workes for me.

[2018-08-20 14:21] scottgrobinson commented on #1422
@thijstriemstra Looks like header is missing - Ran it through mediainfo etc but didn't think of ffprobe.

[mp3float @ 000001b4ca7b0a80] Header missing
    Last message repeated 9 times
[mp3 @ 000001b4ca31dbc0] Estimating duration from bitrate, this may be inaccurate
Input #0, mp3, from 'C:\Users\Scott Robinson\Downloads\Corenell - Keep On Jumpin.mp3':
  Duration: 00:02:57.11, start: 0.000000, bitr

[2018-08-20 17:13] meathanjay opened #1432 "Minimap plugin doesn't seem work with MediaElement"
I tried to implement wavesurfer library with minimap plugin but it seems it only works fine with WebAudio backend, don't draw the waveforms and process with WebAudio backend.

Is it any known issue and any solutions? I will dig into the issue but if anyone faced it and have any solution already.

My use-case is one main player on footer and waveforms with progress showing on listing and actions wi

[2018-08-21 05:57] josephrocca opened #1433 "Is `dragSelection` in the regions plugin supposed to be an object or a boolean? Conflicting examples/docs"
In [the 2.0.6 regions plugin file](https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.6/plugin/wavesurfer.regions.js), there's this comment:
[code]

It says that `dragSelection` is a boolean. But in [this](https://github.com/katspaugh/wavesurfer.js/blob/master/example/regions/app.js) example file (showing how to use the regions plugin), it has this code:

[code]

The latter syntax is also se

[2018-08-21 06:16] josephrocca opened #1434 "Strange asymmetric and buggy waveform rendering"
I've produced a minimal example of this bug:

 * Look at the code: https://glitch.com/edit/#!/wavesurfer-js-rendering-bug
 * Run the example: https://wavesurfer-js-rendering-bug.glitch.me/ (it takes a while to load because YouTube heavily rate-limits the glitch.com servers, sorry)
 * Observe the problem:
![image](https://user-images.githubusercontent.com/1167575/44383773-7b53ff00-a54c-11e8-80e6-e8

[2018-08-22 00:40] thijstriemstra commented on #1387
No feedback, closing.

[2018-08-22 00:40] #1387 closed

[2018-08-22 02:52] feng-x-w commented on #74
Why is the spectrum not colored?I think that might be better

[2018-08-22 02:58] entonbiba commented on #1432
@meathanjay can you provide sample code you're using?

[2018-08-22 03:08] entonbiba commented on #1425
@iglota yes it's possible, I'll update the playlist plugin to include this and possibly other info ;) .

[2018-08-22 03:09] feng-x-w opened #1436 "Colour the spectrogram"
I want to color the language spectrum, so it might look better, right?I don't know where to start. I hope you can help me

[2018-08-22 04:18] bknill opened #1437 "getting scroll position"
Hi,

I'm trying to harmonise 2 wavesurfer instances.

There doesn't seem to be any useful information in the scrollEvent as to the actual scroll position/offset.

Is there anyway to get this data when scrolling?

[2018-08-22 12:17] rohit-nandan opened #1438 "how to get time duration between wave surfer peaks array data"
This is a awesome library to get the sound-wave.

**My goal is to create a region where there is no audio sound in the starting & ending of the media file  as in below screenshot**

![image](https://user-images.githubusercontent.com/42608831/44462766-4f5f7900-a633-11e8-93ed-c7b05dca45bf.png)

how to get time duration between wave surfer peaks array data i.e. time duration from 0 index to 100 index

[2018-08-22 15:14] DrLongGhost commented on #709
I am still seeing this issue present in Firefox 61 and Wavesurfer 2.0.5.

In Firefox only, if you play a recording from the start, the progress bar and waveform align properly with the audio being played back. However, if you stop the audio and then click on the waveform to move the playback location, when you click play again, the audio that is played back and the progress bar shown on the wavefo

[2018-08-22 15:55] DrLongGhost commented on #1215
I am able to reproduce this issue and also, unfortunately, can comment on possible side effects of using the MediaBackend as a workaround.

In my testing a bug which is marked closed (#709) is still present in version 2.0.5 for Firefox 61. Thus, I've determined the following:

- MediaElement backend is required for Safari to avoid the playback bug documented in this issue (#1215)
- MediaElement ba

[2018-08-23 02:23] bknill opened #1439 "Expanding DIV on zoom"
Is there anyway to force the container to expand on zoom?

[2018-08-23 14:16] heitorb commented on #895
I have 2.0.6 and I am seeing this issue. The last comment says if should be fixed in 2.0. Did anyone actually verified this fix?

[2018-08-23 14:28] heitorb commented on #825
I just posted on #895 and someone ask for clarification but the thread got locked. Not accepting my comment. To clarify, it is the very first issue reported here that I am seeing. The waveform (and regions) disappears when zooming out. Zooming in is fine. I don't see any logs but i will work on putting some sample of on codepen or somewhere so you can see it.

[2018-08-24 23:37] asystemsaus commented on #1418
Is it even possible to achieve what i'm trying to do ?
I need to split the stereo file into 2 channels, control the gian for each and play back as stereo.
I also need to play back in mono. but I think i'd be able to work that bit out myself

[2018-08-25 11:15] Je4hel opened #1440 "Loading audio from node's FS.readfile"
Hello,

I'm trying to use Wavesurfer to display the waveform of an audio file which I read from the filesystem with `fs.readfile`. This file is previously recorded using the standard Web Audio API, in a .webm file.

I can't find how I'm supposed to load the file after I get the buffer from `fs.readfile`. I tried creating a blob and using `wavesurfer.loadBlob` and creating an object URL (`URL.creat

[2018-08-26 04:16] axis80 opened #1442 "To conserve bandwidth, is it possible to defer loading of the MP3 file until the user clicks "play"?"
I have an infinite-scroll page with many hundreds of Wavesurfer players.  It looks a lot like Soundcloud, if that helps to explain.

I obviously don't want to abuse my users' bandwidth - or run up a big hosting bill - by loading each and every audio file they scroll past. I only want to actually load the MP3 when they click "play".

With either version 1 or 2 of Wavesurfer, is it possible to prelo

[2018-08-26 19:10] jamesharvey2 opened #1443 "Height of waveform is max 128? (wavesurfer v2)"
Hello Katspaugh,

Is there any way to increase waveform's height beyond 128?
I tried 256, 512 and it looks like this waveform's height is capped at max 128.
I want to have a taller waveform.. what should I do?

Thanks,

P.S.

I tested it with wavesurfer 1.4 and height property works well above 128 but it doesn't work beyond 128 on wavesurfer v2.
I wonder how to use height properly on v2.

[2018-08-26 19:11] ghost opened #1444 "Progress background color"
Hello,

I found out this library doesn't have an option to change background color of progressed portion.
It allows you change color of progressed waveform's bars.. but not its background color.
Is there any way to change background color of progressed portion of a track?
This feature is very important!

Thanks,

[2018-08-27 10:10] asystemsaus commented on #1418
Tried a few more things:
         wavesurfer = WaveSurfer.create({
             container: '#waveform',
             waveColor: 'darkorange',
             progressColor: 'purple',
            splitChannels: true,
            mediaControls: true,
            height: wavesize,
            });

          const splitter = wavesurfer.backend.ac.createChannelSplitter(2);
          const merger = wavesur

[2018-08-28 14:11] higuri opened #1446 "Misleading Example on the Official Page"
On

In HTML, include the minified script:
[code]

[2018-08-28 14:11] #1446 closed

[2018-08-28 14:58] higuri opened #1447 "Misleading example on the official page"
In the "Quick start" section on https://wavesurfer-js.org, the script is included as follows.
[code]

This method does not work on locally placed HTML files.
To make this work, add 'https:'.
[code]

The same description is in the "Getting started" on https://wavesurfer-js.org/docs. These may confuse people trying to use wavesurfer.js for the first time in their local environment.

### Example
Save

[2018-08-28 15:04] higuri commented on #1446
I'm sorry. I accidentally submitted this. Please refer [#1447](https://github.com/katspaugh/wavesurfer.js/issues/1447).

[2018-08-29 18:35] thijstriemstra commented on #1447
@higuri thanks, can you make a pull request and edit the `gh-pages` branch?

[2018-08-30 00:34] higuri commented on #1447
@thijstriemstra Sure. I'll do it.

[2018-09-01 21:12] olegafx commented on #1095
In case you need a solution:
replace `wavesurfer.backend.setFilters([splitter, leftGain, rightGain, merger]);`
with `wavesurfer.backend.setFilters([splitter, leftGain, merger]);`

[2018-09-01 21:12] #1095 closed

[2018-09-02 13:39] thijstriemstra commented on #1447
Thanks.

[2018-09-02 13:39] #1447 closed

[2018-09-02 13:42] thijstriemstra commented on #1443
I just tried `wavesurfer.setHeight(400)` on https://wavesurfer-js.org/ and seems to work fine. Can you provide some example code @jamesharvey2?

[2018-09-02 13:48] thijstriemstra commented on #1442
@axis80 https://github.com/katspaugh/wavesurfer.js/pull/1441 looks related.

[2018-09-02 20:57] thijstriemstra commented on #1444
@jamesharvey2 can you add a screenshot of what you exactly mean, to clarify?

[2018-09-03 04:43] jamesharvey2 commented on #1444
@thijstriemstra

Thanks for your attention.

Please check this example waveform player.

http://nulloy.com/files/screen_2.png

This waveform player changes background color of waveform along with color of waveform as track progresses.
Its background has changed into blue along with the waveform.

But wavesurfer.js doesn't allow you to change background color of a player. It allows you to change co

[2018-09-03 18:07] jpbm18 opened #1450 "issue on iphone when using ajax to load song"
I am using ajax to bring peak data into wavesurfer.  On my laptop, all works as expected.  Wavesurfer is able to load peak data and song begins playing when wavesurfer.play is initiated.  But on my iphone, the waveform loads but won't begin playing until I press play.

I saw other posts describing  a similar issue, but was unclear whether these issues were because of an ajax call.  If I do the loa

[2018-09-04 03:54] tbogard commented on #1143
I think I made it as part of the plugin cursor: https://github.com/katspaugh/wavesurfer.js/pull/1452

[2018-09-04 13:34] virtualflo opened #1453 "Accuracy issue when playing a WaveSurfer region"
# Accuracy issue when playing a WaveSurfer region

Hi,

I'm having accuracy issues when attempting to _play the wave during a specific duration_

I'm editing a webapp designed to edit subtitles for videos. I'm using React/Redux with Wavesurfer and `regions` to display audio regions on a canvas on which the waveform is drawn. The wave is rendered via a React Component whose props exclusively come f

[2018-09-05 01:19] bradley-varol commented on #953
I'd also really like this as a feature.

[2018-09-05 01:21] bradley-varol opened #1454 "Border?"
I've noticed a slight border around the waveform bars, more noticeable when zooming the page as seen here:

![image](https://user-images.githubusercontent.com/19194140/45065641-41d5d480-b0b2-11e8-8300-5be8c1677889.png)

Can someone explain to me what this is and if it's something I can remedy?

[2018-09-05 08:29] matt3224 commented on #953
I still also need this feature

[2018-09-06 12:01] thijstriemstra commented on #1453
why not use latest (2.0.6) or try master.

[2018-09-07 00:20] rareitmeyer-kl opened #1455 "Timeline plugin: display more tick marks as user zooms in closely"
Thanks for making wavesurfer.js and releasing it under a permissive license.

I'm using wavesurfer.js to display short audio files in a use case where we're zooming in pretty far to see what-sounds-happened-when. But the timeline plugin only does tick marks to 1 second granularity. For my use case, it would be nicer to have on-screen tick marks at 1/5 second, 1/20 second, and 1/100 second if a use

[2018-09-07 04:48] dezea commented on #1415
Make sure you are not trying to load .ogg audio files since Safari does not natively support it. Other than that, in my tests it worked just fine on iOS with .mp3 and .wav. Not the same story with IE though, which is a pitty.

[2018-09-07 08:16] virtualflo commented on #1453
thanks @thijstriemstra we will give a try with 2.0.6

[2018-09-08 00:12] thijstriemstra commented on #1455
thanks for the report @rareitmeyer-kl. Can you turn this into a new option for the timeline plugin instead and make a pull request?

[2018-09-09 07:53] maragonov opened #1456 "Stop all"
How to stop all waveforms audio?
My waveforms use from foreach.

[2018-09-09 14:13] maragonov commented on #1444
How use backgtound-image??

[2018-09-09 15:33] codeanalysis9876 opened #1457 "Static Code Analysis Findings"
Insecure Randomness   - At Line: 469 of File:   processes/Server/WebContent/lib/wavesurfer/wavesurfer.js
--
Cross-Site Request Forgery - At Line: 488   of File: processes/Server/WebContent/lib/wavesurfer/wavesurfer.js

[2018-09-10 20:33] rareitmeyer-kl commented on #1455
OK, in working on it more I realized that part of my problem was that it wasn't clear what could be done in the existing functionality. So added example.

See PR at **https://github.com/katspaugh/wavesurfer.js/pull/1458** for more details.

[2018-09-11 09:27] virtualflo commented on #1453
We tried to update wavesurfer with the 2.0.6 versin but didn't solve our problem. We don't know what to try next :-/ Any advice ?

[2018-09-12 00:51] thijstriemstra commented on #1457
@katspaugh any idea what this is?

[2018-09-12 16:31] DrLongGhost opened #1459 "Intermittent SyntaxError Thrown on iOS"
## Please make sure you provide the following information (if applicable):

### Wavesurfer.js version(s):
2.0.5

### Browser version(s):
Seen with 4 different users on the following devices:

Mobile Safari: Version: 11.0
iOS: Version: 11.4.1, 11.2 and 11.2.5
Devices: iPhone and iPad

### Code needed to reproduce the issue:
Unfortunately this issue is not easily reproducible. It arises from having

[2018-09-12 16:37] DrLongGhost commented on #1459
One other thing I will add is that it's possible the S3-hosted mp3 files which I am passing to Wavesurfer to load are the source of the intermittent issues. They have given me trouble in the past.

However, I suspect that this is NOT the case because if there were intermittent failures with the source audio, one would not expect this to be isolated to only iOS.

Additionally, I know that WebAudio

[2018-09-12 18:40] mgoldsteinla opened #1460 "Timeline fails to draw when loading new audio. Added handling for duration parameter"
Upgrading to 2.0.6 I ran into a problem when loading new audio files into the player, the timeline would fail to render.

Inside the timeline code, the call for this.wavesurfer.backend.getDuration() returned NaN. Perhaps it's a race condition where the timeline request comes before the audio file is fully downloaded?

I have the song duration available from the models, so my solution was to add a

[2018-09-14 03:27] alexandreolivepro opened #1461 "Page keep reloading on safari when using load() with particular file."
## Please make sure you provide the following information (if applicable):
When using safari with a particular mp3 file, the page keep reloading until it crashes. I know the issue is coming from the mp3 file. But I couldn't find the issue with the file of find a way to prevent the reloading of the page with some kind of try / catch.
I'm providing the file in the exemple below.

### Wavesurfer.js v

[2018-09-14 13:40] lloyd-thomas opened #1462 "minimap not showing when loading pre-rendered peaks"
### Wavesurfer.js version(s):

wavesurfer.js 2.0.6

### Browser version(s):

Chrome Version 68.0.3440.106, Safari Version 11.1.1

### Code needed to reproduce the issue:

https://codepen.io/lloyd-thomas/pen/jvpMGQ

Minimap renders fine when loading the audio file without the json, but doesn't seem to render it at all with. What am I doing wrong? It works on earlier versions  i.e v1.4.0 but I need

[2018-09-14 17:27] elliottb303 commented on #1265
@thijstriemstra @roboswank  Just updated and happy to see that minimap canvas works now! Thanks

[2018-09-20 23:35] thijstriemstra commented on #1461
can you reproduce this without angular @alexandreolivepro?

[2018-09-24 08:24] wulijun opened #1465 "getDuration method returns different results for a same audio on 32bit Chrome and 64bit Chrome"
For an audio file, I invoke getDuration method on Chrome 68.0.3440.106 (stable) (64bit), it returns 10.1267 seconds; when I run on Chrome 69.0.3497.92 (stable) (32bit), it returns 9.6068. If someone  also encounter this problem?

[2018-09-24 23:07] lloyd-thomas commented on #1462
FYI looks like wavesurfer.fireEvent('waveform-ready'); doesn't get fired so minimap doesn't get drawn, if I add that it it works

https://codepen.io/lloyd-thomas/pen/xaMNyN

[2018-09-25 17:29] IrosTheBeggar opened #1466 "Pre-rendering peaks with on the server"
I'm working on a soundcloud like app where the user will see a playlist full of waveforms.  I want to render all the peak data on the server to avoid having the user load all the songs at once just to display the waveforms.

I looked through the docs and the issues, and I saw several libraries that might help, but they all had lots of dependencies or didn't work on windows (which unfortunately is

[2018-09-26 21:24] bradley-varol opened #1468 "Increase resolution."
I've noticed that if I load wavesurfer with the page zoomed in, the resolution is much higher.
Is there any way to increase the resolution of the waveform to remove the blurriness around the bars as you can see here.?
![image](https://user-images.githubusercontent.com/19194140/46110233-ed1e0900-c1da-11e8-8d87-f2bae66bf88c.png)

[2018-09-28 11:27] FrankLiii commented on #1422
Hello, I also get this error :"Uncaught (in promise) DOMException: Unable to decode audio data".
I have a try  to use Wavesurfer with Vue.js now.
My code is in this picture, If you can help me , I will be very grateful.
thanks！
 My email :1071760702@qq.com;
![1538133740 1](https://user-iages.githubusercontent.com/31913690/46205733-5aa17500-c354-11e8-9c77-8e4706a9e18b.jpg)
`

[2018-09-28 12:29] thijstriemstra commented on #1422
@FrankLiii can you try running the ffprobe tool on the file and paste the output here? ffprobe is part of ffmpeg.

[2018-09-28 12:30] #1422 closed

[2018-09-28 13:34] thijstriemstra commented on #1465
@wulijun can you open a ticket for the Chrome webbrowser and let us know the link to that ticket?

[2018-09-28 13:34] #1465 closed

[2018-09-28 13:37] thijstriemstra commented on #1459
Looks like #1467 fixed this potential issue.

[2018-09-28 13:38] thijstriemstra commented on #1456
Can you show some example code?

[2018-09-28 23:10] #627 closed

[2018-09-28 23:53] #1455 closed

[2018-09-29 00:00] thijstriemstra commented on #1462
@lloyd-thomas can you make a pull request?

[2018-09-29 00:01] thijstriemstra commented on #1443
No feedback, closing.

[2018-09-29 00:01] #1443 closed

[2018-09-29 00:02] thijstriemstra commented on #1440
@Je4hel can you run `ffprobe` on that file and paste the output here? ffprobe is part of ffmpeg.

[2018-09-29 00:03] thijstriemstra commented on #1437
not sure, but if you hack something in, make sure to open a pull request @bknill

[2018-09-29 00:03] thijstriemstra commented on #1433
@josephrocca thanks for the feedback. Can you make these changes and open a pull request?

[2018-09-29 00:04] thijstriemstra commented on #1402
no feedback, closing.

[2018-09-29 00:05] #1402 closed

[2018-09-29 00:30] thijstriemstra commented on #1380
@awenger63 this should now be possible, see https://github.com/katspaugh/wavesurfer.js/commit/81a1241fc06b35968f3a6cd20ce7c699dd33f242

[2018-09-29 00:31] thijstriemstra commented on #1468
is this a duplicate of #1454 @bradley-varol?

[2018-09-29 00:32] thijstriemstra commented on #1399
any news?

[2018-09-29 00:33] thijstriemstra commented on #1368
no feedback, closing.

[2018-09-29 00:33] #1368 closed

[2018-09-29 00:35] thijstriemstra commented on #702
is this still an issue?

[2018-09-29 00:45] thijstriemstra commented on #1453
@virtualflo, what about #1007?

or #1281?

[2018-09-29 14:58] anesask commented on #925
Cannot get it... is there any code example?

Thanks in advance

[2018-09-29 16:17] sajeeshen commented on #519
@LyteBB  Would you mind to share the code ? because I am also planning to do some thing similar

[2018-09-29 18:00] bradley-varol commented on #1468
Sorry, I tried to find that issue before but couldn't so I made this one. I'll delete the old one.

[2018-09-29 18:00] #1454 closed

[2018-09-29 18:52] rezafd23 opened #1471 "Time Hover Problem"
anybody can help me? i've got this error
![image](https://user-images.githubusercontent.com/31206753/46249435-6a53b300-c453-11e8-9f72-d2e111c52d05.png)
when i write this code for show the time when cursor hover at the waveform
![image](https://user-images.githubusercontent.com/31206753/46249442-7c355600-c453-11e8-932a-a36a1a8cb9af.png)

[2018-09-30 02:17] humblecoder commented on #1402
Is there any way to use this in real-time in combination with `webkitSpeechRecognition`?  I'm looking to fudge a waveform while "capturing" speech.  In your previous answer, I'm not sure what `yourDataChunk` would correlate to?  🤔

[2018-10-01 08:01] lloyd-thomas commented on #1462
Hi Thijs, I'm pretty unfamiliar with git and to be quite honest I'm not sure my code is good enough to be a collaborator.

[2018-10-01 11:55] #290 closed

[2018-10-01 19:36] virtualflo commented on #1453
@thijstriemstra thank you for your help.
We didn't have the time to solve this problem for the last weeks but we should make some test this week.
For information we are using the Region plugin.

[2018-10-01 21:43] thijstriemstra commented on #805
@dionwiggins do you have any code that shows how to reproduce the problem?

[2018-10-01 21:44] thijstriemstra commented on #1068
No feedback, closing.

[2018-10-01 21:44] #1068 closed

[2018-10-01 22:03] SalvadorDuran commented on #1466
I'm using exportPCM with electron. Something like this:

[code]

[2018-10-02 08:20] antalagota92 opened #1473 "Failed to execute 'stop' on 'AudioScheduledSourceNode': cannot call stop without calling start first."
### Wavesurfer.js version(s):
wavesurfer.js 2.0.6 (Fri Jun 15 2018 10:57:58 GMT+0200 (CEST))

### Browser version(s):
Google Chrome: 69.0.3497.100 (Official Build) (64-bit)

### Code that causes the issue:

        /**
         * Pauses the loaded audio.
         */

    }, {
        key: 'pause',
        value: function pause() {
            this.scheduledPause = null;

            this.startPosi

[2018-10-02 08:28] julj commented on #1410
A spectrogram renderer can be found [here](https://github.com/BlaiMelendezCatalan/BAT/blob/master/annotation_tool/js/annotator/src/wavesurfer.drawer.extended.js).

[2018-10-02 23:37] thijstriemstra commented on #1460
@mgoldsteinla can you try 2.1.0?

[2018-10-02 23:38] thijstriemstra commented on #1462
@lloyd-thomas if it works, it works. at least we can see the change and consider it.

[2018-10-03 00:12] mgoldsteinla commented on #1460
Same issue. I end up with blank timelines.

[2018-10-03 09:17] thijstriemstra commented on #1460
Can you create a pull request with these changes?

[2018-10-03 14:19] Stoyvo commented on #805
FWIW, I "resolved" this issue outside of the library by placing a div, position:absolute; ontop of the canvas. It was a hack vs a fix

[2018-10-03 20:11] fabianodanz opened #1474 "Canvas max-width"
Some front-end frameworks (like Foundation), set canvas max-width to 100%, creating a problem to progress canvas visualization, it would be nice if wavesurfer include the max-width: none in canvas style, just to prevent this problems.

[2018-10-03 23:09] mgoldsteinla commented on #1460
https://github.com/katspaugh/wavesurfer.js/pull/1475

[2018-10-03 23:46] thijstriemstra opened #1476 "shorten date format in copyright header"
it now uses:

[code]

[2018-10-04 11:00] thijstriemstra commented on #1474
PRs are welcome.

[2018-10-04 11:02] Flimm opened #1477 "Document what is needed to load a plugin"
I am trying to get the Regions plugin to work. To do that, it looks like I need to make sure two Javascript files are loaded, not just one:

[code]

I also have to configure the `regions` plugin when creating the `WaveSurfer` instance, like this:

[code]

I had to spend some time discovering this, as this process is not documented on the website.

Thank you for this code, it looks really useful!

[2018-10-04 11:29] thijstriemstra opened #1478 "switch to unpkg cdn"
Cdnjs is not reliable and https://unpkg.com/ is more flexible.

[2018-10-04 12:18] Flimm commented on #476
This function is not documented on the website.

[2018-10-04 12:19] Flimm commented on #752
Is this fixed now?

[2018-10-04 12:50] thijstriemstra commented on #1473
@antalagota92 thanks for the report. Can you make a pull request?

[2018-10-04 13:19] #1476 closed

[2018-10-04 17:03] thijstriemstra commented on #1477
@Flimm this is clear from the examples (to me). If you want to improve the documentation, take a look at the `gh-pages` branch and make a pull request.

[2018-10-04 17:07] thijstriemstra commented on #1471
@rezafd23 looks like the cursor.min.js plugin was not included on the page/project.

[2018-10-04 17:07] #1471 closed

[2018-10-04 18:01] joshcutler opened #1482 "Error: Container element not found when specifying MultiCanvas renderer"
### Wavesurfer.js version(s):

2.1.0

### Browser version(s):

Chrome  69.0.3497.100

### Code needed to reproduce the issue:

[code]
(Please reduce your code as much as possible and only post the minimum code needed to reproduce the issue. [A Code pen](http://codepen.io/) is an excellent way to share such code)

### Use behaviour needed to reproduce the issue:

This throws the following error:

[

[2018-10-05 12:46] adw1n commented on #702
@thijstriemstra yup - http://public.adw1n.com/wavesurfer.js-issue-702/

[2018-10-06 03:07] Stoyvo commented on #1407
@cameron-henkel  have you had any luck with this?

[2018-10-06 09:27] KodeKanyon opened #1484 "Use exportPCM with jPlayer"
After I have exported an audio file’s peak data to my server, how can I utilize it with jPlayer, which uses a div for the playbar and div for the progress? Can I draw the peaks to canvas without using wavesurfer? (only using it to exportPCM, not to play the audio). Here’s an example of the jPlayer audio http://jsfiddle.net/onigetoc/Ls8p90y9/4/.

This audio player uses WaveSurfer to generate and dr

[2018-10-06 23:57] matt3224 commented on #953
@entonbiba is there anything you can do/suggest or perhaps could you let me know what you did to achieve this before?

[2018-10-07 12:37] #1477 closed

[2018-10-07 13:45] thijstriemstra commented on #1482
@joshcutler what does `document.querySelector(".waveform")` return?

[2018-10-07 13:45] #1478 closed

[2018-10-07 23:57] thijstriemstra commented on #1484
ask on stackoverflow. this is not a wavesufer issue or improvement.

[2018-10-07 23:57] #1484 closed

[2018-10-08 14:09] joshcutler commented on #1482
It returns the desired DOM element.  I think I figured out what the issue was.

I was importing `MultiCanvas` incorrectly.  If do somthing like `import MultiCanvas from "wavesurfer.js"` you can recreate this as when the rendering tries to instantiate the "multiCanvas" instance it is really instantiating a new WaveSurfer instance.

This can be closed.

[2018-10-08 14:09] #1482 closed

[2018-10-10 02:49] liyuze opened #1485 "getDuration value less real time"
hi，
i have a mp3 file [get.zip](https://github.com/katspaugh/wavesurfer.js/files/2462923/get.zip).

it's show time 2:54 in audio dom.

but wavesurfer.getDuration() value is 31.752.

[2018-10-11 04:20] KodeKanyon opened #1486 "Set Progress / Play Bar to Separate Element or Overlay Two WaveSurfer Waveforms"
My project is using a different player to _play_ my audio. I am spawning the wavesurfer container to a div that is a child of my audio player's "overall" progress bar, and using **interact: false** to basically disable WaveSurfer. [Image](https://i.imgur.com/hDCAeoc.png).

The audio player I'm using shows the progress by increasing the div width every second, via css, with the rest hidden by the o

[2018-10-11 07:16] javaskript opened #1487 "Show 1px height bars for silent sections of an audio file"
Here's how waveforms look when there is a very quiet or silent part. Notice the blank gap:

![u2JjFZT](https://user-images.githubusercontent.com/305679/57002695-88d48500-6bc1-11e9-91da-9f1835b306c5.png)

I'd like for it to look like this for very quiet / silent segments:

![WeaBzu5](https://user-images.githubusercontent.com/305679/57002708-a1dd3600-6bc1-11e9-9610-9f179dd989f3.png)

How would I go

[2018-10-12 22:34] misko commented on #1374
Is it possible that the cursor is enabled , and when you click two events get fired? one to play the region and one to seek to cursor position?

I had a similar issue and I fixed it by adding ,
interact: false

Which seems to prevent the original seek event from firing and only the region plugin events get fired.

[2018-10-13 05:24] dinhodoes opened #1488 "Region drags left when drag is set to false and maxLength is exceeded."
I was trying to use the regions plugin to highlight pieces of audio I wanted to cut from the original **without** overlap from other regions and came across some peculiar dragging behavior...

Basically I'm trying to create two trimming regions (one in the beginning and one in the end of the waveform) and want them anchored in a way so that only the inner handles can resize without overlapping the

[2018-10-13 20:04] HaykoKoryun commented on #1474
@fabianodanz I think this is a simple fix, however can you provide a simple codepen or jsFiddle example so I can test against it?

[2018-10-14 23:46] thijstriemstra commented on #1485
@liyuze can you run `ffprobe` on the file and paste it here? ffprobe is part of ffmpeg.

[2018-10-15 02:32] Stoyvo opened #1489 "Calling zoom in .on('ready') callback renders broken waveforms"
### Wavesurfer.js version(s): 2.1.0

### Browser version(s):
Chrome 67

### Code needed to reproduce the issue:
`zoomVal=500;
wavesurfer.on('ready', function() {
            wavesurfer.zoom(zoomVal);
});`

### Use behaviour needed to reproduce the issue:

Load an audio file, then call zoom within ready callback, waveforms render like this:
![image](https://user-images.githubusercontent.com/6148099

[2018-10-15 04:15] Stoyvo opened #1490 "Request: Coloured Waveforms"
I'm looking at ways of creating a plugin to colour waveforms based on frequency.

A good reference would be: https://stackoverflow.com/questions/30366924/code-to-color-waveforms-by-frequency

Currently there is already an AnalyserNode, however an offlineAc needs to be used.

Thoughts on how to do this without creating another AC?

[2018-10-15 18:34] IrosTheBeggar commented on #1466
@SalvadorDuran

Is it possible to run electron on a headless server?

[2018-10-16 00:37] #1460 closed

[2018-10-17 13:00] danielkrich commented on #1038
Hey there @thijstriemstra, thanks for this comment.
This works, but it works only with "WebAudio" backend. I need to use "MediaElement" because I want partial file loading (start playing before the whole file downloads).
How can I use credentials in this case?

Thanks

[2018-10-17 13:42] danielkrich commented on #1414
Is this going to be fixed anytime soon? Is there a workaround for now?

[2018-10-17 14:42] Guisch commented on #1414
Made this workaround, works fine for me

[code]

[2018-10-17 17:16] Flimm commented on #1477
Thanks for accepting my pull request!

[2018-10-17 17:53] thijstriemstra commented on #1038
@danielkrich preload it using ajax (e.g. jquery of whatever javascript) into an audio element and pass that audio element to wavesurfer?

[2018-10-18 14:41] mrfortynine opened #1492 "is it possible to load use a buffer source in audio context?"
The examples I found all load audio file. In my use case, the audio samples are already in memory, and I use it as buffer source in audio context. But the `load()` method doesn't seem support this scenario.

[2018-10-19 09:52] kirilkirkov opened #1493 "Multiple waveforms with one audio tag"
del

[2018-10-19 10:55] daslicht opened #1494 "reinitialize / redraw on resize ?"
hi,
what is the best way to redraw the wavefrom once the browser size change ?

Is there a smarter way than calling ```WaveSurfer.create``` ?

~
Marc

[2018-10-19 13:57] daslicht commented on #1494
![](https://i.imgur.com/TaXcUCn.png)

[2018-10-19 13:57] #1494 closed

[2018-10-19 13:59] daslicht commented on #1494
@daslicht  RTFM!

[2018-10-22 06:13] #1493 closed

[2018-10-22 11:17] kirilkirkov commented on #1369
@MrHimiko Do you find solution here? I want to create one player with two waves. One in home page playlist one in footer when click play on some of them? :)
@thijstriemstra
![screenshot from 2018-10-22 14-16-14](https://user-images.githubusercontent.com/3421328/47289810-23e21600-d605-11e8-8c5a-5249f50bd74f.png)

[2018-10-23 09:11] dineshmaths1 opened #1495 "How to use on Anguar cli ?"
Its possible to use on angular cli side If its possible let me know how to use?

[2018-10-23 11:09] thijstriemstra commented on #1487
Also see #45

[2018-10-23 12:44] kirilkirkov opened #1496 "Wave canvas duplicate and update in realtime"
Can you give me some idea, how to create something like this:

![screenshot from 2018-10-23 15-41-49](https://user-images.githubusercontent.com/3421328/47361368-63c6fd00-d6da-11e8-852f-3575c76aaf6b.png)

I need to duplicate the wave and update it in realtime. The website on the image is written with your wavesurfer :)
@katspaugh

[2018-10-23 14:45] Vijayalaxmim opened #1497 "Unable to mute left or right channel in stereo audio file"
I am trying to use Audio context from wavesurfer object to play one channel at a time. But it doesnt seem to be working By using wavesurfer.backend.setFilter() and passing channelSplitter object am able to play left channel but the other one never get played.

### Wavesurfer.js version(s):2.0.0-beta02

### Browser version(s):Chrome latest 70.0.3538.67

### Use behaviour needed to reproduce the iss

[2018-10-23 14:47] Vijayalaxmim commented on #1497
accidentally closed

[2018-10-23 16:14] katspaugh commented on #1496
You should probably just hack it. Use `cloneNode` on the original canvas element and `appendChild` the clone to the other location.
Do the same with the progress canvas. Subscribe to the wavesurfer.js's `audioprocess` event to update the width of the progress canvas. 🤷‍♂️

[2018-10-23 16:58] kirilkirkov commented on #1496
hmm, its strange. I do exactly what you say but my copied canvas doesn't have any picture on it.
In selected element on firebug you will see. (screenshot)
![screenshot from 2018-10-23 19-56-25](https://user-images.githubusercontent.com/3421328/47377417-e319f800-d6fd-11e8-8581-a1b519225ed7.png)
Do you have another suggestion. Thanks @katspaugh  !!
You help me a lot with this script. If you need an

[2018-10-24 06:19] #1496 closed

[2018-10-24 11:42] Frezzaldo opened #1498 "Eating up all memory when displaying graph for large audiofile"
### Wavesurfer.js version(s):
2.1.0

### Browser version(s):
Chrome 58.0.3029.81

### Code needed to reproduce the issue:
        this.wavesurfer = WaveSurfer.create({
            container: "#waveform",
            waveColor: "white",
            progressColor: "darkGrey",
            cursorColor: "green",
            cursorWidth: 2,
            hideScrollbar: true,
            mediaType: "audio"

[2018-10-24 12:11] Frezzaldo commented on #1498
I have now tested with Chrome 67.0.3396.79. This time the browser doesn't run out of memory (or at least not showing an error message), but it still takes up all available memory. When finish rendering it uses 1450MB. It takes about 1minute to render. Is there a way to speed up rendering? I have tried to set partialRender: true, but then nothing happens.

[2018-10-24 23:36] thijstriemstra commented on #1497
always try latest version.

[2018-10-26 21:50] javaskript opened #1499 "Waveform progress"
Edit: solved. please delete.

[2018-10-27 00:52] #1499 closed

[2018-10-27 00:53] thijstriemstra commented on #1495
please ask on stackoverflow or the angular community.

[2018-10-27 00:53] #1495 closed

[2018-10-27 00:54] thijstriemstra commented on #1459
@DrLongGhost any news?

[2018-10-27 00:54] thijstriemstra commented on #1456
no feedback, closing.

[2018-10-27 00:54] #1456 closed

[2018-10-29 12:56] dineshmaths1 opened #1500 "How to add microphone plugin"
am working angular cli am trying to add microphone plugin is not working .Let me know how to add the package.
this my code
angular.json file
[code]
This is My .ts file
[code]

[2018-10-29 16:04] kasual1 commented on #1490
Yes I'm also interested in a solution for that.

[2018-10-30 02:27] ellVin opened #1501 "The cursor show outside the wrapper when try to use cursor plugin."
### Wavesurfer.js version(s): 2.1.0

### Browser version(s):  69.0.3497.100

### Code needed to reproduce the issue:

https://codepen.io/ElvinWang/pen/OBGmRg

### Use behaviour needed to reproduce the issue:

I’m new to wavesurferjs and want to use the cursor plugin. Try a simple demo like the code in the codepen. But the cursur show outside the wrapper. I dont know where is wrong, can you help me

[2018-11-01 05:52] embbnux opened #1503 "No waveform after half duration in long duration audio"
![image](https://user-images.githubusercontent.com/7036536/47834941-a2487000-dddc-11e8-9cae-c571e8aed17d.png)

I am building a audio player using wavesurfer.js. In the screenshot, it is playing a 14:13 duration mp3 file. But when it played after 7mins, the waveform was lost.

### Wavesurfer.js version(s): 2.1.0 (built from master branch)

### Browser version(s): Chrome 70.0.3538.77

### Code neede

[2018-11-01 11:00] liyuze commented on #1485
This audio file is made up of two audio splicing. like this recording-pause-recording-stop.

[code]

[2018-11-04 23:19] asystemsaus commented on #1497
Here is what it should look like .
![waveplayer2](https://user-images.githubusercontent.com/32542103/47971291-b55c8800-e0db-11e8-8afa-a861942facfe.jpg)

The only issue I have so far is the timeline characters appear to be cutoff. Not a show stopper but something i'd like to get resolved.

[2018-11-05 09:38] asystemsaus commented on #1489
Is there any particular reason you need to have it in the .on ready ?
I use it outside. Inside my .js i have the following.
      var zoom = document.querySelector('#zoom');
      zoom.oninput = function() {
        var zoomLevel = Number(zoom.value);
        wavesurfer.zoom(zoomLevel);
In the html i have:
 <span class="font-weight-bold" > Zoom   </span> <input data-action="zoom" id="zoom"  /></di

[2018-11-06 16:25] DrLongGhost commented on #1459
No sign of any related errors. Looks fixed to me. Thanks!

[2018-11-06 16:25] #1459 closed

[2018-11-08 05:49] PotatoSmith opened #1504 "How to draw waveform when audio don't load finsh"
I met a issue,  the audio file is very big, it need a long time to load.  I want to draw waveform although the audio is loading.   Like I can play it although the audio is incomplete.  Is there a method that I can use it. Thank you very much

[2018-11-09 07:00] embbnux commented on #1503
Works now

[2018-11-09 07:00] #1503 closed

[2018-11-09 20:08] axis80 commented on #1215
The above solution from @DrLongGhost works great for me with one minor exception.

Like many others, I am pre-rendering the peaks without actually loading the MP3 file, using code like this:

    _wavesurfer.backend.peaks = peaks;
    _wavesurfer.drawBuffer();

Once the user clicks Play, I then load the audio using the `load()` method and start playback using a callback that executes once the file

[2018-11-10 16:28] thijstriemstra commented on #1504
@PotatoSmith what code are you using now?

[2018-11-10 16:31] thijstriemstra commented on #1500
@dineshmaths1 try

[code]

[2018-11-10 16:51] thijstriemstra commented on #1497
thanks for feedback.

[2018-11-10 16:51] #1497 closed

[2018-11-10 16:52] #1500 closed

[2018-11-10 16:53] thijstriemstra commented on #1450
ios and safari require a click to start wavesurfer.js (e.g. audiocontext).

[2018-11-10 16:54] thijstriemstra commented on #1440
no feedback, closing.

[2018-11-10 16:54] #1440 closed

[2018-11-10 16:55] thijstriemstra commented on #1411
closing, no feedback.

[2018-11-10 16:55] #1411 closed

[2018-11-10 16:55] thijstriemstra commented on #1383
no feedback, closing.

[2018-11-10 16:55] #1383 closed

[2018-11-10 16:56] thijstriemstra commented on #1361
No feedback from @bloom510, closing.

[2018-11-10 16:56] #1361 closed

[2018-11-11 13:32] jpbm18 commented on #1450
The issue I'm having is I need to click twice.  I click once to load waveform data, using ajax call.   The waveform loads,  then I need to click a second time to play the file.  If I don't use an ajax call to get waveform data, the song will start playing after only one click.  Not sure why the ajax call would cause a need for a second click.  Wonder if others experience similar behavior.

[2018-11-11 17:48] fab-1 commented on #1504
@PotatoSmith As far as I know, there is no way to draw the waveform as the audio decode, but it would be a nice addition to be able to draw async. What I do to prevent the long wait is that I cache the audiodata the first time, then I load it manually so it shows right away

[2018-11-13 01:32] sshadmand opened #1506 "Using responsive param created Cannot read property 'length' of null' error"
### Wavesurfer.js version(s):

```"wavesurfer.js": "^2.0.5",```

### Browser version(s):

Mac Chrome 70

### Code needed to reproduce the issue:
Using React, I load the below code. I noticed that the error only occurs with `responsive: true`. Commenting it out works cleanly.

[code]

Error it produces in console
[code]

[2018-11-13 01:33] sshadmand opened #1507 "Using responsive param created "Cannot read property 'length' of null" error"
### Wavesurfer.js version(s):

```"wavesurfer.js": "^2.0.5",```

### Browser version(s):

Mac Chrome 70

### Code needed to reproduce the issue:
Using React, I load the below code. I noticed that the error only occurs with `responsive: true`. Commenting it out works cleanly.

[code]

Error it produces in console
[code]

[2018-11-13 03:20] robruiz commented on #1200
Hi all. Having the hardest time implementing this thing in an Ionic 3 project. I keep getting Uncaught Error: Can't resolve all parameters for n: (?).
`import { Component, AfterViewInit } from '@angular/core';
import * as WaveSurfer from 'wavesurfer.js';

/**
 * Generated class for the WavesurferComponent component.
 *
 * See https://angular.io/api/core/Component for more info on Angular
 * Compon

[2018-11-13 11:15] Colatabajonies commented on #1374
I think this might be an issue with WebAudio in general with mp3s in Chrome specifically. I was able to resolve the issue by changing my source file to a WAV.

[2018-11-14 17:51] danielkrich opened #1508 "Using credentials with MediaElement"
Hey there @thijstriemstra, thanks for this comment.
This works, but it works only with "WebAudio" backend. I need to use "MediaElement" because I want partial file loading (start playing before the whole file downloads).
How can I use credentials in this case?

Thanks

_Originally posted by @danielkrich in https://github.com/katspaugh/wavesurfer.js/issues/1038#issuecomment-430618210_

[2018-11-14 17:53] danielkrich commented on #1508
You answered: (https://github.com/katspaugh/wavesurfer.js/issues/1038#issuecomment-430725606)

BUT, how can you pass an audio element to wavesurfer?
Thanks :)

[2018-11-16 01:05] thijstriemstra commented on #1506
duplicate of #1507

[2018-11-16 01:05] #1506 closed

[2018-11-16 01:06] thijstriemstra commented on #1507
you're passing it an invalid oject:

[code]

[2018-11-16 01:09] sshadmand commented on #1507
A bit vague. What is invalid about it. All those parameters are in the docs and it works sans the responsive flag.

[2018-11-16 01:11] thijstriemstra commented on #1507
if you do not recognize that as a broken JS object, I don't know what to say.

[2018-11-16 01:14] thijstriemstra commented on #1498
see #1281 @Frezzaldo

[2018-11-16 01:35] clndwhr commented on #1507
Sshadman don't forget to separate your objects with commas which is why commenting out your responsive object works; even though it is overall still an invalid js object as it is displayed in your copied code

[2018-11-16 01:46] sshadmand commented on #1507
Sorry - I have lint, that was a copy paste mistake. Same error with the comma

[2018-11-16 01:47] sshadmand commented on #1507
It’s been happing for a month and the system wouldn’t commit or compile without the comma. GH thread typo from income ring in GH comment

[2018-11-16 02:08] clndwhr commented on #1507
Using the same parameters you have I'm getting object errors on the height and audiorate and container,  Fixing it to have a height:100, and audioRate:1,  assigning container: '#<div> resolved all issues while still rendering with responsive:true.  I can even test this in MacOS Chrome though.

Do assigning those values change anything?

[2018-11-16 02:11] sshadmand commented on #1507
Hey guys- this is my fault. I was lazy with my copy paste and could be clearer (e.g. not showing the param values and using condensed express format) Let me get a more rich description (in/out) and help y’all help me :-)

[2018-11-16 03:58] sshadmand commented on #1507
**Update**

As you can see from the image below, I printed to the console the variables passed into the wavesurfer create. Also, you can see the error that is produced, even with the wave loading just fine. Removing `        responsive: true`  works without an error at all.

<img width="1406" alt="screen shot 2018-11-15 at 10 49 46 pm" src="https://user-images.githubusercontent.com/68735/48596971-

[2018-11-16 04:31] clndwhr commented on #1507
@sshadmand  Have you tried passing in the default value?  responsive:100  ?

[2018-11-17 03:50] thijstriemstra commented on #628
Can't fix anything here, cordova needs to add support (if it hasn't done already), closing.

[2018-11-17 03:50] #628 closed

[2018-11-17 03:57] thijstriemstra commented on #1492
No feedback, closing.

[2018-11-17 03:57] #1492 closed

[2018-11-17 04:04] #1377 closed

[2018-11-17 04:10] thijstriemstra commented on #1377
@hburgund check #1509, should work..

with new wavesurfer.js release that should be fixed there as well.

[2018-11-17 04:32] thijstriemstra commented on #1508
no idea.

Use `loadElt` instead of `load`, see https://github.com/katspaugh/wavesurfer.js/blob/master/src/mediaelement.js#L114

[2018-11-17 04:35] #1508 closed

[2018-11-17 04:38] thijstriemstra commented on #1488
@dinhodoes you're using an unsupported version (`<script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.1.5/wavesurfer.min.js"></script>`), please try the latest.

[2018-11-17 04:54] thijstriemstra commented on #1433
@josephrocca see https://github.com/katspaugh/wavesurfer.js/blob/master/src/plugin/regions.js#L680, it's either a boolean (you get all default values) or an object where you can use `slop` etc.

[2018-11-17 04:54] #1433 closed

[2018-11-17 04:57] thijstriemstra commented on #1416
@DrLongGhost do you still see this issue in Safari 12 (because I don't)?

[2018-11-17 05:31] thijstriemstra commented on #1501
@tbogard any ideas?

[2018-11-17 05:34] #1143 closed

[2018-11-17 05:42] #1380 closed

[2018-11-17 06:17] thijstriemstra commented on #1415
@IgorSamer try this approach: https://github.com/katspaugh/wavesurfer.js/blob/bacb41d0b33d882e8b557ee6875a276f1d80dc85/plugins/microphone.js

Basically ios needs an audiocontext that is created after a click or tap.

[2018-11-17 07:15] awenger63 commented on #1380
OK @thijstriemstra. But to know this need alaways exit. in #1458 the start time cannot be change and time line cannot include hour ( see coment : "Here we format as M:SS.frac").
Today I always use a local patch on v2.0.6. because i'm not use npm.  When I do the migration to new version I will post a new PR to do that ...

[2018-11-17 14:55] romegab commented on #1063
Hello. I have the same problem. Could somebody tell me exactly how to fix it?

[2018-11-17 19:48] thijstriemstra commented on #1407
Can you log the frequency data after loading audio file to figure out the data format?

[2018-11-17 19:51] #1366 closed

[2018-11-17 19:52] thijstriemstra commented on #1350
No feedback, closing.

[2018-11-17 19:52] #1350 closed

[2018-11-17 19:54] thijstriemstra commented on #1414
Looks like duplicate of #1244

[2018-11-17 23:34] aburai commented on #1501
@ellVin  set your wavesurfer container style to `position: relative` cause cursor is set to position absolute

[2018-11-18 00:48] thijstriemstra commented on #1380
@awenger63, sounds good.

[2018-11-18 22:53] cameron-henkel commented on #1407
@Stoyvo I never got it working, and ended up manually saving the spectrograms as images and then messing with HTML formatting to place them beneath the wavesurfer player for my project. I did attempt to log the data but that was taking too long for my project's time-frame.

[2018-11-19 15:42] swampthang commented on #805
Even though autoCenter set to false, when zoomed in to the end portion of the waveform and clicking to the left of center in the display and then clicking play, the waveform jumps to center around the cursor position and then scrolls until the end is reached again.

Here's my setup:

[code]
Is my combination of settings causing `autoCenter: false` to be overridden?

[2018-11-19 18:12] javaskript opened #1513 "Scale "Reflected" Waveform"
I am trying to imitate this waveform style:

<img src="https://i.stack.imgur.com/MXAzC.png">

I have seen https://github.com/katspaugh/wavesurfer.js/issues/664#issuecomment-190779795, but am unsure how to implement it, as I think it is an outdated response. The gradient lines between the bars look nice, too.

[2018-11-19 18:50] thijstriemstra commented on #1501
@ellVin is this also happening with the cursor example in the repository? if so, can you fix it there as well and make a pull request?

[2018-11-20 13:03] aburai commented on #1501
@thijstriemstra the example is correct

examples/css/style.css
[code]

[2018-11-20 14:04] #1501 closed

[2018-11-20 14:06] DrLongGhost commented on #1416
@thijstriemstra - I can confirm that this issue does appear fixed in Safari 12. On iOS 12.1 I was also not able to duplicate.

This is great news since it means the browser sniffing I was using to get around this issue won't be needed once most people have upgraded in another 6 months or so.

I did find a new, minor iOS issue, however. I'll leave it up to you whether or not to ticket it.

In Mobil

[2018-11-20 14:29] thijstriemstra commented on #1416
@DrLongGhost can you reproduce that with a simpler example, e.g. without full wavesurfer-js.org site?

[2018-11-24 01:44] #1442 closed

[2018-11-26 20:30] bradley-varol commented on #1419
Care to explain how this is possible?

[2018-11-27 16:08] romegab opened #1514 "Save audio edited by wavesurfer equalizer example"
I've looked through the documentation as well as the issues, and can't see anywhere that talks about saving an audio edited by wavesurfer equalizer.

Is there currently a built-in way to do this?

What I'm looking for in the end is to:

load an wav
edit it with the equalizer
press a Save button and save the already edited wav file.

[2018-11-27 17:48] davidtorroija commented on #392
same for me the recorder by mic is not working for me

[2018-11-27 17:51] thijstriemstra commented on #392
wavesurfer.js currently does not have a ' recorder by mic' @davidtorroija so not sure what you mean.

[2018-11-27 17:51] davidtorroija opened #1515 "record microphone example"
Hey, please I just need a quick and basic working example to record microphone and save to file or buffer, but to show in the screen and play the recorded audio, the examples about this in wavesurfer does not show loading the recorded audio. Thanks!

[2018-11-27 19:46] davidtorroija commented on #392
I'm using the "microphone" plugin, but I don't know how to get the recorded audio and play, save, get the buffer etc

[2018-11-27 21:41] thijstriemstra commented on #392
@davidtorroija use videojs-record for example, e.g. https://collab-project.github.io/videojs-record/examples/audio-only.html or help implement #1030

[2018-11-28 10:19] caugner commented on #1432
For me, the Minimap plugin *did* work with a MediaElement backend.

[2018-11-28 16:03] davidtorroija commented on #392
@thijstriemstra ok I will use that library I think, thanks

[2018-11-30 16:38] thijstriemstra commented on #1515
See #1030

[2018-11-30 23:38] grosch opened #1517 "What's the npm name"
On your documentation for version 2 you say to do an npm install but you don't provide the specific package name to install.  Is it just "wavesurfer.js"?  I see multiple items in an npm search with wavesurfer in the name.

[2018-11-30 23:47] grosch commented on #1209
Any progress on this?

[2018-12-01 13:58] thijstriemstra commented on #1517
it's `wavesurfer.js`.

[2018-12-01 13:58] #1517 closed

[2018-12-01 21:52] thijstriemstra commented on #1473
no feedback, closing.

[2018-12-01 21:53] thijstriemstra commented on #1489
No feedback, closing.

[2018-12-01 21:53] #1489 closed

[2018-12-01 21:53] thijstriemstra commented on #1488
no feedback, closing.

[2018-12-01 21:53] #1488 closed

[2018-12-01 21:54] thijstriemstra commented on #1432
no feedback, closing.

[2018-12-01 21:54] #1432 closed

[2018-12-01 21:54] thijstriemstra commented on #1415
no feedback, closing.

[2018-12-01 21:54] #1415 closed

[2018-12-01 21:55] thijstriemstra commented on #1416
That's good news. Closing. Please open a new ticket for remaining issues (if any).

[2018-12-01 21:55] #1416 closed

[2018-12-01 21:56] thijstriemstra commented on #1394
Assuming this is outdated now, closing.

[2018-12-01 21:56] #1394 closed

[2018-12-01 21:56] thijstriemstra commented on #1461
no feedback, closing.

[2018-12-01 21:56] #1461 closed

[2018-12-01 22:00] #1080 closed

[2018-12-01 22:01] thijstriemstra commented on #1064
#1295 seems to fix this, closing.

[2018-12-01 22:01] #1064 closed

[2018-12-01 22:02] thijstriemstra commented on #1123
documentation now adheres to this, closing.

[2018-12-01 22:02] #1123 closed

[2018-12-01 22:03] thijstriemstra commented on #932
Closing, switch to v2. If the bug is still in v2, open a new issue, thanks.

[2018-12-01 22:03] #932 closed

[2018-12-01 22:05] thijstriemstra commented on #572
#1295 seems to fix this, please re-open or leave comment if this is not fixed in 2.x.

[2018-12-01 22:05] #572 closed

[2018-12-03 08:14] Bran1304 opened #1519 "Cannot read property 'addEventListener' of undefined when calling enableDragSelection"
Hello,

I am using wavesurfer within a react app, and I came across a strange issue. I'm using the Regions plugin and I need to do enableDragSelection. So once the wavesurfer is ready and it fires the `ready` event, I call `wavesurfer.enableDragSelection({});`. This works just fine when I am running the app locally, but as soon as I make a deploy on Heroku, I get this error instead.

[code]

Any h

[2018-12-03 09:58] TheFrankman opened #1520 "Matching zoom level with pre-generated peaks."
Hello There,

First of all, thanks for wavesurfer.

I'm having a slight issue with pregenerated peaks. I like the default zoom level and display when loading a waveform without pre-generated peaks. However, when passing a peaks.json file into the player, I'm struggling to match the zoom and pixels per second measurement.

To generate the peaks I am using bbc's audiowaveform as suggested in the doc

[2018-12-03 16:18] aburai commented on #1519
- this.wrapper is undefined
- this.wrapper is set, when Regions is ready

wavesurfer fires ready, your code runs, but Regions ready is not completed

for your information, enableDragSelection will be called when Regions ready

[code]

[2018-12-03 16:59] Bran1304 commented on #1519
@aburai Thanks so much for your answer!

That there looks like it's just checking if wavesurfer is ready, or am I wrong? Is there any way to tell Regions is ready?

Thanks again
Bran

[2018-12-03 18:21] craigcosmo opened #1523 "how to make the waves taller?"
<img width="1081" alt="screen_shot_2018-12-04_at_1_04_45_am-2" src="https://user-images.githubusercontent.com/538657/49393095-e2479d80-f762-11e8-8922-bbe683caa9af.png">

[2018-12-04 13:38] thijstriemstra commented on #1523
@craigcosmo try `barHeight` setting that changes the the height of the wave.

[2018-12-04 13:57] thijstriemstra commented on #1519
Don't think so, try `region-created` event or add a new event and open a pull request.

[2018-12-04 19:33] Bran1304 commented on #1519
Thanks for all your help guys, I resolved it by checking the `isReady` value in `wavesurfer.regions.wavesurfer` like so:

[code]

I might look into adding that event @thijstriemstra when I get some free time this weekend 👍

[2018-12-04 23:19] #1519 closed

[2018-12-04 23:19] #1523 closed

[2018-12-05 00:53] thijstriemstra commented on #1309
Fixed!

[2018-12-05 00:53] #1309 closed

[2018-12-05 03:33] huangfh commented on #83
have you sloved it ?

[2018-12-05 09:19] yxwei0129 opened #1524 "setPlaybackRate distorted with WebAudio backend"
this.wavesurfer.setPlaybackRate(2.0)

[2018-12-05 11:47] J0nKn1ght commented on #1201
Hi.  Sorry to comment on a closed issue, but this is the one that I found when searching for how to implement a custom renderer, so thought it would be the most useful place to put it.

I'm not a full-time javascript developer, and so didn't particularly want to go down the route of having to install transpilers, etc., but just wanted to make some small changes to the rendering.  I've therefore ju

[2018-12-05 12:29] darrenmothersele commented on #1507
I get this error when I use the responsive option, but only when I resize the window before I have loaded audio.
This is an edge case that does happen. A window resize event can happen in between creating the WaveSurfer object, and loading the first audio file.

[2018-12-06 05:22] stoltenheim opened #1525 "Microphone Waveform Works on Desktop, but not in Mobile browsers nor Hybrid App"
Hi, I have this issue where the wave animation is displaying on desktop browsers, but not in mobile browsers nor in the native app. Everything is working fine on the desktop browser.

My current version is wavesurfer.js version 2.1.1

Thank you.

[2018-12-06 07:26] grosch opened #1526 "Please provide a .d.ts file"
Would you please consider providing a type definitions (`.d.ts`) file with this package?  I see you've put good jsdoc comments so it should be pretty easy to generate as part of your build process.  Thanks!

[2018-12-07 07:37] yxwei0129 opened #1527 "why not support ie11?"
# Hey, thank you for testing and contributing to wavesurfer.js!

## Please make sure you can check all of these points below before opening an issue:

(You don't have to post this section)

- [ ] I have checked [the FAQ](https://wavesurfer-js.org/faq/) and it doesn't solve my problem.
- [ ] I have checked [the documentation](https://wavesurfer-js.org/docs/) and it doesn't solve my problem
- [ ] I

[2018-12-07 10:22] thijstriemstra commented on #1525
@stoltenheim mobile browsers? please be more specific (like the ticket guidelines told you to).

[2018-12-07 10:23] thijstriemstra commented on #1526
@grosch if it's easy, please open a pull request, thanks.

[2018-12-07 10:23] #1526 closed, assigned to nobody

[2018-12-11 06:49] dummyrule opened #1528 "Help to play the audio in channel wise"
I need a pause/play control for channel wise is there possible in wavesuffer.

[2018-12-11 08:52] MichalSzorad opened #1529 "Fix rendering when responsive option set to true"
### Description:
Error `TypeError: Cannot read property 'length' of null` is displayed in the console when user has set `responsive: true`, the audio is not loaded and the screen is resized.

### Browser version(s):
Google Chrome v71

### Code needed to reproduce the issue:
[code]
https://codepen.io/michalszorad/pen/WLbPbQ

### Use behaviour needed to reproduce the issue:
Resize the window and see

[2018-12-11 08:55] MichalSzorad commented on #1529
This could fix the problem of #1507

[2018-12-11 15:09] thijstriemstra commented on #1528
I don't know what this means, can you rephrase your question?

[2018-12-13 09:05] thijstriemstra opened #1531 "Resume context in Chrome >= 71"
The following warning appears in Chrome >= 71 on wavesurfer-js.org:

[code]

https://goo.gl/7K7WLu

[2018-12-13 11:49] thijstriemstra commented on #1507
#1529 should fix this.

[2018-12-13 15:48] kirilkirkov commented on #1496
@katspaugh  do you have an idea when i create footer clone of my wavesurfer and than change content of page and remove the original, how to leave sound on?

[2018-12-15 19:41] weeone opened #1532 "wavesurfer creates another equalizer when using drag and drop"
I am using wavesurfer.js with a simple drag and drop file loader and it works fine, i also added the equalizer to it, it also works, however, when i drag a new file to load, i get another instance of the eq in the same div i.e. i get 2 sets of equalizers, the second set don't work, the code for the equalizer is straight from the wavesurfer.js website example and the drag n drop code i'm using is:

[2018-12-15 20:42] thijstriemstra commented on #1532
this is an incomplete code example.

[2018-12-16 05:19] weeone commented on #1532
Hi thijstriemstra, thanks for the reply, sorry for the delay, i had to go to work, also sorry for the incomplete code example, this is the code i'm using:

[code]
and this is the contents of main.js

[code]
I hope this helps.

[2018-12-16 10:38] SKumar713 opened #1533 "how to read AVI using wavesurfer.js in Angular 7"
im trying to play AVI file in wavesurfer.js it says cant read encoded data when i provide the input file as AVI but, with wav it works fine. so i decided to use videojs.wavesurfer im struck im not seeing any error message in console and im unable to see anything on my screen with below code can anyone please help me to read avi file in wavesurfer. or please let ne know if we can read avi in videoj

[2018-12-16 23:02] #1529 closed

[2018-12-16 23:02] #1507 closed

[2018-12-16 23:03] thijstriemstra commented on #1533
@SKumar713 you should open a ticket in the videojs-wavesurfer project instead.

[2018-12-16 23:03] #1533 closed

[2018-12-17 01:51] weeone opened #1534 "1dddffdd*"
# Hey, thank you for testing and contributing to wavesurfer.js!

## Please make sure you can check all of these points below before opening an issue:

(You don't have to post this section)

- [ ] I have checked [the FAQ](https://wavesurfer-js.org/faq/) and it doesn't solve my problem.
- [ ] I have checked [the documentation](https://wavesurfer-js.org/docs/) and it doesn't solve my problem
- [ ] I

[2018-12-17 18:06] MichalSzorad opened #1535 "Update wavesurfer's progress when progress changed using HTML controls"
### Description:
When using WaveSurfer with backend `MediaElement`, the progress is not updated when audio is paused and user changed the progress using HTML controls.

### Expected behaviour:
When using `MediaElement` and the audio (or video) is paused and the user changes progress using HTML controls, the wavesurfer should update it's own progress.

### Wavesurfer.js version(s):
2.1.1

### Brows

[2018-12-17 19:46] jokerrider007 opened #1536 "Regions duplicated"
I use wavesurfer in my Vue project. I have a problem when I have changed the route and get back to the previous route Regions in the waveform is duplicated. Before I change the route. I use a method  destroy() but It doesn't work

Before
![waveform1](https://user-images.githubusercontent.com/12674933/50111041-6115fd80-026e-11e9-9764-ba1d058ab01c.PNG)

After
![waveform2](https://user-images.githubu

[2018-12-18 11:40] desafinadude opened #1537 "Soundtouch with Equalizer"
Hi

I've successfully managed to implement both the soundtouch stretcher and the example equalizer, but, at the moment only have one or the other working, not both. For my project I would really need both to work together.

It seems the setFilter() method is cancelling eachother out.

How can I chain the two?

Thanks in advance

D

[2018-12-18 18:58] cmartinho commented on #1201
Anyone managed to solve this one?
**TypeError: Class constructor MultiCanvas cannot be invoked without 'new'**

[2018-12-18 23:23] Stoyvo opened #1538 "Energy Consumption"
### Wavesurfer.js version(s):
2.1.1

### Browser version(s):
Electron 4.0.0-beta.9

### Code needed to reproduce the issue:
Any example provided in repo. Using the following options:
[code]

### Use behaviour needed to reproduce the issue:
1) Use a full-pledged audio track (~3-4 minutes)
2) Review energy consumption on your OS (mine is Mac OS High Sierra)

Observation: Typically an electron app si

[2018-12-20 13:55] billlanders commented on #1223
Workaround = set the WaveSurfer option **forceDecode=true**.

[2018-12-20 14:43] #1534 closed

[2018-12-20 14:51] thijstriemstra commented on #1538
PRs are welcome.

[2018-12-21 14:03] rockyhuber commented on #700
@therewasaguy hey mate, how did you go with this? Any updates?

[2018-12-22 03:13] thijstriemstra commented on #1535
Can not reproduce this on FF64, latest OSX. Haven't tried Chrome.

[2018-12-22 03:23] #1525 closed, assigned to nobody

[2018-12-22 03:39] thijstriemstra commented on #1319
also see #1540

[2018-12-22 03:41] #1213 closed

[2018-12-23 16:35] awenger63 commented on #1319
Thanks @thijstriemstra , it will be better than my workarround to have a solution for LTR if it' need for user country usage. Use a param to make it like an option is very friendly because some user (LTR env) would like stay with wave RTL !

[2018-12-24 17:38] toolowner commented on #1255
@DrLongGhost is there any good news? I'm looking forward to your plugin.

[2018-12-27 03:19] 15838028035 opened #1542 "where can i find release note ?"
hi, where can i find release note ?
i have a project used  wavesurfer.js 1.2.0 ,   i have find memory leak problem ,   when i play some times song, internet will not work .   i want to update version to 2.0 laster,  can it slove this, could you help me ?

[2018-12-28 07:18] uhoh-itsmaciek commented on #1535
I can reproduce this on both latest Chrome and FF in Windows 10: the progress does not update until the audio is resumed. Does onSeek fire when playback is paused?

[2018-12-29 00:50] 15838028035 commented on #1542
@berio  @mwise  @rikrd could you help me ?

[2018-12-29 01:34] 15838028035 commented on #1542
@thijstriemstra   my computer is 2G memo,   web page someteimes not work,  is it two lowere ?

[2018-12-29 08:09] 15838028035 opened #1544 "when i open some pages , thre brower is dead , could you help me ?"
when i open some pages , thre brower is dead , could you help me ?

@therewasaguy

[2018-12-29 12:07] aburai commented on #1544
Please provide more infos and code to reproduce the issue.

[2018-12-29 12:41] 15838028035 commented on #1544
Hi,when I open a page, about 50mb files loaded,  google memory up to 1G, my customer computer is 2G mem,  how can I solve it, cloud you help me?

发自我的 iPhone

[2018-12-30 07:42] kirilkirkov commented on #389
@X-Raym Hi, how do you resolve this problem?

[2018-12-30 07:44] kirilkirkov opened #1546 "Internet Explorer 11 on Windows 7"
Wavesurfer vesion - wavesurfer.js 2.0.5

Why dont work? @katspaugh  ? I try to pass peaks in array but the wavesurfer library have errors.

[2018-12-30 07:46] kirilkirkov commented on #1546
![screenshot from 2018-12-30 09-36-56](https://user-images.githubusercontent.com/3421328/50545301-c6c39b80-0c17-11e9-9352-6cf709fd54c0.png)

[2019-01-02 06:32] 15838028035 opened #1547 "how can i unload wavesure as quickly as possible ?"
Hi,
how can i unload wavesure  as quickly as possible ?    i use google,  i want to free memory , i have only 2G memory,  cloud you help me ?

@berio  @rikrd  @tf

[2019-01-02 06:40] 15838028035 commented on #1547
@thijstriemstra

[2019-01-02 06:56] MrXiaoHui commented on #64
@katspaugh @wolfbiter  Have you solved this memory usage problem?

[2019-01-02 12:12] thijstriemstra commented on #1547
hey @15838028035 can you stop cc-ing random people, fck that, we're not some sort of helpdesk.

[2019-01-02 12:15] 15838028035 commented on #1547
Okay, I do not know who can help me

发自我的 iPhone

[2019-01-02 14:18] gbalamurugan commented on #1063
I have same problem.
I have tried with separe file and its working fine.. but same code is not working with in my application.. Please help.. Thanks in advance

[2019-01-02 20:31] DrLongGhost commented on #1255
Unfortunately, while I did get the plugin working, I'm not in a position anymore to release the code. Sorry. I'll go ahead and close the ticket but will reopen if anything changes.

[2019-01-02 20:31] #1255 closed

[2019-01-03 09:31] 15838028035 opened #1548 "load problem , cloud you help me ?"
hi,  i want to not load wavesure on load,  when do play button, load wavesure ,
what should i do ? i there a demo?
could you help me ?

@therewasaguy  @bitdeli-chef

[2019-01-03 09:50] 15838028035 commented on #1548
@katspaugh

[2019-01-03 10:13] athJ commented on #1433
Will make the necessary changes and send you pull request

[2019-01-03 11:04] 15838028035 opened #1549 "how to get getPeaks from java application server"
@katspaugh   hi, how to get getPeaks from java application server,

i want to get getPeaks from server,like this
[code]

could you help me ?

[2019-01-03 11:25] 15838028035 opened #1550 "getpeak"
# Hey, thank you for testing and contributing to wavesurfer.js!

## Please make sure you can check all of these points below before opening an issue:

(You don't have to post this section)

- [ ] I have checked [the FAQ](https://wavesurfer-js.org/faq/) and it doesn't solve my problem.
- [ ] I have checked [the documentation](https://wavesurfer-js.org/docs/) and it doesn't solve my problem
- [ ] I

[2019-01-03 12:14] 15838028035 commented on #1450
hi, is there a java demo for get peaks,

cloud you share your php demo for get peaks.

[2019-01-04 01:45] 15838028035 commented on #1141
is there a java server demo for generate peaks  @matixmatix

[2019-01-04 01:46] 15838028035 commented on #1141
@matixmatix  cloud you share you successfully demo ?

[2019-01-04 08:04] apurvgandhwani commented on #525
@gintelllect were you able to solve it?

[2019-01-04 13:16] CredibleIO commented on #525
Nope. I could not get over this issue.

[2019-01-05 02:59] 15838028035 opened #1551 "when load peaks from server, brower memory up to height"
hi,
when load peaks from server, brower memory up to height,

pcm files about 30M, peaks about 100,000 in array,

is there anyway to slove it ?

@katspaugh

[2019-01-05 17:40] thijstriemstra commented on #1550
@15838028035 can you stop opening non-sense tickets? I've never banned someone on github but I will.

[2019-01-05 17:40] #1550 closed

[2019-01-05 17:40] thijstriemstra commented on #1549
@15838028035 ask on stackoverflow.

[2019-01-05 17:40] #1549 closed

[2019-01-05 17:41] thijstriemstra commented on #1547
@15838028035 use `wavesurfer.destroy()`.

[2019-01-05 17:41] #1547 closed

[2019-01-06 07:02] chigozieorunta commented on #64
@katspaugh Please I would love to know if the memory usage problem has been resolved. I'm having a bit of a challenge with this as my angularjs app keeps crashing every time I try to reload a new audio. What do I do?

[2019-01-06 18:16] thijstriemstra commented on #1546
You don't supply any example code, so we have no idea what the issue is.

You should also always use the latest wavesurfer.js (2.1.1 at moment of writing this).

[2019-01-07 10:00] toolowner commented on #1255
Thanks @DrLongGhost. Amazing!!!
Can I see know the branch that contains your work? I want to use that plugin even it hasn't released yet.

[2019-01-07 10:15] kirilkirkov commented on #1546
@thijstriemstra  I use wavesurfer - wavesurfer.js 2.0.5. You can try with this very simple code not working - http://podobrisebesi.bg/test/asd1.html.
Is need to use some polyfill to work wavesurfer on internet explorer?

[2019-01-07 15:02] DrLongGhost commented on #1255
@toolowner - Unfortunately I can't release the code, which I feel badly about. I can offer up the following though:
- It should only take a day or so to reproduce. It's a simple plug-in written in a style similar to the regions plugin but it simply overlays Chart.js
- See https://github.com/chartjs/Chart.js/issues/4997 for some advice I got from that project around removing the margins

That's rea

[2019-01-08 01:21] MaxwellGover opened #1552 "RegionsPlugin undefined?"
**Version: "2.1.2"**

Any reason why RegionsPlugin would be undefined? I've added the script tag in my react app

`<script src="https://unpkg.com/wavesurfer.js"></script>`

Everything else works fine but when trying to run the following code

[code]

I get the following error

![screen shot 2019-01-07 at 8 20 55 pm](https://user-images.githubusercontent.com/11525891/50803917-c97a5c80-12b9-11e9-9a8

[2019-01-08 03:46] thijstriemstra commented on #1552
you're missing `<script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.regions.min.js"></script>`

[2019-01-08 03:46] #1552 closed

[2019-01-09 02:08] constmoon commented on #933
Did you fix this problem? Same with me, the music file is loaded twice. It's not even loaded from cache.
![screenshot](https://user-images.githubusercontent.com/19185307/50871420-d9e81f80-13fe-11e9-89de-b8fd54de31a8.png)

[2019-01-09 09:28] vit1251 opened #1553 "Container element not found"
![default](https://user-images.githubusercontent.com/110534/50889840-fd649780-1409-11e9-8f7f-82491ac4d167.png)

[2019-01-09 11:53] MartinDelille commented on #933
Sorry I don't use this package anymore.

[2019-01-10 00:09] MaxwellGover opened #1555 "Updating start & end times of region on drag?"
I'm struggling with how to grab the updated start and end times of a region after the region is dragged.

![screen shot 2019-01-09 at 6 09 41 pm](https://user-images.githubusercontent.com/11525891/50937873-b09db280-1443-11e9-8e82-d30af9c2ce72.png)

[code]
Then later,

[code]

I see there is an `onDrag` method but I'm not sure what I should be calling it on. Ideally, I'd like to do something like

[2019-01-10 00:45] MaxwellGover commented on #1555
Update: This seems to work

[code]

[2019-01-10 00:46] #1555 closed

[2019-01-10 05:40] vit1251 commented on #1553
Sorry, I have empty container.

[2019-01-10 05:40] #1553 closed

[2019-01-14 01:19] 15838028035 commented on #1450
@jpbm18   cloud you share you demos ?

[2019-01-14 01:55] jpbm18 commented on #1450
Yes, will share demos.  Will post as soon as I can.

[2019-01-14 01:59] 15838028035 commented on #1450
@jpbm18   when i load big files  from server , server generate big peaks,

it will be long time to load files,  the memory up to height, it's not what i wanted ,
do you have test it ?

[2019-01-14 03:21] 15838028035 commented on #1335
@janhartmann  cloud you share you demo?

[2019-01-14 03:21] 15838028035 commented on #1335
is there any memory problems ?  @janhartmann

[2019-01-14 04:17] 15838028035 commented on #1230
@dtbaker  could you share your demo ?
@ffxsam  could you share your demo ?

[2019-01-14 04:30] 15838028035 commented on #1172
@smohammedyasin  have you slove it ？ cloud you share your demo ?

[2019-01-14 06:16] 15838028035 commented on #1001
@mspae   have you slove it ? cloud you share your demo?

[2019-01-14 06:17] 15838028035 commented on #1001
@binal24  have you test it ? memory up ?

[2019-01-14 06:52] 15838028035 commented on #917
@arianestolfi  i have see project   https://github.com/arianestolfi/spectrogramplayer,
 i also have memory problem

[2019-01-14 06:55] 15838028035 commented on #786
@gjzhappy   cloud you share your demo? i have the same question

[2019-01-14 14:36] #1215 closed

[2019-01-14 14:36] #1367 closed

[2019-01-14 14:36] #1398 closed

[2019-01-16 15:55] Latentimagedesign opened #1556 "Cannot read property 'waveCtx' of undefined"
Wavesurfer.js version(s): 2.1.2
Browser version(s): Chrome Version 71.0.3578.98 (Official Build) (64-bit)
OS: Windows 10 x64

Issue:
I have a user load a video from local storage and wavesurfer.js creates a waveform of the audio. However, when pressing play on the html5 video player the following error is logged in the console:

    at n.value (drawer.multicanvas.js:486)
    at drawer.multicanvas.

[2019-01-17 03:31] kennCK opened #1557 "Repeat crashes on iOS v11.03"
First, Thank you this is cool but I have question why on repeating the audio and seek bar crashes on iOS and all browsers in iOS.

Here's my code
[code]
On other phones and os works smoothly.

[2019-01-17 12:45] Sapnakarmur commented on #450
Is there any solution for hiding audio element using MediaElement? It works fine for WebAudio but not for MediaElement.
Its necessary to hide audio element otherwise anybody can get actual path using inspect element.

[2019-01-18 19:18] anteph commented on #430
Hi!

Thank you very much for the fix :)

I've been testing the drag / resize of a region near the edges and it seems to be working fine for the left side but, for some reason, it is not working when dragging / resizing for the right side.

Sometimes, if I drag to the left margin and, while sustaining the drag, move the cursor to the right edge, then it works (not deterministic).

This happens in c

[2019-01-21 13:32] fleshka779 commented on #753
You can also use:

[code]

[2019-01-24 23:14] thijstriemstra commented on #1557
Why not list them here? And include the wavesurfer.js version nr while you're at it.

[2019-01-25 13:38] shobees commented on #1519
I am using Wavesurfer in react app . It works . I save the regions in server . I want to add the saved  region when the annotate load ..

[2019-01-25 13:42] shobees opened #1561 "Issue with rendering the saved region."
I have an issue with the region plugin . I want the region display when the the response from the server comes . So How can I update the region ..
![12344](https://user-images.githubusercontent.com/28486850/51749351-f196f780-20d0-11e9-9c3d-83dcf27f52f0.png)

WaveSurfer.addRegion({
        start: 1.2235695986336466,
        end: 5.0111016225448335,
        attributes: {},
        data: {},
    })

[2019-01-27 22:39] aburai commented on #1561
do you use wavesurfer.on('ready')?

[2019-01-28 09:35] Fiorello commented on #1261
Hi, any news abouts this issue?
It happens to me again, when zoom in.
Im' using wavesurfer-js version 2.1.2

![screenshot 2019-01-28 at 10 31 56](https://user-images.githubusercontent.com/3278942/51826767-1913dd00-22e8-11e9-8f1c-16449ea56919.jpg)

[2019-01-28 17:56] awenger63 commented on #1261
@Fiorello I always have the code change suggest by @jamiefaye  + my [commit](https://github.com/awenger63/wavesurfer.js/commit/884ca73b7e90c38a730a95731b7076b4ee9d6d70) on my local version ...

[2019-01-28 21:49] websolab opened #1562 "Stereo Mp3 files don't work on Safari 11"
### Wavesurfer.js version(s):

wavesurfer.js 2.1.3 (2019-01-21)

### Browser version(s):
Safari 11.1.2 (11605.3.8.1)

### Code needed to reproduce the issue:

I took the code from the original site https://wavesurfer-js.org
The fact is that the code is works with .wav files in all browsers.
But .mp3 doesn't work in Safari.
You can check everything here.

https://laravel57.websolab.com/

Thanks a l

[2019-01-29 08:41] Fiorello commented on #1261
Great.. Is there any hope of integrating it in the module?

[2019-01-30 07:01] Leo1653 opened #1563 "Audio files are too large, loading time is too slow, how to optimize?"
If the audio file is too large, such as a few minutes of loading time, is there a way to solve the problem of slow loading?
Lazy loading？update uodate？

[2019-01-30 21:39] thijstriemstra commented on #1562
See https://developer.mozilla.org/en-US/docs/Web/HTML/Supported_media_formats#Browser_compatibility.

There's this though: https://github.com/katspaugh/wavesurfer.js/blob/master/src/webaudio.js#L405

Can you comment that out and see if that makes a difference?

[2019-02-04 01:37] danielcampagne commented on #1468
Anybody found a solution?

[2019-02-04 05:07] Avin-Techv opened #1564 "Device error: TypeError: Cannot read property 'timeStamp' of undefined"
[code]

[2019-02-05 08:38] Vijayalaxmim opened #1565 "Unable to mute left or right channel in stereo audio file in 2.1.3 #1497"
## Please make sure you provide the following information (if applicable):
This is duplicate of issue #1497 . The solution provided works with older version , but not with latest version. analyser object is not initialised when set filters is called.
### Wavesurfer.js version(s):
2.1.3

### Browser version(s):

### Code needed to reproduce the issue:

(Please reduce your code as much as possible a

[2019-02-07 02:59] rockyhuber opened #1566 "Waveform hides when scrolling to the end on mediaElement loaded server generated waveform"
### Wavesurfer.js version(s):
"wavesurfer.js": "^2.1.0",

### Browser version(s):
Version 71.0.3578.98

### Code needed to reproduce the issue:

My audio element:

`<audio id="audio"><source src={this.state.audioURL} type="audio/mp3"></source></audio>`

I set the media element;

I am loading it like this:
[code]

I generate waveform on server:

Once axios fetch returns, I am loading the generated

[2019-02-08 09:26] thijstriemstra commented on #1564
the identifier `timeStamp` is not used in wavesurfer.js..

[2019-02-08 09:28] thijstriemstra commented on #1566
try `hideScrollbar: true`?

[2019-02-09 01:52] #1296 closed

[2019-02-09 01:52] #1319 closed

[2019-02-09 03:26] rockyhuber commented on #1566
Thanks for your reply Thijs! I did, though then that doesn't allow me to scroll to beyond 40s of the waveform. I am not sure if I should be passing in a preload option to the load(url, peaks, preload) or not. Though don't think that will make a difference in this case.

[2019-02-09 07:40] awenger63 commented on #1319
Nice, I will test it with the end users when they want to put it in place

[2019-02-09 10:22] rockyhuber commented on #1566
I hacked a awful scroll bar solution, though didn't solve the waveform disappearing at the end of the scroll. Basically just forced it to disappear when the mouse leaves the waveform.

On mouseleave of the waveform:
`this.wavesurfer.containers.childNodes[1].style.overflow = 'hidden';`

On mousenenter of the waveform:
`this.wavesurfer.container.childNodes[1].style.overflow = 'scroll';`

Still haven

[2019-02-10 22:19] thijstriemstra commented on #1565
@Vijayalaxmim one very important thing missing: **code needed to reproduce the issue**.

[2019-02-10 22:20] thijstriemstra commented on #1564
@Avin-Techv what browser/operating system/wavesurfer.js version?

[2019-02-10 22:22] #1561 closed

[2019-02-10 22:22] thijstriemstra commented on #1546
Don't. Use the latest.

[2019-02-10 22:24] thijstriemstra commented on #1556
@Latentimagedesign can you create a codepen that re-creates this issue?

[2019-02-10 22:24] #1548 closed

[2019-02-10 22:27] #1528 closed

[2019-02-10 22:30] thijstriemstra commented on #1532
@weeone can you put that in a codepen?

[2019-02-11 18:05] Vijayalaxmim commented on #1565
I am using wavesurfer.js with React. After I initialise the state with wavesurfer, I split the channels using the below code

[code]

[2019-02-11 18:07] Vijayalaxmim commented on #1565
The error stack trace

[code]

[2019-02-12 07:59] abelvii commented on #1374
hi, I have the same issue,try use region.play()

[2019-02-12 17:14] ronhornbaker commented on #1562
I tried commenting out lines 412-415 (assuming that was the snippet to which you were referring), and it didn't help. In fact, Safari wouldn't load either a wav or mp3 at all.

I'm seeing this mp3 wave rendering bug with Safari on Mac and iOS, too: mp3 results in no waveform being generated, while wav of same content works fine. My only workaround is to use only WAV files, which is unfortunate due

[2019-02-12 17:25] thijstriemstra commented on #1562
@ronhornbaker that code creates a single channel buffer, can you try and change it to 2 channels, e.g.

[code]

and adjust the buffer size if necessary.

[2019-02-13 20:55] pouletfou commented on #1200
For those interested, simple player component with Material Components

#### wavesurfer-material.component.ts
[code]

#### wavesurfer-material.component.html
[code]

#### wavesurfer-material.component.scss
[code]

[2019-02-13 21:20] rockyhuber commented on #1566
The problem occurs when you set partialRender to true. If you set it to false, then it won't occur.

[2019-02-14 01:34] rockyhuber commented on #1566
So after more research, turns out that it is because the width of the ends up being 1px bigger than the end value of the scroll.

A quick hack fix to add on approximately line 1076 of the wavesurfer.js file:

[code]

[2019-02-15 00:13] websolab commented on #1562
The problem was in mp3 files. Something with render options. I tried different mp3 files downloaded from network and it's works now.

[2019-02-15 14:07] #1562 closed

[2019-02-16 21:44] grosch commented on #902
I just went to the URL you showed last, @entonbiba and when I click on the load button nothing happens on my iOS device.

[2019-02-16 22:12] grosch opened #1567 ""ready" never called on safari"
### Wavesurfer.js version(s):

2.1.3

### Browser version(s):

Safari on iOS 12 and Safari 12.0.3 on the mac.

### Code needed to reproduce the issue:

https://stackblitz.com/edit/waveform

### Use behaviour needed to reproduce the issue:

If you open that stackblitz with Safari on the desktop or iOS you'll see that the waveform starts to create as the extra spacing is added to the page, but the '

[2019-02-17 03:26] thijstriemstra commented on #1567
can you check if this safari-workaround (passing in a audiocontext after click/tap) fixes the issue: https://github.com/katspaugh/wavesurfer.js/blob/master/example/microphone/app.js#L12

[2019-02-17 10:40] naumanahmed19 opened #1568 "Anyway to disable wave ?"
Hi,

Thanks for this awesome plugin. I want to ask is there any way to disable wave and show just progress bar. I have checked docs couldn't find any option or method.

[2019-02-17 17:12] Bran1304 commented on #1261
Is there any update on this please? @thijstriemstra @katspaugh

[2019-02-17 17:28] thijstriemstra commented on #1261
if you want to speed things up, hire either of us. Until then someone (else) will eventually fix it.

[2019-02-17 17:43] Bran1304 commented on #1261
@thijstriemstra I thought the change awenger63 suggested fixes the issue, and wondered if it could be implemented. Anyways, I might PM you so we can take this further

[2019-02-17 18:19] thijstriemstra commented on #1261
Give it a try, and if it does, open a pull request so it can get fixed.

[2019-02-18 09:04] Gabrielfcs opened #1569 "Can't resolve 'debounce' in 'node_modules/wavesurfer.js/src/util'"
- [ X ] I have checked [the FAQ](https://wavesurfer-js.org/faq/) and it doesn't solve my problem.
- [ X ] I have checked [the documentation](https://wavesurfer-js.org/docs/) and it doesn't solve my problem
- [ X ] I have searched for [already open issues](https://github.com/katspaugh/wavesurfer.js/issues) which desribe my problem.
- [ X ] The issue I'm having is related to and caused by wavesurfer

[2019-02-18 16:43] grosch commented on #1567
Thank you!

[2019-02-18 16:43] #1567 closed

[2019-02-23 22:33] jamesshannon commented on #1436
The most straightforward (and consistent with, e.g., opencv) would be to allow the user to pass a colormap array of 256 3-tuples (representing RGB). Then the current code could simply pull the value at the appropriate index.

Furthermore, there are javascript libraries which have preconfigured colormaps.

[2019-02-23 22:38] jamesshannon opened #1571 "Spectrogram cannot be destroyed"
### Wavesurfer.js version(s): 2.1.3
### Browser version(s): Chrome beta

### Code needed to reproduce the issue:

1. Create wavesurfer, with the spectrogram plugin
2. Optionally, load a sound
3. Destroy spectogram plugin (e.g., destroyAllPlugins())
4. Load a sound

An error occurs. I can't remember it exactly, but it's due to an instance not being available when called by the event code. The spect

[2019-02-24 00:56] thijstriemstra commented on #1571
I can't reproduce this on https://wavesurfer-js.org/plugins/spectrogram.html for example.

Running `wavesurfer.destroyAllPlugins()` in the console simply removes plugin as expected.

We'll need the exact error with code to reproduce @jamesshannon

[2019-02-24 01:04] thijstriemstra commented on #1569
Try asking the angular community.

[2019-02-24 02:38] jamesshannon commented on #1571
Did you then try to load and play another sound? This is what I'm doing:

[code]
I think get this exception:
[code]

[2019-02-24 06:51] jamesshannon opened #1572 "Spectrogram keeps adding new listeners for each loaded audio"
Version: 2.1.3

Probably similar root cause as #1571, but I noticed that when listening to multiple  audio files (in series) with spectrogram enabled each load() took progressively longer.

You can see this in the javascript profiler in which I load a file, let it play, then load the next file. I did this 6 times while profiling and each load gets about .5 seconds longer than the previous one.

![

[2019-02-25 04:41] jamesshannon commented on #1572
I just noticed that the regions plugin is exhibiting a bug that's probably due to similar behavior when multiple audio files have been loaded.

Specifically: load file, load more files, create a single region. Looking at the HTML elements or wavesurfer.regions.list the regions are duplicated, one for each audio that had been loaded.

[2019-02-25 12:50] zapfdk opened #1573 "Get multiple regions on mouse over"
### Wavesurfer.js version(s):
2.1.1

### Browser version(s):
All

Hi,
I have some annotations for regions, that can overlap. Now I want to retrieve all the regions under the cursor. When using the mouse enter event from the regions plugins, only one region is returned, which doesn't help me a lot.
So how could I achieve that? Or is there a way to get the current position (in sec or px) of the mous

[2019-02-25 13:09] aburai commented on #1572
@jamesshannon i load many files and create many regions and i don't have any problems. have a look at your code and ensure you create valid and unique html for every wavesurfer instance

[2019-02-25 15:01] jamesshannon commented on #1572
I only have one wavesurfer instance, and one single chunk of HTML.

As per \#3 in my steps, I'm calling .empty() and .load() repeatedly to load successive files. I don't remember seeing anywhere in the documentation that I need to create a new instance everytime I load a file, but it seems that's probably the direction I need to go to ensure these bugs don't happen?

[2019-02-25 19:47] clndwhr commented on #1307
I was able to get this to work utilizing the [soundtouchjs ](https://github.com/cutterbl/SoundTouchJS) library on github that was refactored for ES2015 development.  This is setup in a VueJS environment and is not clean or optimized yet, but will be shortly.

    import { SoundTouch, SimpleFilter, getWebAudioNode } from 'soundtouchjs/dist/soundtouch,js'

    let this_ = this;
      this.wavesurfer

[2019-02-26 00:06] aburai commented on #1572
Sorry, i overread the empty() thing. It seems you must also call clearRegions(), empty does not change the regions list.

[2019-02-26 02:54] jamesshannon commented on #1572
That doesn't do it, either. I only ever create a single region, and I do so on the, e.g., 10th file (not the first 9). And when I do that 10 regions are instantly created.

For good measure I've been using clearRegions(), but that doesn't affect the above.

[2019-02-26 08:47] yogisalomo commented on #1414
hi @Guisch , with your workaround I managed to fire waveform-ready event when providing peaks. However the values of the waveform became wrong. Could you please explain a bit more on how to use your workaround? Do I still need to call the provided wavesurfer.load function?

Thanks for sharing your workaround.

[2019-02-26 11:12] Guisch commented on #1414
Hey !

The workaround is meant to replace only the load function, so usage is the same.

No

Please make sure that the data you are providing is well formated. I've made a simple wrapper that output correct data if you want: https://github.com/Guisch/simpleWaveformJs

[2019-02-26 14:30] achraf-boussaada opened #1574 "Couldn't add spectrogram plugin"
I'm testing out `wavesurfer` to generate spectrograms from wav files. I added as suggested :
`<script src="https://unpkg.com/wavesurfer.js"></script>` to my html page and i was able to load my wav file and display it in a container. But i couldn't download the plugin for the spectrograms from  [the website](http://wavesurfer-js.org/example/spectrogram/?scroll). I think the link is broken and it's

[2019-02-26 15:37] achraf-boussaada commented on #1574
i found this in the documentation `<script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.spectrogram.min.js"></script>` and it worked. Still the page linked above need some rework. For instance the quick start example doesn't work. It should be like this :

       let wavesurfer = WaveSurfer.create({
            container: "#waveform",
            plugins: [
                WaveSurfe

[2019-02-26 15:38] #1574 closed

[2019-02-27 09:19] fine-G opened #1575 "controls for multiple players one page?"
How can I play, stop and pause waveform when I have a unspecified number of players on a page?

I create the waveforms in an query each function, this init works fine. but how can I call the instances with the play button? Each waveform has an unique id and each waveform player has its own control buttons.

[code]

This for example starts all waveform players.
I need something linke "this closest

[2019-02-27 09:53] Bran1304 opened #1576 "Waveform looks different in Chrome and Safari and timestamp does not match"
### Wavesurfer.js version(s): 2.1.3

### Browser version(s): Chrome Version 72.0.3626.119 and Safari Version 12.0.3

### Code needed to reproduce the issue: N/A

When looking at a waveform with pre-decoded peaks in Chrome and Safari, the wave does not look the same, see screenshots below

Chrome:
<img width="840" alt="screenshot 2019-02-27 at 10 44 33" src="https://user-images.githubusercontent.co

[2019-02-27 13:02] aburai commented on #1575
you can put your wavesurfer instance in data of your source element
`$(this).data('wavesurfer', wavesurfer)`
then search in you click handler for the element and get wavesurfer instance from data
`$(this).closest('.audio').data('wavesurfer').play()`

HTH

[2019-02-27 14:14] fine-G commented on #1575
perfect! thanks!

[2019-02-27 14:14] #1575 closed

[2019-02-28 01:43] yogisalomo commented on #1414
Thank you very much for your response. The wrapper seems really useful as well, so thanks for that too! @Guisch

[2019-02-28 01:53] thijstriemstra commented on #1571
Your ticket doesn't include an expectation. So first of all, what do you expect to happen?

[2019-02-28 01:55] thijstriemstra commented on #1572
that sounds unrelated @aburai, because @jamesshannon is not using the regions plugin.

[2019-02-28 01:58] jamesshannon commented on #1571
For this issue my expectation is that I don't get an exception, and that wavesurfer does things... like play a sound. However, since there's an exception, wavesurfer doesn't do things, like playing sounds.

[2019-02-28 01:58] thijstriemstra commented on #1568
@naumanahmed19 you can use CSS to hide the wavesurfer canvas element where the waveform is drawn. But to be honest, why use wavesurfer at all if you don't need the waveform?

[2019-02-28 01:58] #1568 closed

[2019-02-28 01:59] thijstriemstra commented on #1564
no feedback, closing.

[2019-02-28 01:59] #1564 closed

[2019-02-28 02:00] thijstriemstra commented on #1556
no feedback, closing.

[2019-02-28 02:00] #1556 closed

[2019-02-28 02:06] thijstriemstra commented on #1571
after you destroy a plugin, you expect wavesurfer still to function properly when loading a sound?

[2019-02-28 02:32] jamesshannon commented on #1571
Yes. Is that not reasonable? :)

Firstly, the reason I took this approach is the "leak" that I detailed in #1572. My thought was that I could destroy and re-add the spectrogram every time I load a sound in order to prevent the leaks. Since I've fixed that locally then this use case is less important to me.

However, I would still expect that I can destroy a plugin after runtime and that the other

[2019-02-28 02:43] thijstriemstra commented on #1571
Sure.

[2019-02-28 16:35] jamesshannon commented on #1572
https://jsbin.com/kizivenewa/edit?output

[2019-03-01 05:40] Mozfe opened #1577 "Waveform rendered uncorrect when zooming"
Steps to reproduce this issue:
1. Let the audio plays for a while.
2. Drag the slider to zoom in
![image](https://user-images.githubusercontent.com/19956458/53618307-bdf64280-3c25-11e9-9b89-235734e64846.png)
3. And then click on the left part of the slider to zoom out.
![image](https://user-images.githubusercontent.com/19956458/53618410-1cbbbc00-3c26-11e9-81c9-dfabcdedb6b1.png)

Browser Version:

[2019-03-02 16:01] thijstriemstra commented on #1576
@Bran1304 can you compare it to Safari Technology Preview (76) as well?

[2019-03-02 16:32] thijstriemstra commented on #1572
@jamesshannon that sample doesn't even use the spectrogram plugin..?

[2019-03-02 18:09] jamesshannon commented on #1572
No. That's illustrating the half of this bug having to do with regions,
which I described above and I'm pretty confident has the same root problem.

As far as I could tell, there's no programmatic way to demonstrate how many
times the spectrogram gets created, and it'd be too complex to explain how
to use Dev tools.

On Sat, Mar 2, 2019, 08:32 Thijs Triemstra <notifications@github.com> wrote:

[2019-03-03 07:25] OnlineVagrant opened #1578 "Uncaught (in promise) DOMException"
I'm new to wavesurfer.js and have been trying to get it running using Node.js and Express for sometime now but I'm unsuccessful.

I'm using express to server the audio file  as follows

`app.use(express.static('./public'));`

The waveform doesn't appear. All that shows is the bar. Here is my code and the error i'm receiving.

**code:**

[code]
the error i'm getting

`Uncaught (in promise) DOMExcep

[2019-03-03 16:45] OnlineVagrant commented on #1578
The error was caused by using the initial folder of the static files. Once I changed `wavesurfer.load('/public/recordings/o.mp3');` to `wavesurfer.load('/recordings/o.mp3');` it started working.

[2019-03-03 16:45] #1578 closed

[2019-03-03 21:19] thijstriemstra commented on #1577
can you try if PR #1570 fixes it?

[2019-03-03 22:45] thijstriemstra opened #1579 "Support for picture-in-picture"
Chrome 70+ introduces the picture-in-picture API. Would be cool to support this in wavesurfer.js and render the waveform `canvas` element in the PiP window.

Demo: https://googlechrome.github.io/samples/picture-in-picture/

API: https://developers.google.com/web/updates/2018/10/watch-video-using-picture-in-picture and https://wicg.github.io/picture-in-picture/

Status: https://github.com/WICG/pict

[2019-03-04 09:28] aburai commented on #1572
i think there must be removed some event listeners. you create 5 instances, create one region and get 5, one for every event listener

[2019-03-05 12:07] grantmac opened #1580 "iOS loadBlob from file input"
I'm currently calling ```waveform.loadBlob``` with a blob created from a file upload input.
On chrome this works perfectly and the waveform is rendered.
On Safari (mac and iOS) the waveform isn't rendered. In the following:

[code]

The e variable is null and provides no information regarding the error.

Thanks

[2019-03-05 12:17] thijstriemstra commented on #1580
make sure you create a AudioContext in response to a user gesture on iOS. wavesurfer.backend.ac.state should not be `suspended`. If it is, call `resume` on that `ac`.

[2019-03-05 12:36] grantmac commented on #1580
Thanks @thijstriemstra - window.offlineAc.state = suspended. Is this an issue too?

[2019-03-05 13:03] grantmac commented on #1580
Here's a simple example: https://codepen.io/anon/pen/bZBNdz

To reproduce:
- Select an audio file from local device using the file input
- Click "Load Blob"

On Chrome this works fine. On Safari it dosen't. The AudioContext is begin created on the click of #btn

[2019-03-05 13:06] grantmac commented on #1580
Sorry, to slightly change this. mp3 files work, but I'm trying to get an mp4 video to work. This works in chrome but not safari.

[2019-03-05 13:08] thijstriemstra commented on #1580
yep.

[2019-03-05 13:14] grantmac commented on #1580
Thanks @thijstriemstra - I have the codepen working with mp3 files now. Any idea on why it's not working with mp4?
The solution i'm looking for is for iOS users to be able to upload video files as there's no options to upload sound recordings.

[2019-03-05 13:31] grantmac commented on #1580
Video demo here: https://codepen.io/anon/pen/OqbVgM
To reproduce:
- Click "load blob" and it will load the wave form from the video element.
- Choose a video file via the input and the video file will be rendered int he <video> element.
- Click "load blob" and the wave form is rendered.

Works everywhere but safari macOS and iOS

[2019-03-05 13:39] grantmac commented on #1580
okay, mp4s work but not movs. And video uploads in iOS and movs.

[2019-03-05 13:40] thijstriemstra commented on #1580
Good to hear.

[2019-03-05 13:40] #1580 closed

[2019-03-05 16:37] thijstriemstra commented on #1571
@jamesshannon can you give PR #1581 a try?

[2019-03-06 16:00] Vijayalaxmim commented on #1565
@thijstriemstra Do you need more information on this?

[2019-03-06 16:03] thijstriemstra commented on #1565
@Vijayalaxmim yes can you use the normal version of wavesurfer.js (non-minified) and paste the full stacktrace and also create a codepen that reproduces this problem?

[2019-03-06 17:15] #1261 closed

[2019-03-06 17:15] #1399 closed

[2019-03-06 20:10] #1571 closed

[2019-03-06 20:13] thijstriemstra commented on #1207
Then we won't be able to reproduce this or fix it.

[2019-03-06 20:13] #1207 closed

[2019-03-06 20:18] thijstriemstra commented on #1285
See https://developers.google.com/web/updates/2017/09/autoplay-policy-changes#webaudio

try:

[code]

[2019-03-06 20:18] #1285 closed

[2019-03-06 20:19] thijstriemstra commented on #1250
You probably need to use a click or tap instead of a mouse event.

[2019-03-06 20:35] thijstriemstra commented on #1386
Just tested codepen with Firefox 65 and could not reproduce this.

[2019-03-06 20:35] #1386 closed

[2019-03-06 20:37] thijstriemstra commented on #1437
`wavesurfer.drawer.getScrollX()'

[2019-03-06 20:37] #1437 closed

[2019-03-06 20:38] #1413 closed

[2019-03-06 20:39] #1504 closed

[2019-03-06 20:40] #1532 closed

[2019-03-06 20:40] #1569 closed

[2019-03-06 20:42] thijstriemstra commented on #1572
@jamesshannon can you try master branch, I fixed some of the event handling in the spectrogram plugin.

[2019-03-06 20:45] thijstriemstra commented on #1573
Tough one. Maybe @katspaugh has an idea.

[2019-03-06 20:51] notonlybutalso commented on #1230
Hey,

My peak file values range from -1 to +1 but when loading back in with teh same MPS and passing in the peaks using 'MediaElement' i just get a massive block indistinguishable form the original waveform.

Am I missing something?

Thanks in advance!

[2019-03-06 20:57] notonlybutalso commented on #1230
Just in case anyone else finds themselves in this situation, its the peak file format it has to be [number, number] and not ["number","number"]

Hope that helps,

Mike

[2019-03-06 21:03] thijstriemstra commented on #702
I think it grabs the browser default, which is 44100 afaik.

[2019-03-06 21:11] thijstriemstra commented on #702
maybe we should use an external spectrogram library for this plugin instead, e.g. https://github.com/vlandham/spectrogramJS

[2019-03-06 21:42] thijstriemstra commented on #1414
@Guisch that looks like a useful tool. maybe we can include it in wavesurfer.js so more people can help maintain it and use it?

[2019-03-07 01:13] bknill opened #1583 "Wavesurfer rarely renders when using Media Element"
Hi,

I have the MediaEl already in the brower.

If I try and load the El via load(el), I very rarely get the wave to show, if I load(el.src) then I always get the data.

If I load the El before readyState > 0 I get a cannot decode data error in Chrome.

I need to load the Element because I need Wavesurfer to control the playback position.

## Please make sure you provide the following information

[2019-03-07 14:05] Guisch commented on #1414
I need to do some edit first but Yeah why not

[2019-03-07 14:33] thijstriemstra commented on #1414
Awesome, looking forward to the PR.

[2019-03-08 07:08] jamesshannon commented on #1572
Is there an easy way to get a built file? unpkg doesn't have the dev versions?

[2019-03-08 16:08] thijstriemstra commented on #1572
Try https://github.com/katspaugh/wavesurfer.js#development

[2019-03-11 05:57] rafbc commented on #1520
+1

[2019-03-12 23:45] thijstriemstra commented on #1583
this is an incomplete example, please post something working that reproduces this issue.

[2019-03-12 23:49] thijstriemstra commented on #1577
I tested https://wavesurfer-js.org/example/zoom/index.html (that uses v2.2.0 at time of this writing) and can't reproduce it, so it seems to be fixed with #1570. Closing.

[2019-03-12 23:49] #1577 closed

[2019-03-12 23:52] thijstriemstra commented on #1566
@rockyhuber sounds familiar, can you try with 2.2.0?

[2019-03-14 04:59] zhang19940101 opened #1585 "spectrogram issue"
ws.on('redraw', this.render); in spectrogram.js   391 line 。 this.render.bind(this);

[2019-03-14 08:22] Bran1304 opened #1587 "Regions plugin TypeError: Cannot read property 'addEventListener' of undefined"
Hello,

I just updated to 2.2.0 and I get this error when I am trying to use the Regions plugin with enableDragSelection.

The error points to regions.js line 754 `this.wrapper.addEventListener('mousedown', eventDown);`

Thanks for your help

[2019-03-14 17:06] #1118 closed

[2019-03-14 17:08] thijstriemstra commented on #1587
@Bran1304 can you provide example code?

[2019-03-14 17:58] Bran1304 commented on #1587
@thijstriemstra

In my wavesurfer component I create a wavesurfer instance like so

[code]

and then in the Regions component I do this

[code]
And then I just call `wavesurfer.enableDragSelection({});` in the component that needs this functionality. This used to work in the previous versions, it only started to break with the above error after the 2.2.0 update.

[2019-03-15 17:23] cristianvogel opened #1591 "baby steps please assist"
Hi ,

i am simply trying to get the player to appear on a page and play some audio.

I am really rather new at front end and I need a little help , I'm sorry if this is annoying...

I have followed carefully the instructions, and I can neigher get the CodePen to run

https://codepen.io/cristianvogel/pen/vPRdZb

or a local version on my server....

http://endless-process.net/playerDemo.html

Please

[2019-03-15 18:14] cristianvogel commented on #1591
ok - thankyou - it was CORS related and I am feeling more confident now. Sorry to bother you

[2019-03-15 18:30] Bran1304 commented on #1587
I fixed the issue by removing deferInit: true and initialising straight away

[2019-03-15 19:17] GrumpyCrouton opened #1592 "Initialize microphone by deviceId"
Would it be possible to add functionality to the microphone plugin to select which microphone to initialize by it's deviceId?

[2019-03-15 19:36] thijstriemstra commented on #1587
@Bran1304 i'd rather make it work again without users having to modify code after upgrading. I'll take a look.

[2019-03-15 22:25] thijstriemstra commented on #1592
@GrumpyCrouton you use the plugin's `constraints` parameter for this.

[2019-03-15 22:25] #1592 closed

[2019-03-15 22:26] #1591 closed

[2019-03-15 22:42] thijstriemstra commented on #1587
Glad you fixed it.

[2019-03-15 22:42] #1587 closed

[2019-03-15 23:02] #1585 closed

[2019-03-17 09:29] cristianvogel opened #1596 "TypeError: e is undefined"
Hi,
I keep getting this in the Console, but I am not sure if it is being generated by WaveSurfer?

live page http://endless-process.net/playerDemo.html

`TypeError: e is undefined[Learn More] wavesurfer.js:1:3553`

    `value https://unpkg.com/wavesurfer.js:1 forEach self-hosted:262 value https://unpkg.com/wavesurfer.js:1 value https://unpkg.com/wavesurfer.js:1 value https://unpkg.com/wavesurfer.j

[2019-03-17 11:04] cristianvogel opened #1597 "isReady() method"
Hi,

the documented isReady() and getReady() methods don't seem to be working for me.

[2019-03-17 11:53] #1596 closed

[2019-03-17 23:28] thijstriemstra commented on #1597
`getReady()` does not exist, where is this documented?

`isReady` is defined as both a attribute and method, something that seems to be introduced in 2.0.5 by @Guisch (and approved by me :disappointed:), see #1338 and https://github.com/katspaugh/wavesurfer.js/blob/72bdf70a5b3d9f3ea5bb7cb5326f68ce469e2a6d/CHANGES.md#205-26022018

While testing `wavesurfer.isReady` returns `true` and `wavesurfer.is

[2019-03-18 00:20] thijstriemstra commented on #1281
This looks promising as well: https://github.com/chrisguttandin/standardized-audio-context

[2019-03-18 13:57] katspaugh commented on #1597
I also vote for the first option. It's just a boolean property.

[2019-03-18 14:24] cristianvogel commented on #1597
Hi

I have double checked , and I see only  isReady() documented here https://wavesurfer-js.org/api/class/src/wavesurfer.js~WaveSurfer.html <https://wavesurfer-js.org/api/class/src/wavesurfer.js~WaveSurfer.html>

If its an .isReady attribute I then need to make my own listener.

In line with the other covenience Classes in WS  I think it should be a method that returns a Boolean, which is what I w

[2019-03-19 14:09] thijstriemstra commented on #1597
I don't get this.

[2019-03-19 15:15] cristianvogel commented on #1597
Sorry if my participation is annoying you - I am pretty new to this Javascript thing, and I really like how WaveSurfer has helped me create my own player - I just wanted to try and join in....

The behaviour I was needing, was to find out if the WaveSurfer is ready, and flip a load of flags accordingly. Maybe I am just not doing that the right way.

I have now seen there is an Event I can use that

[2019-03-19 15:30] thijstriemstra commented on #1597
Don't be such a baby. It is not annoying at all.

[2019-03-19 15:32] thijstriemstra commented on #1597
Use the `ready` event.

[2019-03-19 16:08] Vijayalaxmim commented on #1565
The issue got solved after using  'WebAudio'  as  backend instead of MediaElement

[2019-03-19 16:09] #1565 closed

[2019-03-19 18:09] llenk opened #1599 "MediaElement backend with .loadBlob"
I'm trying to use .loadBlob with a MediaElement backend, and getting the following error:
[code]
The line numbers/file names are off because of webpack, but the actual line of code throwing the error is https://github.com/katspaugh/wavesurfer.js/blob/master/src/mediaelement.js#L99

Is using .loadBlob with a MediaElement backend supported use, or should I stick to WebAudio backend?

## Please make

[2019-03-19 20:54] cristianvogel commented on #1597
that works for me , thanks...

[2019-03-21 10:31] X-Raym commented on #160
I made a bit of research and found that the algo behind that is called Spectral Centroid. Comparisonics used private patented algorithm but Spectral Centroid is a simple math funciton (free / open source etc).

You can see a demo of this implemented in JavaScript on waveforms on the nice [fav.js](https://github.com/flucoma/fav.js) library:

[!img](https://monosnap.com/direct/ffurskujrDsIOjzQOzcq9j

[2019-03-21 12:27] X-Raym commented on #1490
@Stoyvo This is a duplicate of this issue :

https://github.com/katspaugh/wavesurfer.js/issues/160

[2019-03-21 13:25] Stoyvo commented on #1490
Wow, sorry @X-Raym, I'll close this ticket. So happy to see others interested in this feature :)

[2019-03-21 13:25] #1490 closed

[2019-03-21 19:29] aburai commented on #1599
1188 wavesurfer.js
[code]

load() with backend MediaElement can't consume buffer, it wants url and container
currently you must stick to WebAudio, i think

[2019-03-23 14:03] #1599 closed

[2019-03-23 23:35] sshadmand commented on #1507
FYI for those still experiencing an issue with responsive.
Using  `responsive: true` no longer pushes an error to the console, but it often does not render the waveform. Removing the `responsive: true` the waveform every time. So, something may be slipping by.

[2019-03-25 17:01] katspaugh commented on #160
Looks damn cool!

[2019-03-26 23:10] thijstriemstra opened #1600 "Support for OffscreenCanvas"
See https://developers.google.com/web/updates/2018/08/offscreen-canvas and https://developer.mozilla.org/en-US/docs/Web/API/OffscreenCanvas

[2019-03-27 07:14] sanjeev441 commented on #524
Hello @katspaugh,

I used wavesurfer.js package its working great.

I want to know, can we differentiate voice from audio file using wavesurfer.js.
in audio conversion between two person can we separate Two Voice's showing different color?
Please give me replay  as soon as possible.

[2019-03-27 10:10] X-Raym commented on #524
@sanjeev441
Please open a dedicated issue, it has nothing to do with this one.

[2019-03-27 10:44] sanjeev441 commented on #524
do you know any voice differentiate or separate packages.

[2019-03-27 23:46] thijstriemstra commented on #1520
You need to normalize the JSON peaks (between 0 and 1), using this Python script for example:

[code]

[code]

I also use `--pixels-per-second 20`. Does this help @TheFrankman

[2019-03-28 07:23] jamesshannon opened #1602 "Regions plugin keeps adding listener"
Splitting from #1572 because things seem to have gotten confusing.

Every time you load a new file the regions plugin adds new listeners. The effect is that if you load several files and then you create a single region you get several regions -- one for each file you've ever loaded.

https://jsbin.com/mutavib/edit?output

Expectation: Every time you load a new file the plugins should effectively r

[2019-03-28 07:39] jamesshannon commented on #1572
The PR might have solved the bug in destroying the spectogram plugin, but it doesn't seem to have done anything for the fact that spectogram is adding new listeners each time a file is loaded.

I assume that this is the same root cause as the bug in the regions plugin, which I demonstrated in the jsbin URL which I posted above. But I think I caused more confusion, so I split that into its own bug

[2019-03-28 07:49] jamesshannon commented on #1436
FWIW, I implemented this locally. It works great for me, but I don't think it's solid enough for a PR request. For one, it should be configurable. But, I might as well share what I have.

Add this line to the top:

[code]

Then replace the `const colorValue` and `fillStyle` lines ([currently 455-463](https://github.com/katspaugh/wavesurfer.js/blob/master/src/plugin/spectrogram.js#L455-L463)) with:

[2019-03-28 08:21] jamesshannon commented on #1572
I think I figured this out locally.

`enableDragSelection()` creates an anonymous `eventDown()` function locally and then calls `addEventListener()` (https://github.com/katspaugh/wavesurfer.js/blob/master/src/plugin/regions.js#L754).

It seems that calling `enableDragSelection()` on each new file is necessary, so my assumption that this was like the regions bug and `onReady()` was getting called t

[2019-03-28 08:28] jamesshannon commented on #1602
I think I figured this out locally.

`enableDragSelection()` creates an anonymous `eventDown()` function locally and then calls `addEventListener()` (https://github.com/katspaugh/wavesurfer.js/blob/master/src/plugin/regions.js#L754).

It seems that calling `enableDragSelection()` on each new file is necessary, so my assumption that this was like the regions bug and `onReady()` was getting called t

[2019-03-28 17:09] oaeide commented on #1407
I too am curious about this...

[2019-03-30 22:06] #1597 closed

[2019-03-31 09:06] thijstriemstra commented on #1583
no feedback, closing.

[2019-03-31 09:06] #1583 closed

[2019-03-31 12:46] thijstriemstra commented on #1566
no feedback, closing.

[2019-03-31 12:46] #1566 closed

[2019-03-31 12:58] thijstriemstra commented on #1563
Use the `MediaElement` and pre-generate the peaks on the server. See the https://wavesurfer-js.org/example/audio-element/index.html example.

[2019-03-31 12:58] #1563 closed

[2019-03-31 12:59] thijstriemstra commented on #1544
Use the `MediaElement` and pre-generate the peaks on the server. See the https://wavesurfer-js.org/example/audio-element/index.html example.

[2019-03-31 12:59] #1544 closed

[2019-03-31 13:43] thijstriemstra commented on #1535
@MichalSzorad @uhoh-itsmaciek I think I fixed this in PR #1606, can you give that a try?

[2019-03-31 23:59] thijstriemstra commented on #722
The `audiowaveform` tool should be used for generating peaks, see the FAQ for more info: https://wavesurfer-js.org/faq/

If there's another way to generate peaks using `wav2json`, post them here and we can add that to the FAQ as well.

[2019-03-31 23:59] #722 closed

[2019-04-01 00:13] thijstriemstra commented on #505
See https://github.com/katspaugh/wavesurfer.js/issues/669#issuecomment-213200504

[2019-04-01 00:13] #505 closed

[2019-04-01 00:15] thijstriemstra commented on #1075
Use the `audiowaveform` tool to generate peaks, see https://wavesurfer-js.org/faq/ for more info.

[2019-04-01 00:15] #1075 closed

[2019-04-01 00:16] thijstriemstra commented on #933
@constmoon do you have some example code to reproduce this?

[2019-04-01 00:17] thijstriemstra commented on #787
no feedback, closing.

[2019-04-01 00:17] #787 closed

[2019-04-01 00:21] thijstriemstra commented on #1178
Use `wavesurfer.setProgressColor(color)` and `wavesurfer.setWaveColor(color)`.

[2019-04-01 00:21] #1178 closed

[2019-04-01 00:23] thijstriemstra commented on #1360
Check the FAQ for the official docs: https://wavesurfer-js.org/faq/

[2019-04-01 00:23] #1360 closed

[2019-04-02 02:33] thijstriemstra commented on #1485
what browser/OS/waevsurfer version?

[2019-04-02 05:21] chintan12 opened #1607 "How to convert an audio from LR output to C output?"
### Wavesurfer.js version(s):
2.0.0

### Browser version(s):
Version 69.0.3497.100 Google Chrom.

[2019-04-02 17:20] thijstriemstra commented on #1607
I'm not sure what you're trying to do, and how this relates to wavesurfer.js?

[2019-04-02 17:33] uhoh-itsmaciek commented on #1535
Thanks! I'll check this later this week.

[2019-04-02 22:26] #1572 closed

[2019-04-02 22:27] thijstriemstra commented on #1572
Thanks for the test case. I fixed it in the master branch, give it a try if you can.

[2019-04-02 23:01] thijstriemstra commented on #1602
thanks for the test case. #1608 should fix this, can you test that PR @jamesshannon?

[2019-04-03 13:45] Wentris71 opened #1609 "Prevent auto seeking when user click to canvas"
Hi, I need to save all of functionality but also have to cancel seeking position when user works with wavesurfer (create ranges).

I've separated seeking by alternative playback, and I wanna use canvas only for working with ranges and my extension - for seeking. A lot of our real users want it...

It looks like
<img width="910" alt="Знімок екрана 2019-04-03 о 16 41 56" src="https://user-images.git

[2019-04-03 19:12] thijstriemstra commented on #1609
`interact: false`?

[2019-04-03 19:44] Wentris71 commented on #1609
doh... sorry for stupid question, I thought this option can cancel creating of ranges. Thx a lot.

[2019-04-03 19:55] #1609 closed

[2019-04-05 16:27] #1602 closed

[2019-04-07 00:21] thijstriemstra opened #1610 "Blob support for exportImage"
`wavesurfer.exportImage` currently only can return dataURL strings. Being able to return `Blob` objects would be useful as well.

[2019-04-07 18:58] batatop commented on #1010
I had the same problem. You can solve it by firing the function inside the `wavesurfer.on('ready', function)` event.

[2019-04-08 00:38] batatop opened #1612 "wavesurfer.load(url, peaks) with pre-rendered peaks doesn't load"
### Wavesurfer.js version(s):
^2.2.1, 2.1.1

### Browser version(s):
Electron ^3.0.10

### Code needed to reproduce the issue:
[code]

### Use behaviour needed to reproduce the issue:
Waveform doesn't load when you provide pre-rendered peaks. It works without providing peaks. I generated peaks using `wavesurfer.exportPCM()` function.  I also provided constant peaks such as `[ 0.000030517578125, -0

[2019-04-08 03:12] thijstriemstra commented on #1612
give this example a try: https://github.com/katspaugh/wavesurfer.js/tree/master/example/audio-element

[2019-04-08 14:49] #1610 closed

[2019-04-08 14:53] rockyhuber commented on #1566
Hi, sorry for the delay mate. Don't receive github notifications in email for some reason. I have done some custom work to wavesurfer, so will need to merge the code bases. Will let you know if the 2.2.0 fixes work in due course.

[2019-04-09 00:00] batatop commented on #1612
I couldn't see any difference on the implementation. I use React so I tried to implement similarly. Also as I mentioned, when I don't provide peaks or when I use version 1.4.0, it works. Is there a difference between implementing regularly and with peaks other than `backend: 'MediaElement'` after version 2? Thank you.

[2019-04-09 01:20] thijstriemstra commented on #1612
hehe, if it works in the example, and it doesn't work in your project, take another look.

[2019-04-09 01:20] #1612 closed

[2019-04-09 15:17] lorenzos opened #1614 "IE11: Fallback to MediaElement not working, it always tries to access AudioContext"
README [says](https://github.com/katspaugh/wavesurfer.js/blob/master/README.md#browser-support) that the player will fall back on audio element (without graphics) on browser that don't support WebAudio (i.e. IE 11), but still it doesn't look to work at all if WebAudio is missing.

IE 11, for example, throws an error because wavesurfer tries to access `AudioContext` or `window.webkitAudioContext`,

[2019-04-09 15:56] thijstriemstra commented on #1614
@lorenzos the `MediaElement` extends the `WebAudio` backend, so it shares that code.

what does `wavesurfer.backend.supportsWebAudio()` return?

[2019-04-09 16:10] lorenzos commented on #1614
In fact, I see. I think the problem is exactly here. The `MediaElement` backend constructor [calls](https://github.com/katspaugh/wavesurfer.js/blob/ff5d8b442bc503890068b5a206eaf9142fffbf1f/src/mediaelement.js#L14) `super()`, so [this line](https://github.com/katspaugh/wavesurfer.js/blob/ff5d8b442bc503890068b5a206eaf9142fffbf1f/src/webaudio.js#L106) in `WebAudio` is run, and the `getAudioContext()`

[2019-04-09 16:40] toolowner commented on #1286
@thijstriemstra Files for the Split Wave Point plugin still in #1048
It is used for rendering data points following timeline, you can check the demo on http://www.jrweth.com/wavesurfer2/example/split-wave-point-plot/

I have been looking for something similar to #1255 that @DrLongGhost hasn't finished it yet. This one can also help to solve #269.

I really miss the Split Wave Point :cry:

[2019-04-09 16:46] thijstriemstra commented on #1614
@lorenzos that's the line, yep. What if you pass in a fake audiocontext using the options, e.g. `audioContext: {}`?

[2019-04-09 16:51] thijstriemstra commented on #1286
@toolowner can you open a pull request with the missing files?

[2019-04-09 17:13] toolowner commented on #1286
Yes, I could, but the problem is that the plugin was written in es5, it doesn't appear compatible with version 2.

[2019-04-09 17:14] thijstriemstra commented on #1286
rewriting it shouldn't be too hard? how many lines is it

[2019-04-09 17:16] toolowner commented on #1286
The https://github.com/katspaugh/wavesurfer.js/blob/es5/src/drawer.split-wave-point-plot.js has more than 350 lines of code.

This is the place where it's called https://github.com/katspaugh/wavesurfer.js/blob/es5/example/split-wave-point-plot/app.js

[2019-04-09 19:53] thijstriemstra opened #1615 "MediaElement mute not updated"
When you unmute the volume of an existing `<audio>` element, `wavesurfer.isMuted` is still `true`.

[2019-04-09 23:00] thijstriemstra commented on #1474
ping @fabianodanz

[2019-04-09 23:02] thijstriemstra commented on #435
no feedback, closing (can't reproduce)

[2019-04-09 23:02] #435 closed

[2019-04-09 23:03] thijstriemstra commented on #1082
the `audio-element` shows how to do this now.

[2019-04-09 23:03] #1082 closed

[2019-04-09 23:04] thijstriemstra commented on #618
stale issue, closing.

[2019-04-09 23:04] #618 closed

[2019-04-10 07:19] lorenzos commented on #1614
@thijstriemstra It does work!

[2019-04-10 12:19] thijstriemstra commented on #1614
So we need some check in the MediaElement class that makes sure `params.audioContext` is an empty object when it's run in the IE11 browser. Want to make a PR for that @lorenzos?

[2019-04-10 12:30] SalmaTofaily commented on #1370
You shall define the div before the js script that initializes the object from the container.
This example can work, regardless of that you may find a CORS problem to solve.

<html>
<head>
<script src="https://unpkg.com/wavesurfer.js"></script>

</head>
<body>
<div id="waveform"></div>
<script src="./js/main.js"></script>

</body>
<html>

[2019-04-10 12:32] SalmaTofaily commented on #1370
You shall define the waveform div before the js script that initializes the object from the container.
This example can work, regardless of that, you may find a CORS problem to solve.
<html><head><script src="https://unpkg.com/wavesurfer.js"></script></head>
<body><div id="waveform"></div><script src="./js/main.js"></script></body></html>

[2019-04-10 12:44] lorenzos commented on #1614
Sure.

[2019-04-10 16:33] lorenzos commented on #1614
Done. The Audio Element demo still doesn't work in IE 11, but now it's just because IE doesn't support WAV files playback. I tried using an MP3 instead (this is not included in the PR, obviously) and it works as expected: plain line, no waveform, but playing and seeking correctly.

[2019-04-10 16:36] thijstriemstra commented on #1614
Thanks. Perhaps we can have the main example on the website (and the audio element example) load an mp3 instead. Is mp3 supported on all browsers?

[2019-04-10 16:38] #1614 closed

[2019-04-10 18:29] lorenzos commented on #1614
[Looks like it's supported everywhere](https://caniuse.com/#feat=MP3).

[2019-04-10 18:42] thijstriemstra commented on #1614
Maybe I misunderstand, but are you saying it also **doesn't** work with mp3 in IE11?

[2019-04-10 21:50] lorenzos commented on #1614
Once the AudioContext issue is fixed, the demo still doesn't work in IE 11 since it doesn't support WAV files. **It works** if you use an MP3 instead.

[2019-04-10 22:00] thijstriemstra commented on #1614
That's good news. Leaving the demo's with .wav is fine then, if people want to use IE11 they'll figure out MP3 is their only option.

[2019-04-11 08:24] toolowner commented on #1286
@thijstriemstra I will do it. The rewrite will similar to the timeline and spectrogram plugin.

I don't have much experience on canvas nor the webaudio, so I hope you don't mind if I may ask some silly questions.

[2019-04-16 05:04] uhoh-itsmaciek commented on #1535
Sorry for the delay. Just checked as of 72b06d09fc86742985b5fa850dc332d0f868c1ac and the problem is not fixed and in fact playback progress no longer updates for me on the histogram when I control playback using the media element controls. Did I miss some breaking changes in configuration in 3.0.0? My setup is pretty simple:

[code]

where `#waveform` is just `<div id='waveform' />`. The audio is

[2019-04-16 22:51] thijstriemstra commented on #1535
histogram? that might be a completely different issue. you shouldn't test fixes with howler or histogram, does it work with normal wavesurfer.js usage, same as you reported. It looks fixed here.

[2019-04-17 12:08] mehdi78800 commented on #1436
Thank you, really helpfull, it works for me

[2019-04-17 15:28] TheFrankman commented on #1520
@thijstriemstra

Thanks for replying to this, and sorry it took me so long to get back. Sadly this makes no difference.

I have done what you have suggested above but in PHP

[code]

This is what it looks like if wavesurfer generates it as normal
![image](https://user-images.githubusercontent.com/1402017/56300100-390bad80-612d-11e9-95b2-e8416b5a3486.png)

This is what it looks like with normalised

[2019-04-17 17:48] thijstriemstra commented on #1520
yea, the peaks need to be between -1 and 1.

[2019-04-17 23:48] thijstriemstra commented on #1365
Since we're going to release a 3.0.0 I suggest

- we don't offer any backwards-compat; replace `XMLHTTPRequest` with `fetch`
- browsers that do not support fetch (IE11) can use the fetch [polyfill](https://github.com/github/fetch)

[2019-04-18 09:53] TheFrankman commented on #1520
@thijstriemstra - so the peeks are all between -1 and 1 but still comes out nothing like how wavesurfer generates it if you don't pre-load the peaks. Seems the level of accuracy is the issue... I'm not sure.

[2019-04-18 10:26] ThoughtZer opened #1625 "code loss"
![image](https://user-images.githubusercontent.com/23690568/56354752-282f6a80-6207-11e9-8bdc-53d0777714fc.png)

When I used wavesurfer by the cdn, I found that the code was lossed.why?

[2019-04-18 16:58] rhamnett opened #1626 "playLoop will not play a region on clips with duration <15s"
Create one clip 5 seconds long, select a region and use  wavesurfer.regions.list[e.id].playLoop();

Outcome: File plays from the start.

Create one clip 16 seconds long, select a region and use  wavesurfer.regions.list[e.id].playLoop();

Outcome: Clip plays the dragged region loop

[2019-04-18 19:15] vikasmagar512 opened #1627 "Adjusting the waveforms with offset time in the beginning for multiple tracks"
# offsetting the waveforms with some time
Thanks community for building such an awesome library.
I am trying to build up an open source application like [soundtrap](https://www.soundtrap.com)

- I am able to perform basic functions like cut, copy, paste regions
- How to offset tracks with some time in before, between and after a waveform, so that i can decide how to sequence the multiple tracks li

[2019-04-18 23:28] thijstriemstra commented on #1625
Can you explain in more detail (using google translate)?

[2019-04-18 23:31] thijstriemstra commented on #1627
please try to build this app, and whenever you encounter a wavesurfer.js-related bug, open a ticket. This is not a forum.

[2019-04-18 23:31] #1627 closed

[2019-04-19 06:17] ThoughtZer commented on #1625
sorry， my English is too bad.☹

When I used codepen to practice wavesurfer.js, I found that the code was not the same as the npm package.

eg: https://codepen.io/thoughtzer/pen/NmYpEd

[2019-04-19 06:20] ThoughtZer commented on #1626
Using the latest version, I found that the play method will be reported incorrectly. The reason is the listening of the seeking method.

[2019-04-20 08:23] sandiz opened #1628 "barWidth option broken after commit 18cad42e"
### Wavesurfer.js version(s):
latest master

### Browser and operating system version(s):
electron: 4.0.4 chrome: 69.0

hi! firstly thank you for the great library, i'm having a lot of fun working with it.

i have been keeping up with the latest master and noticed that the waveform has stopped generating with commit 18cad42e (canvasentry refactor)

pre 18cad42e:
![image](https://user-images.github

[2019-04-20 09:43] aivo0 commented on #1524
The correct issue descriptions should be "Method setPlaybackRate leads to sound distortion with WebAudio backend".

This is because this happens when wavesurfer backend is WebAudio and not when MediaElement. I was playing a regular 3-minute MP3 file. Using latest Chrome (v 73) and Firefox (66), Windows 10.

WebAudio is the default backend. I also sadly need to use it for 2 reasons:
1. With MediaEl

[2019-04-22 17:20] aburai commented on #1520
@TheFrankman  I have the same problem when i start to use pre-generated peaks, it doesn't fit to the peaks generated by wavesurfer. But then i use audacity as reference for my peaks and it seems to fit to audiowaveform peaks. Maybe you can compare with audacity too and you feel better. ;)

[2019-04-22 19:47] thijstriemstra commented on #1628
thanks for the report @sandiz. can you also try to narrow it down (browser-only, not electron and disable plugins for example)?

[2019-04-22 19:49] thijstriemstra commented on #1626
can you be more specific?

[2019-04-22 20:47] mayorbyrne opened #1629 "Transformation Matrix throws off interaction"
Hello, if there is a transformation matrix on the container div, the waveform loads and displays, but the interact portion gets thrown off.

In [this example](https://wavesurfer-js.org/example/audio-element/index.html), you can see for yourself if you add `transform: matrix(0.5, 0, 0, 0.5, 0, 0)` to the `#waveform` div

Is there any way to remedy this or should I disable user interaction and manua

[2019-04-22 22:34] sandiz commented on #1628
hi @thijstriemstra, tried narrowing it down by using the spectogram example. it seems `barWidth` is the culprit..

with latest master and barWidth:

![image](https://user-images.githubusercontent.com/5438703/56536852-ee66a880-6513-11e9-839f-e2a87c046238.png)

with latest master and barWidth commented:

![image](https://user-images.githubusercontent.com/5438703/56536804-cd05bc80-6513-11e9-8b20-43f3

[2019-04-22 22:37] sandiz commented on #1628
the original waveform in my electron app also starts working if i comment out barWidth
![image](https://user-images.githubusercontent.com/5438703/56537104-911f2700-6514-11e9-89da-096b408322ef.png)

[2019-04-23 01:55] ThoughtZer commented on #1626
version: 2.2.1

https://github.com/katspaugh/wavesurfer.js/blob/faa7d660f758f493914f30341c0983222788ab35/src/mediaelement.js#L158-L162

The timeStamp in this method will affect the execution of the play(start, end) method？The timestamp will be greater than the end to stop playing and jump to the end.

https://github.com/katspaugh/wavesurfer.js/blob/faa7d660f758f493914f30341c0983222788ab35/src/medi

[2019-04-23 02:00] ThoughtZer commented on #1625
My original question is here.

The wavesurfer introduced by codepen does not have the seeking method, but the npm package has it. So I didn't reproduce the problem through the codepen.

https://github.com/katspaugh/wavesurfer.js/issues/1626#issuecomment-485612639

[2019-04-23 11:06] GregoryWullimann opened #1630 "Load peaks without a media element?"
Hi

Currently I'm generating the peaks on the server, and then fetch them with javascript, as explained in the FAQ (https://wavesurfer-js.org/faq/)

Everything is fine but what I want to achieve is to call `load` without passing a media url/element, so I want only to use the peaks array, something like this:

` wavesurfer.load(null, peaks.data);`

Is it possible to achieve it in some way?

[2019-04-23 12:14] thijstriemstra commented on #1625
@ThoughtZer what you see in the master branch is not released yet (as v.3.0.0). So that's why it's missing in the NPM package. Either use master branch, or wait till v3.0.0 is released.

[2019-04-23 12:14] #1625 closed

[2019-04-23 12:15] thijstriemstra commented on #1626
the code you referring to was added to the master branch recently and has not been released yet. Looks like it's buggy.

[2019-04-23 12:28] thijstriemstra commented on #1629
@mayorbyrne you probably need to apply the transform on the `waveCtx` in `wavesurfer.drawer.canvases[0].waveCtx` (and do it for every canvas in that `canvases` array).

https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/transform

[2019-04-23 12:28] #1629 closed

[2019-04-23 12:38] thijstriemstra commented on #1628
I didn't properly test barWidth option while working on the `CanvasEntry` code, issue is somewhere in change made to `MultiCanvas` here: https://github.com/katspaugh/wavesurfer.js/compare/2.2.1...master#diff-b69b942b0f75bc91abe0a1690a528fb8

[2019-04-23 13:27] thijstriemstra commented on #1535
The fix in #1606 wasn't sufficient, re-opening this.

[2019-04-23 13:29] thijstriemstra commented on #1535
it should probably use `getCurrentTime()` and `seeked` instead..

[code]

[2019-04-24 07:24] r01010010 commented on #107
+1 to show an incremental waveform as audio is being loaded WITHOUT having to change anything at the backend. It can be perfectly done with the audio api in my opinion.

[2019-04-24 07:27] ThoughtZer commented on #1551
@15838028035 Are you using the peaks json passed from the server to the front end? I also encountered a problem with excessive memory usage.
But I am generating  from the front end.

[2019-04-24 13:15] thijstriemstra commented on #1535
@uhoh-itsmaciek can you give #1631 a try?

[2019-04-25 19:16] rhamnett commented on #1626
This isn't closed. The other commenter is referring to something completely different from the original problem, which exists in the currently stable version of wavesurfer referenced in https://unpkg.com/wavesurfer.js

[2019-04-25 19:38] rssdave opened #1634 "Turn off browser audio pre processing"
Hello,

We have noticed that when recording in Chrome and Firefox audio is being be pre-processed by the browsers as detailed here:

https://stackoverflow.com/questions/31426551/get-consistent-audio-quality-with-getusermedia-using-different-browsers?rq=1

Where would we add options to turn this off? It looks like we are required to add:
[code]

[2019-04-26 10:10] yohanndev commented on #1513
Hi, any ideas?  I'm stuck too on the old way to achieve it. I guess there is something to do here to editing how it's drawing but how ?
`key: "drawBars",
    value: function drawBars(peaks, channelIndex, start, end) {
      var _this4 = this;

      return this.prepareDraw(peaks, channelIndex, start, end, function (_ref) {
        var absmax = _ref.absmax,
            hasMinVals = _ref.hasMinVals,

[2019-04-27 09:16] #1513 closed

[2019-04-27 21:17] uhoh-itsmaciek commented on #1535
Sorry, I misspoke: by "histogram" I meant the waveform visualization. This does seem to work.

[2019-04-28 10:41] #1535 closed

[2019-04-28 14:27] thijstriemstra commented on #1634
You use the `constraints` option of the microphone plugin: https://github.com/katspaugh/wavesurfer.js/blob/master/src/plugin/microphone.js#L3

[2019-04-28 14:27] #1634 closed

[2019-04-28 17:00] thijstriemstra commented on #1626
please open a new ticket with details

[2019-04-28 21:30] thijstriemstra commented on #1626
@moritzvieli any idea about this regions issue?

[2019-04-28 21:30] thijstriemstra commented on #1573
@moritzvieli any idea about this regions issue?

[2019-04-29 07:57] aburai commented on #1573
i think it is no problem to get x,y position on mouseover (like cursor) and find all regions
my way is a gantt like diagram on top of the waveform that shows the regions

[2019-04-29 08:34] Kailegh opened #1636 "Not transcribing spaces correctly"
Hi, I was trying to use WaveSurfer to transcribe some audios. My problem is that when I type a space in the .lab pane, it is automatically converted to _ . I do not know why spaces are converted to underscores, is there a way to solve this?
Thanks a lot for your work!

[2019-04-29 10:39] aburai commented on #1636
I think you should provide more context.

[2019-04-29 10:54] Kailegh commented on #1636
I load and audio, and using the .lab pane I input some transcript, when I type a space, y get and underscore, as seen in next picture
![image](https://user-images.githubusercontent.com/20105814/56891707-a698d180-6a7d-11e9-8ca9-d5d26465d99e.png)

However if I use the browse option i can type spaces with no problem at all
![image](https://user-images.githubusercontent.com/20105814/56891790-ee1f5d80-

[2019-04-29 11:47] thijstriemstra commented on #1636
what is a `.lab pane`? please provide some code to reproduce this.

[2019-04-29 15:23] aburai commented on #1546
i use v2.2.1 and still have problems with IE, because there is no window.AudioContext or webkitAudioContext and `new (window.AudioContext || window.webkitAudioContext)()`throws an error

[2019-04-29 15:37] thijstriemstra commented on #1546
@aburai take a look at the changelog for 3.0.0: it includes #1614 that should fix this.

[2019-04-29 15:38] thijstriemstra commented on #1546
duplicate of #1614

[2019-04-29 15:38] #1546 closed

[2019-04-29 16:27] aburai commented on #1546
thx Thijs

[2019-04-29 22:26] thijstriemstra commented on #1628
@sandiz if you can help figure out what broke during that refactor, much appreciated, I'm focusing on other areas right now. This issue does block the 3.0.0 release though, which sucks.

[2019-04-29 23:58] thijstriemstra commented on #1557
no feedback.

[2019-04-29 23:58] #1557 closed

[2019-04-30 04:40] sandiz commented on #1628
hi @thijstriemstra
pushed a fix for this in pr #1637, some arguments were missing.

[2019-04-30 11:33] #1628 closed

[2019-05-01 01:33] thijstriemstra commented on #1487
@javaskript what wavesurfer params are you using?

[2019-05-01 01:36] #1062 closed

[2019-05-01 07:32] vikasmagar512 commented on #419
Hi, I have implemented cut, copy, paste in wavesurfer. Please refer to this repo
https://github.com/vikasmagar512/wavesurfer-audio-editor

[2019-05-01 22:41] Stoyvo commented on #1538
This was addressed in your latest updates @thijstriemstra ! Thank you.

[2019-05-01 22:41] #1538 closed

[2019-05-01 22:59] thijstriemstra commented on #1538
nice! which ones specifically @Stoyvo?

[2019-05-01 23:07] Stoyvo commented on #1436
Thanks @jamesshannon!

Can someone point me in a direction to instead color the waveforms using this frequency data instead of generating the spectrum? I would be more than happy to make this PR, just not sure where to start. I was considering adding logic to https://github.com/katspaugh/wavesurfer.js/blob/master/src/drawer.canvasentry.js#L141

CC: @thijstriemstra because you have deep knowledge,

[2019-05-01 23:11] Stoyvo commented on #1538
@thijstriemstra It was this commit https://github.com/katspaugh/wavesurfer.js/commit/18cad42e4e3b6e530f2972bbc55dc212d63c9958

Not all heroes wear capes!

[2019-05-01 23:15] thijstriemstra commented on #1436
yes this looks cool. doing something with `setFillStyles` looks like a good start, you'll just need to dig in @Stoyvo, PRs and questions are welcome.

[2019-05-02 01:13] javaskript commented on #1487
@thijstriemstra The default parameters for the most part. I'm only using WaveSurfer to render the waveform, uploading the result to the server via ajax, pulling the .json file, and drawing it on unique canvases (not using it to play the tracks at all, I'm using jPlayer for that). I'm using a custom renderer, however, to make use of gradients and a half-height reflection. Image: https://i.imgur.com

[2019-05-02 13:36] Ziggy2001 opened #1639 "Stop Waveform being processed. Is it possible?"
Hi, is there a way to stop the waveform being processed?

If I load a piece of audio to wavesurfer then it starts to generate the peaks. However, if I then load another piece of audio instead to the same wavesurfer instance with some pre-rendered peaks then the pre-rendered peaks appear, but then get overwritten by the previous files peaks.

Every file should have pre-rendered peaks in my project

[2019-05-02 15:33] thijstriemstra commented on #1639
can you lay out in steps when/where you want to abort the process?

[2019-05-02 15:42] Ziggy2001 commented on #1639
This command is raised to load the file and by default will start generating the peaks for the file.

`wavesurfer.load( file1 );`

Before the above file has finished rendering the waveform / peaks, this command is raised, usually by user interaction, and has pre-rendered peak data:

`wavesurfer.load( file2, peaks );`

At this point file2 loads quickly with the waveform.

Then after a few seconds t

[2019-05-03 06:20] nikhilkhedkar opened #1641 "Adding fixed scale to timeline"
While trying to use WaveSurfer, we want to enforce a standard scale to the timeline. At any given point in time, we want only 30 seconds of the audio file to be displayed. For navigating to previous or next sections of the audio file, the user would click on Previous or Next buttons. I think the default functionality of WaveSurfer does not allow for any such scale to be specified. The scrollbars a

[2019-05-03 09:23] moritzvieli commented on #1573
Indeed, this is the way, html behaves. And I agree with @aburai. It should be possible to calc the position the way the cursor does it: https://github.com/katspaugh/wavesurfer.js/blob/master/src/plugin/cursor.js
-> _onMousemove

[2019-05-03 09:39] moritzvieli commented on #1626
I cannot reproduce this issue in the current master state form Github. Tested with a 5 seconds WAV file in Chrome and Safari - both worked as expected. @rhamnett Do you have more information? Can you maybe provide the WAV file you're using?

[2019-05-03 10:23] thijstriemstra opened #1642 "Use canvas desynchronized hint"
Introduced in Chrome 75, see https://developers.google.com/web/updates/2019/05/desynchronized

[2019-05-03 11:45] zapfdk commented on #1573
I solved this by adding a onmousemove listener on the wavesurfer container, and getting the current x position:
[code]

Then calculating the corresponding second for the x-value, then iterating all regions and see if they match

[code]
With currentLeftSec/currentRightSec the borders of the current waveform view, calculated in an onscroll event and viewWidth being `document.getElementById("waveform

[2019-05-03 14:47] Ziggy2001 commented on #1639
For anyone else having this issue I managed to alleviate it by setting the forceDecode parameter on the fly.

When I find pre-rendered peaks, before loading, I set:

`wavesurfer.params.forceDecode = false;`

When I don't find pre-rendered peaks I set:

`wavesurfer.params.forceDecode = true;`

It appears setting to false before loading pre-rendered peaks, stops the previous rendering, which is what

[2019-05-03 17:51] #1639 closed

[2019-05-04 13:20] gartenfeld opened #1643 "Possible dead code in getPeaks"
https://github.com/katspaugh/wavesurfer.js/blob/b154dc4e4c152a7890e1f284972f7f8a6a3dbd93/src/webaudio.js#L397-L410

With [Line 397](https://github.com/katspaugh/wavesurfer.js/blob/b154dc4e4c152a7890e1f284972f7f8a6a3dbd93/src/webaudio.js#L397) above, the second block is not making much sense, since `setLength` doesn't change the `buffer`.

[2019-05-04 20:14] thijstriemstra commented on #1643
You're right. There's an https://eslint.org/docs/rules/no-unreachable eslint rule, and after enabling it, there are no errors detected even though it should, bleh.

[code]

[2019-05-05 17:41] aburai commented on #1643
the linter do not know, if the implementation of `setLength()` in runtime, change the buffer or not
for me it is valid code, but in my code i would add a comment for clarification

[2019-05-06 12:16] Stoyvo opened #1644 "AIFF Support"
### Wavesurfer.js version(s):
2.2.1

### Browser and operating system version(s):
Chrome 73

### Code needed to reproduce the issue:
Any example from website

### Use behaviour needed to reproduce the issue:
Using an AIFF file (source is from Beatport), webaudio decodeArrayBuffer is throwing an error "Uncaught (in promise) DOMException"

From what I read online, WAV and AIF/AIFF are supported. I c

[2019-05-07 09:58] tibbing commented on #1228
Still experiencing this in Wavesurfer 2.2.1, when quickly switching between different sources. Any update?

[2019-05-07 12:19] thijstriemstra commented on #1228
@tibbing have you tried the master branch?

[2019-05-07 13:44] conraddeweteuphoria opened #1645 "wavesurfer.exportPCM, great - now what?"
Hi, I'm using wavesurfer quite nicely to achieve what I want - I can record from the Mic using MediaRecorder, or Uploading from my PC... all good.

Now its time to upload the "previewed" audio that wavesurfer has, so I found exportPCM(length, accuracy, noWindow, start), and im pretty sure I can figure out what to supply in length, accuracy, noWindow and start, but want I cant figure out, is: Now w

[2019-05-07 22:40] thijstriemstra commented on #1644
any links?

[2019-05-07 22:43] thijstriemstra commented on #1643
it is, but it breaks stuff. Need to figure out when/where/why.

[2019-05-07 22:45] thijstriemstra commented on #1641
there's a format time parameter (and others) in the timeline plugin you can use to adjust the scale.

[2019-05-07 22:45] #1641 closed

[2019-05-10 13:40] aburai commented on #1645
exportPCM only exports the peaks
to export the audio have a look at https://stackoverflow.com/questions/22560413/html5-web-audio-convert-audio-buffer-into-wav-file
HTH

[2019-05-15 08:09] stouch opened #1648 "Logarithm scale on Y axis in Spectrogram plugin"
Hi,

I was wondering if there exists an option to print canva chart of spectrogram plugin using a logarithm scale on Y axis (KHz) in wavesurfer.js 2.2.1 ?

Like this for example :

![690x0w](https://user-images.githubusercontent.com/305679/61191025-a3d57200-a6a5-11e9-8310-6ab8a0d7f0f4.jpg)

It would really useful in certain cases !

Thank you

[2019-05-17 00:12] #1615 closed

[2019-05-19 10:50] dothuan96 opened #1649 "Audio url has been blocked by CORS policy"
I have tried to embed an audio link to javascript but it has been blocked by CORS policy. I have tried to enable it by access XMLHttpRequest, but it's still failed. How can I fix it? Or are there any other solution for this problem?

[code]

[code]

[2019-05-19 22:12] PaulKinlan opened #1650 "Create an ESM package for easy use in rollup etc"
I'm trying to integrate this module into my build process that is rollup based, and I can't import it as a node dependency because the `dist` output is not ES module compatible (I believe I could Babelify it, but there's no need for me to add all this heavy weight code).

It would be neat if you had an esm build alongside (what looks like a UMD focused output). Right now all of your code looks to

[2019-05-20 13:18] thijstriemstra commented on #1649
you should use the `xhr` option in wavesurfer.js

[2019-05-20 13:18] #1649 closed

[2019-05-20 13:19] thijstriemstra commented on #1650
@PaulKinlan PRs are welcome!

[2019-05-20 19:53] thijstriemstra opened #1651 "Release 3.0"
Essential:

- #1365 (fetch api, also see PR #1541)

Nice to have:

- #1642 (desynchronized canvas hint)
- #1640
- #1654 (spectrogram plugin: allow user to specify a colorMap)

[2019-05-22 09:35] jus37 commented on #1335
Can you explain the issue you found please?

[2019-05-22 12:21] eugene-ilyin opened #1652 "Webpack error - Cannot find module "wavesurfer.js""
Hello, I have trouble with using Wavesurfer.js through npm.

### Wavesurfer.js version(s): 2.2.1

### Browser and operating system version(s):
Linux Mint 18.2
npm v6.9.0
nodejs v8.11.4
webpack 2.2.0

### Use behaviour needed to reproduce the issue:
I use an Angular 4.3.6.
The Wavesurfer.js was installed through `npm install --save wavesurfer.js`
I've imported it as
`import WebAudio from 'wavesurfe

[2019-05-22 15:05] johnlandish commented on #419
How would i implement this in my project?

[2019-05-22 18:42] diegoiglesias opened #1653 "Can I load mp3 audio from Google Drive?"
Hi,

I've been trying to load mp3 audio files to WaveSurfer with no luck. Here is a CodePen: https://codepen.io/anon/pen/XwVPgJ

Example of working demo using HTML5 <audio>:
https://codepen.io/anon/pen/wbpXML

Is it anything I can do to make it work on WaveSurfer? If the wave rendering is the problem, I can create a png on the server and skip that process on the JS to just use it as a player.

Tha

[2019-05-22 18:57] thijstriemstra commented on #1652
use webpack 4 and newer

[2019-05-22 19:33] gabyhernan commented on #1614
Thanks for this fix!

I have to use a minified version for work & had to add this fix in the minified way.
Here it is in case anyone needs to replace before the new release
`i.ac = e.audioContext || (i.supportsWebAudio() ? i.getAudioContext() : {}),`

[2019-05-22 22:18] shershey commented on #1436
Hey all, let me know if my pull request looks good. If it's on the right track but requires changes, let me know.  Thanks @jamesshannon for getting an implementation started.

[2019-05-23 00:09] thijstriemstra commented on #1653
no luck? what's the error message?

[2019-05-23 00:10] thijstriemstra commented on #1648
cc @shershey

[2019-05-23 00:11] thijstriemstra commented on #1407
cc @shershey

[2019-05-23 04:54] eugene-ilyin commented on #1652
@thijstriemstra Thank you for a quick response. Yes, it's a good answer. I believe that we will update webpack on this year.
But this project is pretty big, our build has a lot of customizations, we can't just update webpack right now. I think it will take a lot of time. Maybe you or somebody else know some workaround, how to resolve this problem on webpack 2?

[2019-05-23 12:18] ouzhou opened #1655 "playLoop is not work"
try this demo [https://codepen.io/ouzhou/pen/BeYdpJ](https://codepen.io/ouzhou/pen/BeYdpJ)

first , click the input tag and choose a file(wav or mp3) , then select a region and click the region

it will loop at first time, but stop loop later and never loop again

by the way , if you create two regions, click the first region and click the other region quickly , the 'out' event will fire infinite

[2019-05-23 12:29] ouzhou commented on #1655
at [https://github.com/katspaugh/wavesurfer.js/blob/master/src/plugin/regions.js#L107](https://github.com/katspaugh/wavesurfer.js/blob/master/src/plugin/regions.js#L107)

and if i dont use `e.stopPropagation();`
region.play() will play until finish... emmm confusing event design?

waiting for help : )

[2019-05-23 14:19] aburai commented on #1653
wavesurfer.load uses an ajax request and your source (Google Drive) needs to enable CORS for this
try to google for google drive cors to get more informations

[2019-05-23 14:53] diegoiglesias commented on #1653
Okay I just solved the problem using a little trick thanks to [this post](https://mnaoumov.wordpress.com/2018/02/05/download-google-drive-file-via-ajax-ignoring-cors/). To skip the CORS issue you just need to prepend "https://cors-anywhere.herokuapp.com/" to the Google Drive URL and it'll work fine :)

I've updated the example in CodePen:
[https://codepen.io/anon/pen/XwVPgJ](https://codepen.io/ano

[2019-05-23 15:49] #1653 closed

[2019-05-23 15:51] #1652 closed

[2019-05-23 16:46] sorokinvj opened #1656 "what are xhr options in WaveSurfer.create()?"

[2019-05-23 16:47] sorokinvj commented on #1649
@thijstriemstra what are they? the docs says nothing about xhr object. Do I need to define host there or what? I'm trying to play file from Google Storage, my plain html5 audio is ok, but Wavesurfer got CORS error

[2019-05-23 17:52] aburai commented on #1656
Example:
[code]

[2019-05-23 19:55] #1436 closed

[2019-05-24 06:27] mmasomi73 opened #1657 "The AudioContext was not allowed to start"
Hi

i tired really :(
i see #1531 & #1560

Examples is work correct without Error, But my samples not working, in issues not explain how fix this problem

[2019-05-24 06:28] mmasomi73 commented on #1657
it's my sample: http://play.mmasomi.ir/

[2019-05-24 11:59] sorokinvj commented on #1656
Thanks!

[2019-05-24 15:21] sorokinvj commented on #1156
In case anyone needed WaveSurfer for React as badly as I am, I created this gist with the initialization of Waveform in the constructor.
Yes, it's not smooth, but working fine  https://gist.github.com/sorokinvj/6999dd1564156c3f6c078370314a3768

[2019-05-24 15:24] sorokinvj commented on #1156
@mspae Lots of people using React now, I would update the docs if I were you - this thing with impossibility of having instance of WaveSurfer in the render() could really depress decent people)

Thanks for WaveSurfer, indeed!

[2019-05-24 17:13] shershey commented on #702
My coworker came across this bug report when he searched around after we discovered that the spectrogram frequency content was mislabeled and half of what we expected it to be. To demonstrate what I was seeing, we replaced the demo.wav file with a file that contains a 4kHz square wav (wav file with 16kHz sampling rate) and this is what I saw:

<img width="1006" alt="4khz wave displayed incorrectly

[2019-05-24 18:39] shershey commented on #702
After discussing this with a coworker, we were realizing that it would probably be better to leave the audioContext untouched, remove the heightFactor, and change the sampleRate of the offlineAudioContext to 16kHz and have that be a parameter that can be overidden. I can create a pull request to demonstrate what I mean.

[2019-05-24 18:44] thijstriemstra commented on #702
we're about to release 3.0 and breaking changes can still be made (if reasonable of course).

[2019-05-24 18:47] thijstriemstra commented on #1657
@mmasomi73 what browser, what operating system, what wavesurfer.js version etc

[2019-05-24 18:48] thijstriemstra commented on #1655
is this a duplicate of #1626?

[2019-05-24 18:49] shershey commented on #702
In discussing this with a coworker, we realized a better solution might be:

1) Remove heightFactor.
2) Modify the spectrogram to generate an offlineAudioContext with a sampleRate provided in the spectrogram's params. (using a different offlineAudioContext would allow for different sampleRates between playback and generating the spectrogram).
3) Give this a smaller default of something like 16kHz

[2019-05-24 18:53] thijstriemstra commented on #702
maybe using a 3rd-party plugin for the spectogram so we don't need to maintain that code, e.g. https://blog.freifunk.net/2017/06/26/choosing-spectrogram-visualization-library-javascript/

[2019-05-24 18:59] shershey commented on #702
Using a well supported spectrogram library sounds like a good idea. My hacky fix for my use case will be to provide an audioContext with a sampleRate twice my actual sampleRate.

[2019-05-24 19:35] mmasomi73 commented on #1657
any supported browser such as _chrome v.74_
_wavesurfer.js 2.2.1_
in local system is ok but when put on host not work

please help me, how fix them?

[2019-05-24 20:05] mmasomi73 commented on #1657
all my code: [https://github.com/mmasomi73/player](https://github.com/mmasomi73/player)

[2019-05-25 00:16] thijstriemstra commented on #702
hopefully you can work on a PR for this, I'll happily review it and provide feedback.

[2019-05-25 00:23] thijstriemstra commented on #1657
you need to call `wavesurfer.backend.ac.resume()` in a button click to work around the autoplay restrictions in chrome i think.

[2019-05-25 01:29] mmasomi73 commented on #1657
thanks, i use that but not working

when i use `<audio>` tag and play once with `<audio>` tag and after reload page is work
and every time reload page show download audio alert

[2019-05-25 01:52] ouzhou commented on #1655
no , because errors can occur in any case. not only <15s condition

[2019-05-25 01:55] ouzhou commented on #1626
@moritzvieli hey , try this demo [https://codepen.io/ouzhou/pen/BeYdpJ](https://codepen.io/ouzhou/pen/BeYdpJ)

[2019-05-26 12:40] thijstriemstra commented on #1642
Enabled this in https://github.com/katspaugh/wavesurfer.js/tree/desynchronized-1642 branch

[2019-05-26 13:33] thijstriemstra commented on #1656
Re-opening so this can be documented.

[2019-05-26 13:55] #1656 closed

[2019-05-28 03:20] chwang9 opened #1659 "3.0"
# Hey, thank you for testing and contributing to wavesurfer.js!

## Please make sure you can check all of these points below before opening an issue:

(You don't have to post this section)

- [ ] I have checked [the FAQ](https://wavesurfer-js.org/faq/) and it doesn't solve my problem.
- [ ] I have checked [the documentation](https://wavesurfer-js.org/docs/) and it doesn't solve my problem
- [ ] I

[2019-05-28 13:47] vikasmagar512 commented on #419
@johnlandish Here are the functions
Cut, Copy, Paste, bufferToWave. Please refer it
https://github.com/vikasmagar512/wavesurfer-audio-editor/blob/master/src/utils/waveSurferOperation.js

[2019-05-28 17:12] shershey commented on #702
With the realization that I can work around this issue by setting the AudioContext SampleRate it reduces my need for a fix. But I can spend some time on this to see how much work it would take me and, if it's reasonable, send out a PR.

[2019-05-28 20:00] thijstriemstra commented on #702
@shershey maybe a fix would be properly documenting that behavior in the source code as well as the example?

[2019-05-28 20:50] thijstriemstra commented on #1659
see #1651

[2019-05-28 20:50] #1659 closed

[2019-05-28 23:36] shershey commented on #702
@thijstriemstra what's the timeline for the 3.0 release?

[2019-05-29 01:39] ouzhou commented on #1655
i think it is a bug...

[2019-05-29 11:03] thijstriemstra commented on #702
don't know. when it's done it's done.

[2019-05-30 17:33] adjkldd commented on #1498
1. use MediaElement as backend
2. load peaks from server

using two step above solved my problem of showing waveform of large audio

[2019-05-31 07:39] Martin-Alvarado-Void commented on #1537
Hi, i dont know if this would answer your question but i had a similar issue, if you or others still have this issue then a little explenation:
i had the Equalizer node:
`
let EQ =[{},{},...];
let equalizerNode = EQ.map( function(band){...};
`
since its an array of essentially different nodes it does not play well with other filters unless you concatenate them all together before passing them with

[2019-06-02 16:27] asystemsaus opened #1660 "Cant create player"
# Hey, thank you for testing and contributing to wavesurfer.js!

## Please make sure you can check all of these points below before opening an issue:

(You don't have to post this section)

- [x] I have checked [the FAQ](https://wavesurfer-js.org/faq/) and it doesn't solve my problem.
- [x] I have checked [the documentation](https://wavesurfer-js.org/docs/) and it doesn't solve my problem
- [ ] I

[2019-06-02 17:04] delgiudices commented on #953
Yeah this would be super useful

[2019-06-03 06:43] moussaeltayeb commented on #1657
Have the same problem. `wavesurfer.backend.ac.resume()` does not remove the warning. In addition to that, it does play on safari for iOS, but without any sound. You can try the example at the home page of [https://wavesurfer-js.org](https://wavesurfer-js.org)

[2019-06-03 07:39] chwang9 opened #1661 "resizes Cannot adjust selection area size wavesurfer.regions.js"
wavesurfer.js regions plugin 2.2.1 (2019-03-18)
add to
if (this.drag || this.resize) {
     e.stopPropagation();
}
Cannot adjust selection area size

[2019-06-03 09:32] chwang9 commented on #1661
Someone taught me how to revise it like this.
Old areas allow coverage of new areas
 if (e.target.tagName === "HANDLE") {
        e.stopPropagation();
  }

[2019-06-03 12:22] neoscopio commented on #1206
I have an use case where I want the waveform in some clips, and have other on the same page without.

I'm using "height: 0," parameter on the "create" event, and that works for us.

[2019-06-04 08:29] marizuccara commented on #1537
I have a similar issue when i use filters to control volume of both channels, the panner filter and stretcher. Controls of channels volumes and panner works fine, but when i click on one of the stretcher controls, it works, but the other two filters don't work anymore. I tried different approaches, like disconnecting all filters, then connecting them again and setting them with stretcher node, but

[2019-06-04 17:43] #1660 closed

[2019-06-05 08:06] ouzhou commented on #1626
any update?

[2019-06-05 08:07] ouzhou commented on #1655
any help?

[2019-06-05 08:38] thijstriemstra commented on #1657
try creating a new audio context in a button click handler, and then create wavesurfer instance and pass in that audio context.

[2019-06-05 21:58] pravdinalex commented on #1201
This is because of transpliation...
https://stackoverflow.com/questions/51860043/javascript-es6-typeerror-class-constructor-client-cannot-be-invoked-without-ne/51860850
If turn it off, you can pass your custom renderer to ws in your app.
Did anybody knows how to correctly config babel in this case?

[2019-06-06 13:33] pravdinalex opened #1662 "MediaElement mode and fallback not supported without WebAudio"
### Wavesurfer.js version(s):
2.2.1

### Browser and operating system version(s):
IE 11.0.9600 / Windows 8.1

### Code needed to reproduce the issue:
https://wavesurfer-js.org/

error in wavesurfer.js - line 1 column 7139 - Command is not supported by object.
[code]

![image](https://user-images.githubusercontent.com/2210640/59035968-149f9800-8877-11e9-8fa7-bf3ed1de5d48.png)

In my project, even i

[2019-06-07 01:43] asystemsaus commented on #1660
Hi,
Sadly it was stupidity on my behalf, and a bit of assistance with auto spell checker.
At start of my code I had var WaveSurfer = null, but should have been var wavesurfer = null
Sorry for bothering you with this one.

[2019-06-07 09:17] thijstriemstra commented on #1662
looks like a duplicate of #1614 @pravdinalex

[2019-06-10 13:07] pravdinalex commented on #1662
really, this combination of manually set options works in IE11 as expected: can play audio with empty visualization.
[code]
But if `backend: 'MediaElement'` is not manualy set, I get error about `command createGainNode not found at object` in webaudio.js :: createVolumeNode()

[2019-06-10 19:27] #1662 closed

[2019-06-11 08:18] sujitsagar opened #1664 "Player doesn't seek with MediaElement backend"
I am using the MediaElement fallback since the audio files I use are quite large and decoding with Web Audio takes quite a lot of time.

The issue is the cursor doesn't move even though the audio starts playing in the background. When I manually click on a random place on the wave, the cursor starts seeking and plays from there, but throws the errors "Uncaught Error: The error you provided does no

[2019-06-11 13:36] thijstriemstra commented on #1664
@sujitsagar can you provide example code and let us know what operating system, browser and version of wavesurfer?

[2019-06-11 13:48] thijstriemstra commented on #1474
no feedback, closing.

[2019-06-11 13:48] #1474 closed

[2019-06-11 13:48] thijstriemstra commented on #1485
ping @liyuze

[2019-06-11 13:51] thijstriemstra commented on #1607
no feedback, closing.

[2019-06-11 13:51] #1607 closed

[2019-06-11 13:52] thijstriemstra commented on #1644
ping @Stoyvo

[2019-06-12 01:14] Stoyvo commented on #1644
Sorry @thijstriemstra this is actually related to filesize. WebAudio fails, the AIF file was huge and Chrome simply can't handle it. This issue will be closed

[2019-06-12 01:14] #1644 closed

[2019-06-12 09:09] sujitsagar commented on #1664
I am using React-Waves on the top of wavesurfer.

`
<ReactWaves
                    audioFile={this.state.audioFile}
                    className={'react-waves'}
                    //pos={this.state.currenttime}
                    options={{
                        barHeight: 2,
                        barWidth: 1,
                        backend: podcast.backend,
                        cursor

[2019-06-12 12:17] Brabudu opened #1666 "Spectrogram labels when scrolling"
It would be useful to be able to choose, in case of scrolling, if the labels of the spectrogram should move with the spectrogram or be fixed (css position: fixed).
Thank you

[2019-06-12 12:18] Brabudu opened #1667 "spectrogram resize"

[2019-06-12 12:27] Brabudu opened #1668 "Spectrogram logarithmic scale"
In the spectrogram it would be useful to be able to choose between a linear and a logarithmic scale

[2019-06-12 20:58] ecirish opened #1669 "Cannot Resize Regions added during .create"
I'm looking to utilize Wavesurfer and the `Regions` plugin to create an initial region, and then allow the user to resize it.  I'm able to create the region, and it appears on the instance as expected:

![wavesurfer](https://user-images.githubusercontent.com/2439563/59385823-cda81b80-8d2a-11e9-8d5c-79089961e7c5.PNG)

I also explicitly set `resize` and `drag` to true on creation:

[code]

However,

[2019-06-12 21:12] thijstriemstra commented on #1669
what version of wavesurfer.js? did you try master branch?

[2019-06-12 22:06] ecirish commented on #1669
Ah, sorry for not including my version #.

I'm using `2.2.1` from `npm`.

[2019-06-12 23:35] ecirish commented on #1669
Just tried master. Same behaviour.

[2019-06-13 10:23] thijstriemstra commented on #1668
duplicate of #1648

[2019-06-13 10:23] #1668 closed

[2019-06-13 11:21] asystemsaus opened #1670 "split audio from mono on one channel to play on both channels"
I love wavesurfer, I think its brilliant.
I have one minor question.
I have .mp3 files where audio is on only 1 channel. Can I have it play on both channels. i know its still mono but i need to have it played in both earpieces of headset.

[2019-06-13 11:23] asystemsaus commented on #1670
I love wavesurfer, I think its brilliant.
I have one minor question.
I have .mp3 files where audio is on only 1 channel. Can I have it play on both channels. i know its still mono but i need to have it played in both earpieces of headset.

[2019-06-13 19:50] ecirish commented on #1669
Couldn't figure out how to get it to work during `.oncreate`, but it does work fine if you add the region after the instance is ready.

[code]

[2019-06-13 19:50] #1669 closed

[2019-06-14 10:24] maxmood opened #1671 "region double click"
I want to use region-dblclick event on my wavesurfer project
this is [code pen](https://codepen.io/anon/pen/VJvRoZ);
Double click on any region, wavesurfer just start playPause() whereever the mouse clicked, but what I wanted was like just play clicked region for once like this [code pen](https://codepen.io/anon/pen/xoweEN)
Plz help me out if there is anyway I can use region-dblclick but still get

[2019-06-14 13:32] #1667 closed

[2019-06-14 21:54] thijstriemstra commented on #1666
@Brabudu if you have a fix for this, please open a pull request!

[2019-06-16 20:46] mootensai opened #1672 "1 Control over multiple Wave Forms"
### Wavesurfer.js version(s):
VERSION="2.2.1"

### Browser and operating system version(s):
Chrome Version 74.0.3729.169, Mac OS 10.14.3

### Code needed to reproduce the issue:
https://codepen.io/mootensai/pen/VJapMZ

### Use behaviour needed to reproduce the issue:
click on one of the waveform.. it seems there's a infinite loop since I want to change seek on both of wave forms.
Main objective is

[2019-06-17 10:02] iamsteadman commented on #1669
Sadly that's not the case. The region doesn't appear when you create it using the `ready` event.

[2019-06-17 16:41] edgework opened #1674 "Zoom in then out doesn't work for larger audio files"
### Wavesurfer.js version(s):

2.2.1

### Browser and operating system version(s):

Chrome, Safari, Firefox  all versions.

### Code needed to reproduce the issue:

The Zoom example loading  https://traffic.megaphone.fm/VMP5001295639.mp3  for the audio

### Use behaviour needed to reproduce the issue:

Zoom In  a few clicks

Zoom out all the way

Waveform is not totally zoomed out.

[2019-06-17 16:54] thijstriemstra commented on #1669
@iamsteadman does your PR #1673 fix this issue?

[2019-06-18 03:56] falseLuffy opened #1675 "Failed to execute 'decodeAudioData' on 'BaseAudioContext': parameter 1 is not of type 'ArrayBuffer'."
when I import wavesurfer.js@2.2.1  to vue component ，the console error  “Failed to execute 'decodeAudioData' on 'BaseAudioContext': parameter 1 is not of type 'ArrayBuffer'.”

this is my code .
[code]

[2019-06-18 20:07] thijstriemstra commented on #1675
can you make a codepen that reproduces this? what operating system and browser?

[2019-06-19 11:00] liyuze commented on #1485
Sorry, it’s been too long, I can’t find it.

[2019-06-19 11:00] #1485 closed

[2019-06-19 14:58] mahish commented on #1485
@liyuze @thijstriemstra Hey, guys Im having the same problem. This what i get. Looks like the problem is already in DOM or the files.

`"wavesurfer.js": "^2.2.1"`

## MacOS Chrome 75
- audio-1.mp3
[code]

- audio-2.mp3
[code]

## MacOs Firefox 67
- audio-1.mp3
[code]

- audio-2.mp3
[code]

[2019-06-19 15:05] mahish commented on #1485
Did `ffprobe` for both files:

## audio-1.mp3
[code]

## audio-2.mp3
[code]

[2019-06-19 15:15] mahish commented on #1485
- Chrome's `media.duration` value seems to be closest to what I get from `ffprobe`.
- Firefox's `media.duration`, on the other hand, looks the most different.
- `wavesurfer` differs a bit but it returns consistent value across both browsers.

[2019-06-19 15:30] mahish commented on #1485
The original files were saved with Adobe Audition. If I save convert tem with `ffmpeg -i audio-1.mp3 -c:a copy -b:a 128k -sample_rate 44100 audio-1.mp3` the issue is gone:

[code]

[2019-06-20 19:05] PrakashPaul opened #1676 "wav file bitrate issue :wav file bitrate less then 128kbps not playing"

[2019-06-21 16:04] Luca1991 opened #1677 "Please consider pushing an update to npm"
Hello collegues,
first of all I'd like to say **thank you very much** for this great library, I'm currently using in one of my projects.

This isn't really an issue/bug request, instead I'd like to remind you to push a new release/update to npm, since I'm stuck with issue #1572 that is now closed and fixed in mainline (with commit 118a1bcd64c18ff1f43638a0a3929961ee626e8f), because the last npm rel

[2019-06-21 17:06] thijstriemstra commented on #1677
I understand you want to see a release but I'd like to get the `fetch` change (#1541) in 3.0.0 as well. If you want to help, please take a look and the release will be out sooner.

marking this as a duplicate of #1651

[2019-06-21 17:06] #1677 closed

[2019-06-24 10:12] thijstriemstra commented on #1676
i tested with a 64kb/s wav file and it worked fine. ffprobe output for that file:

[code]

Wave file: http://www0.cs.ucl.ac.uk/teaching/GZ05/samples/lathe-adpcm.wav

[2019-06-24 10:12] #1676 closed

[2019-06-24 10:30] abeeraleisa opened #1678 "Inspect wavesurfer regions list content"
Wavesurfer.js version(s):
2.2.1

Browser version(s):

Google Chrome
Version 75.0.3770.100 (Official Build) (64-bit)

Problem
Hey there! I tried to access the regions list but I couldn't. I read all the documentation, issues and searched my issue but I didn't find a way to see the list's content.

Any ideas?
Code:

<img width="522" alt="Screenshot 2019-06-24 at 13 17 39" src="https://user-images.gi

[2019-06-24 20:58] Aparus opened #1679 "After upgrade wavesurfer.js from 2.1.3 to 2.2.1 I can't resize and drag old regions"
### Wavesurfer.js version(s):
2.2.1

### Browser and operating system version(s):
Google Chrome 75.0.3770.100 , windows 8.1, 64bit

After upgrade wavesurfer.js from 2.1.3 to 2.2.1 Regions plugin doesn't work properly. Even [example on your site ](https://wavesurfer-js.org/plugins/regions.html)
**Old regions** (witch almost exist when create waveform) are not dragable or resizible. But new ones are

[2019-06-24 22:49] andrewjaykeen commented on #1679
I also ran into this problem today.  I'll just provide what I've learned so far about this issue.  I was unable to use the regions plugins with the NPM modules, so I just pointed directly to the CDN.

Such as:
[code]

[2019-06-25 08:59] thijstriemstra commented on #1679
@Aparus can you try the master branch?

[2019-06-25 12:56] Aparus commented on #1679
@thijstriemstra I'm sorry, I didn't understand...
**Should I try install wavesurfer.js in different way ?** Please explain with more details.
I did
`npm i wavesurfer.js` and in package.json I saw change "2.1.3" -> "2.2.1"
then I downgraded
`npm i wavesurfer.js@2.1.3`

[2019-06-25 12:58] thijstriemstra commented on #1679
@Aparus https://github.com/katspaugh/wavesurfer.js#development

[2019-06-25 13:34] Aparus commented on #1679
@thijstriemstra , I use wavesurfer.js like module inside Create React App , and I don't use commands from your link (and I suppose they don't work in CRA). And I didn't see in page, you have sent link on it, what do you mean about "master brach"... (

[2019-06-25 15:28] aburai commented on #1678
at first look it is ok
what is the exact error?
ensure wavesurfer is the correct instance, seems to be a global var

[2019-06-27 00:06] alexthegoodman commented on #1520
@thijstriemstra and others concerned, I am not sure if my solution will work for you, but I am displaying my waveforms with a certain degree of post-processing. Because of this, generating the initial JSON with a pixels-per-second of a whopping 10000 has done the trick.

This may not be an accurate waveform, but it is visually appealing for my use-case.

[2019-06-28 03:31] shiyameng opened #1680 "Timeline not matching waveform when its scrollParent property is true"
Hi Katspaugh,

I create a waveform with the param `scrollParent: true`,
When the audio is too short, the Timeline is stretched to the entire parent container.

To fix wavesurfer.timeline.js line 472
`var width = wsParams.fillParent && !wsParams.scrollParent ? this.drawer.getWidth() : this.drawer.wrapper.scrollWidth * wsParams.pixelRatio;`

I am running a 2.2.1 version of wavesurfer.

Thank you

PS

[2019-07-04 05:22] abeeraleisa commented on #1678
I went back to the documentation and I solved my issue, It was something about the library.
Thank you.

[2019-07-04 09:35] klodoma opened #1681 "Question: Limit the number of regions to one?"
Is there a way to limit the number of regions?

My idea would be to have only one region and if a new one is "created" then this will replace the previous one. So, practically to have one region only.

I assume I can implement this by listening to the events, but maybe it's already possible.

[2019-07-04 09:40] klodoma commented on #1681
To answer my own question:

[code]

[2019-07-04 09:40] #1681 closed

[2019-07-05 03:37] wildRoseYFL commented on #1675
遇到一样的问题，你解决了吗

[2019-07-05 23:34] #1365 closed

[2019-07-05 23:43] thijstriemstra commented on #1651
I think everything is ready for a 3.0.0 release, except doc stuff:

- updating the docs in the `gh-pages` branch
- updating the `UPGRADE` document in the root of the repository (and `gh-pages`)

want to help out with that @aburai?

[2019-07-06 00:30] thijstriemstra commented on #1365
fyi @janhartmann with the new fetch implementation in 3.0 your server needs to send a `Content-Length` header if you want to use the `loading` event (for progress bars etc).

[2019-07-08 10:00] klodoma opened #1683 "Region selection - scrollbar appears"
### Wavesurfer.js version(s):
"wavesurfer.js": "^2.2.1",

### Browser and operating system version(s):
Chrome, Win10

### Steps to reproduce:
Open this url on a big-enough screen/browser so that there is no scrollbar in the wavesurfer container.
https://wavesurfer-js.org/plugins/regions.html

Drag a region then drag the region completely to the right. A scrolllbar appears.
The same happens if you

[2019-07-08 14:49] zzuzsj opened #1684 "how to get peaks data"
Hello.I'm here to ask a question about the wavesurfer.
I want to know weather I can get the values rendered in the canvas so i can use it to do other things.
I didn't find api for this.

[2019-07-10 02:05] HassanAlgoz commented on #1669
Still doesn't work. I'm using version `2.2.1`. Any updates on this?

[2019-07-10 12:31] thijstriemstra commented on #271
See https://wavesurfer-js.org/v2/plugin-class.html

[2019-07-10 12:31] #271 closed

[2019-07-10 19:50] thijstriemstra commented on #938
can a screenshot of the soundcloud waveform be attached?

[2019-07-10 20:16] thijstriemstra commented on #1059
@iainhallam so you're saying a `barWidth: 2` will look crap, whereas `barWidth: 3` is fine? I can't spot the difference using master branch (3.0.0). Can you attach a screenshot showing the difference or something? Because the fix you describe should be easy to implement.

[2019-07-10 21:11] thijstriemstra commented on #953
if you copy/paste the `roundRect` method below in `src/drawer.canvasentry.js`:

[code]

And in the `fillRectToContext` method of `CanvasEntry` change:

[code]

to

[code]

it will render with rounded corners but for some reason only the first half is correct as shown in screenshot below. Anybody an idea?

![Screenshot from 2019-07-10 23-11-00](https://user-images.githubusercontent.com/305679/61005

[2019-07-10 21:22] thijstriemstra commented on #1085
I'm not sure what this means. Please re-open with a better description (if this is still an issue).

[2019-07-10 21:22] #1085 closed

[2019-07-10 21:23] thijstriemstra commented on #933
no feedback, closing.

[2019-07-10 21:23] #933 closed

[2019-07-10 21:31] thijstriemstra commented on #1189
thanks for the feedback @jlts713. The code you're talking about is still present in the master branch (soon to become 3.0.0), and I can see how this `Math.round` can be an issue. Question is; why is it there, who put it there?

[2019-07-10 21:38] thijstriemstra commented on #1189
It's pull request #574 that introduced part of this change, fixing #425.

[2019-07-10 21:41] thijstriemstra commented on #1636
no feedback, closing.

[2019-07-10 21:41] #1636 closed

[2019-07-10 21:43] thijstriemstra commented on #1664
Ask the React-Waves project in that case.

[2019-07-10 21:43] #1664 closed

[2019-07-10 21:44] thijstriemstra commented on #1670
Ask on stackoverflow, this is not wavesurfer.js specific.

[2019-07-10 21:44] #1670 closed

[2019-07-10 21:50] thijstriemstra commented on #1657
Marking this as a duplicate of #1531.

[2019-07-10 21:50] #1657 closed

[2019-07-10 22:00] thijstriemstra commented on #1674
I can see this can be confusing. The minimum value for the `minPxPerSec` is 20, so it'll never go to 0. And to completely reset the zoom, you use `wavesurfer.zoom(false)`.

I will add an initial zoom to the example that matches the min value.

[2019-07-10 22:02] #1674 closed

[2019-07-10 22:05] thijstriemstra commented on #1684
what do you specifically mean? the peaks data?

[2019-07-10 22:08] thijstriemstra commented on #1680
@shiyameng I am not able to reproduce this with the git master branch. Can you provide a codepen that reproduces this?

[2019-07-10 22:10] thijstriemstra commented on #1679
@Aparus, follow the instructions I linked and copy the resulting `dist/wavesurfer.js` into the `node_modules/wavesurfer.js/dist/` directory of your project.

[2019-07-10 22:11] #1678 closed

[2019-07-10 22:46] thijstriemstra commented on #1573
@zapfdk feel free to open a pull request with this change!

[2019-07-10 22:47] thijstriemstra commented on #1675
no feedback, closing.

[2019-07-10 22:47] #1675 closed

[2019-07-10 22:48] thijstriemstra commented on #1671
@maxmood you're using an ancient version of wavesurfer.js, please try 2.2.1 or the upcoming 3.0.0.

[2019-07-10 22:50] thijstriemstra commented on #1655
@ouzhou can you try the master branch and build wavesurfer using [these instructions](https://github.com/katspaugh/wavesurfer.js#development) and check if the problem still exists?

[2019-07-10 22:51] thijstriemstra commented on #1630
Eh, why? Why load without a valid URL (or `HTMLMediaElement`)?

[2019-07-10 22:52] thijstriemstra commented on #1576
No feedback, closing.

[2019-07-10 22:52] #1576 closed

[2019-07-10 22:54] thijstriemstra commented on #1520
Good to hear. Have you tried such a high nr @TheFrankman?

[2019-07-11 01:20] wangzhaoming132 commented on #1085
This problem has already been solved. Thank you very much.

[2019-07-11 02:37] zzuzsj commented on #1684
Yep.I think it's the data I want

[2019-07-11 07:09] shiyameng commented on #1680
This is the pencode address. https://codepen.io/shiyameng/pen/JQzPZV

[2019-07-11 12:42] aburai commented on #1680
You don't want to fill the parent. Decrease the width of your viewport (body) or set `fillParent: true`

[2019-07-11 12:55] eek opened #1689 "Issue / Question regarding ScriptProcessorNode"
Hi there!

I'm having a more advanced-related issue with Wavesurfer (using the latest: 2.2.1, on Chrome 75 on Ubuntu 19.04 - but it's happening an Chrome on Mac as well).

It's a bit hard to send a codepen with what I'm doing since I'm using Wavesurfer in a bit more advanced of a way.

I'm actually processing the audio before feeding it into Wavesurfer, I have a long audio, and I want to show mult

[2019-07-11 13:00] #1680 closed

[2019-07-11 15:57] aburai commented on #1684
`wavesurferInstance.drawer.getPeaks()`

[2019-07-11 16:20] #1684 closed

[2019-07-11 16:23] thijstriemstra commented on #1689
you can also just create a script processor outside wavesurfer and pass it to wavesurfer using that `audioScriptProcessor` parameter/setting.

[2019-07-11 16:34] marizuccara opened #1690 "It is possible to draw waveform and minimap with real time audio received from server as it arrives?"
I use pre-rendered peaks for audio that arrives in chunks, loading the whole url initially and set peaks when i receive them from server by chunks, using WebAudio backend.
Now I have to work also with real time audio which i receive from my server. I would like to draw the waveform and the minimap piece by piece as the real time audio arrives. It is possible?

[2019-07-11 18:56] aburai commented on #1630
do not use load, instead set peaks via `wavesurfer.backend.setPeaks(peaks, duration)` and draw `wavesurfer.drawer.drawBars(peaks, width, 0, width)`

[2019-07-11 19:02] aburai commented on #1651
@thijstriemstra sorry, i am currently busy with customer projects, but i will test v3 when it is released

[2019-07-12 02:50] shiyameng commented on #1680
I have different audio lengths, some audio lengths are longer.so I don't want to fill the parent.
This problem occurs when the width of canvas is smaller than that of viewport.
I don't know the width until the canvas rendering is complete

[2019-07-12 05:17] bebekar opened #1691 "Plot more than one waveforms on top of each other"
I have to plot 2 audios over each other, one being the Expert voice and the other recorded by the user, each with different color. This would help in a visual compare of the 2 audios.

Any advise

[2019-07-12 05:29] bebekar opened #1692 "How do i skip/ crop leading silent audio from the waveform display"
Some audio especially recorded have leading silence or low level noise which I would like to eliminate from the waveform. This would involve detecting based on the amplitude and deleting it from the audio.

[2019-07-12 08:32] eek commented on #1689
yes, but in order to give it like this:

[code]

And I don't have WaveSurfer's `audioContext` there, and if I create one it errors because it needs to be the same.

[2019-07-12 13:12] #1651 closed

[2019-07-12 14:56] thijstriemstra commented on #1689
@eek and there's also a `audioContext` parameter where you can pass in a custom AudioContext.

[2019-07-12 15:54] zzuzsj commented on #1684
![image](https://user-images.githubusercontent.com/20783807/61141145-7cdd3b80-a4ff-11e9-952d-8e7379f6978a.png)
I found the code about getPeaks.And i have a question about this.
Why push min and max values into mergePeaks,instead of use a single data - average value?

[2019-07-12 18:44] alisherakb commented on #392
Guys, what do you think of the following implementation:
https://codepen.io/Sambego/pen/VmBJJN

[2019-07-12 20:04] davidtorroija commented on #392
I Created a POC of this functionality working, I'm rendering in canvas the recording peaks of sound in real time https://codepen.io/davidtorroija/pen/ZZzLpb?editors=0010

It was hard and I get help from an expert in web audio here: https://stackoverflow.com/questions/55407563/web-audio-api-and-javascript-get-the-correct-picks-from-microphone

[2019-07-13 10:27] alisherakb commented on #392
@davidtorroija Thank you for sharing with this treasure!
I also saw that you mentioned the sample (https://online-voice-recorder.com/es/) and I'm wondering how I can achieve the selection and be able to delete it.
<img width="1272" alt="Screenshot 2019-07-13 at 1 13 28 PM" src="https://user-images.githubusercontent.com/26904008/61170374-daf63700-a570-11e9-9629-3e4349c74068.png">

[2019-07-13 12:41] awkspace opened #1693 "Set minimum bar height"
Sometimes, particularly with larger audio files (like a podcast), Wavesurfer generates a waveform with gaps.

This by itself is a surprising result. I followed the method [in the FAQ](https://wavesurfer-js.org/faq/) to generate peak waveform data, and there are no gaps in my audio long enough that they should be visible. The position of the gaps also differs depending on the width of the player, w

[2019-07-13 23:46] thijstriemstra commented on #1693
`barHeight` option? https://wavesurfer-js.org/docs/options.html

[2019-07-13 23:57] thijstriemstra commented on #392
@davidtorroija that looks really coo! Could you rework this into a pull request so it can be used in wavesurfer.js by others as well?

[2019-07-15 00:07] thijstriemstra commented on #1692
You would have to use external tools to do this, maybe something like ffmpeg or sox. This is not something wavesurfer.js aims to fix (unless you can make a convincing plugin that can filter noise etc from a stream).

[2019-07-15 00:07] #1692 closed

[2019-07-15 00:07] thijstriemstra commented on #1679
@Aparus v3.0 was released. Can you try that?

[2019-07-15 00:08] thijstriemstra commented on #1626
can you try v3.0.0 that was released recently?

[2019-07-15 00:24] thijstriemstra commented on #1691
it's a css thing once you created 2 wavesurfer instances using javascript. did you try creating 2 wavesurfer waveforms in seperate html elements?

[2019-07-15 01:01] chrisparton1991 opened #1695 "Discussion: Canvas as required parameter"
I'm omitting the usual checklist as this isn't a bug, just a topic for discussion.

**Topic**
The Wavesurfer documentation states that the only required parameter for a Wavesurfer instance is a container DOM element.

**Background info**
For my project, I'm considering implementing a [PIXI.js](https://www.pixijs.com) Wavesurfer renderer, which will render the waveform into an existing WebGL contex

[2019-07-15 06:12] yogesh0296 commented on #705
Hello all,

I have a problem trying to play audio with wavesurfer.js in safari browser.
when i click on play button it's show me error only safari.

TypeError: 'undefined' is not a function (evaluating 'this.ac.createGainNode()')
app.js:23
TypeError: 'undefined' is not an object (evaluating 'wavesurfer.on')
app.js:19
TypeError: 'undefined' is not an object (evaluating 'wavesurfer.playPause')

Plea

[2019-07-16 09:58] thijstriemstra commented on #1695
No, I can see it being optional in some cases.

[2019-07-16 15:45] davidtorroija commented on #392
Thanks for your comments!, and yes @thijstriemstra, @alisherakb I think that is harder! haha, I do not want to promise anything, but if I find the time I will keep investigate this integration with wave surfer

[2019-07-17 10:50] DevTash commented on #1569
Hi,

I know the issue is closed however I solved this by including the debounce package from npm in my project. I did this because I noticed that line 10 in index.js for the utils directory didn't include './someFile.js' so I figured it was most likely a package that was needed.

Issue is now gone. Could be the wrong approach, the error appears when implementing a custom renderer.

Hope this helps

[2019-07-17 16:47] Gabrielfcs commented on #1569
Thanks to everyone who wanted to help me and apologize for the delay of the answer, I solved this problem by excluding the folder node_modules and updating the dependencies. For some reason the debounce that was already in my project was not found by the wavesurfer index.js

[2019-07-17 20:24] hales548 opened #1696 "24Bit"
Hi

How do you set Wavesurfer to record at 48kHz 24Bit?

Thanks

[2019-07-19 01:26] Mr-Lopes opened #1697 "Generate PCM data through SOX"
Hi, guys! Thank you for the awesome plugin!

I am having trouble with memory leak when rendering large files (over 50mb). So, in order to have a workaround, I am generating the pcm data using SOX on the server side (Amazon linux). Everything works, however I haven't gotten the conversion right; the peaks are inverted. Huge peaks on silent moments and none when there is not silent (a person speakin

[2019-07-19 07:10] Aparus commented on #1679
@thijstriemstra, thank you. Yes, I run `npm i wavesurfer.js@3` and plugin updated. And then everything works fine!

[2019-07-19 07:10] #1679 closed

[2019-07-19 07:59] klodoma opened #1698 "region-created fired multiple times"
### Wavesurfer.js version(s):
2.2.1
3.0.0

### Code needed to reproduce the issue:
[code]
https://codepen.io/klodoma/pen/gVbmmV

### Use behaviour needed to reproduce the issue:
Just select some regions, the region-created event is fired for every **_enableDragSelection_** call

### Workaround
always call disableDragSelection before enableDragSelection.

[code]
The result of creating 3 regions:

!

[2019-07-19 08:00] klodoma commented on #1698
Probably related to #752

[2019-07-19 14:14] thijstriemstra commented on #1698
at the time @katspaugh mentioned:

Interesting in creating such a PR @klodoma?

[2019-07-19 14:16] thijstriemstra commented on #1697
@Mr-Lopes you can use the https://github.com/bbcrd/audiowaveform tool for that, see bottom of the faq: https://wavesurfer-js.org/faq/

Hopefully this helps to figure out to get the peaks right with sox. And if you do, please share here so we can add that to the FAQ as well as an alternative method.

[2019-07-19 14:17] thijstriemstra commented on #1696
@hales548 wavesurfer cannot record.

[2019-07-19 14:17] thijstriemstra commented on #752
@Flimm no doesn't look like it, see #1698 for new ticket.

[2019-07-19 14:23] klodoma commented on #1698
Sure :) never did it on github, but I guess it's a good start :)

[2019-07-20 09:31] bebekar commented on #1691
I want them to be in the same canvas however separate control per instance.  I have tried with your recommended way with core css however found it difficult to implement in UI frameworks

[2019-07-20 18:32] thijstriemstra commented on #1697
Also take a look at https://github.com/azcoppen/waveform-generation (which even uses wavesurfer.js!)

[2019-07-21 12:57] Aparus commented on #1206
I'm interested in this functionality too.
I need player with WebAudio support. Especially I use Regions for playing them (phrases in audio book). But sometimes I need the Drawer for edit time intervals, and sometimes - I don't. But I suppose it takes extra time, calculation and device cpu resources ...
Draw or not to Draw , that is the question. I suggest to include it to the API. I also will read

[2019-07-21 19:27] thijstriemstra commented on #1661
this change was added in https://github.com/katspaugh/wavesurfer.js/commit/25a0fb40375379e8330bac41c2a80806e0e9b9c8 by @moritzvieli. Can you check this ticket @moritzvieli?

[2019-07-22 05:17] moritzvieli commented on #1661
@chwang9 sorry, I did not fully understand the issue. Can you tell me exactly, how I need to reproduce it? Thanks a lot!

[2019-07-23 09:40] ouzhou commented on #1655
:(  3.0 is not work
choose a region smaller than 3s

[2019-07-23 12:50] zapfdk opened #1699 "Ability to configure auto center feature"
### Wavesurfer.js version(s):
2.1

### Browser and operating system version(s):
Firefox and Chrome, Fedora

### Code needed to reproduce the issue:
{autoCenter = true}

### Use behaviour needed to reproduce the issue:
With autoCenter enabled, when seeking to left side of waveform, cursor only centers very slowly.

Is there a way or an option to center the cursor immediately on playback? I tried it

[2019-07-24 14:24] Mr-Lopes commented on #1697
Thank you for the suggestions, guys. Unfortunately, I wasn't able to generate pcm data using Sox, so I managed to install the waveform on my Amazon server instead.

For those with this issue, I'd indicate adding Centos' mirror for the missing libraries in the Amazon linux:
https://centos.pkgs.org/7/centos-x86_64/