[2021-12-05 16:21] Reached opened #2416 "Add audome to list of commercial projects :)"
Hi guys!

We are using Wavesurfer for our web-application Audome which helps audio engineers deliver their projects to their clients and get precise feedback in the form of comments on the waveform.

https://audome.com and https://app.audome.com

If you want to see a demo, check it out here: https://app.audome.com/handovers/4e6aa5d0-21c3-11ec-a51e-f90265710dd2?signature=a1a98a2e5c7f65a3d9ac02dbaee

[2021-12-05 21:24] jesusMdza commented on #2399
Can wavesurfer change the pitch of a file alone? As in if I wanted to just change the pitch but not the rate, is this possible?

[2021-12-08 19:42] thijstriemstra commented on #2416
Please add it to https://github.com/katspaugh/wavesurfer.js/blob/gh-pages/projects/index.html

[2021-12-09 20:30] SarahVela commented on #2400
On further coding, I have some more information that might be helpful.

This code renders 3 wavesurfers with 3 different audios. On first load, each should have a different default max frequency (22, 11 and 4; recall that the labels are doubling these values). A frequency select should override all of them to a set max frequency (or return them to their defaults).

If you check the console for the

[2021-12-09 23:39] thijstriemstra commented on #2400
I would store these audioContext instances in a proper variable so you can properly inspect them.

[2021-12-10 15:09] SarahVela commented on #2400
Digging into the logged objects, the audioContext in params on the wavesurfer object is correct. Always. The audioBuffer under buffer on the spectrogram subobject on each wavesurfer object, however will set the sampleRate once (based on whichever finishes loading first; often but not always the first on the page) and then treats that value as a constant for all subsequent runs, regardless of which

[2021-12-12 02:19] thijstriemstra commented on #2400
Where does it do that?

[2021-12-12 17:40] amccloud commented on #2304
For those running into this issue. I'm only running in to this issue when using backend: `MediaElement`, while `webaudio` works fine:

<img width="1496" alt="Screen Shot 2021-12-12 at 9 24 50 AM" src="https://user-images.githubusercontent.com/38463/145722722-b38a0c0c-20a1-437d-894a-e09cc15f155d.png">

I've noticed that resizing my browser, forcing wavesurfer to overflow, and then scrolling the tra

[2021-12-13 12:45] SarahVela commented on #2400
Lines 1 -8 of the same file
[code]

[2021-12-13 14:09] thijstriemstra commented on #2400
I see. Can you add a method that can update the audiocontext in FFT? Or maybe you have another suggestion?

[2021-12-15 10:25] winthers opened #2417 "markers drag handlers not initialized with empty markers array in initial config"
### Wavesurfer.js version(s):

the current version of the markers plugin as copy and pasted from the repo on (12/15/2021 11:18 am)

### Browser and operating system version(s):
n/a

### Code needed to reproduce the issue:

[code]

### Use behaviour needed to reproduce the issue:

**code from markers.plugin.js**

[code]

[2021-12-15 10:33] loretoparisi opened #2418 "Calling playLoop over a region and clicking on a second region will result in audio noise"
# Hey, thank you for testing and contributing to wavesurfer.js!

## Please make sure you can check all of these points below before opening an issue:

(You don't have to post this section)

- [ X] I have checked [the FAQ](https://wavesurfer-js.org/faq/) and it doesn't solve my problem.
- [ X] I have checked [the documentation](https://wavesurfer-js.org/docs/) and it doesn't solve my problem
- [ X]

[2021-12-15 14:35] loretoparisi commented on #1374
In my case I have that the click works ok and playback as well, but I have a noise when calling the `playLoop` api and clicking on another region....
https://github.com/katspaugh/wavesurfer.js/issues/2418

[2021-12-16 19:06] jpbast commented on #1078
I tried to implement this but I'm having trouble when getting the waveform data from the `m3u8` video. I've followed the [FAQ](https://wavesurfer-js.org/faq/) steps but it seems that `audiowaveform` doesn't support `m3u8` files. I also tried to use the `waveform-data` package to get the data via client side but no success.

Does anyone have a solution for this? I couldn't solve it and I must use `

[2021-12-17 14:09] Reached commented on #2416
@thijstriemstra done :)

https://github.com/katspaugh/wavesurfer.js/pull/2419

[2021-12-17 22:18] #2416 closed

[2021-12-21 16:13] gwendalF opened #2420 "Draw arrayBuffer"
### Wavesurfer.js version(s):
5.2.0

### Browser and operating system version(s):

### Code needed to reproduce the issue:

I do not succeed to  display a waveform using ArrayBuffer. I do not know if it's an issue of creation or for loading the buffer. I cannot use a file since my data are processed by a backend and send directly as arrayBuffer.
I try to use the `loadArrayBuffer` but nothing displ

[2021-12-22 01:02] Adrian-Swifter commented on #636
I also found that "finish" event fires "pause" after for some reason.

For me also, skipping is firing play, pause, and seek(which should be only one fired) events.

[2021-12-22 11:51] JordanPawlett commented on #1078
This seems to have caught some traction, so i'll explain how i achieved rendering live waveform data smoothly from a HLS stream using hls.js. Unfortunately i can't share any code as it was written for a client.

For hls you can pass in a custom [fLoader](https://github.com/video-dev/hls.js/blob/master/docs/API.md#floader),  write your own `CustomFragLoader` class that extends the base `Loader`.
In

[2021-12-27 18:47] Gabrielk99 opened #2421 "WaveSurfer crash page"
Thanks a lot for the library, can some one help me?

Well i trying code an application in react with the framework, and i found some examples but doenst works with me.

i have this code:

[code]

and when i execute, doenst show nothing, and others component dont show more.

the div root <div class="root"></div> dont has any child.

[2021-12-29 12:14] zhangqing12345678 commented on #2238
@feddybear
Dear, I met the same issue with you, i want the spectrogram display match with zoom value, But it only works if zoom level is 100%.
Can you give me some advices how to fix this issue? thanks!

[2021-12-29 14:07] JulianaCristina commented on #2421
Same issue here

[2021-12-29 14:24] Gabrielk99 commented on #2421
Well, i solve this, the problem that i had was be with plugins, try comment the lines with contain plugins settings, and if work i can help.

[2021-12-29 15:03] JulianaCristina commented on #2421
Thanks, but I'm not using any plugins

[2021-12-29 15:05] JulianaCristina commented on #2421
@Gabrielk99 I remove the `id=waversurfer` (in my case) on the div and add a `height` and `width` to the div and worked

[2021-12-29 15:06] Gabrielk99 commented on #2421
Okay, other thing u have do is add the position relative for the div that contain "wavesurfer".

[2021-12-30 14:15] jamesfiltness commented on #1758
I have the same issue. Are there any plans to support the <source> element?

[2022-01-01 04:16] hongyi-zhao opened #2422 "Do you develop this project using the configuration described on http://wavesurfer-js.org/blog/emacs-javascript.html?"
I noticed the wonderful blog written by you [here](http://wavesurfer-js.org/blog/emacs-javascript.html). Now, I also want to use Emacs as an IDE for JavaScript development. So I want to know if you develop this project using the configuration described in the above blog. BTW, see [here](https://www.draketo.de/software/emacs-javascript.html) for a similar guidance.

Regards,
HZ

[2022-01-05 01:28] dofuuz commented on #2232
Regardless of number of channels, the `heightFactor` should always be 1.

![Wrong](https://user-images.githubusercontent.com/427597/114651879-a5c4ce80-9c99-11eb-8002-fef576de29a1.png)
↑ This is wrong
Samplerate of demo.wav is 22050Hz, so top of spectrogram should be 11.025kHz. Not 22.1kHz nor 24kHz.
`heightFactor = 2` looks good, but it's incorrect.

It seems like web browser decodes audio to fixe

[2022-01-05 13:54] bencehusi commented on #2350
What is the solution here?

I'm unable to use the library in a Next.js environment.

[code]

@noslouch I don't understand your solution.
How do I replicate this "shim" in a component? What is that global variable?

[2022-01-05 14:12] bencehusi commented on #2350
Did not really work.

Anyone who is looking for a Next.js solution, use the dynamic loader to load your component that contains the wavesurfer import:

[code]

[2022-01-07 00:04] SteveC00k opened #2425 "Need to know how to capture the location of the cursor when using the cursor plugin."
NOTE: This isn't an issue like a bug but rather I am trying to figure out how to use values from the JS to create a separate canvas(s) to make my own markers above. I do not know where else to ask. Apologies if this is not where I need to ask these things.

Current version of hosted plugin.
Brave and Chrome and windows 10 and 8.1

Code using is the Main plugin wavesurfer.js, and plugins timeline,

[2022-01-07 03:13] SteveC00k commented on #2425
Just an FYI for others attempting to do similar.
I have found the value I needed to place a box just above the cursor .
`wavesurfer.params.pixelRatio`
Use this for the X value and it will be the same location of the cursor even if you zoom.
I am still working on this and will update here on things I find. Perhaps the author(s) can then later make a new plugin or similar to allow this to be integra

[2022-01-07 05:05] SteveC00k commented on #2425
Next I am going to try to figure out how to retain position when zooming in or out.

[2022-01-07 13:41] mikesol opened #2426 "Moving/resizing a region on Android Chrome results in a dropped interaction afterwards"
### Wavesurfer.js version(s):
5.2.0

### Browser and operating system version(s):
Chrome on Android

### Code needed to reproduce the issue:

The issue happens anywhere the regions plugin is used - for example, on https://wavesurfer-js.org/plugins/regions.html, the code of which is at https://github.com/katspaugh/wavesurfer.js/blob/master/example/regions/app.js.

### Use behaviour needed to reprod

[2022-01-07 17:18] sluice153 commented on #2408
Solution for me and with all audio issues in Safari since 15.x is: Go to Safari menu->developer->experimental->deactivate GPU Process: Media (if you don't see Developer, you have to activate it in Safari preferences first.
Hope this helps you, too

[2022-01-07 18:41] SteveC00k commented on #2425
Ok I am not sure why but the value I am using does not work in Chrome.

[2022-01-07 19:21] kross-italk opened #2427 "Install regions plugin from NPM"
How do I install the regions plugin from NPM? The Plugins documentation only provides an example using unpkg which is not suitable. https://wavesurfer-js.org/plugins/

This issue seems to cover my request but it doesn't have any resolution. https://github.com/katspaugh/wavesurfer.js/issues/1077
How do I install the regions plugin from NPM? It's not in `node_modules/wavesurfer.js/dist/` as that iss

[2022-01-10 03:29] Druthi commented on #1892
Is this resolved? I face the same issue where the audioprocess event seems to be firing after stopping recording. So the next time I start recording, the waveform becomes janky and it just gets worse everytime i do it

[2022-01-10 16:35] #2420 closed

[2022-01-10 17:01] gwendalF opened #2429 "Wave are not draws only bars"
### Wavesurfer.js version(s):
5.2.2

### Browser and operating system version(s):
Chrome 96.0.4664.110
and windows 10

### Use behaviour needed to reproduce the issue:

If I have a very short song, like a click or something very short, I have only a empty line dawned. But the sound is working.
I have try to force to redraw using drawBuffer but that does not change? Is there a minimal duration or m

[2022-01-10 18:06] SarahVela commented on #2400
This is as far as I got:

The getFrequencies function sets a buffer value, then uses that to set a sampleRate value
[code]

[2022-01-11 00:50] thijstriemstra commented on #2422
ping @katspaugh

[2022-01-11 01:13] thijstriemstra commented on #2427
you can `npm install wavesurfer.js` and it will show up in `node_modules/wavesurfer.js/dist/plugins/`

[2022-01-11 01:13] #2427 closed

[2022-01-11 09:29] katspaugh commented on #2422
Thanks @hongyi-zhao!

That article is quite old (2015ish?). I haven't used js2-mode in a while.

You should check out [Tide](https://github.com/ananthakumaran/tide). It works for both TypeScript and JavaScript. In JS, types are inferred.

[2022-01-11 09:45] hongyi-zhao commented on #2422
But it seems that both [js2-mode](https://github.com/mooz/js2-mode) and [tide](https://github.com/ananthakumaran/tide) are actively developed and maintained. And [tide](https://github.com/ananthakumaran/tide) looks to have more powerful abilities.

[2022-01-11 09:45] #2422 closed

[2022-01-11 20:19] #2232 closed

[2022-01-12 11:49] thijstriemstra commented on #2429
@gwendalF please include your wavesurfer.js config

[2022-01-12 11:50] thijstriemstra commented on #2421
Closing.

[2022-01-12 11:50] #2421 closed

[2022-01-12 11:51] thijstriemstra commented on #2425
Why not use the un-minified?

[2022-01-12 12:14] gwendalF commented on #2429
Hello sorry,
this is a copen.
Under 3840 pts I have no drawing using wave but I have when using bar

https://codepen.io/GwendalFernet/pen/Exwdprr

[2022-01-12 15:09] fr150-nl opened #2430 "active playing audio file at the top of scrolling div"
Hi,

Thank you so much for introducing waveurfer.js to the world. Really great stuff!

Actually this is more like an enhancement request.

The situation is that i have a playlist that resides within a scrolling DIV.
I'm trying to get the active playing audiofile appear on the top of the list.
Any possible combination of .scrollTo seems totally ineffective.
Even hardcoded within wavesurver.init.js

[2022-01-12 18:52] thijstriemstra commented on #2430
what code exactly needs to be improved?

[2022-01-13 09:40] fr150-nl commented on #2430
Hi Thijs,

Thank you so much for replying. Actually I have finally got it to work correctly. (Whilst not being an expert on javascript and jquery.)  Take a look at the website [http://www.frizo.nl/](http://www.frizo.nl/)
Whenever a user clicks on a song the javascript function show_mp3_info() called.
And in wavesurver.init.js whenever setCurrentSong() is called i also call show_mp3_info().
Not an

[2022-01-13 09:40] #2430 closed

[2022-01-13 14:02] lorenzos commented on #1228
I'm still experiencing this issue when I remove my work-around. IMO the work-around is still better than crashing the whole script, would a PR be welcome? @katspaugh @thijstriemstra

[2022-01-13 14:11] thijstriemstra commented on #1228
yep.

[2022-01-13 22:50] SteveC00k commented on #2425
After spending a lot of time in the code. I realize that what I need is to be able to create a duplicate container without the waveform. Then assign my own drawings in this new container matching the play location. The code uses a function/class to produce the "container" that has the canvas to produce a 2D drawing background for the graphics. I just need to tap into that and generate what I need.

[2022-01-14 07:58] SteveC00k commented on #2425
Would be great to have a roadmap for plugin development.
Any other information that could help me would be appreciated.
I really like this and would like to make something great. Just not as good as others at JS. (still learning)

[2022-01-15 18:40] SteveC00k commented on #2425
I have been trying to get the 2 canvases linked so when you zoom in/out they any created elements in the 2nd one will match the 1s one that has the waveform in it. I am not having any luck figuring out how to do that. The 2nd canvas does not even create new <canvas> objects stacked like the 1st one does.

[2022-01-19 20:14] gholzmann commented on #2406
I am experiencing the same problem: zoom works in the waveform, but not in the spectrogram. Also tried manually calling `wavesurfer.spectrogram.render()` and `wavesurfer.spectrogram.updateScroll(element)` ...

@entonbiba were you able to resolve the issue?

[2022-01-22 08:06] gwendalF opened #2433 "Debounce will rollup"
### Wavesurfer.js version(s):
5.2

### Browser and operating system version(s):
Windows10 & Ubuntu 20.04

### Use behaviour needed to reproduce the issue:

I am building a project with vite. Unfortunately I cannot build the project because I have an error from the import of debounce in the util/index.js file.
- Debounce is in devDependencies, shouldn't be in the dependencies instead ?
- It works f

[2022-01-22 09:25] gwendalF commented on #2433
Sorry I found an issue who's mentionning the solution: install the debounce package in the project
https://github.com/katspaugh/wavesurfer.js/issues/1569
However is it stilll normal the package is in devDependency and not in dependencies

[2022-01-22 09:25] #2433 closed

[2022-01-25 13:03] Gigamick opened #2434 "Stream audio with wave surfer? Possible contract work available."
Is it possible to stream audio through wavesurver as opposed to loading the file in the browser?

If someone is willing and able there is work going here to make this happen.

Thanks

[2022-01-26 14:19] guilhermeb-ciandt opened #2435 "MP2 files won't render or play"
### Wavesurfer.js version(s):
5.2.0

### Browser and operating system version(s):
Chrome, Firefox, Windows 10, Ubuntu 20.04

### Code needed to reproduce the issue:

https://codepen.io/guilhermeb-ciandt/pen/bGYNdoO

### Use behaviour needed to reproduce the issue:

Get a MP3 file and convert to MP2, wavesurfer won't be able to reproduce it. On the codepen example I got the MP3 file used on wavesur

[2022-01-27 03:25] #1959 closed

[2022-01-28 12:06] andrewsml commented on #2103
@thijstriemstra , have you eventually solved the issue? what the cause was?

[2022-01-28 13:18] samuliedvin commented on #2103
I believe the problem is how HTMLMediaElement behaves while setting its internal `currentTime` when the server serving audio files is not configured properly. Changing `currentTime` creates a byte range request for the server asking for a part of the audio file - and if this fails, the player sets `currentTime` to 0 by default.

I struggled for a while with this since I had to keep audio files onl

[2022-02-01 04:20] jie-chen commented on #2035
Hi, is there any update on this?  Do we have to manually create AudioContext and pass it to wavesurfer? The region plugin just does not loop seamlessly.

[2022-02-01 08:25] palufra90 commented on #2128
The tickets have been opened? I'm having the same problem with the second point, but I can't find any open ticket related to it

[2022-02-01 19:30] thijstriemstra commented on #2128
@palufra90 feel free to open that ticket.

[2022-02-02 09:08] amilovanovic94 opened #2436 "On region-play audio continues playing up to 70ms after region-end pause time."
### Wavesurfer.js version(s):
wavesurfer: 2.0.2, wavesurfer: 3.2.0

### Browser and operating system version(s):
Win 10 – Chrome - v.97.0.4692.99

### Code needed to reproduce the issue:
`<!doctype html>
<html class="no-js" lang="">

<head>

  <script src="https://unpkg.com/wavesurfer.js/dist/wavesurfer.js"></script>

  <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.timeline.j

[2022-02-02 23:41] arminhupka commented on #2007
Does someone figure out how to solve this problem? Still buggy on Safari 15.3.

[2022-02-07 02:03] feddybear commented on #2238
@zhangqing12345678 hi, sorry I didn't notice your message for a long time.

what I did that worked for me was to use an older version of wavesurfer's implementation of the Multicanvas renderer.  Of course it's suboptimal, as it takes a while to recompute values of frequency bins when you change zoom values, especially if the file is large.  For pre-segmented audio, it works perfectly.

I recorded

[2022-02-07 16:14] thijstriemstra commented on #2435
Any error messages?

[2022-02-07 20:03] guilhermeb-ciandt commented on #2435
No error messages

[2022-02-07 20:19] danielmalmros opened #2438 "Microphone Plugin don't work with Ionic on iOS"
Hi,
I'm currently trying to use Wavesurfer in my Ionic setup and everything seems to work fine until I added the **Microphone Plugin** and I'm having a hard time figuring out why this breaks the below setup when build with Ionic and Xcode.

### Wavesurfer.js version(s):
`"wavesurfer.js": "^5.2.0"`

### Browser and operating system version(s):
- Works on Macbook Pro M1 (all browsers)
- Don't work w

[2022-02-08 08:12] dtcooper opened #2439 "Pre-rendered Peaks Don't Work for Bars Rendering on 6.0.0"
### Wavesurfer.js version(s): 6.0.0

### Browser and operating system version(s): Chrome latest on macOS

### Code needed to reproduce the issue:

The following below **works** on Wavesurfer.js version 5.2.0 but *not* on 6.0.0,

[code]

### Use behaviour needed to reproduce the issue:

Observe peaks aren't pre-rendering, and bar rendering is empty/flat/silent. If i omit the `barWidth: 5` option, i

[2022-02-08 08:30] qadeerabbas49 commented on #2439
I'm facing an issue with wavesurfer.js 5.2. Whenever I try to load and play the song the internet download manager starts it downloading and the song doesn't load.  What could be the issue?
here is the code:

[code]

[2022-02-08 09:34] SvenFranz opened #2440 "Regions and splitChannels: Regions only for each channel?"
Thanks for the wavesurfer.js 6.0.0 release! I use wavesurfer with splitChannels view and now regions are for each channels seperated. In  v5 the regions were drawn over both channels which is the behaviour I prefere in my project. Is there a option for that I haven't found until now?

Best regards

[2022-02-08 09:36] SvenFranz commented on #2406
The width of the spectrogram canvas will not be updated after zooming. My solution:
`wavesurfer.spectrogram.canvas.style.width = Math.max(wavesurfer.drawer.getWidth(), Math.round(wavesurfer.getDuration() * wavesurfer.params.minPxPerSec * wavesurfer.params.pixelRatio)) + "px"`

[2022-02-08 09:43] SvenFranz commented on #1867
I realised the background fft as mentioned [here](https://github.com/katspaugh/wavesurfer.js/issues/1867#issuecomment-589040626l)
Unfortunalty, it is not possible to send the buffer to the worker.
I solved the problem as follows:

for spectrogram.js

and in the fft_worker.js

[2022-02-08 13:08] thijstriemstra commented on #2439
Please open a new ticket and don't hijack unrelated tickets.

[2022-02-08 13:14] thijstriemstra commented on #2439
@dtcooper this is likely related to the change made by @lorenzos in #2428

[2022-02-08 18:57] MarkyMOD opened #2442 "showRegions on Minimap Plugin not working"
Hi there, I cannot get the regions to show on the minimap plugin, with showRegions. I have tried adding a name to the regions plugin, and then adding that name to the minimap plugin, but to no avail. No errors or warnings are showing. The project is in typescript, here's what my waveform looks like:
[code]

[2022-02-08 22:18] thijstriemstra commented on #2435
App just hangs and waits forever? Not a single error message?

[2022-02-08 22:19] thijstriemstra commented on #2442
I don't see any calls to showRegions?

[2022-02-09 00:21] MarkyMOD commented on #2442
Maybe I am missing something @thijstriemstra? showRegions is just an option, and if set to true (in MinimapPlugin) should show regions on the minimap?

[2022-02-09 07:32] lorenzos commented on #2439
I'll look into it.

[2022-02-09 08:30] dtcooper commented on #2439
Cheers and thanks

[2022-02-09 09:23] lorenzos commented on #2439
@dtcooper I tried your code with bars on both 5.2.0 and 6.0.0, without peaks, with peaks, and with positive-only peaks, and it always worked. Could it be something related to your specific `arrayOfPeaks`?

Let me know if you can provide an actual example, with the actual array of peaks. Thanks.

[2022-02-09 09:29] dtcooper commented on #2439
Okay, thanks for taking a look. I'll come up with a very specific steps to repro tomorrow and post it.

[2022-02-09 10:01] qadeerabbas49 opened #2443 "song doesn't load and it starts downloading with IDM but without IDM it works perfect."
I'm facing an issue with wavesurfer.js 5.2. Whenever I try to load and play the song the internet download manager starts it downloading and the song doesn't load. What could be the issue?
here is the code:

[code]

[2022-02-09 13:49] SvenFranz commented on #2440
Well... I solved this by adding in "region-created" Callback
[code]

[2022-02-09 15:25] thijstriemstra commented on #2438
have you searched wavesurfer.js tickets for other Ionic issues that could be related?

[2022-02-09 15:31] danielmalmros commented on #2438
@thijstriemstra yes I looked for similar issues, but I did not find anything related to this in the context of Ionic. Correct me if I'm wrong.

[2022-02-09 21:12] igormaraujo-nuveto opened #2444 "Markers plugin: support vertical orientation"
Hi, i'm testing the wavesurfer library with a vertical display. However when a add markers using the makers plugin, they appears at the wrong place, like that, it was at horizontal display. I look at the documentation and didn't find a support for markers at vertical display.

The Makers plugin has support for vertical display?

[2022-02-10 03:57] dtcooper commented on #2439
Hi @lorenzos, below is a repro hosted on CodePen! Thanks.

Here is a repro with WaveSurfer v6.0.0: [CodePen bGYWpOO is **not working**](https://codepen.io/dtcooper/pen/bGYWpOO?editors=1000)

Here is the same code working with WaveSurfer v5.2.0: [CodePen ZEaKWZG is working on older version](https://codepen.io/dtcooper/pen/ZEaKWZG?editors=1000)

Note each CodePen has the FULL html that you can copy

[2022-02-10 07:50] qadeerabbas49 commented on #2443
Here is the internet download manager [IDM](https://www.internetdownloadmanager.com/). It gets the files link from the browser automatically and downloads it. Yes, if I uninstall the IDM then everything works fine.

[2022-02-10 12:31] #2443 closed

[2022-02-10 12:33] kacpermigala opened #2445 "Smoothen out the playhead for longer waves"
## Please make sure you provide the following information (if applicable):

### Wavesurfer.js version(s):
5.2

### Browser and operating system version(s):
Chrome,Firefox, Opera

### Use behavior needed to reproduce the issue:
Is there a way to smoothen out the playhead when the file is longer and we are not zooming?
When on a bigger zoom level it looks like the playhead is moving quicker, but for

[2022-02-10 19:45] MarkyMOD commented on #2442
@thijstriemstra Any idea on this? After reading the Minimap docs again, and looking at the two examples I was able to find online, it looks like I am doing this right.
`MinimapPlugin.create({
          showRegions: true,`

[2022-02-10 20:34] lorenzos commented on #2439
@dtcooper I fixed it in #2446. As you can read there, your issue was caused by a regression introduced by me, which occurs only when the given array of peaks alternates negative/positive values (as yours), instead of alternating positive/negative values (as the ones normally produced by wavesurfer itself).

You can test it using my build from here: `https://github.com/lorenzos/wavesurfer.js/releas

[2022-02-10 20:54] dtcooper commented on #2439
Excellent! Thank you for looking into this, @lorenzos... however, with the fix, the waveform looks really off (very max'd out, with very high peaks).

Using the above fix version, check it out: [CodePen `yLPbZbG` with v6.0.0 + fix](https://codepen.io/dtcooper/pen/yLPbZbG?editors=1000) vs [CodePen `ZEaKWZG` with v5.2.0 has much more varied bars](https://codepen.io/dtcooper/pen/ZEaKWZG?editors=1000)

[2022-02-10 21:27] lorenzos commented on #2439
@dtcooper I know, the way the bars render has changed in 6.0.0, and your very long audio file really takes that change to extremes. But the fact is, the old rendering method was producing, IMHO, a very arbitrarily shape.

You can find details about that change and examples on #2428.

In fact, if you think about that, there was absolutely no good reason for your file to render the way it did before

[2022-02-10 21:41] lorenzos commented on #2439
@dtcooper I don't know `audiowaveform`, I use [`wavesurfer` own `exportPCM`](https://wavesurfer-js.org/docs/methods.html) to generate the peaks array, so, I can't say... That fact is, a "more varied" and "visually appealing" waveform is a bad representation of what your audio file is...

I don't know what's the maintainers opinion on that, if we should roll back or provide an option to get the old

[2022-02-10 21:50] dtcooper commented on #2439
Okay. I'll make do and experiment with arguments to `audiowaveform` and see if I come up with anything! Regardless, I appreciate the fix. 😸

[2022-02-11 14:28] RanjeetEppa18 commented on #1957
Is there any workaround to tackle this bug?

[2022-02-13 00:17] #2439 closed

[2022-02-13 16:55] thijstriemstra opened #2448 "TypeError: color.forEach is not a function"
Example on homepage gives error with v6.0.0:

[code]

![Screenshot from 2022-02-13 17-55-11](https://user-images.githubusercontent.com/305679/153765749-0bfd8692-3df5-4677-ba4a-93541e3e089e.png)

[2022-02-13 17:24] thijstriemstra commented on #2448
The example creates a `CanvasGradient` and uses this for the waveColor. This looks undocumented, and so unsupported, to me but supporting it shouldn't be too hard.

[code]

[2022-02-14 06:49] dtcooper commented on #2439
Really gnarly looking waveforms with the update and fix (6.0.1), but for posterity here's the difference @thijstriemstra (CC: @lorenzos)

Before (version 5.2.0):
<img width="1015" alt="image" src="https://user-images.githubusercontent.com/873944/153813811-ca493626-77d2-47da-864b-84c6572f2f9b.png">

After (version 6.0.1):
<img width="1038" alt="image" src="https://user-images.githubusercontent.com/

[2022-02-15 11:12] asadalicode opened #2449 "Wavesurfer Support in Ionic capacitor"
Hello,

Can i use the wavesurfer library in Ionic capacitor project? It will be an app for Web and Android. Looking forward for your response. Thanks

[2022-02-15 22:28] suterma opened #2450 "Feature request, or: How to fade-in / fade-out on play/pause?"
## This is a feature request, or a request to update the docs, if this feature is already existing.

I would like to have a quite simple fade-in and fade-out operation that I can apply when toggling play/pause. wavesurfer.js seems a quite advanced and complete audio solution, but I fail to find an example or documentation of such a fading operation in e.g. https://wavesurfer-js.org/docs/methods.ht

[2022-02-15 22:33] suterma commented on #2450
I have written a promise-based fader operation for the howler.js audio API (https://rat.dev/suterma/replayer-pwa/blob/main/src/code/audio/HowlerFader.ts) and I hoped to be able to find something already available for wavesurver.js

[2022-02-16 03:08] thijstriemstra commented on #2449
No idea. Ask in the Ionic capacitor project.

[2022-02-16 03:08] #2449 closed

[2022-02-16 03:09] thijstriemstra commented on #2450
Afaik it is. Good enhancement request.

[2022-02-16 03:10] thijstriemstra commented on #2444
No, not yet.

[2022-02-16 06:58] zephyr-66 opened #2451 "setting the responsive attribute for ws will report an error"
Hello, I have a problem here. When I set the responsive attribute for ws,  when I change the window size, it will report an error saying this. Regions is not a function in wavesurfer.minimap.js

[code]

[2022-02-16 12:38] thijstriemstra commented on #2451
Can you copy paste the full error or add a screenshot?

[2022-02-16 20:10] Uninen opened #2452 "Feature request: add API to read peak (waveform) data"
First, Thank You for this project, it's great! 👍

There's a [documented way to generate waveform data in the server](https://wavesurfer-js.org/faq/) but I think there would be many use cases where just storing and reusing the client-generated data would be both simpler and adequate.

I haven't looked at the code but I'm assuming the current client-generated is exactly or almost exactly the same as

[2022-02-16 21:20] marcelblum commented on #2435
You can add
[code]
to see the error message. I'm not sure any browser can natively decode this type of file (mpeg layer 2).

[2022-02-18 06:54] HassanAslam commented on #516
Hey @katspaugh i cannot solve regions overlapping issue can u help plz?

[2022-02-18 06:57] HassanAslam opened #2453 "regions overlapping"
i have solved region overlapping issue in regions plugin but then it gives new errors that region created after some other region is not giving proper values of start time and end time.
wavesurfer.on('region-updated', region => {

here is how i solving regions overlapping

        Object.values(wavesurfer.regions.list).forEach((regions, index) => {

        if( Object.values(wavesurfer.regions.lis

[2022-02-18 08:06] HassanAslam commented on #1260
hey @bilalcorbacioglu can u plz explain how u make regionSorted array if u have code???

[2022-02-18 12:43] thijstriemstra commented on #2453
What errors? What version of wavesurfer?

[2022-02-18 17:25] HassanAslam commented on #2453
@thijstriemstra  when i creat new region between two regions which already created before,then new region is not giving its proper values because of this code which i used to solve region overlapping.

if( Object.values(wavesurfer.regions.list)[index+1]) {
        Object.values(wavesurfer.regions.list)[index].attributes.nextRegion =  Object.values(wavesurfer.regions.list)[index+1]
    }
    if( Ob

[2022-02-19 05:09] HassanAslam commented on #2453
@thijstriemstra  i"m using cdn   <script src="https://unpkg.com/wavesurfer.js"></script>

[2022-02-19 23:46] achraf-tajani commented on #2434
+1

[2022-02-20 07:25] mINgthub opened #2455 "Spectrogram looks different between wavesurfer.js 5.2.0 and wavesurfer.js 6.0.1"
# wavesurfer.js 5.2.0
![image](https://user-images.githubusercontent.com/74526876/154832678-ef42ab74-191d-49c8-9700-f5f6c9c00741.png)
# wavesurfer.js 6.0.1
![image](https://user-images.githubusercontent.com/74526876/154832729-7b7fb62b-ad0e-491e-9c07-227efc6d162c.png)
Spectrogram looks small
# code
[code]

[2022-02-20 14:04] vinikatyal commented on #2350
Does this work with dynamic routing?

[2022-02-20 19:01] thijstriemstra commented on #2455
Caused by changes in #2424

@dofuuz can you take a look at this? If we can't fix the new implementation I'm afraid it'll have to be reverted.

[2022-02-20 21:35] thijstriemstra commented on #2321
ffprobe reports this output:

[code]

Please explain the problem (and include wavesurfer version, operating system, browser etc).

[2022-02-20 21:35] #2321 closed

[2022-02-20 21:36] thijstriemstra commented on #2330
no feedback, closing.

[2022-02-20 21:36] #2330 closed

[2022-02-20 21:37] thijstriemstra commented on #2335
Checked everything and looks ok.

[2022-02-20 21:37] #2335 closed

[2022-02-20 21:38] #2448 closed

[2022-02-20 21:39] thijstriemstra commented on #2344
no further feedback, closing.

[2022-02-20 21:39] #2344 closed

[2022-02-20 21:40] thijstriemstra commented on #2222
no further feedback, closing.

[2022-02-20 21:40] #2222 closed

[2022-02-20 21:41] thijstriemstra commented on #2247
no further feedback, closing.

[2022-02-20 21:41] #2247 closed

[2022-02-20 21:48] thijstriemstra commented on #2288
You would have to setup listeners for events like `interaction`(see https://wavesurfer-js.org/docs/events.html for list of events) and trigger those on the 2nd player.

[2022-02-20 21:51] thijstriemstra commented on #2314
Good to hear.

[2022-02-20 21:51] #2314 closed

[2022-02-20 21:53] thijstriemstra commented on #2347
no further feedback, closing.

[2022-02-20 21:53] #2347 closed

[2022-02-20 21:55] thijstriemstra commented on #2358
no feedback; closing.

[2022-02-20 21:55] #2358 closed

[2022-02-20 21:55] thijstriemstra commented on #2360
Can you create a pull request @happylinks?

[2022-02-20 21:58] thijstriemstra commented on #2364
No further feedback. Also: use the latest version of wavesurfer.js when reporting bugs, you're using an ancient version (2.0.4!).

[2022-02-20 21:58] #2364 closed

[2022-02-20 21:58] #2371 closed

[2022-02-20 21:58] #2376 closed

[2022-02-20 21:59] thijstriemstra commented on #2382
no feedback, closing.

[2022-02-20 21:59] #2382 closed

[2022-02-20 22:00] thijstriemstra commented on #2393
no feedback, closing.

[2022-02-20 22:00] #2393 closed

[2022-02-20 22:01] thijstriemstra commented on #2397
Try the `interaction` event. All events are listed here: https://wavesurfer-js.org/docs/events.html

[2022-02-20 22:07] #2394 closed

[2022-02-20 22:10] thijstriemstra commented on #2399
You can use the `detune` property with a custom AudioContext you can pass to wavesurfer. See https://developer.mozilla.org/en-US/docs/Web/API/AudioBufferSourceNode/detune

[2022-02-20 22:12] thijstriemstra commented on #2413
Can you also try Firefox, and maybe other platforms, to see if that improves things?

[2022-02-20 22:14] thijstriemstra commented on #2417
thanks for the report @winthers Can you make a pull request that removes that statement? Why is that check there in the first place?

[2022-02-20 22:50] Vulcanostrol commented on #2413
Hi thijs, its been a while since writing this issue. I have fixed the issue by using FFMPEG to encose the audio files in wav instead. The weird thing was: out of curiosity I tried encoding the files back to mp3 and the issue was gone. This means the issue is likely specific to a specific mp3 encoding.

I will try to recreate this error and then try the same files on different browsers and platform

[2022-02-21 01:18] dofuuz commented on #2455
Reverting #2424 is not a solution. Frequency label will be incorrect. And it will behavior differently with channel number.

As getting original samplerate is difficult, I suggest displaying spectrogram in 12kHz range by default.
And making option for display range soon or later.
This will draw spectrogram looks like 5.2.0.

[2022-02-21 07:48] mINgthub commented on #2455
Hi there, i cannot really find the parameter of setting the spectrogram in 12kHZ range by default, is any suggestion? Thank you.

[2022-02-21 07:49] mINgthub commented on #2455
Hi there, i cannot really find the parameter of setting the spectrogram in 12kHZ range by default, is any suggestion? Thank you.

[2022-02-21 08:44] dofuuz commented on #2455
@mINgthub It's just a suggestion for future improvement, not has been implemented.

[2022-02-21 12:06] GaborTorma commented on #2405
Same error message after upgrade version 6 and use Cursor plugin. With version 5 or without Cursor plugin I have no errors.

[code]

[2022-02-21 12:08] GaborTorma opened #2458 "cursor plugin: this.util.withOrientation is not a function"
I have a following error message after upgrading version 6 and use Cursor plugin.

[code]

With version 5 or without Cursor plugin I have no errors.

[2022-02-21 18:12] thijstriemstra commented on #2458
@GaborTorma I would assume the same error appears in the demo, and it doesn't: https://wavesurfer-js.org/example/cursor/index.html

Since you didn't include any wavesurfer config I can't say what's wrong on your side.

[2022-02-21 18:37] nicholasrq opened #2459 "Some of the Cursor plugin's options are typed incorrectly"
Currently (according to [the official docs](https://wavesurfer-js.org/api/typedef/index.html)) `followCursorY` and `opacity` are typed incorrectly/confusingly.

Environment:
- wavesurfer.js: 6.0.1
- @types/wavesurfer.js: 6.0.0
- Browser: Safari 15.4
- OS: macOS Catalina
- TypeScript: 4.5.5

The code below gives two TS errors.

[code]

For `followCursorY` (must be `boolean |  undefined`):

[code]

[2022-02-22 10:52] caugner opened #2460 "[cursor] Node.removeChild: Argument 1 does not implement interface Node."
Since upgrading to Wavesurfer.js, our Sentry is catching the following exceptions when our app calls `wavesurfer.destroy()`:

[code]

and

[code]

👇
https://github.com/katspaugh/wavesurfer.js/blob/46d423b882d503cafd4d2498a230ff20ce39fe19/src/plugin/cursor/index.js#L242

[code]

👇
https://github.com/katspaugh/wavesurfer.js/blob/bff81af86e581412ed2b506b9fbeb706b605d663/src/plugin/cursor/index.js#L93

[2022-02-22 11:16] caugner commented on #2460
Probably caused by changes introduced in #2357.

We're creating the `WaveSurfer` instance as follows:

[code]

[2022-02-22 11:36] caugner commented on #2460
I verified that downgrading to 5.2.0 fixed the issue.

[2022-02-23 02:33] iandoesallthethings commented on #2350
I'm having this issue in Sveltekit. I tried shimming global, but it doesn't seem to work. Has anyone found a solution?

[2022-02-23 02:34] command-tab commented on #2350
Same here with Vue/Nuxt

[2022-02-23 10:04] qingwufong commented on #2131
I have same question that how to draw waveform with a time range.

[2022-02-23 10:41] pascbeck opened #2461 "[QUESTION]: how does ignoreSilentMode work?"
- [x] I have checked [the FAQ](https://wavesurfer-js.org/faq/) and it doesn't solve my problem.
- [x] I have checked [the documentation](https://wavesurfer-js.org/docs/) and it doesn't solve my problem
- [x] I have searched for [already open issues](https://github.com/katspaugh/wavesurfer.js/issues) which desribe my problem.
- [x] The issue I'm having is related to and caused by wavesurfer.js, not

[2022-02-23 14:41] purva15 commented on #2058
@ApayRus I want to do something similar except I am not going to use youtube video. How can I control mp4 video from regions? Like moving video frames when I move regions.

[2022-02-23 16:52] vinikatyal commented on #1515
@nilesh121196 do u have a full working example?

[2022-02-23 22:55] purva15 commented on #1758
@qbunt @aburai What can I do for this?
let wavesurfer = WaveSurfer.create({
          container: document.querySelector('#waveform'),
          waveColor: '#A8DBA8',
          progressColor: '#3B8686',
          backend: 'MediaElement'
})
let video = document.querySelector('video')
wavesurfer.load(video)

When attempting to start WaveSurfer with a MediaElement backend, and load a video element as

[2022-02-24 14:34] achraf-tajani commented on #1078
@JordanPawlett, and if you don't want to empty the wavesurfer, just use this function proposed by @thijstriemstra  [#272](https://github.com/katspaugh/wavesurfer.js/issues/272#issuecomment-70542569).
works good for me ^^

[2022-02-24 14:50] thijstriemstra commented on #1078
But the community provided them with wavesurfer.js, saving them enormous development costs, and they don't want to give something back? Strange world we live in.

[2022-02-24 15:50] lorenzos commented on #2439
@dtcooper Adding an option for the old method is a decision that is not up to me. If mainteiners are ok with it, I can implement that. In the meantime, you can use one of the following builds, I compiled them on top of latest version (6.0.2) but with my change reverted to pre-6.0.0:

[code]

[2022-02-24 17:06] thijstriemstra commented on #2439
Or adding an option for the new method?

[2022-02-24 17:13] lorenzos commented on #2439
@thijstriemstra As you and @katspaugh prefer, really. When submitting the PR, I proposed the new method as a fix, and honestly didn't though of having it as an option, since the old one is in fact a random visualization (as I thoroughly explained). Now I understand that the change can be quite radical in some cases, so yes, whatever you like.

[2022-02-24 17:16] thijstriemstra commented on #2439
Agreed. @dtcooper can you also add a screenshot of the waveform without bars option, preferably for old and new wavesurfer.js versions?

[2022-02-24 17:20] thijstriemstra commented on #2459
thanks for the report @nicholasrq Can you make a pull request for these fixes?

[2022-02-24 19:28] purva15 commented on #2058
How can I get peak array from mp4 video file?

Use Case:
I am loading a video element as the audio source using WaveSurfer with a MediaElement backend. But I am getting only flat line in waveform instead of waves. To work around this I am planning to pass audio peak array into wavesurfer.load().

When attempting to start WaveSurfer with a MediaElement backend, and load a video element as the audio

[2022-02-24 19:29] purva15 commented on #2058
How can I get peak array from mp4 video file?

Use Case:
I am loading a video element as the audio source using WaveSurfer with a MediaElement backend. But I am getting only flat line in waveform instead of waves. To work around this I am planning to pass audio peak array into wavesurfer.load().

When attempting to start WaveSurfer with a MediaElement backend, and load a video element as the audio

[2022-02-25 17:18] purva15 commented on #1082
How can I create peaks from video mp4 file??

[2022-02-26 13:26] thijstriemstra commented on #2460
Any idea what's going on here @Ivaka?

[2022-02-27 09:29] othmar52 opened #2463 "timeline plugin: negative offset rendering issue"
First of all: thank you for this fantastic library
So cool that nearly all of my special needs can be solved by configuration - i never would have expected such a great flexibility!!!

Unfortunately i found a side effect that may be a kind of bug caused by "over-configuration" :D
Currently i am doing some prototyping for a DJ-like web application for playing acapellas for synth jam sessions with p

[2022-02-27 15:38] thijstriemstra commented on #2461
take a look at the discussion in the pull request: #2176

[2022-02-27 16:04] thijstriemstra commented on #2459
It's also possible to specify percentage opacity values (in most browsers) or string opacity values like "inherit". See https://developer.mozilla.org/en-US/docs/Web/CSS/opacity

[2022-02-27 17:34] #2459 closed

[2022-02-27 19:49] remarcable commented on #2417
@winthers A workaround I found is to initialize the MarkersPlugin with a marker and a `draggable: true` property. It seems like the marker can be empty, and if it is shown you could call `.clear()` after initialization to hide it again:

[code]

[2022-02-28 02:31] xiaoyeqi opened #2465 "wavesurfer-dbmeter-plugin 是不能用了吗？？？"
# Hey, thank you for testing and contributing to wavesurfer.js!

## Please make sure you can check all of these points below before opening an issue:

(You don't have to post this section)

- [ ] I have checked [the FAQ](https://wavesurfer-js.org/faq/) and it doesn't solve my problem.
- [ ] I have checked [the documentation](https://wavesurfer-js.org/docs/) and it doesn't solve my problem
- [ ] I

[2022-02-28 07:10] qingwufong commented on #2131
I found It works that slice audio buffer with start and end time. code like this:
[code]

[2022-02-28 10:24] pascbeck commented on #2461
Hey, thanks for the response, problem is I have already tried the things talked about in the thread. Also I have tried to unmute the context via unmutejs and it doesent work somehow. Guess I keep experimenting till it works 🤷.

[2022-02-28 15:50] thijstriemstra commented on #2131
nice @qingwufong If you have time to add an example that uses this technique, that would be great.

[2022-02-28 16:56] qbunt commented on #1758
@aburai Any chance you can speak to adding support for https://github.com/katspaugh/wavesurfer.js/issues/1758#issuecomment-537641665 as you mentioned? This has been open for a couple years now, maybe this is not worth leaving open?

[2022-02-28 23:46] #2460 closed

[2022-02-28 23:46] thijstriemstra commented on #2465
Please use english.

[2022-02-28 23:46] #2465 closed

[2022-03-01 07:57] ambrozywozniak opened #2466 "minimap plugin: how to change the color of the minimap wave?"
Hey, is it possible to change the color of the minimap wave? In the documentation, there are options to change the color of the main wave, which also changes the color of the minimap wave. [In the example](https://wavesurfer-js.org/plugins/minimap.html) of the minimap, the wave of the minimap has a different color, but I did not find such a possibility in the minimap options.

[2022-03-01 14:04] #2466 closed

[2022-03-02 09:35] ambrozywozniak opened #2468 "playhead plugin: customize playhead icon and avoid parent scroll when playhead reaches end of audio"
1. Is there any way to change the default red triangle icon?
2. Any idea how to avoid activating scroll on parent when playhead reaches end of audio?
![image](https://user-images.githubusercontent.com/100673942/156336182-d7073c8f-946a-47f1-9e2c-85f9d7357d9e.png)

[2022-03-02 10:02] ambrozywozniak commented on #2468
2. I added to `<playhead>` children `position: fixed` and looks like it works as expected.

`
playhead > * {
    position: fixed;
  }
`

Elements with position `fixed` are immune to scrolling.

[2022-03-03 06:15] #2461 closed

[2022-03-04 05:50] othmar52 commented on #2463
@thijstriemstra in the meantime i answered the question myself: it's **not** possible to solve this by configuration

so now i have created a [BeatGridPlugin](https://github.com/othmar52/instrupella/blob/main/src/js/BeatGridPlugin.js) that extends the [TimelinePlugin](https://github.com/katspaugh/wavesurfer.js/blob/master/src/plugin/timeline/index.js) which basically adds only 3 lines of code to t

[2022-03-04 08:53] zh-lx opened #2469 "`getDuration()` takes a deviation from the actual time"
### Wavesurfer.js version(s):
5.0.2

### Browser and operating system version(s):
Chrome. version is : `98.0.4758.109`

### Use behaviour needed to reproduce the issue:
When I user `ws.getDuration()` to get the duration of the audio, the result takes a deviation from the actual time. As shown in the figure below:
![image](https://user-images.githubusercontent.com/73059627/156730037-6340dc9e-7bb6-4

[2022-03-04 11:44] thijstriemstra commented on #2463
Sounds good.

[2022-03-04 21:34] #2463 closed

[2022-03-05 13:15] thijstriemstra commented on #2469
Can you use `ffprobe` (part of ffmpeg) to scan the audio file and paste output here?

[2022-03-05 19:19] #2455 closed

[2022-03-06 09:31] zh-lx commented on #2469
The result is as follow:
[code]

[2022-03-06 14:22] thijstriemstra commented on #2469
Always test with latest version(s).

[2022-03-07 00:57] zh-lx commented on #2469
Thanks, I upgraded the version, and now it's normal.

[2022-03-07 11:02] antonellogatto opened #2472 "Percentage of track played"
Is there any way to get a percentage of how much track has been actually played?
If there's nothing similar built-in, do you have a hint on how I can reproduce this measure please?
Thanks

[2022-03-07 11:17] zephyr-66 commented on #2451
The problem has been solved, thank you

[2022-03-07 11:18] #2451 closed

[2022-03-07 11:28] zephyr-66 opened #2473 "about prototypes of ‘splitChannels’"
How to make a binaural rendered waveform graph without overlaying the total height as mono
![image](https://user-images.githubusercontent.com/45098442/157023002-cf2b5075-94a3-4c5c-8d9b-72cc04f17948.png)

[2022-03-08 23:30] thijstriemstra commented on #2472
[code]

[2022-03-08 23:30] #2472 closed

[2022-03-09 08:30] othmar52 opened #2475 "documentation of `audioprocess` event needs improvement"
related to [issue #618](https://github.com/katspaugh/wavesurfer.js/issues/618)

The [documentation](https://wavesurfer-js.org/docs/events.html) reads:
 - `audioprocess` – Fires continuously as the audio plays. **Also fires on seeking.**

`Also fires on seeking` is not true when audio is paused

### Wavesurfer.js version:
wavesurfer.js 6.0.2

### Code needed to reproduce the issue:
open https://wav

[2022-03-09 11:26] thijstriemstra commented on #2475
I would do this first/for now.

[2022-03-09 11:28] thijstriemstra commented on #2472
Uh. Not clear from your description at all. Glad you got it sorted out.

[2022-03-09 16:23] adolfov opened #2478 "Regions plugin lag when playing video"
Starting at version 6.0.0 there's a lot of lag when playing a long video with the regions plugin enabled

https://user-images.githubusercontent.com/10564362/157484423-1f60a8a4-893a-4985-8875-9c2f1068b47f.mp4

### Wavesurfer.js version(s):
6.0.0 +

### Browser and operating system version(s):
Chrome based

### Use behaviour needed to reproduce the issue:
- Use wavesurfer.js version 6.0.0 or later
-

[2022-03-10 01:07] #1758 closed

[2022-03-10 03:09] zh-lx commented on #2469
Sorry, I have upgraded it to version 6.0.2, but the problem is still present.

[2022-03-10 08:33] othmar52 opened #2479 "minimap plugin: clear minimap when loading a new track"
maybe related to [issue #617](https://github.com/katspaugh/wavesurfer.js/issues/617)
### Wavesurfer.js version(s):
wavesurfer.js 6.0.2

### Code needed to reproduce the issue:
open https://wavesurfer-js.org/example/minimap/index.html
open js console and add this line
[code]
check minimap during load `<-- minimap of previous track still visible until load+analyzing is finished`

Shouldn't the minim

[2022-03-10 10:57] thijstriemstra commented on #2469
can you convert it to wav using ffmpeg and see if that makes a difference.

[2022-03-10 10:57] #2475 closed

[2022-03-10 11:17] thijstriemstra commented on #2479
Think so.

[2022-03-11 02:11] zh-lx commented on #2469
Yes, it is normal when converting it to.wav file, according to my observation, some.mp3 files will have problems.

[2022-03-11 05:08] trekhopton commented on #1648
I second this, it would be a useful addition.

[2022-03-11 12:51] thijstriemstra commented on #2469
Ok, so it's a browser issue.

[2022-03-11 13:36] thijstriemstra commented on #1648
maybe @dofuuz is interested in adding this.

[2022-03-11 16:18] zh-lx commented on #2469
But if I get the duration of the audio through the `<audio />` tag of the browser, the obtained value is normal.

[2022-03-12 23:21] thijstriemstra commented on #2478
hmm, can you do a diff of the changes to the regions plugin between v6.0 and 5.x?

[2022-03-14 22:09] adolfov commented on #2478
Sure

1. Click here: [diff](https://github.com/katspaugh/wavesurfer.js/compare/5.2.0...6.0.4?diff=unified#diff-e7155624d86da0e6e00723224e8d2069806b92c756b6b1ae11af3168e866e82c)
2. Go to "Files Changed"
3. Scroll down to `src/plugin/regions/region.js`

[2022-03-14 22:24] thijstriemstra commented on #2478
Maybe that helps to figure out the issue.

[2022-03-15 15:36] kross-italk opened #2481 "Many calls to setSinkId results in no sound"
- [X] I have searched for [already open issues](https://github.com/katspaugh/wavesurfer.js/issues) which desribe my problem.
https://github.com/katspaugh/wavesurfer.js/issues/2060
- [X] The issue I'm having is related to and caused by wavesurfer.js, not by other software (which maybe packages and uses wavesurfer incorrectly) – In that case you should open the issue on the respective project pages.

[2022-03-15 21:41] f-elix commented on #2350
@iandoesallthethings I made it work in Sveltekit by dynamically importing the package in `onMount`:

[code]

[2022-03-16 00:48] thijstriemstra commented on #2481
Sounds good!

[2022-03-16 19:12] 99bits commented on #2350
Thanks f-elix for this great tip.
Your example works for the basic player but when I tried addding wavesurfer plugins,  it doesn't work.  Have you got plugins working?  Cheers.

    const initProgress = async () => {
		try {
			let WaveSurfer = (await import('wavesurfer.js')).default;
			let audio = WaveSurfer.create({
				container: '#waveform',
        plugins: [
            WaveSurfer.markers.c

[2022-03-16 19:33] f-elix commented on #2350
@99bits No I haven't used plugins, so can't really help you there unfortunately.

[2022-03-17 11:25] palufra90 opened #2482 "The minimap plug-in does not display initialized regions."
### Wavesurfer.js version(s):
6.0.4

### Browser and operating system version(s):
Firefox 98, Ubuntu 20.04.3 LTS

[2022-03-18 18:44] vvillalo opened #2484 "DOMException: The play() request was interrupted by a call to pause()"
Hi,

We have made tests to stream public link unfortunately with not succesfull results:
![image (2)](https://user-images.githubusercontent.com/9408803/159064536-b810a3a7-6bc9-4a43-bd55-4304d7746bd5.png)

It starts reproducing but at some point pauses similar to this below:

https://github.com/katspaugh/wavesurfer.js/issues/771
Regards,

### Wavesurfer.js version(s):
![wavesurferversion_PV](https:

[2022-03-18 19:42] vvillalo commented on #771
How was your xhr configuration in the waveconfig?

[2022-03-20 17:30] v2pwww opened #2486 "Customize waveform"
Hi! Is it possible customize waveform something like this, maybe write custom plugin? I need help.

![2022-03-20_20-26-23](https://user-images.githubusercontent.com/4359224/159174741-93dc8b34-4570-4a5d-9180-092a81c528d5.png)

[2022-03-21 15:28] marcinpenkul opened #2487 "Audio do not loop in region on browser tab change"
As in topic, audio do not loop in region on browser tab change. To reproduce the problem you can use the example from https://wavesurfer-js.org/example/regions/index.html. Loop second region and change browser tab. Audio cursor goes beyond the region's border and audio is played to the end. After that if you go back manually to the region and you stay in audio tab, loop state is not lost and audio

[2022-03-21 19:29] MarkyMOD opened #2488 "Add an Option to Always Show Progress on 'scrollParent: true' and 'autoCenter: false'"
Currently, if the waveform is initialized with 'scrollParent: true' and 'autoCenter: false' progress will not scroll with the waveform. It would be great to have an option to always show progress onscreen, without autoCenter.
So, if progress goes offscreen, the waveform automatically scrolls to show progress on the very left of the displayed waveform.

[2022-03-23 06:52] RanjeetEppa18 commented on #1957
[workaround]
Loading Wavesurfer on `loadedmetadata` event of video might fix the issue.

[2022-03-23 16:50] Conycorouny opened #2489 "marker.update method still available? Overriding marker position in code."
Hi all,

thanks so much for this tool! I'm creating an online survey with audio samples and wavesurfer.js is an absolute gamechanger for this project!

However, I'm working on an issue, I can't resolve. It concerns the "markers plugin"

I already suceeded in implementing a marker via the markers Plugin that is user-draggable.
I need the draggability of the marker to be limited within a region crea

[2022-03-24 07:36] Conycorouny commented on #2489
Found a solution myself:

[code]

[2022-03-24 07:36] #2489 closed

[2022-03-25 07:35] Conycorouny opened #2491 "Marker "draggable:true" doesn't work in wavesurfer.addMarker();"
Hi,

I'm trying to get to work a Marker via the Markers Plugin. The Marker must be user draggable.

I therefore, at first, implemented the following in wavesurfer.create(). This works like a charm!:

[code]
However, when trying to implement a marker **only** via the below, I can't drag the marker.

[code]

Draggability does however work, as soon as I create a (first) marker in the WaveSurfer.creat

[2022-03-25 20:08] vvillalo commented on #2484
Anybody has a similar issue?

[2022-03-25 20:24] #2479 closed

[2022-03-25 21:32] MarkyMOD commented on #2488
For anyone looking for how to implement this, this is what I ended up with, inside a setInterval (which I had already been using):

`if (wavesurfer.current.isPlaying()) {

        const progressPixels = Math.round(
          wavesurfer.current.getCurrentTime() * wavesurfer.current.params.minPxPerSec *
          wavesurfer.current.params.pixelRatio,
        );

        const parentWidth = wavesurfe

[2022-03-25 22:16] thijstriemstra commented on #2484
Have you tried searching the tickets for similar issues? Isn't first time I've seen this DOMException.

[2022-03-25 22:18] thijstriemstra commented on #2487
Would be really essential to mention **what browser** you're talking about, and what operating system. Also, please always use latest wavesurfer.js versionwhen reporting an issue (6.x atm).

[2022-03-25 22:20] thijstriemstra commented on #2491
😺

[2022-03-25 22:24] #2481 closed

[2022-03-25 22:54] #2482 closed

[2022-03-25 23:18] vvillalo commented on #2484
@thijstriemstra  Yes I have like this one https://github.com/katspaugh/wavesurfer.js/issues/771 , recommended using a new version of wavesurfer and we are using the last one.

[2022-03-25 23:41] thijstriemstra commented on #2484
Can ou eliminate the use of jquery, just js and wavesurfer. Also paste the output of `ffprobe` for our audio file.

[2022-03-25 23:56] vvillalo commented on #2484
Sure meanwhile I try without use of jquery here is the` ffprobe`:
`ffprobe https://dialpadbeta.com/recording/callrecording/l2dFkGiqMjdH030lkszTG1kYB5dYXNtBovEhsomh1ju3
ffprobe version 4.2.4-1ubuntu0.1 Copyright (c) 2007-2020 the FFmpeg developers
  built with gcc 9 (Ubuntu 9.3.0-10ubuntu2)
  configuration: --prefix=/usr --extra-version=1ubuntu0.1 --toolchain=hardened --libdir=/usr/lib/x86_64-linux

[2022-03-26 00:01] thijstriemstra commented on #2484
try converting it to wav and see if it makes a difference.

[2022-03-26 00:07] vvillalo commented on #2484
Converting with a wavesurfer method? Or how do you suggest?

[2022-03-26 00:12] thijstriemstra commented on #2484
mp3 in browsers is not alwyas stable; wav is (i guess)

[2022-03-26 02:37] vvillalo commented on #2484
But in our case we need to stream from a url that comes a mp3 from dialpad not wav conversion offline or manual is viable

[2022-03-26 09:19] vvillalo commented on #2484
It happens with other urls mp3 audios such as https://www.soundhelix.com/examples/mp3/SoundHelix-Song-1.mp3 start streaming few seconds and then stops.

[2022-03-29 04:15] vvillalo commented on #2484
If it helps we had to add this code lines to prevent cors restrictions:

`backend: "MediaElement",`

[code]

[2022-03-29 17:10] Felpat0 opened #2493 "Edgescroll to right still not working"
### Wavesurfer.js version(s):
6.0.4 (NPM)

### Use behaviour needed to reproduce the issue:
Just create any waveform with the WavesurferRegions plugin and try to move the mouse to the right edge while selecting, the wave container will not scroll (but it will work with the left edge)

I saw that there was a [PR](https://github.com/katspaugh/wavesurfer.js/pull/2402) to solve this problem, but it lo

[2022-04-01 08:11] Viktor19931 commented on #494
this option still not working

[2022-04-01 14:13] vsisaty opened #2495 "Get count of channels"
I want to get count of channels to know that this audio is mono or stereo, but I can`t do it because buffer field does not exists on backend. How can i get this information?

![image](https://user-images.githubusercontent.com/102812270/161280995-e926f536-4840-41cc-b51f-bab43ccc66fa.png)

[2022-04-04 14:37] purva15 opened #2496 "Hi, Thank you for creating wavesurfer.js. I have an issue using it. I want to add some addition details into a region. For example I have added region.category="
# Hey, thank you for testing and contributing to wavesurfer.js!

## Please make sure you can check all of these points below before opening an issue:

(You don't have to post this section)

- [ ] I have checked [the FAQ](https://wavesurfer-js.org/faq/) and it doesn't solve my problem.
- [ ] I have checked [the documentation](https://wavesurfer-js.org/docs/) and it doesn't solve my problem
- [ ] I

[2022-04-04 14:38] #2496 closed, assigned to nobody

[2022-04-04 14:41] purva15 opened #2497 "Where to save addition details to region?"
Hi,
Thank you for creating wavesurfer.js. I want to add some additional details to each region. For example I  want to assign a category to each region and have added region.category="someCategory". But it is getting disappear once it is added to waveform. I am assuming this is not how I will be able to save additional details to it. How can I add any additional detail?

# Hey, thank you for testi

[2022-04-05 12:28] finaldzn commented on #2434
Its not really possible unfortunaly, we have tried many things but couldn't bring it to work

[2022-04-07 03:07] jmcoder1 commented on #1082
Did you get an answer  to this? I figured out how to get the audiobuffer, but not sure how to convert that to peak data.

[2022-04-12 08:56] vsisaty commented on #2495
Can anyone help me?

[2022-04-12 15:14] milton-producercloud opened #2498 "TypeError: Cannot read properties of null (reading 'clientWidth')"
### Wavesurfer.js version(s):
6.1

### Browser and operating system version(s):
All

### Code needed to reproduce the issue:

Hi! Thanks for this great library. One comment:
When, using react, I set the "responsive" param to true (or any number, **including ZERO**) if I have a hook that gets the screen resolution and I do this:

`
        if (!isLgAndAbove) {
		return (<WaveSurfer />)
        } el

[2022-04-12 15:45] uncvrd commented on #2498
Tracking, as I literally just ran in to this as well when trying to hide the waveform on mobile with responsive set to `true`!

[2022-04-14 12:08] nilq opened #2500 "There is a typo in your NFT."
The name of the project has been misspelled in the (at the time of writing) $3,079.27 NFT you have up for sale on OpenSea. If this is not a modern art statement, this might be worth fixing.

"The very first commit that started wavesufer.js"

---

I propose changing this to:

"The very first commit that started wavesurfer.js"

[2022-04-15 08:08] MikeyZat opened #2501 "[CURSOR PLUGIN]: TypeError: Cannot read properties of null (reading 'getBoundingClientRect') when showTime: false"
Following line is throwing error, because if `showTime: false` then the `displayTime` is null:
https://github.com/katspaugh/wavesurfer.js/blob/master/src/plugin/cursor/index.js#L93

### Wavesurfer.js version(s):
`v6.1.0`

### Browser and operating system version(s):
`Google Chrome Version 100.0.4896.75 (Official Build) (x86_64)`, system MacOs

### Code needed to reproduce the issue:

[code]

Error

[2022-04-15 09:21] arijitnaskar commented on #933
I am facing the same issue. I took the demo code from
[https://codesandbox.io/s/wavesurfer-react-20-gqvb6?from-embed=&file=/src/index.js]

The problem is, when I am opening the Demo code it's showing just one WaveForm. But From my local project it's loading twice. My Code below

`
import React, {
    useCallback,
    useEffect,
    useRef,
    useState,
    useMemo
  } from "react";

  import { Wa

[2022-04-15 10:03] #2495 closed

[2022-04-15 15:11] thijstriemstra commented on #2500
it's already been fixed on the master branch, thanks for reporting though.

[2022-04-15 15:11] #2500 closed

[2022-04-15 15:12] thijstriemstra commented on #2500
oh but if there are any typos on the opensea page, @katspaugh would need to take a look at that.

[2022-04-15 16:29] nilq commented on #2500
There is.

[2022-04-17 15:09] katspaugh commented on #2500
Oh, dang. That's in the NFT itself, it cannot be changed now.

There's a new project though, https://www.gitpoap.io/, which I'd like to try once they approve us. We can replace the NFT with that then.

Thanks @nilq!

[2022-04-18 03:10] randal923 commented on #986
Would it be okay to re-open this issue and talk about how to do it with React and forwardRefs? I created a question on Stackoverflow about this and we can figure how to do this, it can help others in the future.

https://stackoverflow.com/questions/71907215/how-to-integrate-wavesurfer-with-existing-audio-react

[2022-04-18 09:43] othmar52 opened #2502 "Mute state is not respected after changing volume"
changing volume during mute unmutes the audio

### Wavesurfer.js version(s):
6.1.0

### Code needed to reproduce the issue:
  - open https://wavesurfer-js.org/example/mute/index.html
  - mute the audio with the mute button
  - ensure you can't hear any sound when pressing the play button
  - open JS console and type `window.wavesurfer.setVolume(0.5);`
  - now you can hear the audio but wavesurver

[2022-04-18 22:15] thijstriemstra commented on #2501
thanks for the report @MikeyZat, can you make a pull request with a fix? A simple check for `getBoundingClientRect` should do?

[2022-04-20 15:55] MikeyZat commented on #2501
@thijstriemstra sure, will do!

[2022-04-21 16:11] #2498 closed

[2022-04-21 18:23] thijstriemstra commented on #2458
no feedback, closing.

[2022-04-21 18:23] #2458 closed

[2022-04-22 07:40] theswerd commented on #2304
Can someone explain how to do this?

[2022-04-22 14:05] theswerd opened #2504 "safari FFMPEG Encoding issue"
### Wavesurfer.js version(s):
6.1.0

### Browser and operating system version(s):

Safari Version 15.0 (17612.1.28.5)
MacOS 12.0 Beta (21A5506j)
Version 100.0.4896.127 (Official Build) (arm64)

### Code needed to reproduce the issue:

[code]

### Use behaviour needed to reproduce the issue:
When I encode files, they work in wavesurfer **chrome**, but not on **safari**. This may be a me issue, as I

[2022-04-23 17:29] thijstriemstra commented on #2504
This is not a wavesurfer.js issue.

[2022-04-23 17:29] #2504 closed

[2022-04-23 22:22] theswerd opened #2505 "Wave Surfer not working on MP3"
### Wavesurfer.js version(s):
6.1.0

### Browser and operating system version(s):

Safari Version 15.0 (17612.1.28.5)
MacOS 12.0 Beta (21A5506j)

Wave surfer doesn't render at all when used on this [MP3](https://backyard-test-api-photos.backyard.events/eventAudios/488c82ed-e72f-49fd-894d-8bea151c36ae.mp3
)

I have already checked, this is not a CORS issue. If you'd like to test with this, I have e

[2022-04-27 10:16] oshanQQ opened #2506 "When I try to use wavesurfer.js with React and TypeScript, I get a type error."
Thanks for maintaining wavesurfer.js. I like it a lot.
Right now I'm using Wavesurfer.js in an app built with React and TypeScript.
React references the DOM, so in React I use useRef.
But I am having trouble with TypeScript type error.

- wavesurfer.js version: ^6.1.0
- Browser: Chrome
- OS: macOC Catallina 10.15.7

[code]

This is a difficult problem for me.
If you could check my messages I would

[2022-04-27 14:14] mjrargo opened #2507 "Spectrogram plugin has different height on high DPI (retina) displays"
### Wavesurfer.js version(s):
6.1.0

### Browser and operating system version(s):
Chrome 100.0.4896.127, macOS 12.3

### Code needed to reproduce the issue:
This can be seen trivially on the Examples page (load on normal screen and then retina screen):
https://wavesurfer-js.org/plugins/spectrogram.html

### Use behaviour needed to reproduce the issue:
No user action necessary

![spectro-retina](ht

[2022-04-28 00:52] doctor30306 opened #2508 "Problem with Fetch on wave file. No waveform created."
I have a problem with loading a wave file.  I am using wavesurfer.js 6.1.0 (2022-03-31).  I am running latest version of Chrome on MacOS.

I am able to stream an audio file using a url ("http://somedomain.com/assets/somesong.wav").  The problem is that I get an error on the fetch and it won't create the waveform.

Here is my javascript to create the object:
[code]
When the URL is a wave file hoste

[2022-04-30 05:42] AxeemHaider opened #2510 "Audio waves not display with Microphone Plugin"
Im trying to use WaveSurfer microphone plugin in my React app but I've got problem that waves are showing.

- [x] I have checked [the FAQ](https://wavesurfer-js.org/faq/) and it doesn't solve my problem.
- [x] I have checked [the documentation](https://wavesurfer-js.org/docs/) and it doesn't solve my problem
- [x] I have searched for [already open issues](https://github.com/katspaugh/wavesurfer.js

[2022-05-03 12:20] Reached commented on #2505
There seems to be issues with Safari (15.4), which seems to break Wavesurfer :/

I have no idea what's causing it though, because it seems like the examples on the demo site are working just fine..

[2022-05-03 17:28] heresy0-0y commented on #2328
ScriptProcessorNode is now deprecated by MDN, and all browsers have full support for AudioWorklet (excepting the processorerror event in Safari).

https://developer.mozilla.org/en-US/docs/Web/API/AudioWorkletNode

[2022-05-03 18:25] KoniKodes commented on #2328
Thank you.

[2022-05-05 00:06] timnlupo commented on #2440
+1 if there is a better way to do this

[2022-05-06 22:02] randal923 opened #2511 "[Question] Lower audio quality for mobile phone"
Hi there, I am using wavesurfer just to display the waveform and fill it out while the song plays. I am actually setting it mute when it start playing because the song is playing in another audio component, not the wavesurfer component and I have not found a good way to integrate them, so I actually mute the wavesurfer song. The issue with this is that it loads 2 files at the same time, and I don'

[2022-05-13 07:23] Herob527 commented on #2506
I am working on one project using wavesurfer and this works for me so far

[code]

[2022-05-13 07:52] Herob527 commented on #2508
Can you specify an error?

[2022-05-13 11:50] jamesryan-dev commented on #83
Correct CORS config should be JSON

[code]

[2022-05-14 23:26] ApayRus opened #2513 "`<region contentEditable="true">` in Regions plugin"
Hi. Is there a way to use `contentEditable="true"` for `<region>` in Regions plugin?
This feature will make Wavesurfer  instantly the best subtitles editor.
I tried it in browser now, and excited about it. Tomorrow I will try to realize it in my app.
Please share your thoughts.

![Peek 2022-05-15 02-03](https://user-images.githubusercontent.com/1222611/168451046-e3fc8f62-a382-4744-9b3b-4e639b65bf0

[2022-05-15 13:08] ClemSK commented on #149
I've used the MediaElement and it solves both the pitch-shifting and playback 'jumping' when toggling playback rate. Overall the HTML5 element is superior to the WabAudio API for delivering functionality. FYI as mentioned in another issue - I recommend setting partialRender: False as the MediaElement didn't render the wave if set to True in my case.

[2022-05-15 22:46] thijstriemstra commented on #2505
Yea, I don't see an issue with Safari 15.4.

[2022-05-15 22:47] thijstriemstra commented on #2505
Can you run `ffprobe` (part of ffmpeg) on the file and paste the output here?

[2022-05-15 22:48] #2506 closed

[2022-05-15 22:50] thijstriemstra commented on #2508
What error?

[2022-05-15 22:52] thijstriemstra commented on #2511
can you describe the problem with some minimal code, what you have tried etc

[2022-05-15 22:53] thijstriemstra commented on #2513
@ApayRus sounds like a great enhancement, pull requests are welcome!

[2022-05-16 07:14] ApayRus commented on #2513
@thijstriemstra I am using youtube as a backend :) with `ytdl-core` (node.js `youtube-dl` alternative) and I faced a couple of problems:
1) Cors (xhr options didn't help me, and as I know I should move peaks reading to server),
2) 1-hour length video (150 mb) kills my browser tab. But 50 mb audio from the same video works fine (renders waveform in 1-2 seconds, which surprised me).

Now I am readin

[2022-05-16 11:25] #2507 closed

[2022-05-17 00:58] fasteddys opened #2515 "Filters / Simple Search"
Hello, this is great plugin.

I am looking to do some search like [here](7i.se/7zc)

I am looking for help in tagging and search a list of songs like this [link](7i.se/2Fm )

![image](https://user-images.githubusercontent.com/96149622/168705927-3ce77cf2-cc96-4bd9-a8e1-09554d7292d6.png)

[2022-05-17 01:16] #2515 closed

[2022-05-18 11:18] juyilu opened #2516 "wavesurfer.loadDecodedBuffer(audioBuffer) Is there a bug ???"
![image](https://user-images.githubusercontent.com/31700936/169025121-aa0d3ab1-b37d-4fb2-b1b1-cccb69bb801b.png)
![image](https://user-images.githubusercontent.com/31700936/169025827-f8a8edcf-029b-4156-b60b-225bd8c6dc1b.png)
![image](https://user-images.githubusercontent.com/31700936/169025959-e7713381-fb4e-4bf3-8525-7abb2a2d9c29.png)

[2022-05-18 11:26] juyilu commented on #2516
Looking at previous versions, calling this method is normal

![image](https://user-images.githubusercontent.com/31700936/169028158-c66c9ad3-67d6-4553-80f6-19ddf81241d2.png)

[2022-05-19 01:53] juyilu commented on #2516
At present, I need to reload the audiobuffer with the loadDecodedBuffer method of wavesurfer, but the method is executed to (container.querySelector) in (this.backend.load), and an error is reported here. I followed the debug and found that (container) is undefined Yes, did you forget to assign a value here? Because this.loadDecodedBuffer method only needs to pass one parameter, so see if this is

[2022-05-23 10:20] #2516 closed

[2022-05-23 14:47] vitalii-bulyzhyn commented on #2513
Is there any updates on this issue?

[2022-05-23 15:55] vitalii-bulyzhyn opened #2517 "Remove and update region (Regions plugin)"
I've been working with Regions plugin and there is a need to delete region by it's id and update by id, but there is nothing about this in the [docs](https://wavesurfer-js.org/plugins/regions.html) (only add and clear all). Just wondering if there is this functionality implemented or should I do a PR for this?

[2022-05-23 17:13] doctor30306 commented on #2508
Thanks Herob527 and thijstriemstra for responding.  Sorry for the delay in my response.

Here is the exact message:
`Access to fetch at 'http://73.54.142.141/asomediaplayer/ASOConcerts/ASO%201984-09-29%20Scott%202%20of%202%20MEDIA%20FILES/06%20ASO%201984-09-29%20Applause.wav' from origin 'http://localhost:5000' has been blocked by CORS policy: Response to preflight request doesn't pass access cont

[2022-05-24 00:37] thijstriemstra commented on #2508
Search the error message first:

[code]

[2022-05-24 00:39] thijstriemstra commented on #2517
Prs are always welcome.

[2022-05-24 09:47] ApayRus commented on #2513
Yesterday I started to work on it :)
`<region><div contentEditable="true"></div> </region>`.
I have event listener `on('region-click', (region)=> region.play())`
and haven't understood yet, how to prevent playing region after click on `<div>`.

My idea is to add new param on initializing region plugin: `contentEditable: true`. It will add editable div inside each region (with  text of phrases - `{

[2022-05-24 10:48] juyilu opened #2518 "region-click doesn't work"
click Invalid..

this.wavesurfer.on("region-click", (region) => {
      console.log(region);
});

[2022-05-24 14:58] vitalii-bulyzhyn commented on #2517
Perfect, I did find a way to update/remove regions, however I will work on the PR

[2022-05-24 16:26] doctor30306 commented on #2508
I am confused.  I have read the message.  If you look at the xhr option, I am using 'no-cors'.

I assume they have to do something in their webserver to address to 'Access-Control-Allow-Origin' for the request??  I am not sure how to tell them to "fix" this issue...

[2022-05-25 07:51] #2518 closed

[2022-05-25 15:09] esukmonica opened #2520 "waveform not being displayed dependant on video"
### Wavesurfer.js version(s):
 wavesurfer.js 6.2.0 (2022-05-16)

### Browser and operating system version(s):
Chrome Version 101.0.4951.67 (Official Build) (64-bit)
Windows 10

### Code needed to reproduce the issue:

I have attached [wavesurfer_not_working.zip](https://github.com/katspaugh/wavesurfer.js/files/8772296/wavesurfer_not_working.zip)
which contains a very simple html file that displays

[2022-05-26 11:58] ApayRus commented on #2513
@vitalii-bulyzhyn I opened PR with this features (editableContent + removeButton) :smile_cat:

[2022-05-28 16:15] thijstriemstra commented on #2517
Also see #2521

[2022-05-29 14:35] drinking-code opened #2522 "barMinHeight does not behave as expected"
As far as I understand `barMinHeight` should set the absolute minimum bar height, i.e. no bar should have a height that is smaller than specified in the `barMinHeight` option. However, currently only absolute silence is getting raised to the `barMinHeight` value. That means if for example `barMinHeight` is 4 and the peak for a certain bar is 2 this bar is rendered with a height of 2px, but should

[2022-05-29 20:20] thijstriemstra commented on #2522
can you check if there are any related (open) issues that would be fixed by this?

[2022-05-30 14:18] drinking-code commented on #2522
yes. I have gone through all open issues just now and couldn't find any that would be fixed

[2022-05-31 13:21] JanVeb opened #2524 "Concate multiple mp3 files into one file"
Hello there, Is it possible to concate (join) multiple mp3 files, so that for example, if I joined 10 different mp3 and then want to have them rendered as one audio wave element on the screen and be able to play it as one element.

Thank

[2022-06-01 07:10] juyilu opened #2525 "backend.buffer is null"
wavesurfer version : 6.0.2

Hi I want to ask a question

How to use MediaElementWebAudio to make backend.buffer not empty?

[2022-06-01 10:08] juyilu opened #2526 "Audio resets after clicking Foward or Backward on controls"
wavesurfer version：6.0.2

Audio files merged with ffmpeg After loading with wavesurfer Audio resets after clicking Foward or Backward on controls.

[2022-06-02 07:13] munenari commented on #2406
Thanks for the answers so far!
Using the answers above, I solved the problem with the following code

[code]

[2022-06-06 17:33] heresy0-0y opened #2527 "Skeleton overlay till 'ready' fired causes waveform to not render"
I want to give some sort of ui feedback to indicate that the waveform is loading, but when i try to do so with a simple skeleton, when the 'ready' event fires, the skeleton disappears to reveal the waveform container completely empty.

`<Skeleton isLoaded={!loading}>
   84             <Box>
   85             │ <div minHeight="10%" id="waveform" ref={waveform} />
   86             </Box>
   87

[2022-06-06 21:52] raymac101 opened #2528 "Is there a way to get the current audio level while playing?"
Hello,

I would like to create a level meter to go along with my Wavesurfer..  is there a way to get the current audio level as it is playing?

Thanks

[2022-06-07 06:24] 4ntke opened #2529 "regions plugin: support for drag selection for all channels"
### Wavesurfer.js version(s):

6.2.0

### Browser and operating system version(s):

Browser: Chrome
OS: Linux, macOS

### Problem description

1. In the latest version I do not see the possibility of selecting one common region for all channels. Has this opportunity been removed? If so, is it possible to add such an option?

Support for drag selection to be separated for each channel comes with ve

[2022-06-07 08:26] msuhov commented on #2527
Hi @heresy0-0y  could you please try `waveform-ready` event? It is fired when the waveform is actually drawn

[2022-06-07 09:57] juyilu opened #2530 "Click on the waveform to return to the starting point ？"
![test2](https://user-images.githubusercontent.com/31700936/172352117-0d0c32d7-5150-4953-89ea-10d63056761b.gif)

When interacting with the waveform, click anywhere on the waveform, will the current pointer return to the starting point?

wavesurfer.js version: 6.0.2

wavesurfer.js configure :

  let wavesurfer = WaveSurfer.create({
    container: "#waveform",
    backend: "MediaElement",
    scroll

[2022-06-07 12:47] rbracco opened #2531 "How to add play and delete buttons directly on each new region?"
Hi, first off thank you for this amazing library. I've been able to build some really cool stuff on top of it and I appreciate all the time and hard work that went into it.

I would like to add a play and delete button directly to each new region that is created but I haven't been able to figure out how. I'm using React + StyledComponents if that's relevant.

Instead of looking like this:
![image]

[2022-06-07 15:11] dhdaines opened #2532 "microphone plugin not finding getUserMedia properly"
Edited! I failed to understand what the code is doing!

The current example code doesn't work on my browser - somehow src/plugin/microphone/index.js is falling back to promisifiedOldGUM and thus not finding getUserMedia.  I will investigate further.

My browser:

[code]

[2022-06-07 15:17] dhdaines commented on #2532
Hm, in fact it does seem to be working now.  Sorry!

[2022-06-07 16:14] puneety95 opened #2533 "Waveform not showing correctly. It is giving spikes."
Hi, My waveform is not coming correct. It gives certain spikes due to some reasons. Attaching image for reference.
<img width="910" alt="image" src="https://user-images.githubusercontent.com/79069943/172430509-525c862b-4e00-4b14-b811-f4696eae4d88.png">

[2022-06-08 21:06] thijstriemstra commented on #2525
Please provide instructions on how to reproduce this issue.

[2022-06-08 21:09] thijstriemstra commented on #2529
can you try to identify where (what commit or what PR) this functionality was removed?

[2022-06-08 21:11] thijstriemstra commented on #2530
the code you provided doesn't match the gif animation you're showing, not sure how to help.

ps. you're opening a lot of tickets, calm down please.

[2022-06-08 21:13] thijstriemstra commented on #2531
this sounds a lot like PR #2521 (delete button), can you give that a try and report findings on that pull request @rbracco?

[2022-06-08 21:14] thijstriemstra commented on #2532
Good to hear, no worries.

[2022-06-08 21:14] #2532 closed

[2022-06-08 21:15] thijstriemstra commented on #2533
please re-read the instructions for submitting a ticket and update the necessary info.

[2022-06-09 03:22] winkcler commented on #1078
Hello, I'm also having problems using hls with wavesurfer.

`            this.canPlay = false;
            this.audioPlayer = document.getElementById("audio-player");
            this.wavesurferNode = document.getElementById("wave");

            this.initEventHandlers();
            return new Promise((res, rej) => {
                if (hls && Hls.isSupported()) {
                    this.initHLS

[2022-06-09 09:33] #2530 closed

[2022-06-09 09:47] juyilu commented on #2530
Sorry, it may be the audio problem on my side. This problem may be encountered by many people in the future. After merging the audio through ffmpeg, and then using the MediaElement loading method of wavesurfer, the gif will appear, (this .media.currentTime = start) allocation is always 0

![image](https://user-images.githubusercontent.com/31700936/172818734-b4c2da05-8fd4-416f-8b34-c3f002ee0ccf.png

[2022-06-09 11:01] dhdaines commented on #2532
Thanks! I think there was an old version of something coming from the CDN, as soon as I tried to debug it, it started working again...

[2022-06-09 18:21] vitalii-bulyzhyn opened #2534 "Rendering issue in Cypress"
### Wavesurfer.js version(s):
- 6.0.4

### Browser and operating system version(s):
- Chrome V102 and Electron v100
- Cypress 10.0.4

### The issue:
I've been writing e2e tests with Cypress and ran into the issue that the wavesurfer is not rendered properly when using Cypress. I can get element and trigger all the events with cypress, however it does not trigger events of wavesurfer

On the first

[2022-06-10 21:27] #2533 closed

[2022-06-10 21:36] puneety95 opened #2535 "Generating Spectrogram as the rendered instead of the waveform."
### Wavesurfer.js version(s): 6.2.0

### Browser and operating system version(s): MacOS Monterey v 12.1

I dont know how to change the waveform rendered to show spectrogram instead of the waveform. Please help.

[2022-06-11 16:47] Simoneth opened #2536 "How do I fire "finish" event on a region?"
### Wavesurfer.js version(s):
"wavesurfer-react": "^2.1.6",
"wavesurfer.js": "^6.2.0",

### Browser and operating system version(s):
Chrome, MacOS

### Code needed to reproduce the issue:
[code]
https://codesandbox.io/s/wavesurfer-react-20-gqvb6?from-embed

The "finish" event on a region doesn't work, so how could I fire the end of a region?

[2022-06-12 08:48] Simoneth commented on #2536
Here my simple solution:

[code]

[2022-06-12 08:48] #2536 closed

[2022-06-13 06:43] 4ntke commented on #2529
Found that PR: https://github.com/katspaugh/wavesurfer.js/pull/2380/files

[2022-06-13 15:33] teilala opened #2537 "microphone reloadBuffer get peaks"
I want to listen to the peak maximum of the recording
what should I do?

`wavesurfer.microphone.reloadBuffer = function(event) {
                    console.log(event);
                };`

[2022-06-13 15:58] #2537 closed

[2022-06-14 15:39] thijstriemstra commented on #2529
Ping @muhammad-sayed-mahdy

[2022-06-14 16:40] muhammad-sayed-mahdy commented on #2529
Yes, if you split channels and try to drag, it will drag on that channel only
the use case was for annotating multichannel conversation, with each person on a separate channel
We can just add another option if you want the drag selection to be for all channels

[2022-06-14 17:41] thijstriemstra commented on #2529
It sounds like this new option should be the default, what wavesurfer config were/are you using @4ntke?

[2022-06-17 04:38] munenari opened #2538 "How can I change the spectrogram renderer to multicanvas?"
When the canvas width becomes a large size such as 70000 when using the spectrogram plugin, the canvas drawing fails.
I'm thinking about drawing with multicanvas to solve this,
How can I change the drawer to multicanvas?

[2022-06-17 05:16] puneety95 commented on #2538
I am also facing issue but at very low minPxPerSec . The waveform is getting removed when I am zooming in it. Please help.

[2022-06-17 21:05] thijstriemstra commented on #2534
please include a code snippet that reproduces this problem.

[2022-06-18 19:02] skysnolimit08 commented on #2444
I am also interested (and somewhat dependent) on this feature.

[2022-06-25 18:59] #2278 closed

[2022-06-25 18:59] #2340 closed

[2022-06-25 19:02] #2257 closed

[2022-06-26 15:38] lukemorcom opened #2539 "Possible to generate a waveform image, using Node.js?"
Hi, I have been playing with wavesurfer in a React app for a project of mine, but I'd really like to explore creating an API which I can hit to generate a PNG of the waveform. Ideally I'd like to use Node.js to accomplish this.

Is it possible to use wavesurfer.js in that way, or would it be impossible due to relying on Web Audio?

Thanks in advance

[2022-06-27 06:55] 4ntke commented on #2529
That's my config:

[code]

[2022-06-29 17:46] thijstriemstra commented on #2427
@dhdaines see https://github.com/katspaugh/wavesurfer.js/blob/master/src/plugin/spectrogram/index.js#L42

If you think the docs should be updated, please open a pull request, thanks.

[2022-06-29 17:47] thijstriemstra commented on #2539
I would use https://github.com/bbc/audiowaveform to generate images with node.js.

[2022-06-29 17:47] #2539 closed

[2022-06-29 18:11] dhdaines opened #2541 "API doc for plugins gives incorrect import/require path"
This example code, as seen in https://github.com/katspaugh/wavesurfer.js/blob/master/src/plugin/spectrogram/index.js#L42, but also in all the other plugins, does not work:

[code]

Instead, you need to do this:

[code]

I can submit a PR to change the import paths in all the API docs, but I am wondering if instead the build system should be changed so that it *does* work, as importing from a subdi

[2022-06-30 07:49] elarens opened #2542 "Frequency label display is fixed instead of absolute, which causes it to "float""
### Description
In version 6.2.0, frequency label display is fixed instead of absolute to enable consistent size on hi-dpi displays. As a result, the label "floats" as the page gets scrolled up and down

### Wavesurfer.js version(s):
6.2.0

### Browser and operating system version(s):
Chrome version Version 100.0.4896.127

### Code and behaviour needed to reproduce the issue:
See example here: htt

[2022-06-30 09:54] nathanb97 opened #2543 "The react render does not reload after a wavesurfer event"
I have to realize a specific behavior when the audio enters a region.
For that i use the event [region-in](https://wavesurfer-js.org/example/annotation/index.html)
After the execution of my method the render is not reloaded, while I change a state.
[code]
But render is reloaded after another event saving what happened before.

[2022-07-01 00:17] stevexm opened #2544 "Import of Wavesurfer with npm/Rollup module bundler"
#### Wavesurfer.js version(s): "^1.3.4"
#### Browser and operating system version(s): Chrome / osx 11.6
#### Issue is that in npm readme.md the documentation says to:
[code]
#### and then in the code:
[code]
#### Issue is that the 'wavesurefer.js' default module is not found. Suggested fix for the documentation is:
[code]

[2022-07-04 14:53] DaniyarSarasenov commented on #2524
I have same issue now.
I want to show the wave surface from the combined audios with Tonejs.
We can mix several file to one file and play it using ToneJS.
If anybody have some ideas, please share me. Thanks

[2022-07-05 04:05] erik-iglikov commented on #526
Facing exactly the same issue, did you figure it out?

I've tried to use region's start and end and use ffmpeg.wasm to cut the region. Also tried to use getChannelData(0) and build either a Blob or File object and export it, but unsuccessfully.

[2022-07-05 04:06] erik-iglikov commented on #1514
Same here, is there a solution to that?

[2022-07-05 05:24] JanVeb commented on #2524
Couldn't figure out if it could be done with wave surfer, if I remember correctly in my search they recommend to use some other library for joining multiple audio files as its not possible in wave.js

Ive used https://github.com/jaggad/crunker

Its really easy to setup and download file, but it can be replayed and more in the app as well

Also check my question about this https://github.com/jaggad

[2022-07-05 05:24] #2524 closed

[2022-07-05 06:23] DaniyarSarasenov opened #2545 "Showing the wavesurface of combined audio using ToneJS"
Hi, everybody!
I am trying to show the wavesurface of combined audio using ToneJS.
[code]
Now it plays the combined audio
I wanna show the wavesurface. Help me!!!

[2022-07-05 11:02] thijstriemstra commented on #2544
Also: you're using an ANCIENT version of wavesurfer, please use version 6.x

[2022-07-05 23:17] LBPSlava commented on #526
Nope, I didn’t. But I didn’t venture too far to find one. I wanted something quick and easy and discovered that it did not work that way. Please copy me if you find something.

I am still actively using wavesurfer.js, but only for the features that were available in version 1.0 and accompanying libraries.

Thanks,

Slava

From: I, Erik ***@***.***>
Sent: Tuesday, July 5, 2022 12:06 AM
To: katspaug

[2022-07-06 14:15] jellohouse opened #2547 "API documentation confusing"
In the official API documentation https://wavesurfer-js.org/api/

What do the letters C, T, E, F beside each section in the left sidebar mean?

--

Also I know not any single person is responsible for the documentation, but in general I find it very messy and hard to find what you are looking for.

We should consider re-designing and re-organizing it.

[2022-07-07 15:01] jellohouse opened #2548 "Waveform with different bpm sections"
I have a wavesurfer where the song loaded has sections with different bpms.
I would like to stretch out the different sections to different widths so that the beats are always on the same "grid lines".

I added grid lines on every beat (they are all at equal width apart), but where the bpm changes the first time, the audio does not fall on the grid anymore. So I would want to change the width of t

[2022-07-08 05:37] dguari1 opened #2549 "Modify color of region handles (left and right) dynamically"
Hi

I have read in several places that the color of the region handles can be changed (here for example [#1838](https://github.com/katspaugh/wavesurfer.js/issues/1838#issue-544401172).

However, U I haven't been able to find a concrete example of how to do it.

[2022-07-08 15:59] dguari1 commented on #2549
I found a way to do it.
[code]

[2022-07-09 15:54] flyingatm opened #2550 "Minimum Value to Trigger barMinHeight"
Hello there, thank you for the nice library!

I guess it would be better to add new option parameter to trigger "barMinHeight" instead of "0" value.

<img width="665" alt="image" src="https://user-images.githubusercontent.com/50561288/178113090-93373d06-387e-4fad-b7e6-26fff6b4ce52.png">

For an example, here in bundled version, I changed line 1344 like this. (changed "0 ==" to "5 <="). So we users

[2022-07-14 13:27] RaphaelBuffl opened #2552 "Failed to load remote url: Error: HTTP error status: 0"
Hey y'all,

im trying to get wavesurfer.js to run and I keep having issues with remote Audio Files.

I use these xhr options:

`const xhr = { cache: 'default', mode: 'no-cors', method: 'GET'};`

And among the audio files I tried is:

- https://ia902606.us.archive.org/35/items/shortpoetry_047_librivox/song_cjrg_teasdale_64kb.mp3

The issue is that the waveform does not load and I get this error fro

[2022-07-15 07:18] michelson opened #2553 "Move the cursor/playhead programatically"
Hello, first of all, thanks for this excellent library. I'm using it on a project that I expect to open source very soon.

wondering if there is a way to move the progress wave by a song-specific second, programmatically? I need to copy the position from one player to another so I've just send an event with `this._wave.drawer.lastPos` and then update the style of the other player wave, like: `this

[2022-07-15 08:00] srijanmukherjee commented on #2547
I found their meaning by inspecting the elements.
C = class
T = typedef
E = external
F = function
+1 their meaning should be made more specific.

[2022-07-16 01:02] michelson commented on #2553
ok, I think I got it:
I'm sending `backend.getPlayedPercents()` and setting with `drawer.progress(e.detail.percent)`

[2022-07-16 01:02] #2553 closed

[2022-07-17 22:54] saman2007 opened #2554 "Getting the newest time"
Hello. I have problem.

`wavesurfer.drawer.on("click", () => {console.log(wavesurfer.getCurrentTime())})`

When i click on the wave bar, i get the time where the cursor was in! For example if the current time is 0 and i click on the wave bar and where i clicked on the wave bar is 3:03, i see that the log is 0!
But i want to get the latest time. In this example the latest time is 3:03 but 0 will be

[2022-07-17 23:48] bramses commented on #2005
Thank you for this @gadicker!

Here is the NextJS version of @gadicker's function above, if anyone needs it:

[code]

[2022-07-18 08:15] saman2007 commented on #2554
i fixed my problem. i wanted to get the time of where i clicked on.
the event handler runs before the time gets update. and in this situation, i should have a delay to get the time of where i clicked. so i should use `setTimeout` method.

[code]

if you want to know why i gave setTimeout 0 second of delay, please do a research about `call stack`, `web apis` and `asynchronous in js` and you'll unde

[2022-07-18 08:16] #2554 closed

[2022-07-18 09:50] tae100k commented on #1444
Having same problem!

[2022-07-18 10:10] tae100k commented on #1444
I just realized that you can change progress background color by CSS
[code]
  just do this!

[2022-07-18 23:08] gadicker commented on #2005
@bramses glad it worked for you but the credit for the solution mainly goes to Spencer Evans and his solution at https://github.com/swevans/unmute

[2022-07-19 10:27] ohperhaps opened #2556 "regions plugin: channelCount is always 1 when backend is MediaElement and load peaks"
### Wavesurfer.js version(s):
6.2.0

### Browser and operating system version(s):
Browser: Chrome
OS: macOS, Windows

### Problem description
[code]

When I set my backend to `MediaElement` and load audio with pre-generated peaks
the wavesurfer.backend.buffer seems always null.
so I get wrong channelCount (always 1) to calculate wrong channelIdx (always 0).
so I can't add region in right channel.

[2022-07-19 11:20] ohperhaps commented on #2529
Agreed.region play seems better to play the selecting channel,not play all channel.

[2022-07-19 12:20] thespicer21 opened #2557 "exportPCM() no longer works as expected"
### Wavesurfer.js version(s):
6.2.0

### Browser and operating system version(s):
Firefox , Chrome, Brave (all latest of the date of this comment) / MacOS 10.14.6

### Code needed to reproduce the issue:
(in the console)
`player.exportPCM(1024, 10000, true, 0)`

On the previous version of ws.js I was using (v3.1.0), this used to return an array of plot points :

`"[0.8509,-0.862,0.5302,-0.4398,0.3

[2022-07-20 10:00] alivtar commented on #904
In my case, i set the responseType of the request to be "blob" instead of converting the response to a Blob.
Then the response coming from API, was converted to a URL with `URL.createObjectURL(data_received_from_api)`

[2022-07-20 23:36] thijstriemstra commented on #2552
Take a look at related cors tickets: https://github.com/katspaugh/wavesurfer.js/search?q=cors&type=issues

[2022-07-22 09:21] musicog commented on #2542
I came across this in developing my own app, and have submitted a (miniscule) PR with a fix. In the meantime, you can workaround with CSS:

`spectrogram .spec-labels {
   position:absolute !important;
}`

[2022-07-22 13:08] DaniyarSarasenov opened #2559 "Playing without audio on iphone safari"
[code]
This is wave surface code.
I am not sure why this does not play audio. but the visual progress works well.

[2022-07-22 14:30] mikesol opened #2560 "markers plugin: draggable feature only works if there is at least one marker in the initial markers list"
## Please make sure you provide the following information (if applicable):

### Wavesurfer.js version(s):

6.2.0

### Browser and operating system version(s):

Chrome on macOS

### Code needed to reproduce the issue:

[code]

### Use behaviour needed to reproduce the issue:

Try to drag one of the markers. It won't work. However, if at least one marker is in the initial markers list, it will work.

[2022-07-23 23:48] aahedi commented on #2528
I also need level meter

Reference: [volume-meter](https://github.com/cwilso/volume-meter), but now not working

[2022-07-27 11:00] mmswebapp commented on #1498
Where can I find the version of min of version 4.4 ?

[2022-07-27 11:40] jpssoares opened #2561 "How to disable MediaElement keyboard shortcuts(play/pause with spacebar)?"
On the same page I have the Wavesurfer, I also have a textarea. However, when I'm writing on the textarea, I dont want the key presses to be recognized by the media player (when user writes a " " char the audio should not pause/play).

I tried using the  navigator.mediaSession but this doesn't seem to work:

    function preventKeyboardEventWhenCommenting(){
        var textareaElement = document.

[2022-07-27 12:10] #2561 closed

[2022-07-29 21:03] thijstriemstra commented on #2559
what do these methods do?

[code]

[2022-07-29 21:08] thijstriemstra commented on #2557
@thespicer21 try:

[code]

[2022-07-29 21:08] #2557 closed

[2022-07-29 21:10] thijstriemstra commented on #2550
@flyingatm does pr #2523 fix this for you?

[2022-07-29 21:11] thijstriemstra commented on #2548
How?

[2022-07-29 21:12] thijstriemstra commented on #2547
Sounds good, open for suggestions.

[2022-07-29 21:14] thijstriemstra commented on #2545
hi @DaniyarSarasenov I am not familiar with ToneJS and what your example code is doing. Are you able to create a Blob with ToneJS that has the combined audio?

[2022-07-29 21:15] thijstriemstra commented on #2544
Please open a pull request with such a fix, thanks!

[2022-07-29 21:17] thijstriemstra commented on #2543
This is a React-specific question it seems. Please ask on a React forum/stackoverflow etc as we can't help with third-party code.

[2022-07-29 21:17] #2543 closed

[2022-07-29 21:19] thijstriemstra commented on #2541
I'm not sure how to instruct webpack to make such an import possible. Any idea?

[2022-07-29 21:20] thijstriemstra commented on #2535
I'm not sure what you mean? can you add a screenshot or example code to explain the issue?

[2022-07-29 21:22] thijstriemstra commented on #2511
no feedback, closing.

[2022-07-29 21:22] #2511 closed

[2022-07-29 21:22] thijstriemstra commented on #2525
no feedback, closing.

[2022-07-29 21:22] #2525 closed

[2022-07-29 21:23] thijstriemstra commented on #2508
Sounds likely. An issue if you don't have control over the webserver.

[2022-07-29 21:24] thijstriemstra commented on #2510
@AxeemHaider can you reproduce this with the wavesurfer.js microphone example?

[2022-07-29 21:25] thijstriemstra commented on #2527
no feedback, closing.

[2022-07-29 21:25] #2527 closed

[2022-07-30 00:12] fasteddys opened #2562 "Karaoke: How to display lyrics, highlight words while playing"
Hello I was looking through the `plugin`, do you have any help/sample

- [ ] please help me` display song lyrics` (with the player), or a `word cloud`
- [ ] for karaoke singer `highlight the words` (in the lyrics) along with the timeline

I can send the text as `json `file to the player, but I don't know where to bind the lyrics or highlight the words for the singers.

Rudimentary E.g.

__________

[2022-07-30 01:51] jellohouse commented on #2548
Hey @thijstriemstra !
So the grid lines I added are actually not part of wavesurfer. They are generated on a canvas behind the wavesurfer. Based on the width of my wavesurfer and the bpm of the song I am able to create a vertical line on every beat.
-----
But now I have a song which contains sections with different bpms - so I would like for these different bpm sections to be stretched out to diff

[2022-07-30 01:52] thijstriemstra commented on #2548
Can you add a screenshot? I'm curious how it looks like.

[2022-07-30 01:56] jellohouse commented on #2548
<img width="361" alt="Screen Shot 2022-07-29 at 9 56 31 PM" src="https://user-images.githubusercontent.com/35238978/181865930-ffe37d7b-dc5b-4180-8971-349ca12044ea.png">

[2022-07-30 06:47] katspaugh commented on #2541
Sorry, @thijstriemstra, missed your first message.

We could probably assign aliases like so: https://webpack.js.org/configuration/resolve/

Alternatively, or perhaps additionally, there's a `files` field in package.json where we could list plugin entry files.

[2022-07-30 20:27] #2529 closed

[2022-07-30 20:32] #2522 closed

[2022-08-01 00:26] jaylenpatterson opened #2563 "Getting error Uncaught TypeError: Cannot read properties of null (reading 'remove') when I create cursor plugin instance?"
Version ^6.2.0
[code]

[2022-08-01 00:28] jaylenpatterson commented on #2563
The application renders as normal once the cursor plugin is removed

[2022-08-01 07:15] AxeemHaider commented on #2510
No, not able to do with wavesurface.js but I created custom one.

[code]

[2022-08-01 08:12] mukesh-kk opened #2564 "Why export button is not working in Video Annotation example?"
# Hey, thank you for testing and contributing to wavesurfer.js!

## Please make sure you can check all of these points below before opening an issue:

(You don't have to post this section)

- [x] I have checked [the FAQ](https://wavesurfer-js.org/faq/) and it doesn't solve my problem.
- [x] I have checked [the documentation](https://wavesurfer-js.org/docs/) and it doesn't solve my problem
- [x] I

[2022-08-01 08:22] mukesh-kk commented on #2564
I want to export or download a particular section of audio.How to do it ?

[2022-08-01 08:42] musicog commented on #1666
@Brabudu You ask for the possibility to choose between fixed and absolute, but to me the current 'fixed' behaviour just seems like a bug - I can't think of a use-case where this would be the intended behaviour. I've submitted PR #2558 that would just always make it absolute.

Do you have a use-case in mind where 'fixed' would still be required?

For others finding this issue: a temporary work-arou

[2022-08-01 22:39] thijstriemstra commented on #2563
@jaylenpatterson can you reproduce it with any of the examples?

[2022-08-01 22:53] jaylenpatterson commented on #2563
Do you mean the examples from wavesurfer documentation?

[2022-08-01 23:00] thijstriemstra opened #2565 "Outdated upgrade info on website"
Upgrade section in the menu of the site (still) [links](https://wavesurfer-js.org/upgrade/v2/) to an old upgrade document. Let's link it to the [upgrade](https://github.com/katspaugh/wavesurfer.js/blob/master/UPGRADE.md) document in the repository instead.

[2022-08-01 23:02] thijstriemstra commented on #2563
yea, live versions are available on https://wavesurfer-js.org/examples/

[2022-08-02 12:18] #2542 closed

[2022-08-02 15:29] jaylenpatterson commented on #2563
I'm unable to get the example working as intended. Are there any solutions for react?

[2022-08-02 17:51] thijstriemstra commented on #2563
Not sure what you mean..

There aren't any specific react examples.

[2022-08-02 18:07] jaylenpatterson commented on #2563
Is it possible to use the example in a react project? I tried using wave surfer as seen in the example but i wasn’t able to find certain variables

[2022-08-02 18:17] thijstriemstra commented on #2563
I would give https://www.npmjs.com/package/wavesurfer-react a try.

[2022-08-03 12:52] davesherlock opened #2566 "Markers Plugin: Labels at the end of the audio file are cut off."
Hi,

There is an issue with the markers plugin where the wavesurfer-marker class is cut off when it appears too close to the end of the wavesurfer container.

The issue is even happening on the example on the plugin page.

[Markers plugin](https://wavesurfer-js.org/plugins/markers.html)

I have tried a lot of things to fix it but have failed, any suggestions?

[2022-08-03 15:32] davesherlock commented on #2566
Maybe the solution is to add some buffer space to the end of the wavesurfer container, is that possible?

[2022-08-04 00:04] jaylenpatterson commented on #2563
Okay thank you, I will give it a try.

[2022-08-07 22:06] jaylenpatterson commented on #2563
I was able to use the plugin no problem with wavesurfer-react! Thank you so much.

[2022-08-07 22:06] #2563 closed

[2022-08-08 18:01] violeta-maldonado opened #2567 "Duplicated waveform"
# Issue
I have updated react to 18 version with Next js, and now the waveform is duplicated but just the below one is played. I would like you can let me know how can I solve this bug.

### Wavesurfer.js version(s):
"wavesurfer.js": "^6.2.0",

### Browser and operating system version(s):
Brave, Chrome, Edge

### Code needed to reproduce the issue:

[code]

### Use behaviour needed to reproduce the

[2022-08-08 19:45] thijstriemstra commented on #2565
Fixed with https://github.com/katspaugh/wavesurfer.js/commit/2045d9ea88d5cbec16ac5b50678ddd4ccf1f36ad

[2022-08-08 19:45] #2565 closed

[2022-08-08 20:26] thijstriemstra commented on #2567
We can't help with React specific issues. I suggest using https://www.npmjs.com/package/wavesurfer-react

[2022-08-08 20:26] #2567 closed

[2022-08-10 06:34] bhagwansawant123 opened #2569 "Waveform not rendering in ubuntu & Mac, working fine in windows system."

[2022-08-10 16:41] violeta-maldonado commented on #2567
Fix this error by adding the following in **next.config.js**
`reactStrictMode:  false`
![image](https://user-images.githubusercontent.com/85957327/183965812-a833bcbc-d1f1-4144-b710-04b9a9efa5e8.png)

[2022-08-13 09:37] thijstriemstra commented on #2569
please provide code that reproduces the issue. Does https://wavesurfer-js.org render on mac/ubuntu? It does here.

[2022-08-13 09:37] #2569 closed

[2022-08-16 04:09] bhagwansawant123 commented on #2569
`playAudio(uniqueId, path) {
            console.log(path)
            let wavesurfer = WaveSurfer.create({
                container: '#waveform'+uniqueId.replace('.', ''),
                scrollParent: true,
                responsive: true,
                xhr: {
                    cache: "default",
                    mode: "opaque",
                    method: "GET",
                }

[2022-08-16 19:29] thijstriemstra commented on #2569
I can't tell; probably related to `container: '#waveform'+uniqueId.replace('.', ''),`

You didn't answer my question though:

[2022-08-16 19:36] bugcoder commented on #1804
@lauradP did you find any solution for this?

[2022-08-16 19:55] bugcoder opened #2570 "How can we play wavesurfer with video when waveform data is loaded with JSON?"
Version: wavesurfer.js 6.2.0 (2022-05-16)
Browser: Chrome Version 104.0.5112.79
OS:  macOS Monterey 12.5

We want to play wavesurfer with sync to video (video is loading in chunks) and wavefrom data is loaded using JSON after using audiowaveform to convert mp3 to JSON:

`audiowaveform -i don.mp3 -o don.json --pixels-per-second 20 --bits 8`

Initialization of Wavesurfer
[code]

Code to load wavesur

[2022-08-17 03:52] bhagwansawant123 commented on #2569
Yes it is rendering on your website. Actually it is cors issue, but even adding cors code its not rendering waveforms

[2022-08-19 19:48] jellohouse commented on #2548
Hey @thijstriemstra any updates or ideas on how I could achieve this?

[2022-08-23 01:58] fasteddys commented on #2562
hello @thijstriemstra any guidance on how to show the text along side the player, timeline...

[2022-08-23 17:48] harshitkaran commented on #2180
Hi, do you find out how to color waveplot this way?

[2022-08-23 17:51] harshitkaran commented on #2180
Hi, did you find any solution on how to color waveplot this way?

[2022-08-24 04:02] luokunman opened #2571 "next,electron error tips: window is not defined"
### Wavesurfer.js version(s):^6.2.0

### Browser and operating system version(s): next:^10.2.3, electron

### Code needed to reproduce the issue:
quote code
[code]

error code
[code]
error tips

window is not defined
    at Object../src/util/request-animation-frame.js (/Users/company/JZRecordForMac/node_modules/_wavesurfer.js@6.2.0@wavesurfer.js/dist/wavesurfer.js:3519:16)
    at __webpack_require

[2022-08-24 05:37] bhagwansawant123 commented on #2569
Waveforms not rendering in firefox.
![Screenshot from 2022-08-24 10-59-44](https://user-images.githubusercontent.com/91108254/186336831-cc462aa2-d27d-4ee2-8e19-28630230381a.png)

[2022-08-24 06:14] luokunman commented on #2350
I'm going to make an error
[code]

[2022-08-26 18:29] thijstriemstra commented on #2571
Duplicate of #1941

[2022-08-26 21:16] AleAmla987 opened #2572 "Preload files."
Hello! I would like to know how I can have a list of videos, and I would like each one to upload at least 600kb and not download the entire file. Only download what you are using.

[2022-08-26 21:28] swampthang opened #2573 "Is there a region loop repeat event?"
Using version 6.2.0 for wavesurfer and regions plugin from cloudflare.com
Mac OS BigSur

This is the [codepen](https://codepen.io/swampthang/pen/GRxaMXX??editors=1010) where I'm building and testing a musician's practice app allowing the user to click a measure and then shift-click another measure to select a group of measures to repeat.

I need to be able to know when the loop jumps back to the b

[2022-08-26 22:43] swampthang commented on #2573
Ahhhh, I see that region-in fires on repeat. Awesome!

[2022-08-26 22:43] #2573 closed

[2022-08-27 12:19] MartinKlimes commented on #2542
I guess I figured it out.
If you have one waveform + spectrogram, simply use:

[code]

In my case i had many waveforms and spectrograms saved into wavesurfer, so:
[code]

[2022-08-27 20:48] AleAmla987 opened #2574 "How can I draw my own waveform with dummy values?"
How can I draw my own waveform with dummy values?

[2022-08-29 03:19] #2574 closed

[2022-08-29 08:41] luokunman commented on #1941
I tried, but I still failed

[2022-08-30 06:43] NinjaCoderDotCom opened #2575 "Issue with plugins while loading waveform from JSON"
Hey, everyone
Greetings,

I am trying to implement the wavesurfer.js and at first i was loading the waveform using mp3. The code i was using is mentioned below.

[code]
Now if the timeline is properly working and even scrolling is working perfectly.
![Screenshot from 2022-08-30 12-03-49](https://user-images.githubusercontent.com/107407402/187366572-c7092be1-6075-42e0-a264-fe225d7d2442.png)

Now if

[2022-09-02 07:08] BlockchainBen opened #2576 "Waveform not loading when using php echo command"
# Hey, thank you for testing and contributing to wavesurfer.js!

## Please make sure you can check all of these points below before opening an issue:

(You don't have to post this section)

- [x] I have checked [the FAQ](https://wavesurfer-js.org/faq/) and it doesn't solve my problem.
- [x] I have checked [the documentation](https://wavesurfer-js.org/docs/) and it doesn't solve my problem
- [x] I

[2022-09-06 03:33] lsp27 opened #2577 "cursor.create showTime: true style"
![image](https://user-images.githubusercontent.com/30168530/188541418-a4563519-6d76-4899-9d8c-d965273aedaa.png)
[code]

[2022-09-09 12:02] daihai20081 opened #2578 "The example code is incomplete and app.js is missing"
# Hey, thank you for testing and contributing to wavesurfer.js!

## Please make sure you can check all of these points below before opening an issue:

(You don't have to post this section)

- [x] I have checked [the FAQ](https://wavesurfer-js.org/faq/) and it doesn't solve my problem.
- [x] I have checked [the documentation](https://wavesurfer-js.org/docs/) and it doesn't solve my problem
- [x] I

[2022-09-09 17:53] swampthang opened #2579 "regions plugin randomly doesn't loop"
To start let me say I LOVE wavesurfer-js! Very grateful for what it has become.

### Wavesurfer.js version(s):
6.2.0

### Browser and operating system version(s):
Chrome: Version 103.0.5060.114 (Official Build) (x86_64)
OS: Mac OS 11.6.1 (20G224) Big Sur

### Code needed to reproduce the issue:
https://codepen.io/swampthang/pen/OJZNzMb?editors=1010

### Use behavior needed to reproduce the issue:

[2022-09-09 18:05] swampthang commented on #2579
These loop points are meant to create a looped track to play along with so they need to be at specific points (musicial measures). As an update, I noticed that when I change the region end time to 8.587755 it works but 5.152653 doesn't.

[2022-09-09 23:24] thijstriemstra commented on #2578
can you be more specific?

[2022-09-09 23:25] thijstriemstra commented on #2576
what waesurfer.js configuration are you using?

[2022-09-09 23:25] #2576 closed

[2022-09-09 23:26] thijstriemstra commented on #2577
what version of wavesurfer.js? what browser? operating system?

[2022-09-09 23:28] thijstriemstra commented on #2579
Use `ffprobe` (part of FFmpeg) to compare the differences between the files.

[2022-09-10 00:19] BlockchainBen commented on #2576
Thank you for the reply. I hired a dev that was able to figure it out.

Ben Kopec
Epitome Music

4,500+ Exclusive Tracks:
DISCO <https://epitomemusic.disco.ac/lib/5128>
SourceAudio <https://epitomemusic.sourceaudio.com/#!albums>

323.874.4081 (office / fax)  | 203.668.7162 (mobile)
***@***.*** ***@***.***>   |   www.EpitomeMusic.com <http://www.epitomemusic.com/>

Epitome Music provides emotionall

[2022-09-10 17:10] andrheapaltao opened #2580 "Cursor Plugin - Uncaught TypeError: Cannot read properties of undefined (reading 'create')"
### Wavesurfer.js version(s):
6.2.0 (2022-05-16)

### Browser and operating system version(s):
Win 10
- Edge Version 105.0.1343.27 (Official build) (64-bit)
- Chrome Version 105.0.5195.102 (Official Build) (64-bit)

### Code needed to reproduce the issue:
I cannot re-create the code in codepen because of the loading of external audio file. But here's the code I used:
https://codepen.io/rhea-paltao

[2022-09-11 20:22] alexjidras opened #2581 "Cannot read properties of null (reading 'Symbol(isProxy)') - inside testing environment"
Wavesurfer.js version(s):
6.2.0 (latest)

Browser and operating system version(s):
JSDOM 20.0.0 (latest)
macOS 12.5

Code needed to reproduce the issue:
Minimal configuration required:
https://stackblitz.com/edit/vitest-dev-vitest-tc5dnw?file=src/App.tsx

Use behaviour needed to reproduce the issue:
1.  Write a test for a component that calls Wavesurfer.create
2. Run it in JSDOM

[2022-09-11 21:57] alexjidras commented on #2581
UPDATE:
The issue is occuring because waveform packages relies on html canvas api. I haven't added canvas support to JSDOM (by adding 'canvas' package to package.json) so canvas.getContext called by waveform was returning null.

I added then the 'canvas' package, but was forced to disable 'threads' option of vitest in order for it to work. After disabling threads 24/30 of my test suites were faili

[2022-09-11 22:03] alexjidras commented on #2581
This issue is specific to Vitest + JSDOM. It doesn't occur in Jest (just make sure to add 'canvas' dependency for JSDOM).
So for everyone getting this issue in VITEST just mock the wavesurfer package.

[2022-09-11 22:03] #2581 closed

[2022-09-12 10:50] daihai20081 commented on #2578
Sorry，The example code is incomplete and app.js is missing .File path: wavesurfer.js/tree/master/example/split-wave-point-plot/  I can't find the app.js file。

[2022-09-12 10:51] daihai20081 commented on #2578
Sorry，The example code is incomplete and app.js is missing .File path: wavesurfer.js/tree/master/example/split-wave-point-plot/ I can't find the app.js file。

[2022-09-12 10:53] daihai20081 commented on #2578
The example “split-wave-point-plot” cannot run completely。

[2022-09-12 16:51] swampthang commented on #2579
Thanks for the reply. I'm finding that any file at that tempo attempting to loop at that same point results in the same issue. Here's the ffprobe diff...
ONE THAT DOESN'T LOOP AS EXPECTED:
[code]
One that works fine...
[code]

In musical terms, the ones that don't work are at tempo of 140 in 4/4 time and are supposed to loop after the 4th measure. I can edit one of the those same files by duplicat

[2022-09-12 16:58] thijstriemstra commented on #2579
Try converting the bad file to .wav, maybe ffmpeg can strip out the garbage..

[2022-09-12 18:51] swampthang commented on #2579
I had tried that but it still seems to be related to the time. I wonder if there's some kind of weird computer math issue. As I'm sure you know, .1+.2 = 0.30000000000000004 in the browser (not .3)

The "good" file jumps the loop after the first time if the loop is set to jump between 0 and 6.8571428571428 (the first 4 measures at that tempo.) But, it works great if the loop is set to between 0 and

[2022-09-13 12:56] jeghedderchristoffer commented on #1810
I have the same problem. Any updates?

[2022-09-13 13:17] jeghedderchristoffer commented on #1810
I dived into the source code of the microphone and the solution is to call the `gotStream(streamHere)` instead of `start()`.

[2022-09-13 20:44] DaniyarSarasenov opened #2582 "how can prevent the seek event when I call seekTo function?"
how can prevent the seek event when I call seekTo function?

[2022-09-14 19:20] swampthang opened #2583 "Is a region loop pausing at every repeat on iOS normal?"
### Wavesurfer.js version(s):
6.2.0

### Browser and operating system version(s):
Mobile Safari iPhone 11 SE
Chrome iPhone 11 SE

### Code needed to reproduce the issue:
Here's the editable codepen:
https://codepen.io/swampthang/pen/OJZNzMb?editors=1010
Here's the fullpage version for testing on iOS:
https://codepen.io/swampthang/full/OJZNzMb

### Use behavior needed to reproduce the issue:
- Tap

[2022-09-15 19:22] mindofbp opened #2584 "Regions Plugin: Large files have animation lag"
When resizing regions on long audio files (30+ mins) with many regions (50+) the animation is dropping below 60FPS and causing significant lag in the resizing animation.

I've tried using the pre-recoded peaks feature and limiting the max width of individual canvases to improve load performance but the animation issue still exists. Are there any performance improvements that I can be making here?

[2022-09-16 11:14] agfline commented on #805
Hi,
I've been struggling for hours with the same issue... 'till I found out I had a `* { scroll-behavior: smooth; }` in my CSS that was messing with autoScroll on high zoom.
Just saying, in case you want to force `scroll-behavior` property on sensible elements.
Thanks for this awesome lib btw ;)

[2022-09-16 18:44] jamesryan-dev opened #2585 "Using wavesurfer and video - not working"
Hello,

Curious if anyone's managed to use Wavesurfer ontop of a video component?

Feels like the browser can't handle both at the same time as it simply fails to load the waveform when both are present however if the video is taken away it displays the waveform

[2022-09-17 15:32] swampthang commented on #2583
Is there anyone else who has dealt with this issue?

[2022-09-17 16:40] #2562 closed

[2022-09-19 00:35] germancasares commented on #2585
You could try to set the containerElement from the waveform, to a div that is on top of your video

[2022-09-23 18:28] soheilhassanjani opened #2586 "not work add marker after load second audio"
Hi , i use wavesurfer in react , at the beginning i load one audio and after that add some marker . in next section i load another audio and after that add some marker but add market not work . this is example of my problem
https://codesandbox.io/s/reverent-nova-9ofgme?file=/src/Waveform.js
please click button "add music 0" and after that "add music 1"

[2022-09-25 04:35] tourbillonlabs commented on #2329
Hello!

I am trying to achieve this same thing with a double-click on region to play, but also allowing a single-click within the region to seek.

@sundayz Can you please provide a little more info about using the snippet you provided? I've tried something like this (with and without the `stopPropagation` and it still fires the single click actions.

[code]

I've implemented a slightly more involv

[2022-09-25 22:54] skaag commented on #1078
Unfortunately you encounter this a lot. Someone pays somebody, and in this case @JordanPawlett has integrity and knows better (which is awesome!). Despite this, he gave clear directions on how to achieve this on your own. It's not his fault that his customer is closed source, but he has to do right by his customer...

[2022-09-25 23:59] thijstriemstra commented on #2580
You didn't include any code. Can you reproduce it with any of the wavesurfer.js examples?

[2022-09-26 00:21] andrheapaltao commented on #2580
https://codepen.io/rhea-paltao/pen/rNvLBpV

I did include a code though. It must be because I'm using `sails.js`. They don't recognize export default class as function. Anyway, thank you for taking the time to check it.

[2022-09-26 00:21] #2580 closed

[2022-09-26 07:16] bhagwansawant123 commented on #442
@katspaugh any format for creating xml file?

[2022-09-26 15:23] thijstriemstra commented on #2584
#1281

[2022-09-26 16:28] swampthang commented on #2583
Here's a codepen using howler that contains the same loop and the same loop end point. It works as expected in both iOS and desktop. I'd much rather use wavesurfer. Really hoping this can be resolved. I've tried to dig in and see where the issue lies.
https://codepen.io/swampthang/pen/rNvYOZY/b67ecff1ef4ea03b2b7eeb19eb3f7754

[2022-09-27 14:41] soheilhassanjani commented on #2586
any body can help me ?

[2022-09-27 21:52] Gigamick opened #2587 "Skipping and stopping seem to fire the pause event."
I have specific actions that happen on PAUSE. however these are also firing when skipping the track and when executing the stop() method.

Is there anyway around this?

[2022-09-28 22:14] #2587 closed

[2022-09-28 22:19] Gigamick commented on #2381
I use this code which I think is what you've suggested:

[code]

But the getCurrentTime here is the time the users seeks TO, not FROM. Am I missing something?

[2022-09-28 22:22] Gigamick opened #2588 "Looking to get the FROM and TO times when seeking"
Using version 6.2.0

This is my code

[code]

Here I can only get the TO time using the getCurrentTime().

Any ideas?

[2022-09-29 11:50] szarza opened #2589 "Suggestion for the "markers" plugin: tooltips"
Wavesurfer.js version(s): 6.0.2
Browser and operating system version(s): all

First of all, congratulations on the brilliant work all of you have made.

I wanted to use the "markers" plugin but with some sort of tooltip over the labels. My skills in Javascript are very limited, and I only know "classic" Javascript. Nevertheless, it was simple for me to add a tooltip to the label and rebuild the co

[2022-09-30 09:09] Stianlars1 opened #2590 "Wavesurfer instances crashes Safari iOS"
Hello! This will be my first post here, and I'm currently in a big hurry, but I´ll try to explain fast:

So I'm building this app in react for visualizing audio waveforms. The user is allowed to upload songs to firebase, and in my homepage.js I run a component that returns the title, artist, download URL from firebase and cover-photo.

In my homepage I return a div for each element I get from fire

[2022-10-05 04:55] cahya-wirawan opened #2591 "How to save some parts of audio to a wav/mp3 file?"
Hi, waveform.js is a great library, I am using it for my audio annotation project. Now I want to save some parts/regions of the loaded waveform as audio file (wav, ogg or mp3), how can I do this? Or at least how can get the raw audio data behind the waveform? Thanks a lot,

[2022-10-06 19:14] shohrejf commented on #1078
I tried to implement hls in wavesurfer videojs, but I'm having trouble. this is my solution:

if (Hls.isSupported()) {
        var hls = new Hls();
        hls.loadSource(`https://stream.mux.com/${playback_id}.m3u8`);
        hls.attachMedia(VoiceElement.current); // audio tag
        hls.on(Hls.Events.MANIFEST_PARSED, function () {
          const player = videojs(VoiceElement.current, {

[2022-10-07 10:06] LessNick opened #2592 "After adding peaks to the load parameters, events stop firing"
If I just use the wavesurfer.load(url) method, the file is loaded and the events fire without any problems, for example "ready":

[code]

If I add peeks as parameters, an image of loaded peeks appears, but not one event is fired anymore:

[code]

I am using the latest version of wavessurfer.js:
unpkg.com/wavesurfer.js@6.3.0/dist/wavesurfer.js

[2022-10-07 15:55] thijstriemstra commented on #2588
Always remember the starting position in some var. I assume it's always 0 at the beginning and from there on you store the current time.

[2022-10-07 15:56] thijstriemstra commented on #2589
@szarza this could be a nice enhancement for the markers plugin, can you open a pull request and we go from there?

[2022-10-07 15:57] thijstriemstra commented on #2590
Please add browser verion and operating system details for each browser you tested.

[2022-10-07 15:58] thijstriemstra commented on #2591
try the `wavesurfer.exportPCM` method.

[2022-10-07 15:59] thijstriemstra commented on #2592
@LessNick i believe the `waveform-ready` event fires in that case. Please include your wavesurfer.js config as well.

[2022-10-07 16:02] sundayz commented on #2590
Use https://github.com/bbc/audiowaveform to create the waveform data as either json or images and just have 1 player on the page. If you load 10+ audio players it's going to use too much memory and the page will crash, because the mp3 file needs to be loaded and decoded in memory to show the waveform.

[2022-10-07 19:07] LessNick commented on #2592
link to a test page that fully reproduce the problem.
https://pastebin.com/XTdXZaSH

[2022-10-07 19:09] thijstriemstra commented on #2592
Please include your wavesurfer.js config **here** as well.

[2022-10-07 19:14] LessNick commented on #2592
[code]

[2022-10-09 06:07] othmar52 commented on #2578
i did not dig into the code but i can confirm that https://wavesurfer-js.org/example/split-wave-point-plot/index.html does not work for me:

![image](https://user-images.githubusercontent.com/7056051/194740814-588fbfa0-c1df-4015-a50d-1f022b83f27f.png)

[2022-10-10 03:05] YZlingyu opened #2593 "Have different effect on waveform and minimap"
# Hey, thank you for testing and contributing to wavesurfer.js!

## Please make sure you can check all of these points below before opening an issue:

(You don't have to post this section)

- [x] I have checked [the FAQ](https://wavesurfer-js.org/faq/) and it doesn't solve my problem.
- [x] I have checked [the documentation](https://wavesurfer-js.org/docs/) and it doesn't solve my problem
- [x] I

[2022-10-10 14:59] MateuszLamczyk commented on #2313
The issue with `setProgressColor` still persists (wavsurfer version: 6.0.3). The suggested solution with `fireEvent` does not work.

Any idea how to change the waveform color on button click?
@alirahman-eng did you find a working solution for your problem?

[2022-10-12 04:00] jakemumu opened #2596 "[Question] Peak Cache Of Wavesurfer Generated Thumbnail"
Hi! I've seen pieces of the docs for Peaks Cache where user generates the peaks themselves and then serves this to the wave surfer constructor -- I gave that a shot but my peaks were not looking nearly as good as the waveforms generated by wave surfer.

Is there a way to obtain the peaks data from a wave surfer object which has generated the peaks? I.E. a way to get it so wave surfer only generate

[2022-10-12 22:21] Gigamick commented on #2588
I am storing the current time in that code I showed you but that stores the time it skips TO.

[2022-10-13 06:41] Dereking commented on #837
Same issue, got a empty array object: [NaN]
`var sectors = [];
      this.wavesurfer.exportPCM(1024, 10000, true).then(
        (dats) => {
          console.log("exportPCM", dats);
          for (let index = 0; index < dats.length; index++) {
            const dat = dats[index];
            var r = {};
            r.start = dat.start;
            r.end = dat.end;
            r.loop = true;

[2022-10-13 08:28] Reached opened #2597 "Playback of track using multiple channels (surround/Dolby Atmos)"
Hi there,

We are using Wavesurfer with great success (love it!).

One of our users are trying to playback a wav file containing multiple channels on a mix with Dolby Atmos, however it errors out when attempting to render the waveform.

Has anyone had any success playing back files like this, or is it even possible? :)

Best regards, Casper

[2022-10-13 11:06] #2589 closed

[2022-10-14 11:42] rstefek commented on #2560
We came across same issue in our .net wrapper:
https://github.com/beaverlyhillsstudios/wavesurfer-blazor-wrapper/issues/5

[2022-10-15 22:09] thijstriemstra commented on #2593
Please include the wavesurfer.js config and browser/os you tested it on.

[2022-10-15 22:11] thijstriemstra commented on #2597
thanks for testing this.

Please include your wavesurfer.js config, and the output of `ffprobe` (part of ffmpeg) of the audio file.

What errors specifically?

[2022-10-17 17:49] JustinMatthewNewman commented on #1856
I have the same issue. Was a solution found?

[2022-10-18 11:22] darshitr19 opened #2600 "'The buffer passed to decodeAudioData contains an unknown content type' Wavesurfer error in firefox"
The file with mp3 format not loaded with wave surfer on mozilla firefox. It gives the error in console "'The buffer passed to decodeAudioData contains an unknown content type'".

But the file gets loaded in browser other than mozilla firefox.

### Wavesurfer.js version(s):
4.3.0

### Browser and operating system version(s):
Mozilla Firefox and Windows 10

[2022-10-19 16:50] thijstriemstra commented on #2600
Always try the latest version first.

[2022-10-19 16:51] #2560 closed

[2022-10-21 10:16] darshitr19 commented on #2600
Try after update but the error in console goes away, but it does not load the waveform from file.

[2022-10-21 11:02] thijstriemstra commented on #2563
can't reproduce that with https://wavesurfer-js.org/plugins/cursor.html

[2022-10-21 12:21] thijstriemstra commented on #2563
we don't provide support for React; take a look at https://www.npmjs.com/package/wavesurfer-react instead.

[2022-10-22 00:29] jriffs opened #2601 "Property 'buffer' does not exist on type 'WaveSurferBackend'"
In Typescript, after using the `loadBlob` method, i try to get the buffer property,
[code]
but it throws an error in the editor saying

Property 'buffer' does not exist on type 'WebAudio'

[2022-10-22 04:10] SilvaQ opened #2602 "cursor plugin: crash when destroy triggered before ready"
we don't provide support for React; take a look at https://www.npmjs.com/package/wavesurfer-react instead.

_Originally posted by @thijstriemstra in https://github.com/katspaugh/wavesurfer.js/issues/2563#issuecomment-1286889167_

[2022-10-22 10:56] thijstriemstra commented on #2602
thanks for the feedback @SilvaQ Can you make a pull request for this?

[2022-10-22 13:23] FerhatAdibelli0 opened #2603 "Loading Server-Side Generated Audio Url in Wavesurfer"
I want to add a voice recording feature to my app. I am using wavesurfer.js for this. This is a chat app so there should be more than one Wavesurfer object on a page so I gave the container a dynamic value.

I use S3 to store my files and keep every uploaded file. To be able to preview after the recording is finished, I use blobUrl first, and after uploading, I change the URL to the one on s3.

MY

[2022-10-23 02:50] SilvaQ opened #2605 "【question】peaks is not the best match"
@thijstriemstra
@katspaugh

In the process of learning, I find that my Audition is inconsistent with Adobe Audition。

- The highest peak waveform of wavesurfer is actually not the real peak
- The real peak is not shown in the waveform, and the reason is probably because of the step size of the selection algorithm
- wavesurfer and adobe audition time stamp location do not match, difference is close

[2022-10-23 12:19] katspaugh commented on #2605
I think you're right about the sample size being the root cause of these discrepancies.
Please feel free to make a pull request if you manage to hack it to look like Adobe. Probably also look into the current normalization based on the max value. It looks more monotonous than Adobe. Cheers!

[2022-10-23 20:51] thijstriemstra commented on #2603
Please add your wavesurfer.js config

And a code snippet for this.

[2022-10-23 20:52] thijstriemstra commented on #2601
Always provide the wavesurfer.js config and a code snippet that reproduces the problem........

[2022-10-24 09:27] SilvaQ opened #2607 "[question] How do I get sample bit width values from a wave file？"
@therewasaguy

How do I get sample values from a wave file?

<img width="1089" alt="image" src="https://user-images.githubusercontent.com/46706370/197494354-ca97705a-488f-48eb-b94a-4db5cd7472af.png">

[2022-10-24 16:00] thijstriemstra commented on #2607
There's not a specific api for this yet, pr is welcome. You can use `wavesurfer.backend.ac.sampleRate`.

[2022-10-24 16:05] thijstriemstra commented on #2607
Oh you asked for bit width, not sample rate. There is no API for this, see https://stackoverflow.com/questions/70071519/how-to-get-sample-rate-bit-depth-and-number-of-channels-with-web-audio-api

WebAudio has been around for 10 years and I'm always amazed at how incomplete it is.

[2022-10-24 20:11] swampthang commented on #2583
Anyone? Bueller?

[2022-10-25 02:00] #2602 closed, assigned to nobody

[2022-10-25 02:01] #2605 closed, assigned to nobody

[2022-10-25 09:34] thijstriemstra commented on #2605
why close this?

[2022-10-25 19:56] muhsim commented on #2559
I added the the following configuration option to fix it:

`      backend: "MediaElement",
`

[2022-10-26 15:16] thijstriemstra commented on #2607
Sounds good.

[2022-10-26 15:31] thijstriemstra commented on #2605
Oh because you mentioned:

[2022-10-28 16:24] thijstriemstra commented on #2607
It's probably easier to give feedback on a pull request. Wavesurfer.js does have performance issues with large files and as long as this change doesn't make things worse it should be ok.

[2022-10-29 11:56] Gigamick opened #2608 "All audio on page loading despite using preload - metadata"
I'm using wavesurfer 6.2.0

I have preload set to "metadata" but all audio on the page is loading which is really slowing page times and responsiveness.

Admittedly I just jumped from a version of wavesurfer that was a good few years old, but it was working as expected before the jump to 6.2.0

Can someone explain / show me where and how the preload param should be set in v6.2.0. Docs don't give m

[2022-10-29 23:21] alexaschor commented on #2579
I've been experiencing the same issue where looping is inconsistent for some files, for some regions. I'm also using an mp3 source and using the MediaElement backend. It seems it may be somewhat file-specific in that certain audio files seem to exhibit this problem more often than others do.

For a workaround, at least in my case the "region-out" event is still fired when the region doesn't succes

[2022-10-31 08:57] alexey-v-paramonov commented on #2592
Same problem here.
If there is a file URL _and_ peaks data - "ready" event is not fired with "WebAudio" backend. Version 6.3.0.
As a temporary workaround I am calling .play() right after the .load() call, catch "ready" event (that is getting fired then) and immediately call .pause() inside my "ready" hook. Then "ready" event is generated properly and I can add regions to my waveform.

[2022-10-31 11:50] NinjaCoderDotCom opened #2609 "react: plugins not working"
Hey,

I am trying to embed wavesurfer.js (6.3.0) into my react project. Everything is fine with the basic waveform. But when I try to embed Regions and Timeline plugins, it throws 2 different errors. Here are those errors: 

**_Timeline:_**
![Timeline](https://user-images.githubusercontent.com/107407402/198998621-9d590d1f-1aeb-41ad-8a8f-142355e77620.png)
**_Regions:_**
![Regions](https://user-imag

[2022-11-01 00:11] thijstriemstra commented on #2609
try https://github.com/ShiiRochi/wavesurfer-react

[2022-11-01 03:26] frg100 commented on #2350
This is brilliant, thank you so much! Worked for me in Next.js

[2022-11-01 08:30] darshitr19 opened #2610 "The waveform not displayed on loading the mp3 File"
The library is used with latest version.

The mime type of file is 'application/octet-stream' and it's a mp3 file.

The audio is played but waveform is not loaded.

Browser: Firefox (latest version)

Audio File Link : https://www.texttovoice.online/audios/v_Z_th-TH_6360c6eb007c8.mp3

[2022-11-01 10:43] NinjaCoderDotCom commented on #2609
How to pass all the options in for waveform in wavesurfer-react?
Options that I am talking about are [here](https://wavesurfer-js.org/docs/options.html).

[2022-11-01 15:23] cco3 commented on #2350
This has come up a few times in the issues...couldn't wavesurfer.js just add a few if statements to see whether window exists before using it?

[2022-11-01 15:26] cco3 commented on #2350
A similar issue has come up before (#751).  I'm hoping this time someone might add a couple of guard statements so wavesurfer doesn't assume `window` exists.

[2022-11-02 00:11] Stianlars1 commented on #2590
I solved the problem by storing the audio download links in an array, and then slice the array when mapping through it for display. I sliced it (0, 10) which results in no problems loading the 10 songs.

Then I added 2 buttons to navigate to next -> 10 songs, and 10 <- prev songs. which seems to work.

Another problem I stumbled across was that when I clicked the next -> button for lets say page 4

[2022-11-02 00:11] #2590 closed

[2022-11-02 06:25] NinjaCoderDotCom commented on #2609
@thijstriemstra do you have any solution for my previous comment?

[2022-11-02 10:07] NinjaCoderDotCom commented on #2609
Found the solution. You can just pass it as props in `Waveform` component.
Example:
[code]

[2022-11-02 10:07] #2609 closed

[2022-11-02 11:30] alhuber1502 opened #2611 "Is there a parameter that honours the Media Fragment URI specification?"
So the `#t=start,end` part of a URL.  E.g. https://ia902701.us.archive.org/17/items/multilingual_poetry_collection_001_librivox/braport_cancao_do_exilio_dias_sv.mp3#t=14,70

[2022-11-02 12:03] Gigamick commented on #2608
Does anyone have any idea on this - it's causing me real pain @katspaugh ? I will pay for help.

[2022-11-02 13:21] Gigamick commented on #2608
I am using audiowaveform tool to process the waveform upon file upload and it stores that against the track model as Json.

[2022-11-03 07:08] darshitr19 commented on #2600
Below are the links from our partner vendor:

https://www.texttovoice.online/audios/v_Z_th-TH_6363563859f78.mp3 --- Not Working

https://www.texttovoice.online/audios/v_A_en-GB_6363565869c79.mp3 --- Working

[2022-11-03 15:15] cameronSlupeiks opened #2612 "Setting `frequencyMax` does nothing"
### Wavesurfer.js version(s): `5.2.0`

### Browser and operating system version(s): Browser: `Electron (chromium)`, OS: `Windows 10 Pro Version 21H2`

### Description
This may not be a bug, could just be an issue with my implementation or understanding of this parameter. I am trying to set the max frequency of the spectrogram to 2400Hz (we do not need to display samples up to 24000Hz), but this do

[2022-11-03 23:00] michelson opened #2613 "IOS devices / safari/ chrome does not play when using .load from event"
Hi there, first, thanks for this library, it's awesome.

I have a platform that uses audiowavesurfer. I have a problem when I send an event to the player in order to activate the .playPause().

When I click the button here I send an event that is received by another instance of awf

![Screen Shot 2022-10-31 at 10 35 29 PM](https://user-images.githubusercontent.com/11976/199652784-6560c656-b3d9-478

[2022-11-04 10:42] ohperhaps commented on #2556
Any updates or work around?

[2022-11-07 13:09] dany68 opened #2615 "ReferenceError: self is not defined"
Hi,

After running a global npm update I’m not able to use the package anymore with the following error: `self is not defined`
I’m wrapping the package in a Vue component for a nuxt app.

I tried to reverse back to the old version that worked previously (5.1.0) but it also gave an error (window is not defined). I guess this is due to the update of other modules/webpack.
The current installed versi

[2022-11-10 17:00] thijstriemstra commented on #2612
Why are you not testing with the latest wavesurfer.js?

[2022-11-10 17:00] #2612 closed

[2022-11-14 14:13] dany68 commented on #2615
I was able to make it work with dynamic import once I deleted the node_modules folder and re-run npm install.

[2022-11-14 14:14] #2615 closed

[2022-11-16 16:14] hafiza-sabeeha-areej opened #2616 "want help"
can anyone help to run this git?

[2022-11-16 18:33] #2616 closed

[2022-11-17 20:50] michelson commented on #2613
Hi there, do you have some ideas about what could be causing the error?
maybe with some hints I could explore the base code and try to fix it.
also, is there any chance to get some consulting from wavesurfer experts?
best

[2022-11-17 20:54] skysnolimit08 opened #2617 "backend buffer is null when using prerendered peaks"
Hello.  Thank you all for this project, and in advance for any help you can provide.  I would like to split one audio file into two files, and I take it that for that I need access to the audio buffer that wavesurfer is using.  But when I try to access the buffer after loading prerendered peaks, the buffer is null.

### Wavesurfer.js version(s): 6.4.0 (with 6.4.0 regions plugin as well)

### Brows

[2022-11-17 21:07] skysnolimit08 commented on #2617
I forgot to mention that removing the JSON.parse(data["peaks"]) param from this.wavesurfer.load bypasses the issue, but is not an acceptable solution for my use case (my large audio files mean that I need prerendered peaks).

Thank you again.

[2022-11-18 18:28] bobfang commented on #2592
this workaround solves the problem for me. thank you! in my case, i am not supplying the duration of the audio clip when loading (since the audiowaveform json output doesn't carry this information).

[2022-11-20 15:20] flagg2 commented on #2406
This worked for me:
[code]

[2022-11-21 19:50] giugit opened #2618 "microphone plugin conflict with recorder.js only on iphone 7"
# Hey, thank you for testing and contributing to wavesurfer.js!

I'm using the last version of wavesurfer.js.

I use the microphone plugin with the recorderjs

https://github.com/mattdiamond/Recorderjs

It work fine also on ipad but with iphone when the microphone plugin start

the recording became mute.

If  I start the microphone plugin before, when start recording the plugin stop to work,

this

[2022-11-22 15:20] armiiis opened #2619 "Audio keeps playing after calling `seekTo(1)`"
### Wavesurfer.js version(s):
6.4.0

### Browser and operating system version(s):
Chrome 107.0.5304.110
macOS  12.6

### Code needed to reproduce the issue:

https://codesandbox.io/s/dazzling-varahamihira-3lpn86?file=/src/_app.js

### Use behaviour needed to reproduce the issue:
I have this issue where user clicks on progress bar at the very end of it and audio is still playing for a few more seco

[2022-11-22 23:42] thijstriemstra commented on #2607
Did this get submitted?

[2022-11-23 07:35] chinajuanbob opened #2620 "Any example for display multiple channels from peaks file?"
Hi,

I have a requirement of display a long-time multiple-channels audio stream within short time, and my solution is loading peaks file for it.

I have found an example for splitting multiple channels, and an example for loading peaks from file, but no one for both features. I try to add `splitChannels` options to my load-peaks code, sadly it failed to render.

I added `--split-channels` paramete

[2022-11-24 10:31] gamedilong commented on #2530
这个问题你解决了么，咋整的，官方给的demo没这个问题，一样的代码我也是一拖就回到开始。

[2022-11-24 14:11] #2620 closed

[2022-11-25 11:04] sangtv123 opened #2621 "Feature request, or: add fade-in before the audio / fade-out affter the audio"
# Hey, thank you for testing and contributing to wavesurfer.js!

## Please make sure you can check all of these points below before opening an issue:

(You don't have to post this section)

- [x] I have checked [the FAQ](https://wavesurfer-js.org/faq/) and it doesn't solve my problem.
- [x] I have checked [the documentation](https://wavesurfer-js.org/docs/) and it doesn't solve my problem
- [x] I

[2022-11-25 11:29] thijstriemstra commented on #2618
https://github.com/mattdiamond/Recorderjs hasn't been updated in 6 years, it's obsolete.

[2022-11-25 11:31] thijstriemstra commented on #2610
what is the output of `ffprobe` (part of ffmpeg) for that mp3 file?

What browsers/operating systems have you tested?

What version specifically?

[2022-11-25 11:32] thijstriemstra commented on #2582
no feedback, closing.

[2022-11-25 11:32] #2582 closed

[2022-11-25 11:34] thijstriemstra opened #2622 "Add sponsors option"
Github provides support for sponsoring projects: https://github.com/sponsors

cc @katspaugh

[2022-11-25 12:00] katspaugh commented on #2622
I know, I had registered us there before and some random medical company even sponsored us. But to actually get the money you need to provide US tax details and stuff like that, which I'm not eager to do, so I canceled it.

[2022-11-25 12:03] thijstriemstra commented on #2622
Interesting. When was this? I'm also using opencollective for some other projects and that seems to work fine. Have you used that before?

[2022-11-25 12:13] haivala opened #2623 "[feature] increment playcount with percentage of played"
I want to increment the audio play count when certain percentage of the one audio clip has been played not just jumped to that position.

What I'm doing now:
[code]
and on Play
[code]
and on Pause
[code]
and when the audio is playing executing the function to save the increment of play count if time is up.
[code]
But the problem is that the `setInterval()` or `audioprocess` event are those functio

[2022-11-25 23:10] thijstriemstra commented on #2622
Not sure. it's also important that the people sponsoring the project can get a positive tax outcome (because it's non-profit etc) vs the liability. But I'm not a lawyer.

[2022-11-27 14:03] vbspace opened #2624 "Waveform on top of a background image"
I was wondering if it is possible to put an image in the background of the waveform, and make the image stretch 100% width and height.

I am currently looking and studying how the rendering of the waveform is done, please let me know if you have any tip or suggestion it's going to be helpful. Thank you!

[2022-11-28 18:16] stripedgoat opened #2625 "Safari: Lag during seeking when utilizing backend: "MediaElement""
### Wavesurfer.js version(s):
6.4.0

### Browser and operating system version(s):
Safari, mainly happens on iOS (16.1), but sometimes also on macOS 11.7.1

### Code needed to reproduce the issue:
I'm going to use one of the official examples, as some of them are also affected. For example this one:
https://wavesurfer-js.org/example/angular-material/index.html

### Use behaviour needed to reproduce

[2022-11-30 10:45] rezook commented on #426
@maxehnert this is not works, component returns 0

[2022-11-30 12:11] pmgrace opened #2626 "Unhandled Promise Rejection: AbortError"
Error in Safari Console - "Unhandled Promise Rejection: AbortError: The operation was aborted." "(anonymous function)" "rejectPromise"

When this error appears, the player stops working and attempting to play another track just shows the same error again. This also prevents any other websites (tested with Soundcloud specifically) with web audio from working until the browser is restarted.

**Waves