[2019-07-24 14:24] #1697 closed

[2019-07-24 14:26] zapfdk commented on #1699
Ok, I guess I tracked down the problem. When using the autoCenter option, the cursor is centered at a fixed rate by the drawer object. This leads to a really slow centering process for long audio files.
As there is an option for immediate centering which is used when seeking or zooming, as a workaround I rewrote the function call to always immediately center the cursor.

Could we make this an addi

[2019-07-24 16:14] K3nn3th2 opened #1700 "getChannelData is not a function ?"
Hey Folks,

I'm currently developing an android application with DroidScript and wavesurfer.js.
It worked wonderfully after i had got past some issues.
All of a sudden, it will not work anymore. get the following error:

Script Error: this.buffer.getChannelData is not a function, Line 1, wavesurfer.min.js

I will try to see what changed..

Can anyone explain to me why this error is occuring? It co

[2019-07-25 06:34] syonip opened #1701 "Playing with no audio on iOS 12.4"
## The issue:
The waveform is rendered, and it seems like it's playing (you see the ticker moving), but there is no audio.
I've tried the audio context workaround suggested in #1415, but to no avail.
Thanks.

### Wavesurfer.js version(s):
latest (whatever https://wavesurfer-js.org uses)

### Browser and operating system version(s):
iOS Safari 12.4

### Use behaviour needed to reproduce the issue:

[2019-07-25 13:34] thijstriemstra commented on #1699
@zapfdk sounds good! looking forward to a PR. Also make sure to test with latest version (3.0.0 atm).

[2019-07-25 13:36] thijstriemstra commented on #1700
what version of wavesurfer.js, etc etc?

[2019-07-26 12:55] MacedonianPepper commented on #1693
@awkspace same problem.
![image](https://user-images.githubusercontent.com/24991543/61952841-a1d0b480-afbd-11e9-80c0-655c2ced0036.png)
![image](https://user-images.githubusercontent.com/24991543/61952891-b7de7500-afbd-11e9-85c3-82b76334620d.png)

[2019-07-26 16:23] iagosilvamelo opened #1703 "toggleMute() is not return audio."
Good afternoon, how are you?
i'm development a audio player but the toggleMute() is muted audio and is not return audio.

This is my code:

[code]
Thanks for your attention.

[2019-07-26 18:56] thijstriemstra commented on #1703
@iagosilvamelo what is the wavesurfer.js configuration you are using?

what do you mean?

[2019-07-26 19:21] iagosilvamelo commented on #1703
Helo @thijstriemstra.
This is my wavesurfer instance:
[code]

When activating the function toggleMute() to click button, the audio is muted, this is ok. With audio muted when activating the function toggleMute() to click button, mute is not disabled.

I tried with setMute(true) and false and setMute(1) and 0. It didn't work either.

Sorry my english, hehehe.

[2019-07-26 20:57] thijstriemstra commented on #1703
what version of wavesurfer.js?

[2019-07-27 00:21] abrahamian opened #1704 "Can you instantiate a Wavesurfer with a MediaElement which is already playing, without interrupting its playback?"
If an audio tag is already present on the page, can an instance of Wavesurfer be created to visualize that element's waveform (and subsequently control navigation/playback), but without reloading or otherwise interrupting the playback of the existing element?

My attempts so far have left me with the impression that, using the `MediaElement` backend, calling `.load(mediaElement)` forces the existi

[2019-07-27 15:31] JPKramer707 commented on #1419
I argue that it is impossible, and I hereby challenge all collaborators to prove otherwise, preferably with a pull request containing documentation and example code.

[2019-07-29 01:12] #1630 closed

[2019-07-29 01:13] #1645 closed

[2019-07-29 01:13] thijstriemstra commented on #1671
no feedback, closing.

[2019-07-29 01:13] #1671 closed

[2019-07-29 08:21] kubk commented on #1209
It looks like this issue can be closed, because typings can be installed using `npm install wavesurfer.js`

[2019-07-29 12:34] iagosilvamelo commented on #1703
3.0.0

[2019-07-29 19:46] thijstriemstra commented on #1704
@abrahamian looks like this is your problem? https://github.com/katspaugh/wavesurfer.js/blob/master/src/mediaelement.js#L132 Can you comment that (and/or other relevant stuff in that method) out, check what happens?

[2019-07-29 23:08] Pratyush1197 opened #1705 "Plugin feature not working"
I want to add Timeline plugin but it is not working. I am getting the error
  `Uncaught TypeError: Cannot read property 'create' of undefined`
My code is as follows
`var wavesurfer = WaveSurfer.create({
  container: '#waveform',
 waveColor: 'violet',
 progressColor: 'purple'
});`

// adding and initialising a plugin after initialisation
`wavesurfer.addPlugin(WaveSurfer.timeline.create, {
    conta

[2019-07-29 23:37] killia15 opened #1706 "Toggle Autocenter"
Hello! Thanks for creating such a great library. I've been using it for annotating audio files (similar to the example on the site). One of the initial things that I noticed is that autocentering isn't desirable when playing a region where the user picks a section, loops it and comments on it, as shown in the attached image.

I'd like to have it where I could toggle off the autocenter if I'm simpl

[2019-07-30 01:12] killia15 commented on #1705
Can you post your import statements?

Here's what I did:

[code]

[2019-07-30 06:33] Pratyush1197 commented on #1705
I am using the cdn which is as follows-
 `<script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.2.3/wavesurfer.min.js"></script>

  <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.timeline.min.js"></script>`

[2019-07-30 15:59] k-bx commented on #77
I see a memory consumption problem with Wavesurfer on Firefox (Ubuntu 18.04). Every time I reload a tab I get another 400 MB consumed. Arguably, the file is 65 MB, and probably it's Firefox who needs to be blamed for not releasing the memory on tab reload, but I just wanted to mention the issue here.

[2019-07-30 22:45] thijstriemstra commented on #1706
sounds like a good idea. also related to pull request #1702. @killia15 maybe you can take a look at that pull request to check how autoCenter works (and is being improved), and then go through the regions plugin and see where autoCenter is used there?

[2019-07-30 22:48] thijstriemstra commented on #1705
that's a really really old version. Try the latest version instead @Pratyush1197:

[code]

[2019-07-30 22:48] #1705 closed

[2019-07-30 22:51] killia15 commented on #1706
It looks like the regions plugin doesn't make use of autoCenter. It looks like Drawer takes care of it. Is it possible to change the params without reinitializing it? For example could I access the drawer from the wavesurfer instance and set it to false and then true?

[2019-07-30 22:52] killia15 commented on #1706
Then perhaps we could add a method to enable / disable autocentering without exposing the internal api.

[2019-07-30 22:53] thijstriemstra commented on #1706
sure, looking forward to a PR and we can discuss your approach there.

[2019-07-31 00:00] killia15 commented on #1706
I was able to get my desired use case working by setting `this.waveSurferInstance.drawer.params.autoCenter = false;` on region-play and then re-enabling it afterwards.

Do you think that it would be desirable to add a configuration option to the regions that would disable autocentering if a region was played (not a region enter but rather a user actually clicking on a region to play it)?

Alternat

[2019-07-31 00:02] killia15 commented on #1706
This could be a specialized use case, in which case I wouldn't want to add unnecessary methods, but if you think that it would be useful, I'd be happy to submit a PR on top of #1702 .

[2019-07-31 00:09] thijstriemstra commented on #1706
Yes 👍

because there are more options for autoCenter in the future (see #1702), maybe a new method that accepts the other autoCenter related options as well? not just one/two that simply enable/disable a single parameter.

[2019-07-31 00:13] killia15 commented on #1706
Yeah I think that would be good. A method like `configureAutoCenter` or something similar that could take an object and update the params. Should be simple considering that the drawer wouldn't need to be reinitialized or anything.

[2019-07-31 03:07] killia15 commented on #1419
Curious - has anyone tried: https://stackoverflow.com/questions/35735278/how-to-draw-a-waveform-of-an-audio-stream-in-html5

[2019-07-31 08:04] AngleMi opened #1707 "when the audioRate of wavesurfer is lower than 0.7, the isPlaying() of wavesurfer is true, but the region using Regions Plugin can't"
### Wavesurfer.js version(s):2.2.1

### Browser and operating system version(s): chrome

### Code needed to reproduce the issue:

![image](https://user-images.githubusercontent.com/38134963/62194202-facc8e00-b3ab-11e9-94b8-7b8d39828e81.png)
![image](https://user-images.githubusercontent.com/38134963/62194080-b04b1180-b3ab-11e9-8a1c-f1c2a118cf84.png)

### Use behaviour needed to reproduce the issue

[2019-07-31 08:09] AngleMi commented on #1707
Sorry, the pasting code was written in a wrong place，audioRate: 0.5,

[2019-07-31 10:03] thijstriemstra commented on #1707
@AngleMi always test with latest version

[2019-07-31 12:14] ThoughtZer opened #1708 "Regions playloop has a problem~"
https://github.com/katspaugh/wavesurfer.js/blob/832e114b7be6436458fc351a57699ba169d08676/src/plugin/regions.js#L233-L238

```Math.round(time * 100) / 100``` maybe stop the playloop. But removing the ```Math.round``` is ok. What is the reason for this（```Math.round(time * 100) / 100```）?

[2019-07-31 15:45] Aparus opened #1710 "preserve pitch when changing playbackRate"
I studied this topic  [feature: soundtouch.js filter to preserve pitch when changing tempo](https://github.com/katspaugh/wavesurfer.js/pull/1214 )
and other related issues, and what I understand, first it was utils/kali.js , then soundtouch.js - exact in the the wevesurfer.js/webAudio code.

But then suddenly them disappeared from ws code, and appeared in example [Stretcher](https://github.com/kat

[2019-07-31 17:00] Pratyush1197 commented on #1705
still getting the same error
`Uncaught TypeError: Cannot read property 'create' of undefined`

[2019-07-31 19:55] thijstriemstra commented on #1705
Did you try the timeline example? Are you saying that example isn't working for you? https://github.com/katspaugh/wavesurfer.js/blob/master/example/timeline/app.js

[2019-08-01 00:14] kubk commented on #953
@thijstriemstra Hi, thank you. I found a workaround for the problem:
[code]
It is strange, but in some cases height is negative which affects calculating of border radius.

[2019-08-01 02:17] ThoughtZer commented on #1655
@ouzhou

https://github.com/katspaugh/wavesurfer.js/blob/832e114b7be6436458fc351a57699ba169d08676/src/plugin/regions.js#L233-L238

Try to delete ```Math.round```? or change to ```Math.ceil```?

[2019-08-01 06:13] NavjotKumar opened #1711 "Pre-Render Waveform from server - Angular"
I'm working on a soundcloud like app where the user will see a playlist full of waveforms. I want to render all the peak data on the server to avoid having the user load all the songs at once just to display the waveforms.
Is there any solution??

[2019-08-01 06:37] ghost opened #1712 "Region start and end value wrongly updated"
Hi all,

   I used wavesurfer region for audio file for trimming the region. Its start and end value was wrongly updating when we set the minimum and maximum length and also end value was updating over the maximum value so when I play the audio it was playing wrong because of start and end value was wrong

[code]

By viewable my region start and end value was **0** to **60** but it gives **`0.0915

[2019-08-01 09:49] Pratyush1197 commented on #1705
Yes I am getting the error that create is undefined

[2019-08-01 11:44] Ramya-22 commented on #1555
Hi @MaxwellGover

`region-updated`

This is called for all mouse move functionality.But  I need Updating start & end values of region on drag.

How can I call onDrag function

![2019-08-01_17-13-03](https://user-images.githubusercontent.com/42537872/62290782-c2967f80-b47f-11e9-8b21-970787717789.png)

cc - @katspaugh  @MaxwellGover

[2019-08-01 11:48] Ramya-22 opened #1713 "How to call onDrag & onResize function in wavesurefer regions ?"
Hi all

I need regions `start and end `value for **region resize**.

How to call onDrag & onResize function in wavesurefer regions ?

REF : https://github.com/katspaugh/wavesurfer.js/issues/1555

![2019-08-01_17-13-03](https://user-images.githubusercontent.com/42537872/62290953-389ae680-b480-11e9-8bfa-da02defe2592.png)

cc - @katspaugh @MaxwellGover

[2019-08-01 12:43] K3nn3th2 commented on #1700
Originally with wavesurfer 1.2.3
But its the same with other versions as well

[2019-08-01 16:19] Aparus commented on #1710
Finally I used code from [Stretcher example](https://github.com/katspaugh/wavesurfer.js/tree/master/example/stretcher) - thanks to its author!
I putted whole code from `soundtouch.js` to module, where just removed wrapper
`(function(window) {.... } ) ` and at the end of file changed
`window.soundtouch = { .... } `
to
[code]
Then in module when I initialize wavesurfer I imported  `import soundtouch

[2019-08-01 16:19] #1710 closed

[2019-08-01 17:54] seklum opened #1714 "Waveform not in sync with MediaElement backend audio when zooming"
When zooming in enough it's clear that the majority of beats are heard before the actual section of the waveform is hit. It's a small amount but noticeable for the the project I am using it for. It appears that the audio is 0.04 seconds ahead of the progress bar. The song I am using is about 3 minutes long if that makes any difference.

Wavesurfer.js Version 3.0.0

Firefox Developer Version 69.0b9

[2019-08-01 20:50] thijstriemstra commented on #953
awesome, sounds good @kubk!

[2019-08-01 20:53] thijstriemstra commented on #1700
@K3nn3th2 please add some example code that reproduces this problem (and operating system/browser version info).

[2019-08-01 20:55] thijstriemstra commented on #1708
duplicate of #1655.

can you add your comment to that ticket @ThoughtZer so we keep the discussion in one place?

[2019-08-01 20:55] #1708 closed

[2019-08-01 20:57] thijstriemstra commented on #1711
sure, see bottom of FAQ on how to render the peak data using an node.js script that you can run on the server: https://wavesurfer-js.org/faq/

[2019-08-01 20:57] #1711 closed

[2019-08-01 20:58] thijstriemstra commented on #1713
`wavesurfer.regions.onDrag()`?

[2019-08-01 21:00] thijstriemstra commented on #1714
can you also reproduce it with older wavesurfer.js versions, e.g. 2.2.1?

[2019-08-01 22:14] seklum commented on #1714
Yes I'm getting the same thing with version 2.2.1. The only way to really see it is to zoom in as much as possible and then place the progress indicator at the exact start of a beat and then hit play. Once you move it back a fraction of a second you hear the actual spike that your trying to view on the waveform.

[2019-08-01 22:58] thijstriemstra commented on #1714
Does it happen with the default webaudio backend?

[2019-08-01 23:06] seklum commented on #1714
No this error does not occur when I comment out the backend parameter.

[2019-08-01 23:31] thijstriemstra commented on #1714
can you narrow it down to specific code in `MediaElement` backend?

[2019-08-01 23:38] seklum commented on #1714
I'll give it a try. I've only been working with js for a week or two so I may not be able to solve it just yet.

[2019-08-01 23:39] thijstriemstra commented on #1714
Start with https://github.com/katspaugh/wavesurfer.js#development

[2019-08-02 00:37] seklum commented on #1714
Ok so far I've at least looked over all the code in the mediaelement file. I can't see anything that looks like it would cause this. I've verified that the waveforms are not different they still display the same so it's something with the audio only.

Here is one interesting thing I was able to find. At the end of the waveform when using the mediaelement backend the cursor extends a .02 seconds pa

[2019-08-02 04:46] Ramya-22 commented on #1713
Hi @thijstriemstra

https://github.com/katspaugh/wavesurfer.js/issues/1713#issuecomment-517455639

Thanks for your time.I have tried.I got this error

![2019-08-02_9-21-01](https://user-images.githubusercontent.com/42537872/62345027-2f585b00-b50e-11e9-915a-8bc95d1d58d1.png)

[2019-08-02 11:42] thijstriemstra commented on #1714
does it happen with just that audio file or all?

[2019-08-02 15:57] aburai commented on #1713
The method onDrag is located on the Region class and works as wrapper for the update method with the changed start and end for drag events. Same for onResize.

Listen to `region-updated`as mentioned and look for changes in start and end props.

[2019-08-02 16:59] aburai commented on #1713
second thought: we can add a property to Region like `isDragging` which will be set to true in onDown and to false on onUp. This way a region-updated listener could detect changes while dragging. Same for Resize. I have created a PR, but from wrong master, closed again. So now from upstream master ;) -> https://github.com/katspaugh/wavesurfer.js/pull/1716

[2019-08-02 19:04] aburai commented on #1705
wrong placed brackets
[code]

[2019-08-02 19:36] aburai commented on #1712
i can reproduce it with v3. i set a maxLength of 60, resize it to max and get end value 67
the end value depends on where i release the handle

[2019-08-02 20:10] aburai commented on #1703
i can reproduce this in v3. when i use `toggleMute` the volume was not restored and stays on 0
i will investigate and create a PR when i found a solution

[2019-08-02 20:21] iagosilvamelo commented on #1703
I ended up doing like this:

[code]
I'm not using mute.

[2019-08-02 21:11] aburai commented on #1703
i think it depends on this change for backend MediaElement
[code]

[2019-08-03 12:04] Pratyush1197 commented on #1705
Still getting the same issue...Can someone tell me what can be the reason behind such error?

[2019-08-03 12:04] Pratyush1197 commented on #1705
Like it is showing create is not defined

[2019-08-04 21:38] thijstriemstra commented on #1705
the reason is using an ancient version.

[2019-08-05 21:28] usfslk commented on #822
Hi, on wavesurfer docs there's exportImage(format, quality, type) can you please shed a light on those 3 parameters? I'm not sure what values I should use

[2019-08-05 22:13] thijstriemstra commented on #822
@usfslk read the docs at https://wavesurfer-js.org

[2019-08-06 06:18] NavjotKumar commented on #1711
i have tried creating peaks with
`wavesurfer.exportPCM(1024, 10000, true, 0);`
and storing in on server, i got some array of data but when i a trying to load this generated peaks array with
`wavesurfer.load( this.song, peakData);`

it does not create peaks, it shows data something like this
![bar](https://user-images.githubusercontent.com/33478668/62515481-0acaee80-b840-11e9-8380-db1a1f4a1bcc.png)

[2019-08-06 08:03] aburai commented on #1711
seems the peaks are not normalized, have you set this option in Wavesurfer.create to true?

[2019-08-06 17:25] lionel-lints opened #1717 "Question: best practices way to play multiple regions in succession?"
I have written a react component to play all regions in succession, however I have the sinking feeling like this isn't going to produce the most consistent results over time. Is there a preferred way to use the Regions plugin to play a set of regions in succession?

I have read through the documentation, looked through the previous issues, and taken a look at the source code, but I am not clear ab

[2019-08-07 21:50] aburai commented on #1717
Currently i did it the same way, but i am not happy with the solution because i can't pause a playlist.
I think about adding a new event like `region-pause` for better handling.

I would add an option to regions create for the event type to fire because otherwise it will be a breaking change.

Other ideas?

[2019-08-08 00:06] lionel-lints commented on #1717
@aburai thanks for the reply, I have had problems with the 'region-out' event, as it seems to fire multiple times for me when the audio is jumping from one region to another. Can you share your code that is working?

Thanks again!

PS here is my recent playSelection method that seems to be working, using the `audioprocess` event... I still think it's not really an ideal solution, so yeah any and a

[2019-08-08 04:52] Ramya-22 commented on #1712
Thank you @aburai .

[2019-08-08 07:22] Sapnakarmur opened #1718 "Create copy of canvas and set player in footer"
I am creating a player like SoundCloud

How can I make a global player at the bottom of the page (doesn't need to show waveform), like Soundcloud, playing at the same time while the track is playing on the page?

In detail,
It should work as when navigating to another page, the track shows the waveform continuing to play from the current time it's at as well as the global player controls showing t

[2019-08-08 10:59] NavjotKumar commented on #1711
Every thing is working fine now except, event after
`waveform.play()`
wave take around 3 - 10 sec to play in all cases, and if peaks are already drawn  why is playing it takes so much time and is there any way to reduce this time to zero??

[2019-08-08 11:42] aburai commented on #1711
on waveform.play() the audio is loaded and the peaks redraw
i use waveform.loadMediaElement() on play, if not already loaded, to minimize this redraw

[2019-08-08 22:45] #1713 closed

[2019-08-09 08:34] #1419 closed

[2019-08-09 11:13] K3nn3th2 commented on #1700
im running on android with DroidScript.
It seems to have something to do with my Android and/or DroidScript version, because it worked on my android 8 phone before.

i tried a minimum example on my pc which worked, and ran it in droidscript to recieve the same error as stated in the title.

ill try to get my hands on an android 8 phone again to try it there

[2019-08-09 16:38] #1700 closed

[2019-08-10 00:54] arshaplus opened #1719 "Create from existing WaveSurfer instance"
Hi all.

I'm using this package on `Angular2+`. In my project, there are many tracks & each track have it's seperate page and wavesurfer object. like soundcloud. I have a `PlayerService` that save current `WaveSurfer object` & `Track object` when a track starts to play.

[code]

[code]

When a track is playing & user navigate to other page, player keep playing. Now when the user come back to curre

[2019-08-12 17:38] thijstriemstra commented on #1719
this sounds like a angular2/stackoverflow question, please ask there.

[2019-08-12 17:38] #1719 closed

[2019-08-14 03:21] ouzhou commented on #1655
i give up, i think if you want to use this repo, you'd better write it by yourself

[2019-08-14 03:21] #1655 closed

[2019-08-16 20:27] Athospd opened #1720 "enableDragSelection - Cannot read property 'addEventListener' of undefined"
`enableDragSelection` not seem to work. I'm getting
[code]

What I'm doing wrong? Reproducible example follows:

[code]

[2019-08-17 06:29] Ramya-22 opened #1721 "How to use getCurrentRegion function ?"
Hi all

I need currentRegion. and I update the region with given ( start and end value).

How to call getCurrentRegion  function in wavesurfer regions ?

cc - @katspaugh @MaxwellGover

[2019-08-17 20:43] aburai commented on #1720
you should listen to the ready event before you call it or use the option plugins in Wavesurfer.create

[2019-08-18 18:42] #1720 closed

[2019-08-18 18:44] thijstriemstra commented on #1718
maybe  use `wavesurfer.exportImage()`?

[2019-08-18 19:28] Athospd commented on #1720
Still doesn't work with 'on('ready').

[code]

[2019-08-18 19:39] thijstriemstra commented on #1720
why are you using `addPlugin`?

Try:

[code]

[2019-08-18 19:41] thijstriemstra commented on #1721
try:
[code]

[2019-08-18 19:41] #1721 closed

[2019-08-20 13:07] alisajidcs opened #1722 "Multi Color Bars"
Hy, I want to give color to each and bar saperately. Is there anyway to do so in current package?

If no please guide me how can I access canvas object so that I can override selected bars myself.

The scenario I am in right now is that I want to give colors based on emotions. Like if audio was angry for 1st 10 seconds then color should be red and if next 20 seconds is a happy voice then I want to

[2019-08-20 19:27] willwsharp opened #1723 "Unable to load audio from file when using Angular 8"
When using Angular 8.0.3 and wavesurfer.js 3.0.0, while trying to load a local audio file, I get a `Uncaught (in promise) TypeError: Failed to fetch` error in the console.  This error is definitely from Angular.  I do not see this error in wavesurfer.js 2.2.1 or if I try to load a file from a web url in
wavesurfer.js 3.0.0, it works fine.  I think it has something to do with replacing the old `uti

[2019-08-20 20:03] shamoons opened #1724 "loading event does not fire"
[code]

and then:
[code]

But it doesn't fire even with a large file.

[2019-08-21 17:33] thijstriemstra commented on #1722
not yet.

@alisajidcs use the `wavesurfer.drawer.canvases` array to access the canvas(es).

if you come up with something we can re-use, happy to review any pull requests.

[2019-08-21 17:34] thijstriemstra commented on #1723
from a local webserver? can you give the full stacktrace, the error is very vague.

[2019-08-21 17:37] thijstriemstra commented on #1724
@shamoons what version of wavesurfer.js?

how big is the file? are you loading it from a local webserver?

why do you load before adding the listener?

flip em around:

[code]

[2019-08-21 17:39] #1689 closed

[2019-08-21 17:39] #1696 closed

[2019-08-21 17:40] thijstriemstra commented on #1704
yo @abrahamian, any feedback?

[2019-08-21 17:49] abrahamian commented on #1704
@thijstriemstra, I’m still working on this.

For context: My specific use case relies on another library (cassette) to instantiate the MediaElement and initiate playback. I’ve had some success implementing what I want by  simply commenting out some lines of code (such as the one you referenced, and others that pause/unpause) in my fork of wavesurfer, but only in Chrome. In Firefox and Safari I get

[2019-08-21 17:50] willwsharp commented on #1723
The full stack trace is from Angular, so I don't think it will be of much help.  Here it is though:

[code]

[2019-08-23 07:34] JayLee2 opened #1725 "官方文档的例子中注解的音频显示不了，希望尽快更新一下官网文档"
# Hey, thank you for testing and contributing to wavesurfer.js!

## Please make sure you can check all of these points below before opening an issue:

(You don't have to post this section)

- [ ] I have checked [the FAQ](https://wavesurfer-js.org/faq/) and it doesn't solve my problem.
- [ ] I have checked [the documentation](https://wavesurfer-js.org/docs/) and it doesn't solve my problem
- [ ] I

[2019-08-25 16:42] CalebF98 commented on #1681
klodoma,

I am using this same functionality in my own website, and I had a question about the regions.clear() function that perhaps you can answer. I assume region-created is fired after a new region has been created. The documentation says that the clear() function removes all regions. However, when using regions.clear with the region-created event, it doesn't clear the last created region, givi

[2019-08-26 07:50] klodoma commented on #1681
From a quick look in the code, I see that 'region-created' is also used to add a region to the regions list
[code]

Now, it seems that the "region-created" I add later is fired earlier and the regions get cleared before the new one is added.
[code]
I don't think it's a very "solid" solution, but it works for the moment.

[2019-08-26 09:30] Ramya-22 commented on #1721
Hi @thijstriemstra ,

 I tried this.https://github.com/katspaugh/wavesurfer.js/issues/1721#issuecomment-522349372

But it returns the value only when the region is  an active state (ie) my current time is in the region.

[code]

![2019-08-26_14-56-12](https://user-images.githubusercontent.com/42537872/63680857-2d826e80-c812-11e9-84d7-c14a7f9217ce.png)
![2019-08-26_14-58-43](https://user-images.git

[2019-08-26 11:40] Ramya-22 opened #1727 "exportImage() returns no data (empty base64)"
Hi @katspaugh

From the new version-3.0.0 I faced the problem, which is wave surfer, `ready` returns empty base64 when am using export image function.

I debugged your js,  you called the fireEvent `ready` after draw buffer() function,  Once the ready event triggers then only the draw buffer draws. But in version 1.2.3 this problem is not occurring, I submit my code here. if any mistake means kind

[2019-08-26 19:20] aburai commented on #1727
@Ramya-22 i have tested your code snippet and it works for me
did you see the waveform of the audio when you get the empty result?
maybe you can test it again in a clean environment and if you have only this code, make sure the document is ready (window.onload)

[2019-08-26 19:30] aburai commented on #1721
what is "currentRegion" for you?
if you need some focus handling when click on a region, you can easy implement that yourself

[2019-08-27 04:44] Ramya-22 commented on #1727
Hi @aburai ,

Thanks for your time.

I am using wavesurfer version 3.0.0 .

REF :    `<script src="https://unpkg.com/wavesurfer.js"></script>`

So, I got empty base64 .

Which version you are using ...?

[2019-08-28 04:54] Ramya-22 commented on #1721
Hi @aburai ,

Without clicking the current region I need region value. is it possible to get...?

[2019-08-28 11:56] rhaamo commented on #1244
is there any fix planned for this issue ?

[2019-08-28 19:05] pmgrace opened #1728 "exportPCM has timing issue"
Hi @katspaugh

In the latest version 3.0.0 does the "exportPCM" function work?

    wavesurfer.on('ready', function() {
        var pcmData = wavesurfer.exportPCM(1024, 1024, true);
        console.log("PCM: "+pcmData);
    });

All that shows in the console is:

    PCM: []

[2019-08-28 21:54] ericirish opened #1729 "Improve performance for large files"
I've got WaveSurfer working for my Podcast application with small audio files (~3 minutes) but I'm having sluggish performance and crashing with larger audio files (~1 hour).

I'm just passing a blank array of peaks `var peaks = []` to a `MediaElement` backend so I don't think it's related to waveform render because there is none. I'm really just using the interface to mark regions.  I'm capping t

[2019-08-28 23:16] jgraniero opened #1730 "Load peaks dynamically"
I want to allow users to interact with wavesurfer (play audio, select regions, etc.) before the peak data comes down from our servers.

The issue I'm having is that loading the peak data is done via `wavesurfer.load()`, which has some undesirable side effects in my case.  ready events fire again, playback will reset to the beginning even if in progress.  I can restore playback position, but that's

[2019-08-29 18:03] shakidev opened #1731 "How to set statical size?"
Hello, How i can set width 1500px and height 250px in result and exportImage() ? I've tried many options, but nothing happen

[2019-08-30 12:26] aburai commented on #1721
you don't answer the question what the current region is
but you have all existing regions in a list
you can always find out what is the current time and find the region you want

[2019-08-30 12:27] aburai commented on #1727
i use v3 too
have you tried to put your code in the window.onload event handler?

[2019-09-02 11:36] diegoiglesias opened #1732 "Load only waveform and wait for user to press play to download audio"
I followed the instructions from here https://stackoverflow.com/a/39009549/972813 to load the waveform and wait for the user click to load audio. It works well but it redraws the waveform whilst is loading.

Can I just load and play without redrawing waveform?

[2019-09-02 18:53] thijstriemstra commented on #1725
Please use English when you open a ticket.

[2019-09-02 18:53] #1725 closed

[2019-09-02 18:54] thijstriemstra commented on #1727
ping @Ramya-22

[2019-09-02 18:56] thijstriemstra commented on #1728
what does `wavesurfer.exportPCM()` return?

[2019-09-02 18:58] thijstriemstra commented on #1730
Yes, if you have an improvement for wavesurfer.js, please open a PR and we can take a look.

[2019-09-02 19:00] thijstriemstra commented on #1731
@shakidev you can't change the size of the image returned by `exportImage`. That method returns image data that uses the size of the canvas element(s) used by wavesurfer. See `wavesurfer.drawer.canvases` array.

[2019-09-02 19:00] thijstriemstra commented on #1732
@diegoiglesias can you make a codepen that reproduces the problem?

[2019-09-02 19:48] rick-rheo opened #1733 "Content from Podcast Provider Megaphone.fm does not load fully."
It seems Megaphone.fm  inserts dynamic ads into the stream.  When loading streams into WaveSurfer only the ad loads  BUT  looking at network traffic you can see the entire audio file is downloaded.

### Wavesurfer.js version(s):  Latest from https://unpkg.com/wavesurfer.js

### Browser and operating system version(s):  Mac, PC  Chrome, Explorer, Safari, etc,

### Code needed to reproduce the issue

[2019-09-03 10:00] pmgrace commented on #1728
Using just `wavesurfer.exportPCM()` on v3.0.0, v2.2.1 and v2.2.0 just opens a blank new tab and the console still shows `PCM: []`.

[2019-09-04 04:15] Athospd opened #1734 "replace soundwave with spectrogram"
Is it possible to make spectrogram the main plot instead of wave? It would be a nice feature, specially for annotation purpose.

[2019-09-04 09:49] thijstriemstra commented on #1733
@rick-rheo this looks like an issue with a file, not sure what to do about it in wavesurfer.js.. what do you suggest?

[2019-09-04 09:50] thijstriemstra commented on #1734
@Athospd you can hide the `canvas` element, check `wavesurfer.drawer.canvases`.

[2019-09-04 09:52] thijstriemstra commented on #1728
can you check the various variables and values in https://github.com/katspaugh/wavesurfer.js/blob/master/src/wavesurfer.js#L1494 and try to figure out what's going wrong there?

[2019-09-04 11:45] Athospd commented on #1734
But in this case I wouldn't have the same functionalities like regional, cursor, etc, right?

[2019-09-04 16:02] rick-rheo commented on #1733
Other players load and play this file just fine. Many/most streams from megaphone.fm have this issue with Wavesurfer.  Its probably their fault but other players get around it.  I don't know how Wavesurfer works internally so I have no suggestions other to figure out why  it isn't loading the entire file even though it downloads it.

[2019-09-04 18:35] thijstriemstra commented on #1734
@Athospd have you tried first? regions are drawn in separate canvas elements.

[2019-09-04 18:39] thijstriemstra commented on #1733
Their FAQ doesn't describe their audio file format, only thing I found is this: http://support.megaphone.fm/en/articles/1561152-soundcloud-and-megaphone

I would not rely on 'pure' megaphone audio files and would convert them serverside instead.

[2019-09-04 18:49] rick-rheo commented on #1733
I'm not sure what you mean by "convert them serverside instead" .      The support article you linked is referring to podcast catalog meta information, not the audio file.  The audio format is standard mp3.

[2019-09-04 18:54] thijstriemstra commented on #1733
well if it's standard MP3, why does it give problems then? with serverside converting I mean: download the audio file and convert it using ffmpeg (on a server for example) to ensure there is no weird tags/whatever in the file and it can be properly loaded by wavesurfer.js. Not sure what else to suggest. You could contact megaphone and ask for more details about their files.

[2019-09-04 19:23] rick-rheo commented on #1733
This is something going on in Wavesurfer.  Their files are MP3.  Every player other than WaveSurfer plays them.  I don't know how you load the audio into the player.  I assumed you knew the code and could determine why only the first 15 or 30 seconds load.  Are there some weird tags/whatever that can be accommodated by wavesurfer?  For me the server IS megaphone.  There is no other server.

[2019-09-04 19:27] thijstriemstra commented on #1733
I'm not a magician. And I don't care about megaphone. I have no idea what's going on here.

[2019-09-04 21:24] rick-rheo commented on #1733
Not asking for magic.  I guess I was wrong that the author would be concerned that a major podcast CDN is serving content that can't be loaded into their library and that same author would know their code well enough to debug what's going wrong fairly easily.   But clearly you don't care.

I'll just figure it out myself on my own branch.  Thanks for being so helpful.

[2019-09-04 22:48] Athospd commented on #1734
@thijstriemstra Sorry thistriemstra. I don't know even where to start trying. I was expecting something like "visualization_type: 'spectrogram'".

But I'm affraid I'll have to dig int JavaScript tweaks.

Thank you for your time.

[2019-09-05 14:45] huanle0610 commented on #1626
I tried v3.0.0 https://codepen.io/huanle0610/pen/MWgrwEO ,  sometimes it doesn't work.
I hava a workaround.
![image](https://user-images.githubusercontent.com/953028/64351987-d6f50b80-d02d-11e9-82c5-b209f522e6f5.png)
[fork commit](https://github.com/huanle0610/wavesurfer.js/commit/ceaf927ea174ccac9342ef1797bead0f7d0a610a)
At last, I changed the approx to 1e-2.

[2019-09-05 16:32] vvvhung commented on #1626
I also just try today v3.0.0 but it still not work. It will make chrome freeze afterward. So I come back to v2 and try to implemented using setInterval (or setTimeout). Here is my code that I test it work on chrome (my region start time and end time point are rounded to 3 decimal digits) :
`var interval_obj = null;
var playloop_region = null;
function playloop(region) {
    if (playloop_region &&

[2019-09-05 16:50] thijstriemstra commented on #1626
@vvvhung can you try the workaround suggested by @huanle0610?

[2019-09-05 16:57] thijstriemstra commented on #1733
Don't be an asshole. I am doing all of this in my free time, there is no need to talk to me like this.

[2019-09-05 17:04] thijstriemstra commented on #1733
The more I read your response, the more it pisses me off. I've never had to deal with such douchebags on github. What the hell is wrong with you @rick-rheo?

[2019-09-05 17:07] vvvhung commented on #1626
@thijstriemstra I tried, and it only play 3 times then raise Uncaught (in promise) DOMException.

[2019-09-05 18:46] rick-rheo commented on #1733
Look at your own response to see a douchebag.  "I don't care about megafone" etc.  You could have spent 10 minutes looking to see why the audio doesn't load or you could have pointed me to the right place to look myself. Instead you threw up excuses and blame.   There's a problem in your code. This is not just related to megafone, and I'm sure its something they are doing that does not break the M

[2019-09-05 18:48] lionel-lints opened #1735 "Regions Plugin - how to render the waveform regions only?"
Wavesurfer.js version(s):
3.0.0

Browser and operating system version(s):
Chrome version 76
Mac 10.14.6

I'm sorry I don't have code to reproduce this issue, but I am trying to display the waveform where regions have been selected and collapse the rest of the waveform. I dug into this, and it seems like there is no clear CSS way to approach this as the regions don't render the waveform directly, a

[2019-09-05 19:57] #1733 closed

[2019-09-05 19:59] thijstriemstra commented on #1733
Hey great response!

We will keep improving wavesurfer without your bitching. GFY!

[2019-09-05 20:04] thijstriemstra commented on #1734
After you created the player, try this to hide the waveform (but not the spectrogram):

[code]

[2019-09-05 21:57] aburai commented on #1626
i detected problems with very short regions (1s) and region.play()
i get DOMException ABORT_ERR: pause() interrupt play() multiple times
this is because mediaelement listen on audioprocess to detect onPlayEnd
and then call pause(), but did not use the promise resolve
[see developers.google.com](https://developers.google.com/web/updates/2017/06/play-request-was-interrupted)
in my case i iterate ove

[2019-09-05 22:17] aburai commented on #1732
try
[code]

[2019-09-05 22:22] aburai commented on #1730
i use `wavesurfer.backend.setPeaks(peaks, duration)`

[2019-09-05 22:45] diegoiglesias commented on #1732
Yes! it worked perfectly!

[2019-09-05 22:45] #1732 closed

[2019-09-06 00:53] huanle0610 commented on #1626
@vvvhung can you try my new version https://codepen.io/huanle0610/full/MWgrwEO? I have made several regions with 1s, 2s, 5s, 8s ...

[2019-09-06 09:23] #1699 closed

[2019-09-06 21:54] shamoons opened #1736 "How can I create an AudioContext AFTER loading the waveform?"
I have:
[code]

On `iOS safari`, this won't play. Apparently, I need to create an AudioContext AFTER a user action. So I can add a button with a `click` event to trigger this. But I want the waveform to show on load.

If anyone wants to collect imaginary internet points, they can answer [here as well](https://stackoverflow.com/questions/57677569/with-wavesurfer-js-how-can-i-create-an-audiocontext-

[2019-09-07 08:14] lisashen opened #1737 "region updateRender: the startLimited value has floating precision losted problem"
### Wavesurfer.js version(s):
3.0.0

### Browser and operating system version(s):
chrome 76.0.3809, windows 10

### Code needed to reproduce the issue:
[code]

When endLimited > dur, after setting endLimited to dur, startLimited = dur - (endLimited - startLimited)  -> startLimited = dur - (dur - startLimited). I dont know why this is necessary. And this will cause floating precision losted.

[2019-09-08 11:13] #1734 closed

[2019-09-08 11:14] thijstriemstra commented on #1737
@lisashen can you make a pull request with a fix?

[2019-09-08 15:08] vvvhung commented on #1626
@huanle0610 yes, I see your example work well. I also try to copy your code to may app and it also work (a bit unexpected but seem playLoop already work). cc @thijstriemstra

[2019-09-08 17:36] thijstriemstra commented on #1626
good to hear it works for you @vvvhung

[2019-09-08 17:38] thijstriemstra commented on #1736
@shamoons you should create a new `AudioContext` when a user clicks an element, e.g. button, and then pass that audiocontext into the wavesurfer configuration, using the `audioContext` option.

[2019-09-08 22:05] shamoons commented on #1736
But I want the WaveForm to show immediately. So I want to load the wavesurfer on load. I want the play to be on click

[2019-09-09 03:37] jackmerrill opened #1738 "Electron + Wavesurfer waveform not showing."
### Wavesurfer.js version(s): 3.0.0(?)

### Browser and operating system version(s):

Chromium on Windows 10 1903

### Code needed to reproduce the issue:
[code]

### Use behaviour needed to reproduce the issue:

I'm using Electron.js v6.0.6 with Wavesurfer.js to make an app. Electron uses Chromium as the browser.

My issue is that the waveform does not show up when it should be made. My code to g

[2019-09-10 12:58] thijstriemstra commented on #1736
@shamoons that's not possible on iOS. Blame Apple. You could use peaks data to draw the waveform though: https://wavesurfer-js.org/faq/

[2019-09-10 12:58] #1736 closed

[2019-09-10 12:59] thijstriemstra commented on #1738
Why are you using this code?

[code]

[2019-09-10 14:23] jackmerrill commented on #1738
I looked up my issue and that was a possible solution, it didn't work however @thijstriemstra.

[2019-09-10 17:10] thijstriemstra commented on #1738
can you reproduce this issue without electron? if not, I'm not sure what to say any further about this issue.

[2019-09-11 01:53] jackmerrill commented on #1738
Not really, I'm importing modules within the HTML file so that is almost impossible.

[2019-09-11 09:57] thijstriemstra commented on #1244
it's an opensource project, when there's a fix, there's a fix, if you can help, please do. Don't spam the ticket with things like 'up', thanks.

[2019-09-11 13:58] Athospd opened #1740 "R interface for WaveSurver.js"
I was trying contact directly @katspaugh but I wasn't able to find any way of contact. And I insecure about that here is the right place to discuss it. What I would like to present him is the wavesurfer api for R that I've made.

https://github.com/athospd/wavesurfer

I the main issue is about license and tell if this has the proper references.
Please any responsible for the project contact me. Fe

[2019-09-12 02:22] TrevorHinesley commented on #1382
Is the `wavesurfer.getCurrentTime()` returning the wrong time, or is the playhead on the waveform at the wrong spot? I'm building something that needs to work with long files (up to a couple hours) as well, so both of these things are really important.

In other words, is the time being returned by `wavesurfer.getCurrentTime()` actually changing at a rate that's not consistent with the specified p

[2019-09-14 02:59] huanle0610 commented on #1626
@vvvhung sorry, I forgot to explain that the region plugin in codepen demo is a specail version built from my fork(mentioned in my first issue comment).  After u said it didn't work last time, I only ajusted approx threshold. So if someone use region plugin from npm like me, are most vulnerable to this issue.  I'll try to crate a PR, it may helps.

[2019-09-17 10:32] Honghe opened #1745 "Plugin elan-wave-segment.js is missing"
### Wavesurfer.js version(s):
3.0.0

### Browser and operating system version(s):
Chrome 77

### Use behaviour needed to reproduce the issue:
Run example `example/elan-wave-segment`

![image](https://user-images.githubusercontent.com/1092722/65034029-d25b1c00-d978-11e9-89f7-34aa218c0b8d.png)

[2019-09-18 19:02] thijstriemstra commented on #1727
no feedback, closing.

[2019-09-18 19:02] #1727 closed

[2019-09-18 19:02] thijstriemstra commented on #1718
no feedback, closing.

[2019-09-18 19:02] #1718 closed

[2019-09-18 19:03] thijstriemstra commented on #1723
you're using a minified wavesurfer.js:

[code]

can you try with the regular version @willwsharp?

[2019-09-18 19:05] thijstriemstra commented on #1703
so this is a bug @aburai?

[2019-09-18 19:34] willwsharp commented on #1723
Unfortunately this was for a company that I no longer work for so I am unable to provide more troubleshooting.

[2019-09-19 14:23] Honghe commented on #1260
I create a basic region operation Demo for audio annotation based on built in Region plugin.
But it only meets some of my needs now. May I ask @frumbert have you developed your prototype, I am excited about your plugin.

![Peek 2019-09-19 22-14](https://user-images.githubusercontent.com/1092722/65252703-04f94600-db2c-11e9-9e0b-259f085d0bea.gif)

[2019-09-19 14:49] KerryTucker commented on #1666
when fix this it goes away from spectrogram position fixed is not working

[2019-09-19 22:47] thijstriemstra commented on #1735
the waveform is rendered on a canvas element, you can modify that: wavesurfer.drawer.canvases array.

[2019-09-19 23:46] lionel-lints commented on #1735
OK I will check it out, thanks for the pointer.

[2019-09-21 20:02] theprometeus commented on #1738
I'm having the same problem when I call **updateSize()**
The element went blank and I need to call **drawBuffer()** to redraw it

[2019-09-24 16:17] yairopro commented on #1150
Hi @thijstriemstra
Is there a way to get the current pxPerSec ?

[2019-09-24 20:12] aburai commented on #1703
i think so, but i can test this only in my configuration
i have removed this part and it works for me, maybe someone else can check this
[code]

[2019-09-25 13:50] lauradP opened #1747 "Strange behaviour when executing seekAndCenter(1) twice"
Hello everybody,
I'm facing a strange issue with the seekAndCenter function. I have this javascript function:

  $scope.mySeekAndCenter = function (par) {
                console.log("initial duration: " + $scope.wavesurfer.getDuration());
                $scope.wavesurfer.seekTo(par);
                console.log("new position: " + $scope.wavesurfer.getDuration());
                console.log("new

[2019-09-25 22:37] thijstriemstra commented on #1747
what browser/operating system, version of wavesurfer.js?

[2019-09-25 23:17] #1626 closed

[2019-09-25 23:27] thijstriemstra commented on #1724
no feedback, closing.

[2019-09-25 23:27] #1724 closed

[2019-09-25 23:34] thijstriemstra commented on #1707
there is no global `loop` option for the regions plugin, that `loop` option only applies to single regions. After testing with latest master (upcoming 3.1.0 release) this seems fixed.

[2019-09-25 23:34] #1707 closed

[2019-09-25 23:37] thijstriemstra commented on #1683
I can't reproduce this with v3.0.0 @klodoma (that the website also uses atm).

[2019-09-25 23:39] thijstriemstra commented on #1661
no feedback, closing.

[2019-09-25 23:39] #1661 closed

[2019-09-25 23:40] thijstriemstra commented on #1453
some accuracy adjustments to regions plugin will be included in v3.1.0

[2019-09-25 23:42] #1731 closed

[2019-09-25 23:42] #1735 closed

[2019-09-26 05:55] lauradP commented on #1747
Hi!
I'm using wavesurfer version 3.0.
The test browser is Google Chrome running on Windows 10.

Laura

[2019-09-26 06:20] gocubetech opened #1750 "I am getting a gap between the cursor and my mouse position in waveform.how to coincide both postion."

[2019-09-26 06:56] virtualflo commented on #1453
@thijstriemstra great news! Thanks for the update. When do you plan to deploy the v3.1.0?

[2019-09-26 12:57] thijstriemstra commented on #1750
can you add a screenshot? what does the wavesurfer.js config look like?

[2019-09-26 12:58] thijstriemstra commented on #1453
@virtualflo see #1751

[2019-09-26 19:13] kaibrune opened #1752 "How autoplay a playlist?"
### Wavesurfer.js version(s):

### Browser and operating system version(s):
Chrome, Windows

### Code needed to reproduce the issue:

[code]

(Please reduce your code as much as possible and only post the minimum code needed to reproduce the issue. [A Code pen](http://codepen.io/) is an excellent way to share such code)

### Use behaviour needed to reproduce the issue:

So if I want to autoplay a

[2019-09-27 04:57] gocubetech commented on #1750
![cursor gap](https://user-images.githubusercontent.com/46589776/65743222-4e8bf700-e111-11e9-9610-bc0301b63973.png)

There is a gap between cursor and mouse cursor .

[2019-09-27 05:43] kavishatalsania commented on #1497
I am able to mute channel for the stereo audio file with backend 'WebAudio'. But If I wanted to use backend 'MediaElement', then how can I mute left or right channel as with 'MediaElement' I can not use the setFilter method.

Can someone please help me?

[2019-09-27 05:57] kavishatalsania commented on #9
Does anyone found a solution for this? I am also facing the same issue.

[2019-09-27 06:59] gocubetech opened #1753 "I want to show some message as progress scroll moves.The message should be on progress scroll only."
# Hey, thank you for testing and contributing to wavesurfer.js!

## Please make sure you can check all of these points below before opening an issue:

(You don't have to post this section)

- [x] I have checked [the FAQ](https://wavesurfer-js.org/faq/) and it doesn't solve my problem.
- [ ] I have checked [the documentation](https://wavesurfer-js.org/docs/) and it doesn't solve my problem
- [x] I

[2019-09-27 09:16] mauryanm commented on #1497
I want to same thing on backend 'MediaElement'  and also need to Amplify audio in selected region.
Can anyone help me?

[2019-09-27 14:15] Fiorello opened #1754 "Force rendering of minimap"
### Wavesurfer.js version(s):
2.2.0

### Browser and operating system version(s):
Chrome on macos Mojave

Hi,
i need to change barHeight dynamically, but when i do it the minimap doesn't render again.
This is my code:

[code]
Even if I'm calling the minimap render method, nothing happens.
How can i force render of minimap?

[2019-09-27 22:19] thijstriemstra commented on #1750
try changing the `cursorWidth` and `responsive` options.

[2019-09-28 23:47] thijstriemstra commented on #1752
ping @entonbiba

[2019-09-28 23:49] thijstriemstra commented on #1753
Please open tickets with a full description.

[2019-09-28 23:49] #1753 closed

[2019-09-30 03:55] adjkldd commented on #1703
emmm. I get the same problem. In a word, one `toggleMute`, two `mute` event happen. And somehow the second 'mute' event set `isMuted` to `false`. Below is the reproducing link.

https://codepen.io/ldd/pen/vYBwPXz

[2019-09-30 04:34] gocubetech commented on #1750
I have changed the cursorwidth,its only increasing the progress cursor width but not reducing the gap between two.Making Responsive true also has not affected the gap

[2019-09-30 05:45] gocubetech opened #1755 "Can i show some message on the bar of waveform"

[2019-09-30 14:21] Rijk commented on #953
Can this be merged in the library?

[2019-09-30 14:24] thijstriemstra commented on #953
@Rijk can you make a pull request so it can be merged?

[2019-09-30 14:26] Rijk commented on #953
Sorry, thought this was an open PR.

[2019-09-30 15:03] kubk commented on #953
@Rijk @thijstriemstra Will create a PR in the next few days with these changes: https://github.com/katspaugh/wavesurfer.js/issues/953#issuecomment-517068622

[2019-09-30 16:31] thijstriemstra commented on #1755
can you be more specific, add a screenshot?

[2019-10-01 11:29] gocubetech commented on #1755
![bar message](https://user-images.githubusercontent.com/46589776/65958314-b7a2a000-e46c-11e9-9330-5c44c67ebee1.png)

Something like this ,At a particular bar show that message

[2019-10-01 20:20] diegoiglesias opened #1757 "png instead of JSON"
Is it possible to use png images instead of JSON data to render waveforms?

I'm having problems rendering large JSON strings on the browser, so I guess it'll be more convenient to place images and avoid the issues.

Thanks

[2019-10-02 15:04] thijstriemstra commented on #1703
we can add you to the repository collaborators @aburai cc @katspaugh

[2019-10-02 15:56] aburai commented on #1703
I would gladly do anything to help.

[2019-10-02 16:26] qbunt opened #1758 "Unable to load audio from video tag"
# Hey, thank you for testing and contributing to wavesurfer.js!

## Please make sure you can check all of these points below before opening an issue:

(You don't have to post this section)

- [X] I have checked [the FAQ](https://wavesurfer-js.org/faq/) and it doesn't solve my problem.
- [X] I have checked [the documentation](https://wavesurfer-js.org/docs/) and it doesn't solve my problem
- [X] I

[2019-10-02 16:39] katspaugh commented on #1703
Cool, added! Wilkommen im Team, André! 🙂

[2019-10-02 16:41] aburai commented on #1757
sounds not easy, but possible
i do not know an existing solution for this, so i think you must do it on your own

let us come back to your problem with rendering large JSON strings,
what exactly is the problem?
i think, if we search for a solution, then how to handle large sets of peaks,
if the current solution is not good enough

[2019-10-02 16:42] aburai commented on #1703
Danke.

[2019-10-02 16:58] aburai commented on #1758
i don't see that the code from the docs work, the first parameter from load will be used as source
the url that is created is `https://cdpn.io/boomboom/v2/[object%20HTMLVideoElement]`

try `wavesurfer.loadElt(mediaEl)`

[2019-10-02 18:34] qbunt commented on #1758
I just see:
[code]
Am I missing something?

[2019-10-02 18:37] qbunt commented on #1758
@aburai for what it's worth, everything I've tried with audio feedback in the current version of chrome outputs this:
```webaudio.js:76 The AudioContext was not allowed to start. It must be resumed (or created) after a user gesture on the page. https://goo.gl/7K7WLu```
Possible there was a change in policy that is preventing playback.

[2019-10-02 19:07] qbunt commented on #1758
I have `<source>` as an extra element underneath video as the spec allows for. If I adhere to this to allow for multiple sources, then I get the above failure. If the `src` attribute is attached to the `<video>` tag itself, it does work correctly after the audio context is defined.

[2019-10-02 19:16] aburai commented on #1758
sorry it is `wavesurfer.backend.loadElt`
and you must use the promise from play to handle os restrictions
see https://developer.mozilla.org/en-US/docs/Web/API/HTMLMediaElement/play

when media has src everythings works well
the above problem was because you uses the video element and the load method
sets the element to src which could not work
`loadElt` skips this part and directly use the media e

[2019-10-02 19:23] aburai commented on #1758
i look deeper in the code and in the example, `loadElt` does not what you want
your play directs to `loadMediaElement` and this method already check if the argument
is a string (url) or a media element and uses `backend.loadElt)`

i think we must add support for source tags there

[2019-10-02 19:36] aburai commented on #1750
i can not reproduce this, maybe you can create code to test
 [A Code pen](http://codepen.io/)  or test github repository

[2019-10-02 19:55] aburai commented on #1150
have a look at https://github.com/katspaugh/wavesurfer.js/blob/8ba3328102da9746ce1fd390c0801f01edaaf612/src/plugin/timeline.js#L365 -374
Hope that helps

[2019-10-03 05:16] kavishatalsania opened #1759 "Super expression must either be null or a function while loading wavesurfer"
After upgrading to latest version 3.1.0 of wavesurfer. below error is coming while loading wavesurfer.js file.

[code]
It was working correctly for older version 3.0.0

[2019-10-03 05:27] kavishatalsania commented on #1750
I've also faced this issue. I am able to solve it with some CSS changes. Try to give position: relative; CSS to your wavesurfer container and remove margins.

[2019-10-03 05:56] kavishatalsania commented on #1418
Try this:

this.splitter = this.wavesurfer.backend.ac.createChannelSplitter(2);
this.merger = this.wavesurfer.backend.ac.createChannelMerger(2);
this.leftGain = this.wavesurfer.backend.ac.createGain();
this.rightGain = this.wavesurfer.backend.ac.createGain()
this.splitter.connect(this.leftGain, 0);
this.splitter.connect(this.rightGain, 1);
this.leftGain.connect(this.merger, 0, 0);
this.rightGain.c

[2019-10-03 15:09] yairopro commented on #1150
Thanks !

[2019-10-03 16:13] qbunt commented on #1758
@aburai Do you know off-hand if the spectrogram plugin will load video as an audio element properly? I have the waveform working, the spectrogram plugin is throwing an error because it would appear that the backend (of `MediaElement` type`) does not have a buffer attached to the instance.

[code]

Which leads to:
[code]

After setting some breakpoints, it looks like `buffer`, `this.buffer` and `th

[2019-10-04 07:14] mahish opened #1761 "Does not work in Edge at all"
![obrazek](https://user-images.githubusercontent.com/3687943/66187365-ea26e580-e684-11e9-8868-c43da30d7ecc.png)

### Wavesurfer.js version(s):
v3.1.0

### Browser and operating system version(s):
Edge 18, Windows 10

### Code needed to reproduce the issue:
Go to https://wavesurfer-js.org/ in Edge

### Use behaviour needed to reproduce the issue:
Check the player in the header and try to play it. N

[2019-10-04 12:12] marizuccara opened #1763 "Load big audio files with WebAudio backend and MediaElementAudioSourceNode"
I tried to load an audio file with a duration of three hours, but the browser crashes because internally the library uses AudioBuffer to decode the audio data and AudioBuffer can not be used with huge files. An only solution that i found is to load the file with MediaElement backend, but i know that this backend handle the audio resource without Api Web Audio, so i will lost all my functionalities

[2019-10-04 12:58] pmgrace commented on #1728
I've been trying various values as well as `wavesurfer.backend.getPeaks()` but nothing is working for and I've got back to v2.0.5 and still not working. Is there someone that can help with this, we're willing to pay for any one to help get this working for us and to help get our player working much faster.

[2019-10-05 13:23] Reached opened #1764 "Possible to double-click on a point outside a region?"
First of all, just want to say that Wavesurfer is amazing, so thank you for creating it!

### Wavesurfer.js version(s):
3.1.0

### Browser and operating system version(s):
Chrome

[code]

So I found the above here on Github, and that works fine. However is it possible to do `dblclick` somehow instead? It would be pretty slick e.g. for adding comments where dragging to create a region does not make

[2019-10-05 14:22] aburai commented on #1758
sorry no, i'd have to take a closer look.

[2019-10-05 14:25] aburai commented on #1750
i think we should add this to the FAQ, position: relative is very important for wavesurfer to work

[2019-10-05 14:52] aburai commented on #1728
@pmgrace
it is a timing issue, i can reproduce this with the zoom example, when i use
[code]
i get the pcm data returned

i will try to find a fix, maybe this can help as a hotfix

[2019-10-05 14:52] Reached commented on #1764
@aburai that looks slick! Thank you so much !

[2019-10-05 14:56] aburai commented on #1728
@pmgrace do you use `backend: 'MediaElement'` then try `wavesurfer.on('waveform-ready', () => {})`

[2019-10-05 15:01] pmgrace commented on #1728
I will try this out.

Yes I do use MediaElement, will also try this out.

[2019-10-05 15:16] pmgrace commented on #1728
Tested this one first and I now get the pcm data! Finally I can start working on the next part of doing something with this and loading tracks quicker :)

THANK YOU @aburai :)

[2019-10-05 17:15] thijstriemstra commented on #1728
Instead of closing this issue, is there something we can do here to improve the situation?

[2019-10-05 17:33] aburai commented on #1728
maybe something for the FAQ section

[2019-10-05 19:01] aburai commented on #1754
@Fiorello minimap has it own params, set barHeight there too
`this.wavesurfer.minimap.params.barWidth = preAmp || 1`

[2019-10-06 10:38] hrkazemi commented on #1759
I had the same problem,
use
const WaveSurfer = require('wavesurfer.js/dist/wavesurfer');
instead of
import WaveSurfer from 'wavesurfer.js';
and make sure load from "dist" folder not "src".
hope it help.

[2019-10-06 11:58] thijstriemstra commented on #1761
that's weird because Edge has WebAudio support right: https://blogs.windows.com/msedgedev/2015/05/19/bringing-web-audio-to-microsoft-edge-for-interoperable-gaming-and-enthusiast-media/

[2019-10-06 11:59] thijstriemstra commented on #1759
@kavishatalsania can you add some example code that reproduces the problem?

[2019-10-06 11:59] thijstriemstra commented on #1763
Sounds like a good idea, can you make a pull request?

[2019-10-06 12:12] thijstriemstra commented on #1728
can we not fix the timing issue? maybe make it async

[2019-10-06 12:20] #953 closed

[2019-10-06 12:24] #1764 closed

[2019-10-06 12:33] thijstriemstra commented on #1722
cc @kubk

[2019-10-07 07:22] Fiorello commented on #1754
It works, thank you @aburai

[2019-10-07 07:22] #1754 closed

[2019-10-07 09:18] Ramya-22 commented on #1727
Hi @aburai

https://github.com/katspaugh/wavesurfer.js/issues/1727#issuecomment-526582445

this idea also fails.

cc - @thijstriemstra @katspaugh

[2019-10-07 11:07] ghost opened #1766 "How to draw waveform using range URI params"
Hi @aburai ,

I want to draw waveform using start and end value in the original audio source.

It's possible ?

cc - @katspaugh

[2019-10-07 13:04] marizuccara commented on #1763
Done! I've commented in my request my changes.

[2019-10-07 15:54] pmgrace opened #1768 "Loading pre-rendered peaks display issue?"
Help please, what causes this to happen with pre-rendered peaks?

![image](https://user-images.githubusercontent.com/2545456/66327585-f9c35a00-e922-11e9-90f5-72ae2995bcc6.png)

[2019-10-07 19:21] rhaamo commented on #1759
@thijstriemstra I'm running into that same error too, but surprisingly it seems to only appears when I run the unit tests, build and serve run fine.

And the traceback doesn't seems very much helpful https://circleci.com/gh/reel2bits/reel2bits/5064

the units fails either under node LTS or 12.x, wavesurfer 3.0.0 wasn't producing any error

[2019-10-08 05:15] TibaZaki opened #1769 "waveform is not showing"
Hi, please I am struggling to get the wave be displayed. The container is not hidden and the version is  1.0.52. Please any suggestion will be appreciated.
`<!DOCTYPE html>
<html>
    <head>

         <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js'></script>
         <script type="text/javascript" src='http://cdnjs.cloudflare.com/ajax/libs/wav

[2019-10-08 07:53] aburai commented on #1768
data is not normalized, use the wavesurfer option or make sure the peaks are between -1 and 1

[2019-10-08 08:19] pmgrace commented on #1768
@aburai Setting `normalize: true` results in no waveform shown at all when loaded with peaks. Confirmed, peaks are between -1 and 1.

I'm using the following command to create the peaks:
`var pcmData = '[' + wavesurfer.backend.getPeaks(500, 0, 500) + ']';`

[2019-10-08 09:47] aburai commented on #1768
ok, was my first guess
i don't know why you convert the peaks to string, but without more code i have no idea

[2019-10-08 10:33] thijstriemstra commented on #1769
1.0.52 is very very old and not supported anymore. Please update to 3.1.0.

[2019-10-08 10:33] #1769 closed

[2019-10-08 13:32] mahish commented on #1761
@thijstriemstra … can you confirm the bug? I tested on two different Windows computers (same spec tho).

[2019-10-08 15:10] TibaZaki commented on #1769
ok Thanks, I changed it but still the wave is not showing.

[2019-10-08 23:04] pmgrace commented on #1768
@aburai Thank you - The issue was because it was being stored as a string and not an object, I hadn't realised this would have affected it. I was putting the peaks in to `pcmData` to then ajax them into a mySQL database to be stored with the specific track. When retrieving the peaks I just had to do `JSON.parse(pcm)` and it displayed correctly.

Would it be more efficient to store the peaks data i

[2019-10-09 01:46] adjkldd commented on #1703
It indeed fixes my problem after I comment the code.
[code]

[2019-10-09 05:09] kavishatalsania commented on #1759
@thijstriemstra I've just imported the wavesurfer and created the instance of it.

import WaveSurfer from 'wavesurfer.js';

wavesurfer = WaveSurfer.create({
    container: '#waveform',
    waveColor: 'violet',
    progressColor: 'purple'
});

I am using wavesurfer in my angular project. When I serve my application in local, it works fine. But when I create build and deployed it on server then it i

[2019-10-09 07:30] kubk commented on #1722
Hi @alisajidcs , you can hook into `setFillStyles` to override bar colors separately: https://github.com/katspaugh/wavesurfer.js/blob/9f1ed9064ea86e736cc9d4051ffe0a2bfb4d74b3/src/drawer.canvasentry.js#L141

This method is called for each bar. Let me know if you need more details.

[2019-10-09 07:42] hrkazemi commented on #1759
@kavishatalsania did you try
const WaveSurfer = require('wavesurfer.js/dist/wavesurfer');
instead of
import WaveSurfer from 'wavesurfer.js';

[2019-10-09 07:59] aburai commented on #1768
more efficient, maybe not, but it is my favorite way to store the peaks
i use audiowaveform on the server side to create the peaks and other audio metadata

[2019-10-09 08:44] aburai commented on #1759
`const WaveSurfer = require('wavesurfer.js/dist/wavesurfer')` solves the problem for me

[2019-10-09 08:49] aburai commented on #1769
are you sure you load the correct file and the file is available? maybe `samplemp3.mp3` ;)
any console messages?

[2019-10-09 09:40] rhaamo commented on #1759
but isn't `require()` going to sort of bypass webpack magic vs `import` ? Which could explain why it works with require and not import.

[2019-10-09 10:32] thijstriemstra commented on #1759
can you try building the latest master branch @kavishatalsania and @hrkazemi and see if that fixes it? it's probably related to webpack-terser-plugin (which released a new version) I think.

[2019-10-09 10:46] thijstriemstra commented on #1766
Not sure what you mean..

[2019-10-09 12:31] katspaugh commented on #1766
I guess @Ramya-22 means the [range URI params](https://developer.mozilla.org/en-US/docs/Web/Guide/Audio_and_video_delivery#Specifying_playback_range).

[2019-10-09 14:43] hrkazemi commented on #1759
@thijstriemstra, I did installed wavesurfer.js latest version; the problem still exists.

[2019-10-09 15:05] calgarc opened #1770 "pureDrive"
Hello, I am currently working on an opensource cloud storage platform and I am using wavesurfer.js for audio payback. you can see the project here at http://puredrive.org

I also wanted to note that wavesurfer takes forever to load and create the waveform. is there a way to set it up s it creates the form then buffers the audio?

[2019-10-09 15:25] thijstriemstra commented on #1759
you mean checkout the master branch and build library from source?

[2019-10-09 15:58] hrkazemi commented on #1759
no, I just removed wavesurfer.js from node_module and installed it with "npm i wavesurfer.js@latest".

[2019-10-09 16:13] thijstriemstra commented on #1759
try checkout, build from source and copy resulting `dist` folder into `node_modules/wavesurfer.js`

[2019-10-09 20:52] trevasco commented on #1761
not working in Edge confirmed

[2019-10-10 01:11] TibaZaki commented on #1769
Yes the file is available.
I found that the wave form is not displayed on Firefox Quantum 69.0.1 (64-bit), but it is displayed in Microsoft Edge 44.18362.387.0.

[2019-10-10 01:21] TrevorHinesley commented on #1763
Will this also fix sync offset/drift on long files?

[2019-10-10 01:34] TrevorHinesley commented on #1763
Also, does using MediaElementAudioSourceNode load the file in chunks, or does it load the entire file like WebAudio typically does?

[2019-10-10 07:44] aburai commented on #1759
maybe we must change `main` definition in package.json and do not use the minified version
i have no time currently to test it

[2019-10-10 11:17] Madhukanth opened #1771 "Unable to get property 'toLowerCase' of undefined or null reference in IE"
I tried to load wavesurfer in IE11 and I got this issue.However it is working fine in chrome.

My code is

[code]
In IE11, I am getting this error.

May be I am missing something.

[2019-10-10 13:54] marizuccara commented on #1763
It loads the file from server in the same way as the MediaElement backend does. Since this Source Node wants an HTML5 tag, the audio is loaded like audio tags are loaded, requesting it in ranges from server.
In this way you can load also big audio files, because it internally does not decode the audio. You have to pass also peaks, so the waveform can be drawn without decoding.

[2019-10-10 15:48] thijstriemstra commented on #1759
sounds good @aburai. see https://docs.npmjs.com/files/package.json#main

[2019-10-10 16:44] thijstriemstra commented on #1771
can you paste the complete error (or screenshot)?

[2019-10-11 10:17] Ramya-22 commented on #1766
@katspaugh Thanks for your time,

I need an update of the above you mentioned range URI params.

[code]
REF -
![2019-10-11_15-46-36](https://user-images.githubusercontent.com/42537872/66644317-48803500-ec3e-11e9-8e76-446fc9a2285b.png)

Thanks in advance.

[2019-10-11 10:28] kavishatalsania commented on #465
@katspaugh How can we prerender peaks with WebAudio?

Please Help me!

[2019-10-11 12:12] thijstriemstra commented on #1771
Confirmed issue.

[2019-10-11 13:23] Madhukanth commented on #1771
![003865](https://user-images.githubusercontent.com/20109264/66654672-635fa300-ec58-11e9-8ae6-f72394fafeb5.jpg)

[2019-10-11 14:40] thijstriemstra opened #1773 "Calling load() without arguments throws error"
calling `wavesurfer.load()` without params should not throw an error:

[code]

Error
[code]

[2019-10-11 15:53] #1773 closed

[2019-10-12 15:46] #1759 closed

[2019-10-12 17:03] thijstriemstra commented on #1770
@calgarc please add it to the list here: https://github.com/katspaugh/wavesurfer.js/edit/gh-pages/projects/index.html and submit it as a pull request.

[2019-10-13 15:28] lauradP commented on #1747
Hi!
Are there any updates about this issue?

[2019-10-16 11:25] Madhukanth commented on #1771
Any fix on this issue??

[2019-10-16 11:27] thijstriemstra commented on #1771
did you pay anyone to fix it?

[2019-10-16 11:28] Madhukanth commented on #1771
I didnt get you

[2019-10-16 11:39] Madhukanth commented on #1771
Do someone need pay to fix it??

[2019-10-16 11:58] thijstriemstra commented on #1771
it's an opensource project, it's fixed when someone fixes it, unless you pay someone to fix it for you.

[2019-10-16 13:32] Madhukanth commented on #1771
I see...ok thanks

[2019-10-17 06:58] kavishatalsania opened #1777 "Unable to mute left/right channel in stereo audio file with backend 'MediaElement'"
Hi,

I am not able to mute one channel with the 'MediaElement' backend.

I am able to mute the channel with 'WebAudio' backend using the below code.

const splitter = wavesurfer.backend.ac.createChannelSplitter(2);
const merger = wavesurfer.backend.ac.createChannelMerger(2);
this.leftGain = wavesurfer.backend.ac.createGain();
this.rightGain = wavesurfer.backend.ac.createGain();
splitter.connect(th

[2019-10-17 10:32] thijstriemstra commented on #1777
@kavishatalsania you should try the new `MediaElementWebAudio` backend, see #1767

[2019-10-17 13:01] kavishatalsania commented on #1777
@thijstriemstra I've cloned master branch. But it does not contain the latest changes. Which branch has latest MediaElementWebAudio backend changes?

[2019-10-17 13:56] thijstriemstra commented on #1777
it's not in a project branch, it's still a PR, see https://github.com/marizuccara/wavesurfer.js master branch

[2019-10-17 13:57] thijstriemstra commented on #1777
if you have any feedback, leave comments in the pull request #1767

[2019-10-18 10:14] #1768 closed

[2019-10-18 20:34] #1763 closed

[2019-10-19 18:42] Bopser commented on #1761
Confirmed.Found following Error in Edge;
Microsoft Edge 44.18362.387.0
Microsoft EdgeHTML 18.18362

Tree on pic not full expanded !

![Error_Edge](https://user-images.githubusercontent.com/30476325/67149858-cbddfe00-f2b0-11e9-839e-78d0530cef3a.png)

[2019-10-19 19:18] Bopser commented on #1761
supplement to the previous entry:
used:
    <script src="https://unpkg.com/wavesurfer.js/dist/wavesurfer.min.js"></script>
Error Pic is from my site in which i used code parts from the following playlist example :

https://wavesurfer-js.org/example/playlist/index.html

I just tried the original playlist example in Edge. This one doesn't work either.

[2019-10-21 08:38] liujinliang01 opened #1779 "region.playLoop() and region.play() do not get the right start or end time"
Hi Everyone,

I must first thank katspaugh for creating and sharing wavesurfer.js, and other contributors.

I am having problem with the region plugin. When I drag to create a region, its start time is 0 (the beginning of the whole audio file) and the end time is end of the whole file, not the beginning and end of the region.

I am testing an mp3 file that lasts 19 minutes on Win10, Firefox.

I so

[2019-10-21 10:57] thijstriemstra commented on #1779
what version of wavesurfer? what operating system/browser etc

[2019-10-21 13:52] liujinliang01 commented on #1779
Hello Thijs and Katspaugh,

What a pleasant surprise to receive your reply! I recognise you as the masterminds behind the wonderful wavesurfer.js. I am honoured and thank you very much.

Here are my settings:

1. I am using Win10 professional; Firefox 69.0.3, 32bit
2. Version of  wavesurfer is 3.1 which I downloaded from the unpkg.com link in the webpage shown below.

I downloaded it on 20/10/2019

[2019-10-22 10:43] jimhucksly commented on #1693
I have the same problem. Waiting to resolve!

[2019-10-22 10:59] MacedonianPepper commented on #1693
wavesurfer.js file:
![image](https://user-images.githubusercontent.com/24991543/67279624-0b386480-f4d4-11e9-8894-3a6d07f1a242.png)

[2019-10-22 13:02] jimhucksly commented on #1693
@thijstriemstra I would be happy if you fix this issue early as possible

[2019-10-22 13:08] jimhucksly commented on #1693
@MacedonianPepper Thanks! Your fix resolving this bug

[2019-10-22 15:41] thijstriemstra commented on #1693
thanks @MacedonianPepper, can you make a pull request? I guess we would introduce a new option for this feature?

[2019-10-22 17:22] thijstriemstra commented on #1777
fixed with #1767

[2019-10-22 17:22] #1777 closed

[2019-10-22 20:32] ibcs01 opened #1780 "Sync with playing audio element"
We are using Vue and we placed the audio element in the background so it keeps playing while browsing the site. When we return to the initial page from which the playback was started, we would like to reconnect WaveSurfer to the sound as if you never left the page. Hence showing the player in an active state with an active progress bar at the exact position of the playing file at that moment.

We

[2019-10-23 13:01] thijstriemstra commented on #1780
looks like a duplicate of #1766?

[2019-10-23 16:45] thijstriemstra commented on #1780
what does your current wavesurfer config look like?

[2019-10-23 22:07] thijstriemstra commented on #1771
After fixing that error (and adding the polyfills):

[code]

there was still a vague error, not sure what's going on.

[2019-10-23 22:09] ibcs01 commented on #1780
See the code snippet below. We load the waveform first without loading the audio file. When clicking the play button; startPlaying() is called and loads the file to an existing audio element. And there lays our issue; the sound is stopped when calling wavesurfer.load(elemAudio, peaks, false, duration). What we are looking for is a solution to hook to the playing sound without stopping it.

`// Ini

[2019-10-23 22:53] thijstriemstra commented on #1780
@ibcs01 there's a `media.load()` call in the `MediaElement` backend. Try commenting that out because it supposed to reset everything..

[2019-10-24 11:31] ibcs01 commented on #1780
Tested that and it does not solve the problem.

It turns out that `_load(media, peaks)` in mediaelement.js also calls `media.load()` (line 131).

In the comment it says that peaks wont load if its not called. But that does not count in case of pre-rendered peaks i guess? So it might be an idea to make media.load that line optional?

[2019-10-24 11:34] thijstriemstra commented on #1780
That's what I meant, yeah.

If it improves things (or you), sure, sounds good.

[2019-10-24 12:11] ibcs01 commented on #1780
I will first test if it solves my problem. I will report back later.
Thanks!

[2019-10-24 20:04] GigaMick opened #1784 "Pre render peaks with PHP / Laravel"
Is there a way to create the JSON peak data using php / Laravel?

All the packages I can find generate PNG files and not JSON data.

Thanks

[2019-10-25 09:59] thijstriemstra commented on #1784
use `audiowaveform` tool, see https://wavesurfer-js.org/faq/

[2019-10-25 09:59] #1784 closed

[2019-10-25 20:03] taironemagalhaes opened #1786 "Problem with wavesurfer.play(start, end)"
I found a bug in the method `wavesurfer.play(startTime, endTime)` that happens whenever I call it passing the two input arguments. I noticed that each time this method is called, the playhead moves a little bit further towards the end of the file. It is just a few milliseconds, but this can be a big issue for those dealing with precision audio annotation. To identify the issue, you will probably n

[2019-10-25 21:22] StudentSA opened #1787 "scale-json.py Issue"
Good Day,

On your FAQ section you share some python code (scale-json.py) which I have found to be problematic, especially for larger mp3 files.

When using this command the fractional-parts of the original data is enlarged:
`new_data.append(x/max_val)`
i.e. for a value of 2.5 when we divide the max value of say 3 we now get "0.8333333333333334"

The reason for using precomputed peaks is to improv

[2019-10-26 21:24] musicnotify opened #1788 "question, reuse wavesurfer object saved in array on a new div container"
### Wavesurfer.js version(s):
3.2.0
### Browser and operating system version(s):
OSX, Firefox, Safari

Hello,

Is it possible to reuse a wavesurfer object saved in an array on a new div (container)?
I got the audio working but I can't seem to redraw the waveform without doing a new WaveSurfer.create which then reloads all the audio files from the server as well.
Not sure if I'm doing this right or

[2019-10-27 20:55] thijstriemstra commented on #1787
thanks for the report, #1789 fixes this.

[2019-10-28 11:05] Reached commented on #1784
Yea as @thijstriemstra points out, you can use the audiowaveform tool (it's a cmd tool) and then run that from an artisan command :)

[2019-10-28 15:17] #1787 closed

[2019-10-28 15:19] thijstriemstra commented on #1737
@lisashen still an issue with v3.2.0?

[2019-10-29 04:18] abrahamian commented on #1780
This is a duplicate of my issue #1704. I pushed some changes to the code in my fork, which is linked in that issue's discussion. Please see if it works for your use case.

[2019-10-29 08:55] liujinliang01 opened #1791 "ReferenceError: WaveSurfer is not defined"
Hello,

I have noticed that a new version of wavesurfer.js has appeared in the src folder of github, so I downloaded it and started using it. But I get an error.

Error message in Firefox Console: ReferenceError: WaveSurfer is not defined

Code to produce the error:
[code]
Operating System: Win10 Prof.
Browser: FireFox 70.0 32bit

Any help is appreciated.
best regards

Jim

[2019-10-29 11:30] thijstriemstra commented on #1791
hi Jim, you should download the latest release (https://github.com/katspaugh/wavesurfer.js/archive/3.2.0.zip), unpack it and follow these instructions to create a proper `wavesurfer.js` file: https://github.com/katspaugh/wavesurfer.js#development

[code]

or use a CDN like unpckg or cdnjs.

[2019-10-29 11:30] #1791 closed

[2019-10-29 20:47] musicnotify commented on #1788
I think I found my solution… using the HLS JS streaming library, feeding it's progress directly to the the drawing.progress function in wavesurfer and using only the preloaded json peaks.

[2019-10-29 20:47] #1788 closed

[2019-10-30 13:34] mirkonasato opened #1792 "Setting fillParent: false displays extra "silence" at the end of the waveform"
Setting `fillParent: false` results in a waveform that shows some extra "silence" at the end, and when playing the cursor does not appear to be in sync with the waveform. Towards the end of the audio the cursor is over a flat line, but you can still hear sound.

### Wavesurfer.js version(s):
3.2.0

### Browser and operating system version(s):
Latest Chrome (78.0) and Firefox (70.0) on macOS at lea

[2019-10-31 04:52] liujinliang01 commented on #1791
Hi Thijs,
I followed your instructions and now wavesurfer.js-3.2.0 is working.
Thank you very much.
best regards
Jim

At 2019-10-29 19:30:31, "Thijs Triemstra" <notifications@github.com> wrote:

hi Jim, you should download the latest release (https://github.com/katspaugh/wavesurfer.js/archive/3.2.0.zip), unpack it and follow these instructions to create a proper wavesurfer.js file: https://github.

[2019-10-31 05:23] liujinliang01 commented on #1779
Thank you aburai very much for your great help.
I followed you advice and I can get the right start and end time of a region now.
But the shaded rectangular area of a region is not shown and loop does not work.  Instead, once a region is created by dragging, the playhead goes to the start place all right and plays till the end of the region alright, but it stops there without looping, and without

[2019-10-31 07:21] liujinliang01 commented on #1779
Update on my above post:
I have downloaded and started using the regions.min.js file from https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.regions.min.js
which is  wavesurfer.js regions plugin 3.2.0 (2019-10-25).
With this latest version, I have realized that now it is no longer the case that the wavesurfer.regions.clear() will keep the most recently created region. When I remove the  wavesu

[2019-10-31 07:36] liujinliang01 commented on #1779
Hello André,

Thank you very much for your help with my region plugin problem. Your advice to listen on region-update-end
instead of "region-created" worked.

But I still cannot achieve what I need - when a user drags to create a region, other regions are cleared and only the one just created is shown, and the region is loop played endlessly until the user clicks Pause/Stop or until he creates ano

[2019-11-03 10:06] LupinoTech commented on #1597
There is an item in the https://wavesurfer-js.org/docs/methods.html list, 14th bullet:
"getReady() – Returns the current ready status."
But apparently this method is not defined in the wavesurfer.js.

What is the "official" way to get the current file loading progress? I'd like to display a status  in percent so the user knows how long she has to wait for the full audio to load.

[2019-11-03 17:30] thijstriemstra commented on #1597
Well, it sure is, what version are you using?

Check event docs for progress events (https://wavesurfer-js.org/docs/events.html)

[2019-11-03 18:25] LupinoTech commented on #1597
It says "3.2.0 (2019-10-25)" in the beginning (https://www.lupino.org/script/wavesurfer.js), downloaded last wednesday.

I tried the event "loading" but that didn't work with the WaveSurfer.load-method; and using ready or waveform-ready only gives me a signal when loading is finished, not the desired difference between already-loaded-file and remaining-file-to-load.

[2019-11-03 18:31] thijstriemstra commented on #1597
What didn't work? `loading` should be correct event.

[2019-11-03 18:32] thijstriemstra commented on #1597
actually. it's not a method anymore, it's a boolean now, so `wavesurfer.isReady` should return correct value. The docs there are outdated, I'll fix that.

[2019-11-03 18:35] LupinoTech commented on #1597
okay then, i'll give the loading event another try. Thanks for your help :)

[2019-11-03 18:37] thijstriemstra commented on #1597
any other issues, please open a new ticket instead.

[2019-11-04 02:32] lida1984 commented on #1763
Hello, I have a question . How are you get the peaks ?

[2019-11-04 02:33] lida1984 commented on #1763
Hello, I have a question . How are you get the peaks ?

[2019-11-04 07:48] LupinoTech opened #1797 "loading event not fired"
((continuing the conversaton in #1597))
I try to catch the file loading progress listening to the `loading` event by using
[code]
but that event is never fired (log stays empty). Where is my mistake?

I'm using wavesurfer.js 3.2.0 (2019-10-25) on firefox 70.0 for Kubuntu 19.10.

[2019-11-04 08:21] marizuccara commented on #1763
Hi! You can get them with `audiowaveform` as described in https://wavesurfer-js.org/faq/, or with `ffmpeg`.

[2019-11-04 11:02] thijstriemstra commented on #1797
you're using the MediaElement and this will not trigger any loading event as far as I know (it loads progressively/instantly).

[2019-11-04 21:06] GigaMick commented on #1784
Thanks @Reached and @thijstriemstra - I'll give this a bash but never used a CMD tool before. Lets see how this goes 🤘

[2019-11-05 08:52] Reached commented on #1784
@GigaMick Try it out, and let me know if I can help with anything! :)

[2019-11-05 10:53] LupinoTech commented on #1797
Changing to default (i.e. removing the backend line) didn't work either.

Don't bother, i'm switching to the competition...

[2019-11-05 10:53] #1797 closed

[2019-11-05 11:15] thijstriemstra commented on #1797
👋

[2019-11-06 17:21] osheroff opened #1799 "Better waveform accuracy with less data?"
<img width="1048" alt="Screenshot 2019-11-06 09 15 26" src="https://user-images.githubusercontent.com/260084/68321163-11067c00-0076-11ea-9aa2-635505897d43.png">

I'm using `audiowaveform` to generate waveform graphs, but I'm curious as to why I'm losing so much waveform resolution when I generate a waveform of about the size I want (5k).  In the attached screenshot, the first waveform is one drawn

[2019-11-07 01:28] hrkazemi opened #1800 "loadDecodedBuffer for specific time (only load part of track)."
is it possible to load audioBuffer for a specific time on the whole track?

the problem is I don't have all the file at the same time and i don't want to load the whole thing either.

i can show the whole timing bar with prop duration, but how can i load specific time
something like :
[code]

config look like this
[code]

i tried audioContext too, set its value like this:
[code]
and then
[code]

i

[2019-11-07 01:44] aburai commented on #1779
sounds like `regions.clear` does not work correct, can you provide a bit of your current code to reproduce the problem?

[2019-11-07 12:34] thijstriemstra commented on #1800
can you split your audio in `Blob` or `File` objects and load it using `wavesurfer.loadBlob`?

[2019-11-07 13:33] hrkazemi commented on #1800
I think I can convert ```audioBuffer``` to ```blob``` but ```wavesurfer.loadBlob``` still has the same problem,
 how to assign ```audioBuffer``` or ```blob``` to a period of time?

[2019-11-07 14:15] liptakmart opened #1801 "Get waveform length (seconds) displayed after zooming and scrollbar movement"
Hello.

Is it possible to get waveform length which is actually displayed(after zooming and scrollbar movement)?

For example: I zoom my waveform, than scroll right using horizontal scrollbar.
How do I get those **a** and **b** values in picture?
a = lower bound of actually displayed waveform(in seconds) ex. : 40s
b = upper bound of actually displayed waveform(in seconds) ex.: 80s

![waveform](htt

[2019-11-07 14:42] liujinliang01 commented on #1779
Hi André,

Thank you very much for your kind response.
Could you please have a look at this codepen test snippet:
https://codepen.io/liujinliang01/pen/VwwxQmg
When I click Play,  nothing happens. I can see the error message "region is null" in the developer's console.
The above codepen test is forked from katspaugh's region test. I just made the following changes:
1. In the left HTML panel, update

[2019-11-08 14:29] caterinamaria opened #1802 "cursor plugin doesn't show time in version 3.2"
Hi,
I have a problem with wavesurfer cursor plugin after I updated from version 3.0 to version 3.2.
I am running my code on the latest version of Chrome.
I just want to show the time on the cursor.
My code was working with version 3.0.
My plugin is created as follow:
[code]
I have downloaded and debugged locally the code of the plugin and I found that the visibility of the element containig the ti

[2019-11-08 17:37] youngcitrus commented on #1487
would love a minimum height feature for quiet and silent parts as well

[2019-11-09 01:08] liujinliang01 commented on #1779
I am obliged to report that this problem of "region.play() or region.playLoop() not getting the right start / end time"  is solved.

My code is now like the following:
	wavesurfer = create_wavesurfer("#waveform");
	wavesurfer.load(file_name);
	wavesurfer.on('ready', function () {
		wavesurfer.play();
		//wavesurfer.regions.clearRegions();
		wavesurfer.regions.enableDragSelection({loop:true});
	});

[2019-11-09 01:32] liujinliang01 opened #1803 "creating more than one regions freezes Firefox / function of having only one region needed"
Hi,

As always, I am grateful to the great minds and hearts behind this very promising wavesurfer.js tool.

After quite some struggle, I am finally very close to what I really need - when a user drags to create a region, all other regions are cleared leaving only the most recently created one and the player starts looping the region right away endlessly until Pause is clicked or until another regi

[2019-11-09 01:33] #1779 closed

[2019-11-10 11:26] liujinliang01 commented on #1779
Hi Andre,

I feel obliged to report the good news that now the region plugin mostly satisfies my needs.

I need three functions:

1. When a region is created, all other regions will be cleared, leaving only the most recent region. - This I still cannot achieve yet. As of now, the user has to click to clear a region before creating a new one. In this case, not only does the user have to do an extra

[2019-11-10 12:52] thijstriemstra commented on #1803
can you create an example to reproduces this crash @liujinliang01?

[2019-11-11 16:10] lauradP commented on #1485
Hi, I'm observing the same issue. My mp3 files are generated using ffmpeg with provided parameters.

Peaks are generatedusing audiowaveform command line using the following parameters:  --pixels-per-second 25 -b 16

[2019-11-11 16:11] lauradP commented on #1747
Seems related to https://github.com/katspaugh/wavesurfer.js/issues/1485

[2019-11-12 14:27] lauradP commented on #1747
Today I made some more tests. The problem seems related to preloaded peaks. My mp3 files are generated from a wave file using the following ffmpeg parameters: -acodec libmp3lame -ab 64k -ar 32k.
Preloaded peaks are generated using audiowaveform with the following parameters: --pixels-per-second 25 -b 16.

[2019-11-12 16:53] lauradP opened #1804 "seek issue with peaks generated server side"
Hi,
I have a strange issue with wavesurfer (ver. 3.2.0). I play mp3 files (-ab 64k -ar 32k, generated with ffmpeg) and since I have to handle long audio files I generate peaks server side using audiowaveform command line tool (--pixels-per-second 25 -b 16).

The player loads fine, but the seek is not very accurate. In the screen below you can see what happens once I execute seekAndCenter(1).

![im

[2019-11-13 07:00] liujinliang01 commented on #1803
Hi Thijs,
I have created a codepen instance: https://codepen.io/liujinliang01/pen/VwwxQmg
Thank you very much for your kind support.
best regards
Jim

At 2019-11-10 20:52:57, "Thijs Triemstra" <notifications@github.com> wrote:

can you create an example to reproduces this crash @liujinliang01?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or

[2019-11-15 09:17] lida1984 opened #1805 "big file has crash too"
With WebAudio backend, even if i give peaks to draw the waveform, it internally decodes the audio to transform it to an AudioBuffer and put it to AudioBufferSourceNode. So the waveform is drawn without any problems, but in case of big audio files, the browser crashes because it decodes the data in memory.
If we give an HTML5 tag with peaks, the waveform is drawn without decoding. Moreover, giving

[2019-11-19 16:48] iagosilvamelo opened #1806 "Failed to compile CursorPlugin"
Helo!
First sorry for my english and thanks for making this tool available.

I use the wavesurfer.js in my vue project. This is instaled with npm.
The wavesurfer is work just with a little problem in load the waveform for some audios.

But my realy probelm is with CursorPlugin.
On add `import CursorPlugin from 'wavesurfer.js/src/plugin/cursor.js'` in my component, return this:

I tried add `import

[2019-11-20 10:19] lida1984 commented on #1551
How can I get the peaks array ? Do you know ?  Can you tell me ?

[2019-11-20 10:34] lida1984 commented on #1804
How the peaks generate, can you tell me ? Thanks .
不知道怎么生成peaks 文件，求助，谢谢。

[2019-11-20 11:05] lauradP commented on #1804
Peaks are generated using bbc audiowaveform command line (direcly in JSON) using these parameters:
--pixels-per-second 25 -b 16

Moreover I made some steps, setting forceDecode parameter to "true" the waveform is accurate and the seek is OK, but waveform load takes a long time (up to 25 seconds).

Laura

[2019-11-20 16:31] thijstriemstra commented on #1806
Import it from dist instead:

[code]

[2019-11-20 16:31] #1806 closed

[2019-11-20 16:49] thijstriemstra commented on #1802
probably related to https://github.com/katspaugh/wavesurfer.js/commit/8307f088750ff219f7ef53b27b0ecaa9d0fdf88c#diff-9cf7fd6a13109647dc9a722ee1b997ce

cc @mdtanrikulu

[2019-11-20 19:26] aburai commented on #1551
see https://wavesurfer-js.org/faq/ How to generate waveform data on the server?

[2019-11-21 02:23] lida1984 commented on #1804
Thank you very much .

It is no other sets, it will be auto to centered.  Not use  seekAndCenter function , I think.

[2019-11-21 02:50] lida1984 commented on #1763
Hello. How ffmpeg generate peaks? Can you give me same commands ? Thanks very much.

[2019-11-21 02:50] lida1984 commented on #1763
Hello. How ffmpeg generate peaks? Can you give me some commands ? Thanks very much.

[2019-11-21 08:24] lauradP commented on #1804
Hi, thanks for your answer but I have two more points:
* My issue concerned waveform accuracy, not centering
* How can seekAndCenter function slow down wavesurfer loading? Should I disable something?

[2019-11-21 10:52] caterinamaria commented on #1802
Yes, probably it is related to that change because in the previous version the time was correctly shown.

In the code diff you linked, the "visibiliy: hidden" is set to "this.displayTime", but "visibility: visible" is set to "this.showTime" and not to "this.displayTime".
In this way, the element "this.displayTime" that contains the current time is never shown.

[2019-11-21 12:59] thijstriemstra commented on #1802
@caterinamaria can you make a pull request with a fix?

[2019-11-21 13:12] liujinliang01 opened #1808 "mp3 files longer than 20 minutes produce error: The given encoding is not supported."
I have a few mp3 files that are all of the following properties:
[code]
Durations of the files vary between 10-30 minutes.

Those that are longer than 18 minutes give the following error:
[code]
But files of shorter durations are OK.

My environment:
Win10 Prof.
Browser: Firefox 70.0.1 32bit

Any help is greatly appreciated.

[2019-11-21 13:24] liujinliang01 commented on #1808
I have 8GB of memory and less than 60% is used at peak time;
CPU is 2.5GHz x 2, peak use of which is 100% momentarily and then immediately drops to less 40%.

[2019-11-21 14:48] caterinamaria commented on #1802
I have made a pull request with this fix

[2019-11-21 19:55] iagosilvamelo commented on #1806
Thanks!
It worked

[2019-11-23 13:18] nevrologica opened #1810 "Wavesurfer Microphone Plugin to attach to open microphone stream on iOS"
Hello,

I am currently implementing a web app where i use wavesurfer microphone plugin to present the microphone oscilator to the user. I am using this together with the IBM Watson speech to text javascript sdk.

My problem is that my current status of implementation works perfectly on every other browser except iOS devices such as my iPhone. I am running iOS 13.2.3.

The workflow is that i initia

[2019-11-23 19:30] thijstriemstra commented on #1805
What does this mean? Please rephrase and explain.

[2019-11-23 19:31] thijstriemstra commented on #1808
Can you try and use the `MediaElement` backend instead?

[2019-11-23 19:33] thijstriemstra commented on #1810
Take a look at the Safari workaround in the microphone example: https://github.com/katspaugh/wavesurfer.js/blob/master/example/microphone/app.js#L12

[2019-11-23 19:33] #1810 closed

[2019-11-23 19:36] #1693 closed

[2019-11-23 20:36] #1802 closed

[2019-11-23 22:59] nevrologica commented on #1810
I have described that i am using the workaround and the waveform of the microphone shows properly on mobile Safari. My actuall problem is that it blocks an already open microphone stream that another process opened. This has to be reopened. Best case scenario would be for the microphone plugin to attach to an already open microphone stream rather than creating one forcibly every time using the cre

[2019-11-24 01:22] thijstriemstra commented on #1712
@Ramya-22 can you try 3.2.0?

[2019-11-24 01:24] thijstriemstra commented on #1691
any suggestions to improve it in wavesurfer.js are welcome, closing.

[2019-11-24 01:24] #1691 closed

[2019-11-24 16:07] #1642 closed

[2019-11-25 08:11] liujinliang01 commented on #1808
Thank you Thijs for your response.

I don't know how to  use the MediaElement backend.

I have looked at this page: https://wavesurfer-js.org/api/class/src/mediaelement.js~MediaElement.html
But I don't know how to test whether my mp3 files longer than 20 min (or thereabout) can play.

Could you please give me some instructions with examples?

Thank you in advance.
best regards
Jim

At 2019-11-24 0

[2019-11-26 12:02] TOPSinfo commented on #1568
@thijstriemstra I have a use case where users can minimize the audio player (rendering waves) and just see a progress bar.

[2019-11-26 12:22] thijstriemstra commented on #1568
@TOPSinfo sure.

[2019-11-26 13:26] vlalentin opened #1814 "Move Regions by groups"
Hi all and thank you for your work, it's really nice!

I use your script since few month for a personnal project and I would like move regions by groups.
Have you any idea to do that? I saw [this theard](https://github.com/katspaugh/wavesurfer.js/issues/463) but this allows to identify by group, but not to move.

Second question: How I can select many regions with mouse?

Thank you!

Edit: I use t

[2019-11-26 16:00] thijstriemstra commented on #1814
why not use latest 3.x version?

[2019-11-27 06:43] vlalentin commented on #1814
Hello. I use the code on the website https://wavesurfer-js.org/v2/ and it’s the version 2. I don’t see version 3 on it.

[2019-11-27 11:01] thijstriemstra commented on #1814
try `npm install wavesurfer.js` for the latest.

[2019-11-27 11:02] #1728 closed

[2019-11-27 12:44] kishan143-jaiswal opened #1815 "WaveForm.js:36 Uncaught TypeError: this.wavesurfer.enableDragSelection is not a function"
while using this function ,its throwing error in latest 3.2.0 version,while using 1.1.2 its working
  this.wavesurfer.on('ready', () => {
      this.wavesurfer.enableDragSelection({ loop: true });
    });
is there any change in new updates related this function

[2019-11-27 18:59] fuzegit opened #1816 "Error calling wavesurfer.seekTo, parameter must be a number between 0 and 1"
Hi!

Thank you for your work :)

### Wavesurfer.js version:
3.2.0

### Browser and operating system version(s):
LinuxMint, Opera 65.0, Firefox70.0.1

### Code needed to reproduce the issue:

[code]

### Result if seek

![Выделение_140](https://user-images.githubusercontent.com/13233234/69751611-8db1e500-1160-11ea-9a6c-76f48305f655.png)

[2019-11-28 09:46] aburai commented on #1799
If you have more than one peak per pixel, you can use different approaches to draw that
- use the first peak
- use the last peak
- use the average of all peaks
- use the lowest peak
- use the highest peak

i have currently no time to check which approach wavesurfer currently use, but i mean first peak

in my custom renderer i have tried all approaches and i go currently with average

[2019-11-28 11:56] lauradP opened #1817 "Load performances with forceDecode param set to TRUE"
Hi,
I'm using wavesurfer for playing large files. To improve performances (and avoid client side crashes and oom) I generate peaks on the server side, using bbc audiowaveform command line (with --pixels-per-second 25 -b 16 parameters).

My wavesurfer params are:
[code]

I enabled forceDecode parameter in order to have the event "waveform-ready" triggered (as far as I can understand this is the onl

[2019-11-28 12:43] thijstriemstra commented on #1816
Your example code doesn't include a call to `seekTo`, where and how are you calling this?

[2019-11-28 12:45] fuzegit commented on #1816
I click on the waveform

[2019-11-29 08:52] vlalentin commented on #1814
Ok thank you. I will try with this version.
I have avanced a litle on my problem. Now, I can add "groupe name" on regions. If I move one, the others are reloaded with the new parameters. I would like to improve this code with jquery selectable (select with mouse on the div #waveform). It's works but I have a conflict beetween codes **[1]** and **[1]**. When I activate the code **[2]**, **[1]** sto

[2019-12-01 07:24] LBPSlava opened #1818 "cross-site cookies set by wavesurfer distribution library at cloudflare"
This is a great library that allows my pages to do things I would not know how to do otherwise. It has served my users for several years now with no trouble.

Now that Chrome (and others) are implementing restrictions on cross-site cookies, I am seeing this warning from Chrome when the library loads:
====
A cookie associated with a cross-site resource at http://www.cloudflare.com/ was set without

[2019-12-01 21:34] thijstriemstra commented on #1818
this is probably more a question for the cdnjs repository on github, the ones hosting these files.

You could also try a different CDN, e.g. unpkg.com

[2019-12-01 21:52] LBPSlava commented on #1818
Thanks, Thijs! I couldn’t find the URL for version 1 on unpkg.com.

[2019-12-01 23:35] thijstriemstra commented on #1818
True. Any reason not updating to the latest version?

[2019-12-02 00:08] LBPSlava commented on #1818
Thanks again, Thijs! No specific reason, I just can't find the time to test all my pages with version 2, including the Regions library. Maybe in January, during the winter break at Cornell. Slava

-------- Original message --------
From: Thijs Triemstra <notifications@github.com>
Date: 12/1/19  6:35 PM  (GMT-05:00)
To: "katspaugh/wavesurfer.js" <wavesurfer.js@noreply.github.com>
Cc: LBPSlava <slav

[2019-12-02 00:17] LBPSlava commented on #1818
Besides, version 1 does everything I need just fine. My only wish is for a waveform with regions to resize itself (horizontally) when the user resizes the width of the browser window. 

-------- Original message --------
From: Thijs Triemstra <notifications@github.com>
Date: 12/1/19  6:35 PM  (GMT-05:00)
To: "katspaugh/wavesurfer.js" <wavesurfer.js@noreply.github.com>
Cc: LBPSlava <slava@lexiconbr

[2019-12-02 05:04] ICYMYM commented on #1223
@X-Raym   @thijstriemstra  @entonbiba  I encountered a similar problem, I have an mp3 file with duration 1:00:04, but when I use "MediaElement" and play it,  its duration is about 6 seconds(1:00:10) longer than the actual. But I get the correct duration when I call  "getDuration()", it's weird. I try other mp3 files, they have the same problem.

After initialization, its duartion is 1:00:04,
![ima

[2019-12-03 12:26] kishan143-jaiswal opened #1819 "regions mouse click events not working"
version:3.2.0

    this.wavesurfer.on('region-update-end', (region) => {
      this.wavesurfer.drawer.un('click');
      if (!this.props.loop) {
        if (selectedRegion != null) {
          //console.log(selectedRegion)
          //Unhighligt old selection
          selectedRegion.update({
            color: 'rgba(0, 255, 0, 0.1)'
          });
        }
        selectedRegion = region;

[2019-12-03 13:12] liujinliang01 opened #1820 "Is there a way to let the player suspend a little before the next loop begins?"
Hi,

I am using the region plugin to loop play segments of an mp3 file. which is working. Now I would like to pause a small amount of time before each loop begins, Possible? If yes, please kindly advise how I can do it.

I use it in my English training classes. When the player begins the next loop immediately after playing this round, users feel tired quickly and they would like to have a short pa

[2019-12-04 19:53] panosl commented on #1221
It does not have a blank space anymore, true. But still the height of the spectrogram is half of that rendered on non retina display.

[2019-12-05 10:52] #1815 closed

[2019-12-05 10:53] kishan143-jaiswal commented on #1815
i got the function in the latest version after adding regions  plugin.

[2019-12-05 12:05] SGDAT commented on #1797
Hi there. Thanks for this amazing plugin.

I too seem to be having an issue with this. This is for mp3 files as large as 60mb. My code is as follows:-

`        wavesurfer = WaveSurfer.create({
            container: '#waveform',
            waveColor: 'black',
            progressColor: 'purple',
            barWidth: 2,
            barHeight: 1, // the height of the wave
            barGap: null

[2019-12-05 17:12] thijstriemstra commented on #1797
please open a new ticket instead.

[2019-12-05 17:16] SGDAT opened #1821 "Loading event doesn not trigger"
Hi there. Thanks for this amazing plugin.

I too seem to be having an issue with this. This is for mp3 files as large as 60mb. My code is as follows:-
[code]
The ready event works fine. But not the loading event.

I have developed this project within a asp.net core blazor app. I'm not sure if blazor has its own loading event which it overwrites wavesurfer with?

Any help will be much appreciated.

[2019-12-07 11:09] mustafa0x opened #1822 "timeline plugin: fuzzy/unclear/low resolution on some devices"
On my laptop it's fuzzy, while it's fine on my phone.

![tl1](https://user-images.githubusercontent.com/1473102/70373650-8a51f280-18f2-11ea-80a7-5d465c97658c.png)
![tl2](https://user-images.githubusercontent.com/1473102/70373651-8a51f280-18f2-11ea-991e-c4436856f2a1.png)

The timeline for [peaks.js](https://github.com/bbc/peaks.js) and [waveform-playlist](https://github.com/naomiaro/waveform-playli

[2019-12-07 13:55] thijstriemstra commented on #1822
what kind of laptop? what version of wavesurfer.js?

[2019-12-07 13:58] mustafa0x commented on #1822
Laptop: A (non-retina) MacBook running High Sierra, and a Windows 10 laptop.
Version: 3.2.0.

[2019-12-07 14:07] thijstriemstra commented on #1822
There's something about an extra pixel in the plugin: https://github.com/katspaugh/wavesurfer.js/blob/master/src/plugin/timeline.js#L336

can you adjust that and see if the issue is there. `pixelRatio` is being used in the plugin so it should take resolution in consideration..

[2019-12-09 17:20] mustafa0x commented on #1822
Yes, that does improve it (I actually made that change before I made the PR, but forgot to mention that!), but it it's still not as sharp as the other two tools mentioned.

I'll do more looking when I get a chance.

[2019-12-11 02:13] kangdawei opened #1827 "vue how to use it"
where is vue demo use wavesurfer.js

[2019-12-11 09:02] mustafa0x commented on #1827
Google it; there are plenty of examples.

[2019-12-11 15:52] #1827 closed

[2019-12-15 22:07] maxammann commented on #702
I just tried to create a spectrogram of a 16000Hz audio file. The max frequency in the spectrogram was 44100.

I fixed this by using `audioContext: new AudioContext({sampleRate: 16000})`.

[2019-12-16 12:59] PaulLerner commented on #1189
Hello, do you have any hints on how to fix this issue ?
I'm having the same problem in gecko : https://github.com/gong-io/gecko/issues/27 (we closed the issue because we found some trick but it's not really satisfying)

I'm not sure this is the cause of the bug, `Math.round(169.44 * 100) / 100` gives `169.44`

Bests,

[2019-12-18 08:43] #1698 closed

[2019-12-18 17:21] thijstriemstra commented on #1821
Your server needs to expose the `Content-Length` header, otherwise the loading progress cannot be calculated. Can you verify this is being sent as well?

[2019-12-19 02:19] KonigRob opened #1830 "Setting the bar height after creation"
Hi,

I know that the bar height can be set when creating a new Waveform object, but you can't adjust the height of the bars afterward.

 I was wondering if it was it's possible to implement a new function, setBarHeight()?

It might work similar to the zoom() function, just with adjusting the bar heights then redrawing the waveform?

[2019-12-19 11:45] DivySrivastava commented on #291
var xhr = new XMLHttpRequest();
						xhr.open('GET', '/track/smth', true);
						xhr.responseType = 'arraybuffer';
						xhr.onload = function(e) {
							console.log(xhr.response);
							var context = new AudioContext();
							context.decodeAudioData(xhr.response, function(buffer) {
								this.wavesurfer = WaveSurfer.create({
		            	xhr: { mode: "no-cors" },
		            	container:

[2019-12-19 21:58] thijstriemstra commented on #1830
use `wavesurer.setHeight(height)` to set the height of the waveform. If it uses bars, those will be set as well.

[2019-12-19 22:22] RobTallGuy commented on #1830
https://wfplayer.js.org/

Here's an example of what I was more meaning.  If you drag the Wave Scale range input at the bottom of the options given, it'll increase or decreaes the bar heights without changing the height of the canvas that holds it.

[2019-12-20 06:11] shaktis110 opened #1832 "abort controller is not defined"
i have successfully managed to import wavesurfer.js in my ionic project but calling
 wavesurfer.load(url)  it gives error in console abort controller is not defined . i have saw the wavesurfer.js file and it has a object containing  return value of new abort controller . may be abort controller return undefined .
help me out thanks ....

[2019-12-21 05:13] shaktis110 commented on #761
hey @Graghav  its not working in ionic 4 it still show the white screen

[2019-12-21 17:24] thijstriemstra commented on #1832
can you paste the complete error message @shaktis110? What browser? what operating system?

[2019-12-22 04:58] thijstriemstra commented on #1832
Looks like you should use https://www.npmjs.com/package/abortcontroller-polyfill. Let us know how that goes.

[2019-12-23 11:31] martinratinaud commented on #1832
@shaktis110 I @thijstriemstra I think the best in this is https://polyfill.io/v3/url-builder/

Just tested

[2019-12-23 11:40] thijstriemstra commented on #1832
thanks for feedback.

With ionic?

[2019-12-23 11:49] martinratinaud commented on #1832
No just opened https://wavesurfer-js.org/example/playlist/index.html in Edge and can't play it

[2019-12-23 11:50] martinratinaud commented on #1832
@thijstriemstra no in 360chrome a chinese browser

[2019-12-23 11:51] thijstriemstra commented on #1832
is this feedback related to AbortController?

[2019-12-23 12:21] martinratinaud commented on #1832
I'm not sure what you mean
I had the `abort controller is not defined problem` and solved it using https://polyfill.io/v3/url-builder/
Just by putting the corresponding script in the <head> of my website.

It is basically the same as the polyfill you mentioned on npm but it supports a widest variety of polyfill and is well maintained

Hope it's clearer now

Thanks

[2019-12-23 12:33] thijstriemstra commented on #1832
@martinratinaud was that the only polyfill you needed for Edge, the AbortController one?

[2019-12-23 13:04] martinratinaud commented on #1832
For this problem yes
But for my website, I used the whole one with the feature toggle `Have every polyfill wrapped in a feature detect, which will only execute the polyfill if the native API is not present.`

[2019-12-23 15:18] SGDAT commented on #1821
Thanks for the help. I updated my stream link to send back the content-length and it worked well. I now have a new issue (although this might be its own issue). The component no longer plays in Microsoft edge.

I think it has something to do with the loading event now being used but not certain. Prior to using the loading event, it worked fine in edge.

[2019-12-23 16:45] thijstriemstra commented on #1821
follow these instructions: https://github.com/katspaugh/wavesurfer.js/issues/1832#issuecomment-568461053

[2019-12-23 19:00] #1821 closed

[2019-12-24 07:03] martinratinaud commented on #1761
@Bopser I agree that it does not work

It seems to come from this line
[code]

[2019-12-24 10:22] martinratinaud commented on #1761
I made a (very) temporary patch because it's christmas :-) and I need to make it work NOW

So
Here is the commit on my fork https://github.com/cme-pro/wavesurfer.js/commit/601e9b584e94d172f0fd7a4821c366bf196c8b91

And you can use by
[code]

I'm still interested to launch a PR if someone knows what is wrong with ReadableStream on Edge being here but not functional

Merry christmas to all of you

[2019-12-24 18:36] shaktis110 commented on #1832
First of all thanks for responding..
One thing I observed is that when I comment out the abort controller initiations it works fine.
Is there any problem with that i know abort controller is for terminating the fetch call may be....
And second the waveform ui not showing up in device . After hours of dubug i came to the point that if the width of #waveform container is less then 15% then it show u

[2019-12-24 18:41] shaktis110 commented on #1832
@Martinratinaud thanks for polyfill solution but i have tested this after installing polyfill package from npm in my ionic package... Anyway can you help me out with the waveform not show problem in native device. It also not  showing up when I tested it with stackblitz. Just to confirm my set up is right or not...

[2019-12-24 18:54] shaktis110 commented on #1832
@martinratinaud platform is Android.
I am working with ionic framework.

[2019-12-24 19:14] thijstriemstra commented on #1761
thanks for the feedback @martinratinaud. Maybe take a look at https://stackoverflow.com/questions/55294816/how-do-i-create-a-readablestream-in-microsoft-edge and https://github.com/mapbox/mapbox-gl-js/commit/c49dd3151c9e9e528e6eec339f54e033cd190e29

[2019-12-25 10:13] SmileTao commented on #1675
这个问题我今天遇到了，应该是他封装的ajax请求对数据做了处理导致解析音频出现参数类型不匹配，需要修改它内置的ajax请求为原生的ajax请求。
我这里的处理是：
window.XMLHttpRequest = window.XMLHttpRequestBAK;

[2019-12-25 10:22] SmileTao commented on #1675
我今天也遇到了这个问题，我这里原因是没有使用它内置的ajax请求来获取文件导致解析文件参数类型不匹配。
我这里的解决办法是：
window.XMLHttpRequest = window.XMLHttpRequestBAK;

[2019-12-25 14:08] Frank3K commented on #45
Doesn't the demo annotation plugin do this? [Demo](http://wavesurfer-js.org/example/annotation/).
Relevant source: http://wavesurfer-js.org/example/annotation/app.js

[2019-12-26 21:10] fisherman77 opened #1834 "Using with jquery .load() function"
I trying use this plugin in WordPress.

My problem is that if I have a DIV block "container" on the page with wave surfers listed with the function foreach() and I try to reload this DIV block with the jquery function .load() then I get the above error in console, wave surfer not show:

I use code to reload DIV block in the site:
` jQuery(".container").load(location.href + " .container");`

My cod

[2019-12-27 13:33] thijstriemstra commented on #1834
how are you including wavesurfer.js in your project?

[2019-12-27 17:48] fisherman77 commented on #1834
In back end in my plugin:

[code]

The same happend with plugin "WaveSurfer-WP" for WordPress (https://fi.wordpress.org/plugins/wavesurfer-wp/).

[2019-12-28 22:48] fisherman77 commented on #760
Hi I have identical problem.

I try use jQuery function .load() to refresh container with wave forms from wavesurfer.js and wavesurfer-WP plugin and if I call function .load(), then I get errors in console and waveforms not showing.

I have div container #div witch waveforms in frontend and I use load method:

`jQuery("#div").load(location.href + " #div");`
I want make no refresh site.

Some have

[2020-01-01 01:49] DawsonSeibold opened #1836 "Is there a way to set the duration of a "blank" waveform?"
Hello,

In an application I'm working, users will sometimes use a blank (flatline) waveform as a way to visually indicate when events will happen if they choose to not use an audio file.

The issue I'm running into is how to let the user decide how long the blank waveform will be. Is there any way to render a blank waveform with a set duration?

I was thinking I could possibly load a pre-rendered

[2020-01-01 12:50] thijstriemstra commented on #1836
you can generate waveform peaks data with a 'blank waveform' and load that data.

why not?

[2020-01-01 21:06] DawsonSeibold commented on #1836
I have been following https://wavesurfer-js.org/faq/ (How to generate waveform data on the server?)

Here is my code for creating the wavesurfer object and the timeline once the waveform is created.
[code]

When loading a .mp3 file the waveform loads correctly. I can move the playhead around, the timeline is generated and it has the correct duration.

<img width="1175" alt="Screen Shot 2020-01-01

[2020-01-01 21:35] Frank3K opened #1838 "Regions plugin: improve stylability of region handles"
In PR  #1798 the ability to customize the color of both (left and right) region handles has been added. This is a welcome change, which give us more tools to improve the UX of the handles.

Another improvement for the region handles would be to have more control over the width of the handles. Currently, the width is defined [as follows](https://github.com/katspaugh/wavesurfer.js/blob/17d6731e01933

[2020-01-02 10:12] sascharissling commented on #1030
Hello. Is there some way to do this now? :-)

[2020-01-02 19:20] Frank3K commented on #1838
Furthermore, say one would like to just use CSS classes for styling, it might be beneficial to disable the JS styling (since this has precedence over the CSS styling).

Proposals:

1.  When `this.handleStyle.left` (or `.right`) is set to the string `none`, no CSS is applied to the handles. When `this.handleStyle.left` is an object, then the above `Object.assign` code can be used.
2. Make it possib

[2020-01-02 21:27] Frank3K commented on #1838
The suggestion of the first comment and the first point of the second comment are included in PR #1839.

[2020-01-03 03:28] devorel opened #1840 "how can i get image from video by time , (without play the video)"
# Hey, thank you for testing and contributing to wavesurfer.js!

## Please make sure you can check all of these points below before opening an issue:

(You don't have to post this section)

- [x] I have checked [the FAQ](https://wavesurfer-js.org/faq/) and it doesn't solve my problem.
- [x] I have checked [the documentation](https://wavesurfer-js.org/docs/) and it doesn't solve my problem
- [x] I

[2020-01-03 05:53] davegravy commented on #1758
I ran into this same issue

[2020-01-04 04:18] joehink opened #1841 "Gatsby Compatibility"
### Problem
I'm working on a new website built with [GatsbyJS](https://www.gatsbyjs.org/). During development, Gatsby and wavesurfer.js were working perfectly together. But when it came time to build the website using the `gatsby build` script, I got the following error:

[code]

And here are the options I used to create my wavesurfer instance:

[code]

After googling for a while, I discovered tha

[2020-01-05 15:18] Frank3K opened #1842 "regions plugin: add support for contextmenu event on regions"
In the current version of waversurfer.js (3.3.0) there are several handlers for events on regions: `mouseenter`, `mouseleave`, `click` and `dblclick` ([source](https://github.com/katspaugh/wavesurfer.js/blob/17d6731e01933d85a786df3f30725b80a3fc7b62/src/plugin/regions.js#L318-L338)).

I would like to show a menu when right-clicking on a region. This could be made possible using the following lines:

[2020-01-05 18:53] thijstriemstra commented on #1842
sounds good. with an option to disable/enable.

[2020-01-05 19:39] Frank3K commented on #1842
The current four events can't be disabled / enabled, there is always an event handler added for these. Would it be better to change this generically? For example by supplying a list of events you want to handle (defaulting to the current four)?

[2020-01-05 19:52] thijstriemstra commented on #1842
i meant an option to enable/disable the context menu.

[2020-01-06 15:36] #1840 closed

[2020-01-06 16:57] ghuwe opened #1843 "exportImage returns "empty" data URIs and blobs."
### Wavesurfer.js version(s):
3.3.0 (latest as of this post's date)

### Browser and operating system version(s):
Firefox Dev Edition, 72.0b11
Chromium 79.0
Arch Linux

### Code needed to reproduce the issue:
[code]

### Use behaviour needed to reproduce the issue:
Just loading the page returns the <wave> object and it displays nicely. However, the data URI returns empty instead of showing the wav

[2020-01-06 19:56] FabianoB2ML commented on #761
@Graghav how are you? Fine? I hope so.

Well i'm trying to use your example in my application to but i have the same issue as @shaktis110. In ionic 5 show the white screen when a start my app.

Ionic version: 5.4.13
Cordova version 9.0.1

My HomePage.TS
![image](https://user-images.githubusercontent.com/45759701/71844502-0b90d680-30a5-11ea-9814-ad15d009a802.png)

My HomePage.html
![image](https://

[2020-01-07 16:56] thijstriemstra commented on #1838
Your other suggested changes sound good to me @Frank3K.

[2020-01-08 01:57] thijstriemstra commented on #1843
Go the https://wavesurfer-js.org/, open a console, type `wavesurfer.exportImage()` and it seems to work fine.

[2020-01-08 01:57] #1843 closed

[2020-01-08 11:11] thijstriemstra commented on #1841
thanks for documenting the workaround.

[2020-01-08 11:11] #1841 closed

[2020-01-08 11:13] thijstriemstra commented on #1830
pull requests are welcome.

[2020-01-09 11:28] thijstriemstra commented on #1834
try using a CDN version of wavesurfer.js. The error ` Cannot use import statement outside a module` indicates your not including the minified, compiled version.

[2020-01-09 12:38] thijstriemstra commented on #1770
no feedback, closing.

[2020-01-09 12:38] #1770 closed

[2020-01-09 12:38] thijstriemstra commented on #1683
no feedback, closing.

[2020-01-09 12:38] #1683 closed

[2020-01-09 12:40] thijstriemstra commented on #1672
still an issue with 3.3.0?

[2020-01-09 12:40] thijstriemstra commented on #1434
still an issue with 3.2.0?

[2020-01-09 12:41] thijstriemstra commented on #1818
version 1.x is no longer supported so please upgrade. If issue is still there, re-open this ticket.

[2020-01-09 12:41] #1818 closed

[2020-01-09 12:43] thijstriemstra commented on #1761
@martinratinaud can you make a pull request for your workaround?

[2020-01-10 01:34] #1842 closed

[2020-01-12 09:21] Christilut commented on #1816
I have the same thing happening but I can't reproduce it in a codepen... It happens when the wavesurfer is playing and you click exactly 1 pixel before the start of the waveform. Seems that 1 pixel is causing it to seek to a value below 0. The value was `-0.00375` for me.
This happened on a very small 200px waveform.

![image](https://user-images.githubusercontent.com/3471363/72216716-47a0bd00-352

[2020-01-13 04:26] martinratinaud commented on #1761
@thijstriemstra sure I can but maybe you should validate the commit first https://github.com/cme-pro/wavesurfer.js/commit/601e9b584e94d172f0fd7a4821c366bf196c8b91 as
- I wrote no tests
- it downgrades the use of the progress indicator

[2020-01-13 07:29] sascharissling opened #1846 "Can't stop microphone in react functional components"
Wavesurfer: 3.3.0
Chrome: Version 79.0.3945.117 (Official Build) (64-bit)
MacOS: 10.14.6
CODE: https://codepen.io/sascharissling/pen/abzKZwB?editors=0010

Hello there. I'm running wavesurfer with the microphone in a React app using functional components.

I can start the microphone just fine. But whenever i stop the microphone i get a
`this.stream.stop is not a function``

This also happens when i

[2020-01-13 10:32] cesanag opened #1847 "Problem displaying multiple waves"
I'm trying to display more than one waveform on the same page but I think I'm missing something crucial. Only the first audio from an object is rendered, because they all share the same container. Am I doing it wrong somehow?
Pen for reference:
https://codepen.io/cusanag/pen/abzEmmo

Thank you.

[2020-01-13 18:08] thijstriemstra commented on #1846
can you reproduce this with the non-react example? @sascharissling

[2020-01-13 18:20] thijstriemstra commented on #1847
@cesanag you need to create a new div for each waveform and create a new `WaveSurfer` instance for each div

[code]

[2020-01-13 18:20] #1847 closed

[2020-01-13 18:43] sascharissling commented on #1846
I'm working on an mvp right now and time is scarce. So i cant produce a non react example right now.
But i will get to this once I'm through with that next week :-)

[2020-01-13 18:53] thijstriemstra commented on #1846
simply try the existing microphone example?

[2020-01-14 07:27] sascharissling commented on #1846
Sorry, I'm fairly new to web development (three months) and thought i should write my app into non-react. haha.

in the microphone example the microphone closes.

I think the issue with my react code is that all microphone methods except starting the microphone have `.this` in them?

[2020-01-14 08:22] martinratinaud opened #1849 "Can't play flac file on firefox"
Wavesurfer.js version(s): **3.3.0**
Browser and operating system version(s): **Firefox 72.0.1** on **Mac OS Mojave**

Hi all

here is a pen to reproduce the fact that I can't use wavesurfer.js to play a flac file with Firefox 72.0.1 (I have only this version installed)

https://codepen.io/martinratinaud/pen/dyPKEmY

It is working well with Chrome.

I have seen this Bug https://github.com/katspaugh

[2020-01-14 11:16] thijstriemstra commented on #1846
No idea, I don't use/like React. Please use stackoverflow or react forums for that question.

[2020-01-14 11:16] #1846 closed

[2020-01-14 11:19] thijstriemstra commented on #1849
try `backend: MediaElement` option

[2020-01-14 11:32] martinratinaud commented on #1849
@thijstriemstra I've tried with `backend: 'MediaElementWebAudio'` as described here http://wavesurfer-js.org/example/mediaelement-webaudio/index.html and with `backend: 'MediaElement'` as you suggested

Both of them lead to the same error in firefox `Error decoding audiobuffer`

And in chrome, it odes not even show the waveform anymore

What is this supposed to be doing?

Is there some other manip

[2020-01-14 11:40] thijstriemstra commented on #1849
check https://bugzilla.mozilla.org/show_bug.cgi?id=1495648. can you run `ffprobe` on the flac file (part of ffmpeg) and paste the output here?

[2020-01-14 11:42] martinratinaud commented on #1849
Sure

[code]

[2020-01-14 11:45] thijstriemstra commented on #1849
there's metadata in it but not sure if it's the unsupported idv3. try a different flac file (use ffprobe to make sure it has no metadata) and see if that works. you can also try using ffmpeg to strip out the metadata and see if that works.

[2020-01-14 11:59] martinratinaud commented on #1849
I've removed the metadata with
[code]
Then `ffprobe` gives me this output
[code]

And the file does not work in the exact same way -> I've updated the pen.

Do you have any other idea.
I feel this should be addressed as a bug, what do you think @thijstriemstra
?

[2020-01-14 12:03] krisch12 commented on #701
I have the same problem as @ harrietsCreativeDabblets to display spectrogram. I have used these ref files.
<script src='https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.4.0/wavesurfer.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.4.0/plugin/wavesurfer.spectrogram.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.

[2020-01-14 12:04] thijstriemstra commented on #1849
I see `EncodingError: The given encoding is not supported.` in Firefox 72 on Ubuntu 18, an error that is not coming from wavesurfer.js but the browser itself. There's not much we can do about that.. I would open a ticket in Firefox bugtracker instead.

[2020-01-14 12:10] thijstriemstra commented on #1849
Also see http://hpr.dogphilosophy.net/test/. Try downloading the flac they use there (it plays here) and test it with wavesurfer.js

[2020-01-14 12:15] sascharissling commented on #1846
okay. thanks for your time! :-) love the package. have a great day!

[2020-01-14 12:16] thijstriemstra commented on #1849
Tested `flac.flac` with wavesurfer.js 3.3.1 and it seems to work fine. So it's something specific with your flac file.

[2020-01-14 12:28] martinratinaud commented on #1849
I tested with `flac.flac`and it works
Result of `ffprobe` here

[code]

So There is something in the flac file that make it fail to load in wavesurfer but that is still playable by a standard html5 tag

I'm not sure this issue should be closed because the flac file I uploaded first should work as it is playable by a standard html5 tag, don't you think ?

[2020-01-14 12:32] thijstriemstra commented on #1849
Like I mentioned before, the browser throws an error `EncodingError: The given encoding is not supported.` which is not a wavesurfer.js issue but a browser issue. I think. I am not sure where wavesurfer.js can be improved if there's an encoding error..

[2020-01-14 12:33] martinratinaud commented on #1849
@thijstriemstra I'm a bit sceptic.

How would you explain that the html5 tag works then, because I don't exactly know how wavesurfer.js works.

Thanks

[2020-01-14 12:38] thijstriemstra commented on #1849
the `WebAudio` backend uses WebAudio, whereas the `MediaElement` backend uses 'html5 tag'. Wavesurfer shouldn't do anything to the file (other than drawing the waveform) when using the MediaElement backend.

[2020-01-14 12:40] martinratinaud commented on #1849
Well then I do not know what we can do and maybe it's the file that has a problem.

So feel free to close it. For my use case on https://www.edityouraudio.com/ I will convert the file to mp3 to make it work

Thanks for your help

[2020-01-14 15:17] cesanag commented on #1847
Thank you.

[2020-01-16 07:42] suiyingG opened #1850 "Spectrogram plugin: Error hamming window calc formula"
### Wavesurfer.js version(s): v3.3.1

The correct hamming windFun is like this：
![image](https://user-images.githubusercontent.com/14047930/72503269-400b4c00-3876-11ea-9a37-2b3afa7ba549.png)

but the code in plugin Spectrogram.js is :
[code]
refs:
1.https://en.wikipedia.org/wiki/Window_function#Hann_and_Hamming_windows
2.https://docs.scipy.org/doc/scipy-0.19.1/reference/generated/scipy.signal.hamm

[2020-01-17 02:26] interactionsolutions commented on #1755
This is exactly what I want to do to... Is there any update ?

[2020-01-17 13:36] #1850 closed

[2020-01-17 13:48] thijstriemstra commented on #1755
@interactionsolutions and @gocubetech the waveform is drawn on a canvas element. you can draw on this canvas element anything you want.

[code]

[2020-01-24 14:57] ApayRus opened #1852 "question: is it possible to display waveform in multiline mode?"
Hi! Thanks for great player!
I use it with 'regions' plugin for visualise audio books, with captions.

Here is 6 minute, first chapter of book Great Expectations by Charles Dickens.
![youtube channel art](https://user-images.githubusercontent.com/1222611/73078308-faccc700-3ed2-11ea-894f-24a9d2ce7ced.png)
Yesterday I did collage from many of lines 'waveform' (cropped from screenshots), and today I

[2020-01-24 15:13] webciter opened #1853 "TypeError: this.analyser is null"
TypeError: this.analyser is null

Unable to get the example https://wavesurfer-js.org/example/equalizer/ working.

[2020-01-24 15:18] ITachiLab commented on #1750
Setting `position: relative;` on the WaveSurfer container element also helped me with the identical issue.

[2020-01-25 09:43] hackerart opened #1854 "Timeline plugin: rtl support"
I need timeline rtl support

[2020-01-25 22:23] jameyquinn opened #1855 "Incomplete browser-side rendering"
Every one of the many audios I have are failing to render waveforms fully - a flatline at the end of varying length. This occurs regardless of the volume of sound at the end of the file. I include a sample below. It appears that audios longer than 60s render fully with no flat line at the end.

### Wavesurfer.js version(s):
v3.3.1 and v2.2

### Browser and operating system version(s):
all, renders

[2020-01-26 20:14] thijstriemstra commented on #1750
does this also happen with the cursor example on the site? if so it should be added there as well.

[2020-01-27 10:51] ITachiLab commented on #1750
From what I see, the WaveSurfer's container on the "Cursor example" page has this CSS property already set. If it's removed, the cursor doesn't work properly.

[2020-01-27 14:08] AravindKumarEmpress opened #1856 "CORS audio loading"
i tried to load an audio from s3 bucket using load() method in MVC C# project, but i'm getting `from origin 'http://localhost:50300' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opaque response serves your needs, set the request's mode to 'no-cors' to fetch the resource with CORS disabled.`  i tried to setted up Access-Control

[2020-01-28 03:46] interactionsolutions commented on #1755
Hi,

Is it possible to write the text at a specific place on the waveform.
In the function below I can pause a file playing but also want to leave a note at the exact place where i paused.
[code]

[2020-01-28 14:44] thijstriemstra commented on #1755
Try `wavesurfer.drawer.lastPos` for the position of the playhead. It is marked as private but seems like a useful piece of data that could be exposed by a public method.

[2020-01-28 14:48] thijstriemstra commented on #1755
ps. would be cool to have an example like this, want to make one and open a pull request for it?

[2020-01-28 16:02] thijstriemstra commented on #1856
use the `xhr` option, see bottom of https://wavesurfer-js.org/docs/options.html

for example:

[code]

[2020-01-28 16:02] #1856 closed

[2020-01-28 16:03] thijstriemstra commented on #1852
i don't think it's possible yet, pull requests are welcome!

[2020-01-28 16:04] thijstriemstra commented on #1853
i cannot reproduce this on macOs 10.15 with firefox. what browser/os are you using?

[2020-01-28 16:06] thijstriemstra commented on #1855
@jameyquinn these config settings do not match the screenshot(s), there are no bars visible. Also, try removing the `minPxPerSec` option.

[2020-01-28 21:02] MarcoMedrano commented on #1649
Did you find how to? I am having same problem with a S3 which i configured as public and allowing CORS.
Got same other requests in my app do not have any problems but wavesurfer.

[2020-01-31 08:59] Sibgha228 commented on #1381
@MileanCo  Were you able to play the ogg file in wavesurfer ? I am using ogv.js to decode and play the ogg file but the player has no controls itself.

[2020-02-02 05:56] nsomaru commented on #1531
Is there any solution or workaround to this? Works fine in Firefox but refuses to play in Chrome.

[2020-02-02 13:07] thijstriemstra commented on #1531
Yeah, see the link; https://goo.gl/7K7WLu Basically create an AudioContext on a user gesture, like button press, and pass that wavesurfer using `audioContext` parameter.

[2020-02-04 19:44] lionel-lints commented on #1684
I just wanted to add in case this is helpful: when using `MediaElement` mode for backend loaded media, I found the mergePeaks at `WaveSurferInstance.backend.mergedPeaks`.

[2020-02-05 03:51] abinav-07 opened #1857 "Wave form to move up instead of the cursor moving down."
I am trying to move the waveform up and make the cursor static in one position. Can I get some help with that? Plus, my waveform is vertical!!
And one more thing, Is there a way to increase the length of the cursor ?

[2020-02-05 09:57] thijstriemstra commented on #1857
can you add a screenshot of what you're trying to achieve?

[2020-02-07 11:55] lyvija opened #1859 "wavesurfer load() 404 on http://localhost:3000/../[object%20HTMLAudioElement]"
Hey,
I'm trying to display waveform of wav audio from my public folder. I got an error wavesurfer.min.js:4 GET http://localhost:3000/record/admin/[object%20HTMLAudioElement] 404 (Not Found). Any advice to fix my problem? Thank you in advance.

 Wavesurfer.js version(s): ^1.4.0
 Browser and operating system version(s): Ubuntu 18.04.3, Chrome/Firefox

Code:
[code]
Behaviour: After click on record in

[2020-02-09 01:31] codebeat-nl opened #1860 "Examples not working, wrong paths. Worth to invest anyway?"
Hi I want to try your software but I can't. Not online because unpkg.com cannot be reached and the current source doesn't work either because it wants to use a directory that doesn't exist: 'dist' I have used the timeline example.

What I want to know is this, does it provide timing information when processing a wav file. I need this to translate a PWM signal to binary with timing information.

[2020-02-09 14:44] thijstriemstra commented on #1860
I think it was a temporary glitch, seems to work fine now.

After you download the source (using git or zip file), follow these instructions: https://github.com/katspaugh/wavesurfer.js#development

Or simply install using `npm install wavesurfer.js`

[2020-02-09 14:44] #1860 closed

[2020-02-09 14:47] thijstriemstra commented on #1859
@lyvija you need to specify the specific backend, `MediaElement` in this case:

[code]

[2020-02-09 14:47] #1859 closed

[2020-02-09 21:39] drjrodriguez opened #1861 "Regions plugin"
- [x ] I have checked [the FAQ](https://wavesurfer-js.org/faq/) and it doesn't solve my problem.
- [ x] I have checked [the documentation](https://wavesurfer-js.org/docs/) and it doesn't solve my problem
- [ x] I have searched for [already open issues](https://github.com/katspaugh/wavesurfer.js/issues) which desribe my problem.
- [x ] The issue I'm having is related to and caused by wavesurfer.js,

[2020-02-10 06:29] Kucziii commented on #1761
Hey! @thijstriemstra is it possibly going to be merged to master soon? We're having the same issue and currently we're using @martinratinaud fix as a workaround.
Just wanted to let you know it's working properly.

Thanks for your work!

[2020-02-10 12:28] thijstriemstra commented on #1761
there is no pull request to merge. can you make one @Kucziii?

[2020-02-12 14:45] thijstriemstra commented on #1861
@drjrodriguez you forgot to define the `slop` option, see https://github.com/katspaugh/wavesurfer.js/blob/master/example/regions/app.js#L31

[2020-02-12 14:45] #1861 closed

[2020-02-14 15:01] andii04 opened #1862 "wavesurfer load binary"
Hey Im using wavesurfer, and can load file from local storage like:
wavesurfer.load('voiceMails/' + userFilename + '');

Now im getting the .wav as binary like:  [82, 73, 70,  …]

Is there a way to load this binary ? like above the file ?

[2020-02-16 14:16] mehranranji opened #1863 "Problem with interact option"
Hello friends

There was a problem for me that I couldn't find the answer to

Although I set the value of "interact" to "true", it clicks on the sound wave play from the beginning

my constructor:

[code]

load:

`wavesurfer.load(streamURL, soundPeaks);`

[2020-02-17 16:03] hansjjprins opened #1864 "Playing without audio on iOS 13.3.1"
### Wavesurfer.js version(s):
3.3.1 (2020-01-14)

### Browser and operating system version(s):
Safari on iOS 13.3.1

### Code needed to reproduce the issue:
[code]

### Use behaviour needed to reproduce the issue:
Trying to play the audio does not create any errors and visually all seems to work. However, no sound can be heard. The same is true for examples that are supplied on the official Wavers

[2020-02-18 01:57] thijstriemstra commented on #1863
can you explain, not sure what you mean.

[2020-02-18 01:59] thijstriemstra commented on #1862
yes, turn you .wav file into a `Blob` instance and use `wavesurfer.loadBlob()` to load it.

[2020-02-18 01:59] #1862 closed

[2020-02-18 07:29] mehranranji commented on #1863
I load the sound file with the predefined peaks with the command below:
`wavesurfer[index].load(item_sound_url, item_sound_peaks, "auto");`
But by clicking on the waveform when the interact value is true, the sound is played back from the beginning.
This is not a problem if I don't load the sound without predefined peaks and the sound can be easily dragged back and forth. for example:
`wavesurfer[

[2020-02-18 16:47] morefx opened #1865 "Sample Rates > 44100Hz"
# Sampling rates > 441100Hz get ignored
WAV files containing signals above 22kHz (respectively files with sampling rates above 44100kHz) are not processed correctly. High frequencies seem to be ignored.

### Wavesurfer.js version(s):
Tested on wafesurfer 3.3.1 and  dschoon / react-waves 3.0.1

### Browser and operating system version(s):
Google Chrome 80 and Firefox 73 on Ubuntu 19.10

### Code ne

[2020-02-18 21:17] octave opened #1866 "Needs two clicks to play in Safari 13.0.5 with preloaded peaks."
### Wavesurfer.js version(s): 3.3.1

### Browser and operating system version(s): Safari 13.0.5 / MacOS 10.14.6

### Code needed to reproduce the issue:

[code]

### Use behaviour needed to reproduce the issue:

In Safari, when clicking the play/pause button the first time, it loads the file but doesn't start to play. It works only when pressing a second time.

I tried to use the `backend: 'MediaE

[2020-02-20 06:41] kphurley commented on #1864
Also running into this.  Affects both Chrome and Safari on iOS 13.3.1.  Could be related to this:  https://bugs.webkit.org/show_bug.cgi?id=203435

[2020-02-20 11:27] loretoparisi opened #1867 "Spectrogram: async load using webworker"
Thank you for this amazing piece of software!
I have noticed that plugins load on the main thread, so a heavy cpu bound plugin like the `spectrogram` here:

[code]

will freeze the UI running on the main thread while calculating the `FFT` etc. It would be possibile to run it in background like using a worker thread?
My use case is when using a generated `colorMap`, `annotations` like this:

[code]

[2020-02-20 13:54] loretoparisi commented on #1867
**[UPDATE]**
Looking at the code, it should be enough doing the following

When in
https://github.com/katspaugh/wavesurfer.js/blob/master/src/plugin/spectrogram.js#L497
[code]

the `getFrequencies` should be called asynchronously in a Web Worker, something like this:

`(spectrogram.js)`
[code]

so we will post the current audio buffer to the Worker, that will calculate in a separate thread the FFT

[2020-02-20 15:49] drjrodriguez commented on #1861
Got it. It's working for me now.
[code]

[2020-02-22 13:35] thijstriemstra commented on #1867
sounds good! Pull requests are welcome.

[2020-02-22 13:39] thijstriemstra commented on #1865
@morefx take a look at first result of https://github.com/katspaugh/wavesurfer.js/search?q=44100&unscoped_q=44100

Basically the audio context used by wavesurfer is always pinned at 44100 it seems, unless you pass in your own audioContext. Can you confirm it works when passing in your own audiocontext?

[2020-02-22 13:42] thijstriemstra commented on #1864
so this can be closed?

[2020-02-22 13:43] kphurley commented on #1864
I’d say so yes.

On Sat, Feb 22, 2020 at 7:42 AM Thijs Triemstra <notifications@github.com>
wrote:

[2020-02-22 20:06] octave commented on #1866
@thijstriemstra thanks for updating the issue. Is there any workaround in the meantime?

[2020-02-22 20:59] thijstriemstra commented on #1866
create the `audioContext` when the user presses a btn, and pass that to wavesurfer.js at startup using the audioContext option.

[2020-02-24 10:13] loretoparisi commented on #1867
@thijstriemstra how it works to compile?

[2020-02-24 12:52] thijstriemstra commented on #1867
@loretoparisi see https://github.com/katspaugh/wavesurfer.js#development

[2020-02-24 23:10] octave commented on #1866
@thijstriemstra my instances of wavesurfer.js are rendered at page load to display waveforms. So I can't pass an audioContext if the instance is already created correct?

What I'm wondering is when clicking the play/pause button the first time that calls `wavesurfer.playPause();` wavesurfer.js is creating the audioContext and so should make it work.

I did a quick demo that create an audioContext

[2020-02-25 03:13] bwang514 opened #1868 "Cancel Region Play Loop Properly"
Hi, thanks for making this fantastic repo!

I'm trying to build a system with which users can freely navigate the video and loop whatever intervals they want. The region plugin seems to work properly at first glance. However,  it seems there are some bugs with the region plugin, specifically associated with looping.

[Problem]
1. Once I start looping on a region, I would not be able to use the nat

[2020-02-25 06:24] nilesh121196 commented on #1515
Hi, Please check code snippet file.
check above mentioned ticket and just modify code there.

`
'use strict';

var isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
var wavesurfer, context, processor;

// Init & load
document.addEventListener('DOMContentLoaded', function() {
    var micBtn = document.querySelector('#micBtn');

    micBtn.onclick = function() {
        if (wave

[2020-02-25 06:30] nilesh121196 commented on #1030
check this to record and play audio by microphone plugin:
https://github.com/katspaugh/wavesurfer.js/issues/1515#issuecomment-590705075

[2020-02-25 06:30] nilesh121196 commented on #392
Check it out to record and replay audio from microphone plugin:
https://github.com/katspaugh/wavesurfer.js/issues/1515#issuecomment-590705075

[2020-02-26 13:31] longyarnz commented on #1862
Hello, I tried using the `wavesurfer.loadBlob` method to load a blob but I get this error instead:
![image](https://user-images.githubusercontent.com/19750988/75349216-a8e9d900-58a4-11ea-99de-d82332d1887d.png)

[2020-02-26 13:33] longyarnz opened #1869 "Wavesurfer.loadBlob error"
Hello, I tried using the `wavesurfer.loadBlob` method to load a blob but I get this error instead:
![image](https://user-images.githubusercontent.com/19750988/75349216-a8e9d900-58a4-11ea-99de-d82332d1887d.png)

And the error points here:
![image](https://user-images.githubusercontent.com/19750988/75349292-d171d300-58a4-11ea-9a75-c6deac10aac9.png)

_Originally posted by @longyarnz in https://github

[2020-02-26 13:37] #1869 closed

[2020-02-26 14:06] thijstriemstra commented on #1862
what does your wavesurfer.js config look like? this error looks unrelated to wavesurfer, `container` is undefined...

[2020-02-26 14:54] surajsonee opened #1870 "Do we can implement function on button click it will save selected audio parts?"
Hello,
I have implemented a function on selecting audio range(start and end time) clicking on selected audio range its save the audio in a specific folder.

Do we can implement function on button click it will save selected audio parts in a folder.

Thank you

[2020-02-27 05:12] longyarnz commented on #1862
The snapshots are from the wavesurfer library. This is my config:
[code]

[2020-02-27 05:13] longyarnz commented on #1862
Thank you for replying @thijstriemstra . I didn't think anyone would try to look into it, so I closed the issue!

[2020-02-28 11:30] Aparus opened #1871 "Is there a way to show Waveform from youtube video?"

[2020-02-28 12:10] thijstriemstra commented on #1862
you can only use `loadBlob` with the `WebAudio` backend.

[2020-02-28 12:31] thijstriemstra commented on #1871
No, not that I know.

[2020-02-28 12:32] thijstriemstra commented on #1870
Are you suggesting an enhancement? can you open a pull request?

[2020-02-28 12:43] thijstriemstra commented on #1853
no feedback, closing.

[2020-02-28 12:43] #1853 closed

[2020-02-28 12:44] thijstriemstra commented on #1723
Closing then. Please comment or re-open if anyone still has issues here.

[2020-02-28 12:44] #1723 closed

[2020-02-28 12:46] thijstriemstra commented on #1750
found a fix, closing the ticket.

[2020-02-28 12:46] #1750 closed

[2020-02-28 12:49] thijstriemstra commented on #1808
try this example: https://github.com/katspaugh/wavesurfer.js/tree/master/example/audio-element

[2020-02-28 13:00] thijstriemstra commented on #1834
no feedback, closing.

[2020-02-28 13:00] #1834 closed

[2020-02-28 13:01] thijstriemstra commented on #1838
No feedback, considering this closed.

[2020-02-28 13:01] #1838 closed

[2020-02-28 13:32] Aparus commented on #1871
But I think there is a way to extract audio stream from youtube video and give it to wavesurfer ;-)
Any ideas? I want to do something like youtube subtitles editor, but better :)
![Screenshot from 2019-09-28 23-18-13](https://user-images.githubusercontent.com/1222611/75552654-d1f69f00-5a47-11ea-83ab-3164adba904b.png)

[2020-02-28 13:36] thijstriemstra commented on #1871
You can install `youtube-dl` and use that to download it and convert it to mp3 (but you can also use the mp4 video instead):

[code]

Which then can be loaded into youtube.

[2020-02-28 13:49] Aparus commented on #1871
@thijstriemstra

Oh, thanks, now I have find examples about it :)
https://wavesurfer-js.org/example/video-annotation/index.html
https://wavesurfer-js.org/example/video-element/index.html
Is there any other links about using video? I looked at docs but I haven't find mention of video.
https://wavesurfer-js.org/doc/

[2020-02-28 14:06] thijstriemstra commented on #1871
The examples or source code are available.

[2020-02-28 14:06] #1871 closed

[2020-02-28 17:03] thijstriemstra commented on #1855
no feedback, closing.

[2020-02-28 17:03] #1855 closed

[2020-02-29 09:17] stuible commented on #1864
I am also experiencing this issue on iOS Safari.  I can only hear the audio being played if I turn my phones ringer on.  If I have it on silent mode, I can hear normal audio but wavesurfer plays silence.  I am on iOS 13.3.1 as well/

[2020-03-01 00:33] interactionsolutions commented on #1755
I have it working to a point.
[code]
note.png is simply a red mark I place on the waveform. On a sterio waveformit appears between the two conversations.
I now create a region for that particular part of speech.
The next challenge is to get the region to show up on page load. -- I'll open another discussion on that !.
would I be correct in thinking you would need to create another canvas, over the

[2020-03-01 06:02] alittlebitweird opened #1873 "How do you import plugins as a module?"
I'm able to successfully import wavesurfer but I can't figure out how to import the regions plugin as well.

[2020-03-01 22:08] thijstriemstra commented on #1755
can you add screenshot?

[2020-03-01 23:11] thijstriemstra commented on #1873
See https://github.com/katspaugh/wavesurfer.js/blob/master/src/plugin/regions.js#L635

[2020-03-02 04:10] interactionsolutions commented on #1755
HI Thijs,

      Here is a screen shot of what I have working so far.
Second screen shot is with the small red vertical bar, under the region.

I have not been able to work out how to get it anywhere else on the canvas. On a mono recording it appears to be centered on the center line of the audio.

BTW… Love your work with this library.

From: Thijs Triemstra <notifications@github.com>
Sent: Monda

[2020-03-02 12:35] thijstriemstra commented on #1755
doesn't seem to be included.

[2020-03-02 13:16] interactionsolutions commented on #1755
HI Thijs,

                     Sorry about that…

Here is the screen shot.

And here is the second which was included in the last email. It’s a bit hard to see but there is a small vertical red line which is the lastposition value.

Regards

Alan McIntosh

From: Thijs Triemstra <notifications@github.com>
Sent: Monday, 2 March 2020 10:36 PM
To: katspaugh/wavesurfer.js <wavesurfer.js@noreply.github

[2020-03-02 13:17] thijstriemstra commented on #1755
Apparently it's not possible to share images on github using email.

[2020-03-02 14:20] KonstantinKai commented on #1487
`barMinHeight` is available to control this case

[2020-03-02 14:24] #1487 closed

[2020-03-02 17:27] morefx commented on #1865
Passing a seperate audio context works.

Hovever I am seeing artifacts in the waveform and the spectrogram, esp with wav files with high sampling rates. There seems to be a limitation in the precision that JS can provide in this context. Contact me for a comparison of waveforms and spectrograms rendered with wavesurfer.js and python.

[2020-03-02 19:08] thijstriemstra commented on #1865
can you add a screenshot(s)?

[2020-03-02 19:18] Aparus commented on #1871
@thijstriemstra

Do you mean, that I can extract mp4 from youtube video in my app? If yes, how? :)

[2020-03-02 20:13] thijstriemstra commented on #1871
yes like I said, using youtube-dl: https://github.com/katspaugh/wavesurfer.js/issues/1871#issuecomment-592515700 Check their documentation for more details.

[2020-03-03 09:48] morefx commented on #1865
Here a screenshot of different versions of an artificial sound sweep from 1Hz to 96kHz with unchanged amplitude over the whole signal (should not show gaps in waveform and a very even spectrogram).
![wafesurfer vs python](https://user-images.githubusercontent.com/1260410/75762988-d8cd2c80-5d3b-11ea-9d06-df9bf1bdabed.png)

[2020-03-03 13:32] thijstriemstra commented on #1865
what does your wavesurfer.js config look like?

[2020-03-03 14:49] morefx commented on #1865
Using next / react react-dom / yarm:
`
import dynamic from "next/dynamic";
import {useTheme} from "@material-ui/core";
import React, {useEffect, useState} from "react";
import {makeStyles} from "@material-ui/core/styles";
import * as md5 from "md5";

const ReactWaves = dynamic(() => import("@dschoon/react-waves"), {ssr: false});

const SAMPLE_RATE = 192000;

const useStyles = makeStyles(() => ({

[2020-03-03 15:07] thijstriemstra commented on #1865
hmm. can you reproduce it without 'ReactWaves'?

[2020-03-03 17:28] morefx commented on #1865
Unfortunately I can't as I am not a JS developer. We coded this on a quick sprint as a proof of concept. And by "we" I mean "they" ;-)

[2020-03-03 22:28] naumanahmed19 commented on #1473
any update on this issue?

[2020-03-04 05:00] aphiwemagama opened #1874 "Regions"
How do I play the created region and only that region?

[2020-03-05 10:56] vatologic commented on #1093
Same issue here. With WebAudio seeking works as expected - yet with the MediaElement as a backend every time I seek it plays from the beginning. The values of getDuration() and wavesurfer.progress are (weirdly enough) correct.

[2020-03-05 12:36] vatologic commented on #492
It seems Chrome still isn't playing nice with MediaElement as a backend. I'm using a script that caches an audio file into an IndexedDB blob; seeking resets in Chrome, works fine in FireFox and Safari. Only workaround is to sniff the browser and make Chrome use WebAudio as backend, which is a pity since I kind of need that MediaElement to use other audio related plugins.

[2020-03-05 14:29] #1873 closed

[2020-03-06 11:34] bilalcorbacioglu commented on #1874
Hi @aphiwemagama,

You have region data right? It's so simple,

`/* Play the audio region. */
    play() {
        this.wavesurfer.play(this.start, this.end);
        this.fireEvent('play');
        this.wavesurfer.fireEvent('region-play', this);
    }`

Please check for more information
https://wavesurfer-js.org/doc/file/src/plugin/regions.js.html

[2020-03-06 18:47] DrLongGhost opened #1875 "Prettier Breaks Webpack Builds with "Super expression must either be null or a function""
### Wavesurfer.js version(s):
Behavior present in 3.3.1
Behavior absent in 2.0.5

### Browser and operating system version(s):
Wavesurfer vendor bundle throws fatal errors in all browsers when built with Webpack. There are possibly other contributing packages but the issue originates with Wavesurfer's use of a prettier version greater than 1.13.*

### Code needed to reproduce the issue:
I am build

[2020-03-06 19:12] DrLongGhost commented on #1875
The error seems to be thrown in drawer.js and is related to how prettier is generating ES5(?) code from the original ES6. In the screenshot below is the stack trace that shows the minified code on the left with the exception being thrown highlighted. The code on the right is from drawer.js and they match up, except Prettier or something else added the exception handling which is being triggered. T

[2020-03-06 20:38] DrLongGhost commented on #1875
Ok. I was able to resolve the issue by upgrading Webpack and expose-loader. Sorry for the noise.

[2020-03-06 20:38] #1875 closed

[2020-03-09 03:00] delewis13 commented on #938
@entonbiba was this ever added / does it still exist? If not, do you have any pointers on what to edit in a custom renderer to achieve this effect? Cheers :)

[2020-03-10 18:46] gadicker commented on #443
I know this is closed but just in case someone else has this issue like I did I found it was because I had created WaveSurfer with the partialRender option true.  I set it to false or just don't include it when you create the WaveSurfer object because it defaults to false.

[2020-03-15 19:39] webaschtl commented on #1405
Hmm, having the same problem – in the year 2020 ;-)

![image](https://user-images.githubusercontent.com/1423232/76709170-cf10d500-66fc-11ea-8230-cf2ddffb1e8a.png)

Therefore _exportPCM_ still works not as it should be?!
Or do you found a solution, @peerfischer?

Thanks a lot – two years after...

[2020-03-16 15:58] bilalcorbacioglu commented on #1819
@kishan143-jaiswal Please check;

https://wavesurfer-js.org/example/annotation/index.html

[code]

[2020-03-16 20:39] deniro21 opened #1878 "The regions plugin in the mobile version blocks first click outside (bug)"
### Wavesurfer.js version(s):
Last (https://unpkg.com/wavesurfer.js)

### Browser and operating system version(s):
Chrome 80.0.3987.132 64bit Windows 7
Chrome on Android

### Code needed to reproduce the issue:
Only official example: https://wavesurfer-js.org/plugins/regions.html

### Use behaviour needed to reproduce the issue:
The essence of the bug: after resizing a region in the mobile version

[2020-03-17 01:04] manoharreddyporeddy commented on #1422
@FrankLiii Please post your solution here. Thank you

[2020-03-17 19:09] airspin opened #1879 "empty gaps"
@katspaugh , help me please:

i set: barWidth: 2, barGap: 2, barMinHeight: 2,

when part of sound has silent or when it is very quiet - we have empty gaps on wave.
barMinHeight not work.

![image](https://user-images.githubusercontent.com/8886632/76892466-d15d6580-689b-11ea-8e8e-db8947a38bf8.png)

[2020-03-18 18:11] #1879 closed

[2020-03-18 18:12] airspin commented on #1879
mistake

[2020-03-19 12:13] yannicklaclau opened #1880 "make progressColor only apply when playing inside a region"
Is there any way to make the progressColor active only when playing inside a region?

For example:
- audio of 60 seconds
- region between 10 seconds and 20 seconds
- if you play the audio, progressColor shows only for the waveform between 10-20 seconds
- the rest of the waveform, 0-10 and 20-60, shows the default waveColor

I've searched around but it doesn't seem like this is possible - the progr

[2020-03-19 12:49] #1874 closed

[2020-03-21 12:07] styk-tv opened #1881 "WS-native LOOP option/property"
Every question here for a loop help is automatically marked with [plugin] label (please do not).

I would argue that to not allow precise loop capability on the player natively excludes a large population of potential userbase (promoting and living in loop universe). If i want to present a loop to my users, i want to be able to load an asset into WS instance, set loop to true and not have to think

[2020-03-22 13:44] alittlebitweird opened #1882 "CORS Audio Loading"
Struggling to get past the following error when loading audio files from s3:

`MediaElementAudioSource outputs zeroes due to CORS access restrictions for <some s3 url>`

The waveform loads properly but you can't playback the audio.

I'm using the xhr option, but it's unclear what to pass in as the authorization token. I tried using the S3 access key id, I also tried generating this credential stri

[2020-03-22 19:21] belvederef commented on #1517
It would be a good idea to add this to the readme, before showing how to import it.

[2020-03-22 21:16] thijstriemstra commented on #1517
@belvederef good idea, feel free to make the change and open a pull request.

[2020-03-22 21:20] thijstriemstra commented on #1882
have you tried https://docs.sumerian.amazonaws.com/tutorials/create/beginner/s3-video/

[2020-03-22 22:07] alittlebitweird commented on #1882
@thijstriemstra I'm sorry, I just looked over that three times and it's pretty unclear what that has to do with anything...

My S3 bucket is fully public and the CORS policy is even less specific

[2020-03-22 22:42] thijstriemstra commented on #1882
I do not use S3, sorry.

[2020-03-23 15:49] lorenzos opened #1884 "Sometimes peaks are drawn twice, because of requestAnimationFrame timing"
While testing semi-transparent bars (i.e. `waveColor: '#FFFFFF55'`) in a playlist context, I noticed they were more opaque at random times when loading a new track. Turns out they're rendered twice, one on top of the other, suggesting something isn't right in the clearing process.

Upon further investigation, I saw that for some reason [`clearWave`](https://github.com/katspaugh/wavesurfer.js/blob/

[2020-03-23 18:05] adamiusz opened #1885 "time marker and EDGE support"
Is going to style a thin line that moves with time on wave form?

How to make wave form appear in Edge browser?

[2020-03-23 20:12] robert8888 opened #1886 "exportImage() - TypeError: this.drawer.getImage is not a function"
exportImage() function call drawer.getImage(), but drawer object dos't have function getImage();
drawer.canvas and drawer.muliticanvas have it but it seems that on layer drawer is not connected.

[2020-03-24 10:17] 44886 opened #1887 "waveSurfer can only Listen last one audio？"
There is many audios in my page.

I create WaveSurfer in "for" , put the waveSurfer in an array.
![img](https://cdn.jsdelivr.net/gh/44886/cdn/temp/20200324/waveSurfer1.png)

the "on" Event is in "for" too.

then,I found , the "load" is ok ，all  audios can show  wave。

but, all the "on" Event can only Listen the last audio。

![img](https://cdn.jsdelivr.net/gh/44886/cdn/temp/20200324/waveSurfer2.png

[2020-03-24 14:50] thijstriemstra commented on #1884
Thanks for investigating this and providing details.

This sounds like a bug. I assume the tests don't fail with your change? Can you make a pull request so we can take a look @lorenzos?

[2020-03-24 14:51] thijstriemstra commented on #1885
See #1761

marking this as a duplicate.

[2020-03-24 14:51] #1885 closed

[2020-03-24 14:52] thijstriemstra commented on #1886
@robert8888 can you a supply a simple example that shows how to reproduce this problem?

[2020-03-24 14:53] thijstriemstra commented on #1887
@44886 can you make a simple example that reproduces this problem?

[2020-03-24 15:17] lorenzos commented on #1884
I not 100% sure it's a bug; I just traced the calls, but it's difficult to understand the whole picture. I'll try running the tests and making a PR as soon as I have same spare minutes. Thanks for the interest.

[2020-03-24 15:22] thijstriemstra commented on #1884
What happened if you loaded 4 tracks, did it still get called twice or did it draw 4 times?

[2020-03-24 16:07] 44886 commented on #1887
this is my code:
[code]

If I render many audios , the event can only show the last audio's info.

[2020-03-24 16:22] adamiusz commented on #1885
Thanks for link, but how i can change style for thin line that moves with time on wave form?

[2020-03-24 16:30] thijstriemstra commented on #1885
Use the `cursorColor` option. See https://wavesurfer-js.org/docs/options.html

[2020-03-24 16:34] adamiusz commented on #1885
Thank You! Can too change width?

[2020-03-24 16:35] thijstriemstra commented on #1885
Read the documentation, I already linked it for you.

[2020-03-24 16:37] adamiusz commented on #1885
It's really nice! Thank You.

[2020-03-24 17:03] lorenzos commented on #1884
I load each track at a time, in a playlist-like app. Every time a new track is loaded, `clearWave` always get called, so there's no way more than 2 waveforms (which are always the same) are drawn on top of each other.

[2020-03-25 14:12] kishan143-jaiswal commented on #1819
thanks for response , its worked

[2020-03-25 14:12] #1819 closed

[2020-03-25 17:50] deniro21 opened #1888 "How can I disable the click (or seek event) outside the region?"
Hello. I need to make the needle move only if the click has been made inside the region. If the click is made outside the region, I would like to turn off any actions, as if the "interact: false" option was enabled. How can i do this? Thanks in advance.

[2020-03-26 21:40] claudioemmanuel commented on #1311
@thijstriemstra and @x5engine
hi, i have a similar problem, i`m using the following library

below is my code where i was returning the audio peaks in an interval, 3 days ago it was working normally, until yesterday it was working normally,

today it just stopped returning some value and is returning an empty array

could someone tell me what am i doing wrong? I spent 6 hours today trying to solve

[2020-03-26 21:43] claudioemmanuel opened #1891 "wavesurfer.backend.getPeaks is returning an empty array"
@thijstriemstra and @x5engine
hi, i have a similar problem, i`m using the following library

below is my code where i was returning the audio peaks in an interval, 3 days ago it was working normally, until yesterday it was working normally,

today it just stopped returning some value and is returning an empty array

could someone tell me what am i doing wrong? I spent 6 hours today trying to solve

[2020-03-26 22:40] thijstriemstra commented on #1311
you're using a really old version of wavesurfer. Use a 3.x version instead.

[2020-03-26 22:43] thijstriemstra commented on #1891
Try using the latest version: `<script src="https://unpkg.com/wavesurfer.js"></script>`

[2020-03-26 23:04] claudioemmanuel commented on #1311
@thijstriemstra
even including the minified script: `<script src="https://unpkg.com/wavesurfer.js"></script>` the problem remains

below is my code where i was returning the audio peaks in an interval, 3 days ago it was working normally, until yesterday it was working normally,

today it just stopped returning some value and is returning an empty array

if i remove the backend option from the setu

[2020-03-27 04:40] kishan143-jaiswal opened #1892 "issue related wavesurfer audioprocess events"
i am facing problem like when i m playing first song and then i pass to second song while playing first one. wavesurfer audioprocess events still keeps on firing till the second audio loads and its fires ready events
because of this i m getting the wrong progress of audio which fluctuates the wavesurfer drawer
i also tried to pause the wavesurfer and load the next song, but it wass helpless

[2020-03-27 12:52] claudioemmanuel commented on #1891
@thijstriemstra
even including the minified script: `<script src="https://unpkg.com/wavesurfer.js"></script>` the problem remains

below is my code where i was returning the audio peaks in an interval, 3 days ago it was working normally, until yesterday it was working normally,

today it just stopped returning some value and is returning an empty array

if i remove the backend option from the setu

[2020-03-27 14:38] thijstriemstra commented on #1891
Ok well, that's an issue on your side I guess. Did you use git? check what changes you made since then..

[2020-03-27 15:02] claudioemmanuel commented on #1891
there was no change, I'm using git but there was no change, as I informed the code was working for 2 days, yesterday stopped working and return the values in getPeaks ()

if you have a code snippet and the cdn`s that i can use as an example of returning the audio peaks, i would be grateful

[2020-03-27 20:18] thijstriemstra commented on #1892
can you show a minimal example that reproduces this issue?

[2020-03-28 21:47] roballsopp opened #1894 "Can I use wavesurfer only for drawing?"
I'd like to simply draw the waveforms of the audio in videos that I load into an html5 video tag. This works pretty well for the first video using the `MediaElement` backend, but when I programmatically change the video loaded in my video tag wavesurfer doesn't behave so well. It doesn't automatically redraw the waveform to correspond to the audio in the newly loaded video like I'd expect, and if

[2020-03-28 22:22] matt3224 commented on #1866
I also ran into this today in Safari 13.1 and wavesurfer 3.3.1

[2020-03-29 14:47] Zegorax commented on #77
I have exactly the same issue as @k-bx but using Safari 13.1

[2020-03-29 20:38] #1884 closed

[2020-03-30 10:21] #1771 closed

[2020-03-30 11:39] bilalcorbacioglu commented on #1260
I followed this way to solve Overlapping. It is not very performing but it works.

I sorted the labels in the Initializer. Then I defined beforeLabel and nextLabel in the "attributes" field of each label. If there is a label before or after, I assigned it to variables. (You can see the sample code below.)
[code]

In the "region-updated" event, I made a definition like this.

[code]

![ezgif-4-1c7c

[2020-03-30 14:20] azimbialiev opened #1896 "exportPCM Wrong method return type"
I'm actually using wavesurfer.js@3.3.1 with Typescript 3.8
VS Code suggest me that wavesurfer.exportPCM() is not an async function

`WaveSurfer.exportPCM(length: number, accuracy: number, noWindow?: boolean | undefined, start?: number | undefined): string`

But the official documentation says

`exportPCM(length: number, accuracy: number, noWindow: boolean, start: number, end: number): Promise`

[2020-03-31 23:16] alittlebitweird opened #1897 "Is there a way to control the attack of the playback?"
Would love to be able to ramp the volume of playback to reduce clicks of starting/stopping mid waveform.

[2020-04-01 05:38] kishan143-jaiswal commented on #1892
[code]

[2020-04-01 14:18] thijstriemstra commented on #1896
Where did you find this, can you link it?

[2020-04-02 03:28] alittlebitweird commented on #362
how can you access / modify the audio buffer directly?

[2020-04-02 05:33] 44886 opened #1898 "abortController is not defined."
So many people use QuarkBrowser.  https://www.myquark.cn/
but , it do not support abortController.

I use this code :
[code]

but,Is there other  easy way to show waveform on that browser?

[2020-04-02 07:20] 44886 commented on #1887
I resolve it!
put it in (function(){})();
[code]

[2020-04-02 11:55] #1887 closed

[2020-04-02 11:56] thijstriemstra commented on #1898
duplicate of #1832

[2020-04-02 11:56] #1898 closed

[2020-04-02 12:44] ahsanjamilarkhitech opened #1899 "Timeline labels positioning."
Can anyone tell me how to place the labels below the notch instead of on the right side of the notch?

[2020-04-03 09:13] thijstriemstra commented on #1899
This is not possible yet. Pull requests are welcome.

[2020-04-05 21:01] atomoc commented on #1816
Yeah, this is a critical mistake.

[2020-04-07 05:30] larryq opened #1901 "Safari not playing mp3s from our S3 bucket, others (Chrome etc) being inconsistent"
Hi everyone,

We're working with a client that is using wavesurfer and is having trouble playing files from our Amazon S3 bucket.  We've been testing with version 3.3.1 and  while things work in Chrome and Firefox --for the most part-- unfortunately Safari (latest version) is just not playing them.

What do I mean by 'for the most part'?  Well, if we set some breakpoints in wavesurfer, such as at

[2020-04-07 23:45] Pomax opened #1903 "site/docs don't explain how to use the spectrogram plugin"
Looking at https://wavesurfer-js.org/plugins and https://wavesurfer-js.org/example/spectrogram/index.html it is entirely unclear how this plugin is supposed to get loaded.

The second link has an example that is literally impossible, because you can't reference a variable before it's been declared (the `wavesurfer` var does not exist yet, so the `wavesurfer: wavesurfer` instruction is an error), a

[2020-04-07 23:49] Pomax opened #1904 "remove the cookie banner on website"
GDPR requires a cookie banner if you use cookies to uniquely identify individuals - i.e. you can tie sessions over time to unique individuals. If you don't do that, and you absolutely shouldn't because your site in no way warrants that, the cookie banner serves no purpose other than to be a nuisance.

[2020-04-07 23:55] Pomax commented on #1903
Also, the docs for spectogram say that `wavesurfer` is required, but the actual code on view-source:https://wavesurfer-js.org/example/spectrogram/app.js doesn't use it at all, so... it's not required?

[2020-04-08 00:10] Pomax opened #1905 "feature request: spectrogram plugin `height` property"
Right now the spectrogram plugin does not have any way to indicate the dimensions it needs to fit in, and it would be super useful if it did, in order to present users with an Izotope RX style "waveform overlaid on the spectrum analysis" view of the audio they're working with.

[2020-04-08 05:36] rjl20 commented on #1307
I'm trying to get this working myself, and while I can get your code to work with some modifications, I think the soundtouch node starts playing immediately, even if it's not connected to a destination, and the only effect play/pause has is on whether the wavesurfer cursor is moving and whether the playback is routing through the wavesurfer destination or into the void.

My not-quite-working examp

[2020-04-08 10:41] thijstriemstra commented on #1904
sounds good. feel free to open a pull request (against gh-pages branch).

[2020-04-08 10:43] thijstriemstra commented on #1905
:100:

[2020-04-08 15:28] dan24678 opened #1906 "splitChannels Argument Only Partially Supports 3-Channel Audio"
### Wavesurfer.js version(s):
3.3.1

### Browser and operating system version(s):
Chrome on Mac

### Code needed to reproduce the issue:
Construct a Wavesurfer instance with the "splitChannels: true" argument in which you load audio that contains 3 channels. Here is a sample wav file:

[26394717-ddfe-4924-8505-9cd5f77cddc3_multichannel.wav.zip](https://github.com/katspaugh/wavesurfer.js/files/4451

[2020-04-08 21:29] thijstriemstra commented on #1906
@DrLongGhost I think the issue might be related to the default AudioContext settings wavesurfer.js uses. Basically instantiates this AudioContext for you, if you don't supply one yourself:

[code]

where 1 is nr of channels. Also see #1865 where higher samplerates were not rendered properly.

If you pass your own AudioContext (with 2/3 channels) it should probably work, can you give that a try?

[2020-04-08 21:35] thijstriemstra commented on #1906
And if it doesn't, adjust the hardcoded nr (`1`) of channels here: https://github.com/katspaugh/wavesurfer.js/blob/576c0afa317a44e37257389166b3c86a500aaddf/src/webaudio.js#L92

[2020-04-08 21:37] thijstriemstra commented on #1865
I will close this issue (since you can adjust samplerate using own audiocontext). You also report a separate issue with the spectrogram plugin, can you open a new ticket for that?

[2020-04-08 21:37] #1865 closed

[2020-04-08 22:14] Pomax commented on #1904
I have 177 repos to maintain, so I'm going to leave it at "filing an issue so that the folks who actually maintain wavesurfer can triage and either close or roadmap it" =)

[2020-04-09 03:46] hot4mix opened #1908 "Style/background color issue after upgrading chrome to version 81"
### Wavesurfer.js version(s):
3.3.1 and 3.3.2

### Browser and operating system version(s):
Chrome Version 81.0.4044.92 (Official Build) (64-bit) / Windows 10 1909

### Code needed to reproduce the issue:
[code]

everything was working just fine before chrome updated to 81 last night
this is the appearance i'm after, and as you see it works fine on chrome 80, i downgraded to test that it works.
![

[2020-04-09 15:35] DrLongGhost commented on #1906
@thijstriemstra -- Thanks for the response. It occurs to me now that there are actually three possible ways forward here. I'll start with the one I intend to use for now.

OPTION A: Use MediaElement

It looks like using the MediaElement backend supports playing back 3 channel audio when only 2 speakers are present. Since this is good to go, I'll probably use this as the workaround unless one of th

[2020-04-09 16:23] sundayz commented on #1908
Can confirm this happens on Chrome as of very recently, doesn't seem to happen in Firefox.

[2020-04-09 18:58] thijstriemstra commented on #1906
Something like:

[code]

[2020-04-10 04:18] hot4mix commented on #1908
Yeah, tried with firefox and safari on both windows and mac, but here's the weird thing, is it doesn't happen on latest chrome on Mac.

[2020-04-10 12:14] karolpiczak commented on #1908
Same issue here on Chrome 81.0.4044.92 / Windows for a couple of days.

[2020-04-10 16:06] bhogan-mitre opened #1910 "Elan throws error if tiers is not provided"
Elan parameter `tiers` is [documented as optional](https://wavesurfer-js.org/api/typedef/index.html#static-typedef-ElanPluginParams), although it throws an error if it is not provided.

The problematic segment is this [loop](https://github.com/katspaugh/wavesurfer.js/blob/master/src/plugin/elan.js#L235-L242) over `indeces` that refers to `this.params.tiers`:
[code]

### Wavesurfer.js version(s):
L

[2020-04-11 11:59] delewis13 opened #1911 "getVolume() with WebAudio giving confusing async results"
### Wavesurfer.js version(s):

v3.3.2

### Browser and operating system version(s):

Chrome, MacOS Mojave

### Issue description:

Seems as though when using the default backend, setVolume() is async in nature?
In the below codesandbox, the following happens:
(1) Volume is initially 1
(2) Volume is set to 0.5
(3) Song is played
(4) Volume is logged out. Console indicates volume = 1 [despite having

[2020-04-11 17:52] aburai commented on #1911
Seems your codesandbox example is not public, i get 403 Forbidden.

[2020-04-11 18:46] aburai commented on #1901
A file embed in an audio tag is streamed and CORS is not relevant.
When you use a link to your bucket, the file is downloaded via ajax and CORS is used.

Ensure your request did not timedout, check your settings on AWS.

Sorry, but i could not try anything with Safari. I recommend to set a breakpoint on the load method and step into wavesurfer.

[2020-04-11 20:08] aburai commented on #1816
could not reproduce it, but we have seen, it could happen
@thijstriemstra i create a branch with a possible fix, please have a look, after that i create the PR

[2020-04-11 20:35] aburai commented on #1896
since 3.3.0  `wavesurfer.exportPCM` now accepts an optional `end` argument and returns
  a Promise (#1728)

the doc is correct, but wavesurfer has no typings file so i think vscode do not understand the jsdoc

    /**
     * Exports PCM data into a JSON array and opens in a new window.
     *
     * @param {number} length=1024 The scale in which to export the peaks
     * @param {number} accuracy=

[2020-04-11 20:44] aburai commented on #1892
we can not test this code, but i see that you set `this.wavesurfer.loaded = true` directly after the load, but this is async, you should use the ready event until you can play the audio, only a shot in the dark

[2020-04-11 20:56] aburai commented on #1897
Did you use `wavesurfer.setVolume()`? I do not understand why you must start/stop?

[2020-04-11 21:07] aburai commented on #1886
i think you try to use the function to early. `wavesurfer.drawer.getImage()` exists and works.

[2020-04-11 21:13] aburai commented on #1882
this is our s3 configuration
[code]

[2020-04-12 02:16] delewis13 commented on #1911
Hmm, that's odd - its definitely on public and I can access in incognito mode on chrome. I've updated the link to remove some query string parameters, though they shouldn't have any effect. Can you please try once more?

[2020-04-13 04:33] kishan143-jaiswal commented on #1892
[code]

i have kept ready event also , but the issue is same , its keeps calling the audioprocess events. untill the new source not loaded , till that it gives NaN value in audioprocess events

[2020-04-13 07:05] artinegi1607 opened #1912 "Need to map silence on the given waveform"
Hi, I want to detect silence and also want to label it with "silence" on a waveform.
I tried to achieve this using wavesurfer.backend.getPeaks(). But it is returning me [ ] every time.
The idea was to get the values and test values on the basis of some thresholds.

Why wavesurfer.backend.getPeaks() is empty all the time?
Is there a better to do this?  If yes, please suggest.

[2020-04-13 11:57] Dr-Snuggles commented on #1908
Me 2

[2020-04-13 18:15] thijstriemstra commented on #1886
no response, closing.

[2020-04-13 18:15] #1886 closed

[2020-04-13 18:16] thijstriemstra commented on #1882
And what does your wavesurfer `xhr` option look like @aburai?

[2020-04-14 08:39] DarrenChowles commented on #1908
Experiencing the same issue in Chrome 81. No problems in Firefox.

[2020-04-14 08:42] aburai commented on #1882
i use the default options

[2020-04-14 08:44] aburai commented on #1911
it works now, maybe i find time today to have a closer look

[2020-04-14 09:39] thijstriemstra commented on #1912
How are you using this, can you show an example?

[2020-04-14 09:52] thijstriemstra commented on #1908
Here are the changes for Chrome 81: https://www.chromestatus.com/features#milestone%3D81

Nothing there seems to be related to this issue though..

[2020-04-14 10:00] thijstriemstra commented on #1910
If it's not optional, feel free to open a pull request to update the documentation. If you want to make it optional, go ahead and open a pull request. Thanks!

[2020-04-14 10:09] thijstriemstra commented on #1908
@hot4mix did you also try `rgba(0,0,0,0)` instead of `transparent`?

[2020-04-14 14:13] loretoparisi opened #1913 "Progressive MP3 loading"
Hi I'm loading the waveform from a json file and the audio from a local server

[code]

I see that the player downloads the whole file (~3MB) at `load`. Any way to avoid this?

[2020-04-14 14:51] PetrKnedlik commented on #1908
yeah, same issue Chrome 81. No problems in Firefox.

[2020-04-14 15:03] thijstriemstra commented on #1908
can you see if it's related to this commit: https://github.com/katspaugh/wavesurfer.js/commit/d0187a9533d9492e950e31cd547583293e6a241a

try setting the `drawingContextAttributes.desynchronized` option to `false`:

[code]

[2020-04-14 17:46] karolpiczak commented on #1908
Switching off `desynchronized` painting seems to fix the issue.

[2020-04-14 17:54] thijstriemstra commented on #1908
that's good to hear @karolpiczak. If more people can confirm this, then we can make a new release where this option is `false` by default (unless someone has a better suggestion).

[2020-04-14 17:56] thijstriemstra commented on #1913
what does your wavesurfer config look like?

[2020-04-14 20:11] entonbiba commented on #1882
@aburai try adding this `<AllowedHeader>*</AllowedHeader>`

[2020-04-14 20:24] entonbiba commented on #1904
@Pomax from what I can tell any cookie you see on the demo site are set by cloudflare dns service automatically and not the actual code of wavesurfer library.
![image](https://user-images.githubusercontent.com/5193884/79270023-62a80380-7e6b-11ea-8e73-66b05625bd06.png)

You may go here to view cloudflare cookie policy: https://www.cloudflare.com/cookie-policy/

[2020-04-14 21:50] entonbiba commented on #1757
@diegoiglesias if you need to generate a waveform png from an audio file you can do it here https://waveform.al. However you still need to load the audio data itself to play something, that will still take time if it's a large json object. Do you have the json payload in question that is causing issues?

You can also try setting the backend to MediaElement to load it as html5 audio instead of weba

[2020-04-14 21:52] entonbiba commented on #1757
there's also the option of reducing the size of the waveform peaks by doing the following:
[code]

[2020-04-14 21:56] entonbiba commented on #1752
@kaibrune Does the following exist in your code? I'm not able to replicate it with the example link below:
https://wavesurfer-js.org/example/playlist/index.html

[code]

[2020-04-14 22:00] entonbiba commented on #1911
@delewis13 do the following:

[code]

[2020-04-14 22:01] entonbiba commented on #1911
![image](https://user-images.githubusercontent.com/5193884/79278582-f7196280-7e79-11ea-8346-1d8b695273d8.png)

[2020-04-14 22:41] hot4mix commented on #1908
i did, and it didn't help.

that did the trick, everything looking fine like expected now.

[2020-04-14 23:34] delewis13 commented on #1911
Hey and thanks for taking a look at this :)

Unfortunately I don't think that workaround can be used for my usecase :(

Reason is, every time I click play, I need to perform a fade in. To do so, I drop volume to 0 when play is clicked, then fade in from there. The on-ready solution is only a one-time thing, so while it work will for my first fade in, if I then pause and play again, it doesn't have

[2020-04-15 05:31] artinegi1607 commented on #1912
my query is now resolved. I am getting the array now. Actually, I was trying to get the Peaks before wavesurfer was loaded in an asynchronous way.

Now the challenge is how to map the data with seconds so that I can plot a region over a waveform. Can you help me with this?

[2020-04-15 08:03] DarrenChowles commented on #1908
[code]

Worked for me. Thanks, @thijstriemstra

[2020-04-15 08:45] loretoparisi commented on #1913
@thijstriemstra hello, this is my configuration

[code]

where `plugins` are

[code]

where callbacks are taken from your examples, and regions are filled later on.

[2020-04-15 13:17] marizuccara opened #1914 "Implementing a plugin that extends an existing plugin"
Hi, I would like to override some methods of an existing plugin, extending a basic one. It is possible?

[2020-04-15 18:09] thijstriemstra commented on #1913
try using `backend: MediaElement`.

[2020-04-15 18:10] thijstriemstra commented on #1914
I don't see why not. Give it a try and let us know how it goes.

[2020-04-15 18:47] #1908 closed

[2020-04-16 07:31] marizuccara commented on #1914
I'm asking because as the first step I tried to do this without modifing the library. I simply implemented a class that extends a plugin, like this:
[code]
adding this new plugin to wavesurfer in the classic way:

[code]
but this give me this error:

![image](https://user-images.githubusercontent.com/44341274/79426133-00621680-7fc3-11ea-9769-41ba47202d9d.png)

My suspect is because CursorPlugin is

[2020-04-16 08:36] loretoparisi commented on #1913
@thijstriemstra so if I put that backend, it actually works, immediately firing the ` wavesurfer.on('ready')`, but what happens is that I get all the regions overlapped, as it wrongly calculates the JSON waveform vs the audio file duration.
Shall I have to change the flow in that case?
Currently the whole flow looks like:

[code]

Sidenote: the streaming servers support media streaming (with range

[2020-04-16 09:54] thijstriemstra commented on #1913
try this flow: https://github.com/katspaugh/wavesurfer.js/blob/master/example/audio-element/main.js#L39 I don't use regions plugin, can't help you there. Will close since original issue is solved.

[2020-04-16 09:55] #1913 closed

[2020-04-16 10:16] thijstriemstra commented on #1914
@marizuccara I would use a different name, you used `name: 'cursor'` for both classes.

eg. `myCursorExtension`:

[code]

Also take a look at the tests for the plugin API: https://github.com/katspaugh/wavesurfer.js/blob/master/spec/plugin-api.spec.js

[2020-04-16 11:02] Garnetoff opened #1918 "Long track in mobile"
Hi.
If track over 1h, then site crashes in mobile phone. On desktop everything is fine.

[2020-04-16 11:24] thijstriemstra commented on #1918
mobile device does not have enough resources compared to your desktop.

[2020-04-16 12:42] marizuccara commented on #1914
Thanks for the answer! I solved my problem, but in different way.
The problem was that my `CursorCustomPlugin` class extends native ES6 class (wavesurfer's `CursorPlugin` class) and  is transpiled to ES5 with Babel. But transpiled classes cannot extend native classes, because ES6 classes are only called with `new`. So I modified my `babel.config.js` file setting the `targets` configuration of the

[2020-04-16 13:00] thijstriemstra commented on #1914
good to hear. Maybe you could add an example implementation in the 'plugin system' example that extends the cursor plugin for example.

[2020-04-16 23:00] larryq commented on #1901
Thanks for your help.  The library works on these mp3 files when used in Chrome and Firefox, but not Safari.  So I don't think it's an AWS or CORS issue from that.

What we'd really like to know is if anyone has encountered this problem with Safari, where the library is 'pickier' with certain encodings than on Chrome and FF?

[2020-04-17 09:37] yo-png opened #1920 "How to export WaveSurfer js region as audio file?"
Hi🖐!

I'm using WaveSurfer js for my project where we can edit an audio. For that i use the region plugin.

When the users clicks the button finish, I want to export the result in a audio file (mp3/wav)

To get the peaks of the audio where the user selected his audio, I do:

var json = wavesurfer.backend.getPeaks(960,  wavesurfer.regions.list["wavesurfer_j99v7ophop8"].start, wavesurfer.regions.lis

[2020-04-17 13:01] marizuccara commented on #1914
You mean add only a description to how do this here:
https://wavesurfer-js.org/example/plugin-system/index.html

or also adding an another plugin "CursorCustom" to select?
 I'm asking because I've extended the plugin to not modify the library code internally. But I've modified only the method `updateCursorPosition`, change that taken alone adds nothing if everything else remains the same.

[2020-04-17 14:34] thijstriemstra commented on #1914
Yeah, another plugin (and include some words about it in that example description).

[2020-04-17 22:14] alexnitta commented on #1644
I'm seeing a similar error, but for a small .aiff file (402 kb). I see two errors in the console:

[code]
and:
[code]

Perhaps this issue should be reopened, as it does not seem specific to large files?

[2020-04-21 14:51] bhogan-mitre commented on #1910
PR merged, closing this.

[2020-04-21 14:51] #1910 closed

[2020-04-22 10:52] marizuccara opened #1923 "MediaElementWebAudio destroy method"
Hi, since MediaElementWebAudio backend inherits from MediaElement backend, when destroy method is called, it calls the MediaElement backend destroy method, which destroy the media audio tag. But, since MediaElementWebAudio uses WebAudio features, it should be better if we destroy also web audio related stuffs, as disconnecting audio nodes, close audio context, destroy it, etc (the same methods whi

[2020-04-22 11:03] thijstriemstra commented on #1923
Sounds good. Please open a pull request if you have a possible solution (without duplicating a lot of code).

[2020-04-22 12:40] #1914 closed

[2020-04-23 10:47] chekit opened #1924 "Wavesurfer doesn't load media file if peaks array specified"
Hi, I didn't find related issues, so created my own.

The problem is if we call _wavesurfer.load_ method with peaks array parameter, it won't start downloading and processing audio file, until you click on block with created waveform in the browser.

I found a workaround to call _wavesurfer.seekTo_ method right after call _load_ method to force starting loading and processing media file, but I thi

[2020-04-23 12:11] marizuccara commented on #1920
You could try using external tools as ffmpeg

[2020-04-23 21:02] iboshkov opened #1925 "Region click is overriden by interaction if it's enabled"
### Wavesurfer.js version(s):
3.3.3

### Browser and operating system version(s):
Chrome 81 on Windows 10 / Chrome on Android

### Code needed to reproduce the issue:
Full reproduction here:

https://stackblitz.com/edit/js-paffsu?file=index.html

### User behaviour needed to reproduce the issue:
1. Play the reproduction above
2. Click on the region during playback
3. The region will not be played

[2020-04-24 02:40] aburai commented on #1882
@entonbiba we have no problems, but @alittlebitweird

[2020-04-24 03:19] aburai commented on #1911
the webaudio backend uses [AudioParam.setValueAtTime()](https://developer.mozilla.org/en-US/docs/Web/API/AudioParam/setValueAtTime) for setVolume
getVolume returns AudioParam.value
i have no idea why it took some time until the value is updated

[2020-04-24 08:15] #1925 closed

[2020-04-24 15:25] joeytwiddle commented on #1918
If you use a peaks file, then your mobile can use that to display the waveform, and it won't need to read the entire audio file into memory at one go.

[2020-04-24 15:31] joeytwiddle commented on #1757
The FAQ generates JSON data like this:

[code]

If you change that `20` to `2`, does that reduce the size of your JSON files by 90%?

[2020-04-25 16:07] marizuccara commented on #1897
If I understood correctly what you meant, and if you're using the `WebAudio` or `MediaElementWebaudio` backend, maybe you can use the `AudioParam.linearRampToValueAtTime(value, endTime)` method, applying it to the `GainNode`.

[2020-04-28 09:28] loretoparisi commented on #855
@mspae is it possibile to have one audio and link audio events to all these waveforms?

[2020-04-29 10:12] zw3428 commented on #1869
Hi, I met the same error, how did you solve this problem?

[2020-04-29 11:11] longyarnz commented on #1869
In order for loadBlob to work you'll have to use WebAudio as your backend element instead of MediaElement

[2020-04-29 12:16] zw3428 commented on #1869
Thx, it works!

[2020-05-01 07:44] wrybread opened #1930 "Any skins for wavesurfer out there?"
I was wondering if there are any skins for wavesurfer out there? I'm trying to build out a nice looking interface similar to this:

http://www.radiovalencia.fm/podcasts/?episode=665&show=mikl-em

That uses an offshoot of wavesurfer called Zoomsounds:

https://codecanyon.net/item/zoomsounds-neat-html5-audio-player/4525354

It looks really nice, but doesn't have nearly the functionality of wavesurfe

[2020-05-01 13:19] lorenzos commented on #1228
Same, it occurs on Firefox when quickly switching between different sources. Latest version, 3.3.3.

[code]

In my case, `getDuration()` is not infinity, but NaN, so on load it tries to seek to `0 * NaN`, which is NaN. I found that this `seekTo()` function, that is the one of the media element backend, [already checks for null](https://github.com/katspaugh/wavesurfer.js/blob/master/src/mediaelemen

[2020-05-01 19:40] namitgarg opened #1931 "On Iphone Volume control mute is not working"
Hey when playing on iphone safari browser volume control , mute are not working , i have tested the below page https://wavesurfer-js.org/example/mute/index.html

[2020-05-02 06:56] wrybread opened #1932 "Does wavesurfer work with streaming audio?"
I'm trying to play an Icecast stream. Can wavesurfer.js do that?

If not, can anyone recommend a similar project that does? I don't need much of an interface, just play/pause and volume. I know there's many out there, but so many of them have issues. I love the reliability and flexibility and documentation of wavesurfer.

[2020-05-02 20:55] #1923 closed

[2020-05-02 21:08] adamiusz opened #1933 "if click next play button stop current and play next"
At the moment I have wavesurfers in the foreach loop and how can I make all the other wavesurfers stop after clicking the next play button? These are individual objects created, not a playlist.

[2020-05-03 11:16] marizuccara commented on #1933
Maybe you can keep track (e.g in a key-value map) of the various wavesurfers created and of their playback state, so if you click a play button, you update your map, and basing of its values, you stop all the wavesurfers with the negative playback state?

[2020-05-03 13:46] adamiusz commented on #1933
I create standard wavesurfer:

[code]

Where var file is div id contains wavesurfer

Can please any code, because i dont know how make it?

[2020-05-04 07:11] marizuccara commented on #1933
share a codesandbox with your code, it's simpler to debug it

[2020-05-04 20:23] adamiusz commented on #1933
I can't create codesandbox. It's easy, in my code you can see that for each created div.song I create a new object wavesurfer and if one wavesurfer is running and I click on another in the play button, the previous one should stop.

[2020-05-05 12:10] alimatinfar opened #1935 "i want to draw my wav file linear method"
hi
i want to draw my wav file In the form of bottom picture but drawn in the form of top picture

![image](https://user-images.githubusercontent.com/46160045/81064571-265a4700-8eef-11ea-8b31-bf8cf1246c5e.png)

What changes should I make?